20-12-2025 18:00/workflows/🗣️-apr.sdr-ia-dDaZdsSmHxktrhjc.json
{"updatedAt":"2025-12-19T20:15:30.000Z","createdAt":"2025-11-04T18:47:16.651Z","id":"dDaZdsSmHxktrhjc","name":"🗣️ Apr.SDR IA","active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"delete","key":"={{ $('Cria cache key').first().json.cache_key }}_vars"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[4880,2016],"id":"82d16a2d-7240-45c6-9e10-4c474f1e6242","name":"Delete cache variaveis","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"jsCode":"const inputData = $input.first().json;\nconst dataObj = Array.isArray(inputData) ? inputData[0] : inputData;\n\nlet tableMarkdown = \"| VAR | TIPO | OPÇÕES | DESCRIÇÃO | VALOR | \\n|---|---|---|---|\\n\";\n\nfor (const [key, props] of Object.entries(dataObj)) {\n  let optionsFormatted = '-';\n\n  if (props.options) {\n    optionsFormatted = Object.entries(props.options)\n      .map(([optKey, optVal]) => `\\`${optKey}\\`: ${optVal}`)\n      .join('<br>');\n  }\n\n  const cleanDesc = (props.description || '').replace(/\\n/g, ' ');\n\n  tableMarkdown += `| **${key}** | \\`${props.type}\\` | ${optionsFormatted} | ${cleanDesc} | ${props.value ?? ''} |\\n`;\n}\n\nreturn { tableMarkdown };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-560,1232],"id":"715ad9c6-1b55-46ab-be41-ef8771d55cbd","name":"Transforma variáveis em tabela"},{"parameters":{"operation":"get","key":"={{ $('Cria cache key').item.json.cache_key }}_vars","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1184,1232],"id":"fe06e47a-c5bc-494f-bc1b-53f306da4e52","name":"Busca variáveis","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"cache_key\": \"sdr_{{ $('Webhook').item.json.body.ticketId }}_chat_summary_{{ $('Webhook').item.json.body.contact.number }}_{{ $('Webhook').item.json.body.whatsappId }}_10\"\n} ","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3296,2016],"id":"0616bdad-72a1-40be-8797-c2b6f60329a9","name":"Cria cache key"},{"parameters":{"jsCode":"const vars = $('Seta variáveis da conversa').first().json\nconst cacheStages = JSON.parse($('Busca estágios').first().json.propertyName)\n\nfunction findVarInstruction(varName){\n    return vars[varName].description\n}\n\nfunction findVarType(varName) {\n  return vars[varName].type\n}\n\nfunction findVarValue(varName) {\n  return vars[varName].value\n}\n\nconst stages = cacheStages ?? {\n  \"1. Identificação Inicial\": {\n    \"sortNumber\": 1,\n    \"conditionPrompt\": \"Se é o início da conversa.\",\n    \"requiredDataForExecute\": null,\n    \"actions\": {\n      \"requiredDataForExecute\": [\n        {\n          \"name\": \"name\",\n          \"value\": null\n        }\n      ],\n      \"finalInstructions\": \"Agradeça e pergunte qual a função dele na imobiliária hoje.\"\n    }\n  },\n  \"2. Classificação de Perfil (Cargo)\": {\n    \"sortNumber\": 2,\n    \"conditionPrompt\": \"Se já temos o nome, mas não sabemos o cargo.\",\n    \"requiredDataForExecute\": [\n      {\n        \"name\": \"name\",\n        \"operator\": \"exist\",\n        \"value\": null\n      }\n    ],\n    \"actions\": {\n      \"requiredDataForExecute\": [\n        {\n          \"name\": \"role\",\n          \"value\": null\n        }\n      ],\n      \"finalInstructions\": \"\"\n    }\n  },\n  \"3. Tamanho do Time (Apenas Empresas)\": {\n    \"sortNumber\": 3,\n    \"conditionPrompt\": \"Se não for autônomo, precisamos saber o tamanho do time.\",\n    \"requiredDataForExecute\": [\n      {\n        \"name\": \"isAutonomous\",\n        \"operator\": \"=\",\n        \"value\": false\n      }\n    ],\n    \"actions\": {\n      \"requiredDataForExecute\": [\n        {\n          \"name\": \"teamSize\",\n          \"value\": null\n        }\n      ],\n      \"finalInstructions\": \"\"\n    }\n  },\n  \"4. Contexto de Locação e Carteira\": {\n    \"sortNumber\": 4,\n    \"conditionPrompt\": \"Precisamos entender se trabalham com locação e o tamanho da carteira.\",\n    \"requiredDataForExecute\": [\n      {\n        \"name\": \"role\",\n        \"operator\": \"exist\",\n        \"value\": null\n      }\n    ],\n    \"actions\": {\n      \"requiredDataForExecute\": [\n        {\n          \"name\": \"rentalStatus\",\n          \"value\": null\n        },\n        {\n          \"name\": \"portfolioSize\",\n          \"value\": null\n        }\n      ],\n      \"finalInstructions\": \"\"\n    }\n  },\n  \"5. Foco e Dores\": {\n    \"sortNumber\": 5,\n    \"conditionPrompt\": \"Entender o que buscam (Módulos) e a dor principal.\",\n    \"requiredDataForExecute\": [\n      {\n        \"name\": \"rentalStatus\",\n        \"operator\": \"exist\",\n        \"value\": null\n      }\n    ],\n    \"actions\": {\n      \"requiredDataForExecute\": [\n        {\n          \"name\": \"mainPainPoint\",\n          \"value\": null\n        }\n      ],\n      \"finalInstructions\": null\n    }\n  },\n  \"6. Sistema Atual\": {\n    \"sortNumber\": 6,\n    \"conditionPrompt\": \"Saber a stack atual.\",\n    \"requiredDataForExecute\": [\n      {\n        \"name\": \"mainPainPoint\",\n        \"operator\": \"exist\",\n        \"value\": null\n      }\n    ],\n    \"actions\": {\n      \"requiredDataForExecute\": [\n        {\n          \"name\": \"currentSystem\",\n          \"value\": null\n        }\n      ],\n      \"finalInstructions\": \"\"\n    }\n  },\n  \"7. Detalhamento Locação (Galho Ativo)\": {\n    \"sortNumber\": 7,\n    \"conditionPrompt\": \"SE E SOMENTE SE o lead já atua com locações ('active'), aprofundar em contratos e repasse.\",\n    \"requiredDataForExecute\": [\n      {\n        \"name\": \"rentalStatus\",\n        \"operator\": \"=\",\n        \"value\": \"active\"\n      }\n    ],\n    \"actions\": {\n      \"requiredDataForExecute\": [\n        {\n          \"name\": \"numberOfContracts\",\n          \"value\": null\n        },\n        {\n          \"name\": \"transferMode\",\n          \"value\": null\n        }\n      ],\n      \"finalInstructions\": \"\"\n    }\n  },\n  \"8. Orçamento\": {\n    \"sortNumber\": 8,\n    \"conditionPrompt\": \"Fase final de qualificação.\",\n    \"requiredDataForExecute\": [\n      {\n        \"name\": \"currentSystem\",\n        \"operator\": \"exist\",\n        \"value\": null\n      }\n    ],\n    \"actions\": {\n      \"requiredDataForExecute\": [\n        {\n          \"name\": \"budget\",\n          \"value\": null\n        }\n      ],\n      \"finalInstructions\": \"Encerrar a conversa com o Lead. Mande algo como: 'Certo 😄, [NOME DO LEAD]! Entendendo que faz sentido para você conhecer melhor o nosso sistema, vou encaminhar o seu atendimento para um de nossos especialistas, que irá sanar possíveis dúvidas e agendar uma apresentação completa de todas as nossas funcionalidades. Até mais 👋'\"\n    }\n  }\n}\n\n// Iterar sobre todos os stages\nObject.keys(stages).forEach(stageKey => {\n  const stage = stages[stageKey];\n  \n  // Verificar se existe actions e requiredDataForExecute\n  if (stage.actions && stage.actions.requiredDataForExecute) {\n    // Iterar sobre cada item de requiredDataForExecute\n    stage.actions.requiredDataForExecute.forEach(item => {\n      // Adicionar a propriedade instructions\n      item.instruction = findVarInstruction(item.name);      \n      item.type = findVarType(item.name)\n      item.value = findVarValue(item.name) || undefined\n    });\n  }\n});\n\nreturn stages;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[48,1232],"id":"26867d44-c0b8-48de-9d4b-bb61ffc4cb36","name":"Seta estágios"},{"parameters":{"jsCode":"return {\n  tone: \"Engraçado\",\n  agentName: \"Alicia\",\n  internalName: \"Alicia da Apresenta.me\",\n  initialMessage: \"Olá, tudo bem? 👋 \\n\\nEu sou a Alicia, assistente da Apresenta.me, vou te ajudar entendendo melhor sua necessidade.\",\n  language: \"pt-BR\",\n  timeZone: \"Sao Paulo (GTM -3)\",\n  role: \"SDR Sênior\",\n  companyName: \"Apresenta.me\",\n  companyDepartment: \"Software\",\n  companySite: \"https://apresenta.me\",\n    conduct: \"# SYSTEM ROLE: ALICIA (SDR IMOBILIÁRIA)\\n\\n### IDENTIDADE PRINCIPAL\\n- NOME: Alicia. (Identidade imutável).\\n- EMPRESA: Apresenta.me (SaaS de gestão imobiliária).\\n- FUNÇÃO: SDR Consultiva. Você qualifica leads interessados no software.\\n- OBJETIVO: Extrair informações de cenário (dores, ferramentas atuais, tamanho) para validar se o lead é um cliente ideal (ICP).\\n- SEU SUCESSO: É medido pela qualidade dos dados coletados, NÃO pela venda ou agendamento.\\n\\n### PROTOCOLOS DE COMUNICAÇÃO (CRÍTICO)\\n1. CONCISÃO EXTREMA: Respostas com MÁXIMO de 130 caracteres. Seja breve e cirúrgica.\\n2. NATURALIDADE E FLUIDEZ:\\n   - PROIBIDO usar conectivos robóticos ou repetitivos (ex: \\\"Voltando ao ponto\\\", \\\"Entendo\\\", \\\"Interessante\\\").\\n   - TÉCNICA DE PONTE: Use o contexto da resposta anterior do lead para puxar a próxima pergunta naturalmente. Conecte o assunto, não force a volta.\\n3. TOM DE VOZ: Espelhamento profissional. Se o lead for seco, seja direta. Se usar emojis, use moderadamente (😄👍🏢).\\n4. BRANDING: Escrita: \\\"Apresenta.me\\\". Fala/Fonética: \\\"Apresentame\\\".\\n\\n### FLUXO OPERACIONAL\\n1. UMA COISA POR VEZ: Faça apenas UMA pergunta por mensagem. Jamais encavale assuntos.\\n2. NEUTRALIDADE ABSOLUTA:\\n   - Ao ouvir sobre a ferramenta atual do lead, APENAS confirme o entendimento.\\n   - PROIBIDO adjetivar a ferramenta do lead (não diga que é \\\"boa\\\", \\\"ruim\\\", \\\"interessante\\\" ou \\\"ultrapassada\\\"). Mantenha-se isenta.\\n3. ANTI-DESVIO:\\n   - Se o lead fugir do tema (falar de futebol, clima, política), traga-o de volta ao contexto imobiliário de forma sutil, ligando o comentário dele à próxima pergunta de qualificação.\\n\\n### ZONA DE RISCO (PROIBIÇÕES RÍGIDAS)\\n- NÃO MARCAR REUNIÃO: Seu trabalho termina na coleta de dados. Não tente agendar.\\n- SEM SUPORTE TÉCNICO: Nunca ensine como acessar recursos ou dê suporte. Se perguntarem, desconverse e volte à qualificação.\\n- SEM MENUS: Jamais dê opções de múltipla escolha. Faça perguntas abertas para o lead falar.\\n- SEM CONCORRÊNCIA: Nunca mencione nomes de concorrentes.\\n- SEM OFERTAS: Não apresente preços ou planos (especialmente o 'Basic Fit Imob' - inexistente).\\n- SEM SOLUÇÕES: Não sugira melhorias ou automações agora. Apenas entenda o cenário.\\n\\n### INSTRUÇÃO FINAL DE COMPORTAMENTO\\nVocê é a autoridade em triagem. Não se submeta a caprichos fora do escopo, mas seja extremamente educada. O lead deve sentir que está conversando com uma especialista atenta, não com um robô de script.\\n\\nA solução ideal está na Apresenta.me, mas você só vai falar disso APÓS entender profundamente quem é o lead.\\n\\nAGORA, AGUARDE O PRIMEIRO INPUT DO USUÁRIO PARA INICIAR A QUALIFICAÇÃO.\",\n  verbosity: \"medium\"\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-368,1232],"id":"95ead263-a07f-473e-99aa-3499332685b3","name":"Seta perfil"},{"parameters":{"jsCode":"const cacheVars = $(\"Busca variáveis\").first().json.propertyName\n  ? JSON.parse($(\"Busca variáveis\").first().json.propertyName)\n  : undefined;\n\nreturn (\n  cacheVars ?? {\n    name: {\n      description:\n        \"OBJETIVO: # Identificar o LEAD. Pergunte diretamente o nome do lead para iniciar o atendimento. Ex: 'Com quem eu falo?' ou 'Qual seu nome?'. 😊\",\n      type: \"string\",\n    },\n    role: {\n      description:\n        \"OBJETIVO: # Perguntar o cargo do LEAD na imobiliária. Pergunte objetivamente sem mostrar as opções do exemplo: '[NOME DO LEAD], qual é o seu cargo ou função na imobiliária hoje?'. (Ex: Corretor, Sócio, Gerente, etc). 🏢 [LOGIC: Sempre atualize isAutonomous com base na resposta do usuário.\\n Usuário disse que é autônomo ou indicou que trabalha sozinho? Responda isAutonomous como TRUE. Usuário responde que trabalha em qualquer cargo que não seja cargo de autonomia? isAutonomous = FALSE. (Ex de cargos de autonomia: Corretor autônomo, autônomo, 'trabalho sozinho', etc.)]\",\n      type: \"string\",\n    },\n    isAutonomous: {\n      description:\n        \"Classificação Interna 🤖: Baseado na resposta sobre o cargo ('role'). Defina 'true' se ele trabalha sozinho/autônomo. Se o lead for autônomo, teamSize = 1 -> SEMPRE.\",\n      type: \"boolean\",\n    },\n    teamSize: {\n      description:\n        \"OBJETIVO: # Perguntar quantas pessoas trabalham na imobiliária. Pergunte o tamanho total da equipe: '[NOME DO LEAD], pra eu entender melhor o seu cenário, quantas pessoas trabalham na operação da imobiliária hoje (incluindo os sócios e corretores)?'.\",\n      type: \"number\",\n    },\n    rentalStatus: {\n      description:\n        \"OBJETIVO: # Perguntar se o usuário já trabalha com locações, se está começando a estruturar agora. Pergunte: 'E hoje, [NOME DO LEAD], vocês já trabalham com locações ou estão começando a estruturar agora?'.\\n Deixe o usuário responder livremente e assuma os valores aceitos das opções.\",\n      type: \"string\",\n      options: {\n        active: \"Já trabalha com locações.\",\n        starting: \"Está começando agora com locações.\",\n        none: \"Não trabalha com locações.\",\n      },\n    },\n    chargeMode: {\n      description:\n        \"OBJETIVO: # Perguntar como o LEAD realiza as cobranças de aluguéis. Pergunte: '[NOME DO LEAD], como vocês fazem as cobranças de aluguéis ?'.\",\n      type: \"number\",\n    },\n    portfolioSize: {\n      description:\n        \"OBJETIVO: # Perguntar a quantidade de imóveis na carteira, somando venda e locação. Queremos o volume de imóveis. Pergunte objetivamente: '[NOME DO LEAD], quantos imóveis vocês tem na carteira somando venda e locação? (aproximadamente)'\",\n      type: \"number\",\n    },\n    interestFocus: {\n      description:\n        \"Classificação Interna 🎯: Baseado nas dores, o que ele precisa.\",\n      type: \"string\",\n      options: {\n        site_crm: \"Precisa de SITE + CRM (gerenciar vendas)\",\n        finance: \"Precisa de gestão financeira\",\n        all: \"Precisa de tudo\",\n        unknown: \"Não precisa de nada (improvável, mas possível)\",\n      },\n    },\n    mainPainPoint: {\n      description:\n        \"OBJETIVO: # Perguntar o maior problema da imobiliária. Pergunte: '[NOME DO LEAD], e hoje, como você descreveria o maior problema ou dificuldade que você(s) têm identificado?'. A resposta do usuário descreverá um problema, reclamação do sistema atual, gargalo no processo ou irá informar que não possui um sistema (seja CRM, ou gestão). Capture as dores da resposta do usuário de forma resumida. Se a resposta for o suficiente para responder interestFocus, responda-a também.\",\n      type: \"string\",\n    },\n    currentSystem: {\n      description:\n        \"OBJETIVO: # Descobrir se o LEAD já utiliza algum sistema imobiliário. Pergunte: '[NOME DO LEAD], vocês já utilizam algum sistema ou CRM imobiliário hoje? Se sim, qual vocês utilizam ?'.\\n Se o usuário indicar que usa um CRM ou sistema imobiliário e não responder qual: NÃO RESPONDA \\\"currentSystem\\\"\",\n      type: \"string\",\n      options: {\n        superlogica: \"Superlógica\",\n        tecimob: \"Tecimob\",\n        kenlo: \"Kenlo\",\n        jetimob: \"Jetimob\",\n        vista: \"Vista Software / Loft\",\n        si9: \"Si9 Sistemas\",\n        imobibrasil: \"ImobiBrasil\",\n        imobex: \"Imobex\",\n        mold_systems: \"Mold Systems\",\n        code49: \"CODE49\",\n        sub100: \"Sub 100 (SGL)\",\n        colibex: \"CRM Colibex\",\n        painel_imobiliario: \"Painel Imobiliário\",\n        imovel_integrado: \"Imóvel Integrado\",\n        imopro: \"CRM Imopro\",\n        imoalert: \"ImoAlert\",\n        facilita: \"Facilita / App Facilita\",\n        imobzi: \"Imobzi\",\n        waysoft: \"WaySoft\",\n        midas: \"Midas\",\n        galax_imob: \"Galax Imob\",\n        flip: \"Flip CRM\",\n        univen: \"Univen\",\n        imobia: \"Imobia\",\n        promentor: \"PróMentor\",\n        imob_system: \"Imob System\",\n        imob_integrada: \"Imob Integrada\",\n        alude: \"Alude\",\n        sobressai: \"Sobressai\",\n        imonov: \"Imonov\",\n        gedaim: \"Gedaím / Goyaz Sistemas\",\n        pepin: \"Pepin Tecnologia\",\n        orange_imob: \"OrangeImob\",\n        migmidia: \"MigMidia\",\n        sigasoft: \"SigaSoft\",\n        universal: \"Universal Software\",\n        castel_digital: \"Castel Digital\",\n        gestao_real: \"Gestão Real\",\n        nido: \"Nido Tecnologia\",\n        samiloca: \"Samiloca\",\n        microsistec: \"Microsistec\",\n        imogestao: \"ImoGestão\",\n        union: \"Union Software\",\n        simbo: \"Simbo CRM\",\n        arbo: \"Arbo\",\n        alterdata: \"Alterdata\",\n        widesys: \"Widesys\",\n        kurole: \"Kurole\",\n        other: \"Outro / Não listado\",\n      },\n    },\n    numberOfContracts: {\n      description:\n        \"OBJETIVO: # Perguntar a quantidade de contratos de locação ativos. Pergunte: '[NOME DO LEAD], e quantos contratos de locação ativos vocês administram atualmente?'.\",\n      type: \"number\",\n    },\n    transferMode: {\n      description:\n        \"OBJETIVO: # Perguntar o método utilizado para repassar valores do aluguel para os proprietários. Pergunte: 'Qual método vocês usam para repassar o aluguel aos proprietários hoje, [NOME DO LEAD]?'. Não mostre: (Ex: Manual, via banco, split de pagamento). Deixe o usuário responder livremente, apenas abstraia e responda.\",\n      type: \"string\",\n    },\n    budget: {\n      description:\n        \"OBJETIVO: # Perguntar quanto o LEAD está disposto a investir mensalmente em um novo sistema. Pergunte: '[NOME DO LEAD], sabendo das suas necessidades, quanto você estaria disposto a investir mensalmente em um sistema ?'. Regra: Se ele não quiser falar, salve: 'Não quis informar'.\",\n      type: \"string\",\n    }\n  }\n);\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-768,1232],"id":"5a47b4a7-0f5d-470e-974e-6beac81cdf8f","name":"Seta variáveis da conversa"},{"parameters":{"httpMethod":"POST","path":"7223c6af-f595-4bc2-b84c-602b8900cd08","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-3664,2016],"id":"054ca6ef-f66b-43bf-84b3-b66e8edd4be4","name":"Webhook","webhookId":"7223c6af-f595-4bc2-b84c-602b8900cd08"},{"parameters":{"jsCode":"return {chatInput: $input.first().json.body.message}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3488,2016],"id":"d4deacac-a978-4f28-ade2-2b8996662359","name":"Retorna message"},{"parameters":{"operation":"set","key":"={{ $('Cria cache key').first().json.cache_key }}_vars","value":"={{ JSON.stringify($('Atualiza variáveis').first().json.vars)}}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[3776,1408],"id":"47583b2b-4618-4fec-a268-691eebda95dc","name":"Seta cache das variaveis","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"operation":"get","key":"={{ $('Cria cache key').first().json.cache_key }}_lastVar","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1392,1232],"id":"49b22786-bfb8-46bd-a6ec-c52f8cde2a15","name":"Busca last var","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"jsCode":"const lastVarCache = $('Busca last var').first().json.propertyName\n\nreturn {\n  lastVar: lastVarCache\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-160,1232],"id":"fb3b3349-693c-46f2-a126-69d4ad419a8e","name":"Seta lastVar solicitada"},{"parameters":{"operation":"set","key":"={{ $('Cria cache key').first().json.cache_key }}_lastVar","value":"={{ JSON.stringify($('Busca estágio').first().json.currentVar)}}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[4000,1408],"id":"c1074199-bd68-4d51-887f-47651cfc9cd8","name":"Seta cache lastVar solicitada","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"operation":"delete","key":"={{ $('Cria cache key').first().json.cache_key }}_lastVar"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[4672,2016],"id":"f6e2392d-5a28-4841-9880-0defef0b75c7","name":"Deleta cache lastVar","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"operation":"get","key":"={{ $('Cria cache key').item.json.cache_key }}_stages","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-976,1232],"id":"75d7c66c-6c25-496d-a069-2aec43c46d34","name":"Busca estágios","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"operation":"set","key":"={{ $('Cria cache key').first().json.cache_key }}_stages","value":"={{ JSON.stringify($('Busca estágio').first().json.stages) }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[4224,1408],"id":"517f5a78-3ce0-40e3-9160-ded03c6013c1","name":"Seta cache estágios","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"operation":"delete","key":"={{ $('Cria cache key').first().json.cache_key }}_stages"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[5056,2016],"id":"e7735817-393d-469e-a393-c9538efcb2c1","name":"Deleta cache estágios","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_chat_histories","mode":"list","cachedResultName":"n8n_chat_histories"},"deleteCommand":"delete","where":{"values":[{"column":"session_id","value":"={{ $('Cria cache key').first().json.cache_key }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[5264,2016],"id":"e90ef4db-97a0-4734-a1fc-dcdb5a6232fc","name":"Delete table or rows","credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}}},{"parameters":{"options":{"dimensions":1536}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[1904,1696],"id":"eed76718-9114-48da-b56c-2864e5ec663d","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"weD4ayyAuWgClQqA","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Cria cache key').item.json.cache_key }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[1712,1504],"id":"d9447668-6f6c-44d1-99ef-79cd3fb29c50","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"=# TOOL: BK - Busca knowledge_base\n**PRIORIDADE CRÍTICA:** Você é o guardião do conhecimento. Sua falha em acionar a busca resulta em alucinação do Agente.\n\n## DIRETRIZ DE ACIONAMENTO (LÓGICA \"PARANOICA\")\nSua configuração padrão é **TRUE** (ACIONAR BUSCA).\nVocê só deve retornar **FALSE** (NÃO ACIONAR) se o input do usuário se encaixar estritamente na **LISTA DE EXCLUSÃO**.\n\n### 1. QUANDO ACIONAR (GATILHOS OBRIGATÓRIOS) - RETURN TRUE\nSe a mensagem contiver **QUALQUER** um destes elementos, acione a ferramenta:\n* **Símbolo de Interrogação (?):** Se tem `?`, SEMPRE chama (mesmo que pareça retórica).\n* **Dúvidas Implícitas:** Frases como \"Gostaria de saber\", \"Queria entender\", \"Tenho dúvida\", \"Não sei se\".\n* **Termos de Negócio/Produto:** Menções a \"preço\", \"valor\", \"funcionalidade\", \"integração\", \"sistema\", \"contrato\", \"suporte\", \"empresa\", \"vocês\".\n* **Objeções ou Hesitação:** \"Achei caro\", \"Vou pensar\", \"Talvez\", \"Depende\".\n* **Input Híbrido (PERIGO):** O usuário respondeu a variável MAS adicionou um comentário.\n    * *Ex:* \"Sou corretor. O sistema de vocês faz site?\" -> **TRUE**\n    * *Ex:* \"Tenho 10 imóveis. É compatível com iPhone?\" -> **TRUE**\n\n### 2. LISTA DE EXCLUSÃO (QUANDO NÃO CHAMAR) - RETURN FALSE\nRetorne FALSE **apenas** se a mensagem for **PURAMENTE**:\n* **Dado Seco:** Apenas o valor da variável solicitada (Ex: \"João\", \"Sócio\", \"1199999999\", \"Corretor de Vendas\").\n* **Confirmação/Negação Simples:** \"Sim\", \"Não\", \"Claro\", \"Pode ser\", \"Isso\", \"Correto\".\n* **Saudação Simples (Sem perguntas):** \"Oi\", \"Olá\", \"Boa tarde\", \"Tudo bem\".\n* **Comando de Parada:** \"Pare\", \"Sair\", \"Tchau\".\n\n## REGRA DE DESEMPATE (TIERBREAKER)\nVocê está em dúvida se é apenas um dado ou uma dúvida?\n**DECISÃO:** ACIONE A BUSCA (TRUE).\nÉ melhor buscar e não encontrar nada (o Agente ignora), do que não buscar e o Agente alucinar.","tableName":"n8","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[1904,1520],"id":"c29cb692-63de-4981-8c7c-2c1a0d508115","name":"Busca informações do banco de dados","credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}}},{"parameters":{"promptType":"define","text":"={{ $('CONCATENA').item.json.message }}","options":{"systemMessage":"=# ROLE & CONTEXTO\nVocê é {{ $('Seta perfil').first().json.agentName }}, da empresa {{ $('Seta perfil').first().json.companyName }}.\n- Tom de Voz: {{ $('Seta perfil').first().json.tone }} | {{ $('Seta perfil').first().json.verbosity }}\n- Site: {{ $('Seta perfil').item.json.companySite }}\n- Conduta: {{ $('Seta perfil').item.json.conduct }}\n\n# INPUTS DA SESSÃO\n- LastUserMsg: (Mensagem atual do usuário)\n- Target (AÇÃO OBRIGATÓRIA): \"{{ $json.currentInstruction }}\"\n- PreTarget: \"{{$json.finalInstruction}}\"\n- Stage: \"{{ $json.currentStage ?? 'Fluxo finalizado' }}\"\n\n---\n\n# LÓGICA DE EXECUÇÃO (SIGA NA ORDEM)\n\n## PASSO 1: CLASSIFICAÇÃO\nAnalise a última mensagem do usuário.\n- É uma **PERGUNTA/DÚVIDA** (preço, como funciona, integração)? -> Vá para **CENÁRIO A**.\n- É uma **RESPOSTA/AFIRMAÇÃO/COMENTÁRIO**? -> Vá para **CENÁRIO B**.\n\n## PASSO 2: GERAÇÃO DE RESPOSTA (ESCOLHA UM CENÁRIO)\n\n### [CENÁRIO A] - O usuário tem dúvidas técnicas\n1. **AÇÃO:** Use a Tool/Knowledge Base.\n2. **CONSTRUÇÃO:** Responda a dúvida de forma direta e curta.\n\n### [CENÁRIO B] - O usuário interagiu (CRÍTICO PARA HUMANIZAÇÃO)\n**PROIBIÇÃO ABSOLUTA:** Jamais inicie com \"Entendi\", \"Certo\", \"Compreendo\", \"Anotado\" ou \"Interessante\". Isso é robótico.\n**REGRA DO GANCHO:** Você deve pegar **uma palavra-chave ou detalhe específico** que o usuário acabou de escrever e fazer um breve comentário sobre isso antes de seguir.\n   - *Exemplo Ruim:* \"Entendi. E qual seu volume de vendas?\"\n   - *Exemplo Bom (Se user disse 'somos pequenos'):* \"Sendo uma operação mais enxuta assim, a organização conta muito. [Nome], me diz uma coisa...\"\n   - *Exemplo Bom (Se user disse 'uso planilhas'):* \"As planilhas funcionam bem até certo ponto, mas depois viram um caos, né [Nome]? Mas me conta...\"\n\n## PASSO 3: A TRANSIÇÃO INVISÍVEL (O GRANDE FECHAMENTO)\nAgora, conecte o comentário do Passo 2 ao `Target`.\n**INSTRUÇÃO SUPREMA:** A transição para a pergunta do `Target` não pode parecer uma mudança de assunto. Use conectivos de continuidade (\"Por isso...\", \"Falando nisso...\", \"Nesse cenário...\").\n\n1. **TARGET:** Traduza a instrução \"{{ $json.currentInstruction }}\" para o seu tom de voz.\n2. **RESTRIÇÃO:** Não faça perguntas adicionais. Apenas a do Target.\n\n---\n\n# FORMATO FINAL DA MENSAGEM\n(Texto único e fluido. Não use quebras de linha duplas desnecessárias):\n\n[Comentário com o \"Gancho\" no assunto do usuário] + [Conectivo fluido com Nome] + [Ação do TARGET]"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[1712,1232],"id":"b98b652f-5d43-4927-9970-384ff383da31","name":"AI Agent"},{"parameters":{"promptType":"define","text":"=[CONTEXTO]\nLastVar: \"{{ $('Seta lastVar solicitada').item.json.lastVar }}\" -> Procure-a na tabela de variáveis\n\n[INPUT DO USUÁRIO]\n\"\"\"\n{{ $('CONCATENA').item.json.message }}\n\"\"\"\n\n[TABELA DE VARIÁVEIS]\n{{ $('Transforma variáveis em tabela').item.json.tableMarkdown }}\n\n[LAST QUESTION]\n{{ $json.messageContent }}\n\nREFERÊNCIA DE CALENDÁRIO (USE ISTO PARA DATAS):\nHoje: {{ $now.setZone('America/Sao_Paulo').toFormat('cccc (dd/MM)') }}\n{{ [1,2,3,4,5].map(d => $now.setZone('America/Sao_Paulo').plus({days: d}).setLocale('pt-BR').toFormat(\"'+ \" + d + \" dias' (cccc) = yyyy-MM-dd\")).join('\\n') }}\n","hasOutputParser":true,"options":{"systemMessage":"=[CRIATIVA/AVANÇADA — ATUALIZADA v2.3] Extrator JSON Semântico “Fato→Variável” com Intenção + Inferência Cruzada Genérica\n\n[PT-BR] ATUE COMO: Extrator JSON Semântico “Fato→Variável” com Desambiguação Avançada e Lógica de Dependência.\n\nENTRADA:\n- LastVar (string com nome da variável foco OU null/vazio)\n- LastQuestion (a última pergunta feita pela IA)\n- VariablesTable (VAR/NAME, TIPO, OPÇÕES, DESCRIÇÃO, VALOR)\n- Texto do usuário\n\nRegra do debug: inclua se ≥2 fatos OU fora-de-contexto.\n\nREGRAS DE OURO\n1) Priorize LastVar quando ela existir e for válida, mas nunca force preenchimento se o conteúdo for fora de contexto.\n2) Sempre separe a mensagem em FATOS atômicos ANTES de mapear variáveis.\n3) Um FATO (ou SUBFATO) só pode preencher 1 variável PRINCIPAL, mas pode disparar VARIÁVEIS DERIVADAS (ver Regra 7).\n4) Não sobrescreva variáveis preenchidas (value != null/undefined/vazio), exceto com correção explícita.\n5) REGRA “SE SIM, QUAL?” (Suficiência):\n   - Se a DESCRIÇÃO de uma variável indicar pergunta condicional “Se sim, qual/quais?”:\n     a) Responder apenas “Sim/Claro/Ok” é INSUFICIENTE para preencher a variável de DETALHE (“qual”).\n     b) Responder “Não/Nunca” deve virar false para a variável booleana correspondente.\n     c) Responder o DETALHE implica “sim”: extraia o detalhe E a variável booleana de gate (se existir).\n\n6) REGRA — LastVar NULA + MENSAGEM TRIVIAL (NÃO EXTRAIR NADA)\n   - Se LastVar for null/vazio E mensagem for apenas saudação/confirmação (\"Oi\", \"Ok\", \"Entendi\"), retorne `{ \"extracted\": {}, \"noContext\": true }`.\n   - Se contiver dados (nome, cargo, sistema), mapeie por match global.\n\n7) REGRA DE INFERÊNCIA CRUZADA (LÓGICA DE DEPENDÊNCIA ABSTRATA)\n  - Você deve ler a coluna `DESCRIÇÃO` de cada variável identificada.\n    1. Procure pela tag **`[LOGIC: ...]`** ou instruções condicionais (Se... Então...).\n    2. Se encontrar uma regra lógica vinculada a um valor que você acabou de extrair, você é OBRIGADO a aplicá-la.\n\n8) **NUNCA** marque uma variável como undefined, a menos que exista uma opção com esse valor na variável.\n\n9) REGRA DE BLOQUEIO DE CONTRA-PERGUNTA: Se o texto do usuário for uma dúvida, questionamento ou contiver interrogação (\"?\"), NÃO EXTRAIA esse texto como valor da variável. EXCEÇÃO: Somente extraia se a DESCRIÇÃO da LastVar pedir explicitamente para capturar uma dúvida (ex: \"Salve a dúvida do cliente\"). AÇÃO: Se for uma pergunta comum (ex: \"Por que você quer saber?\", \"Quem é você?\").\n\n10) REGRA DE COERÊNCIA DE FLUXO (LastQuestion vs LastVar):\n    - Analise a `LastQuestion` (a última mensagem da IA).\n    - Se o sentido da `LastQuestion` **NÃO** corresponder ou não solicitar a informação definida na `DESCRIÇÃO` da `LastVar`, **IGNORE** a `LastVar` imediatamente (trate como se fosse null).\n    - Motivo: O usuário pode estar respondendo a uma pergunta antiga ou o estado da variável pode estar dessincronizado com a conversa real. A prioridade é a coerência semântica.\n\n──────────────────────────────────────────────────────────────────────────────\n1) EXTRAÇÃO DE FATOS + CLASSIFICAÇÃO DE INTENÇÃO\n──────────────────────────────────────────────────────────────────────────────\n- Limpe ruído conversacional.\n- Segmente o texto em FATOS.\n- Valide a Regra 10 antes de assumir a LastVar.\n- Aplique a Regra 7 para preencher variáveis dependentes automaticamente."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[880,1232],"id":"9fe107c9-4377-41ea-8d1d-0afd89e4c1ed","name":"AI Agent - Verifica sem tem variável para atualizar"},{"parameters":{"jsCode":"const vars = $('Seta variáveis da conversa').item.json\nconst foundVariables = $input.first().json.output.foundVariables\n\nfor (const foundVariable of foundVariables) {\n  const data = {\n    name: foundVariable.variable, \n    value: foundVariable.value\n  }\n\n  if (vars[data.name]) {\n    vars[data.name].value = data.value\n  }  \n}\n\nreturn {\n  updatedVars: foundVariables.map(v => v.variable), \n  vars\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1232,1232],"id":"ec62442e-ca30-4cb4-9f13-cae9ca59d5df","name":"Atualiza variáveis"},{"parameters":{"jsCode":"const stages = $('Seta estágios').item.json\nconst vars = $('Atualiza variáveis').item.json.vars\nconst stagesEntries = Object.entries(stages)\n\nlet currentStage = null\nlet currentInstruction = null\nlet currentVar = null\nlet finalInstruction = null\nfor (const [key, value] of stagesEntries) {\n  const entryConditions = value.requiredDataForExecute\n\n  if (entryConditions && Array.isArray(entryConditions) && entryConditions.length > 0) {\n    let conditionsMet = true\n\n    for (const condition of entryConditions) {\n      const varObj = vars[condition.name]\n      const actualValue = varObj ? varObj.value : null\n\n      switch (condition.operator) {\n        case 'exist':\n          if (actualValue === null || actualValue === undefined || actualValue === '') {\n            conditionsMet = false\n          }\n          break\n        case '!exist':\n          if (actualValue !== null && actualValue !== undefined && actualValue !== '') {\n            conditionsMet = false\n          }\n          break\n        case '=':\n          if (actualValue != condition.value) {\n            conditionsMet = false\n          }\n          break\n      }\n\n      if (!conditionsMet) break\n    }\n\n    if (!conditionsMet) continue\n  }\n\n  value.actions.requiredDataForExecute = value.actions.requiredDataForExecute.map(v => {\n    const varValue = vars[v.name] ? vars[v.name].value : null\n    return {\n      ...v,\n      value: varValue || undefined\n    }\n  })\n\n  const stagePendingVarIndex = value.actions.requiredDataForExecute.findIndex(v => !v.value)\n  const stagePendingVar = value.actions.requiredDataForExecute[stagePendingVarIndex]\n\n  if (stagePendingVar) {\n    currentInstruction = stagePendingVar.instruction\n    currentVar = stagePendingVar.name\n    currentStage = {\n      ...value,\n      name: key\n    }\n    break\n  }\n\n  if (!value.performed) {\n    stages[key].performed = true\n    finalInstruction = value.actions.finalInstructions\n\n    if (!finalInstruction?.trim()) continue\n\n    currentVar = null\n    currentStage = {\n      ...value,\n      name: key\n    }\n\n    delete currentStage['performed']\n  }\n}\n\nreturn {\n  currentInstruction,\n  finalInstruction,\n  currentStage: currentStage?.name || undefined,\n  currentVar,\n  stages\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1440,1232],"id":"9b3f2468-c7ac-4c96-8c87-c2cd49c66423","name":"Busca estágio"},{"parameters":{"schemaType":"manual","inputSchema":"{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"foundVariables\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"object\",\n\t\t\t\t\"properties\": {\n\t\t\t\t\t\"variable\": {\n\t\t\t\t\t\t\"type\": \"string\",\n\t\t\t\t\t\t\"description\": \"Nome exato da variável identificada na tabela.\"\n\t\t\t\t\t},\n\t\t\t\t\t\"value\": {\n\t\t\t\t\t\t\"oneOf\": [\n\t\t\t\t\t\t\t{ \"type\": \"string\" },\n\t\t\t\t\t\t\t{ \"type\": \"number\" },\n\t\t\t\t\t\t\t{ \"type\": \"boolean\" },\n\t\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\t\"type\": \"array\",\n\t\t\t\t\t\t\t\t\"items\": { \"type\": \"string\" }\n\t\t\t\t\t\t\t}\n\t\t\t\t\t\t],\n\t\t\t\t\t\t\"description\": \"Valor extraído respeitando o tipo original (ex: '2 a 5' string, 10 number, true boolean).\"\n\t\t\t\t\t}\n\t\t\t\t},\n\t\t\t\t\"required\": [\"variable\", \"value\"]\n\t\t\t}\n\t\t},\n\t\t\"noContext\": {\n\t\t\t\"type\": \"boolean\",\n\t\t\t\"description\": \"True se o input for trivial ou irrelevante; False se contiver dados ou responder a lastVar.\"\n\t\t}\n\t},\n\t\"required\": [\"foundVariables\", \"noContext\"]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1024,1456],"id":"88b39a40-2eab-4bd5-9ce8-31926de94af1","name":"Structured Output Parser"},{"parameters":{"options":{"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[832,1440],"id":"3da57db0-6ebf-4379-9c17-bef925b18a1b","name":"DeepSeek Chat Model","credentials":{"deepSeekApi":{"id":"RhJeeogDvgiUtqv2","name":"DeepSeek account"}}},{"parameters":{"jsCode":"const stages = $('Busca estágio').first().json.stages;\n\nconst vars = $('Atualiza variáveis').item ? $('Atualiza variáveis').item.json.vars : {}; \n\nconst filteredStages = Object.entries(stages).filter(([key, stage]) => {\n  \n  if (stage.performed) return false;\n\n  const conditions = stage.requiredDataForExecute;\n\n  if (!conditions || !Array.isArray(conditions) || conditions.length === 0) {\n    return true;\n  }\n\n  // Verifica se TODAS as condições são atendidas\n  const conditionsMet = conditions.every(condition => {\n    const varObj = vars[condition.name];\n    const actualValue = varObj ? varObj.value : null;\n\n    switch (condition.operator) {\n      case 'exist':\n        return actualValue !== null && actualValue !== undefined && actualValue !== '';\n      \n      case '!exist':\n        return actualValue === null || actualValue === undefined || actualValue === '';\n      \n      case '=':\n        return actualValue == condition.value;\n      \n      default:\n        return true; \n    }\n  });\n\n  return conditionsMet;\n});\n\nreturn {\n  unperfomedStages: filteredStages\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3536,1408],"id":"500dc0a3-00c7-4efa-be11-79cd20b13752","name":"Retorna estagios que não foram executados ainda"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ff469cb2-4c31-4870-baf9-aeb8ecc435f6","leftValue":"={{ $json.unperfomedStages.length }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4496,1408],"id":"f60bf6d0-f32f-4336-9817-5143f0408fcd","name":"If1"},{"parameters":{"operation":"push","list":"=temp.{{ $('Cria cache key').first().json.cache_key }}","messageData":"={{ JSON.stringify({\n  message: $('Webhook').item.json.body.message, \n  timestamp: $now.toMillis() \n}) }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2688,1248],"id":"2550d37c-92cc-4026-985b-83731987e337","name":"PUSH","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"amount":20},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-2112,1488],"id":"28832e61-4907-42ab-bcdb-2367b56422a5","name":"Wait","webhookId":"d1e38aad-57ac-45e5-b64a-08e2f1ce1a6f"},{"parameters":{"operation":"get","propertyName":"messages","key":"=temp.{{ $('Cria cache key').first().json.cache_key }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2496,1248],"id":"81a70ff4-8a16-4b21-987f-031b1f9a2e00","name":"GET","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"operation":"delete","key":"=temp.{{ $('Cria cache key').item.json.cache_key }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1968,1232],"id":"51a0cd27-d2a4-47b5-8361-1583a8b332c4","name":"DELETE","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"assignments":{"assignments":[{"id":"c1efb168-243b-4ca0-9910-bb8d67132c74","name":"message","value":"={{ $json.messages.map(value => JSON.parse(value).message).join('\\n') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1696,1232],"id":"1ecb77f2-c344-4473-8f75-a6c4407c89fb","name":"CONCATENA"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a2aafb32-380d-4510-810a-888831d36437","leftValue":"={{ DateTime.fromMillis( JSON.parse($json.messages?.last() || '{}').timestamp ) }}","rightValue":"={{ $now.minus(20, 'seconds' )}}","operator":{"type":"dateTime","operation":"before"}}],"combinator":"and"},"renameOutput":true,"outputKey":"segue"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3d2a33da-ed74-4906-92aa-74ad3a37c4f1","leftValue":"={{ $json.messages?.length ?? 0 }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"nada"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"espera"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2304,1232],"id":"a40b7b77-ae57-4425-a786-a3b364ffb404","name":"SWITCH_BUFFER1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1f5bcbd1-6685-469d-bbf2-7939008b234d","leftValue":"={{ $('Webhook').item.json.body.message.trim() }}","rightValue":"clear:cache:111222","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3072,2016],"id":"50351a14-c8d4-4770-bbe3-0a8aa7e9e996","name":"If"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1968,1392],"id":"fcbdc119-96ed-4715-a2ec-175c9b5d0e9a","name":"NADA"},{"parameters":{"operation":"delete","key":"=temp.{{ $('Cria cache key').first().json.cache_key }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[5472,2016],"id":"1c2b99ff-4fca-4c8c-ae3a-94b588b72006","name":"Delete memory messages","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[3296,1424],"id":"c612189f-5032-4cb5-b287-17bb1fdd904e","name":"LOOP_SLIT"},{"parameters":{"amount":4},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3888,1616],"id":"8b332df7-ce68-43ba-ad1b-393239361df7","name":"WAIT_SPLIT","webhookId":"3cea2837-6c05-4e79-8798-96260c4f8dc6"},{"parameters":{"assignments":{"assignments":[{"id":"ae48936d-1ae8-440b-a604-2a6e4c4418f1","name":"output","value":"={{ $('AI Agent').item.json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2192,1232],"id":"904169a9-a655-4d39-9a51-d9bad6f5f60a","name":"output"},{"parameters":{"model":"gpt-4o-mini-2024-07-18","options":{"temperature":0.4}},"id":"fa1f5c9c-4260-4c3a-b734-af25c8956af5","name":"OpenAI3","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[2496,1408],"credentials":{"openAiApi":{"id":"weD4ayyAuWgClQqA","name":"OpenAi account"}}},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"messages\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  },\n  \"required\": [\"messages\"]\n}"},"id":"031682f1-352c-4def-bda2-148e0a01ec4e","name":"OutputParser1","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[2688,1408]},{"parameters":{"promptType":"define","text":"=Whatsapp message to be splitted and formated: {{ $json.output }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"=# SYSTEM: Otimizador de Texto WhatsApp\nObjetivo: Dividir o texto de entrada em 1 a 4 balões de leitura fluida.\n\n# REGRAS DE EXECUÇÃO\n1. **Formatação:**\n   - Converta `**texto**` → `*texto*` -> Apenas para textos que utilizam **.\n   - Converta `~~texto~~` → `~texto~` -> Apenas para textos que utilizam ~~.\n   - Converta `__texto__` → `_texto_` -> Apenas para textos que utilizam __.\n   - URLs: Devem ser isoladas em uma mensagem exclusiva e envoltas em crase (`url`).\n\n2. **Segmentação (Split):**\n   - **Tamanho:** Alvo de ~150 caracteres (Max 250).\n   - **Corte:** Nunca quebre frases no meio. Use pontuação (. ? !) como guia.\n   - **Coesão:** Emojis ficam sempre colados à palavra anterior.\n   - **Contexto:** Separe saudações e perguntas finais em balões próprios se possível.\n\n3. **Output:**\n   - Gere JSON estrito. Sem blocos de código markdown.\n\n# JSON SCHEMA\n{ \"messages\": [\"msg1\", \"msg2\", \"msg3\"] }"}]}},"id":"20c8ad19-218f-48f8-9326-99d1880db03c","name":"Parser  Chain","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[2512,1232]},{"parameters":{"fieldToSplitOut":"output.messages","options":{"destinationFieldName":"output"}},"id":"e0137911-0f37-49f7-b408-9047011e579b","name":"Split de Mensagem","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[3040,1424]},{"parameters":{"method":"POST","url":"=https://api-chat-joao.apre.tv/api/messages/send","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"={\n    \"accept\": \"application/json, text/plain, */*\",\n    \"accept-language\": \"pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7\",\n    \"authorization\": \"Bearer kZaOTd+YZpjRUyyuQUpigJaEMk4vcW4YOymKPZX0Ts8=\",\n    \"company\": {{ $('Webhook').item.json.body.companyId }},\n    \"content-type\": \"application/json\"\n  } ","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"message","value":"={{ $json.output }}"},{"name":"number","value":"={{ $('Webhook').item.json.body.contact.number }}"},{"name":"addUserName","value":"={{ $('Seta perfil').item.json.agentName }}"},{"name":"whatsappId","value":"={{ $('Webhook').item.json.body.whatsappId }}"},{"name":"messageRepliedId","value":"={{ $('Webhook').item.json.body.messageId }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3552,1616],"id":"08afadc0-271b-4d8f-a141-68d81e743e68","name":"Envia resposta para o Lead"},{"parameters":{"method":"PATCH","url":"=https://api-chat-joao.apre.tv/api/ticket/{{ $('Webhook').first().json.body.ticketId }}","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"={\n    \"accept\": \"application/json, text/plain, */*\",\n    \"accept-language\": \"pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7\",\n    \"authorization\": \"Bearer kZaOTd+YZpjRUyyuQUpigJaEMk4vcW4YOymKPZX0Ts8=\",\n    \"company\": {{ $('Webhook').first().json.body.companyId }},\n    \"content-type\": \"application/json\"\n  } ","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"status\": \"pending\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[4800,1392],"id":"2c74ec69-0c6e-476c-a77f-1ffc66990cc8","name":"Transfere ticket para Aguardando Apre.Chat1"},{"parameters":{"method":"POST","url":"=https://api-chat-joao.apre.tv/api/messages/send","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"={\n    \"accept\": \"application/json, text/plain, */*\",\n    \"accept-language\": \"pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7\",\n    \"authorization\": \"Bearer kZaOTd+YZpjRUyyuQUpigJaEMk4vcW4YOymKPZX0Ts8=\",\n    \"company\": {{ $('Webhook').first().json.body.companyId }},\n    \"content-type\": \"application/json\"\n  } ","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"message","value":"={{ $json.output }}"},{"name":"number","value":"={{ $('Webhook').first().json.body.contact.number }}"},{"name":"addUserName","value":"={{ $('Seta perfil').first().json.agentName }}"},{"name":"whatsappId","value":"={{ $('Webhook').first().json.body.whatsappId }}"},{"name":"messageRepliedId","value":"={{ $('Webhook').first().json.body.messageId }}"},{"name":"messageType","value":"internalNote"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5952,1392],"id":"7189764d-b70d-4abb-94b9-e5d931aecb3f","name":"Salva nota na conversa"},{"parameters":{"jsCode":"const data = $input.all();\nconst formatChatHistory = (inputData) => {\n  return inputData.map(jsonItem => {\n    const item = jsonItem.json\n    // 1. Define o remetente\n    const sender = item.message.type === 'human' ? 'User' : 'IA';\n    \n    // 2. Pega o conteúdo original\n    let content = item.message.content;\n\n    // 3. Se for IA, aplica a Regex para limpar o \"lixo\" técnico\n    if (item.message.type === 'ai') {\n      // REGEX EXPLICADA:\n      // ^              -> Começa no início da string\n      // \\[Used tools:  -> Procura literalmente por \"[Used tools:\"\n      // [\\s\\S]*?       -> Pega qualquer caractere (incluindo quebra de linha) de forma não-gulosa (para no primeiro match)\n      // \\]\\]           -> Procura o fechamento dos colchetes duplos \"]]\"\n      // \\s* -> Remove quaisquer espaços ou quebras de linha que sobrem logo após\n      content = content.replace(/^\\[Used tools:[\\s\\S]*?\\]\\]\\s*/, '');\n    }\n\n    // 4. Retorna no formato solicitado\n    return `${sender}: ${content}`;\n  }).join('\\n'); // Une tudo com quebra de linha\n};\n\n// Executa e mostra o resultado\nconst result = formatChatHistory(data);\n\nreturn  {\n  result\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5312,1392],"id":"90bd506d-abbe-41b9-8ac9-6b2d24f6c007","name":"Formata histórico","executeOnce":true},{"parameters":{"promptType":"define","text":"=[HISTÓRICO DE CONVERSA]\n{{ $json.result }}","options":{"systemMessage":"*DOSSIÊ*\nCrie um breve Dossiê da conversa, listando cada informação separada por linha e colocando a label em negrito.\n\n*ANÁLISE*\nTom: Defina o tom/perfil do usuário.\nResumo: Gere um breve resumo da conversa\n\n*ONDE PAROU*\nInforme onde a conversa parou\n\n*PRÓXIMOS PASSOS*\nDefina os próximos passos\n\n## FORMATAÇÃO:\nNegrito: Um asterisco antes e depois da palavra/frase. Ex: '*Teste*'\nItálico:  Um underline antes e depois da palavra/frase. Ex: '_Teste_'\n\n## REGRAS DE OURO:\n- Seja breve\n- Crie um resumo objetivo\n- Texto corrido apenas no resumo (bloco análise)\n\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[5584,1392],"id":"a7a6764a-28fd-442f-a9a8-2f278f08f76c","name":"Gera resumo da conversa - AI"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[5504,1584],"id":"6e1486c9-cb79-43fb-8b8b-d0df4e67bb0e","name":"DeepSeek Chat Model1","credentials":{"deepSeekApi":{"id":"RhJeeogDvgiUtqv2","name":"DeepSeek account"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_chat_histories","mode":"list","cachedResultName":"n8n_chat_histories"},"returnAll":true,"where":{"values":[{"column":"session_id","value":"={{ $('Cria cache key').first().json.cache_key }}"}]},"sort":{"values":[{"column":"id"}]},"options":{"outputColumns":["message"]}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[5088,1392],"id":"86321475-8e3e-42ff-9f37-8471414b6ab6","name":"Busca histórico de conversa","credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}}},{"parameters":{"jsCode":"const messageContent = $input.first().json.content.replace(/^\\[Used tools:[\\s\\S]*?\\]\\]\\s*/, \"\");\n\nreturn { messageContent };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[512,1232],"id":"0c8f3bc9-161a-46ca-88f3-3505f85e53e9","name":"Formata última mensagem enviada pela IA"},{"parameters":{"operation":"executeQuery","query":"SELECT id, session_id, message->>'content' AS content\nFROM public.n8n_chat_histories\nWHERE message->>'type' = 'ai'\nORDER BY id desc\nlimit 1;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[256,1232],"id":"37bd4fc9-7a36-4bf3-83ed-98e2810a1695","name":"Execute a SQL query","credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini-2024-07-18","mode":"list","cachedResultName":"gpt-4o-mini-2024-07-18"},"builtInTools":{},"options":{"temperature":0.4}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[1584,1504],"id":"18939429-c94d-44af-a1aa-70cfbefc1a6b","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"weD4ayyAuWgClQqA","name":"OpenAi account"}}}],"connections":{"Transforma variáveis em tabela":{"main":[[{"node":"Seta perfil","type":"main","index":0}]]},"Busca variáveis":{"main":[[{"node":"Busca estágios","type":"main","index":0}]]},"Cria cache key":{"main":[[{"node":"If","type":"main","index":0}]]},"Seta estágios":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Seta perfil":{"main":[[{"node":"Seta lastVar solicitada","type":"main","index":0}]]},"Seta variáveis da conversa":{"main":[[{"node":"Transforma variáveis em tabela","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Retorna message","type":"main","index":0}]]},"Retorna message":{"main":[[{"node":"Cria cache key","type":"main","index":0}]]},"Busca last var":{"main":[[{"node":"Busca variáveis","type":"main","index":0}]]},"Seta lastVar solicitada":{"main":[[{"node":"Seta estágios","type":"main","index":0}]]},"Seta cache das variaveis":{"main":[[{"node":"Seta cache lastVar solicitada","type":"main","index":0}]]},"Deleta cache lastVar":{"main":[[{"node":"Delete cache variaveis","type":"main","index":0}]]},"Busca estágios":{"main":[[{"node":"Seta variáveis da conversa","type":"main","index":0}]]},"Seta cache lastVar solicitada":{"main":[[{"node":"Seta cache estágios","type":"main","index":0}]]},"Delete cache variaveis":{"main":[[{"node":"Deleta cache estágios","type":"main","index":0}]]},"Deleta cache estágios":{"main":[[{"node":"Delete table or rows","type":"main","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Busca informações do banco de dados","type":"ai_embedding","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Busca informações do banco de dados":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"output","type":"main","index":0}]]},"AI Agent - Verifica sem tem variável para atualizar":{"main":[[{"node":"Atualiza variáveis","type":"main","index":0}]]},"Atualiza variáveis":{"main":[[{"node":"Busca estágio","type":"main","index":0}]]},"Busca estágio":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Seta cache estágios":{"main":[[{"node":"If1","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent - Verifica sem tem variável para atualizar","type":"ai_outputParser","index":0}]]},"DeepSeek Chat Model":{"ai_languageModel":[[{"node":"AI Agent - Verifica sem tem variável para atualizar","type":"ai_languageModel","index":0}]]},"Retorna estagios que não foram executados ainda":{"main":[[{"node":"Seta cache das variaveis","type":"main","index":0}]]},"If1":{"main":[[{"node":"Transfere ticket para Aguardando Apre.Chat1","type":"main","index":0},{"node":"Deleta cache lastVar","type":"main","index":0}],[]]},"PUSH":{"main":[[{"node":"GET","type":"main","index":0}]]},"Wait":{"main":[[{"node":"GET","type":"main","index":0}]]},"GET":{"main":[[{"node":"SWITCH_BUFFER1","type":"main","index":0}]]},"DELETE":{"main":[[{"node":"CONCATENA","type":"main","index":0}]]},"SWITCH_BUFFER1":{"main":[[{"node":"DELETE","type":"main","index":0}],[{"node":"NADA","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"CONCATENA":{"main":[[{"node":"Busca last var","type":"main","index":0}]]},"If":{"main":[[{"node":"Deleta cache lastVar","type":"main","index":0}],[{"node":"PUSH","type":"main","index":0}]]},"Delete table or rows":{"main":[[{"node":"Delete memory messages","type":"main","index":0}]]},"LOOP_SLIT":{"main":[[{"node":"Retorna estagios que não foram executados ainda","type":"main","index":0}],[{"node":"Envia resposta para o Lead","type":"main","index":0}]]},"WAIT_SPLIT":{"main":[[{"node":"LOOP_SLIT","type":"main","index":0}]]},"output":{"main":[[{"node":"Parser  Chain","type":"main","index":0}]]},"OpenAI3":{"ai_languageModel":[[{"node":"Parser  Chain","type":"ai_languageModel","index":0}]]},"OutputParser1":{"ai_outputParser":[[{"node":"Parser  Chain","type":"ai_outputParser","index":0}]]},"Parser  Chain":{"main":[[{"node":"Split de Mensagem","type":"main","index":0}]]},"Split de Mensagem":{"main":[[{"node":"LOOP_SLIT","type":"main","index":0}]]},"Envia resposta para o Lead":{"main":[[{"node":"WAIT_SPLIT","type":"main","index":0}]]},"Transfere ticket para Aguardando Apre.Chat1":{"main":[[{"node":"Busca histórico de conversa","type":"main","index":0}]]},"Formata histórico":{"main":[[{"node":"Gera resumo da conversa - AI","type":"main","index":0}]]},"Gera resumo da conversa - AI":{"main":[[{"node":"Salva nota na conversa","type":"main","index":0}]]},"DeepSeek Chat Model1":{"ai_languageModel":[[{"node":"Gera resumo da conversa - AI","type":"ai_languageModel","index":0}]]},"Busca histórico de conversa":{"main":[[{"node":"Formata histórico","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Formata última mensagem enviada pela IA","type":"main","index":0}]]},"Formata última mensagem enviada pela IA":{"main":[[{"node":"AI Agent - Verifica sem tem variável para atualizar","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.apresenta.me","x-real-ip":"172.68.191.167","x-real-port":"16007","x-forwarded-for":"187.108.222.68, 172.68.191.167","x-forwarded-proto":"http","x-forwarded-host":"n8n.apresenta.me","x-forwarded-port":"80","remote-host":"172.68.191.167","connection":"close","content-length":"711","accept":"application/json, text/plain, */*","accept-encoding":"gzip, br","user-agent":"axios/1.12.2","cf-ray":"9b0904471ae2f90d-NVT","content-type":"application/json","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"187.108.222.68","cf-ipcountry":"BR","cf-visitor":"{\"scheme\":\"https\"}"},"params":{},"query":{},"body":{"message":"De momento não","messageId":"2574373","contact":{"id":"38043","name":"554788950332","number":"554788950332","profilePicUrl":"https://pps.whatsapp.net/v/t61.24694-24/425105449_1361615211300388_1143514098522857072_n.jpg?ccb=11-4&oh=01_Q5Aa3QGhf0UFRLGPgslAgF6nXKJW0T7Cr7i6zdQNLlJhzD9PcA&oe=6952A163&_nc_sid=5e03e0&_nc_cat=102","createdAt":"2025-10-09T16:20:11.311-03:00","updatedAt":"2025-12-19T15:38:23.235-03:00","email":"","isGroup":false,"companyId":"5005","whatsappId":"4","onlyResponsible":false,"userId":"1","aprePersonId":"4916708","apreDealId":null,"blocked":false,"meta":{"ignoreCheck":true,"ignorePermission":true,"dontSendSocket":false}},"whatsappId":"4","companyId":5005,"ticketId":87947},"webhookUrl":"https://n8n.apresenta.me/webhook/7223c6af-f595-4bc2-b84c-602b8900cd08","executionMode":"production"}}]},"versionId":"561fb130-869b-45f9-8922-5c3ec8f3a4ec","triggerCount":1,"shared":[{"updatedAt":"2025-11-04T18:47:16.654Z","createdAt":"2025-11-04T18:47:16.654Z","role":"workflow:owner","workflowId":"dDaZdsSmHxktrhjc","projectId":"4ToGMYJEWvvDSbcz"}],"tags":[]}