24-01-2026 12:00/workflows/📊-análise-de-perfomance-de-campanha-YxaBUSS3T4m872sV.json
{"updatedAt":"2026-01-15T11:30:19.000Z","createdAt":"2025-09-22T19:32:48.292Z","id":"YxaBUSS3T4m872sV","name":"📊 Análise de perfomance de campanha","active":true,"isArchived":false,"nodes":[{"parameters":{"jsCode":"return {\n  campaigns: $input.first().json.data.map(d => d.campaign_id)\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-864,80],"id":"13f2026d-d5d4-4065-8c70-de39f8e3599b","name":"Pega os ids das campanhas com insights"},{"parameters":{"jsCode":"const campaigns = $('Busca campanhas').first().json.data\nconst insights = $('Busca insights').first().json.data\n\nfor(const campaign of campaigns) {\n  const campaignInsights = insights.find(i => String(i.campaign_id) === String(campaign.id)) \n  campaignInsights.generated_leads = campaignInsights.actions.find(a => a.action_type == 'lead')?.value || 0\n\n  campaign.insights = campaignInsights\n}\n\nreturn {\n  campaigns\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-432,80],"id":"6d5b4e67-1f55-457f-992a-a7a0f88e024b","name":"Junta as informações de campanha com insights"},{"parameters":{"graphApiVersion":"v20.0","node":"act_1000490853790213","edge":"insights","options":{"queryParametersJson":"={ \"fields\": \"account_id,campaign_id,impressions,spend,clicks,ctr,cpc,cpm,reach,frequency,actions,cost_per_action_type,created_time,date_start,date_stop\", \"date_preset\": \"{{ $json.date_preset }}\", \"level\": \"campaign\", \"time_increment\": \"1\" }"}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[-1072,80],"id":"44bc0858-967f-4fee-8339-77e0e561a4fd","name":"Busca insights","credentials":{"facebookGraphApi":{"id":"Ex5QxAzJUnZDVBU4","name":"Facebook Graph account"}}},{"parameters":{"graphApiVersion":"v20.0","node":"act_1000490853790213","edge":"campaigns","options":{"queryParametersJson":"={\n  \"filtering\":\n  [\n      {\n          \"field\":\"id\",\n          \"operator\":\"IN\",\n          \"value\":[\"{{ $json.campaigns.join('\", \"') }}\"]\n      }\n  ],\n  \"fields\":\"id,name,status,objective\"\n} "}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[-656,80],"id":"93a694e3-4bc7-4d74-8fd9-766258efb163","name":"Busca campanhas","credentials":{"facebookGraphApi":{"id":"Ex5QxAzJUnZDVBU4","name":"Facebook Graph account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"claude-sonnet-4-20250514","cachedResultName":"Claude 4 Sonnet"},"options":{"maxTokensToSample":20000}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[1072,320],"id":"b63047dc-5604-46e5-8014-503921882095","name":"Anthropic Chat Model3","credentials":{"anthropicApi":{"id":"lyfyzPeMl3RhkeP5","name":"Anthropic account"}}},{"parameters":{"promptType":"define","text":"=Sua missao é gerar um HTML com base nas informacoes do json {{ $('AI - Criar relatório').item.json.output }} que contem as informações tecnicas do relatório. Seu HTML output deve seguir sempre a mesma estrutura de layout seguindo o template abaixo, adaptando apenas a inclusao das informações com base no json passado anteriormente.\n\nATENÇÃO:\n\nAtualmente, a análise evolutiva/comparativa está no final do relatório, após a análise do período. \n* Apenas para formatação: \n- Alocar a análise evolutiva/comparativa para o início do template HTML que será gerado.\n- Na coluna \"ATUAL\" da tabela comparativa de métricas, quando o valor corresponder a meta estipulada, deve estar em verde, caso o contrário, deve estar em vermelho (O títlo da coluna não deve ter coloração baseada no atingimento da meta estipu).\n\nTemplate:\n\n<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Relatório de Performance - Meta Ads</title>\n</head>\n<body style=\"margin:0; padding:0; font-family:Arial, sans-serif; background-color:#f5f5f5;\">\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background-color:#f5f5f5; padding: 20px 0;\">\n    <tr>\n      <td align=\"center\">\n        <table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background-color:#ffffff; border-radius:10px; padding:30px;\">\n          <tr>\n            <td align=\"center\" style=\"padding-bottom:20px;\">\n              <h1 style=\"color:#1a1a1a; font-size:24px; margin:0;\">📊 Relatório de Performance</h1>\n              <p style=\"color:#666666; font-size:14px; margin:5px 0 0;\">Meta Ads • Análise Detalhada de Campanhas</p>\n            </td>\n          </tr>\n\n          <!-- Resumo Executivo -->\n          <tr>\n            <td style=\"padding:20px 0; border-top:1px solid #eaeaea;\">\n              <h2 style=\"font-size:18px; color:#1a1a1a; margin-bottom:10px;\">Resumo Executivo</h2>\n              <p style=\"font-size:14px; color:#444444; line-height:1.6;\">\n                A campanha apresenta <strong>performance mista</strong> com pontos positivos e críticos. O CTR está quase <strong>2x acima da meta</strong>, porém o CPM elevado e a baixa conversão Click → Lead estão impactando significativamente o CPL final, que ficou <strong>20% abaixo da meta</strong> estabelecida.\n              </p>\n            </td>\n          </tr>\n\n          <!-- Métricas Principais -->\n          <tr>\n            <td style=\"padding:20px 0;\">\n              <table width=\"100%\" cellpadding=\"10\" cellspacing=\"0\" border=\"0\" style=\"background-color:#fafafa; border-radius:8px;\">\n                <tr>\n                  <td>\n                    <strong>CPM:</strong><br>\n                    <span style=\"font-size:20px; color:#1a1a1a;\">R$ 44,47</span><br>\n                    <span style=\"color:#666;\">Meta: R$ 50,00</span><br>\n                    <span style=\"color:#dc2626;\">-R$ 5,53 (-11,06%)</span>\n                  </td>\n                  <td>\n                    <strong>CTR:</strong><br>\n                    <span style=\"font-size:20px; color:#1a1a1a;\">0,97%</span><br>\n                    <span style=\"color:#666;\">Meta: 0,50%</span><br>\n                    <span style=\"color:#166534;\">+0,47% (+94%)</span>\n                  </td>\n                </tr>\n                <tr>\n                  <td>\n                    <strong>Click → Lead:</strong><br>\n                    <span style=\"font-size:20px; color:#1a1a1a;\">5,78%</span><br>\n                    <span style=\"color:#666;\">Meta: 10,00%</span><br>\n                    <span style=\"color:#dc2626;\">-4,22% (-42,2%)</span>\n                  </td>\n                  <td>\n                    <strong>CPL:</strong><br>\n                    <span style=\"font-size:20px; color:#1a1a1a;\">R$ 79,61</span><br>\n                    <span style=\"color:#666;\">Meta: R$ 100,00</span><br>\n                    <span style=\"color:#166534;\">-R$ 20,39 (-20,39%)</span>\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n\n          <!-- Pontos Fortes -->\n          <tr>\n            <td style=\"padding:20px 0;\">\n              <h2 style=\"font-size:18px; color:#1a1a1a;\">✅ Pontos Fortes</h2>\n              <ul style=\"color:#444; font-size:14px; padding-left:20px;\">\n                <li><strong>CTR excepcional (0,97%)</strong>: Os criativos estão muito atrativos</li>\n                <li><strong>CPM controlado</strong>: Boa escolha de público</li>\n              </ul>\n            </td>\n          </tr>\n\n          <!-- Gargalos -->\n          <tr>\n            <td style=\"padding:20px 0;\">\n              <h2 style=\"font-size:18px; color:#1a1a1a;\">⚠️ Gargalo Principal</h2>\n              <p style=\"font-size:14px; color:#444;\">\n                Conversão Click → Lead (5,78%) está abaixo da meta.<br>\n                <strong>Causa provável:</strong> Excesso de fricção no formulário de captura.\n              </p>\n              <ul style=\"color:#444; font-size:14px; padding-left:20px;\">\n                <li>Campos demais</li>\n                <li>Formulário mal posicionado</li>\n                <li>Falta de prova social</li>\n              </ul>\n            </td>\n          </tr>\n\n          <!-- Sugestões -->\n          <tr>\n            <td style=\"padding:20px 0;\">\n              <h2 style=\"font-size:18px; color:#1a1a1a;\">💡 Sugestões de Otimização</h2>\n\n              <p style=\"font-size:14px; color:#1a1a1a; margin:10px 0;\"><strong>🟥 Alta Prioridade – Otimização do Formulário:</strong></p>\n              <ul style=\"color:#444; font-size:14px; padding-left:20px;\">\n                <li>Reduzir campos (Nome, WhatsApp, E-mail)</li>\n                <li>Formulário em etapas</li>\n                <li>Prova social próxima ao formulário</li>\n                <li>Posicionar \"acima da dobra\"</li>\n              </ul>\n\n              <p style=\"font-size:14px; color:#1a1a1a; margin:10px 0;\"><strong>🟥 Alta Prioridade – Landing Page:</strong></p>\n              <ul style=\"color:#444; font-size:14px; padding-left:20px;\">\n                <li>A/B test com versão simplificada</li>\n                <li>Copy alinhada ao anúncio</li>\n                <li>Senso de urgência e escassez</li>\n              </ul>\n\n              <p style=\"font-size:14px; color:#1a1a1a; margin:10px 0;\"><strong>🟨 Média Prioridade – Escalonamento Inteligente:</strong></p>\n              <ul style=\"color:#444; font-size:14px; padding-left:20px;\">\n                <li>Aumentar orçamento gradualmente</li>\n                <li>Duplicar conjuntos de alta performance</li>\n              </ul>\n\n              <p style=\"font-size:14px; color:#1a1a1a; margin:10px 0;\"><strong>🟨 Média Prioridade – Testes Contínuos:</strong></p>\n              <ul style=\"color:#444; font-size:14px; padding-left:20px;\">\n                <li>Manter rotação de criativos</li>\n                <li>Testar novos públicos semelhantes</li>\n              </ul>\n            </td>\n          </tr>\n\n          <!-- Footer -->\n          <tr>\n            <td style=\"padding-top:20px; border-top:1px solid #eaeaea; text-align:center;\">\n              <p style=\"font-size:14px; color:#1a1a1a;\"><strong>🎯 Meta Imediata:</strong> Aumentar a taxa de conversão Click → Lead de 5,78% para 8% nas próximas 2 semanas.</p>\n            </td>\n          </tr>\n        </table>\n      </td>\n    </tr>\n  </table>\n\n-- Seguindo a mesma estrutura de HTML, coloque a análise comparativa a seguir.\n</body>\n</html>\n\n\n\nEste html será utilizado em um email, e por isso você deve devolver apenas o HTML, 100% funcional e organizado. Em sua entrega final (output), nunca inclua \"```json\\n{\\n \"html\": \"\"ou algo do tipo. Apenas o HTML funcional.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1056,80],"id":"7dd4d156-39b5-44a4-a0a6-61fbb91f81d6","name":"AI - Criar HTML","executeOnce":false},{"parameters":{"rule":{"interval":[{"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1808,-64],"id":"5d982346-e384-4749-b2ad-40a3d965b5c0","name":"Cron diário"},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1808,192],"id":"0b3a60bc-ad44-4d90-af0b-54ccf8037026","name":"Cron semanal","disabled":true},{"parameters":{"jsCode":"return $input.first().json"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1296,80],"id":"cbb66ffc-f464-4b50-9722-661baa8adcf3","name":"Formata data"},{"parameters":{"jsCode":"const period_type_translated = 'Diário'\nreturn {\n  date_preset: \"yesterday\",\n  period_type: \"daily\",\n  period_type_translated,\n  text: (() => {\n    const d = new Date();\n    d.setDate(d.getDate() - 1);\n    const fmt = x => `${String(x.getDate()).padStart(2,'0')}/${String(x.getMonth()+1).padStart(2,'0')}/${x.getFullYear()}`;\n    return `${period_type_translated} - ${fmt(d)}`;\n  })()\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1600,-64],"id":"3a314160-aa70-4cfb-94f1-e5c307c03860","name":"Normaliza dados diários"},{"parameters":{"jsCode":"const period_type_translated = 'Semanal'\nreturn {\n  date_preset: \"last_7d\",\n  period_type: \"weekly\",\n  period_type_translated,\n  text: (() => {\n    const end = new Date();\n    const start = new Date();\n    start.setDate(end.getDate() - 7);\n    const fmt = d => `${String(d.getDate()).padStart(2,'0')}/${String(d.getMonth()+1).padStart(2,'0')}/${d.getFullYear()}`;\n    return `${period_type_translated} - ${fmt(start)} até ${fmt(end)}`;\n  })()\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1600,192],"id":"d1113f76-08cf-4cee-9668-b11e38aa8257","name":"Normaliza dados semanais"},{"parameters":{"jsCode":"return {\n  analysis: JSON.stringify($input.all())\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[240,80],"id":"978b1aae-ed72-4e7d-8b68-bb30c7d68cf1","name":"Transforma análises em texto"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"campaign_analysis","mode":"list","cachedResultName":"campaign_analysis"},"limit":4,"where":{"values":[{"column":"period_type","value":"={{ $('Formata data').item.json.period_type }}"}]},"sort":{"values":[{"column":"id","direction":"DESC"}]},"options":{"outputColumns":["created_at","period_type","analysis"]}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[32,80],"id":"440676c4-5657-4fa9-ab4f-5b8897c66232","name":"Busca relatórios salvos no banco de dados","alwaysOutputData":true,"credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"campaign_analysis","mode":"list","cachedResultName":"campaign_analysis"},"columns":{"mappingMode":"defineBelow","value":{"analysis":"={{ $json.output }}","period_type":"={{ $('Formata data').first().json.period_type }}","ads_name":"Meta"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"analysis","displayName":"analysis","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ads_name","displayName":"ads_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"period_type","displayName":"period_type","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[832,80],"id":"72fbc367-4306-480c-ac36-847754a76ea4","name":"Insere novo relatório gerado no banco de dados","credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}}},{"parameters":{"fromEmail":"Apresenta.me <no-reply@apresenta.me>","toEmail":"joao.rorato@apresenta.me, maicon@apresenta.me, guilherme.lindner@apresenta.me, mayron.cimardi@apresenta.me, erickmacielmazanti@gmail.com, bianca.gimenez@aguialeao.com.br, larissa.simplicio@apresenta.me","subject":"=📊 Análise de Campanhas | {{ $('Formata data').first().json.text }}","html":"={{ $json.output }}","options":{"appendAttribution":false,"ccEmail":"="}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1456,80],"id":"ac00e791-9716-483e-b14e-e2e5c4039bfd","name":"Envia por e-mail","webhookId":"b8842732-9025-4c04-924e-06cfbb051a19","notesInFlow":false,"credentials":{"smtp":{"id":"aeF6k2hPp8cZPPHg","name":"SMTP account"}}},{"parameters":{"jsCode":"const campaigns = $input.first().json.campaigns;\n\nconst campaignWithCalculatedInsights = [];\n\nconst result = campaigns.reduce((acc, campaign) => {\n  const insights = campaign.insights;\n  \n  // 1. Data Extraction\n  const spendValue = parseFloat(insights.spend || 0);\n  const generatedLeads = parseInt(insights.generated_leads || 0);\n  const impressions = parseInt(insights.impressions || 0);\n  const clicks = parseInt(insights.clicks || 0); // Total clicks (All clicks: likes, profiles, links, etc.)\n\n  // Extract specifically \"link_click\" from the actions array\n  let linkClicks = 0;\n  if (Array.isArray(insights.actions)) {\n    const linkClickObj = insights.actions.find(a => a.action_type === 'link_click');\n    if (linkClickObj) {\n      linkClicks = parseInt(linkClickObj.value);\n    }\n  }\n\n  // 2. Individual Calculations\n  \n  // CPL (Cost Per Lead)\n  const individualCPL = generatedLeads > 0 ? (spendValue / generatedLeads) : 0;\n\n  // Click -> Lead Rate (Conversion Rate: Leads / Link Clicks)\n  const clickToLeadRate = linkClicks > 0 ? (generatedLeads / linkClicks) : 0;\n\n  // CPC Individual (Spend / All Clicks)\n  const individualCPC = clicks > 0 ? (spendValue / clicks) : 0;\n\n  campaignWithCalculatedInsights.push({\n    ...campaign, \n    insights: {\n      ...campaign.insights,\n      cpl: `R$ ${individualCPL.toFixed(2)}`, \n      cpc: `R$ ${individualCPC.toFixed(2)}`, // Added individual CPC\n      clickToLead: `${(clickToLeadRate * 100).toFixed(2)}%`\n    }\n  });\n\n  // 4. Accumulators\n  return {\n    totalSpend: acc.totalSpend + spendValue,\n    totalLeads: acc.totalLeads + generatedLeads,\n    totalImpressions: acc.totalImpressions + impressions,\n    totalClicks: acc.totalClicks + clicks,         // For CTR & CPC (All clicks)\n    totalLinkClicks: acc.totalLinkClicks + linkClicks // For Click->Lead (Link clicks)\n  };\n}, { totalSpend: 0, totalLeads: 0, totalImpressions: 0, totalClicks: 0, totalLinkClicks: 0 });\n\n// 5. Global Indicators\n\n// GLOBAL CPL\nconst globalCPL = result.totalLeads > 0 \n  ? result.totalSpend / result.totalLeads \n  : 0;\n\n// GLOBAL CPM\nconst globalCPM = result.totalImpressions > 0 \n  ? (result.totalSpend / result.totalImpressions) * 1000 \n  : 0;\n\n// GLOBAL CPC (Total Spend / Total Clicks)\nconst globalCPC = result.totalClicks > 0 \n  ? result.totalSpend / result.totalClicks \n  : 0;\n\n// GLOBAL CTR (All Clicks / Impressions)\nconst globalCTR = result.totalImpressions > 0 \n  ? (result.totalClicks / result.totalImpressions) * 100 \n    : 0;\n\n// GLOBAL Click -> Lead (Total Leads / Total Link Clicks)\nconst globalClickToLead = result.totalLinkClicks > 0\n  ? (result.totalLeads / result.totalLinkClicks) * 100\n  : 0;\n\nreturn {\n  spend: `R$ ${result.totalSpend.toFixed(2)}`,\n  totalLeads: result.totalLeads,\n  cpl: `R$ ${globalCPL.toFixed(2)}`, \n  cpm: `R$ ${globalCPM.toFixed(2)}`,\n  cpc: `R$ ${globalCPC.toFixed(2)}`, // Global CPC Added\n  ctr: `${globalCTR.toFixed(2)}%`,\n  clickToLead: `${globalClickToLead.toFixed(2)}%`,\n  campaignWithCalculatedInsights: campaignWithCalculatedInsights ?? undefined\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-192,80],"id":"e4c2b024-6e79-478f-9a34-c13d8203b0a1","name":"Calcular dados"},{"parameters":{"fromEmail":"Apresenta.me <no-reply@apresenta.me>","toEmail":"joao.rorato@apresenta.me","subject":"=📊 Análise de Campanhas | {{ $('Formata data').first().json.text }}","html":"={{ $json.output }}","options":{"appendAttribution":false,"ccEmail":"="}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1456,-112],"id":"606db73e-58af-4cda-ae2b-04057815bb54","name":"Envia por e-mail só para joao.rorato","webhookId":"b8842732-9025-4c04-924e-06cfbb051a19","notesInFlow":false,"credentials":{"smtp":{"id":"aeF6k2hPp8cZPPHg","name":"SMTP account"}}},{"parameters":{"promptType":"define","text":"=Atue como Analista Sênior de Meta Ads. Sua função NÃO É CALCULAR métricas gerais, mas sim **INTERPRETAR** os dados já processados e gerar um relatório estratégico.\n\n# 🚨 FONTES DE DADOS (LEIA COM ATENÇÃO EXTREMA)\n\n### FONTE A: VARIÁVEIS GLOBAIS DO PERÍODO ATUAL (A VERDADE ABSOLUTA)\n**Instrução Crítica:** Estes valores são finais. JAMAIS tente recalcular CPL, CTR ou CPM somando as campanhas individuais. Use ESTES números para o \"Resumo Executivo\", \"Diagnóstico de Funil\" e a coluna \"ATUAL\" da tabela comparativa.\n\n* **DATA:** {{ $('Formata data').first().json.period_type_translated.toUpperCase() }}\n* **INVESTIMENTO TOTAL:** {{ $('Calcular dados').first().json.spend }}\n* **LEADS TOTAIS:** {{ $('Calcular dados').first().json.totalLeads }}\n* **CPL GERAL (Custo/Lead):** {{ $('Calcular dados').first().json.cpl }}\n* **CPM GERAL:** {{ $('Calcular dados').first().json.cpm }}\n* **CTR GERAL:** {{ $('Calcular dados').first().json.ctr }}\n* **CLICK TO LEAD (Conversão):** {{ $('Calcular dados').first().json.clickToLead }}\n* **CPC GERAL:** {{ $('Calcular dados').first().json.cpc }}\n\n---\n\n### FONTE B: DETALHAMENTO POR CAMPANHA\nUse estes dados APENAS para montar a tabela \"Desvios Identificados\" (Item 2 do relatório). Não use para médias gerais.\n{{ JSON.stringify($('Calcular dados').first().json.campaignWithCalculatedInsights) }}\n\n---\n\n### FONTE C: HISTÓRICO DE ANÁLISES\nLista das últimas análises para comparação.\n{{ JSON.stringify($json.analysis || []) }}\n\n---\n\n# 📝 INSTRUÇÕES DE ESCRITA DO RELATÓRIO\n\nVocê deve gerar o relatório em Markdown seguindo estritamente a estrutura abaixo.\n\n### 1. 📊 Resumo Executivo\nEscreva um parágrafo curto.\n* Cite o **Investimento Total** e **Leads Totais** (da FONTE A).\n* Cite o **CPL Geral** (da FONTE A).\n* Diga se o resultado foi BOM ou RUIM comparando mentalmente o CPL atual com a meta de R$ 110,00.\n\n### 2. 📌 Desvios Identificados vs Metas\nCrie uma tabela listando as campanhas da **FONTE B**.\n* Colunas: `Campanha` | `Leads` | `CPM` | `CTR` | `Click→Lead` | `CPL`\n* Adicione a linha de **METAS** no topo: CPM R$35 | CTR 0.50% | Click→Lead 5% | CPL R$110.\n* Use emojis (🟢 para bom/dentro da meta, 🔴/⬇️ para ruim/abaixo da meta) ao lado de cada valor.\n\n### 3. 🔎 Diagnóstico de Funil (Baseado na FONTE A)\nAnalise os números da FONTE A:\n* **Volume vs Custo:** O volume de leads ({{ $('Calcular dados').first().json.totalLeads }}) justifica o investimento?\n* **CTR Geral ({{ $('Calcular dados').first().json.ctr }}):** Está acima de 0.50%? Se não, critique os criativos.\n* **CPM Geral ({{ $('Calcular dados').first().json.cpm }}):** O leilão está caro (>R$35) ou barato?\n* **Conversão ({{ $('Calcular dados').first().json.clickToLead }}):** A página está convertendo bem (>5%)?\n\n### 4. 💡 Ações Recomendadas\nSugira 3 ações práticas e diretas (ex: Pausar campanhas com CPL > 150, Escalar campanhas com CPL < 100, Testar novos criativos se CTR < 0.5%).\n\n### 5. 🔎 ANÁLISE COMPARATIVA (TABELA OBRIGATÓRIA)\nMonte uma tabela comparando a **FONTE A (Atual)** com os dados extraídos da **FONTE C (Histórico)**.\n\n**Estrutura da Tabela:** -> SEGUIR RIGOROSAMENTE, QUALQUER DADO FALTANTE É CONSIDERADO FALHA CRÍTICA.\n| Métrica | ATUAL | Data Anterior 1 | Data Anterior 2 | ... |\n| :--- | :--- | :--- | :--- | :--- |\n| **CPL** | (Valor da FONTE A) | (Valor Histórico) | ... |\n| **CTR** | (Valor da FONTE A) | (Valor Histórico) | ... |\n| **Click→Lead** | (Valor da FONTE A) | (Valor Histórico) | ... |\n| **CPM** | (Valor da FONTE A) | (Valor Histórico) | ... |\n| **Total Leads** | (Valor da FONTE A) | (Valor Histórico) | ... |\n\n**Regras da Tabela:**\n1.  A coluna **ATUAL** deve conter EXATAMENTE os valores da **FONTE A**. Não recalcule.\n2.  Nas colunas históricas, adicione ícones comparando com o ATUAL:\n    * 📈 se o histórico era MELHOR que o atual.\n    * 📉 se o histórico era PIOR que o atual.\n3.  Se algum dado histórico não estiver disponível, use \"—\".\n\n### 6. 🏆 Ganhos e Perdas\n* Liste 2 pontos onde o **ATUAL** venceu o histórico.\n* Liste 2 pontos onde o **ATUAL** perdeu para o histórico.\n\n---\n\n**REGRAS DE FORMATAÇÃO:**\n* Não use introduções como \"Aqui está o relatório\". Comece direto pelo título.\n* Use formatação BOLD para os números principais.\n* Se o total de leads for 0, o CPL deve aparecer como \"—\" ou \"Sem Conversão\".","options":{"returnIntermediateSteps":false}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[464,80],"id":"d059bf95-f22f-46dd-bf54-2d3106631604","name":"AI - Criar relatório","retryOnFail":false},{"parameters":{"model":{"__rl":true,"value":"claude-sonnet-4-20250514","mode":"list","cachedResultName":"Claude Sonnet 4"},"options":{"maxTokensToSample":20000}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[416,272],"id":"d9dbd803-874c-4bff-ba52-17aa1e7409fc","name":"Anthropic Chat Model","credentials":{"anthropicApi":{"id":"lyfyzPeMl3RhkeP5","name":"Anthropic account"}}}],"connections":{"Pega os ids das campanhas com insights":{"main":[[{"node":"Busca campanhas","type":"main","index":0}]]},"Junta as informações de campanha com insights":{"main":[[{"node":"Calcular dados","type":"main","index":0}]]},"Busca insights":{"main":[[{"node":"Pega os ids das campanhas com insights","type":"main","index":0}]]},"Busca campanhas":{"main":[[{"node":"Junta as informações de campanha com insights","type":"main","index":0}]]},"Anthropic Chat Model3":{"ai_languageModel":[[{"node":"AI - Criar HTML","type":"ai_languageModel","index":0}]]},"AI - Criar HTML":{"main":[[{"node":"Envia por e-mail","type":"main","index":0}]]},"Cron diário":{"main":[[{"node":"Normaliza dados diários","type":"main","index":0}]]},"Cron semanal":{"main":[[{"node":"Normaliza dados semanais","type":"main","index":0}]]},"Formata data":{"main":[[{"node":"Busca insights","type":"main","index":0}]]},"Normaliza dados diários":{"main":[[{"node":"Formata data","type":"main","index":0}]]},"Normaliza dados semanais":{"main":[[{"node":"Formata data","type":"main","index":0}]]},"Transforma análises em texto":{"main":[[{"node":"AI - Criar relatório","type":"main","index":0}]]},"Busca relatórios salvos no banco de dados":{"main":[[{"node":"Transforma análises em texto","type":"main","index":0}]]},"Insere novo relatório gerado no banco de dados":{"main":[[{"node":"AI - Criar HTML","type":"main","index":0}]]},"Calcular dados":{"main":[[{"node":"Busca relatórios salvos no banco de dados","type":"main","index":0}]]},"AI - Criar relatório":{"main":[[{"node":"Insere novo relatório gerado no banco de dados","type":"main","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"AI - Criar relatório","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Cron diário":{"recurrenceRules":[]},"node:Cron semanal":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Envia por e-mail só para joao.rorato":[{"json":{"accepted":["joao.rorato@apresenta.me"],"rejected":[],"ehlo":["8BITMIME","AUTH PLAIN LOGIN","Ok"],"envelopeTime":372,"messageTime":413,"messageSize":15560,"response":"250 Ok 0100019ac64b47a3-32f5798c-0478-48c3-b126-261293a17651-000000","envelope":{"from":"no-reply@apresenta.me","to":["joao.rorato@apresenta.me"]},"messageId":"<ca4d2671-821c-b77f-85bd-bee8c92401ea@apresenta.me>"}}],"Cron diário":[{"json":{"timestamp":"2026-01-15T08:00:20.007-03:00","Readable date":"January 15th 2026, 8:00:20 am","Readable time":"8:00:20 am","Day of week":"Thursday","Year":"2026","Month":"January","Day of month":"15","Hour":"08","Minute":"00","Second":"20","Timezone":"America/Sao_Paulo (UTC-03:00)"}}]},"versionId":"315ce3da-032d-4011-b0d7-9251824810c5","triggerCount":1,"shared":[{"updatedAt":"2025-09-22T19:32:48.296Z","createdAt":"2025-09-22T19:32:48.296Z","role":"workflow:owner","workflowId":"YxaBUSS3T4m872sV","projectId":"4ToGMYJEWvvDSbcz"}],"tags":[]}