04-06-2026 12:00/workflows/❤️-análise-de-lead-Mf8XNJsuIL3652pf.json
{"updatedAt":"2026-04-30T13:03:35.000Z","createdAt":"2025-08-16T14:49:36.978Z","id":"Mf8XNJsuIL3652pf","name":"❤️ Análise de Lead","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"lead-timeline","responseMode":"lastNode","options":{}},"id":"8580d446-0066-40c5-a68c-cb6203816eb8","name":"Webhook (Lead Timeline)","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-2864,-768],"webhookId":"0baf53e6-8557-49d0-8377-7fe4a87a204e"},{"parameters":{"jsCode":"const { activities, comments, stageHistory } = $('Buscar dados da Timeline do Lead').first().json\n\nfunction toBrazilDate(dateString) {\n  const date = new Date(dateString);\n  date.setHours(date.getHours() - 3);\n  return date;\n}\n\nconst data = []\n\nasync function mapperActivities() {\n  for (const item of activities) {\n    const createdAt = toBrazilDate(item.CREATED)\n    const lastUpdatedAt = toBrazilDate(item.LAST_UPDATED)\n    const startedAt = toBrazilDate(item.START_TIME)\n    const finishedAt = toBrazilDate(item.END_TIME)\n                                    \n    const mappedActivity = {\n      historyName: 'activity',\n      registerId: item.ID, \n      subject: item.SUBJECT,\n      typeId: item.PROVIDER_TYPE_ID,\n      isCompleted: item.COMPLETED == 'Y',\n      createdAt, \n      lastUpdatedAt,\n      startedAt,\n      finishedAt\n    }\n\n    if (item.CALL_DETAILS) {\n      const call = item.CALL_DETAILS\n      \n      mappedActivity.callDetails = {\n        registerId: call.ID,\n        category: call.CALL_CATEGORY,\n        durationInSeconds: call.CALL_DURATION,\n        callUrl: call.CALL_RECORD_URL,\n        callCost: call.COST, \n        callCostCurrency: call.COST_CURRENCY, \n        callKey: call.CALL_ID\n      }\n    }\n    \n    data.push(mappedActivity)\n  }\n}\nfunction mapperComments() {\n  for (const item of comments) {\n    const createdAt = toBrazilDate(item.CREATED)\n    \n    const mappedComments = {\n      historyName: 'comment',\n      registerId: item.ID,\n      createdAt,\n      comment: item.COMMENT\n    }\n\n    data.push(mappedComments)\n  }\n}\nfunction mapperStageHistory() {\n  for (const item of stageHistory) {\n    const createdAt = toBrazilDate(item.CREATED_TIME) \n    \n    const mappedStageHistory = {\n      historyName: 'stageHistory',\n      registerId: item.ID,\n      status: item.STATUS_ID,\n      createdAt\n    }\n\n    data.push(mappedStageHistory)\n  }\n}\n\nawait mapperActivities();\nawait mapperComments();\nawait mapperStageHistory();\n\nreturn data\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1344,-752],"id":"cdff146b-9543-4ed0-9b66-ea98662e26ec","name":"Mapear dados do CRM"},{"parameters":{"jsCode":"const { leadId } = $('Webhook (Lead Timeline)').first().json.query\n\nif (!leadId) {\n  throw new Error('É necessário informar o id do lead.')\n}\n\nreturn [{\n  leadId \n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2448,-768],"id":"36e492ca-126e-4123-8b4b-12317c493c9c","name":"Valida parâmetros"},{"parameters":{"jsCode":"const sleep = (ms) => new Promise((r) => setTimeout(r, ms));\n\nasync function bitrixList(method, params) {\n  const url = `${$env.BITRIX_URL}${method}`;\n  let start = 0;\n  const out = [];\n  let tries = 0;\n\n  while (true) {\n    const body = { ...params };\n    if (start) body.start = start;\n\n    try {\n      const res = await this.helpers.httpRequest({\n        method: \"POST\",\n        url,\n        json: true,\n        body,\n        timeout: 30000,\n      });\n\n      let items = Array.isArray(res?.result) ? (res.result ?? []) : [];\n      items = !items.length && (typeof res?.result == 'object') ? res?.result.items : items \n      out.push(...items);\n\n      if (res?.next !== undefined && res.next !== null) {\n        start = res.next;\n        tries = 0;\n        await sleep(200);\n      } else {\n        break;\n      }\n    } catch (err) {\n      if (++tries <= 3) {\n        await sleep(500 * tries);\n        continue;\n      }\n      throw new Error(`Falha em ${method}: ${err?.message || String(err)}`);\n    }\n  }\n  return out;\n}\n\nconst leadId = $input.first().json.id\n\nconst a1 = await bitrixList(\"crm.activity.list\", {\n  entityTypeId: 1,\n  order: { ID: \"ASC\" },\n  filter: { \"OWNER_ID\": leadId },\n  select: [\n    \"ID\",\n    \"SUBJECT\",\n    \"PROVIDER_TYPE_ID\",\n    \"COMPLETED\",\n    \"CREATED\",\n    \"LAST_UPDATED\",\n    \"START_TIME\",\n    \"END_TIME\"\n  ],\n});\n\nconst a2 = await bitrixList(\"crm.timeline.comment.list\", {\n  filter: {\n    ENTITY_ID: leadId,\n    ENTITY_TYPE: \"lead\",\n  },\n  select: [\"ID\", \"COMMENT\", \"CREATED\", \"AUTHOR_ID\", \"FILES\"],\n});\n\nconst a3 = await bitrixList(\"crm.stagehistory.list\", {\n    entityTypeId: 1,\n    order: { \"ID\": \"DESC\"},\n    filter: { \"OWNER_ID\": leadId },\n    select: [\"ID\", \"STATUS_ID\", \"CREATED_TIME\"],\n});\n\nfor (const item of a1) {\n    if (item.PROVIDER_TYPE_ID == 'CALL') {\n      const base = \"https://crm.apresenta.me/rest/1/2a5nmkk1mq5yvpvx\";\n      const url = `${base}/voximplant.statistic.get.json`;\n      \n      const res = await this.helpers.httpRequest({\n        method: \"POST\",\n        url,\n        json: true,\n        body: {\n          \"filter\": {\n            \"CRM_ACTIVITY_ID\": item.ID,\n            \">CALL_DURATION\": 30\n          },\n          \"order\": {\n            \"CALL_START_DATE\": \"DESC\"\n          },\n          \"start\": 0,\n          \"select\": [\n            \"CALL_ID\",\n            \"CALL_TYPE\",\n            \"CALL_START_DATE\",\n            \"DURATION\",\n            \"COMMENT\"\n          ]\n        },\n        timeout: 30000,\n      });\n  \n      item.CALL_DETAILS = res.result[0]\n    }  \n}\n\nconst out = [\n  {\n    activities: a1,\n    comments: a2,\n    stageHistory: a3,\n  },\n];\n\nreturn out;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1728,-752],"id":"fd6380c3-5a30-4753-b485-fecf2a51029a","name":"Buscar dados da Timeline do Lead"},{"parameters":{"jsCode":"const messages = $input.first().json.messages\n\nreturn {\n  messages: messages?.data?.filter(message => ['audio', 'audioMessage'].includes(message.messageType) && !!message.mediaUrl && !!message.file).map(message => ({ json: message })) || []\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-720,16],"id":"d3217ca1-471e-4c06-9566-49e87d142dcc","name":"Filtra por áudio"},{"parameters":{"jsCode":"const stories = $input.all()\n\nreturn {\n  stories: stories.filter(history => history.json.historyName === 'activity' && history.json.typeId === 'CALL' && !!history.json.callDetails?.callUrl && history.json.isCompleted)\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1552,-752],"id":"bc9ea6c7-3201-4988-b14c-fde701c1e53c","name":"Filtra por call"},{"parameters":{"jsCode":"const allStories = $('Mapear dados do CRM').all()\nconst allStoriesMap = new Map()\nconst historyCalls = $('Filtra por call').first().json.stories\nconst transcribedCalls = $input.all()\n\nfor (const history of allStories) {\n  allStoriesMap.set(`${history.json.registerId}-${history.json.historyName}`, history)\n\n}\n\nfor (const transcribed of transcribedCalls) {\n  const call = historyCalls[transcribed.pairedItem.item]\n  const transcription = transcribed.json.text\n\n  call.json.callDetails = {\n    ...call.json.callDetails, \n    transcription\n  }\n  \n  allStoriesMap.set(`${call.json.registerId}-${call.json.historyName}`, call)\n}\n\nreturn Array.from(allStoriesMap.values())"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-592,-752],"id":"b1391243-af58-4c88-987c-abb96a69ba58","name":"Junta as transcrições com a timeline"},{"parameters":{"jsCode":"const allMessages = $('Busca Mensagens do lead no Apre.Chat').first().json.messages.data\nconst allMessagesMap = new Map()\nconst audioMessages = $('Filtra por áudio').first().json.messages\nconst transcribedAudios =  $input.all()\n\nfor (const message of allMessages) {\n  allMessagesMap.set(String(message.id), {json:{\n    ...message\n  }})\n}\n\nconsole.log(audioMessages)\nconsole.log(transcribedAudios)\n\nfor (const transcribed of transcribedAudios) {\n  const audioMessage = audioMessages[transcribed.pairedItem.item]\n  const transcription = transcribed.json.text\n\n  allMessagesMap.set(String(audioMessage.json.id), {\n    json: {\n      ...audioMessage, \n      transcription: transcription\n    }\n  })\n}\n\nreturn Array.from(allMessagesMap.values())\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,16],"id":"bbd123b5-9a57-4091-a3b7-8371a768c8b4","name":"Junta as transcrições com as mensagens"},{"parameters":{"method":"POST","url":"https://api.apresenta.me/comercial/bitrix/leadGet","sendQuery":true,"queryParameters":{"parameters":[{"name":"id","value":"={{ $json.leadId }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2240,-768],"id":"9b365ed9-e814-4f69-abb2-358690456758","name":"Busca dados do Lead"},{"parameters":{"url":"=https://api.apre.chat/api/messages/{{ $json.whatsapp || '00' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer kZaOTd+YZpjRUyyuQUpigJaEMk4vcW4YOymKPZX0Ts8="},{"name":"company","value":"10"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1312,-288],"id":"936ba018-ba99-4587-88f1-2701dbf538ed","name":"Busca Mensagens do lead no Apre.Chat","onError":"continueRegularOutput"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[848,-528],"id":"4791c8b1-4af7-4ba1-8759-f4db5aa59266","name":"Junta mensagens com histórico da timeline do Lead","alwaysOutputData":true},{"parameters":{"method":"POST","url":"https://n8n.apresenta.me/webhook/audio-transcribe","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"url\": \"{{ $json.url }}\", \n  \"key\": \"{{ $json.key }}\",\n  \"force\": {{ $json.force }}\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-800,-752],"id":"c94a0e16-f570-4c0c-a45f-f16974aca999","name":"Transcrever calls"},{"parameters":{"jsCode":"const calls = $input.first().json.stories\n\nreturn calls.map(call => ({\n  url: call.json.callDetails.callUrl, \n  key: `${call.json.callDetails.registerId}_${call.json.callDetails.callKey}`,\n  force: $('Webhook (Lead Timeline)').first().json.query.force == 'Y'\n}))"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1024,-752],"id":"de6c52ae-207a-47f0-a114-81bf1481c678","name":"Mapear url das calls"},{"parameters":{"jsCode":"const audios = $(\"Filtra por áudio\").first().json.messages\n\nreturn audios?.map(audio => ({\n  url: audio.json.mediaUrl, \n  force: $('Webhook (Lead Timeline)').first().json.query.force == 'Y',\n  key: `${audio.json.id}_${audio.json.file.fileName}`\n}))"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-224,16],"id":"65c14ec5-c0b9-4c92-88e2-57be1fa9264b","name":"Mapear url dos áudios"},{"parameters":{"method":"POST","url":"https://n8n.apresenta.me/webhook/audio-transcribe","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"url\": \"{{ $json.url }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-16,16],"id":"66aaf4ac-63b3-4ca7-b561-80fe868f548d","name":"Transcrever audios"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0e7bb9f9-1d07-47aa-b731-59c869540da5","leftValue":"={{ $json.whatsapp?.length.toBoolean() }}","rightValue":"","operator":{"type":"boolean","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1584,-272],"id":"c04ac976-4e4d-4f1b-932e-786e6b0eddc8","name":"Verifica se o Lead tem WhatsApp cadastrado"},{"parameters":{"jsCode":"const stories = $input.all()\nconst sortedStories = stories.sort((a, b) => new Date(a.json.createdAt) - new Date(b.json.createdAt))\nreturn {\n  sortedStories\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1056,-528],"id":"093a3b51-bc14-4fad-9528-8ae868a0712a","name":"Ordena por data de criação"},{"parameters":{"jsCode":"return $('Busca Mensagens do lead no Apre.Chat').first().json.messages?.data?.map(message => ({\n  historyName: 'whatsAppMessage', \n  ...message  \n}))"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-528,16],"id":"fb4f7c4b-6f8c-41ff-9a73-80ab2f3b53a2","name":"Normaliza dados"},{"parameters":{"method":"POST","url":"={{ $env.BITRIX_URL }}crm.timeline.logmessage.add","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"fields\": {\n        \"entityTypeId\": 1,\n        \"entityId\": \"{{ $json.query.leadId }}\",\n        \"title\": \"❤️ Análise de Lead inciada.\",\n        \"text\": \"Análise do Lead foi iniciada com sucesso!\",\n        \"iconCode\": \"task-activity\"\n    }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2656,-768],"id":"59a4792f-9d91-4421-93aa-92d40e66887b","name":"Salva Log no Lead","retryOnFail":true},{"parameters":{"method":"POST","url":"={{ $env.BITRIX_URL }}crm.lead.update","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"id\": \"{{ $('Busca dados do Lead').first().json.id }}\",\n    \"fields\": {\n        \"UF_CRM_LEAD_ANALYSIS\": {{ $json.lead.analysisWithoutEmojiEncoded }},\n        \"UF_CRM_LEAD_ANALYSIS_DATE\": \"{{ (() => { const d = new Date(); const pad = n => String(n).padStart(2,'0'); const tz = -d.getTimezoneOffset(); const sign = tz >= 0 ? '+' : '-'; const h = pad(Math.floor(Math.abs(tz) / 60)); const m = pad(Math.abs(tz) % 60); return `${d.getFullYear()}-${pad(d.getMonth()+1)}-${pad(d.getDate())}T${pad(d.getHours())}:${pad(d.getMinutes())}:${pad(d.getSeconds())}${sign}${h}:${m}`; })() }}\"\n    }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2240,-528],"id":"b6204295-4152-4d74-bcb9-bc38cea601b8","name":"✏️ Altera dados do Lead","retryOnFail":true},{"parameters":{"method":"POST","url":"={{ $env.BITRIX_URL }}crm.timeline.comment.add","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"fields\": {\n        \"ENTITY_TYPE\": \"lead\",\n        \"ENTITY_ID\": \"{{ $('Busca dados do Lead').first().json.id }}\",\n        \"COMMENT\": {{ $('Ajusta informações').item.json.lead.analysisBbCodeEncoded }}\n    }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2432,-528],"id":"74ae81ef-f7f4-4560-9980-1851cc04257f","name":"Salva comentário com Análise no Lead","retryOnFail":true},{"parameters":{"jsCode":"function removeEmojis(str) {\n  const re = /(?:[\\u{1F1E6}-\\u{1F1FF}]{2}|[#*0-9]\\uFE0F?\\u20E3|\\p{Extended_Pictographic}(?:\\uFE0F|\\u200D(?:\\p{Extended_Pictographic}|\\u2640|\\u2642)\\uFE0F?)*|\\uFE0F|\\u200D)/gu;\n  return str.replace(re, '');\n}\n\n\nfunction markdownToBBCode(markdown) {\n  return markdown\n    // Títulos\n    .replace(/^### (.*$)/gim, '[b]$1[/b]')\n    .replace(/^## (.*$)/gim, '[b]$1[/b]')\n    .replace(/^# (.*$)/gim, '[b]$1[/b]')\n\n    // Negrito\n    .replace(/\\*\\*(.*?)\\*\\*/g, '[b]$1[/b]')\n\n    // Itálico (opcional, se quiser suportar *texto*)\n    .replace(/\\*(.*?)\\*/g, '[i]$1[/i]')\n\n    // Quebras de linha duplas viram parágrafo\n    .replace(/\\n{2,}/g, '\\n\\n')\n}\n\nreturn {\n  lead: {\n    id: $('Busca dados do Lead').first().json.id,\n    analysisBbCodeEncoded: JSON.stringify(markdownToBBCode($input.first().json.output.analysis)),\n    analysisWithoutEmojiEncoded: JSON.stringify(removeEmojis($input.first().json.output.analysis)),\n  }\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2048,-528],"id":"46cff51c-6016-4bc4-bc14-a0a45f7ff62b","name":"Ajusta informações"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"dcb1dc1a-aa81-4222-a916-5aad835db918","leftValue":"={{ $('Filtra por call').item.json.stories.length.toBoolean() }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1184,-912],"id":"1e810f54-0616-431c-9e50-194ebd2498cf","name":"Se tiver call na timeline"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"571ae3a5-3f06-46ff-bae6-6ced09fb6ca4","leftValue":"={{ $json._original.UF_CRM_LEAD_ANALYSIS }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"8ee34270-f834-401c-9cd9-83d920a86df9","leftValue":"={{ $('Webhook (Lead Timeline)').item.json.query.force != 'Y' }}","rightValue":"=","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2032,-768],"id":"36e1b2a8-0202-43fc-9253-ecc9ac825d53","name":"Se o Lead já tiver análise"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"eeeab0b2-44f3-4838-9a0c-30110ac166f2","leftValue":"={{ $('Filtra por áudio').item.json.messages.length.toBoolean() }}","rightValue":"True","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{"ignoreCase":false}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-368,208],"id":"4734160e-ae07-44eb-9651-17c77c0c0b70","name":"Verifica se tem audio nas mensagens","alwaysOutputData":false},{"parameters":{"method":"POST","url":"={{ $env.BITRIX_URL }}crm.lead.update","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"id\": \"{{ $('Busca dados do Lead').item.json.id }}\",\n    \"fields\": {\n        \"UF_CRM_LEAD_ANALYSIS_DATE\": \"{{ (() => { const d = new Date(); const pad = n => String(n).padStart(2,'0'); const tz = -d.getTimezoneOffset(); const sign = tz >= 0 ? '+' : '-'; const h = pad(Math.floor(Math.abs(tz) / 60)); const m = pad(Math.abs(tz) % 60); return `${d.getFullYear()}-${pad(d.getMonth()+1)}-${pad(d.getDate())}T${pad(d.getHours())}:${pad(d.getMinutes())}:${pad(d.getSeconds())}${sign}${h}:${m}`; })() }}\"\n    }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1744,-1232],"id":"45f4558c-85eb-4a2c-8aa9-2b92d3bd0ec0","name":"Altera da da última Análise de Lead","retryOnFail":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a49d6896-c524-4dfe-8579-457dfbd9a51c","leftValue":"={{ $json.messages.data.length.toBoolean() }}","rightValue":"","operator":{"type":"boolean","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1056,-288],"id":"77f341ad-44c0-4a49-967f-2e681b24cfad","name":"If"},{"parameters":{"jsCode":"const whatsapp = $input.first().json.whatsapp || '';\n\nreturn {\n  whatsapp: whatsapp.replace(/\\D/g, '') \n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1808,-368],"id":"821e2d76-5d93-44ce-91c7-f5f1892d653e","name":"Remove caracteres diferentes de numero e espaço do whatsapp do lead"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5-mini","mode":"list","cachedResultName":"GPT-5-MINI"},"messages":{"values":[{"content":"=Você é um ASSISTENTE ESPECIALISTA em formatação de relatórios de análise de leads para o mercado imobiliário. Sua missão é transformar a análise bruta de uma call de qualificação ou demonstração em um e-mail visualmente moderno e legível no Gmail, com foco em facilitar a leitura rápida por vendedores.\n\nO e-mail deve ser claro, escaneável e chamar atenção para os principais pontos da conversa. Use blocos bem separados, cores, listas e emojis estratégicos. Cada parte do conteúdo deve “parecer lista”, com itens facilmente identificáveis para leitura rápida.\n\nATENÇÃO (REGRAS ESPECIAIS DE EMOJI):\n- ❌ NUNCA usar o emoji 📝 em hipótese alguma.\n- ❌ NUNCA adicionar emoji no início de uma linha que JÁ COMEÇA com emoji no texto original.\n- Só adicionar emoji como bullet quando a linha original não tiver emoji no começo.\n\n==========================\n🧠 OBJETIVO PRINCIPAL\n==========================\nTransformar um relatório bruto (transcrição ou análise da call) em um e-mail HTML responsivo e elegante, otimizado para Gmail, com foco na leitura rápida de vendedores, destacando pontos fortes, pontos fracos, oportunidades e alertas.\n\nO RESULTADO FINAL DEVE:\n- Ser extremamente escaneável (o vendedor deve “bater o olho” e entender).\n- Usar blocos coloridos para separar seções.\n- Usar listas e emojis para praticamente todas as informações importantes, SEM ALTERAR TEXTO.\n\n==========================\n🔧 INSTRUÇÕES DE FORMAÇÃO\n==========================\n\n1. FIDELIDADE AO CONTEÚDO\n- NÃO reescreva, NÃO resuma, NÃO reordene e NÃO interprete o conteúdo original do RELATÓRIO_BRUTO.\n- Use exatamente o texto original, apenas mudando a forma de apresentação (HTML, blocos, listas, emojis).\n- Mantenha todos os títulos, subtítulos e seções na ordem original, mesmo que estejam vazios ou pareçam repetitivos.\n\n2. E-MAIL EM HTML INLINE (compatível com Gmail)\n- Somente HTML com CSS inline.\n- NÃO usar tags externas como <html>, <head>, <body>.\n- NÃO usar comentários.\n- A saída final deve ser APENAS o HTML pronto para colagem no Gmail.\n\n3. VISUAL MODERNO, LEITURA FLUÍDA E ESPAÇAMENTO\n- Fonte: Helvetica, Arial, sans-serif.\n- line-height: 1.6; color: #333.\n- Títulos em cor #1a73e8, em negrito, e sempre com EMOJIS (ex: 🎯, ✅, ⚠️, 📌, 🧩, 💡).\n- Usar ESPAÇAMENTO MÉDIO entre blocos (títulos, parágrafos, boxes e listas):\n  - Evitar texto “colado” (sem espaçamento) que pareça bloco corrido.\n  - Evitar espaçamentos gigantes que quebrem demais o fluxo.\n  - Recomendações típicas:\n    - margin-top entre seções: 12px–18px\n    - margin-bottom entre parágrafos/listas: 6px–10px\n- Emojis com moderação porém consistentes em TODO o relatório:\n  - Principalmente em títulos de seções e itens de listas.\n  - Exemplos permitidos: ✅ ⚠️ 📌 🔎 🔗 💡\n  - Emoji 📝 é proibido.\n\n4. ESTRUTURA EM BLOCOS COLORIDOS (SEMPRE)\n- TODA seção importante do RELATÓRIO_BRUTO deve estar dentro de um box/bloco com fundo colorido.\n- Usar estes padrões de cor:\n  - Informação Geral: background-color:#E8F0FE\n  - Sucesso/Oportunidade/Pontos Fortes: background-color:#E6F4EA\n  - Alerta/Problema/Pontos de Atenção: background-color:#FFF4E5\n  - Neutro/Observação/Contexto: background-color:#F1F3F4\n- Sempre aplicar: border-radius:6px; padding:12px 14px; margin:12px 0;\n- Se não for óbvio qual cor usar, utilizar o bloco Neutro (#F1F3F4).\n\n5. TUDO DEVE “PARECER LISTA”\n- Sempre que possível, apresentar o conteúdo em forma de lista, SEM alterar o texto original:\n  - Transformar linhas separadas por quebras (\\n) em itens de lista.\n  - Utilizar <ul> e <li> ou listas com emojis no início de cada item.\n- Regra de emojis nas listas:\n  - Se a linha ORIGINAL já começar com emoji, NÃO adicionar outro emoji na frente, apenas colocar essa linha como <li>.\n  - Se a linha ORIGINAL NÃO tiver emoji no começo, você pode adicionar um emoji (ex: ✅, ⚠️, 📌, 💡) como bullet visual.\n- Manter o texto de cada linha exatamente igual ao original, apenas adicionando, quando permitido, um emoji ANTES do texto dentro da lista.\n- Exemplos de estilos de lista:\n  - <ul> com bullets normais (sem emoji).\n  - Listas com emojis como prefixo do item: ✅, ⚠️, 📌, 💡 (nunca 📝).\n- Evitar parágrafos muito longos:\n  - Sempre que houver quebras de linha no texto original, respeitar essas quebras com <br> ou transformá-las em itens de lista.\n- Manter blocos visuais bem definidos:\n  - Título da seção → box colorido com conteúdo em formato de lista → listas adicionais se necessário.\n\n6. QUEBRAS E ESTRUTURA\n- Converter \\n para <br> quando o texto estiver em bloco.\n- Preferencialmente, quando o conteúdo for uma enumeração ou pontos soltos, usar listas (<ul><li>) mantendo o texto literal de cada linha.\n- Não juntar frases de linhas diferentes em um único parágrafo se elas estiverem separadas no RELATÓRIO_BRUTO.\n\n7. TABELAS (se existirem)\n- Cabeçalhos em negrito.\n- border-collapse: collapse;\n- padding interno.\n- Espaçamento vertical médio entre a tabela e o conteúdo anterior/posterior (margin:12px 0).\n- Se a informação da tabela permitir, pode ser reforçada com listas e emojis abaixo dela, sem alterar o texto original (apenas reapresentando o mesmo conteúdo em formato de lista).\n\n8. LINKS\n- Sempre precedidos de 🔗.\n- Exemplo: 🔗 <a href=\"URL\" style=\"color:#1a73e8; text-decoration:underline;\">Texto do link</a>\n- Nunca deixar uma URL “solta” sem estar clicável.\n\n9. IMAGEM E CABEÇALHO\n- Sempre iniciar o e-mail com o logo:\n<img src=\"https://s.apresenta.me/comercial/automations/apresentame-300.png\" alt=\"Apresenta.me ~ O Futuro das Imobiliárias\" width=\"300\" style=\"display:inline-block; margin-bottom:20px;\">\n\n10. TÍTULO PRINCIPAL DO E-MAIL\n- Usar sempre um título chamativo com emoji:\n<h2 style=\"color:#1a73e8; font-family: Helvetica, Arial, sans-serif; margin:0 0 16px 0;\">🎯 Análise de Lead | Apresenta.me | NOME DO LEAD ~ ASSUNTO DA CALL</h2>\n\n11. ASSINATURA FINAL (obrigatória)\n- Sempre ao final, exatamente assim:\n<p style=\"font-style:italic; margin-top: 30px; border-top:1px solid #ddd; padding-top:10px; font-family: Helvetica, Arial, sans-serif;\">Relatório pela <b>Sofia</b>, assistente da Apresenta.me</p>\n\n==========================\n📌 EXEMPLO DE ORGANIZAÇÃO (TUDO EM BLOCOS E LISTAS)\n==========================\n\n<strong style=\"font-family: Helvetica, Arial, sans-serif;\">🎯 Objetivo da Call</strong>\n<div style=\"background-color:#E8F0FE; border-radius:6px; padding:12px 14px; margin:8px 0 14px 0; font-family: Helvetica, Arial, sans-serif;\">\n  <ul style=\"margin:0; padding-left:18px;\">\n    <li>💡 Conteúdo literal da seção, exatamente como no relatório.</li>\n    <li>💡 Quebras de linha do original podem virar novos itens de lista.</li>\n  </ul>\n</div>\n\n<strong style=\"font-family: Helvetica, Arial, sans-serif;\">✅ Pontos Fortes do Lead</strong>\n<div style=\"background-color:#E6F4EA; border-radius:6px; padding:12px 14px; margin:8px 0 14px 0; font-family: Helvetica, Arial, sans-serif;\">\n  <ul style=\"margin:0; padding-left:18px;\">\n    <li>✅ Pontos fortes identificados exatamente como no relatório.</li>\n    <li>💡 Respeitar o texto original, apenas formatando como lista.</li>\n  </ul>\n</div>\n\n<strong style=\"font-family: Helvetica, Arial, sans-serif;\">⚠️ Pontos de Atenção</strong>\n<div style=\"background-color:#FFF4E5; border-radius:6px; padding:12px 14px; margin:8px 0 14px 0; font-family: Helvetica, Arial, sans-serif;\">\n  <ul style=\"margin:0; padding-left:18px;\">\n    <li>⚠️ Obstáculos ou dúvidas levantadas pelo lead.</li>\n    <li>💡 Destacar riscos, incertezas ou dependências.</li>\n  </ul>\n</div>\n\n<strong style=\"font-family: Helvetica, Arial, sans-serif;\">📌 Próximos Passos</strong>\n<div style=\"background-color:#F1F3F4; border-radius:6px; padding:12px 14px; margin:8px 0 16px 0; font-family: Helvetica, Arial, sans-serif;\">\n  <ul style=\"margin:0; padding-left:18px;\">\n    <li>📌 Aguardar aprovação interna.</li>\n    <li>📌 Agendar próxima call com decisor.</li>\n  </ul>\n</div>\n\n==========================\n📤 INSTRUÇÃO FINAL\n==========================\n- A SAÍDA DEVE SER SOMENTE O HTML INLINE FINAL, pronto para colagem no Gmail.\n- NÃO incluir blocos de código, comentários ou explicações.\n- MANTER 100% do conteúdo textual do RELATÓRIO_BRUTO, na MESMA ORDEM ORIGINAL.\n- TRANSFORMAR o conteúdo em HTML visualmente moderno, claro, escaneável e responsivo.\n- USAR blocos COLORIDOS para separar visualmente as seções.\n- FAZER COM QUE QUASE TUDO PAREÇA LISTA, com uso de emojis nos itens, sem alterar o texto original.\n- NÃO USAR o emoji 📝 em nenhuma situação.\n- NÃO ADICIONAR emoji no início de linhas que JÁ COMEÇAM com emoji no texto original.\n- USAR cores, espaçamentos e emojis estrategicamente para facilitar a leitura por vendedores.\n- GARANTIR ESPAÇAMENTO MÉDIO entre seções, parágrafos, boxes e listas, evitando tanto texto corrido quanto espaços excessivos.\n\nDADOS DE ENTRADA:\n- Dados do lead/empresa (opcional).\n- RELATÓRIO_BRUTO: texto completo da análise da call, com seções e ordem originais (pode conter “\\n”).\n\nSAÍDA ESPERADA:\n- Somente HTML inline, pronto para Gmail.\n- Estrutura moderna, visualmente atrativa e fiel ao conteúdo original.\n- Leitura extremamente rápida e facilitada para times de venda, com blocos coloridos, estilo de lista e uso consistente (e controlado) de emojis.\n","role":"system"},{"content":"={{ $('Análise de Lead').first().json.output.analysis }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2624,-528],"id":"cb839fe8-8c10-4a4b-819c-dc424fc1379b","name":"Cria html da analise de Lead","retryOnFail":true,"credentials":{"openAiApi":{"id":"weD4ayyAuWgClQqA","name":"OpenAi account"}}},{"parameters":{"jsCode":"const items = $input.first().json.sortedStories\n// Função para formatar data (transforma 2025-08-19T21:41:15.000Z em 19/08 21:41)\nfunction formatDate(isoString) {\n    if (!isoString) return \"\";\n    try {\n        const date = new Date(isoString);\n        return `${date.getDate().toString().padStart(2, '0')}/${(date.getMonth() + 1).toString().padStart(2, '0')} ${date.getHours().toString().padStart(2, '0')}:${date.getMinutes().toString().padStart(2, '0')}`;\n    } catch (e) {\n        return \"\";\n    }\n}\n\nfor (const item of items) {\n    const rawHistory = item.json.compressedHistory || \"\";\n    \n    // Se não tiver histórico, pula\n    if (!rawHistory) continue;\n\n    let entries = rawHistory.split('---');\n    let cleanTimeline = [];\n\n    for (let entry of entries) {\n        entry = entry.trim();\n        if (entry.length < 5) continue;\n\n        // 1. EXTRAIR A DATA (Está geralmente no cabeçalho entre colchetes)\n        // Ex: [MUDANÇA DE ETAPA (CRM) - 2025-08-19T21:42:14.000Z]\n        const dateMatch = entry.match(/(\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2})/);\n        const dateStr = dateMatch ? formatDate(dateMatch[0]) : \"Data N/A\";\n\n        // 2. FILTRO INTELIGENTE (O que manter e como formatar)\n\n        // CASO A: Mudança de Etapa (Timeline) -> Manter, mas encurtar\n        if (entry.includes('MUDANÇA DE ETAPA') || entry.includes('Status do Lead alterado')) {\n            // Extrai apenas o nome da nova fase (ex: \"SCHEDULED\")\n            const statusMatch = entry.match(/para \"([^\"]+)\"/);\n            const newStatus = statusMatch ? statusMatch[1] : \"Fase Desconhecida\";\n            \n            // Só adiciona se não for um loop de automação inútil\n            if (!['JUNK', 'ANALYSIS', 'REQUALIFICATION'].includes(newStatus)) {\n                 cleanTimeline.push(`🕒 ${dateStr} - Mudou fase para: ${newStatus}`);\n            }\n            continue; \n        }\n\n        // CASO B: Agendamentos/Cancelamentos (Manter resumido)\n        if (entry.includes('Evento marcado') || entry.includes('Cliente solicitou o cancelamento')) {\n            // Remove BBCode e deixa o texto limpo\n            let text = entry.replace(/\\[.*?\\]/g, '').replace(/<[^>]*>/g, '');\n            // Pega as primeiras 2 linhas apenas (evita links gigantes)\n            let lines = text.split('\\n').filter(l => l.trim()).slice(0, 2); \n            cleanTimeline.push(`📅 ${dateStr} - Agenda: ${lines.join(' - ')}`);\n            continue;\n        }\n\n        // CASO C: Lixo de Automação (REMOVER)\n        if (entry.includes('Fluxo de trabalho concluído')) continue;\n        if (entry.includes('O usuário SDR Novo Teste foi inativado')) continue;\n        if (entry.includes('Tarefa criada para o dia')) continue; // Log de tarefa interna\n        if (entry.includes('Ativo:  Y  | Responsável')) continue; // Log de sistema\n\n        // CASO D: Conteúdo Humano (Mensagens, Notas, E-mails) -> MANTER COMPLETO\n        // Limpa apenas formatação suja\n        let cleanContent = entry\n            .replace(/\\[MUDANÇA.*?\\]/g, '') // Remove cabeçalho técnico\n            .replace(/\\[COMENTÁRIO.*?\\]/g, '')\n            .replace(/\\[ATIVIDADE.*?\\]/g, '')\n            .replace(/\\[USER=\\d+\\].*?\\[\\/USER\\]/g, '') // Remove tags de usuário\n            .replace(/\\[B\\]|\\[\\/B\\]/g, '') // Remove negrito BBCode\n            .trim();\n\n        if (cleanContent.length > 0) {\n            cleanTimeline.push(`💬 ${dateStr} - Interação: \\n${cleanContent}`);\n        }\n    }\n\n    // Atualiza o campo com a timeline limpa e organizada\n    item.json.compressedHistory = cleanTimeline.join('\\n\\n');\n}\n\nreturn {\n  items: JSON.stringify(items)\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1264,-528],"id":"c3f2ec9a-fadd-40e7-8f48-aa1c6e306312","name":"Comprime texto"},{"parameters":{"model":{"__rl":true,"value":"gpt-5.1","mode":"list","cachedResultName":"gpt-5.1"},"options":{"timeout":600000}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1648,-304],"id":"c6e3ec56-bfb6-4ea2-a7fc-5d00322ee37c","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"weD4ayyAuWgClQqA","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"=🚀 Você é um Diretor de Vendas Sênior no mercado imobiliário.  \nSua missão é criar uma **Análise Crítica de Lead** para a Apresenta.me, **curta, objetiva e prática**, para uso pelo time comercial em uma reunião de venda **já agendada** (briefing PRÉ-call, o consultor ainda não falou com o lead).\n\n## DECISOR (Como identificar)\n- Se o cargo do lead(is_real_estate_desc) for algum dos listados abaixo, o próprio Lead é o descisor: \n  * sócio \n  * diretor\n  * administrador\n  * proprietário\n- Se no histórico de alterações for identificado EXPLICITAMENTE que o Lead não é o decisor, NÃO CONSIDERE o lead como decisor.\n\n⚠️ REGRAS FIXAS (NÃO ALTERAR)  \n- Dados - JSON -> Nunca fornecer nome de variáveis ou propriedades de JSONS, isso irá sujar a análise e ela falhará.\n\n- Idioma: PT-BR  \n- NÃO altere links/IDs a seguir.  \n- Vendedor: {{ $('Busca dados do Lead').first().json.user_seller_details.name }} {{ $('Busca dados do Lead').first().json.user_seller_details.last_name }}  \n- SDR: {{ $('Busca dados do Lead').first().json.user_sdr_details.name }} {{ $('Busca dados do Lead').first().json.user_sdr_details.last_name }}  \n- Nome do Lead: \"{{ $('Busca dados do Lead').first().json.name }}\"  \n- Id do Lead (link CRM): https://crm.apresenta.me/crm/lead/details/{{ $('Busca dados do Lead').first().json.id }}/ \n- Dê prioridade aos dados do Lead para a análise. Caso não estejam disponíveis, consulte o Histórico de Interações.\nDados do Lead: {{ JSON.stringify($('Retorna informações relevantes do lead').first().json) }}\n- Fonte ÚNICA de verdade: Histórico de Interações (JSON) recebido em: {{ $('Comprime texto').first().json.items }}  \n- Use apenas o que estiver no histórico (e em variáveis explícitas). NÃO invente nem complete com achismos.  \n- Identifique dentro das mensagens quem é o lead; ignore suposições sem evidência.\n\n---\n\n🧠 MODO DE ANÁLISE (SEM TEXTÃO)\n\n- Toda afirmação importante (decisor, dor, orçamento etc.) deve ter uma **evidência curta entre aspas**: “...”.  \n- Não repita informações nem use parágrafos longos.  \n- Use bullets diretos, com máx. 2 linhas por item.  \n- Priorize clareza, concisão e ação para vendedor e SDR.\n\n---\n\n📤 FORMATO DA SAÍDA (EM ORDEM)\n\nCABEÇALHO RÁPIDO (RIGOROSO - MOSTRAR NA ANÁLISE):\n👤 Nome: [Nome do Lead]\n🔗 CRM: [Id do Lead (link CRM)]  \n📄 Contratos de locação: {{ $('Busca dados do Lead').first().json.work_with_rent_desc }}\n🏠 Imóveis na carteira: {{ $('Busca dados do Lead').first().json.number_of_buildings }}\n💰 Sistema atual/Valor: {{ $('Busca dados do Lead').first().json.current_system_desc }} / {{ $('Busca dados do Lead').first().json.current_system_amount == 0 ? 'Não informado' :  $('Busca dados do Lead').first().json.current_system_amoun}}\n\n---\n0) 🧾 **RESUMO EXECUTIVO (30 SEGUNDOS)**\n\nBloco direto, com os pontos-chave da oportunidade.  \n**Todos os bullets obrigatórios.**\n\n- 🎯 **Score de fechamento:** X/10 (🧊 0–3 / 🌤️ 4–7 / 🔥 8–10) — “...”  \n- 🧩 **Fit com ICP:** X/10 (🟢 bom / 🟡 médio / 🔴 baixo) — “...”  \n- 👑 **Decisor:** “...”  \n- 💰 **Orçamento:** “...”  \n- 🗓️ **Janela de compra:** “...”  \n- 💥 **3 dores principais:**  \n  1. “...”  \n  2. “...”  \n  3. “...”  \n- ⚠️ **Maior risco hoje:** “...”  \n- 🎯 **Foco da reunião pro vendedor:** “...”  \n- 📌 **Próximo passo ideal ao fim da call:** “...”\n\nSe faltar qualquer item acima, escreva “NÃO INFORMADO”.\n\n---\n\n1) 💡 **DICAS & GATILHOS (VENDEDOR + SDR)**\n\n👔 **Para o VENDEDOR (converter na call):**\n\n- 🎙️ **Abertura sugerida:**  \n  > “{{ $('Busca dados do Lead').first().json.name }}, pelo que você comentou sobre ‘…’, hoje vou te mostrar como outras imobiliárias resolveram isso e em quanto tempo tiveram retorno.”\n\n- 🎯 **Gatilhos para conduzir a conversa:**  \n  - “...” (ex.: “ancorar em ganho de tempo na locação”)  \n  - “...” (ex.: “mostrar segurança na migração do sistema atual”)  \n\n- 🖥️ **O que NÃO pode faltar na demo:**  \n  - 💬 Apre.Chat → “...”  \n  - 🧾 ERP / automação de locação → “...”  \n  - 💳 ApBank → “...”  \n  - ✍️ Assinatura Eletrônica / Vistoria → “...”\n\n📞 **Para o SDR (se faltar dados):**\n\nSe estiver tudo completo:  \n- 📞 **SDR:** “dados de qualificação completos, sem ações adicionais.”\n\nSe houver lacunas:  \n- ❓ **Perguntas obrigatórias para completar qualificação:**  \n  1. 👑 “...?” (decisor)  \n  2. 💰 “...?” (budget / quanto paga hoje)  \n  3. 🗓️ “...?” (quando quer implementar / resolver)  \n  4. 🔥 “...?” (onde dói mais)  \n  5. 🏢 “...?” (carteira / equipe, se faltar)\n\n---\n\n2) 🔍 **CONTEXTO DO LEAD & OPORTUNIDADE**\n\n- 👤 **Contato principal / cargo:** “...” → evidência “...”  \n- 💼 **Sistema atual / concorrente:** “...” → “...”  \n- 🔥 **Top 3 dores:**  \n  1. “...”  \n  2. “...”  \n  3. “...”  \n- 🎯 **Motivadores principais:** (⏳ tempo / 💸 dinheiro / 🗂️ organização / 🛡️ segurança)  \n  → “...”\n\n---\n\n3) ⏱️ **LINHA DO TEMPO ESSENCIAL**\n\n- 📅 DD/MM — “...” (primeiro contato / origem)  \n- 📅 DD/MM — “...” (avanço ou trava relevante)  \n- 🔁 Seguimento / reagendamento — “...”  \n- ⚠️ Oportunidade de melhoria do SDR — “...”\n\nSe aplicável:  \n- 🧱 **Ponto-chave de melhoria do SDR:** “...” (curto e direto)\n\n---\n\n4) ⚠️ **INSIGHTS FINAIS & CHECK DE QUALIFICAÇÃO**\n\n4.1 🔍 **Insights & Riscos (para o Vendedor)**\n\n- ✅ **Sinais positivos:**  \n  - “...”  \n  - “...”  \n- ⚠️ **Riscos / travas:**  \n  - “...”  \n  - “...”  \n- 🧩 **Postura recomendada na call:**  \n  - “...”  \n  - “...”\n\n4.2 🧱 **Feedback rápido para SDR**  \n(Preencher só se houver algo claro)\n\n- 🧱 **Pontos de melhoria do SDR:**  \n  - “...”\n\nSe não houver:  \n- 🧱 **SDR:** “sem pontos de melhoria relevantes identificados.”\n\n4.3 ✅ **CHECK DE QUALIFICAÇÃO VISUAL**\n\n- 👑 **Decisor:** 🔴/🟡/🟢 — “...”  \n- 💰 **Orçamento:** 🔴/🟡/🟢 — “...”  \n- 🗓️ **Janela de compra:** 🔴/🟡/🟢 — “...”  \n- 🔥 **3 dores claras:** 🔴/🟡/🟢 — “...”  \n- 💼 **Sistema atual / concorrente:** 🔴/🟡/🟢 — “...”  \n- 🧩 **Fit com ICP:** 🔴/🟡/🟢 — “...”\n\n📌 Regras:  \n- Sem evidência → 🔴 + “NÃO INFORMADO”  \n- Informação vaga → 🟡  \n- Informação clara → 🟢\n","hasOutputParser":true,"options":{"returnIntermediateSteps":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1696,-528],"id":"fc29a357-1a7d-40ef-b461-286c0a21627e","name":"Análise de Lead","retryOnFail":false},{"parameters":{"jsonSchemaExample":"{\n\t\"metadata\": {\n      \"closingScore\": \"SEMPRE NO FORMATO {score}/{score_limit}\"\n    },\n\t\"analysis\": \"Texto da analise\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1872,-320],"id":"300d66c3-e4de-4cfc-9519-00e2343df99d","name":"Structured Output Parser"},{"parameters":{"jsCode":"const lead = $('Busca dados do Lead').first().json\n\nreturn {\n  lead: {\n    purchase_window_desc: lead.purchase_window_desc,\n    major_pains_desc: lead.major_pains_desc,\n    amount_in_current_system_or_budget_desc: lead.amount_in_current_system_or_budget_desc, \n    is_real_estate_desc: lead.is_real_estate_desc\n  }\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1472,-528],"id":"fb097685-66a7-4ca9-9b0f-12d4889dd17b","name":"Retorna informações relevantes do lead"},{"parameters":{"fromEmail":"Apresenta.me <no-reply@apresenta.me>","toEmail":"joao.rorato@apresenta.me, larissa.simplicio@apresenta.me, karina.consoli@apresenta.me, maicon@apresenta.me, jose.lima@apresenta.me, mayron.cimardi@apresenta.me","subject":"=💗 Análise de Lead | 🌟 {{ $('Análise de Lead').item.json.output.metadata.closingScore }} | {{ $('Busca dados do Lead').first().json.user_sdr_details.name.trim() }} {{ $('Busca dados do Lead').first().json.user_sdr_details.last_name.trim() }} | {{ $('Busca dados do Lead').first().json.user_seller_details.name.trim() }} {{ $('Busca dados do Lead').first().json.user_seller_details.last_name.trim() }} | {{ $('Busca dados do Lead').first().json.company_title }}","html":"={{ $json.message.content }}","options":{"appendAttribution":false,"ccEmail":"={{ $('Busca dados do Lead').first().json.user_seller_details._original.EMAIL }}, {{ $('Busca dados do Lead').first().json.user_sdr_details._original.EMAIL }}"}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[2944,-528],"id":"8102bbfa-740a-4384-a7c2-2b5d79baf5d8","name":"Envia análise por e-mail1","webhookId":"b8842732-9025-4c04-924e-06cfbb051a19","notesInFlow":false,"credentials":{"smtp":{"id":"aeF6k2hPp8cZPPHg","name":"SMTP account"}}}],"connections":{"Webhook (Lead Timeline)":{"main":[[{"node":"Salva Log no Lead","type":"main","index":0}]]},"Mapear dados do CRM":{"main":[[{"node":"Se tiver call na timeline","type":"main","index":0}]]},"Valida parâmetros":{"main":[[{"node":"Busca dados do Lead","type":"main","index":0}]]},"Buscar dados da Timeline do Lead":{"main":[[{"node":"Filtra por call","type":"main","index":0}]]},"Filtra por áudio":{"main":[[{"node":"Normaliza dados","type":"main","index":0}]]},"Filtra por call":{"main":[[{"node":"Mapear dados do CRM","type":"main","index":0}]]},"Junta as transcrições com a timeline":{"main":[[{"node":"Junta mensagens com histórico da timeline do Lead","type":"main","index":0}]]},"Junta as transcrições com as mensagens":{"main":[[{"node":"Junta mensagens com histórico da timeline do Lead","type":"main","index":1}]]},"Busca dados do Lead":{"main":[[{"node":"Se o Lead já tiver análise","type":"main","index":0}]]},"Busca Mensagens do lead no Apre.Chat":{"main":[[{"node":"If","type":"main","index":0}]]},"Junta mensagens com histórico da timeline do Lead":{"main":[[{"node":"Ordena por data de criação","type":"main","index":0}]]},"Transcrever calls":{"main":[[{"node":"Junta as transcrições com a timeline","type":"main","index":0}]]},"Mapear url das calls":{"main":[[{"node":"Transcrever calls","type":"main","index":0}]]},"Mapear url dos áudios":{"main":[[{"node":"Transcrever audios","type":"main","index":0}]]},"Transcrever audios":{"main":[[{"node":"Junta as transcrições com as mensagens","type":"main","index":0}]]},"Verifica se o Lead tem WhatsApp cadastrado":{"main":[[{"node":"Busca Mensagens do lead no Apre.Chat","type":"main","index":0}]]},"Ordena por data de criação":{"main":[[{"node":"Comprime texto","type":"main","index":0}]]},"Normaliza dados":{"main":[[{"node":"Verifica se tem audio nas mensagens","type":"main","index":0}]]},"Salva Log no Lead":{"main":[[{"node":"Valida parâmetros","type":"main","index":0}]]},"✏️ Altera dados do Lead":{"main":[[{"node":"Salva comentário com Análise no Lead","type":"main","index":0}]]},"Salva comentário com Análise no Lead":{"main":[[{"node":"Cria html da analise de Lead","type":"main","index":0}]]},"Ajusta informações":{"main":[[{"node":"✏️ Altera dados do Lead","type":"main","index":0}]]},"Se tiver call na timeline":{"main":[[{"node":"Mapear url das calls","type":"main","index":0}],[{"node":"Junta mensagens com histórico da timeline do Lead","type":"main","index":0}]]},"Se o Lead já tiver análise":{"main":[[{"node":"Altera da da última Análise de Lead","type":"main","index":0}],[{"node":"Buscar dados da Timeline do Lead","type":"main","index":0},{"node":"Remove caracteres diferentes de numero e espaço do whatsapp do lead","type":"main","index":0}]]},"Verifica se tem audio nas mensagens":{"main":[[{"node":"Mapear url dos áudios","type":"main","index":0}],[{"node":"Junta mensagens com histórico da timeline do Lead","type":"main","index":1}]]},"If":{"main":[[{"node":"Filtra por áudio","type":"main","index":0}]]},"Remove caracteres diferentes de numero e espaço do whatsapp do lead":{"main":[[{"node":"Verifica se o Lead tem WhatsApp cadastrado","type":"main","index":0}]]},"Cria html da analise de Lead":{"main":[[{"node":"Envia análise por e-mail1","type":"main","index":0}]]},"Comprime texto":{"main":[[{"node":"Retorna informações relevantes do lead","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Análise de Lead","type":"ai_languageModel","index":0}]]},"Análise de Lead":{"main":[[{"node":"Ajusta informações","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Análise de Lead","type":"ai_outputParser","index":0}]]},"Retorna informações relevantes do lead":{"main":[[{"node":"Análise de Lead","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook (Lead Timeline)":[{"json":{"headers":{"host":"n8n.apresenta.me","x-real-ip":"172.70.243.64","x-real-port":"21346","x-forwarded-for":"52.29.163.104, 172.70.243.64","x-forwarded-proto":"http","x-forwarded-host":"n8n.apresenta.me","x-forwarded-port":"80","remote-host":"172.70.243.64","connection":"close","content-length":"311","content-type":"application/x-www-form-urlencoded","accept-encoding":"gzip, br","user-agent":"Bitrix24 Webhook Engine","cf-ray":"9a8bf36edb18bb37-FRA","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"52.29.163.104","cf-ipcountry":"DE","cf-visitor":"{\"scheme\":\"https\"}"},"params":{},"query":{"leadId":"139803","force":"Y"},"body":{"document_id[0]":"crm","document_id[1]":"CCrmDocumentLead","document_id[2]":"LEAD_139803","auth[domain]":"crm.apresenta.me","auth[client_endpoint]":"https://crm.apresenta.me/rest/","auth[server_endpoint]":"https://oauth.bitrix.info/rest/","auth[member_id]":"e0399350f7ed44f078e2b21954de695d"},"webhookUrl":"https://n8n.apresenta.me/webhook/lead-timeline","executionMode":"production"}}]},"versionId":"1322ae48-f5cd-48ba-8cd8-58a1d6a0e7f3","triggerCount":1,"shared":[{"updatedAt":"2025-08-16T14:49:36.984Z","createdAt":"2025-08-16T14:49:36.984Z","role":"workflow:owner","workflowId":"Mf8XNJsuIL3652pf","projectId":"4ToGMYJEWvvDSbcz"}],"tags":[]}