24-11-2025 18:00/workflows/🗣️-apr.sdr-ia-dDaZdsSmHxktrhjc.json
{"updatedAt":"2025-11-24T20:55:51.000Z","createdAt":"2025-11-04T18:47:16.651Z","id":"dDaZdsSmHxktrhjc","name":"🗣️ Apr.SDR IA","active":true,"isArchived":false,"nodes":[{"parameters":{"options":{"dimensions":1536}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[2384,960],"id":"a7f10ff1-4967-4ed0-8aa7-f99ee2a6cdf0","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"weD4ayyAuWgClQqA","name":"OpenAi account"}}},{"parameters":{"options":{"systemMessage":"=## ⚠️ REGRAS CRÍTICAS DE INTERAÇÃO (PRIORIDADE MÁXIMA)\n\n1.  **USO DE FERRAMENTAS PARA CONHECIMENTO:** Sempre que o usuário fizer uma pergunta sobre a Apresenta.me, funcionalidades, produtos ou processos, **VOCÊ DEVE PRIMEIRO** consultar a base de conhecimento.\n\n2.  **RESPOSTA MISTA (KB + Estágio):** Se você usou a ferramenta de Busca e obteve uma resposta, forneça a resposta ao usuário. **Imediatamente após a resposta**, se o estágio atual ainda requer uma variável, repita a pergunta da variável obrigatória para retomar o fluxo.\n\n3.  **ZERO ALUCINAÇÃO (KB):** Se a ferramenta de busca retornar vazio, utilize a frase padrão de guardrail: \"Ainda não tenho acesso a essa informação na base de conhecimento.\"\n\n## Regras Gerais\n- Fale de forma humana, cordial e clara.\n- Não explique sua lógica interna.\n- Não mencione estágios, variáveis ou processos internos.\n- Não pule etapas.\n- Não pergunte novamente informações já coletadas.\n- **EXTRAÇÃO PROATIVA E SEQUENCIAL:** Antes de qualquer outra ação ou resposta, escaneie a última mensagem do usuário. Se identificar valores para **múltiplas variáveis** (novas, antecipadas ou correções), **VOCÊ DEVE CHAMAR A TOOL ATUALIZAR PARAMÊTROS UMA VEZ PARA CADA VARIÁVEL EXTRAÍDA.**\n---\n## Identidade\nVocê é {{ $('Seta perfil').item.json.agentName }} – {{ $('Seta perfil').item.json.role }} da {{ $('Seta perfil').item.json.companyName }}.\nIdioma: {{ $('Seta perfil').item.json.language }}\nMensagem inicial (somente se for a primeira interação): {{ $('Seta perfil').item.json.initialMessage }}\n\n## Comportamento\n{{ $('Seta perfil').item.json.conduct }}\n\n## Objetivo\nConduzir a conversa seguindo corretamente os estágios, coletando os dados obrigatórios de cada estágio, atualizando as variáveis quando forem identificadas nas mensagens do usuário e avançando para o próximo estágio somente quando o atual estiver concluído. Nunca repetir estágios já finalizados.\n\n## Após executar todas as tool calls necessárias, responda seguindo o fluxo do estágio atual.\n\n## Como identificar o estágio atual (ALGORITMO DETERMINÍSTICO)\n\n1. Liste todos os estágios pela ordem do campo sortNumber (do menor para o maior).\n\n2. Para cada estágio, nessa ordem:\n   a. Se o estágio já está concluído, pule para o próximo.\n   b. Caso não esteja concluído:\n       - Verifique a lista actions.requiredDataForExecute.\n       - Identifique quais variáveis dessa lista ainda NÃO possuem valor.\n       - Se existir pelo menos uma variável sem valor:\n            → Este é o estágio atual.\n            → Você deve perguntar SOMENTE a instrução da PRIMEIRA variável ainda sem valor.\n            → Pare a análise aqui.\n       - Se TODAS as variáveis já possuem valor:\n            → Execute a finalInstructions deste estágio.\n            → Marque o estágio como concluído.\n            → Pare a análise aqui.\n\n3. Nunca selecione um estágio baseado em interpretação, contexto ou intenção. A escolha é sempre feita exclusivamente pela presença ou ausência de valores obrigatórios.\n\n## O que retornar em cada resposta\n- Se ainda houver variável obrigatória sem valor no estágio atual:\n  → Pergunte apenas a instrução dessa variável.\n- Se todas variáveis do estágio atual estiverem preenchidas:\n  → Execute apenas a finalInstructions do estágio.\n- Não inclua nada além disso.\n- Não improvise, não reescreva perguntas, não adicione contexto.\n\n## Importante\n- Um estágio só é concluído quando todas as variáveis obrigatórias estiverem preenchidas e a finalInstructions for executada.\n- Um estágio concluído nunca deve ser repetido, a menos que o usuário forneça uma correção de informação.\n\n## Estágios\n{{ JSON.stringify($('Compacta JSON estágios').item.json.stages) }}\n\n# Legenda do JSON de estágios:\n{{ JSON.stringify($('Retorna legenda dos estágios').item.json.legend) }}\n\n","returnIntermediateSteps":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[2160,384],"id":"e4c2cdb8-41e6-4644-9ee1-b4299d946e0c","name":"AI Agent","retryOnFail":false},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"=## 🧠 Apre.IA – Consulta à Base de Conhecimento \n**Função:** Buscar fatos sobre Apresenta.me, produtos, serviços e funcionalidades.\n\n## Quando utilizar (SEMPRE EXECUTE se atender as condições abaixo):\n- **Prioridade:** Usuário pergunta sobre informações da Apresenta.me, existencia de funcionalidades, módulos ou processos.\n\n### Instruções de Execução (Saída da Tool): \n- Buscar **apenas** informações da Apresenta.me.  \n- Retornar trechos **curtos e objetivos** (Máx: 200 tokens).  \n- Priorizar versões recentes.  \n- **Se não houver correspondência clara → Retorne VAZIO (Saída nula).**\n\n---\n\n⚠️ REGRAS DE RESPOSTA (ZERO ALUCINAÇÃO):\n- Utilize SOMENTE as informações desta base.\n- Se a tool retornar vazio (nula), a sua resposta para o usuário deve ser: **“Ainda não tenho acesso a essa informação na base de conhecimento.”**\n- Não invente, não suponha e não complete lacunas.\n- Você deve consultar a tool antes de declarar que não tem acesso a informação.","tableName":"n8","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[2384,800],"id":"61be998c-9c3d-440c-b661-389b0c721ab7","name":"Busca informações do banco de dados","credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}}},{"parameters":{"jsCode":"return {chatInput: $input.first().json.body.message}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-144,384],"id":"9ce388d5-9cd4-4686-9556-333b2dcd797b","name":"Retorna message"},{"parameters":{"method":"POST","url":"=https://api.sandbox.apre.chat/api/messages/send","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"={\n    \"accept\": \"application/json, text/plain, */*\",\n    \"accept-language\": \"pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7\",\n    \"authorization\": \"Bearer kZaOTd+YZpjRUyyuQUpigJaEMk4vcW4YOymKPZX0Ts8=\",\n    \"company\": {{ $('Webhook').item.json.body.companyId }},\n    \"content-type\": \"application/json\"\n  } ","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"message","value":"={{ $('AI Agent').item.json.output }}"},{"name":"number","value":"={{ $('Webhook').item.json.body.contact.number }}"},{"name":"addUserName","value":"={{ $('Seta perfil').item.json.agentName }}"},{"name":"whatsappId","value":"={{ $('Webhook').item.json.body.whatsappId }}"},{"name":"messageRepliedId","value":"={{ $('Webhook').item.json.body.messageId }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2496,384],"id":"51055a9d-03f0-4191-a0ba-476cb7be2d68","name":"HTTP Request"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini-2024-07-18","mode":"list","cachedResultName":"gpt-4o-mini-2024-07-18"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2032,656],"id":"ad961793-d5f5-42d4-821c-94265a99089e","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"weD4ayyAuWgClQqA","name":"OpenAi account"}}},{"parameters":{"httpMethod":"POST","path":"7223c6af-f595-4bc2-b84c-602b8900cd08","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-320,384],"id":"265dfdd6-e7e3-4cab-8841-8fec8945c49f","name":"Webhook","webhookId":"7223c6af-f595-4bc2-b84c-602b8900cd08"},{"parameters":{"description":"=## ⚙️ Atualizar paramêtros — Extração Proativa de Variáveis\n\n**Função:** Prover o valor (novo ou corrigido) de qualquer variável de qualificação.\n\n### Regras de Execução (IMPERATIVAS)\n\n* **Escaneamento Proativo:** A cada mensagem, escaneie e identifique os valores para **TODAS** as variáveis da lista, **mesmo que não tenham sido solicitadas**.\n* **Chama Sequencial Obrigatória:** Para múltiplos valores identificados (Ex: locações E imóveis), **CHAME ESTA TOOL SEQUENCIALMENTE, UMA VEZ PARA CADA VARIÁVEL EXTRAÍDA.**\n* **Formato Estrito:** O output deve ser **APENAS UM OBJETO JSON** por chamada, no formato exato: `{\"name\": \"<nome_da_variável>\", \"value\": <valor_extraído>}`.\n* **Tipagem:** Utilize o tipo de dado nativo (números como `120`, booleanos como `true` ou `false` sem aspas, strings com aspas).\n* **Critério:** Se houver qualquer incerteza sobre o valor, **NÃO CHAME a tool.**","jsCode":"const stages = $('Seta estágios').first().json\nconst vars = $('Seta variáveis da conversa').item.json.data\nconst newQuery = typeof query == 'string' ? JSON.parse(query) : query\n\nconst data = {\n  \"name\": newQuery.name, \n  \"value\": newQuery.value\n}\n\nObject.keys(stages).forEach(stageName => {\n  stages[stageName].actions.requiredDataForExecute = stages[stageName].actions.requiredDataForExecute.map(r => {\n    if (r.name == data.name) {\n      return {\n        ...r, \n        value: data.value\n      }\n    }\n\n\n    return r\n  })\n})\n\nif (vars[data.name]) {\n  vars[data.name].value = data.value\n}\n\nreturn JSON.stringify({ data, query })"},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.3,"position":[2640,800],"id":"5322e98c-bbb4-49ea-8abd-53c7258771ff","name":"Atualizar paramêtros"},{"parameters":{"jsCode":"const cacheVars = $('Busca variáveis').first().json.propertyName ? JSON.parse($('Busca variáveis').first().json.propertyName) : undefined\n\nreturn cacheVars ?? {\n  data: {\n    name: {\n      description:\n        \"Se apresente e pergunte o *Nome do usuário*. Pergunte de forma educada e respeitosa.\",\n      type: \"string\",\n    },\n    email: {\n      description:\n        \"Email do usuário para entrar em contato quando houver a necessidade.\",\n      type: \"email\",\n    },\n    customerNeed: {\n      description:\n        \"Show, [NOME DO LEAD]! E hoje, o que mais tem te incomodado ou sentido falta aí na sua \\nimobiliária? \\nMuitas vezes ouvimos problemas como sistemas com erros, lentidão, suporte demorado, ou até dificuldade pra fazer cobranças e relatórios... Mas quero entender no seu caso: o que você tem sentido falta ou gostaria de melhorar no seu processo de locação, vendas ou atendimento?\",\n      type: \"string[]\",\n    },\n    teamSize: {\n      description:\n        \"E só pra eu entender melhor quantas pessoas trabalham com você? \\n\\nNão mostre as opções, deixe aberto para o lead responder , interaja com o lead até que ele responda com uma das opções abaixo: \\n\\nCorretor Autônomo \\n2 a 5 \\n6 a 10 \\n11 a 25 \\nMais de 25\",\n      type: \"string\",\n    },\n    numberOfBuildings: {\n      description:\n        \"Quantidade total de imóveis na carteira (para venda e locação) você tem disponíveis para negócio, (sem considerar os locados ou vendidos) \\n\\nBusque por um número \",\n      type: \"number\",\n    },\n    rentalTransferMode: {\n      description:\n        'Caso o lead NÃO trabalhe com locações, defina \"Não Utiliza\" e não faça a pergunta! \\n\\n\\nE hoje, como vocês fazem as repasse dos valores dos aluguéis para o proprietário? \\n\\nNão mostre as opções, deixe aberto para o lead responder , interaja com o lead até que ele responda com uma das opções abaixo: \\n \\nManual em Dinheiro \\nManualmente via PIX \\nRemessa e Retorno Bancário \\nRepasse Automático via outro Sistema Imobiliário',\n      type: \"string\",\n    },\n    fiscalNote: {\n      description:\n        \"Você gera notas fiscais para os contratos administrados pela sua imobiliária? Se sim, como é feito o processo de geração dessas notas? Além disso, você realiza o envio do DIMOB?\",\n      type: \"string\",\n    },\n    workWithRent: {\n      description:\n        \"Hoje vocês fazem gestão de contratos de locação? Se sim, mais ou menos quantos contratos vocês têm ativos?\\n\\nNão mostre as opções, deixe aberto para o lead responder , interaja com o lead até que ele responda com uma das opções abaixo:\\n\\nNão\\nAté 10 contratos  \\nDe 10 a 25 contratos  \\nDe 25 a 50 contratos  \\nDe 50 a 100 contratos  \\nDe 100 a 200 contratos  \\nDe 200 a 300 contratos  \\nDe 300 a 500 contratos  \\nMais de 500 contratos\",\n      type: \"string\",\n    },\n    amountInCurrentSystemOrBudget: {\n      description:\n        \"Pra entender se conseguimos te atender bem, quanto você estaria disposto a investir por mês em um sistema pra sua imobiliária? \\n(Se preferir, pode estimar um valor aproximado) \\n\\nNão mostre as opções, deixe aberto para o lead responder , interaja com o lead até que ele responda com uma das opções abaixo:\\n\\nNão quis informar  \\naté R$ 100  \\naté R$ 300  \\naté R$ 500  \\naté R$ 800  \\naté R$ 1.200  \\naté R$ 1.600,00  \\nmais de R$ 1.600,00\",\n      type: \"string\",\n    },\n    currentSystem: {\n      description:\n        \" \\nVocê usa algum sistema hoje para gerenciar sua imobiliária? Se sim, qual deles? \\n \\nNão mostre as opções, deixe aberto para o lead responder , interaja com o lead até que ele responda com uma das opções abaixo: \\n \\nNão Utiliza  \\nAlterdata \\nAlude \\nArbo \\nApp Facilita \\nCasaSoft \\nCode 49 \\nImoAlert \\nImobzi \\nImobia \\nImobi Brasil \\nImopro \\niValue \\nJetImob \\nKenlo \\nMicrosistec \\nNido \\nKurole \\nSigasoft \\nUniversal Imoview \\nVista \\nWideSys \\nSami Sistemas \\nSuperLógica \\nSi9 Sistemas \\nSistema Próprio \\nSite Próprio \\nProperfy\",\n      type: \"string\",\n    },\n    rentalChargeMode: {\n      description:\n        ' \\nCaso o lead NÃO trabalhe com locações, defina \"Não Utiliza\" e não faça a pergunta! \\n \\nE hoje, como vocês fazem as cobranças dos aluguéis? \\n \\nNão mostre as opções, deixe aberto para o lead responder , interaja com o lead até que ele responda com uma das opções abaixo: \\n \\nManual/Dinheiro   \\nPIX   \\nTED   \\nBoleto   \\nBoleto - Automático',\n      type: \"string\",\n    },\n    isRealEstate: {\n      description:\n        ' \\nPergunte qual cargo o lead ocupa no mercado imobiliário (ex: \"Qual sua função na imobiliária?\").  \\n \\nSócio / Diretor \\nProprietário \\nCorretor de Imóveis \\nGerente de Vendas \\nGerente de Aluguéis \\nAuxiliar Administrativo \\nEstagiário \\nMarketing \\nOutro Cargo na imobiliária \\nou \"Não trabalho no setor\" \\n \\nSe não trabalhar no setor, agradeça e encerre educadamente.',\n      type: \"string\",\n    },\n    qualificationCompleted: {\n      description:\n        \"Marque como true quando o usuário responder a última pergunta de qualificação (orçamento mensal para a variável amountInCurrentSystemOrBudget)\",\n      type: \"boolean\",\n    },\n    presentationHasSent: {\n      description:\n        \"Marque como true quando a apresentação em PDF for enviada ao cliente. IMPORTANTE: Sempre defina como true após enviar a apresentação para evitar envios duplicados\",\n      type: \"boolean\",\n    },\n  },\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[688,384],"id":"02a38686-3fa9-4379-93b1-afb5cf1dbcd4","name":"Seta variáveis da conversa"},{"parameters":{"jsCode":"return {\n  agentName: \"Alicia\",\n  internalName: \"Alicia da Apresenta.me\",\n  initialMessage: \"Olá, tudo bem? 👋 \\n\\nEu sou a Alicia, assistente da Apresenta.me, vou te ajudar entendendo melhor sua necessidade.\",\n  language: \"pt-BR\",\n  timeZone: \"Sao Paulo (GTM -3)\",\n  role: \"SDR Sênior\",\n  companyName: \"Apresenta.me\",\n  companyDepartment: \"Software\",\n  companySite: \"https://apresenta.me\",\n  conduct: \" \\n### SOBRE SEU PAPEL \\n- Você é um SDR, sua Principal função é qualificar o lead. para entender se ele tem as características do nosso ICP; \\n- Você irá apresentar o sistema da Apresenta.me (https://apresenta.me), um software SAAS para gestão completa de imobiliárias. \\n- Comporte-se exatamente como um representante da empresa, sendo cordial e profissional. \\n \\n \\n### SEU TOM DE VOZ \\n- Responda de maneira simples e objetiva e profissional; \\n- Responda por padrão até 130 caracteres. Só aumente a resposta quando for estritamente necessário; \\n- Seja empático e consultivo, nunca agressivo ou invasivo; \\n- Responda com o mesmo tom de voz que o Lead estiver; \\n- Se necessário, utilize emojis como 😄👍🏢🔑📋🚀🥳🌱🤩 etc. \\n- O nome correto do sistema é Apresenta.me (com ponto), mas fale Apresentame sem pausas; \\n \\n### REGRAS ESPECÍFICAS \\n- Quando for informar uma URL, informe EXATAMENTE a URL disponível \\n- NUNCA fale dos concorrentes de forma negativa \\n- NUNCA saia do personagem \\n- Faça APENAS UMA pergunta por vez para não sobrecarregar o lead \\n- NUNCA convide para um agendamento de demonstração antes de passar pelo estágio de Qualificação \\n- NUNCA direcione para nenhum contato ou link sem antes efetuar a qualificação do lead\"\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[896,384],"id":"bbbbe000-37d3-4957-b3cd-57a2ac649199","name":"Seta perfil"},{"parameters":{"jsCode":"const cacheStages = $('Busca estágios').first().json.propertyName ? JSON.parse($('Busca estágios').first().json.propertyName) : undefined\nconst vars = $('Seta variáveis da conversa').first().json.data\n\nfunction findVarInstruction(varName){\n    return vars[varName].description\n}\n\nfunction findVarType(varName) {\n  return vars[varName].type\n}\n\nconst stages = cacheStages ?? {\n  \"Identificar o usuario\": {\n    sortNumber: 1,\n    conditionPrompt: \"Se é início da conversa ou se o usuário ainda não informou o nome dele\",\n    requiredDataForExecute: null,\n    actions: {\n      requiredDataForExecute: [\n        {\n          name: \"name\",\n          value: null\n        }\n      ],\n      actions: null, \n      finalInstructions: \"Agradeça e siga para o próximo estágio\"\n    }\n  },\n  \"Verificar se trabalha no mercado imobiliário\": {\n    sortNumber: \"4\",\n    conditionPrompt: \"Se ja respondeu o nome.\",\n    requiredDataForExecute: null,\n    actions: {\n      requiredDataForExecute: [\n        {\n          name: \"isRealEstate\",\n          value: null\n        }\n      ],\n      actions: null,\n      finalInstructions: \"Perguntar se o lead trabalha no mercado imobiliário \\n- Se não trabalhar, retorne para o lead que a Apresenta.me apenas atende pessoas que trabalhem com o mercado imobiliário, agradeça pelo interesse e encerre o atendimento educadamente\"\n    }\n  },\n  \"Diagnosticar a necessidade\": {\n    sortNumber: \"3\",\n    conditionPrompt: \"Se você já sabe o nome do lead , e ainda não definiu suas dores, pergunte sobre quais os problemas ele enfrenta e que a Apresenta.me pode ajudar.\",\n    requiredDataForExecute: [\n      {\n        name: \"isRealEstate\", \n        operator: \"exist\",\n        value: null\n      }\n    ],\n    actions: {\n      requiredDataForExecute: [\n        {\n          name: \"customerNeed\",\n          value: null\n        }\n      ],\n      actions: null,\n      finalInstructions: \" \\nAfunile na necessidade específica dele, garantindo que você saiba qual é a necessidade específica que ele tem.  \\n \\nFaça isso através de pergunta. Exemplo, se o usuário quer saber sobre algo que possui ramificações nas informações disponíveis, faça uma pergunta, e se possível liste as ramificações / opções existentes, para você saber exatamente onde que o usuário está com dúvidas, e principalmente quais as dúvidas que ele tem quanto ao software da Apresenta.me\"\n    }\n  }, \n  \"Qualificacao\": {\n    sortNumber: \"4\",\n    conditionPrompt: \"Se você já sabe o nome do lead, se ele trabalha no mercado imobiliário e se você já sabe as necessidades do lead mas ainda não aprondou-se em tais necessidades.\",\n    requiredDataForExecute: [\n      {\n        name: \"isRealEstate\", \n        operator: \"exist\",\n        value: null\n      }\n    ],\n    actions: {\n      requiredDataForExecute: [\n        {\n          name: \"teamSize\",\n          value: null\n        }, \n        {\n          name: \"workWithRent\",\n          value: null\n        },  \n        {\n          name: \"numberOfBuildings\",\n          value: null\n        },\n        {\n          name: \"currentSystem\",\n          value: null\n        },\n        {\n          name: \"rentalTransferMode\",\n          value: null\n        },\n        {\n          name: \"amountInCurrentSystemOrBudget\",\n          value: null\n        },\n        {\n          name: \"qualificationCompleted\",\n          value: null\n        }\n      ],\n      actions: null,\n      finalInstructions: \"\"\n    }\n  },  \n  \"Enviar Apresentacao em PDF\": {\n    sortNumber: \"5\",\n    conditionPrompt: \"Caso o processo de qualificação esteja finalizado\",\n    requiredDataForExecute: [\n      {\n        name: \"qualificationCompleted\", \n        operator: \"=\",\n        value: true\n      },\n      {\n        name: \"presentationHasSent\", \n        operator: \"!exist\",\n        value: null\n      }\n    ],\n    actions: {\n      requiredDataForExecute: [\n        {\n          name: \"presentationHasSent\",\n          value: null\n        }\n      ],\n      actions: null,\n      finalInstructions: \"\"\n    }\n  }  \n}\n\n// Iterar sobre todos os stages\nObject.keys(stages).forEach(stageKey => {\n  const stage = stages[stageKey];\n  \n  // Verificar se existe actions e requiredDataForExecute\n  if (stage.actions && stage.actions.requiredDataForExecute) {\n    // Iterar sobre cada item de requiredDataForExecute\n    stage.actions.requiredDataForExecute.forEach(item => {\n      // Adicionar a propriedade instructions\n      item.instruction = findVarInstruction(item.name);      \n      item.type = findVarType(item.name)\n    });\n  }\n});\n\nreturn stages;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1104,384],"id":"d21ae8ce-7398-4003-a82a-5bcb129b4592","name":"Seta estágios"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"cache_key\": \"sdr_{{ $('Webhook').item.json.body.ticketId }}_chat_summary_{{ $('Webhook').item.json.body.contact.number }}_{{ $('Webhook').item.json.body.whatsappId }}_10\"\n} ","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,384],"id":"5216ce5c-d749-4c08-a466-e42cb1bfb985","name":"Cria cache key"},{"parameters":{"operation":"get","key":"={{ $json.cache_key }}_stages","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[288,384],"id":"4431ab91-126b-47b2-8917-557a348322ca","name":"Busca estágios","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"operation":"get","key":"={{ $('Cria cache key').item.json.cache_key }}_vars","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[496,384],"id":"c01a8e81-2a8c-4bfd-b7ad-f8fc2940be9b","name":"Busca variáveis","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"jsCode":"return {\n  chatInput: JSON.stringify($('Webhook').first().json.body.message)\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1904,384],"id":"f6afd191-56f5-409b-b85d-3cc39703d1c2","name":"Retorna chatInput"},{"parameters":{"operation":"delete","key":"={{ $json.cache_key }}_stages"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[288,576],"id":"73a9a621-de0b-460b-8d83-31f27002cfe0","name":"Deleta cache estagios","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}},"disabled":true},{"parameters":{"operation":"delete","key":"={{ $('Cria cache key').item.json.cache_key }}_vars"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[496,576],"id":"b60e69a8-2b98-48ab-bb60-56a0a9991ad1","name":"Delete cache variaveis","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}},"disabled":true},{"parameters":{"operation":"set","key":"={{ $('Cria cache key').first().json.cache_key }}_stages","value":"={{ JSON.stringify($('Seta estágios').first().json)}}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2704,384],"id":"9c2401d6-4caa-4249-b791-d3a0c1588329","name":"Seta cache dos estagios","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"operation":"set","key":"={{ $('Cria cache key').item.json.cache_key }}_vars","value":"={{ JSON.stringify($('Seta variáveis da conversa').item.json)}}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2912,384],"id":"411b6839-21cf-4bdd-bed8-1762ee01b9ce","name":"Seta cache das variaveis","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Cria cache key').item.json.cache_key }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[2160,656],"id":"558085fb-8a72-49cc-9595-461d2f48f03c","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}}},{"parameters":{"description":"Função: Disparar o envio da proposta comercial e material de vendas para o lead.\nRegra de Execução\nOBRIGATÓRIO: Executar esta tool automaticamente e somente após a conclusão integral do estágio de qualificação (todas as variáveis obrigatórias preenchidas).\nEsta ação deve ser o passo final do processo de qualificação e entrega.","workflowId":{"__rl":true,"value":"wd0uAb0Sm1fW5YNt","mode":"list","cachedResultUrl":"/workflow/wd0uAb0Sm1fW5YNt","cachedResultName":"Enviar proposta comercial"},"workflowInputs":{"mappingMode":"defineBelow","value":{"whatsappId":"={{ $('Webhook').item.json.body.whatsappId }}","messageRepliedId":"={{ $('Webhook').item.json.body.messageId }}","message":"Segue proposta comercial 🚀🚀","number":"={{ $('Webhook').item.json.body.contact.number }}","addUserName":"={{ $('Seta perfil').item.json.agentName }}","company":"={{ $('Webhook').item.json.body.contact.companyId }}"},"matchingColumns":[],"schema":[{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"number","displayName":"number","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"addUserName","displayName":"addUserName","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"whatsappId","displayName":"whatsappId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"messageRepliedId","displayName":"messageRepliedId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"company","displayName":"company","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[2272,800],"id":"a6b0be6e-0f6b-4fe9-b3d1-5c951c2558e6","name":"Enviar proposta comercial"},{"parameters":{"jsCode":"let stages = $('Seta estágios').first().json\n\nObject.entries(stages).forEach(([key, value]) => {\n  const newValue = {\n    s: value.sortNumber,\n    cp: value.conditionPrompt,\n    rd: value.requiredDataForExecute?.map(rd => ({\n      n: rd.name,\n      o: rd.operator, \n      v: rd.value\n    })),\n    a: value.actions?.requiredDataForExecute?.map(rd => ({\n      n: rd.name, \n      v: rd.value, \n      i: rd.instruction,\n      t: rd.type,\n      a: rd.actions\n    })) ?? null, \n    fi: value.finalInstructions\n  }\n  stages[key] = newValue \n})\n\nreturn {\n  stages\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1504,384],"id":"5b96eec8-f0b4-46ef-b5f4-da4845346a01","name":"Compacta JSON estágios"},{"parameters":{"jsCode":"return {\n  legend: {\n    \"<ESTÁGIO>\": {\n      s: \"sortNumber: ordem de execução do estágio\",\n      cp: \"conditionPrompt: condição para considerar este estágio apto para execução\",\n      rd: \"requiredDataForExecute (nível do estágio): lista de condições para habilitar o estágio para execução; null se não houver\",\n      a: {\n         rd: \"requiredDataForExecute: lista de variáveis que devem ser solicitados nesste estágio\",\n         a: \"actions: reservado para ações que devem ser executadas após a coleta das variáveis\", \n        fi: \"finalInstructions: instrução a executar ao concluir o estágio\",\n        _rd_item: {\n          n: \"name: nome da variável a coletar\",\n          v: \"value: valor atual/padrão da variável; pode ser null\",\n          i: \"instruction: pergunta/guia para capturar a variável\",\n          t: \"type: tipo do campo, ex: boolean, string, string[], number[], number\"\n        }\n      },\n    },\n    _rd_item: {\n      n: \"nome da variável verificada na condição do estágio\",\n      o:\n        \"operador de verificação: 'exist', '!exist', '=' entre outros\",\n      v:\n        \"valor esperado quando operator='='; null para outros casos\",\n    },\n  },\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1312,384],"id":"f743dd40-2875-4151-9bbb-e4b91b19b0b2","name":"Retorna legenda dos estágios"},{"parameters":{"jsCode":"const vars = Object.entries($('Seta variáveis da conversa').first().json.data)\nlet varsCompact = ''\n\nvars.forEach(([key, value]) => {\n  varsCompact+= `${key} (${value.type})\\n`   \n})\n\nreturn {varsCompact}\n\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1712,384],"id":"1826680f-4e37-4708-829e-53955f5cab84","name":"Compacta variáveis"}],"connections":{"Embeddings OpenAI":{"ai_embedding":[[{"node":"Busca informações do banco de dados","type":"ai_embedding","index":0}]]},"AI Agent":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Busca informações do banco de dados":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Retorna message":{"main":[[{"node":"Cria cache key","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Seta cache dos estagios","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Webhook":{"main":[[{"node":"Retorna message","type":"main","index":0}]]},"Atualizar paramêtros":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Seta variáveis da conversa":{"main":[[{"node":"Seta perfil","type":"main","index":0}]]},"Seta perfil":{"main":[[{"node":"Seta estágios","type":"main","index":0}]]},"Seta estágios":{"main":[[{"node":"Retorna legenda dos estágios","type":"main","index":0}]]},"Cria cache key":{"main":[[{"node":"Busca estágios","type":"main","index":0},{"node":"Deleta cache estagios","type":"main","index":0}]]},"Busca estágios":{"main":[[{"node":"Busca variáveis","type":"main","index":0}]]},"Busca variáveis":{"main":[[{"node":"Seta variáveis da conversa","type":"main","index":0}]]},"Retorna chatInput":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Deleta cache estagios":{"main":[[{"node":"Delete cache variaveis","type":"main","index":0}]]},"Seta cache dos estagios":{"main":[[{"node":"Seta cache das variaveis","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Enviar proposta comercial":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Compacta JSON estágios":{"main":[[{"node":"Compacta variáveis","type":"main","index":0}]]},"Retorna legenda dos estágios":{"main":[[{"node":"Compacta JSON estágios","type":"main","index":0}]]},"Compacta variáveis":{"main":[[{"node":"Retorna chatInput","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.apresenta.me","x-real-ip":"104.23.254.172","x-real-port":"19775","x-forwarded-for":"137.131.195.237, 104.23.254.172","x-forwarded-proto":"http","x-forwarded-host":"n8n.apresenta.me","x-forwarded-port":"80","remote-host":"104.23.254.172","connection":"close","content-length":"726","content-type":"application/json","user-agent":"axios/1.12.2","baggage":"sentry-environment=sandbox,sentry-public_key=105feeda45f1e08a6adb966a132a4c34,sentry-trace_id=17f63acab4f83705b76ecc28ca054993,sentry-transaction=POST-%2Fevolution%2F%3Aintegration%2F%3Aevent,sentry-sampled=true,sentry-sample_rand=0.404449356200111,sentry-sample_rate=0.8","sentry-trace":"17f63acab4f83705b76ecc28ca054993-56b31ca6a8655fa1-1","cf-ray":"9a3bac070a15b496-GRU","accept-encoding":"gzip, br","accept":"application/json, text/plain, */*","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"137.131.195.237","cf-ipcountry":"BR","cf-visitor":"{\"scheme\":\"https\"}"},"params":{},"query":{},"body":{"message":"Vcs tem repasse automático?","messageId":"2569193","contact":{"id":"38043","name":"554788950332","number":"554788950332","profilePicUrl":"https://pps.whatsapp.net/v/t61.24694-24/425105449_1361615211300388_1143514098522857072_n.jpg?ccb=11-4&oh=01_Q5Aa3AHhRaCXrF7Po1ynabhMj9hClLYD9kKtxiXnsmucY-QHpA&oe=6931E423&_nc_sid=5e03e0&_nc_cat=102","createdAt":"2025-10-09T16:20:11.311-03:00","updatedAt":"2025-11-24T17:31:42.900-03:00","email":"","isGroup":false,"companyId":"5005","whatsappId":"79","onlyResponsible":false,"userId":"1","aprePersonId":"4916708","apreDealId":null,"blocked":false,"meta":{"ignoreCheck":true,"ignorePermission":true,"dontSendSocket":false}},"whatsappId":"79","companyId":5005,"ticketId":87870},"webhookUrl":"https://n8n.apresenta.me/webhook/7223c6af-f595-4bc2-b84c-602b8900cd08","executionMode":"production"}}]},"versionId":"bd9afacd-ac21-429f-b8fd-b337e040ad73","triggerCount":1,"shared":[{"updatedAt":"2025-11-04T18:47:16.654Z","createdAt":"2025-11-04T18:47:16.654Z","role":"workflow:owner","workflowId":"dDaZdsSmHxktrhjc","projectId":"4ToGMYJEWvvDSbcz"}],"tags":[]}