26-10-2025 18:00/workflows/🎲-rag-apresenta.me-nQFtNzMPQw4qKbaY.json
{"createdAt":"2025-08-27T17:47:57.694Z","updatedAt":"2025-10-24T20:29:33.000Z","id":"nQFtNzMPQw4qKbaY","name":"🎲 RAG Apresenta.me","active":true,"isArchived":false,"nodes":[{"parameters":{"mode":"insert","tableName":"n8","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[640,880],"id":"4ef4b705-a450-463c-9b75-e5b964a04b38","name":"Postgres PGVector Store","credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[992,1440],"id":"62c3df08-1627-476e-93c5-9246cae64f47","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"weD4ayyAuWgClQqA","name":"OpenAi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[976,1072],"id":"aa227bf0-054b-4a63-939f-73afb602f989","name":"Default Data Loader"},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8","mode":"list","cachedResultName":"n8"},"deleteCommand":"delete","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-16,880],"id":"50c3c61f-9567-4426-ac89-edaa7ddde4b2","name":"Delete table or rows","executeOnce":true,"credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}}},{"parameters":{"jsCode":"return $('MySQL - Base de conhecimento').all()"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,880],"id":"af8c9260-43ce-4a24-b164-642f56a587a6","name":"Retorna base de conhecimento depois de remover do banco de dados"},{"parameters":{"hasOutputParser":true,"options":{"systemMessage":"=## 🧠 Apre.IA – Agente da Apresenta.me\n**Versão 2025-10-21 | Idioma: PT-BR**\n\n### Identidade\nSou **Apre.IA**, assistente virtual oficial da **Apresenta.me**.  \nFui treinada com a base de conhecimento e a experiência prática da equipe Apresenta.me, para atender gestores, corretores, parceiros e colaboradores internos com **respostas precisas, claras e seguras**.  \nFalo com a autoridade de quem **entende o sistema, conhece o cotidiano das imobiliárias e está aqui para orientar com confiança e empatia.**\n\n---\n\n### Diretrizes Principais\n- Utilizar **somente informações da KB (Base de Conhecimento)**.  \n- **Jamais inventar** valores, prazos, políticas, links, nomes ou dados externos.  \n- Quando a resposta não estiver presente na KB, responder:  \n  > “No momento, não tenho informações o suficiente para responder sua pergunta, mas você pode tirar sua dúvida com o setor responsável!”  \n- Responder sempre em **português**, com tom **profissional, acolhedor e direto** (até ~5 linhas).  \n- Evitar o uso de “eu” e “seu/sua”; preferir termos como “da imobiliária”, “do cliente” ou “da equipe”.  \n- Falar como **um especialista confiante**, que conhece profundamente a Apresenta.me.  \n- Manter postura empática e tom de **consultoria técnica**, e não de robô.  \n\n---\n\n### Contexto e Recuperação (RAG)\n1. Buscar trechos relevantes na **KB** via embeddings (*top-k 6–8*, priorizando versões recentes).  \n2. Injetar o histórico da conversa em formato cronológico:  \n   `{{ $('Compacta as últimas mensagens').item.json.lastMessageCompact }}`  \n   - `r`: papel (`\"u\"` = usuário, `\"a\"` = agente)  \n   - `t`: texto limpo (sem markdown)\n   - `s`: resumo limpo (sem markdown)\n   - `ts`: timestamp ISO local  \n3. **Interpretar o histórico em ordem cronológica**, dando **prioridade máxima à última mensagem do usuário** para entender o contexto atual.  \n4. A **intenção principal** deve ser inferida da sequência mais recente de mensagens, ignorando temas antigos quando o assunto mudar.  \n5. Em caso de dúvida sobre qual assunto o usuário se refere, **confirme brevemente antes de responder**:  \n   - Exemplo:  \n     - Usuário: “Quero que me mostre o passo a passo.”  \n     - Apre.IA: “Claro, {{ $('Webhook').item.json.body.contact.name }}! Só pra confirmar, o passo a passo que você quer é o de *cadastro no ApBank*, certo?”  \n6. Em caso de conflito entre histórico e KB, **a KB prevalece sempre**.  \n7. Se faltar informação essencial, recusar de forma educada e indicar o setor correto.  \n\n---\n\n### Estilo de Resposta\n- **Todas as respostas devem ser escritas em *markdown de WhatsApp*** — ou seja, usar *itálico*, **negrito**, listas curtas, travessões e emojis moderados para dar ritmo e clareza.  \n- Iniciar com saudação **apenas se o usuário cumprimentar primeiro**.  \n  - Exemplo 1 → “Olá, {{ $('Webhook').item.json.body.contact.name }}, aqui é a Apre.IA. Como posso ajudar hoje?”  \n  - Exemplo 2 → “Entendi, {{ $('Webhook').item.json.body.contact.name }}. Para cadastrar um usuário, acesse Administrador → Usuários → Cadastrar.”  \n- **Evitar cumprimentos desnecessários** se o usuário for direto ao ponto.  \n- Usar o **nome do contato** com naturalidade e proximidade, sempre que possível.  \n  - Exemplo: “Perfeito, *Lucas*! Nesse caso, acesse Financeiro → Repasses → Criar repasse.”  \n- Utilizar frases completas, firmes e empáticas, que transmitam domínio técnico e segurança.  \n- Priorizar clareza e objetividade, **sem termos excessivamente técnicos**.  \n- O tom deve refletir a Apresenta.me como **parceira e especialista**, transmitindo segurança e empatia.  \n\n---\n\n### Inteligência Empática (Contorno de Atendimento)\nSe o contato solicitar **um novo treinamento, revisão ou ajuda sobre um módulo específico** (como CRM, Locação, Financeiro etc.), siga esta conduta:  \n\n1. **Antes de encaminhar para o suporte**, tente entender a necessidade.  \n   - Exemplo:  \n     - Usuário: “Quero fazer o treinamento do módulo de CRM novamente.”  \n     - Apre.IA: “Certo, {{ $('Webhook').item.json.body.contact.name }}. O que você gostaria de rever no módulo de CRM?”  \n2. **Com base na resposta, busque instruções na KB** e oriente com segurança:  \n   - “Perfeito, {{ $('Webhook').item.json.body.contact.name }}! Para cadastrar um negócio, acesse CRM → Funil de Negócios → Novo → Preencha os campos obrigatórios e salve.”  \n3. **Se, mesmo após a explicação, o contato continuar com dificuldade**, responda com empatia e encaminhe de forma suave:  \n   - “Que pena, {{ $('Webhook').item.json.body.contact.name }}! Nesse caso, vou pedir que o time responsável entre em contato para te ajudar diretamente, tudo bem?”  \n4. **Evite redirecionar de imediato**; sempre tente resolver com base no conhecimento disponível primeiro.  \n\n---\n\n### Diretriz Final\n- A **KB é a fonte soberana** de todas as informações.  \n- O **histórico da conversa** serve apenas como apoio contextual.  \n- Cada resposta deve demonstrar **segurança, experiência e domínio técnico**, reforçando a confiança do cliente na Apresenta.me.  \n\n---\n\n### Informações do contato\n`{{ JSON.stringify($('Webhook').item.json.body.contact) }}`\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1552,624],"id":"b32c117f-9912-4f3e-86ae-cbd0a675cb33","name":"AI Agent"},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"=## 🧠 Apre.IA – Ferramenta de Consulta à Base de Conhecimento\n**Função:** Recuperar trechos relevantes da **KB (Knowledge Base)** da Apresenta.me, com foco em produtos, serviços, processos e materiais oficiais.\n\n### Instruções de uso\n- Buscar informações **somente** relacionadas à Apresenta.me.\n- Retornar trechos **curtos e objetivos** (até ~200 tokens).\n- **Nunca inventar** dados, políticas, prazos ou valores.\n- Priorizar versões **mais recentes** dos documentos.\n- Ignorar mensagens de saudação ou irrelevantes.\n- Caso não haja correspondência clara, retornar **vazio** (sem tentativa de resposta).\n\n### Contexto adicional\nO agente principal fornece o histórico da conversa em formato compactado:\n`{{ $('Compacta as últimas mensagens').item.json.lastMessageCompact }}`\n- `r`: papel (`\"u\"` = usuário, `\"a\"` = agente)\n- `t`: texto limpo e resumido (sem markdown)\n- `ts`: timestamp ISO local\n\n**Objetivo:** apoiar a Apre.IA na formulação da resposta final, sem gerar texto completo por conta própria.\n","tableName":"n8","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[1568,976],"id":"8c847fb0-beed-4239-b6d8-e27c5dbe9fe0","name":"Busca informações do banco de dados","credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":12}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1504,880],"id":"a1e4a982-4ca1-4047-9127-3fa608f4679c","name":"Schedule Trigger"},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"folderId","value":"1Q5MVSNtRnlHXXB184By_RdQXZzDKqony"}]},"options":{}},"id":"fc7aedff-6ad6-4dae-b05d-2cc875682d7a","name":"Seta id da pasta","type":"n8n-nodes-base.set","typeVersion":2,"position":[-1296,880]},{"parameters":{"authentication":"oAuth2","operation":"get","documentURL":"={{ $json.id }}"},"id":"ef7041e9-6d5e-42fc-b900-bef3aae2c8f3","name":"Obter texto do arquivo","type":"n8n-nodes-base.googleDocs","typeVersion":1,"position":[-672,880],"credentials":{"googleDocsOAuth2Api":{"id":"vOaUUz7O7G4o3EwZ","name":"Google Docs account"}}},{"parameters":{"resource":"fileFolder","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"={{ $json.folderId }}","mode":"id"}},"options":{"fields":["id","name","mimeType"]}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1088,880],"id":"bef0b580-2416-4327-9693-1375ca439a9a","name":"Search files and folders","credentials":{"googleDriveOAuth2Api":{"id":"rAwAhGC176WFfTt8","name":"Google Drive account"}}},{"parameters":{"jsCode":"return $input.all().filter(f => f.json.mimeType == 'application/vnd.google-apps.document');"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-896,880],"id":"8776ee24-31ee-462b-b4c1-c5321ed5199c","name":"Filtra por docs"},{"parameters":{"jsCode":"return $input.all().map(content => ({\"text\": content.json.content}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-464,880],"id":"6e3455d5-64bf-432a-9a2a-7d728bedf8b5","name":"Mapeia o conteúdo"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"pages","mode":"list","cachedResultName":"pages"},"returnAll":true,"options":{"outputColumns":["text"]}},"id":"f434d2e8-a5ce-4cbe-a94d-8cc127b42e55","name":"MySQL - Base de conhecimento","type":"n8n-nodes-base.mySql","typeVersion":2,"position":[-240,880],"executeOnce":true,"credentials":{"mySql":{"id":"xvtwxzFEQVXLZjm0","name":"MYSQL ajuda_apresenta"}}},{"parameters":{"jsCode":"return [...$input.all(), ...$('Mapeia o conteúdo').all()];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[416,880],"id":"8efe4be8-e55b-4727-b578-50208af0e32c","name":"Junta dados do documento com dados do banco"},{"parameters":{"httpMethod":"POST","path":"67c7d548-f722-4bed-ad82-72e6f747b960","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[912,400],"id":"462b4e4e-2bcf-4d01-bd2e-b14099440cb8","name":"Webhook","webhookId":"67c7d548-f722-4bed-ad82-72e6f747b960"},{"parameters":{"jsCode":"return {chatInput: $input.first().json.body.message}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,400],"id":"53570313-6854-44f6-8bfc-ce38d56e8701","name":"Retorna message"},{"parameters":{"method":"POST","url":"=https://api-chat-joao.apre.tv/api/messages/send","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"={\n    \"accept\": \"application/json, text/plain, */*\",\n    \"accept-language\": \"pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7\",\n    \"authorization\": \"Bearer kZaOTd+YZpjRUyyuQUpigJaEMk4vcW4YOymKPZX0Ts8=\",\n    \"company\": {{ $('Webhook').item.json.body.companyId }},\n    \"content-type\": \"application/json\"\n  } ","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"message","value":"={{ $json.output }}"},{"name":"number","value":"={{ $('Webhook').item.json.body.contact.name }}"},{"name":"addUserName","value":"Apr.IA"},{"name":"whatsappId","value":"={{ $('Webhook').item.json.body.whatsappId }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1904,624],"id":"85e1f1a6-d979-4137-9748-8813662374d4","name":"HTTP Request"},{"parameters":{"jsCode":"function cleanText(s) {\n  if (!s) return \"\";\n  // remove markdown leve e múltiplos espaços\n  s = s.replace(/[\\*_~`]+/g, \"\")\n       .replace(/\\s+/g, \" \")\n       .trim();\n  // corta para 220 chars\n  if (s.length > 220) s = s.slice(0, 217) + \"…\";\n  return s;\n}\n\nfunction roleFrom(msg) {\n  // dataJson.key.fromMe === true => agente (a); caso contrário, usuário (u)\n  const fromMe = msg?.dataJson?.key?.fromMe === true || msg?.fromMe === true;\n  return fromMe ? \"a\" : \"u\";\n}\n\nfunction tsFrom(msg) {\n  return msg.updatedAt || msg.createdAt || null;\n}\n\nfunction isNoise(t) {\n  if (!t) return true;\n  const low = t.toLowerCase();\n  const greetings = [\"oi\", \"ola\", \"olá\", \"opa, tudo bem?\", \"ooooii\"];\n  if (greetings.includes(low)) return true;\n  if (low.length < 2) return true;\n  return false;\n}\n\nconst raw = JSON.parse($('Webhook').first().json.body.lastMessages) || [];\nconsole.log({ raw })\nconst mapped = raw.map(m => ({\n  r: roleFrom(m),\n  t: cleanText(m.body || m?.dataJson?.message?.conversation || \"\"),\n  ts: tsFrom(m)\n}))\n.filter(m => !isNoise(m.t));\n\n// manter somente últimas 10 úteis (ordenar por ts asc e pegar tail)\nmapped.sort((a,b) => (new Date(a.ts||0)) - (new Date(b.ts||0)));\nconst trimmed = mapped;\n\n// mesclar mensagens consecutivas do mesmo role quando for continuação simples\nconst merged = [];\nfor (const m of trimmed) {\n  const last = merged[merged.length - 1];\n  if (last && last.r === m.r && (last.t + \" \" + m.t).length <= 220) {\n    last.t = cleanText(last.t + \" \" + m.t);\n    last.ts = m.ts; // manter o timestamp mais recente do bloco\n  } else {\n    merged.push({...m});\n  }\n}\n\nreturn {\n  chatInput: $input.first().json.chatInput,\n  lastMessageCompact: JSON.stringify(merged)\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1312,400],"id":"b7018087-55a9-4ee4-9852-828b35a11e42","name":"Compacta as últimas mensagens"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"claude-sonnet-4-20250514","cachedResultName":"Claude 4 Sonnet"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[1408,880],"id":"a6610ddd-8362-45ff-9168-46f5dee07fae","name":"Anthropic Chat Model","credentials":{"anthropicApi":{"id":"lyfyzPeMl3RhkeP5","name":"Anthropic account"}}}],"connections":{"Embeddings OpenAI":{"ai_embedding":[[{"node":"Postgres PGVector Store","type":"ai_embedding","index":0},{"node":"Busca informações do banco de dados","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Postgres PGVector Store","type":"ai_document","index":0}]]},"Delete table or rows":{"main":[[{"node":"Retorna base de conhecimento depois de remover do banco de dados","type":"main","index":0}]]},"Retorna base de conhecimento depois de remover do banco de dados":{"main":[[{"node":"Junta dados do documento com dados do banco","type":"main","index":0}]]},"Busca informações do banco de dados":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Seta id da pasta","type":"main","index":0}]]},"Seta id da pasta":{"main":[[{"node":"Search files and folders","type":"main","index":0}]]},"Obter texto do arquivo":{"main":[[{"node":"Mapeia o conteúdo","type":"main","index":0}]]},"Search files and folders":{"main":[[{"node":"Filtra por docs","type":"main","index":0}]]},"Filtra por docs":{"main":[[{"node":"Obter texto do arquivo","type":"main","index":0}]]},"Mapeia o conteúdo":{"main":[[{"node":"MySQL - Base de conhecimento","type":"main","index":0}]]},"MySQL - Base de conhecimento":{"main":[[{"node":"Delete table or rows","type":"main","index":0}]]},"Junta dados do documento com dados do banco":{"main":[[{"node":"Postgres PGVector Store","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Retorna message","type":"main","index":0}]]},"Retorna message":{"main":[[{"node":"Compacta as últimas mensagens","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Compacta as últimas mensagens":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.apresenta.me","x-real-ip":"172.68.191.166","x-real-port":"20287","x-forwarded-for":"186.227.138.107, 172.68.191.166","x-forwarded-proto":"http","x-forwarded-host":"n8n.apresenta.me","x-forwarded-port":"80","remote-host":"172.68.191.166","connection":"close","content-length":"62991","accept":"application/json, text/plain, */*","accept-encoding":"gzip, br","user-agent":"axios/1.12.2","cf-ray":"993bf4caae21dcd8-NVT","content-type":"application/json","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"186.227.138.107","cf-ipcountry":"BR","cf-visitor":"{\"scheme\":\"https\"}"},"params":{},"query":{},"body":{"message":"como cadastro??","mediaAnalysis":{"id":"chatcmpl-CUHxZLYrbFc9o2Qr74ukuWbfW5Eeg","object":"chat.completion","created":1761334913,"model":"gpt-4o-2024-08-06","choices":[{"index":0,"message":{"role":"assistant","content":"A imagem mostra uma tela de um laptop com um sistema ou aplicativo aberto, provavelmente para gerenciamento de usuários. Aqui está uma análise detalhada do que é visível:\n\n1. **Cabeçalho:**\n   - Logotipo da empresa \"LUZ\" no canto superior esquerdo.\n   - Barra de navegação com ícones de diversas funções (por exemplo, home, busca) e caixa de pesquisa.\n\n2. **Área de Conteúdo Principal:**\n   - Título \"Listando Usuários\", indicando a funcionalidade atual do sistema.\n   - Barra de pesquisa para localizar usuários por código ou nome.\n   - Filtros disponíveis: Grupo de Usuários, Equipe, Ativo, Online.\n   - Botões de ação: Buscar, Cadastrar, Remover, Responsabilidades.\n\n3. **Tabela de Usuários Listados:**\n   - Colunas: Nome, Informações Gerais, E-mail para o site, Grupo, Equipe, Ordem, Ativo.\n   - Diversos usuários listados com detalhes como nome, e-mail, grupo e equipe.\n   - Indicadores de status (por exemplo, ativo ou não).\n\n4. **Elementos Visuais e Outros Detalhes:**\n   - Alguns usuários têm ícones personalizados ou com as iniciais ao lado de seus nomes.\n   - Cores são usadas para distinguir diferentes grupos ou status, como verde para ativo.\n   - O rodapé da tela mostra alguns ícones do sistema operacional e um horário (16:29) com condições meteorológicas (23°C, com vento).\n\n5. **Ambiente:**\n   - Laptop da marca Acer.\n   - Contexto sugere um ambiente de escritório (garrafa d'água, cadernos).\n\nEssa imagem parece ser de um sistema de gerenciamento de usuários, possivelmente usado para organização administrativa ou de equipe, com funcionalidades que permitem filtrar e gerenciar as informações dos usuários cadastrados.","refusal":null,"annotations":[]},"logprobs":null,"finish_reason":"stop"}],"usage":{"prompt_tokens":1134,"completion_tokens":390,"total_tokens":1524,"prompt_tokens_details":{"cached_tokens":0,"audio_tokens":0},"completion_tokens_details":{"reasoning_tokens":0,"audio_tokens":0,"accepted_prediction_tokens":0,"rejected_prediction_tokens":0}},"service_tier":"default","system_fingerprint":"fp_cbf1785567"},"contact":{"id":"34529","name":"554788950332","number":"554788950332","profilePicUrl":null,"createdAt":"2025-08-26T13:37:58.507-03:00","updatedAt":"2025-10-24T16:41:35.530-03:00","email":null,"isGroup":false,"companyId":"10","whatsappId":"2","onlyResponsible":false,"userId":"1","aprePersonId":null,"apreDealId":null,"meta":{"ignoreCheck":true,"ignorePermission":true}},"whatsappId":"2","companyId":10,"lastMessages":"[{\"body\":\"como cadastro??\",\"messageType\":\"image\",\"createdAt\":\"2025-10-24T16:41:31.000-03:00\",\"updatedAt\":\"2025-10-24T16:41:37.352-03:00\",\"dataJson\":{\"key\":{\"id\":\"3A81560E8C30635B6195\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"imageMessage\":{\"url\":\"https://mmg.whatsapp.net/v/t62.7118-24/569478656_1586399352733248_485923634862033195_n.enc?ccb=11-4&oh=01_Q5Aa2wH7itNETEqSCoHa_A96cba2tQOEL6YCjLo6TvmwcO-dvw&oe=69233841&_nc_sid=5e03e0&mms3=true\",\"width\":1600,\"height\":900,\"caption\":\"como cadastro??\",\"mediaKey\":\"aklTzQ5wTl4dBIBJdNZAKu9HuxkKwo5MSTx7BTKgCXQ=\",\"mimetype\":\"image/jpeg\",\"directPath\":\"/v/t62.7118-24/569478656_1586399352733248_485923634862033195_n.enc?ccb=11-4&oh=01_Q5Aa2wH7itNETEqSCoHa_A96cba2tQOEL6YCjLo6TvmwcO-dvw&oe=69233841&_nc_sid=5e03e0&_nc_hot=1761334890\",\"fileLength\":\"171724\",\"fileSha256\":\"izLTNaVqScttqAs0jWXnxoCHqMNWzXX2MG6cE9nc+go=\",\"contextInfo\":{\"pairedMediaType\":\"NOT_PAIRED_MEDIA\",\"statusSourceType\":\"IMAGE\"},\"scanLengths\":[13500,59685,34057,64480],\"scansSidecar\":\"C+ihCsjncj4ZafOotiINdwGAei0P8EoLbCE0RIYB7KUG2y4Su+JxRg==\",\"fileEncSha256\":\"uzcaYQWuLIFaVXVst/qyeennlsTJmWDGRjifb1n9wbw=\",\"jpegThumbnail\":\"/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDABsSFBcUERsXFhceHBsgKEIrKCUlKFE6PTBCYFVlZF9VXVtqeJmBanGQc1tdhbWGkJ6jq62rZ4C8ybqmx5moq6T/2wBDARweHigjKE4rK06kbl1upKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKT/wgARCAApAEgDASIAAhEBAxEB/8QAGgAAAgMBAQAAAAAAAAAAAAAABAUAAgMBBv/EABcBAQEBAQAAAAAAAAAAAAAAAAABAgP/2gAMAwEAAhADEAAAAFbnz/oYK7vrQVWHBXk2xEUEmGzFZovpNUd9x1xPWxtguzlGhU5UXMsEvYTm4bYHodwG0NZWc9f/xAAZEQADAQEBAAAAAAAAAAAAAAAAARECIRD/2gAIAQIBAT8AXCsrKPKvTBCePTEQhB8P/8QAFxEAAwEAAAAAAAAAAAAAAAAAAAERIP/aAAgBAwEBPwB4o8QeKf/EADIQAAECBAEJBQkAAAAAAAAAAAEAAgMEBREhEhMVIjFBUVJxFENTYdEjJDIzNEJjcoH/2gAIAQEAAT8AZHcQ5r7Kmy0KNLBz2AnihT5c92tGS3ItFS3KUaTL8Cn0yWabaydToNtVzkHslmvBxxUNjttlSSOyYk7VD6lAea2BHinJ5wPRTLy6M8eaydU9FSD7sf2UNBE4InBOKim0Nx8kJPOnLBIJKMS4NgpKoNloZYRe5um1tgA1EK43kRrjbYMWnPxo1seGo1XD2FoZa4Uq+IWtGFlDg5V3OwYN/FES8MmzcocSs5L8gQiS4+wIRZfkCEaX8MLPy47oLOy7xbNgJrREh+xOzcn/AEDU/d0W/wDi9Ed64r1UL4lTvnjov//+AAMA/9k=\",\"firstScanLength\":13500,\"imageSourceType\":\"USER_IMAGE\",\"firstScanSidecar\":\"C+ihCsjncj4ZaQ==\",\"mediaKeyTimestamp\":\"1761334247\",\"midQualityFileSha256\":\"zecail9SWJv5WYet2usiITJlnynrlt+zQf5PVP0EHkI=\"},\"messageContextInfo\":{\"messageSecret\":\"+3c+kPi9M1FAMFWMtQbVT7JZ9NipsK/fP82HAzmjfHo=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"Ht8gYVrfFbVKNw==\",\"recipientTimestamp\":\"1761315511\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"899e3cf4-2275-46cf-b198-8b403574aad6\",\"contextInfo\":{\"pairedMediaType\":\"NOT_PAIRED_MEDIA\",\"statusSourceType\":\"IMAGE\"},\"messageType\":\"imageMessage\",\"messageTimestamp\":1761334891},\"id\":\"2919390\",\"mediaPath\":\"3A81560E8C30635B6195.jpg\",\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"file\":{\"id\":\"248552\",\"companyId\":\"10\",\"moduleType\":\"Message\",\"moduleId\":\"2919390\",\"collection\":\"file\",\"bucket\":\"ticket/110928/\",\"name\":\"1ded5fe4-f52b-4dc5-a684-4af7fa5139cd\",\"fileName\":\"3A81560E8C30635B6195\",\"version\":null,\"extension\":\"jpg\",\"mimeType\":\"image/jpeg\",\"size\":\"171724\",\"createdAt\":\"2025-10-24T16:41:36.990-03:00\",\"updatedAt\":\"2025-10-24T16:41:36.990-03:00\",\"meta\":{}},\"mediaUrl\":\"https://grqgzepwdxag.compat.objectstorage.sa-saopaulo-1.oraclecloud.com/files.apre.chat/000010/ticket/110928/3A81560E8C30635B6195.jpg\",\"meta\":{}},{\"body\":\"como cadastro??\",\"messageType\":\"image\",\"createdAt\":\"2025-10-24T16:31:51.000-03:00\",\"updatedAt\":\"2025-10-24T16:31:53.888-03:00\",\"dataJson\":{\"key\":{\"id\":\"3A8D1C8855A4479B917E\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"imageMessage\":{\"url\":\"https://mmg.whatsapp.net/v/t62.7118-24/569478656_1586399352733248_485923634862033195_n.enc?ccb=11-4&oh=01_Q5Aa2wH7itNETEqSCoHa_A96cba2tQOEL6YCjLo6TvmwcO-dvw&oe=69233841&_nc_sid=5e03e0&mms3=true\",\"width\":1600,\"height\":900,\"caption\":\"como cadastro??\",\"mediaKey\":\"aklTzQ5wTl4dBIBJdNZAKu9HuxkKwo5MSTx7BTKgCXQ=\",\"mimetype\":\"image/jpeg\",\"directPath\":\"/v/t62.7118-24/569478656_1586399352733248_485923634862033195_n.enc?ccb=11-4&oh=01_Q5Aa2wH7itNETEqSCoHa_A96cba2tQOEL6YCjLo6TvmwcO-dvw&oe=69233841&_nc_sid=5e03e0\",\"fileLength\":\"171724\",\"fileSha256\":\"izLTNaVqScttqAs0jWXnxoCHqMNWzXX2MG6cE9nc+go=\",\"contextInfo\":{\"statusSourceType\":\"IMAGE\"},\"scanLengths\":[13500,59685,34057,64480],\"scansSidecar\":\"C+ihCsjncj4ZafOotiINdwGAei0P8EoLbCE0RIYB7KUG2y4Su+JxRg==\",\"fileEncSha256\":\"uzcaYQWuLIFaVXVst/qyeennlsTJmWDGRjifb1n9wbw=\",\"jpegThumbnail\":\"/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDABsSFBcUERsXFhceHBsgKEIrKCUlKFE6PTBCYFVlZF9VXVtqeJmBanGQc1tdhbWGkJ6jq62rZ4C8ybqmx5moq6T/2wBDARweHigjKE4rK06kbl1upKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKT/wgARCABIAEgDASIAAhEBAxEB/8QAGgAAAwEBAQEAAAAAAAAAAAAAAAECAwUEBv/EABYBAQEBAAAAAAAAAAAAAAAAAAABAv/aAAwDAQACEAMQAAAA9i91nOnqquUuuHHjszHGOkVWuWuVUqoTQpqSQIjXHUsRVIkqHIgI+ZqWU5qwjRmS3cec9BL4GAwBsAAEBH//xAAaEQADAQADAAAAAAAAAAAAAAAAARESECAw/9oACAECAQE/AKysrLxPLSNo2jaNrt//xAAYEQADAQEAAAAAAAAAAAAAAAAAESAwMf/aAAgBAwEBPwCeZIQhX//EAC8QAAIBAgQCBwkBAAAAAAAAAAABAwIRBRQhUwRSEBIVMUFxkRMiMkJRYWKBobH/2gAIAQEAAT8AeFQ/Lc7Ji+rHhEXOx4PRzs7Gp5x4N+aHgz50PBqudDwmW3xISV/i/ol9yx+i10WO8rpqdPuuzOpNzopjoqtVqKk6nmK68DUuPQY2R3VKRSvyF5i8z99FVx3GxFNrdwvLo06HawxlLuUsTOsN/cuNjYyjEZKaWrt38bnaMvM/UWIyr5n6ixGXmfqVYhLUtKmv2Z2bcq9TPTblRnptyoz0+5UZOHdMnFui4OLcZk4dxi4SHcZk4Nxi4Ph9xmS4bcZkuG3KhzSaf0U8l/t9TMSX/wAPby2a8T28tlrqu8XESX0ehmJLXvp4D4iW3fqOeXrWTP/+AAMA/9k=\",\"firstScanLength\":13500,\"imageSourceType\":\"USER_IMAGE\",\"firstScanSidecar\":\"C+ihCsjncj4ZaQ==\",\"mediaKeyTimestamp\":\"1761334247\",\"midQualityFileSha256\":\"zecail9SWJv5WYet2usiITJlnynrlt+zQf5PVP0EHkI=\"},\"messageContextInfo\":{\"messageSecret\":\"nUya5qz+EQ00kdVxe1hJB5XAoLrQmA/4gLPTZH1n4+U=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"Ht8gYVrfFbVKNw==\",\"recipientTimestamp\":\"1761315511\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"899e3cf4-2275-46cf-b198-8b403574aad6\",\"contextInfo\":{\"statusSourceType\":\"IMAGE\"},\"messageType\":\"imageMessage\",\"messageTimestamp\":1761334311},\"id\":\"2919382\",\"mediaPath\":\"3A8D1C8855A4479B917E.jpg\",\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"file\":{\"id\":\"248551\",\"companyId\":\"10\",\"moduleType\":\"Message\",\"moduleId\":\"2919382\",\"collection\":\"file\",\"bucket\":\"ticket/110928/\",\"name\":\"d029d0b7-9cb8-481c-88ae-58570719ac50\",\"fileName\":\"3A8D1C8855A4479B917E\",\"version\":null,\"extension\":\"jpg\",\"mimeType\":\"image/jpeg\",\"size\":\"171724\",\"createdAt\":\"2025-10-24T16:31:53.509-03:00\",\"updatedAt\":\"2025-10-24T16:31:53.509-03:00\",\"meta\":{}},\"mediaUrl\":\"https://grqgzepwdxag.compat.objectstorage.sa-saopaulo-1.oraclecloud.com/files.apre.chat/000010/ticket/110928/3A8D1C8855A4479B917E.jpg\",\"meta\":{}},{\"body\":\"como faço pra cadastrar?\",\"messageType\":\"image\",\"createdAt\":\"2025-10-24T16:29:42.000-03:00\",\"updatedAt\":\"2025-10-24T16:29:44.135-03:00\",\"dataJson\":{\"key\":{\"id\":\"3A720B4FD9CB9F0A1884\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"imageMessage\":{\"url\":\"https://mmg.whatsapp.net/v/t62.7118-24/571403178_685481517515820_940090496314471262_n.enc?ccb=11-4&oh=01_Q5Aa2wEjgdPh5Fx3xlvYNDw2RhgqBZB3pM2OaObNNGSOUU5XVg&oe=69234E45&_nc_sid=5e03e0&mms3=true\",\"width\":1600,\"height\":900,\"caption\":\"como faço pra cadastrar?\",\"mediaKey\":\"OsWuHvCbjNaDe4yu4pN9EaZhwP92CxJA2h9KjBoqsz4=\",\"mimetype\":\"image/jpeg\",\"directPath\":\"/v/t62.7118-24/571403178_685481517515820_940090496314471262_n.enc?ccb=11-4&oh=01_Q5Aa2wEjgdPh5Fx3xlvYNDw2RhgqBZB3pM2OaObNNGSOUU5XVg&oe=69234E45&_nc_sid=5e03e0\",\"fileLength\":\"168199\",\"fileSha256\":\"1ACICxKBzfLWNgOWJ4HtH7t8HPZcmPMJ/hEcfaqSjDg=\",\"contextInfo\":{\"statusSourceType\":\"IMAGE\"},\"scanLengths\":[13488,58692,32979,63038],\"scansSidecar\":\"pHyQpCRliQxCIz0nEwPrTADUk6M8HWNBUwh+x7MOrXK/5KgCPkj2pA==\",\"fileEncSha256\":\"+J9Is3rFiVbonb0ytTc29MOvcYANB5lOkdlyMiF/A8o=\",\"jpegThumbnail\":\"/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDABsSFBcUERsXFhceHBsgKEIrKCUlKFE6PTBCYFVlZF9VXVtqeJmBanGQc1tdhbWGkJ6jq62rZ4C8ybqmx5moq6T/2wBDARweHigjKE4rK06kbl1upKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKT/wgARCABIAEgDASIAAhEBAxEB/8QAGgAAAwEBAQEAAAAAAAAAAAAAAAECAwUEBv/EABYBAQEBAAAAAAAAAAAAAAAAAAABAv/aAAwDAQACEAMQAAAA9i92hzZ6qOWusVxp7MRyDolVtjrlTKomkJOSQIz2w2LEVSJKhyIQfNUiLcVY4tma2cec9BL4GAABQBQCAP/EABoRAAMBAQEBAAAAAAAAAAAAAAABERIQIDD/2gAIAQIBAT8ApWVl5PlpG0bNm14nP//EABcRAQEBAQAAAAAAAAAAAAAAABEAIDD/2gAIAQMBAT8A7kRG/wD/xAAsEAACAQIEBAUEAwAAAAAAAAAAARECAwQFFFMSITFBFTJSYXEQEyKBM1GR/9oACAEBAAE/AHlVntJ4VafdoeUWo87k8Ho9bHk1Pas8GW4VZO+1aHk1XrQ8ouJcq0cKbT4unuJL+yPolPaCDr2LlNbp/Bwz7d+P5E2UUW25U/6KhHD8imOg5gmew5GMoUULnBT08wvk/Z+xShyMb9xdEUxHQUHMlQT7DGMofElBSxM4hskbcDYyjMblNHCm/mRZleS8zFmV71sWZ3l1qbKsxvVLlW0a+/uMePv7jNff3KjXX9yo0VneNHa3RYS1uMWEs+tiwljcZpLG4zR4fcZo8NuM0eF3Kh4mpQffrnryFfuJ849jUXIan8jUXOXPp1QsTW2+coWKrht/o1Nzl0kqxF2YTR///gADAP/Z\",\"firstScanLength\":13488,\"imageSourceType\":\"USER_IMAGE\",\"firstScanSidecar\":\"pHyQpCRliQxCIw==\",\"mediaKeyTimestamp\":\"1761334177\",\"midQualityFileSha256\":\"EUpeNqYRNDDvGSOvN1+zX1LWnaDDt5sLD2CgdANENvE=\"},\"messageContextInfo\":{\"messageSecret\":\"4GZmbi8MKUezLMHFN0q5QWxcOcPdEbe7Dpp/5usQX7M=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"Ht8gYVrfFbVKNw==\",\"recipientTimestamp\":\"1761315511\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"899e3cf4-2275-46cf-b198-8b403574aad6\",\"contextInfo\":{\"statusSourceType\":\"IMAGE\"},\"messageType\":\"imageMessage\",\"messageTimestamp\":1761334182},\"id\":\"2919367\",\"mediaPath\":\"3A720B4FD9CB9F0A1884.jpg\",\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"file\":{\"id\":\"248550\",\"companyId\":\"10\",\"moduleType\":\"Message\",\"moduleId\":\"2919367\",\"collection\":\"file\",\"bucket\":\"ticket/110928/\",\"name\":\"dd5c2c32-e050-4be6-8636-d9d6fb3981f1\",\"fileName\":\"3A720B4FD9CB9F0A1884\",\"version\":null,\"extension\":\"jpg\",\"mimeType\":\"image/jpeg\",\"size\":\"168199\",\"createdAt\":\"2025-10-24T16:29:43.959-03:00\",\"updatedAt\":\"2025-10-24T16:29:43.959-03:00\",\"meta\":{}},\"mediaUrl\":\"https://grqgzepwdxag.compat.objectstorage.sa-saopaulo-1.oraclecloud.com/files.apre.chat/000010/ticket/110928/3A720B4FD9CB9F0A1884.jpg\",\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nPerfeito, 554788950332! Entendi sua dúvida sobre o cadastro da conta ApBank. Como já expliquei, a conta é criada pela equipe da Apresenta.me, mas vou te dar o processo completo e detalhado:\\n\\n## 📋 **Passo a Passo Completo - ApBank**\\n\\n**🔹 Passo 1** - Documentos necessários:\\n- Contrato Social da Imobiliária\\n- Comprovante de CNPJ\\n- Conta Bancária com chave pix\\n- Documento com foto do responsável legal\\n\\n**🔹 Passo 2** - Entre em contato:\\n*Entre em contato com o time da Apresenta.me* e solicite a criação da conta ApBank. A equipe criará a conta para a imobiliária.\\n\\n**🔹 Passo 3** - Aprovação no Sistema:\\nApós a criação, acesse: **Financeiro → ApBank - Conta Digital → Configurações ApBank**\\n- Clique no nome da empresa\\n- Visualize todas as informações da conta\\n- Clique em *\\\"Acessar aprovação online\\\"*\\n\\n**🔹 Passo 4** - Validação Final:\\nEnvie os documentos e realize a *selfie de identificação* (deve ser feito pelo responsável legal da empresa).\\n\\n💡 **Importante**: A aprovação é obrigatória (determinação do Banco Central) e deve ser feita pela pessoa que consta como responsável no contrato social.\\n\\nPrecisa de mais alguma informação sobre o processo, 554788950332?\",\"messageType\":\"conversation\",\"createdAt\":\"2025-10-24T16:29:39.000-03:00\",\"updatedAt\":\"2025-10-24T16:29:41.319-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB0D0D5FFB5F21D06CB329C3B71C0AB88F1123F\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nPerfeito, 554788950332! Entendi sua dúvida sobre o cadastro da conta ApBank. Como já expliquei, a conta é criada pela equipe da Apresenta.me, mas vou te dar o processo completo e detalhado:\\n\\n## 📋 **Passo a Passo Completo - ApBank**\\n\\n**🔹 Passo 1** - Documentos necessários:\\n- Contrato Social da Imobiliária\\n- Comprovante de CNPJ\\n- Conta Bancária com chave pix\\n- Documento com foto do responsável legal\\n\\n**🔹 Passo 2** - Entre em contato:\\n*Entre em contato com o time da Apresenta.me* e solicite a criação da conta ApBank. A equipe criará a conta para a imobiliária.\\n\\n**🔹 Passo 3** - Aprovação no Sistema:\\nApós a criação, acesse: **Financeiro → ApBank - Conta Digital → Configurações ApBank**\\n- Clique no nome da empresa\\n- Visualize todas as informações da conta\\n- Clique em *\\\"Acessar aprovação online\\\"*\\n\\n**🔹 Passo 4** - Validação Final:\\nEnvie os documentos e realize a *selfie de identificação* (deve ser feito pelo responsável legal da empresa).\\n\\n💡 **Importante**: A aprovação é obrigatória (determinação do Banco Central) e deve ser feita pela pessoa que consta como responsável no contrato social.\\n\\nPrecisa de mais alguma informação sobre o processo, 554788950332?\"},\"pushName\":\"Você\",\"instanceId\":\"899e3cf4-2275-46cf-b198-8b403574aad6\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1761334179},\"id\":\"2919366\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"_sandbox_\\nOlá! Bem-vindo(a) ao nosso atendimento de vendas! Como posso ajudá-lo(a) hoje?\\n\\n*[ 1 ]* - Ver imóveis disponíveis\\n*[ 2 ]* - Consultar valores\\n*[ 3 ]* - Agendar visita\\n*[ 4 ]* - Falar com corretor\",\"messageType\":\"conversation\",\"createdAt\":\"2025-10-24T16:28:20.000-03:00\",\"updatedAt\":\"2025-10-24T16:28:25.258-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB03B2CFF875EE1C4FD2B95978B67DDB65B513D\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"SERVER_ACK\",\"message\":{\"conversation\":\"_sandbox_\\nOlá! Bem-vindo(a) ao nosso atendimento de vendas! Como posso ajudá-lo(a) hoje?\\n\\n*[ 1 ]* - Ver imóveis disponíveis\\n*[ 2 ]* - Consultar valores\\n*[ 3 ]* - Agendar visita\\n*[ 4 ]* - Falar com corretor\"},\"pushName\":\"Teste Apre\",\"instanceId\":\"899e3cf4-2275-46cf-b198-8b403574aad6\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1761334100},\"id\":\"2919363\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"como faço pra cadastrar isso aqui então??\",\"messageType\":\"image\",\"createdAt\":\"2025-10-24T16:28:18.000-03:00\",\"updatedAt\":\"2025-10-24T16:28:21.326-03:00\",\"dataJson\":{\"key\":{\"id\":\"3A2AB869180915F9BE7A\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"imageMessage\":{\"url\":\"https://mmg.whatsapp.net/v/t62.7118-24/530830864_1440076244409667_6688995534940513155_n.enc?ccb=11-4&oh=01_Q5Aa2wF54MvrC6dQhxpZBxuO_taOdH12Ip2hzGlXIRA_P7bS4g&oe=69233DBA&_nc_sid=5e03e0&mms3=true\",\"width\":1600,\"height\":900,\"caption\":\"como faço pra cadastrar isso aqui então??\",\"mediaKey\":\"oC6ajpb2w3XmvdWFJSaqlnwOIZfmcLwsTbWToaQeoxI=\",\"mimetype\":\"image/jpeg\",\"directPath\":\"/v/t62.7118-24/530830864_1440076244409667_6688995534940513155_n.enc?ccb=11-4&oh=01_Q5Aa2wF54MvrC6dQhxpZBxuO_taOdH12Ip2hzGlXIRA_P7bS4g&oe=69233DBA&_nc_sid=5e03e0\",\"fileLength\":\"179039\",\"fileSha256\":\"p1MptVGT7lPFiPr7kJzqSypssAY9iiv+uFZzFlfvNuI=\",\"contextInfo\":{\"statusSourceType\":\"IMAGE\"},\"scanLengths\":[13663,63852,35109,66413],\"scansSidecar\":\"RqKC/ABIjjfLM4aLxKh+klWXkQxVA6wAwN8ks3moeNrpJ9/XRhhudA==\",\"fileEncSha256\":\"V4cxUtAJ+5cE+h8I88wrodvVjgLsT2w3uvzmpyz2kSU=\",\"jpegThumbnail\":\"/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDABsSFBcUERsXFhceHBsgKEIrKCUlKFE6PTBCYFVlZF9VXVtqeJmBanGQc1tdhbWGkJ6jq62rZ4C8ybqmx5moq6T/2wBDARweHigjKE4rK06kbl1upKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKT/wgARCABIAEgDASIAAhEBAxEB/8QAGgABAAMBAQEAAAAAAAAAAAAAAAECBQMEBv/EABcBAQEBAQAAAAAAAAAAAAAAAAABAgP/2gAMAwEAAhADEAAAAMlZdwlUSRKsF3NH1T0Sx5Y9smfTTisumjCZTTS9pTEk0raCKW5nJUeqca1bDKqmxGVJp8/DMvV4CZ450BAKBzGn/8QAGxEAAwADAQEAAAAAAAAAAAAAAAEREBJhEyD/2gAIAQIBAT8AnCcIRZrKylfyiEZGTG7N2ejN2J0//8QAHREAAgEEAwAAAAAAAAAAAAAAABEBEBITUQIwYf/aAAgBAwEBPwDJy2ZJL5L/AAujXWxjqhCFT//EACwQAAECBAMIAQUBAAAAAAAAAAEAAgMEESEFE0EQEhQxMlFScRUiNEJhgVP/2gAIAQEAAT8AE1EB6kJh3YIzFebQs1hN2BB8Ot2IOhagoZWtQgIVOorchkdayB2KyBoshZCyVklZLijDcFuvA5LgZci8MI4fLH8KJ2Gy55AhHC4FLEo4TCpZxXxDPNHCBpETsJcDZ4UfDnMZWoK3v0g4HQ7LbCBRGDU9TqIw+ziojaQ3VcSKIelQFCisNn9X9RJvdTpIlnn9Ie9gKNVpsPpE2PtT32sT0hsBCJFUCrIo8jfVT9pSJ6Rxl1bAIYx3AKGMCnSF8ze7EMaH+aGMs1YhjEKt2FHFYFK0KnZ9kaXdukiuiElGPKhXCRxouEj9kZaP4oS0fxRl44/Arh4/gU6FGBoWkKI17B9QIX///gADAP/Z\",\"firstScanLength\":13663,\"imageSourceType\":\"USER_IMAGE\",\"firstScanSidecar\":\"RqKC/ABIjjfLMw==\",\"mediaKeyTimestamp\":\"1761334071\",\"midQualityFileSha256\":\"Qc/EvxqpJoSUpJtdDcErSGMixm94Ed3LN5Mv8OSybQk=\"},\"messageContextInfo\":{\"messageSecret\":\"MUule9cE4LH3oPMj+/t7y4dxp2YW+F3Y75dfd6+QuMw=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"Ht8gYVrfFbVKNw==\",\"recipientTimestamp\":\"1761315511\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"899e3cf4-2275-46cf-b198-8b403574aad6\",\"contextInfo\":{\"statusSourceType\":\"IMAGE\"},\"messageType\":\"imageMessage\",\"messageTimestamp\":1761334098},\"id\":\"2919362\",\"mediaPath\":\"3A2AB869180915F9BE7A.jpg\",\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"file\":{\"id\":\"248549\",\"companyId\":\"10\",\"moduleType\":\"Message\",\"moduleId\":\"2919362\",\"collection\":\"file\",\"bucket\":\"ticket/110928/\",\"name\":\"ca3e72e3-b5a8-4dd2-af76-3a23849470a9\",\"fileName\":\"3A2AB869180915F9BE7A\",\"version\":null,\"extension\":\"jpg\",\"mimeType\":\"image/jpeg\",\"size\":\"179039\",\"createdAt\":\"2025-10-24T16:28:20.896-03:00\",\"updatedAt\":\"2025-10-24T16:28:20.896-03:00\",\"meta\":{}},\"mediaUrl\":\"https://grqgzepwdxag.compat.objectstorage.sa-saopaulo-1.oraclecloud.com/files.apre.chat/000010/ticket/110928/3A2AB869180915F9BE7A.jpg\",\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nPerfeito, 554788950332! Como expliquei antes, o *cadastro da conta ApBank* é bem simples, mas é feito pela equipe da Apresenta.me. \\n\\nAqui está o processo completo:\\n\\n**📋 Passo 1 - Documentos necessários:**\\n- Contrato Social da Imobiliária\\n- Comprovante de CNPJ\\n- Conta Bancária com chave PIX (agência, conta, PIX e nome do titular)\\n- Documento com foto do responsável legal da imobiliária\\n\\n**📞 Passo 2 - Solicitação:**\\nEntre em contato com o time Apresenta.me e solicite a criação da conta ApBank. A equipe criará a conta para a imobiliária.\\n\\n**✅ Passo 3 - Aprovação no sistema:**\\nApós a criação, acesse: *Financeiro* → *ApBank - Conta digital* → *Configurações ApBank* e valide a conta no sistema.\\n\\n*A aprovação é obrigatória* - é uma determinação do Banco Central (BACEN) para poder utilizar a conta.\\n\\nPrecisa de ajuda com algum passo específico ou tem alguma dúvida sobre os documentos?\",\"messageType\":\"conversation\",\"createdAt\":\"2025-10-24T16:22:29.000-03:00\",\"updatedAt\":\"2025-10-24T16:22:31.398-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB0031E875AE33B39D95B074602EEDCDFD77A9E\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nPerfeito, 554788950332! Como expliquei antes, o *cadastro da conta ApBank* é bem simples, mas é feito pela equipe da Apresenta.me. \\n\\nAqui está o processo completo:\\n\\n**📋 Passo 1 - Documentos necessários:**\\n- Contrato Social da Imobiliária\\n- Comprovante de CNPJ\\n- Conta Bancária com chave PIX (agência, conta, PIX e nome do titular)\\n- Documento com foto do responsável legal da imobiliária\\n\\n**📞 Passo 2 - Solicitação:**\\nEntre em contato com o time Apresenta.me e solicite a criação da conta ApBank. A equipe criará a conta para a imobiliária.\\n\\n**✅ Passo 3 - Aprovação no sistema:**\\nApós a criação, acesse: *Financeiro* → *ApBank - Conta digital* → *Configurações ApBank* e valide a conta no sistema.\\n\\n*A aprovação é obrigatória* - é uma determinação do Banco Central (BACEN) para poder utilizar a conta.\\n\\nPrecisa de ajuda com algum passo específico ou tem alguma dúvida sobre os documentos?\"},\"pushName\":\"Você\",\"instanceId\":\"899e3cf4-2275-46cf-b198-8b403574aad6\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1761333749},\"id\":\"2919358\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"como faço pra cadastrar isso aqui então?\",\"messageType\":\"image\",\"createdAt\":\"2025-10-24T16:21:55.000-03:00\",\"updatedAt\":\"2025-10-24T16:21:57.141-03:00\",\"dataJson\":{\"key\":{\"id\":\"3ABC4BBB6FAC1BB3BB6B\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"imageMessage\":{\"url\":\"https://mmg.whatsapp.net/v/t62.7118-24/538381193_1126830302502762_1098997255738600434_n.enc?ccb=11-4&oh=01_Q5Aa2wEGFS1V_4aK-fsB2NeKsctUQNSipX49kIOpXQ7N_mllLQ&oe=69232F11&_nc_sid=5e03e0&mms3=true\",\"width\":1600,\"height\":900,\"caption\":\"como faço pra cadastrar isso aqui então?\",\"mediaKey\":\"WLSOlf4ZaGsZXttPHmHNOfVPxKDt9Z2XWtGpw1pIGJI=\",\"mimetype\":\"image/jpeg\",\"directPath\":\"/v/t62.7118-24/538381193_1126830302502762_1098997255738600434_n.enc?ccb=11-4&oh=01_Q5Aa2wEGFS1V_4aK-fsB2NeKsctUQNSipX49kIOpXQ7N_mllLQ&oe=69232F11&_nc_sid=5e03e0\",\"fileLength\":\"150330\",\"fileSha256\":\"nTdvCL4ZNMV8sj8T+SLeqm2oSX6X29Yum6EkkLNU9Qw=\",\"contextInfo\":{\"statusSourceType\":\"IMAGE\"},\"scanLengths\":[12289,54277,29963,53799],\"scansSidecar\":\"REDr2ZsstHyrTFmm/Sc27Ro1lk7gPi7NjNkp9pIqUK0r9/VktwRY/Q==\",\"fileEncSha256\":\"YG4fOgpSmevQEEupLLyCUIwjbq3glPbk9V9dhz51jCo=\",\"jpegThumbnail\":\"/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDABsSFBcUERsXFhceHBsgKEIrKCUlKFE6PTBCYFVlZF9VXVtqeJmBanGQc1tdhbWGkJ6jq62rZ4C8ybqmx5moq6T/2wBDARweHigjKE4rK06kbl1upKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKT/wgARCABIAEgDASIAAhEBAxEB/8QAGgAAAwEBAQEAAAAAAAAAAAAAAAECBgMEBf/EABcBAQEBAQAAAAAAAAAAAAAAAAABAgP/2gAMAwEAAhADEAAAAPmrzpv0nnddjnRQqiSyqNI3PMvTqsytMGaWjiM8ffF9Fcrju4Z0cIpTMSMs41LXq5C1KLgQEhnqAqgspANgMCX/xAAaEQADAAMBAAAAAAAAAAAAAAAAAREgIYEw/9oACAECAQE/ADp02RlRUVGjQ8K/P//EABsRAAICAwEAAAAAAAAAAAAAAAARAlESICIw/9oACAEDAQE/AMo0ONHBwKN7LRef/8QALBAAAgECBAQFBAMAAAAAAAAAAAECAxEFEyFRBBIxYRQVMkFSEEJxkSIzgf/aAAgBAQABPwB0V80ZO0omTLdfsyZ7GTPYy5/FnJLZnK9mWew6k2tWc0hSluKc92KrU3ZnVL9WZ9Tc8RM8RLZfofDxvoh8PH2Rkxv6XYdCFtLmRH2uZCuZCv1HR7mS9yNCk9VBW/AuH4eUtII8Fw7600PD+Hf2WHhvDv7bDwzh+55VQ3Y8JpX9bJYTTtpUFVl8GQqrmtyNCmtmKafYTLob106Dat1HRje/NL9kqjU2iEmKV/ZiaExvuN6F+5fuP+x/giXLiY3qNlxsl6/8Ivp9LlxsvoXGzzGs23zNXPMqtlZtWPM62n82ea1vkRxStvceKV+wsVrW6IWLVL6xTHi0/gj//gADAP/Z\",\"firstScanLength\":12289,\"imageSourceType\":\"USER_IMAGE\",\"firstScanSidecar\":\"REDr2ZsstHyrTA==\",\"mediaKeyTimestamp\":\"1761333703\",\"midQualityFileSha256\":\"PtKwmsqKa5W8u77P4HUTwMiWq3EpufdzoOiJmMSZlW4=\"},\"messageContextInfo\":{\"messageSecret\":\"Hu3t0J3NIOwh/FhxwEsbRJGrCX0qWnHRNpdKPz01s/o=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"Ht8gYVrfFbVKNw==\",\"recipientTimestamp\":\"1761315511\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"899e3cf4-2275-46cf-b198-8b403574aad6\",\"contextInfo\":{\"statusSourceType\":\"IMAGE\"},\"messageType\":\"imageMessage\",\"messageTimestamp\":1761333715},\"id\":\"2919357\",\"mediaPath\":\"3ABC4BBB6FAC1BB3BB6B.jpg\",\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"file\":{\"id\":\"248548\",\"companyId\":\"10\",\"moduleType\":\"Message\",\"moduleId\":\"2919357\",\"collection\":\"file\",\"bucket\":\"ticket/110928/\",\"name\":\"8c8db838-026c-4d6b-9a52-1c539b503c58\",\"fileName\":\"3ABC4BBB6FAC1BB3BB6B\",\"version\":null,\"extension\":\"jpg\",\"mimeType\":\"image/jpeg\",\"size\":\"150330\",\"createdAt\":\"2025-10-24T16:21:56.844-03:00\",\"updatedAt\":\"2025-10-24T16:21:56.844-03:00\",\"meta\":{}},\"mediaUrl\":\"https://grqgzepwdxag.compat.objectstorage.sa-saopaulo-1.oraclecloud.com/files.apre.chat/000010/ticket/110928/3ABC4BBB6FAC1BB3BB6B.jpg\",\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nPerfeito, 554788950332! Vou te explicar como funciona o **cadastro da conta ApBank**.\\n\\nA conta ApBank é criada pela **equipe da Apresenta.me** - você não precisa criar diretamente. O processo é bem simples:\\n\\n**📋 Documentos necessários:**\\n- Contrato Social da imobiliária\\n- Comprovante de CNPJ\\n- Conta bancária com chave PIX (agência, conta, PIX e nome do titular)\\n- Documento com foto do responsável legal\\n\\n**🔄 Processo:**\\n1. **Entre em contato** com o time Apresenta.me e solicite a criação da conta ApBank\\n2. Envie toda a documentação necessária\\n3. Aguarde a criação pela nossa equipe\\n\\n**✅ Após a criação, você precisará fazer a aprovação:**\\n- Acesse: *Financeiro → ApBank - Conta digital → Configurações ApBank*\\n- Clique sobre o nome da empresa na listagem\\n- Confira o status e informações da conta\\n- Complete a aprovação (exigência do Banco Central)\\n\\n*A conta ApBank não tem anuidade nem mensalidade* - só taxas de liquidação ao receber pagamentos e repasse automático.\\n\\nQuer que eu te ajude com mais algum detalhe sobre a conta ApBank?\",\"messageType\":\"conversation\",\"createdAt\":\"2025-10-24T16:19:45.000-03:00\",\"updatedAt\":\"2025-10-24T16:19:48.514-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB07432061207B2356D78C2EAE91325BDBE1669\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nPerfeito, 554788950332! Vou te explicar como funciona o **cadastro da conta ApBank**.\\n\\nA conta ApBank é criada pela **equipe da Apresenta.me** - você não precisa criar diretamente. O processo é bem simples:\\n\\n**📋 Documentos necessários:**\\n- Contrato Social da imobiliária\\n- Comprovante de CNPJ\\n- Conta bancária com chave PIX (agência, conta, PIX e nome do titular)\\n- Documento com foto do responsável legal\\n\\n**🔄 Processo:**\\n1. **Entre em contato** com o time Apresenta.me e solicite a criação da conta ApBank\\n2. Envie toda a documentação necessária\\n3. Aguarde a criação pela nossa equipe\\n\\n**✅ Após a criação, você precisará fazer a aprovação:**\\n- Acesse: *Financeiro → ApBank - Conta digital → Configurações ApBank*\\n- Clique sobre o nome da empresa na listagem\\n- Confira o status e informações da conta\\n- Complete a aprovação (exigência do Banco Central)\\n\\n*A conta ApBank não tem anuidade nem mensalidade* - só taxas de liquidação ao receber pagamentos e repasse automático.\\n\\nQuer que eu te ajude com mais algum detalhe sobre a conta ApBank?\"},\"pushName\":\"Você\",\"instanceId\":\"899e3cf4-2275-46cf-b198-8b403574aad6\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1761333585},\"id\":\"2919356\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"Quero saber como cadastrar uma conta no apbank\",\"messageType\":\"conversation\",\"createdAt\":\"2025-10-24T16:18:12.000-03:00\",\"updatedAt\":\"2025-10-24T16:18:14.667-03:00\",\"dataJson\":{\"key\":{\"id\":\"3A8C9ECF574BE4B32EBE\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"conversation\":\"Quero saber como cadastrar uma conta no apbank\",\"messageContextInfo\":{\"messageSecret\":\"vXptlzi2kChg5lDS9Ay3UmqRpBGprwkoV6QptNKa9Q0=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"Ht8gYVrfFbVKNw==\",\"recipientTimestamp\":\"1761315511\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"899e3cf4-2275-46cf-b198-8b403574aad6\",\"messageType\":\"conversation\",\"messageTimestamp\":1761333492},\"id\":\"2919355\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"Quero saber como cadastrar uma conta no apbank\",\"messageType\":\"conversation\",\"createdAt\":\"2025-10-24T16:13:04.000-03:00\",\"updatedAt\":\"2025-10-24T16:13:05.926-03:00\",\"dataJson\":{\"key\":{\"id\":\"3A41C7A3CD47ACD9CDDF\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"conversation\":\"Quero saber como cadastrar uma conta no apbank\",\"messageContextInfo\":{\"messageSecret\":\"eOvR0QhhKmm1f8GX/9yZHL0dLJzU3hidpM8INZk61mQ=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"Ht8gYVrfFbVKNw==\",\"recipientTimestamp\":\"1761315511\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"899e3cf4-2275-46cf-b198-8b403574aad6\",\"messageType\":\"conversation\",\"messageTimestamp\":1761333184},\"id\":\"2919354\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"Quero saber como cadastrar uma conta no apbank\",\"messageType\":\"conversation\",\"createdAt\":\"2025-10-24T16:10:50.000-03:00\",\"updatedAt\":\"2025-10-24T16:10:52.410-03:00\",\"dataJson\":{\"key\":{\"id\":\"3AA41A6B66E6484660B9\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"conversation\":\"Quero saber como cadastrar uma conta no apbank\",\"messageContextInfo\":{\"messageSecret\":\"DhPrhbyhOMBspxGRvdaNEmkjT6aW/jrUIR2wM8nsCjI=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"Ht8gYVrfFbVKNw==\",\"recipientTimestamp\":\"1761315511\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"899e3cf4-2275-46cf-b198-8b403574aad6\",\"messageType\":\"conversation\",\"messageTimestamp\":1761333050},\"id\":\"2919353\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nEntendi sua dificuldade, 554788950332! Vou te ajudar com o **cadastro de usuário** no sistema.\\n\\n**Passo a passo para cadastrar usuário:**\\n\\n1. **Acesse o menu:** Administrador → Usuários → Usuários\\n2. **Clique em \\\"Cadastrar\\\"** na tela que mostra todos os usuários\\n3. **Preencha os campos obrigatórios** (marcados com *):\\n   - **Nome** do usuário\\n   - **Usuário (login)** para acesso\\n   - **Senha** de acesso\\n   - **Grupo do Usuário** (ex: Administrador, Corretor)\\n\\n4. **Campos opcionais** que podem ser úteis:\\n   - E-mail (para recuperação de senha)\\n   - Telefone (com DDD)\\n   - CRECI (se for corretor)\\n   - Equipe do usuário\\n\\n5. **Salve** as informações\\n\\n*Qual parte específica está dando dificuldade?* Se for algum campo ou erro específico, posso te orientar melhor! 📝\",\"messageType\":\"conversation\",\"createdAt\":\"2025-10-24T16:10:21.000-03:00\",\"updatedAt\":\"2025-10-24T16:10:25.973-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB04EBA0A48A0482497BDB4E2385071AE8EC2D7\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nEntendi sua dificuldade, 554788950332! Vou te ajudar com o **cadastro de usuário** no sistema.\\n\\n**Passo a passo para cadastrar usuário:**\\n\\n1. **Acesse o menu:** Administrador → Usuários → Usuários\\n2. **Clique em \\\"Cadastrar\\\"** na tela que mostra todos os usuários\\n3. **Preencha os campos obrigatórios** (marcados com *):\\n   - **Nome** do usuário\\n   - **Usuário (login)** para acesso\\n   - **Senha** de acesso\\n   - **Grupo do Usuário** (ex: Administrador, Corretor)\\n\\n4. **Campos opcionais** que podem ser úteis:\\n   - E-mail (para recuperação de senha)\\n   - Telefone (com DDD)\\n   - CRECI (se for corretor)\\n   - Equipe do usuário\\n\\n5. **Salve** as informações\\n\\n*Qual parte específica está dando dificuldade?* Se for algum campo ou erro específico, posso te orientar melhor! 📝\"},\"pushName\":\"Você\",\"instanceId\":\"899e3cf4-2275-46cf-b198-8b403574aad6\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1761333021},\"id\":\"2919352\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"como faço aqui pra cadastrar? n estou conseguindo...\",\"messageType\":\"image\",\"createdAt\":\"2025-10-24T16:09:17.000-03:00\",\"updatedAt\":\"2025-10-24T16:09:20.442-03:00\",\"dataJson\":{\"key\":{\"id\":\"3A709CF0E7C40C59516B\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"imageMessage\":{\"url\":\"https://mmg.whatsapp.net/v/t62.7118-24/530177472_24842717922060683_2806670531258403721_n.enc?ccb=11-4&oh=01_Q5Aa2wH64UzjI0UvQ0UIC1Jt1ey6B-lzBgiSg-F5tFs-1TEmfA&oe=69233607&_nc_sid=5e03e0&mms3=true\",\"width\":1600,\"height\":900,\"caption\":\"como faço aqui pra cadastrar? n estou conseguindo...\",\"mediaKey\":\"Ykt2UJ5CVp0vJzUY1V1F5jNln9PMw/u/OAW860gEKBw=\",\"mimetype\":\"image/jpeg\",\"directPath\":\"/v/t62.7118-24/530177472_24842717922060683_2806670531258403721_n.enc?ccb=11-4&oh=01_Q5Aa2wH64UzjI0UvQ0UIC1Jt1ey6B-lzBgiSg-F5tFs-1TEmfA&oe=69233607&_nc_sid=5e03e0\",\"fileLength\":\"165727\",\"fileSha256\":\"uNWVDwXz3DDCRbg64zKWaIAZqzlbqChc45C9bwrVr6k=\",\"contextInfo\":{\"statusSourceType\":\"IMAGE\"},\"scanLengths\":[12312,54058,31739,67616],\"scansSidecar\":\"Qkcuo2ukcQyttMXKqNmTmY6plGzrTCWnMAZknP3h9HfYizg1suUOoQ==\",\"fileEncSha256\":\"CrW4DjIbizZabX9rusl2Ejo7hPsv7cz9yumHAB8k8oQ=\",\"jpegThumbnail\":\"/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDABsSFBcUERsXFhceHBsgKEIrKCUlKFE6PTBCYFVlZF9VXVtqeJmBanGQc1tdhbWGkJ6jq62rZ4C8ybqmx5moq6T/2wBDARweHigjKE4rK06kbl1upKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKT/wgARCABIAEgDASIAAhEBAxEB/8QAGgAAAwEBAQEAAAAAAAAAAAAAAAECBQQDBv/EABYBAQEBAAAAAAAAAAAAAAAAAAABAv/aAAwDAQACEAMQAAAAwnpOs16JZnGjJwPuVcJ2kv01+dYU06FQR49MJ4nqVNxWbTmqBNEnKokCsijWeVVmk8xmiuFnUcpL85IYMDRAIIKAD//EABsRAAICAwEAAAAAAAAAAAAAAAARASEQEiAC/9oACAECAQE/AEIUll810hSKRTiPUmxsPH//xAAYEQEBAQEBAAAAAAAAAAAAAAARACAQIf/aAAgBAwEBPwBmZ17tnpn/xAAsEAACAQEGBAYCAwAAAAAAAAAAAQIRAxIhMVGRBAVCUhATFBUyQSKhYWJx/9oACAEBAAE/ALktBQloy7L+S7IusoyjRiVYuEtX8bNi4S3h0PY9La9j2PTz7Hsenmuh7DsZV+H6PJkuj9Hlf1PJTq2iGVbtPCi0RdWi2KLtWxch2LYcIJYwWxe4d9C2K8P2rYjKdMUqilLQz+QsCpUbWg1GuSHFP6RF4ZC/wz+hU0MGYUMDA6iOtfDIxGVqvBlfyZGSay8KlSqG8D6GdTxI82gl8VUjzmL6aEebwecT3ez7Rc4se1i5vYaMXNeHp9nufDNfIXH8O6u9gOwto5xaLlp2su2mjKT0Z+WjKy0Y5NZl9nmPU//+AAMA/9k=\",\"firstScanLength\":12312,\"imageSourceType\":\"USER_IMAGE\",\"firstScanSidecar\":\"Qkcuo2ukcQyttA==\",\"mediaKeyTimestamp\":\"1761332934\",\"midQualityFileSha256\":\"hxFBsg/icxFgzxwfDxx/3pJVodmFX1M6arkC1v3hHSc=\"},\"messageContextInfo\":{\"messageSecret\":\"PUI+dIeODA4o9BpoXgKkjnve8SaDRALsEY55vCkYjYY=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"Ht8gYVrfFbVKNw==\",\"recipientTimestamp\":\"1761315511\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"899e3cf4-2275-46cf-b198-8b403574aad6\",\"contextInfo\":{\"statusSourceType\":\"IMAGE\"},\"messageType\":\"imageMessage\",\"messageTimestamp\":1761332957},\"id\":\"2919351\",\"mediaPath\":\"3A709CF0E7C40C59516B.jpg\",\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"file\":{\"id\":\"248547\",\"companyId\":\"10\",\"moduleType\":\"Message\",\"moduleId\":\"2919351\",\"collection\":\"file\",\"bucket\":\"ticket/110928/\",\"name\":\"9deaf601-3e9e-4d4b-939a-2843db2e90d8\",\"fileName\":\"3A709CF0E7C40C59516B\",\"version\":null,\"extension\":\"jpg\",\"mimeType\":\"image/jpeg\",\"size\":\"165727\",\"createdAt\":\"2025-10-24T16:09:20.050-03:00\",\"updatedAt\":\"2025-10-24T16:09:20.051-03:00\",\"meta\":{}},\"mediaUrl\":\"https://grqgzepwdxag.compat.objectstorage.sa-saopaulo-1.oraclecloud.com/files.apre.chat/000010/ticket/110928/3A709CF0E7C40C59516B.jpg\",\"meta\":{}},{\"body\":\"nao estou conseguindo cadastrar\",\"messageType\":\"image\",\"createdAt\":\"2025-10-24T16:07:59.000-03:00\",\"updatedAt\":\"2025-10-24T16:08:03.411-03:00\",\"dataJson\":{\"key\":{\"id\":\"3AF7C9EDB44815AE5BA4\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"imageMessage\":{\"url\":\"https://mmg.whatsapp.net/v/t62.7118-24/537342195_790952450376390_5669862289877082382_n.enc?ccb=11-4&oh=01_Q5Aa2wHEDujeHpPcoRnsSaqpqKECiZJ4eigpLN6GG9jFKukoUA&oe=692355A7&_nc_sid=5e03e0&mms3=true\",\"width\":1600,\"height\":900,\"caption\":\"nao estou conseguindo cadastrar\",\"mediaKey\":\"FOpDOlICWDTBXkdBu/8eIgD5I+7Lvr906lbiCKZn/FM=\",\"mimetype\":\"image/jpeg\",\"directPath\":\"/v/t62.7118-24/537342195_790952450376390_5669862289877082382_n.enc?ccb=11-4&oh=01_Q5Aa2wHEDujeHpPcoRnsSaqpqKECiZJ4eigpLN6GG9jFKukoUA&oe=692355A7&_nc_sid=5e03e0\",\"fileLength\":\"166312\",\"fileSha256\":\"Lg5kMVUBYI5xVHdc6PNbxDWdSFs1HDByfPlieYdihDA=\",\"contextInfo\":{\"statusSourceType\":\"IMAGE\"},\"scanLengths\":[10308,50006,36202,69794],\"scansSidecar\":\"VRLeMFNcQNOZyGQIni5z4WZ0E+hrPYtqZEdtw0IagriO8+FtqjJ3Qw==\",\"fileEncSha256\":\"EsJMfp4QyFSZ4Qn87x8+Xu6EkLuTD/E6vjRRwFkXUzs=\",\"jpegThumbnail\":\"/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDABsSFBcUERsXFhceHBsgKEIrKCUlKFE6PTBCYFVlZF9VXVtqeJmBanGQc1tdhbWGkJ6jq62rZ4C8ybqmx5moq6T/2wBDARweHigjKE4rK06kbl1upKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKT/wgARCABIAEgDASIAAhEBAxEB/8QAGQABAQEBAQEAAAAAAAAAAAAAAAECBgUD/8QAFQEBAQAAAAAAAAAAAAAAAAAAAAH/2gAMAwEAAhADEAAAAPPvSk5x0g5x0Y5+++PBe6XS2Jbay1CZ+mSKJSGs6pEN5uQCXmydJebV0k5zR0U5/R7rwx5WiArIAKD/xAAZEQEBAAMBAAAAAAAAAAAAAAARAAEgMDH/2gAIAQIBAT8AZmehERFjzX//xAAXEQEBAQEAAAAAAAAAAAAAAAARACAw/9oACAEDAQE/ADBzZmZ1/8QAKxAAAgECAwgBBAMAAAAAAAAAAAERAgMEITEFEBITFBVBUmEgUVORM0JD/9oACAEBAAE/AOlu+jFhrq0tv9Cwt9/5v9HQ3/xs6K/P8bOiv/jZTgb7WVDOgxHoxYLELSlnCvscPwcJBBBEEToNQJEEfBBBA0aLQj6Wsikgq0PG5CUPc9Ba7mZkECT8vetct1W6SSSRvITJGJ5C2re81Me1b/isW2MQv7I7xiPZHd8R7IW2b6+x3m/8C21djOlM71c9aTgVVdSWUHI+Tp50qkeHq8OTk1HKqOXUcutFFmuuqKVLP//+AAMA/9k=\",\"firstScanLength\":10308,\"imageSourceType\":\"USER_IMAGE\",\"firstScanSidecar\":\"VRLeMFNcQNOZyA==\",\"mediaKeyTimestamp\":\"1761332859\",\"midQualityFileSha256\":\"yh1p3Dj4XsWnca4OJQk8fD/LEMfQGuAN6HiXaRsr27c=\"},\"messageContextInfo\":{\"messageSecret\":\"s3BO+lRF+kiiv/kUbw82ciOVtFvlAXnMKPRp/etHjBI=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"Ht8gYVrfFbVKNw==\",\"recipientTimestamp\":\"1761315511\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"899e3cf4-2275-46cf-b198-8b403574aad6\",\"contextInfo\":{\"statusSourceType\":\"IMAGE\"},\"messageType\":\"imageMessage\",\"messageTimestamp\":1761332879},\"id\":\"2919350\",\"mediaPath\":\"3AF7C9EDB44815AE5BA4.jpg\",\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"file\":{\"id\":\"248546\",\"companyId\":\"10\",\"moduleType\":\"Message\",\"moduleId\":\"2919350\",\"collection\":\"file\",\"bucket\":\"ticket/110928/\",\"name\":\"18341d00-8fbc-4f8a-9e26-d5057dedf41b\",\"fileName\":\"3AF7C9EDB44815AE5BA4\",\"version\":null,\"extension\":\"jpg\",\"mimeType\":\"image/jpeg\",\"size\":\"166312\",\"createdAt\":\"2025-10-24T16:08:03.010-03:00\",\"updatedAt\":\"2025-10-24T16:08:03.010-03:00\",\"meta\":{}},\"mediaUrl\":\"https://grqgzepwdxag.compat.objectstorage.sa-saopaulo-1.oraclecloud.com/files.apre.chat/000010/ticket/110928/3AF7C9EDB44815AE5BA4.jpg\",\"meta\":{}},{\"body\":\"\",\"messageType\":\"video\",\"createdAt\":\"2025-10-24T15:32:08.000-03:00\",\"updatedAt\":\"2025-10-24T16:31:56.456-03:00\",\"dataJson\":{\"key\":{\"id\":\"3A032F04D6A1F28BECC2\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"videoMessage\":{\"url\":\"https://mmg.whatsapp.net/v/t62.7161-24/536473415_1482959746298730_3824874427432464913_n.enc?ccb=11-4&oh=01_Q5Aa2wGImyqBO8U9A6ajqX6PeBeM0BvVP8U6QHTPmh5t7ebrsQ&oe=69233C45&_nc_sid=5e03e0&mms3=true\",\"width\":848,\"height\":480,\"seconds\":8,\"mediaKey\":\"z1OowZGq8nUlylhnbDpri8Nt1//AzrySeseg0tayxg4=\",\"mimetype\":\"video/mp4\",\"directPath\":\"/v/t62.7161-24/536473415_1482959746298730_3824874427432464913_n.enc?ccb=11-4&oh=01_Q5Aa2wGImyqBO8U9A6ajqX6PeBeM0BvVP8U6QHTPmh5t7ebrsQ&oe=69233C45&_nc_sid=5e03e0\",\"fileLength\":\"1380472\",\"fileSha256\":\"C6r9pfOKTt8E5as/DpFDzxW2Wd0RGH6CLHQQdB9a8Ck=\",\"contextInfo\":{\"statusSourceType\":\"VIDEO\"},\"fileEncSha256\":\"XLD1WBlm9q1nuY10JRfnx3CZKYIz2fk3VeKCIxjhJ2A=\",\"jpegThumbnail\":\"/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDABsSFBcUERsXFhceHBsgKEIrKCUlKFE6PTBCYFVlZF9VXVtqeJmBanGQc1tdhbWGkJ6jq62rZ4C8ybqmx5moq6T/2wBDARweHigjKE4rK06kbl1upKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKT/wgARCABIAEgDASIAAhEBAxEB/8QAGQAAAwEBAQAAAAAAAAAAAAAAAAECBQYD/8QAFwEBAQEBAAAAAAAAAAAAAAAAAAECA//aAAwDAQACEAMQAAAAxV0CrBNyKxzXkyFqqMo0g6avG8rc1Qmg8PaTxPQF6edxbh0CBIRJIXfJs6t8tVnTHLs6aOecu8YYSBzoACAYEAEf/8QAGhEAAwADAQAAAAAAAAAAAAAAAAEREBIhMP/aAAgBAgEBPwDhwiIQXlCEJjpWVmzNmf/EABQRAQAAAAAAAAAAAAAAAAAAAED/2gAIAQMBAT8AT//EACwQAAIAAwUGBgMAAAAAAAAAAAABAgMRBAUVMUEQEhQhQlETMkNSU5EiM7H/2gAIAQEAAT8A4dJc3QcjtFUUhvVDkRLVENnjiVVQ4aYtBwRLNG6yjHcyfWx3I9I0O5I9IkO5Z2jQ7ntCy/o7qtK0f2O7LR7GO756X6mOxTVnJZCn3qJGQmcxs5kU2YomvDqhzo9ZbIIaKiibKPuxVWfMTKlTeG1UbIa9xV7i2PPaxv8AIgFsqNmhUZ1MhdNlSo2V2RDQrxnV8z+xXlPrXff2YnPr5mQ3rP8AczFLSvUYr2tK6xXxaV1Ixi0d0YxM3dKnBWbSNnAyPezgJPyCsErSYO75b9Uw2D5TC4XlNRhVcpqMIi0mI//+AAMA/9k=\",\"streamingSidecar\":\"pEseEnCs1r61W+ZbXf38XR+PBm80Y19M48/nWp9rYBXw3nIucrQFV0NYHQR20tqBbx8qR91C9MQpGhzYzyu5lfGq1BDestRmqQGJDPEg3jO4JuB7fGOIRyfBLh/7KG7+p+RpCwA6fF1ed35+8m+28Cv4dny6L7BgvgJkypYrqKe8Ef8mBQO6oOwyTETGiieN03qagJBAvDos+OLWU5FxWL/z/Z2w5yu46Mxk6s4DlvQzEQTZGdTXneArXcYMj9GUgtsn5bl5Ws4KHvs4BO13n+/ssCuyz49KQxUx5A==\",\"mediaKeyTimestamp\":\"1761328681\"},\"messageContextInfo\":{\"messageSecret\":\"qB5EuzokFxhMUBGAkjppM9VdcOmn1wrhYL8osgJjuQc=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"Ht8gYVrfFbVKNw==\",\"recipientTimestamp\":\"1761315511\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"899e3cf4-2275-46cf-b198-8b403574aad6\",\"contextInfo\":{\"statusSourceType\":\"VIDEO\"},\"messageType\":\"videoMessage\",\"messageTimestamp\":1761330728},\"id\":\"2919346\",\"mediaPath\":\"3A032F04D6A1F28BECC2.mp4\",\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"transcription\":\"Olha, eu queria saber o que que eu preciso fazer aqui pra realizar o cadastro nessa tela aqui.\",\"file\":{\"id\":\"248545\",\"companyId\":\"10\",\"moduleType\":\"Message\",\"moduleId\":\"2919346\",\"collection\":\"file\",\"bucket\":\"ticket/110928/\",\"name\":\"423d0cc7-42ed-4475-8610-879e45eba9a1\",\"fileName\":\"3A032F04D6A1F28BECC2\",\"version\":null,\"extension\":\"mp4\",\"mimeType\":\"video/mp4\",\"size\":\"1380472\",\"createdAt\":\"2025-10-24T15:32:10.807-03:00\",\"updatedAt\":\"2025-10-24T15:32:10.807-03:00\",\"meta\":{}},\"mediaUrl\":\"https://grqgzepwdxag.compat.objectstorage.sa-saopaulo-1.oraclecloud.com/files.apre.chat/000010/ticket/110928/3A032F04D6A1F28BECC2.mp4\",\"meta\":{}},{\"body\":\"\",\"messageType\":\"video\",\"createdAt\":\"2025-10-24T15:23:34.000-03:00\",\"updatedAt\":\"2025-10-24T16:31:58.465-03:00\",\"dataJson\":{\"key\":{\"id\":\"3AC88BCD5A2E22D71140\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"videoMessage\":{\"url\":\"https://mmg.whatsapp.net/v/t62.7161-24/536473415_1482959746298730_3824874427432464913_n.enc?ccb=11-4&oh=01_Q5Aa2wGImyqBO8U9A6ajqX6PeBeM0BvVP8U6QHTPmh5t7ebrsQ&oe=69233C45&_nc_sid=5e03e0&mms3=true\",\"width\":848,\"height\":480,\"seconds\":8,\"mediaKey\":\"z1OowZGq8nUlylhnbDpri8Nt1//AzrySeseg0tayxg4=\",\"mimetype\":\"video/mp4\",\"directPath\":\"/v/t62.7161-24/536473415_1482959746298730_3824874427432464913_n.enc?ccb=11-4&oh=01_Q5Aa2wGImyqBO8U9A6ajqX6PeBeM0BvVP8U6QHTPmh5t7ebrsQ&oe=69233C45&_nc_sid=5e03e0\",\"fileLength\":\"1380472\",\"fileSha256\":\"C6r9pfOKTt8E5as/DpFDzxW2Wd0RGH6CLHQQdB9a8Ck=\",\"contextInfo\":{\"statusSourceType\":\"VIDEO\"},\"fileEncSha256\":\"XLD1WBlm9q1nuY10JRfnx3CZKYIz2fk3VeKCIxjhJ2A=\",\"jpegThumbnail\":\"/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDABsSFBcUERsXFhceHBsgKEIrKCUlKFE6PTBCYFVlZF9VXVtqeJmBanGQc1tdhbWGkJ6jq62rZ4C8ybqmx5moq6T/2wBDARweHigjKE4rK06kbl1upKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKT/wgARCABIAEgDASIAAhEBAxEB/8QAGQAAAwEBAQAAAAAAAAAAAAAAAAECBQYD/8QAFwEBAQEBAAAAAAAAAAAAAAAAAAECA//aAAwDAQACEAMQAAAAxV0CrBNyKxzXkyFqqMo0g6avG8rc1Qmg8PaTxPQF6edxbh0CBIRJIXfJs6t8tVnTHLs6aOecu8YYSBzoACAYEAEf/8QAGhEAAwADAQAAAAAAAAAAAAAAAAEREBIhMP/aAAgBAgEBPwDhwiIQXlCEJjpWVmzNmf/EABQRAQAAAAAAAAAAAAAAAAAAAED/2gAIAQMBAT8AT//EACwQAAIAAwUGBgMAAAAAAAAAAAABAgMRBAUVMUEQEhQhQlETMkNSU5EiM7H/2gAIAQEAAT8A4dJc3QcjtFUUhvVDkRLVENnjiVVQ4aYtBwRLNG6yjHcyfWx3I9I0O5I9IkO5Z2jQ7ntCy/o7qtK0f2O7LR7GO756X6mOxTVnJZCn3qJGQmcxs5kU2YomvDqhzo9ZbIIaKiibKPuxVWfMTKlTeG1UbIa9xV7i2PPaxv8AIgFsqNmhUZ1MhdNlSo2V2RDQrxnV8z+xXlPrXff2YnPr5mQ3rP8AczFLSvUYr2tK6xXxaV1Ixi0d0YxM3dKnBWbSNnAyPezgJPyCsErSYO75b9Uw2D5TC4XlNRhVcpqMIi0mI//+AAMA/9k=\",\"streamingSidecar\":\"pEseEnCs1r61W+ZbXf38XR+PBm80Y19M48/nWp9rYBXw3nIucrQFV0NYHQR20tqBbx8qR91C9MQpGhzYzyu5lfGq1BDestRmqQGJDPEg3jO4JuB7fGOIRyfBLh/7KG7+p+RpCwA6fF1ed35+8m+28Cv4dny6L7BgvgJkypYrqKe8Ef8mBQO6oOwyTETGiieN03qagJBAvDos+OLWU5FxWL/z/Z2w5yu46Mxk6s4DlvQzEQTZGdTXneArXcYMj9GUgtsn5bl5Ws4KHvs4BO13n+/ssCuyz49KQxUx5A==\",\"mediaKeyTimestamp\":\"1761328681\"},\"messageContextInfo\":{\"messageSecret\":\"yXb4cIdcwM73Bek9m/iL6m9DZV4A2AtCrSX0Y7whuKw=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"Ht8gYVrfFbVKNw==\",\"recipientTimestamp\":\"1761315511\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"899e3cf4-2275-46cf-b198-8b403574aad6\",\"contextInfo\":{\"statusSourceType\":\"VIDEO\"},\"messageType\":\"videoMessage\",\"messageTimestamp\":1761330214},\"id\":\"2919345\",\"mediaPath\":\"3AC88BCD5A2E22D71140.mp4\",\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"transcription\":\"Olha, eu queria saber o que que eu preciso fazer aqui pra realizar o cadastro nessa tela aqui.\",\"file\":{\"id\":\"248544\",\"companyId\":\"10\",\"moduleType\":\"Message\",\"moduleId\":\"2919345\",\"collection\":\"file\",\"bucket\":\"ticket/110928/\",\"name\":\"e82c4237-547c-4b1d-a5e5-62a8935d43ff\",\"fileName\":\"3AC88BCD5A2E22D71140\",\"version\":null,\"extension\":\"mp4\",\"mimeType\":\"video/mp4\",\"size\":\"1380472\",\"createdAt\":\"2025-10-24T15:23:37.590-03:00\",\"updatedAt\":\"2025-10-24T15:23:37.591-03:00\",\"meta\":{}},\"mediaUrl\":\"https://grqgzepwdxag.compat.objectstorage.sa-saopaulo-1.oraclecloud.com/files.apre.chat/000010/ticket/110928/3AC88BCD5A2E22D71140.mp4\",\"meta\":{}},{\"body\":\"\",\"messageType\":\"video\",\"createdAt\":\"2025-10-24T15:20:35.000-03:00\",\"updatedAt\":\"2025-10-24T16:32:01.305-03:00\",\"dataJson\":{\"key\":{\"id\":\"3AEE5819AA6C7C86F8EB\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"videoMessage\":{\"url\":\"https://mmg.whatsapp.net/v/t62.7161-24/536473415_1482959746298730_3824874427432464913_n.enc?ccb=11-4&oh=01_Q5Aa2wGImyqBO8U9A6ajqX6PeBeM0BvVP8U6QHTPmh5t7ebrsQ&oe=69233C45&_nc_sid=5e03e0&mms3=true\",\"width\":848,\"height\":480,\"seconds\":8,\"mediaKey\":\"z1OowZGq8nUlylhnbDpri8Nt1//AzrySeseg0tayxg4=\",\"mimetype\":\"video/mp4\",\"directPath\":\"/v/t62.7161-24/536473415_1482959746298730_3824874427432464913_n.enc?ccb=11-4&oh=01_Q5Aa2wGImyqBO8U9A6ajqX6PeBeM0BvVP8U6QHTPmh5t7ebrsQ&oe=69233C45&_nc_sid=5e03e0\",\"fileLength\":\"1380472\",\"fileSha256\":\"C6r9pfOKTt8E5as/DpFDzxW2Wd0RGH6CLHQQdB9a8Ck=\",\"contextInfo\":{\"statusSourceType\":\"VIDEO\"},\"fileEncSha256\":\"XLD1WBlm9q1nuY10JRfnx3CZKYIz2fk3VeKCIxjhJ2A=\",\"jpegThumbnail\":\"/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDABsSFBcUERsXFhceHBsgKEIrKCUlKFE6PTBCYFVlZF9VXVtqeJmBanGQc1tdhbWGkJ6jq62rZ4C8ybqmx5moq6T/2wBDARweHigjKE4rK06kbl1upKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKT/wgARCABIAEgDASIAAhEBAxEB/8QAGQAAAwEBAQAAAAAAAAAAAAAAAAECBQYD/8QAFwEBAQEBAAAAAAAAAAAAAAAAAAECA//aAAwDAQACEAMQAAAAxV0CrBNyKxzXkyFqqMo0g6avG8rc1Qmg8PaTxPQF6edxbh0CBIRJIXfJs6t8tVnTHLs6aOecu8YYSBzoACAYEAEf/8QAGhEAAwADAQAAAAAAAAAAAAAAAAEREBIhMP/aAAgBAgEBPwDhwiIQXlCEJjpWVmzNmf/EABQRAQAAAAAAAAAAAAAAAAAAAED/2gAIAQMBAT8AT//EACwQAAIAAwUGBgMAAAAAAAAAAAABAgMRBAUVMUEQEhQhQlETMkNSU5EiM7H/2gAIAQEAAT8A4dJc3QcjtFUUhvVDkRLVENnjiVVQ4aYtBwRLNG6yjHcyfWx3I9I0O5I9IkO5Z2jQ7ntCy/o7qtK0f2O7LR7GO756X6mOxTVnJZCn3qJGQmcxs5kU2YomvDqhzo9ZbIIaKiibKPuxVWfMTKlTeG1UbIa9xV7i2PPaxv8AIgFsqNmhUZ1MhdNlSo2V2RDQrxnV8z+xXlPrXff2YnPr5mQ3rP8AczFLSvUYr2tK6xXxaV1Ixi0d0YxM3dKnBWbSNnAyPezgJPyCsErSYO75b9Uw2D5TC4XlNRhVcpqMIi0mI//+AAMA/9k=\",\"streamingSidecar\":\"pEseEnCs1r61W+ZbXf38XR+PBm80Y19M48/nWp9rYBXw3nIucrQFV0NYHQR20tqBbx8qR91C9MQpGhzYzyu5lfGq1BDestRmqQGJDPEg3jO4JuB7fGOIRyfBLh/7KG7+p+RpCwA6fF1ed35+8m+28Cv4dny6L7BgvgJkypYrqKe8Ef8mBQO6oOwyTETGiieN03qagJBAvDos+OLWU5FxWL/z/Z2w5yu46Mxk6s4DlvQzEQTZGdTXneArXcYMj9GUgtsn5bl5Ws4KHvs4BO13n+/ssCuyz49KQxUx5A==\",\"mediaKeyTimestamp\":\"1761328681\"},\"messageContextInfo\":{\"messageSecret\":\"PPMDo1qXnEa5VQ5P2kwnsEOetb38ulTP+xiU55FvdzM=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"Ht8gYVrfFbVKNw==\",\"recipientTimestamp\":\"1761315511\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"899e3cf4-2275-46cf-b198-8b403574aad6\",\"contextInfo\":{\"statusSourceType\":\"VIDEO\"},\"messageType\":\"videoMessage\",\"messageTimestamp\":1761330035},\"id\":\"2919344\",\"mediaPath\":\"3AEE5819AA6C7C86F8EB.mp4\",\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"transcription\":\"Olha, eu queria saber o que que eu preciso fazer aqui pra realizar o cadastro nessa tela aqui.\",\"file\":{\"id\":\"248543\",\"companyId\":\"10\",\"moduleType\":\"Message\",\"moduleId\":\"2919344\",\"collection\":\"file\",\"bucket\":\"ticket/110928/\",\"name\":\"14d5b24e-e11b-4f8b-8d9a-4ab2c629ad0c\",\"fileName\":\"3AEE5819AA6C7C86F8EB\",\"version\":null,\"extension\":\"mp4\",\"mimeType\":\"video/mp4\",\"size\":\"1380472\",\"createdAt\":\"2025-10-24T15:20:41.069-03:00\",\"updatedAt\":\"2025-10-24T15:20:41.069-03:00\",\"meta\":{}},\"mediaUrl\":\"https://grqgzepwdxag.compat.objectstorage.sa-saopaulo-1.oraclecloud.com/files.apre.chat/000010/ticket/110928/3AEE5819AA6C7C86F8EB.mp4\",\"meta\":{}},{\"body\":\"\",\"messageType\":\"video\",\"createdAt\":\"2025-10-24T15:06:17.000-03:00\",\"updatedAt\":\"2025-10-24T16:32:03.615-03:00\",\"dataJson\":{\"key\":{\"id\":\"3A7B69413772DBCB04CC\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"videoMessage\":{\"url\":\"https://mmg.whatsapp.net/v/t62.7161-24/536473415_1482959746298730_3824874427432464913_n.enc?ccb=11-4&oh=01_Q5Aa2wGImyqBO8U9A6ajqX6PeBeM0BvVP8U6QHTPmh5t7ebrsQ&oe=69233C45&_nc_sid=5e03e0&mms3=true\",\"width\":848,\"height\":480,\"seconds\":8,\"mediaKey\":\"z1OowZGq8nUlylhnbDpri8Nt1//AzrySeseg0tayxg4=\",\"mimetype\":\"video/mp4\",\"directPath\":\"/v/t62.7161-24/536473415_1482959746298730_3824874427432464913_n.enc?ccb=11-4&oh=01_Q5Aa2wGImyqBO8U9A6ajqX6PeBeM0BvVP8U6QHTPmh5t7ebrsQ&oe=69233C45&_nc_sid=5e03e0\",\"fileLength\":\"1380472\",\"fileSha256\":\"C6r9pfOKTt8E5as/DpFDzxW2Wd0RGH6CLHQQdB9a8Ck=\",\"contextInfo\":{\"statusSourceType\":\"VIDEO\"},\"fileEncSha256\":\"XLD1WBlm9q1nuY10JRfnx3CZKYIz2fk3VeKCIxjhJ2A=\",\"jpegThumbnail\":\"/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDABsSFBcUERsXFhceHBsgKEIrKCUlKFE6PTBCYFVlZF9VXVtqeJmBanGQc1tdhbWGkJ6jq62rZ4C8ybqmx5moq6T/2wBDARweHigjKE4rK06kbl1upKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKT/wgARCABIAEgDASIAAhEBAxEB/8QAGQAAAwEBAQAAAAAAAAAAAAAAAAECBQYD/8QAFwEBAQEBAAAAAAAAAAAAAAAAAAECA//aAAwDAQACEAMQAAAAxV0CrBNyKxzXkyFqqMo0g6avG8rc1Qmg8PaTxPQF6edxbh0CBIRJIXfJs6t8tVnTHLs6aOecu8YYSBzoACAYEAEf/8QAGhEAAwADAQAAAAAAAAAAAAAAAAEREBIhMP/aAAgBAgEBPwDhwiIQXlCEJjpWVmzNmf/EABQRAQAAAAAAAAAAAAAAAAAAAED/2gAIAQMBAT8AT//EACwQAAIAAwUGBgMAAAAAAAAAAAABAgMRBAUVMUEQEhQhQlETMkNSU5EiM7H/2gAIAQEAAT8A4dJc3QcjtFUUhvVDkRLVENnjiVVQ4aYtBwRLNG6yjHcyfWx3I9I0O5I9IkO5Z2jQ7ntCy/o7qtK0f2O7LR7GO756X6mOxTVnJZCn3qJGQmcxs5kU2YomvDqhzo9ZbIIaKiibKPuxVWfMTKlTeG1UbIa9xV7i2PPaxv8AIgFsqNmhUZ1MhdNlSo2V2RDQrxnV8z+xXlPrXff2YnPr5mQ3rP8AczFLSvUYr2tK6xXxaV1Ixi0d0YxM3dKnBWbSNnAyPezgJPyCsErSYO75b9Uw2D5TC4XlNRhVcpqMIi0mI//+AAMA/9k=\",\"streamingSidecar\":\"pEseEnCs1r61W+ZbXf38XR+PBm80Y19M48/nWp9rYBXw3nIucrQFV0NYHQR20tqBbx8qR91C9MQpGhzYzyu5lfGq1BDestRmqQGJDPEg3jO4JuB7fGOIRyfBLh/7KG7+p+RpCwA6fF1ed35+8m+28Cv4dny6L7BgvgJkypYrqKe8Ef8mBQO6oOwyTETGiieN03qagJBAvDos+OLWU5FxWL/z/Z2w5yu46Mxk6s4DlvQzEQTZGdTXneArXcYMj9GUgtsn5bl5Ws4KHvs4BO13n+/ssCuyz49KQxUx5A==\",\"mediaKeyTimestamp\":\"1761328681\"},\"messageContextInfo\":{\"messageSecret\":\"raCp1qKRAoMJ01z6ApdRoXAEfzI4YiuqpDkgWi2Eh1w=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"Ht8gYVrfFbVKNw==\",\"recipientTimestamp\":\"1761315511\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"899e3cf4-2275-46cf-b198-8b403574aad6\",\"contextInfo\":{\"statusSourceType\":\"VIDEO\"},\"messageType\":\"videoMessage\",\"messageTimestamp\":1761329177},\"id\":\"2919343\",\"mediaPath\":\"3A7B69413772DBCB04CC.mp4\",\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"transcription\":\"Olha, eu queria saber o que que eu preciso fazer aqui pra realizar o cadastro nessa tela aqui.\",\"file\":{\"id\":\"248542\",\"companyId\":\"10\",\"moduleType\":\"Message\",\"moduleId\":\"2919343\",\"collection\":\"file\",\"bucket\":\"ticket/110928/\",\"name\":\"2ac6b41c-b818-42af-bca0-19945d57633a\",\"fileName\":\"3A7B69413772DBCB04CC\",\"version\":null,\"extension\":\"mp4\",\"mimeType\":\"video/mp4\",\"size\":\"1380472\",\"createdAt\":\"2025-10-24T15:06:20.323-03:00\",\"updatedAt\":\"2025-10-24T15:06:20.324-03:00\",\"meta\":{}},\"mediaUrl\":\"https://grqgzepwdxag.compat.objectstorage.sa-saopaulo-1.oraclecloud.com/files.apre.chat/000010/ticket/110928/3A7B69413772DBCB04CC.mp4\",\"meta\":{}},{\"body\":\"\",\"messageType\":\"video\",\"createdAt\":\"2025-10-24T15:03:42.000-03:00\",\"updatedAt\":\"2025-10-24T16:32:05.649-03:00\",\"dataJson\":{\"key\":{\"id\":\"3A59822D7A4416DC8E63\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"videoMessage\":{\"url\":\"https://mmg.whatsapp.net/v/t62.7161-24/536473415_1482959746298730_3824874427432464913_n.enc?ccb=11-4&oh=01_Q5Aa2wGImyqBO8U9A6ajqX6PeBeM0BvVP8U6QHTPmh5t7ebrsQ&oe=69233C45&_nc_sid=5e03e0&mms3=true\",\"width\":848,\"height\":480,\"seconds\":8,\"mediaKey\":\"z1OowZGq8nUlylhnbDpri8Nt1//AzrySeseg0tayxg4=\",\"mimetype\":\"video/mp4\",\"directPath\":\"/v/t62.7161-24/536473415_1482959746298730_3824874427432464913_n.enc?ccb=11-4&oh=01_Q5Aa2wGImyqBO8U9A6ajqX6PeBeM0BvVP8U6QHTPmh5t7ebrsQ&oe=69233C45&_nc_sid=5e03e0\",\"fileLength\":\"1380472\",\"fileSha256\":\"C6r9pfOKTt8E5as/DpFDzxW2Wd0RGH6CLHQQdB9a8Ck=\",\"contextInfo\":{\"statusSourceType\":\"VIDEO\"},\"fileEncSha256\":\"XLD1WBlm9q1nuY10JRfnx3CZKYIz2fk3VeKCIxjhJ2A=\",\"jpegThumbnail\":\"/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDABsSFBcUERsXFhceHBsgKEIrKCUlKFE6PTBCYFVlZF9VXVtqeJmBanGQc1tdhbWGkJ6jq62rZ4C8ybqmx5moq6T/2wBDARweHigjKE4rK06kbl1upKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKT/wgARCABIAEgDASIAAhEBAxEB/8QAGQAAAwEBAQAAAAAAAAAAAAAAAAECBQYD/8QAFwEBAQEBAAAAAAAAAAAAAAAAAAECA//aAAwDAQACEAMQAAAAxV0CrBNyKxzXkyFqqMo0g6avG8rc1Qmg8PaTxPQF6edxbh0CBIRJIXfJs6t8tVnTHLs6aOecu8YYSBzoACAYEAEf/8QAGhEAAwADAQAAAAAAAAAAAAAAAAEREBIhMP/aAAgBAgEBPwDhwiIQXlCEJjpWVmzNmf/EABQRAQAAAAAAAAAAAAAAAAAAAED/2gAIAQMBAT8AT//EACwQAAIAAwUGBgMAAAAAAAAAAAABAgMRBAUVMUEQEhQhQlETMkNSU5EiM7H/2gAIAQEAAT8A4dJc3QcjtFUUhvVDkRLVENnjiVVQ4aYtBwRLNG6yjHcyfWx3I9I0O5I9IkO5Z2jQ7ntCy/o7qtK0f2O7LR7GO756X6mOxTVnJZCn3qJGQmcxs5kU2YomvDqhzo9ZbIIaKiibKPuxVWfMTKlTeG1UbIa9xV7i2PPaxv8AIgFsqNmhUZ1MhdNlSo2V2RDQrxnV8z+xXlPrXff2YnPr5mQ3rP8AczFLSvUYr2tK6xXxaV1Ixi0d0YxM3dKnBWbSNnAyPezgJPyCsErSYO75b9Uw2D5TC4XlNRhVcpqMIi0mI//+AAMA/9k=\",\"streamingSidecar\":\"pEseEnCs1r61W+ZbXf38XR+PBm80Y19M48/nWp9rYBXw3nIucrQFV0NYHQR20tqBbx8qR91C9MQpGhzYzyu5lfGq1BDestRmqQGJDPEg3jO4JuB7fGOIRyfBLh/7KG7+p+RpCwA6fF1ed35+8m+28Cv4dny6L7BgvgJkypYrqKe8Ef8mBQO6oOwyTETGiieN03qagJBAvDos+OLWU5FxWL/z/Z2w5yu46Mxk6s4DlvQzEQTZGdTXneArXcYMj9GUgtsn5bl5Ws4KHvs4BO13n+/ssCuyz49KQxUx5A==\",\"mediaKeyTimestamp\":\"1761328681\"},\"messageContextInfo\":{\"messageSecret\":\"U6tCTumG5pxKv/Nz2ELjHdahl7ekveH6VIMTCbWUsUs=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"Ht8gYVrfFbVKNw==\",\"recipientTimestamp\":\"1761315511\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"899e3cf4-2275-46cf-b198-8b403574aad6\",\"contextInfo\":{\"statusSourceType\":\"VIDEO\"},\"messageType\":\"videoMessage\",\"messageTimestamp\":1761329022},\"id\":\"2919342\",\"mediaPath\":\"3A59822D7A4416DC8E63.mp4\",\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"transcription\":\"Olha, eu queria saber o que que eu preciso fazer aqui pra realizar o cadastro nessa tela aqui.\",\"file\":{\"id\":\"248541\",\"companyId\":\"10\",\"moduleType\":\"Message\",\"moduleId\":\"2919342\",\"collection\":\"file\",\"bucket\":\"ticket/110928/\",\"name\":\"3466aec7-8831-4828-80af-5e48a7632dfa\",\"fileName\":\"3A59822D7A4416DC8E63\",\"version\":null,\"extension\":\"mp4\",\"mimeType\":\"video/mp4\",\"size\":\"1380472\",\"createdAt\":\"2025-10-24T15:03:44.696-03:00\",\"updatedAt\":\"2025-10-24T15:03:44.696-03:00\",\"meta\":{}},\"mediaUrl\":\"https://grqgzepwdxag.compat.objectstorage.sa-saopaulo-1.oraclecloud.com/files.apre.chat/000010/ticket/110928/3A59822D7A4416DC8E63.mp4\",\"meta\":{}}]"},"webhookUrl":"https://n8n.apresenta.me/webhook/67c7d548-f722-4bed-ad82-72e6f747b960","executionMode":"production"}}]},"versionId":"eb21638b-82fe-407a-b849-9dd75b72479d","triggerCount":2,"shared":[{"createdAt":"2025-08-27T17:47:57.697Z","updatedAt":"2025-08-27T17:47:57.697Z","role":"workflow:owner","workflowId":"nQFtNzMPQw4qKbaY","projectId":"4ToGMYJEWvvDSbcz"}],"tags":[]}