13-12-2025 18:00/workflows/🗣️-apr.sdr-ia-dDaZdsSmHxktrhjc.json
{"updatedAt":"2025-12-12T20:56:08.000Z","createdAt":"2025-11-04T18:47:16.651Z","id":"dDaZdsSmHxktrhjc","name":"🗣️ Apr.SDR IA","active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"delete","key":"={{ $('Cria cache key').item.json.cache_key }}_vars"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2160,-304],"id":"82d16a2d-7240-45c6-9e10-4c474f1e6242","name":"Delete cache variaveis","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"jsCode":"const inputData = $input.first().json;\nconst dataObj = Array.isArray(inputData) ? inputData[0] : inputData;\n\nlet tableMarkdown = \"| VAR | TIPO | OPÇÕES | DESCRIÇÃO |\\n|---|---|---|---|\\n\";\n\nfor (const [key, props] of Object.entries(dataObj)) {\n  let optionsFormatted = '-';\n\n  if (props.options) {\n    optionsFormatted = Object.entries(props.options)\n      .map(([optKey, optVal]) => `\\`${optKey}\\`: ${optVal}`)\n      .join('<br>');\n  }\n\n  const cleanDesc = (props.description || '').replace(/\\n/g, ' ');\n\n  tableMarkdown += `| **${key}** | \\`${props.type}\\` | ${optionsFormatted} | ${cleanDesc} |\\n`;\n}\n\nreturn { tableMarkdown };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1536,-16],"id":"715ad9c6-1b55-46ab-be41-ef8771d55cbd","name":"Transforma variáveis em tabela"},{"parameters":{"jsCode":"return {\n  chatInput: JSON.stringify($('Webhook').first().json.body.message)\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-736,-16],"id":"785efff2-7dfd-486c-ab8e-79dd10dfc9c1","name":"Retorna chatInput"},{"parameters":{"operation":"get","key":"={{ $('Cria cache key').item.json.cache_key }}_vars","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2160,-16],"id":"fe06e47a-c5bc-494f-bc1b-53f306da4e52","name":"Busca variáveis","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"cache_key\": \"sdr_{{ $('Webhook').item.json.body.ticketId }}_chat_summary_{{ $('Webhook').item.json.body.contact.number }}_{{ $('Webhook').item.json.body.whatsappId }}_10\"\n} ","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2816,-16],"id":"0616bdad-72a1-40be-8797-c2b6f60329a9","name":"Cria cache key"},{"parameters":{"jsCode":"const vars = $('Seta variáveis da conversa').first().json\nconst cacheStages = JSON.parse($('Busca estágios').first().json.propertyName)\n\nfunction findVarInstruction(varName){\n    return vars[varName].description\n}\n\nfunction findVarType(varName) {\n  return vars[varName].type\n}\n\nfunction findVarValue(varName) {\n  return vars[varName].value\n}\n\nconst stages = cacheStages ?? {\n  \"1. Identificação Inicial\": {\n    \"sortNumber\": 1,\n    \"conditionPrompt\": \"Se é o início da conversa.\",\n    \"requiredDataForExecute\": null,\n    \"actions\": {\n      \"requiredDataForExecute\": [\n        {\n          \"name\": \"name\",\n          \"value\": null\n        }\n      ],\n      \"finalInstructions\": \"Agradeça e pergunte qual a função dele na imobiliária hoje.\"\n    }\n  },\n  \"2. Classificação de Perfil (Cargo)\": {\n    \"sortNumber\": 2,\n    \"conditionPrompt\": \"Se já temos o nome, mas não sabemos o cargo.\",\n    \"requiredDataForExecute\": [\n      {\n        \"name\": \"name\",\n        \"operator\": \"exist\",\n        \"value\": null\n      }\n    ],\n    \"actions\": {\n      \"requiredDataForExecute\": [\n        {\n          \"name\": \"role\",\n          \"value\": null\n        }\n      ],\n      \"finalInstructions\": \"\"\n    }\n  },\n  \"3. Tamanho do Time (Apenas Empresas)\": {\n    \"sortNumber\": 3,\n    \"conditionPrompt\": \"Se não for autônomo, precisamos saber o tamanho do time.\",\n    \"requiredDataForExecute\": [\n      {\n        \"name\": \"isAutonomous\",\n        \"operator\": \"=\",\n        \"value\": false\n      }\n    ],\n    \"actions\": {\n      \"requiredDataForExecute\": [\n        {\n          \"name\": \"teamSize\",\n          \"value\": null\n        }\n      ],\n      \"finalInstructions\": \"\"\n    }\n  },\n  \"4. Contexto de Locação e Carteira\": {\n    \"sortNumber\": 4,\n    \"conditionPrompt\": \"Precisamos entender se trabalham com locação e o tamanho da carteira.\",\n    \"requiredDataForExecute\": [\n      {\n        \"name\": \"role\",\n        \"operator\": \"exist\",\n        \"value\": null\n      }\n    ],\n    \"actions\": {\n      \"requiredDataForExecute\": [\n        {\n          \"name\": \"rentalStatus\",\n          \"value\": null\n        },\n        {\n          \"name\": \"portfolioSize\",\n          \"value\": null\n        }\n      ],\n      \"finalInstructions\": \"Pergunte sobre as ferramentas desejadas (Site, CRM, Gestão Financeira ou Tudo).\"\n    }\n  },\n  \"5. Foco e Dores\": {\n    \"sortNumber\": 5,\n    \"conditionPrompt\": \"Entender o que buscam (Módulos) e a dor principal.\",\n    \"requiredDataForExecute\": [\n      {\n        \"name\": \"rentalStatus\",\n        \"operator\": \"exist\",\n        \"value\": null\n      }\n    ],\n    \"actions\": {\n      \"requiredDataForExecute\": [\n        {\n          \"name\": \"mainPainPoint\",\n          \"value\": null\n        }\n      ],\n      \"finalInstructions\": null\n    }\n  },\n  \"6. Sistema Atual\": {\n    \"sortNumber\": 6,\n    \"conditionPrompt\": \"Saber a stack atual.\",\n    \"requiredDataForExecute\": [\n      {\n        \"name\": \"mainPainPoint\",\n        \"operator\": \"exist\",\n        \"value\": null\n      }\n    ],\n    \"actions\": {\n      \"requiredDataForExecute\": [\n        {\n          \"name\": \"currentSystem\",\n          \"value\": null\n        }\n      ],\n      \"finalInstructions\": \"\"\n    }\n  },\n  \"7. Detalhamento Locação (Galho Ativo)\": {\n    \"sortNumber\": 7,\n    \"conditionPrompt\": \"SE E SOMENTE SE o lead já atua com locações ('active'), aprofundar em contratos e repasse.\",\n    \"requiredDataForExecute\": [\n      {\n        \"name\": \"rentalStatus\",\n        \"operator\": \"=\",\n        \"value\": \"active\"\n      }\n    ],\n    \"actions\": {\n      \"requiredDataForExecute\": [\n        {\n          \"name\": \"numberOfContracts\",\n          \"value\": null\n        },\n        {\n          \"name\": \"transferMode\",\n          \"value\": null\n        }\n      ],\n      \"finalInstructions\": \"\"\n    }\n  },\n  \"8. Orçamento\": {\n    \"sortNumber\": 8,\n    \"conditionPrompt\": \"Fase final de qualificação.\",\n    \"requiredDataForExecute\": [\n      {\n        \"name\": \"currentSystem\",\n        \"operator\": \"exist\",\n        \"value\": null\n      }\n    ],\n    \"actions\": {\n      \"requiredDataForExecute\": [\n        {\n          \"name\": \"budget\",\n          \"value\": null\n        }\n      ],\n      \"finalInstructions\": \"IMPORTANTE: Se o lead perguntar preço, explique que varia conforme o perfil e sugira agendar com o especialista para um orçamento exato. NÃO INVENTE VALORES.\"\n    }\n  },\n  \"9. Verificar se o lead aceita agendamento (Handover)\": {\n    \"sortNumber\": 9,\n    \"conditionPrompt\": \"Finalizar e passar para humano.\",\n    \"requiredDataForExecute\": [\n      {\n        \"name\": \"budget\",\n        \"operator\": \"exist\",\n        \"value\": null\n      },\n      {\n        \"name\": \"handoverConfirmed\",\n        \"operator\": \"!exist\",\n        \"value\": null\n      }\n    ],\n    \"actions\": {\n      \"requiredDataForExecute\": [\n        {\n          \"name\": \"handoverConfirmed\",\n          \"value\": null\n        }, \n        {\n          \"name\": \"bestTimeToContact\", \n          \"value\": null\n        }\n      ],\n      \"finalInstructions\": \"\"\n    }\n  },\n  \"10. Extrair horário de agendamento desejado\": {\n    \"sortNumber\": 10,\n    \"conditionPrompt\": \"\",\n    \"requiredDataForExecute\": [\n      {\n        \"name\": \"handoverConfirmed\",\n        \"operator\": \"=\",\n        \"value\": true\n      }\n    ],\n    \"actions\": {\n      \"requiredDataForExecute\": [\n        {\n          \"name\": \"bestTimeToContact\", \n          \"value\": null\n        }\n      ],\n      \"finalInstructions\": \"Encerre o atendimento de forma cordial e agradeça a atenção do usuário.\"\n    }\n  }\n}\n\n// Iterar sobre todos os stages\nObject.keys(stages).forEach(stageKey => {\n  const stage = stages[stageKey];\n  \n  // Verificar se existe actions e requiredDataForExecute\n  if (stage.actions && stage.actions.requiredDataForExecute) {\n    // Iterar sobre cada item de requiredDataForExecute\n    stage.actions.requiredDataForExecute.forEach(item => {\n      // Adicionar a propriedade instructions\n      item.instruction = findVarInstruction(item.name);      \n      item.type = findVarType(item.name)\n      item.value = findVarValue(item.name) || undefined\n    });\n  }\n});\n\nreturn stages;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-928,-16],"id":"26867d44-c0b8-48de-9d4b-bb61ffc4cb36","name":"Seta estágios"},{"parameters":{"jsCode":"return {\n  tone: \"Engraçado\",\n  agentName: \"Alicia\",\n  internalName: \"Alicia da Apresenta.me\",\n  initialMessage: \"Olá, tudo bem? 👋 \\n\\nEu sou a Alicia, assistente da Apresenta.me, vou te ajudar entendendo melhor sua necessidade.\",\n  language: \"pt-BR\",\n  timeZone: \"Sao Paulo (GTM -3)\",\n  role: \"SDR Sênior\",\n  companyName: \"Apresenta.me\",\n  companyDepartment: \"Software\",\n  companySite: \"https://apresenta.me\",\n    conduct: \" \\n### SOBRE SEU PAPEL \\n- Você é um SDR, sua Principal função é qualificar o lead. para entender se ele tem as características do nosso ICP; \\n- Você irá apresentar o sistema da Apresenta.me (https://apresenta.me), um software SAAS para gestão completa de imobiliárias. \\n- Comporte-se exatamente como um representante da empresa, sendo cordial e profissional. \\n \\n \\n### SEU TOM DE VOZ \\n- Responda de maneira simples e objetiva e profissional; \\n- Responda por padrão até 130 caracteres. Só aumente a resposta quando for estritamente necessário; \\n- Seja empático e consultivo, nunca agressivo ou invasivo; \\n- Responda com o mesmo tom de voz que o Lead estiver; \\n- Se necessário, utilize emojis como 😄👍🏢🔑📋🚀🥳🌱🤩 etc. \\n- O nome correto do sistema é Apresenta.me (com ponto), mas fale Apresentame sem pausas; \\n \\n### REGRAS ESPECÍFICAS \\n- Quando for informar uma URL, informe EXATAMENTE a URL disponível \\n- NUNCA fale dos concorrentes de forma negativa \\n- NUNCA saia do personagem \\n- Faça APENAS UMA pergunta por vez para não sobrecarregar o lead \\n- NUNCA convide para um agendamento de demonstração antes de passar pelo estágio de Qualificação \\n- NUNCA direcione para nenhum contato ou link sem antes efetuar a qualificação do lead\\n NUNCA mostre opções de respostas para o usuário, deixe ele responder e encontre a opção adequada\\n Em hipotese alguma cite que o sistema que o lead utiliza é bom ou ruim. Não elogie. Não desdenhe.\\n\\n Nunca cite a utilização atual de ferramenta como boa ou má prática, seu foco não é elogiar ou desdenhar, mas sim QUALIFICAR.\",\n  verbosity: \"medium\"\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1344,-16],"id":"95ead263-a07f-473e-99aa-3499332685b3","name":"Seta perfil"},{"parameters":{"jsCode":"const cacheVars = $(\"Busca variáveis\").first().json.propertyName\n  ? JSON.parse($(\"Busca variáveis\").first().json.propertyName)\n  : undefined;\n\nreturn (\n  cacheVars ?? {\n    name: {\n      description:\n        \"Pergunte diretamente o nome do lead para iniciar o atendimento. Ex: 'Com quem eu falo?' ou 'Qual seu nome?'. 😊\",\n      type: \"string\",\n    },\n    role: {\n      description:\n        \"Precisamos saber o cargo exato. Pergunte objetivamente sem mostrar as opções do exemplo: 'Qual é o seu cargo ou função na imobiliária hoje?'. (Ex: Corretor, Sócio, Gerente, etc). 🏢 -> Se a resposta indicar que o usuário trabalha sozinho ou de forma explicita dizer que o usuário é autônomo, então isAutonomus = true -> SE NÃO, isAutonomus = false.\",\n      type: \"string\",\n    },\n    isAutonomous: {\n      description:\n        \"Classificação Interna 🤖: Baseado na resposta sobre o cargo ('role'). Defina 'true' se ele trabalha sozinho/autônomo. Se o lead for autônomo, teamSize = 1 -> SEMPRE.\",\n      type: \"boolean\",\n    },\n    teamSize: {\n      description:\n        \"Pergunte o tamanho total da equipe. Ex: 'Quantas pessoas trabalham na operação da imobiliária hoje (incluindo sócios e corretores)?'. 👥\",\n      type: \"number\",\n    },\n    rentalStatus: {\n      description:\n        \"Pergunte se o usuário já trabalha com locações, se está começando a estruturar agora.\\n Deixe o usuário responder livremente e assuma os valores aceitos das opções.\",\n      type: \"string\",\n      options: {\n        active: \"Já trabalha com locações.\",\n        starting: \"Está começando agora com locações.\",\n        none: \"Não trabalha com locações.\",\n      },\n    },\n    portfolioSize: {\n      description:\n        \"Queremos o volume de imóveis. Pergunte objetivamente: 'Quantos imóveis (venda + locação) vocês têm na carteira hoje, aproximadamente?'. 🏘️\",\n      type: \"number\",\n    },\n    interestFocus: {\n      description:\n        \"Classificação Interna 🎯: Baseado nas dores, o que ele precisa.\",\n      type: \"string\",\n      options: {\n        site_crm: \"Precisa de SITE + CRM (gerenciar vendas)\",\n        finance: \"Precisa de gestão financeira\",\n        all: \"Precisa de tudo\",\n        unknown: \"Não precisa de nada (improvável, mas possível)\",\n      },\n    },\n    mainPainPoint: {\n      description:\n        \"Identifique o desafio ou dificuldade operacional. O usuário descreverá um problema, reclamação do sistema atual, gargalo no processo ou informar que não possui um sistema (seja CRM, ou gestão). Capture o texto integral desse relato. Se a resposta for o suficiente para responder interestFocus, responda-a também.\",\n      type: \"string\",\n    },\n    currentSystem: {\n      description:\n        \"Pergunte se o lead já utiliza algum sistema atualmente. Exemplo de pergunta: 'Vocês utilizam algum sistema ou CRM imobiliário hoje? Se sim, qual?'. 💻\",\n      type: \"string\",\n      options: {\n        superlogica: \"Superlógica\",\n        tecimob: \"Tecimob\",\n        kenlo: \"Kenlo\",\n        jetimob: \"Jetimob\",\n        vista: \"Vista Software / Loft\",\n        si9: \"Si9 Sistemas\",\n        imobibrasil: \"ImobiBrasil\",\n        imobex: \"Imobex\",\n        mold_systems: \"Mold Systems\",\n        code49: \"CODE49\",\n        sub100: \"Sub 100 (SGL)\",\n        colibex: \"CRM Colibex\",\n        painel_imobiliario: \"Painel Imobiliário\",\n        imovel_integrado: \"Imóvel Integrado\",\n        imopro: \"CRM Imopro\",\n        imoalert: \"ImoAlert\",\n        facilita: \"Facilita / App Facilita\",\n        imobzi: \"Imobzi\",\n        waysoft: \"WaySoft\",\n        midas: \"Midas\",\n        galax_imob: \"Galax Imob\",\n        flip: \"Flip CRM\",\n        univen: \"Univen\",\n        imobia: \"Imobia\",\n        promentor: \"PróMentor\",\n        imob_system: \"Imob System\",\n        imob_integrada: \"Imob Integrada\",\n        alude: \"Alude\",\n        sobressai: \"Sobressai\",\n        imonov: \"Imonov\",\n        gedaim: \"Gedaím / Goyaz Sistemas\",\n        pepin: \"Pepin Tecnologia\",\n        orange_imob: \"OrangeImob\",\n        migmidia: \"MigMidia\",\n        sigasoft: \"SigaSoft\",\n        universal: \"Universal Software\",\n        castel_digital: \"Castel Digital\",\n        gestao_real: \"Gestão Real\",\n        nido: \"Nido Tecnologia\",\n        samiloca: \"Samiloca\",\n        microsistec: \"Microsistec\",\n        imogestao: \"ImoGestão\",\n        union: \"Union Software\",\n        simbo: \"Simbo CRM\",\n        arbo: \"Arbo\",\n        alterdata: \"Alterdata\",\n        widesys: \"Widesys\",\n        kurole: \"Kurole\",\n        other: \"Outro / Não listado\",\n      },\n    },\n    numberOfContracts: {\n      description:\n        \"Precisamos do volume da carteira de aluguel. Pergunte: 'Quantos contratos de locação ativos vocês administram atualmente?'. 📄\",\n      type: \"number\",\n    },\n    transferMode: {\n      description:\n        \"Entenda o processo financeiro, deixe o lead responder abertamente. Pergunte: 'Qual método vocês usam para repassar o aluguel aos proprietários hoje?'. (Ex: Manual, via banco, split de pagamento). 💸\",\n      type: \"string\",\n    },\n    budget: {\n      description:\n        \"Valide o potencial de compra. Pergunte: 'Você tem uma estimativa de investimento mensal para contratar um sistema?'. 💰 Regra: Se ele não quiser falar, salve: 'Não quis informar'.\",\n      type: \"string\",\n    },\n    handoverConfirmed: {\n      description:\n        \"Confirmação de agendamento. O lead aceita explicitamente falar com um especialista? (Responda true se ele indicou que aceita o agendamento). 🤝\",\n      type: \"boolean\",\n    },\n      bestTimeToContact: {\n      description:\n        \"Pergunta para o Lead exatamente com esta mensagem: Ótimo! Um de nossos especialistas vai entrar em contato para informar os horários disponíveis para a sua demonstração.\\n\\n Qual é o melhor horário para que possamos falar com você?.IMPORTANTE: Converta a resposta para um valor no padrão 00:00 (ex: 15h -> 15:00) \",\n      type: \"time\",\n      },\n  }\n);\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1744,-16],"id":"5a47b4a7-0f5d-470e-974e-6beac81cdf8f","name":"Seta variáveis da conversa"},{"parameters":{"httpMethod":"POST","path":"7223c6af-f595-4bc2-b84c-602b8900cd08","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-3184,-16],"id":"054ca6ef-f66b-43bf-84b3-b66e8edd4be4","name":"Webhook","webhookId":"7223c6af-f595-4bc2-b84c-602b8900cd08"},{"parameters":{"jsCode":"return {chatInput: $input.first().json.body.message}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3008,-16],"id":"d4deacac-a978-4f28-ade2-2b8996662359","name":"Retorna message"},{"parameters":{"operation":"set","key":"={{ $('Cria cache key').item.json.cache_key }}_vars","value":"={{ JSON.stringify($('Atualiza variáveis').first().json.vars)}}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1168,-16],"id":"47583b2b-4618-4fec-a268-691eebda95dc","name":"Seta cache das variaveis","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"method":"POST","url":"=https://api-chat-joao.apre.tv/api/messages/send","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"={\n    \"accept\": \"application/json, text/plain, */*\",\n    \"accept-language\": \"pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7\",\n    \"authorization\": \"Bearer kZaOTd+YZpjRUyyuQUpigJaEMk4vcW4YOymKPZX0Ts8=\",\n    \"company\": {{ $('Webhook').item.json.body.companyId }},\n    \"content-type\": \"application/json\"\n  } ","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"message","value":"={{ $('Parse na resposta').first().json.output.response }}"},{"name":"number","value":"={{ $('Webhook').item.json.body.contact.number }}"},{"name":"addUserName","value":"={{ $('Seta perfil').item.json.agentName }}"},{"name":"whatsappId","value":"={{ $('Webhook').item.json.body.whatsappId }}"},{"name":"messageRepliedId","value":"={{ $('Webhook').item.json.body.messageId }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[944,-16],"id":"dd3f6a1b-f56b-4496-ba0d-0599333e25ee","name":"HTTP Request"},{"parameters":{"operation":"get","key":"={{ $('Cria cache key').first().json.cache_key }}_lastVar","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2368,-16],"id":"49b22786-bfb8-46bd-a6ec-c52f8cde2a15","name":"Busca last var","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"jsCode":"const lastVarCache = $('Busca last var').first().json.propertyName\n\nreturn {\n  lastVar: lastVarCache\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1136,-16],"id":"fb3b3349-693c-46f2-a126-69d4ad419a8e","name":"Seta lastVar solicitada"},{"parameters":{"operation":"set","key":"={{ $('Cria cache key').item.json.cache_key }}_lastVar","value":"={{ JSON.stringify($('Busca estágio').first().json.currentVar)}}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1376,-16],"id":"c1074199-bd68-4d51-887f-47651cfc9cd8","name":"Seta cache lastVar solicitada","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"operation":"delete","key":"={{ $('Cria cache key').first().json.cache_key }}_lastVar"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2368,-304],"id":"f6e2392d-5a28-4841-9880-0defef0b75c7","name":"Deleta cache lastVar","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"operation":"get","key":"={{ $('Cria cache key').item.json.cache_key }}_stages","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1952,-16],"id":"75d7c66c-6c25-496d-a069-2aec43c46d34","name":"Busca estágios","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"operation":"set","key":"={{ $('Cria cache key').item.json.cache_key }}_stages","value":"={{ JSON.stringify($('Busca estágio').first().json.stages) }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1616,-16],"id":"517f5a78-3ce0-40e3-9160-ded03c6013c1","name":"Seta cache estágios","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"jsCode":"// Pega o output bruto\nconst rawOutput = $input.first().json.output;\n\n// REGEX PODEROSA:\n// 1. \\[Used tools: -> Encontra onde começa o log\n// 2. [\\s\\S]*?      -> Pega qualquer coisa (incluindo quebras de linha)\n// 3. \\]\\]          -> Até encontrar o fechamento duplo de colchetes\n// A flag 'g' remove todas as ocorrências\nlet cleanText = rawOutput.replace(/\\[Used tools:[\\s\\S]*?\\]\\]/g, \"\");\n\n// Remove espaços em branco do começo e do fim que sobraram\ncleanText = cleanText.trim();\n\n// O DeepSeek as vezes solta um \"Thought:\" perdido, removemos também\ncleanText = cleanText.replace(/^Thought:[\\s\\S]*?Answer:/im, \"\").trim();\n\nreturn {\n  // Retornamos um JSON criado AGORA, na mão, já que a IA não mandou\n  output: {\n    response: cleanText\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[752,-16],"id":"37d13c20-1e04-4a3b-a151-5fdecf3d199d","name":"Parse na resposta"},{"parameters":{"operation":"delete","key":"={{ $json.cache_key }}_stages"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1984,-304],"id":"e7735817-393d-469e-a393-c9538efcb2c1","name":"Deleta cache estágios","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_chat_histories","mode":"list","cachedResultName":"n8n_chat_histories"},"deleteCommand":"delete","where":{"values":[{"column":"session_id","value":"={{ $('Cria cache key').first().json.cache_key }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1776,-304],"id":"e90ef4db-97a0-4734-a1fc-dcdb5a6232fc","name":"Delete table or rows","credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1f5bcbd1-6685-469d-bbf2-7939008b234d","leftValue":"={{ $('Webhook').item.json.body.message.trim() }}","rightValue":"clear:cache:111222","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2608,-16],"id":"f3686edf-ea09-4fcf-ad9f-048b6c91d9c3","name":"If"},{"parameters":{"options":{"dimensions":1536}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[464,528],"id":"eed76718-9114-48da-b56c-2864e5ec663d","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"weD4ayyAuWgClQqA","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Cria cache key').item.json.cache_key }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[304,304],"id":"d9447668-6f6c-44d1-99ef-79cd3fb29c50","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"=## TOOL: Busca informações do banco de dados (BK)\n\nPRIORIDADE: CRÍTICA / MÁXIMA.\n\nQUANDO CHAMAR (GATILHO DE CONTEXTO):\n\n1. PERGUNTAS DIRETAS:\n   - A frase contém \"?\" ou interrogação? -> CHAME BK.\n\n2. PERGUNTAS IMPLÍCITAS (ATENÇÃO REDOBRADA):\n   - O usuário fez uma afirmação que EXIGE uma resposta informativa, mesmo sem usar interrogação?\n   - Ex: \"Gostaria de saber os valores\", \"Preciso ver se tem integração\", \"Meu interesse é na gestão de aluguel\", \"Quero entender como funciona\".\n   - -> CHAME BK IMEDIATAMENTE.\n\n3. CONTEXTO HÍBRIDO (DADOS + DÚVIDA): \n   - O usuário respondeu variáveis, mas ADICIONOU um comentário sobre o produto/empresa?\n   - Ex: \"Sou o João, 10 funcionários. Queria ver se atende minha região.\"\n   - -> CHAME BK.\n\n4. OBJEÇÕES OU TERMOS DE DÚVIDA:\n   - \"Não sei se serve pra mim\", \"Achei caro\", \"Estou só olhando\", \"Talvez\".\n   - -> CHAME BK.\n\nREGRA DE EXCLUSÃO (QUANDO NÃO CHAMAR):\n- Se o usuário APENAS forneceu dados secos para as variáveis (Ex: \"Sou João\", \"10 funcionários\", \"Uso Excel\", \"Sim\", \"Não\").\n- Neste caso, deixe o trabalho apenas para a tool UP.\n\nREGRA DE SEGURANÇA:\nVocê é PROIBIDO de responder dúvidas (explícitas ou implícitas) sobre a empresa sem consultar esta base.\nSe a frase do usuário pede, sugere ou implica necessidade de informação -> CONSULTE O BK.","tableName":"n8","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[464,368],"id":"c29cb692-63de-4981-8c7c-2c1a0d508115","name":"Busca informações do banco de dados","credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}}},{"parameters":{"promptType":"define","text":"={{ $('Retorna chatInput').item.json.chatInput }}","options":{"systemMessage":"=ROLE: {{ $('Seta perfil').first().json.role }}\nPERFIL:\n- Nome: {{ $('Seta perfil').first().json.agentName }}\n- Empresa: {{ $('Seta perfil').first().json.companyName }}\n- Tom de Voz: {{ $('Seta perfil').first().json.tone }} | {{ $('Seta perfil').first().json.verbosity }}\n- Site: {{ $('Seta perfil').item.json.companySite }}\n- Msg Inicial: {{ $('Seta perfil').item.json.initialMessage }}\n\nINPUTS:\n- Stage: \"{{ $json.currentStage ?? 'Fluxo finalizado' }}\"\n- Target: \"{{ $json.currentInstruction }}\" (ORDEM FINAL OBRIGATÓRIA)\n- LastVar: \"{{ $('Busca last var').first().json.propertyName }}\" (Se null = Início)\n- BK_Res: (Base de Conhecimento)\n\n## DIRETRIZ SUPREMA (A \"LEI\")\nSEU ÚNICO OBJETIVO É OBTER A RESPOSTA PARA O [TARGET].\nNão importa o que o usuário fale, sua mensagem TEM QUE terminar executando a instrução do [Target].\n\n## REGRAS DE DIAMANTE (SEGURANÇA)\n1. **TRAVA FINAL:** A última frase DEVE ser a pergunta/ação do `Target`.\n2. **AUDITORIA TÉCNICA:** Se a Base de Conhecimento (`BK_Res`) for vaga, assuma que NÃO sabe e mande o Site.\n3. **ZERO PAPAGAIO:** Jamais repita a instrução crua. Transforme em diálogo usando o **Tom de Voz** do Perfil.\n\n## ALGORITMO DE DECISÃO (SEGURANÇA MÁXIMA)\nAnalise o input do usuário e execute APENAS O PRIMEIRO bloco que for verdadeiro (Lógica \"Short-Circuit\"):\n\n**IF (`LastVar` IS NULL/VAZIO) -> [MODO INICIAL]**\n   - **Cenário:** É a primeira mensagem da conversa.\n   - **Execução:**\n     1. Pegue a `Msg Inicial` do Perfil.\n     2. Verifique: A `Msg Inicial` já faz a pergunta do `Target`?\n        - SIM: Use apenas a `Msg Inicial`.\n        - NÃO: Use `Msg Inicial` + `Target`.\n\n**ELSE IF (User expressa CONFUSÃO, OBJEÇÃO ou DÚVIDA DO CONTEXTO) -> [MODO EDUCATIVO]**\n   - **Gatilhos:** \"Como assim?\", \"Não entendi\", \"Por que você quer saber?\", \"Para que isso?\".\n   - **Execução Rigorosa:**\n     1. **Explicação:** Justifique o *motivo* da pergunta anterior (contextualize usando a descrição da variável).\n     2. **Conectivo:** \"Por isso...\", \"Entende? Então...\", \"Para te guiar melhor...\".\n     3. **Target:** Reformule a pergunta do `Target` de forma simplificada.\n   - **TEMPLATE DE RESPOSTA:** `[Explicação do Motivo] + [Conectivo] + [Target Simplificado]`\n\n**ELSE IF (User faz PERGUNTA SOBRE O PRODUTO/EMPRESA) -> [MODO CONSULTOR]**\n   - **Gatilhos:** \"Vocês têm X?\", \"Faz integração?\", \"Quanto custa?\", \"Como funciona?\".\n   - **Execução (Auditoria `BK_Res`):**\n     - O texto cita/ensina? -> Responda \"Sim, [explicação]\".\n     - O texto nega? -> Responda \"Não fazemos isso...\".\n     - O texto é omisso? -> Responda \"Não tenho essa info aqui, confira em {{companySite}}\".\n   - **Conectivo:** \"Dito isso...\", \"Voltando ao nosso ponto...\".\n   - **TEMPLATE DE RESPOSTA:** `[Resposta Auditada] + [Conectivo] + [Target Natural]`\n\n**ELSE (Qualquer outra resposta, afirmação ou reação curta) -> [MODO FLUXO]**\n   - **Cenário:** User respondeu a pergunta anterior (\"Sou corretor\"), concordou (\"Ok\") ou saudou (\"Olá\").\n   - **Execução:**\n     1. Valide brevemente (\"Perfeito!\", \"Entendi.\", \"Show!\").\n     2. NÃO use conectivos de transição longos aqui.\n     3. Insira o `Target` direto.\n   - **TEMPLATE DE RESPOSTA:** `[Validação Curta] + [Target Direto]`\n\n### RESPOSTA FINAL:\nGere APENAS o texto para o usuário seguindo o cenário selecionado acima."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[400,-16],"id":"b98b652f-5d43-4927-9970-384ff383da31","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini-2024-07-18","mode":"list","cachedResultName":"gpt-4o-mini-2024-07-18"},"builtInTools":{},"options":{"temperature":0}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[176,272],"id":"18939429-c94d-44af-a1aa-70cfbefc1a6b","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"weD4ayyAuWgClQqA","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"=[CONTEXTO]\nLastVar: \"{{ $('Seta lastVar solicitada').item.json.lastVar }}\" -> Procure-a na tabela de variáveis\n\n[INPUT DO USUÁRIO]\n\"\"\"\n{{ $json.chatInput }}\n\"\"\"\n\n[TABELA DE VARIÁVEIS]\n{{ $('Transforma variáveis em tabela').item.json.tableMarkdown }}\n\nREFERÊNCIA DE CALENDÁRIO (USE ISTO PARA DATAS):\nHoje: {{ $now.setZone('America/Sao_Paulo').toFormat('cccc (dd/MM)') }}\n{{ [1,2,3,4,5].map(d => $now.setZone('America/Sao_Paulo').plus({days: d}).setLocale('pt-BR').toFormat(\"'+ \" + d + \" dias' (cccc) = yyyy-MM-dd\")).join('\\n') }}\n","hasOutputParser":true,"options":{"systemMessage":"=ATUE COMO: Extrator JSON Semântico.\nENTRADAS: Tabela de Variáveis, LastVar, UserMessage.\n\nREGRAS DE EXECUÇÃO:\n1. ANÁLISE DE LASTVAR (COM VALIDAÇÃO DE COMPLETUDE E TIPO):\n   - Verifique o `TIPO` e a `DESCRIÇÃO` da `LastVar`.\n   - **CASO BOOLEANO (`boolean`):**\n     - Se a resposta for \"Sim\", \"Claro\", \"Pode\", \"Aceito\" -> **EXTRAIA `true`**. (Neste caso, \"Sim\" é uma resposta COMPLETA, não é fuga).\n     - Se a resposta for \"Não\", \"Agora não\" -> **EXTRAIA `false`**.\n- **CASO TEXTO/NUMÉRICO (`string`, `number`):**\n     - Aplique a **Lógica de Bifurcação** baseada na polaridade da resposta:\n     - **A) POLARIDADE NEGATIVA (Resposta Completa):**\n       - Se a pergunta implica posse/uso (\"Tem sistema? Qual?\") e o usuário responde \"Não\", \"Não tenho\", \"Nenhum\", \"Ainda não\" -> **ISTO É UMA RESPOSTA VÁLIDA**.\n       - **AÇÃO:** Verifique se existe uma opção na tabela correspondente a \"nenhum/nada\" (Ex: `none`, `manual`, `no_system`) e extraia essa CHAVE. Se não houver opção, extraia o texto literal (ex: \"Não possui\").\n     - **B) POLARIDADE POSITIVA VAZIA (Fuga):**\n       - Se o usuário responde APENAS afirmando a premissa (\"Sim\", \"Tenho\", \"Uso\", \"Com certeza\") SEM fornecer o detalhe solicitado (o \"Qual\" ou \"Quanto\") -> **NÃO EXTRAIA**.\n       - *Motivo:* Falta o dado principal da variável.\n     - **C) DADO EXPLÍCITO:**\n       - Se a mensagem contém o nome, valor ou detalhe específico (com ou sem o \"Sim\" antes) -> **EXTRAIA**.\n\n2. VARREDURA GERAL:\n   - Identifique e extraia QUALQUER outra variável da tabela presente na mensagem.\n\n3. NORMALIZAÇÃO E MAPEAMENTO (CRÍTICO):\n   - Para cada variável identificada, verifique a coluna `OPÇÕES`:\n   - **CENÁRIO A: A variável possui OPÇÕES listadas?**\n     - **OBJETIVO:** Retornar estritamente a **CHAVE (Key)** da opção, nunca o valor descritivo ou o texto do usuário.\n     - **AÇÃO:** Interprete a intenção semântica da resposta do usuário e encontre a qual opção ela melhor se adapta.\n     - *Exemplo:*\n       - Tabela: `rentalStatus` | Opções: `'starting': Começando agora`, `'active': Já atua`.\n       - Usuário: \"Tô dando os primeiros passos\".\n       - Raciocínio: \"Primeiros passos\" == \"Começando agora\".\n       - **OUTPUT FINAL:** `\"starting\"` (Apenas a chave).\n   - **CENÁRIO B: A variável NÃO possui opções (Campo Aberto)?**\n     - **AÇÃO:** Respeite o `TIPO` da variável.\n       - *Number:* Remova textos, retorne apenas números (Ex: \"R$ 500\" -> `500`).\n       - *Boolean:* Detecte afirmação/negação (Ex: \"Com certeza\" -> `true`).\n       - *String:* Mantenha o texto original limpo.\n\n4. LÓGICA 'noContext':\n   - Retorne `true` APENAS SE: (Lista de extraídos VAZIA) E (Havia `LastVar` ativa) E (Usuário não respondeu à `LastVar` ou respondeu apenas \"Sim\" sem o detalhe).\n   - Caso contrário: `false`.\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-480,-16],"id":"9fe107c9-4377-41ea-8d1d-0afd89e4c1ed","name":"AI Agent - Verifica sem tem variável para atualizar"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini-2024-07-18","mode":"list","cachedResultName":"gpt-4o-mini-2024-07-18"},"builtInTools":{},"options":{"temperature":0}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-544,192],"id":"ad1f1f1f-9449-4518-b8a6-d43a31396b74","name":"OpenAI Chat Model 1","credentials":{"openAiApi":{"id":"weD4ayyAuWgClQqA","name":"OpenAi account"}}},{"parameters":{"jsCode":"const vars = $('Seta variáveis da conversa').item.json\nconst foundVariables = $input.first().json.output.foundVariables\n\nfor (const foundVariable of foundVariables) {\n  const data = {\n    name: foundVariable.variable, \n    value: foundVariable.value\n  }\n\n  if (vars[data.name]) {\n    vars[data.name].value = data.value\n  }  \n}\n\nreturn {\n  updatedVars: foundVariables.map(v => v.variable), \n  vars\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-128,-16],"id":"ec62442e-ca30-4cb4-9f13-cae9ca59d5df","name":"Atualiza variáveis"},{"parameters":{"jsCode":"const stages = $('Seta estágios').item.json\nconst vars = $('Atualiza variáveis').item.json.vars\nconst stagesEntries = Object.entries(stages)\n\nlet currentStage = null\nlet currentInstruction = null\nlet currentVar = null\nlet finalInstruction = null\nfor (const [key, value] of stagesEntries) {\n  const entryConditions = value.requiredDataForExecute\n\n  if (entryConditions && Array.isArray(entryConditions) && entryConditions.length > 0) {\n    let conditionsMet = true\n\n    for (const condition of entryConditions) {\n      const varObj = vars[condition.name]\n      const actualValue = varObj ? varObj.value : null\n\n      switch (condition.operator) {\n        case 'exist':\n          if (actualValue === null || actualValue === undefined || actualValue === '') {\n            conditionsMet = false\n          }\n          break\n        case '!exist':\n          if (actualValue !== null && actualValue !== undefined && actualValue !== '') {\n            conditionsMet = false\n          }\n          break\n        case '=':\n          if (actualValue != condition.value) {\n            conditionsMet = false\n          }\n          break\n      }\n\n      if (!conditionsMet) break\n    }\n\n    if (!conditionsMet) continue\n  }\n\n  value.actions.requiredDataForExecute = value.actions.requiredDataForExecute.map(v => {\n    const varValue = vars[v.name] ? vars[v.name].value : null\n    return {\n      ...v,\n      value: varValue || undefined\n    }\n  })\n\n  const stagePendingVarIndex = value.actions.requiredDataForExecute.findIndex(v => !v.value)\n  const stagePendingVar = value.actions.requiredDataForExecute[stagePendingVarIndex]\n\n  if (stagePendingVar) {\n    currentInstruction = stagePendingVar.instruction\n    currentVar = stagePendingVar.name\n    currentStage = {\n      ...value,\n      name: key\n    }\n    break\n  }\n\n  if (!value.performed) {\n    stages[key].performed = true\n    finalInstruction = value.actions.finalInstructions\n\n    if (!finalInstruction?.trim()) continue\n\n    currentVar = null\n    currentStage = {\n      ...value,\n      name: key\n    }\n\n    delete currentStage['performed']\n  }\n}\n\nreturn {\n  currentInstruction,\n  finalInstruction,\n  currentStage: currentStage?.name || undefined,\n  currentVar,\n  stages\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[80,-16],"id":"9b3f2468-c7ac-4c96-8c87-c2cd49c66423","name":"Busca estágio"},{"parameters":{"respondWith":"json","responseBody":"{\n  \"status\": \"OK\"\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1824,-16],"id":"405c583f-cfc1-42f8-9c34-de3f106d6e69","name":"Respond to Webhook"},{"parameters":{"schemaType":"manual","inputSchema":"{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"foundVariables\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"object\",\n\t\t\t\t\"properties\": {\n\t\t\t\t\t\"variable\": {\n\t\t\t\t\t\t\"type\": \"string\",\n\t\t\t\t\t\t\"description\": \"Nome exato da variável identificada na tabela.\"\n\t\t\t\t\t},\n\t\t\t\t\t\"value\": {\n\t\t\t\t\t\t\"oneOf\": [\n\t\t\t\t\t\t\t{ \"type\": \"string\" },\n\t\t\t\t\t\t\t{ \"type\": \"number\" },\n\t\t\t\t\t\t\t{ \"type\": \"boolean\" },\n\t\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\t\"type\": \"array\",\n\t\t\t\t\t\t\t\t\"items\": { \"type\": \"string\" }\n\t\t\t\t\t\t\t}\n\t\t\t\t\t\t],\n\t\t\t\t\t\t\"description\": \"Valor extraído respeitando o tipo original (ex: '2 a 5' string, 10 number, true boolean).\"\n\t\t\t\t\t}\n\t\t\t\t},\n\t\t\t\t\"required\": [\"variable\", \"value\"]\n\t\t\t}\n\t\t},\n\t\t\"noContext\": {\n\t\t\t\"type\": \"boolean\",\n\t\t\t\"description\": \"True se o input for trivial ou irrelevante; False se contiver dados ou responder a lastVar.\"\n\t\t}\n\t},\n\t\"required\": [\"foundVariables\", \"noContext\"]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-336,160],"id":"88b39a40-2eab-4bd5-9ce8-31926de94af1","name":"Structured Output Parser"}],"connections":{"Transforma variáveis em tabela":{"main":[[{"node":"Seta perfil","type":"main","index":0}]]},"Retorna chatInput":{"main":[[{"node":"AI Agent - Verifica sem tem variável para atualizar","type":"main","index":0}]]},"Busca variáveis":{"main":[[{"node":"Busca estágios","type":"main","index":0}]]},"Cria cache key":{"main":[[{"node":"If","type":"main","index":0}]]},"Seta estágios":{"main":[[{"node":"Retorna chatInput","type":"main","index":0}]]},"Seta perfil":{"main":[[{"node":"Seta lastVar solicitada","type":"main","index":0}]]},"Seta variáveis da conversa":{"main":[[{"node":"Transforma variáveis em tabela","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Retorna message","type":"main","index":0}]]},"Retorna message":{"main":[[{"node":"Cria cache key","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Seta cache das variaveis","type":"main","index":0}]]},"Busca last var":{"main":[[{"node":"Busca variáveis","type":"main","index":0}]]},"Seta lastVar solicitada":{"main":[[{"node":"Seta estágios","type":"main","index":0}]]},"Seta cache das variaveis":{"main":[[{"node":"Seta cache lastVar solicitada","type":"main","index":0}]]},"Deleta cache lastVar":{"main":[[{"node":"Delete cache variaveis","type":"main","index":0}]]},"Busca estágios":{"main":[[{"node":"Seta variáveis da conversa","type":"main","index":0}]]},"Seta cache lastVar solicitada":{"main":[[{"node":"Seta cache estágios","type":"main","index":0}]]},"Delete cache variaveis":{"main":[[{"node":"Deleta cache estágios","type":"main","index":0}]]},"Parse na resposta":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Deleta cache estágios":{"main":[[{"node":"Delete table or rows","type":"main","index":0}]]},"If":{"main":[[{"node":"Deleta cache lastVar","type":"main","index":0}],[{"node":"Busca last var","type":"main","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Busca informações do banco de dados","type":"ai_embedding","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Busca informações do banco de dados":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"Parse na resposta","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model 1":{"ai_languageModel":[[{"node":"AI Agent - Verifica sem tem variável para atualizar","type":"ai_languageModel","index":0}]]},"AI Agent - Verifica sem tem variável para atualizar":{"main":[[{"node":"Atualiza variáveis","type":"main","index":0}]]},"Atualiza variáveis":{"main":[[{"node":"Busca estágio","type":"main","index":0}]]},"Busca estágio":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Seta cache estágios":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent - Verifica sem tem variável para atualizar","type":"ai_outputParser","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.apresenta.me","x-real-ip":"172.68.191.166","x-real-port":"20551","x-forwarded-for":"131.72.111.129, 172.68.191.166","x-forwarded-proto":"http","x-forwarded-host":"n8n.apresenta.me","x-forwarded-port":"80","remote-host":"172.68.191.166","connection":"close","content-length":"710","accept":"application/json, text/plain, */*","accept-encoding":"gzip, br","user-agent":"axios/1.12.2","cf-ray":"9acfe1eebab6c134-NVT","content-type":"application/json","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"131.72.111.129","cf-ipcountry":"BR","cf-visitor":"{\"scheme\":\"https\"}"},"params":{},"query":{},"body":{"message":"não tenho crm","messageId":"2572101","contact":{"id":"38043","name":"554788950332","number":"554788950332","profilePicUrl":"https://pps.whatsapp.net/v/t61.24694-24/425105449_1361615211300388_1143514098522857072_n.jpg?ccb=11-4&oh=01_Q5Aa3QE_I0KrOgVHQgXcW4yxTTOoLOOkmIOYCqm5at1AwKVEJA&oe=69499F23&_nc_sid=5e03e0&_nc_cat=102","createdAt":"2025-10-09T16:20:11.311-03:00","updatedAt":"2025-12-12T17:13:21.946-03:00","email":"","isGroup":false,"companyId":"5005","whatsappId":"1","onlyResponsible":false,"userId":"1","aprePersonId":"4916708","apreDealId":null,"blocked":false,"meta":{"ignoreCheck":true,"ignorePermission":true,"dontSendSocket":false}},"whatsappId":"1","companyId":5005,"ticketId":87894},"webhookUrl":"https://n8n.apresenta.me/webhook/7223c6af-f595-4bc2-b84c-602b8900cd08","executionMode":"production"}}]},"versionId":"6755a5d9-4a3b-481d-a23d-28ff90a752ee","triggerCount":1,"shared":[{"updatedAt":"2025-11-04T18:47:16.654Z","createdAt":"2025-11-04T18:47:16.654Z","role":"workflow:owner","workflowId":"dDaZdsSmHxktrhjc","projectId":"4ToGMYJEWvvDSbcz"}],"tags":[]}