04-12-2025 18:00/workflows/🗣️-apr.sdr-ia-dDaZdsSmHxktrhjc.json
{"updatedAt":"2025-12-04T21:00:27.000Z","createdAt":"2025-11-04T18:47:16.651Z","id":"dDaZdsSmHxktrhjc","name":"🗣️ Apr.SDR IA","active":true,"isArchived":false,"nodes":[{"parameters":{"options":{"dimensions":1536}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-96,240],"id":"218429f0-cdf2-465f-9fde-b75c1efbc301","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"weD4ayyAuWgClQqA","name":"OpenAi account"}}},{"parameters":{"options":{"systemMessage":"=Você está rodando dentro de um fluxo no n8n. Seu papel é ORQUESTRAR TOOLS, não responder de forma livre nem “inventar” passos do fluxo.\n\n================================\n1. IDENTIDADE & CONTEXTO\n================================\n- Agente: {{ $('Seta perfil').first().json.agentName }}\n- Cargo: {{ $('Seta perfil').first().json.role }}\n- Empresa: {{ $('Seta perfil').first().json.companyName }}\n- Tom/Idioma: {{ $('Seta perfil').first().json.tone }} | {{ $('Seta perfil').first().json.language }}\n- Mensagem inicial: {{ $('Seta perfil').first().json.initialMessage }}\n- Conduta: {{ $('Seta perfil').first().json.conduct }}\n\nTabela de variáveis do fluxo:\n{{ $('Transforma variáveis em tabela').first().json.tableMarkdown }}\n\nUse SEMPRE esse contexto, mas seja econômico nas respostas.\n\n================================\n2. TOOLS DISPONÍVEIS\n================================\nVocê NUNCA simula tools em texto. Sempre chama a tool de verdade:\n\n- UP(name, value)\n  → Tool: \"Atualizar paramêtros\"\n  → Atualiza as variáveis extraídas.\n\n- GET_STAGE()\n  → Tool: \"Busca estágio atual\"\n  → Retorna JSON com:\n    - currentInstruction: instrução/texto da próxima variável a tratar\n    - currentStage: nome do estágio atual\n    - currentVar: (pode ser nulo dependendo da implementação)\n\n- BK(query)\n  → Tool: \"Busca informações do banco de dados\"\n  → Use para buscar informações factuais (produto, processos, etc.)\n  → query = mensagem COMPLETA do usuário\n\n- PROP()\n  → Tool: \"Enviar apresentação comercial\"\n  → Use quando o fluxo indicar que a qualificação terminou e a apresentação deve ser enviada.\n\n================================\n3. FLUXO POR TURNO (REGRA DE OURO)\n================================\nCada mensagem do usuário = 1 turno. Em TODO turno você segue esta ordem:\n\n1) Ler a mensagem + histórico.\n2) Identificar se a mensagem preenche ou corrige ALGUMA variável.\n3) Executar TODOS os UP necessários (pode ser mais de um por turno em mensagens longas).\n4) Depois disso, chamar OBRIGATORIAMENTE GET_STAGE().\n5) Se GET_STAGE indicar alguma ação lógica (por ex. enviar apresentação, atualizar variável):\n   - Execute as tools necessárias (UP, PROP).\n   - Depois de executar, chame GET_STAGE novamente até não haver mais ação lógica pendente.\n6) Só então montar a resposta ao usuário, seguindo a instrução retornada por GET_STAGE e o tom configurado.\n\nVocê PODE responder sem chamar BK, mas NUNCA PODE responder sem chamar GET_STAGE pelo menos uma vez no turno.\n\n================================\n4. ATUALIZAÇÃO DE VARIÁVEIS (UP)\n================================\nObjetivo: manter o estado do fluxo sempre correto.\n\nComo fazer em mensagens NORMAIS (mais longas):\n\n- Leia a tabela de variáveis (VAR, TIPO, INSTRUÇÃO).\n- Para cada variável com valor vazio:\n  - Verifique se a mensagem atual do usuário responde diretamente à instrução dessa variável.\n  - Se responder, chame UP com:\n    - \"name\" = nome exato da variável\n    - \"value\" = valor no tipo correto\n- Mensagens longas podem preencher MAIS de uma variável no mesmo turno.\n\nTipagem:\n- boolean:\n  - Respostas positivas: \"sim\", \"claro\", \"pode ser\", \"ok\" → true\n  - Respostas negativas: \"não\", \"nao\", \"prefiro que não\", \"agora não\" → false\n- number:\n  - Extraia só o número (ex: \"temos 300 contratos ativos\" → 300)\n- enum/opções:\n  - Se a resposta equivaler claramente a uma opção, salve a opção exata.\n- string / texto:\n  - Use o texto relevante da resposta, sem enfeitar.\n\n================================\n5. RESPOSTAS CURTAS (\"SIM\", \"NÃO\", \"OK\")\n================================\nNesta seção estamos falando de mensagens MUITO curtas (até 3 palavras), como:\n- \"sim\"\n- \"não\"\n- \"nao\"\n- \"ok\"\n- \"pode ser\"\n- \"agora não\"\n- \"prefiro que não\"\n\nPara ESSE tipo de mensagem, siga SEMPRE estas regras:\n\n1) ASSUMA que é resposta direta à ÚLTIMA PERGUNTA que você fez.\n2) Identifique qual FOI a última pergunta enviada ao usuário.\n3) Encontre na tabela de variáveis a variável cuja INSTRUÇÃO seja mais parecida com essa última pergunta.\n   - Essa é a variável-alvo (targetVar).\n4) Faça EXATAMENTE **UM ÚNICO** UP usando essa resposta:\n   - name = nome da targetVar\n   - value = resposta do usuário convertida para o tipo correto (boolean, string, etc.).\n5) NÃO analise nem atualize nenhuma outra variável nesse turno.\n\nREGRAS DURAS PARA RESPOSTAS CURTAS:\n- Você NUNCA deve atualizar mais de UMA variável em uma resposta curta.\n- Você NUNCA deve tentar “aproveitar” a mesma resposta curta para várias variáveis.\n- Se não conseguir associar com segurança a última pergunta a uma variável específica:\n  - Não faça UP.\n  - Apenas siga o fluxo normalmente (chame GET_STAGE e responda conforme a instrução).\n\nResumindo:\n- Mensagens curtas (sim/não/ok) → NO MÁXIMO 1 chamada de UP, sempre para a variável ligada à ÚLTIMA PERGUNTA.\n- Mensagens longas → podem atualizar várias variáveis, conforme seção 4.\n\n================================\n6. USO DE GET_STAGE()\n================================\nDepois de todos os UP do turno:\n\n- Sempre chame GET_STAGE().\n- Use o retorno assim:\n  - currentInstruction: é o que você deve fazer agora.\n    - Se for texto de pergunta (por ex. descrição de uma variável):\n      → Transforme em UMA pergunta clara, objetiva, alinhada ao tom.\n      → Faça só UMA pergunta por vez.\n    - Se a implementação futuramente retornar instrução lógica:\n      → Siga a instrução, chame a tool apropriada e depois chame GET_STAGE de novo.\n  - currentStage: use apenas como contexto mental (não precisa falar o nome do estágio).\n\nSe, depois de executar ações lógicas e chamar GET_STAGE de novo, não houver mais instrução clara:\n- Considere que o fluxo pode estar finalizado.\n- Agradeça e encerre de forma educada.\n\n================================\n7. USO DE BK(query)\n================================\nBK NÃO é obrigatório, mas é recomendado para evitar alucinações.\n\nUse BK(query) quando:\n- O usuário fizer perguntas sobre Apresenta.me, produto, funcionalidades, processos, preços ou detalhes técnicos.\n- Você não tiver certeza da resposta ou perceber que está “chutando”.\n\nComo usar:\n1) Chame BK(query) com a mensagem COMPLETA do usuário.\n2) Leia o resultado e use como base factual.\n3) Combine o conteúdo de BK com a instrução retornada por GET_STAGE para montar a resposta.\n\nSe BK não trouxer nada útil:\n- Seja honesto: diga que não encontrou a informação na base.\n- NÃO invente detalhes específicos (números, regras, processos).\n\n================================\n8. USO DE PROP()\n================================\nQuando identificar (pelas variáveis e/ou instrução do fluxo) que:\n- a qualificação terminou, e\n- é hora de enviar a apresentação comercial,\n\nfaça:\n\n1) Chame a tool \"Enviar apresentação comercial\" (PROP()).\n2) Depois, chame UP(\"presentationHasSent\", true) para evitar enviar de novo.\n3) Em seguida, chame GET_STAGE novamente para saber qual mensagem mandar ao usuário (por exemplo, avisar que enviou o material).\n\n================================\n9. ESTILO DAS RESPOSTAS\n================================\nQuando for responder ao usuário:\n\n- Use SEMPRE o tom, linguagem e conduta de {{ $('Seta perfil').first().json.agentName }} da {{ $('Seta perfil').first().json.companyName }}.\n- Seja simples, direto e objetivo.\n- Por padrão, mantenha respostas curtas (aprox. até 130 caracteres), a não ser que seja necessário explicar algo.\n- Faça APENAS UMA pergunta por vez.\n- Não fale sobre tools, variáveis internas, Redis, n8n, etc.\n- Nunca invente dados de negócio se não tiver certeza; em caso de dúvida, pergunte ou use BK.\n\n================================\n10. CHECKLIST RÁPIDO (RESUMO OPERACIONAL)\n================================\nPara CADA mensagem do usuário:\n\n1) Ler mensagem + histórico.\n2) Ver se ela preenche ou corrige alguma variável:\n   - Se a mensagem for curta (sim/não/ok): atualizar NO MÁXIMO 1 variável, ligada à ÚLTIMA pergunta.\n   - Se a mensagem for longa: pode atualizar várias variáveis.\n3) Fazer todos os UP(name, value) necessários, respeitando as regras acima.\n4) Chamar GET_STAGE().\n5) Se houver ação lógica → executar (UP/PROP), depois chamar GET_STAGE de novo.\n6) Se for útil para responder com segurança, chamar BK(query).\n7) Com a instrução de mensagem de GET_STAGE, responder ao usuário no tom configurado, com uma pergunta por vez.\n8) Se não houver mais instrução → encerrar educadamente.","returnIntermediateSteps":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-240,-432],"id":"41fc05d1-31a6-4ccc-afe8-b6a09e1e7d3d","name":"AI Agent","retryOnFail":false},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"=## TOOL: Busca informações do banco de dados\n**Objetivo:** Buscar informações institucionais, técnicas ou preços para responder dúvidas.\n\n**REGRA DE OURO (PRIORIDADE MÁXIMA):**\nEsta tool tem precedência sobre a coleta de dados. Se o usuário fizer uma pergunta, **PAUSE** o fluxo atual, execute esta tool, responda a dúvida e depois retome a coleta.\n\n**QUANDO EXECUTAR ESSA BOSTA:**\n- O input contém perguntas (ex: \"?\", \"Como funciona\", \"Quanto custa\", \"O que é\").\n- O usuário demonstra dúvida ou insegurança sobre o produto/serviço.\n- O usuário pede detalhes que não estão no histórico da conversa.\n\n**NÃO EXECUTAR SE:**\n- O usuário está apenas respondendo dados (ex: \"Sim\", \"Meu nome é João\").\n- A resposta é trivial (ex: \"Bom dia\").","tableName":"n8","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[-96,80],"id":"6cdf3706-0f21-49e5-ab22-33f08d207100","name":"Busca informações do banco de dados","credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}}},{"parameters":{"jsCode":"return {chatInput: $input.first().json.body.message}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2112,-432],"id":"7d771797-6a23-42c5-9daa-719cbc1d2642","name":"Retorna message"},{"parameters":{"method":"POST","url":"=https://api-chat-joao.apre.tv/api/messages/send","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"={\n    \"accept\": \"application/json, text/plain, */*\",\n    \"accept-language\": \"pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7\",\n    \"authorization\": \"Bearer kZaOTd+YZpjRUyyuQUpigJaEMk4vcW4YOymKPZX0Ts8=\",\n    \"company\": {{ $('Webhook').item.json.body.companyId }},\n    \"content-type\": \"application/json\"\n  } ","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"message","value":"={{ $('AI Agent').item.json.output }}"},{"name":"number","value":"={{ $('Webhook').item.json.body.contact.number }}"},{"name":"addUserName","value":"={{ $('Seta perfil').item.json.agentName }}"},{"name":"whatsappId","value":"={{ $('Webhook').item.json.body.whatsappId }}"},{"name":"messageRepliedId","value":"={{ $('Webhook').item.json.body.messageId }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[96,-432],"id":"a8fa389c-f246-4e2e-99ad-9b203959b5c6","name":"HTTP Request"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini-2024-07-18","mode":"list","cachedResultName":"gpt-4o-mini-2024-07-18"},"options":{"temperature":0}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-576,-96],"id":"a35fe7f1-89b9-495c-82cd-2aa024f3643a","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"weD4ayyAuWgClQqA","name":"OpenAi account"}}},{"parameters":{"httpMethod":"POST","path":"7223c6af-f595-4bc2-b84c-602b8900cd08","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-2288,-432],"id":"80cc855a-1956-4088-91b4-0f92db0ea5fa","name":"Webhook","webhookId":"7223c6af-f595-4bc2-b84c-602b8900cd08"},{"parameters":{"description":"=## TOOL: Atualizar Parâmetros\n\nSCHEMA (OBRIGATÓRIO):\n{\"name\":\"<varName>\",\"value\":<valorTipado>}\n\nOBJETIVO:\nSalvar/corrigir variáveis do fluxo.\n\nQUANDO EXECUTAR:\n- Sempre que a mensagem do usuário preencher OU corrigir QUALQUER variável.\n- Sem pedir confirmação. Detectou → executou.\n- Pode executar várias vezes no mesmo turno.\n\nTIPAGEM:\n- boolean → true/false  \n- number → extrair número (ex: \"300 contratos\" → 300)  \n- string → texto literal  \n- string[] → lista de textos  \n- number[] → lista de números  \n- Se tipo exigir number/boolean → nunca enviar string.  \n- Valor vazio/irrelevante → não chamar.\n","jsCode":"const stages = $('Seta estágios').first().json\nconst vars = $('Seta variáveis da conversa').item.json.data\nconst newQuery = typeof query == 'string' ? JSON.parse(query) : query\n\nconst data = {\n  \"name\": newQuery.name, \n  \"value\": newQuery.value\n}\n\nif (vars[data.name]) {\n  vars[data.name].value = data.value\n}\n\nreturn JSON.stringify({ data, query })","specifyInputSchema":true,"jsonSchemaExample":"{\n\t\"name\": \"name_of_extracted_var\",\n    \"value\": \"value_of_extracted_var\"\n}"},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.3,"position":[192,80],"id":"2efd8915-a295-42b8-90eb-4b7a28d0d71d","name":"Atualizar paramêtros"},{"parameters":{"jsCode":"const cacheVars = $('Busca variáveis').first().json.propertyName ? JSON.parse($('Busca variáveis').first().json.propertyName) : undefined\n\nreturn cacheVars ?? {\n  data: {\n    name: {\n      description:\n        \"Se apresente e pergunte o *Nome do usuário*. Pergunte de forma educada e respeitosa.\",\n      type: \"string\",\n    },\n    email: {\n      description:\n        \"Email do usuário para entrar em contato quando houver a necessidade.\",\n      type: \"email\",\n    },\n    customerNeed: {\n      description:\n        \"Show, [NOME DO LEAD]! E hoje, o que mais tem te incomodado ou sentido falta aí na sua \\nimobiliária? \\nMuitas vezes ouvimos problemas como sistemas com erros, lentidão, suporte demorado, ou até dificuldade pra fazer cobranças e relatórios... Mas quero entender no seu caso: o que você tem sentido falta ou gostaria de melhorar no seu processo de locação, vendas ou atendimento?\",\n      type: \"string[]\",\n    },\n    teamSize: {\n      description:\n        \"E só pra eu entender melhor quantas pessoas trabalham com você? \\n\\nNão mostre as opções, deixe aberto para o lead responder , interaja com o lead até que ele responda com uma das opções abaixo: \\n\\nCorretor Autônomo \\n2 a 5 \\n6 a 10 \\n11 a 25 \\nMais de 25\",\n      type: \"string\",\n    },\n    numberOfBuildings: {\n      description:\n        \"Quantidade total de imóveis na carteira (para venda e locação) você tem disponíveis para negócio, (sem considerar os locados ou vendidos) \\n\\nBusque por um número \",\n      type: \"number\",\n    },\n    rentalTransferMode: {\n      description:\n        'Caso o lead NÃO trabalhe com locações, defina \"Não Utiliza\" e não faça a pergunta! \\n\\n\\nE hoje, como vocês fazem as repasse dos valores dos aluguéis para o proprietário? \\n\\nNão mostre as opções, deixe aberto para o lead responder , interaja com o lead até que ele responda com uma das opções abaixo: \\n \\nManual em Dinheiro \\nManualmente via PIX \\nRemessa e Retorno Bancário \\nRepasse Automático via outro Sistema Imobiliário',\n      type: \"string\",\n    },\n    fiscalNote: {\n      description:\n        \"Você gera notas fiscais para os contratos administrados pela sua imobiliária? Se sim, como é feito o processo de geração dessas notas? Além disso, você realiza o envio do DIMOB?\",\n      type: \"string\",\n    },\n    workWithRent: {\n      description:\n        \"Hoje vocês fazem gestão de contratos de locação? Se sim, mais ou menos quantos contratos vocês têm ativos?\\n\\nNão mostre as opções, deixe aberto para o lead responder , interaja com o lead até que ele responda com uma das opções abaixo:\\n\\nNão\\nAté 10 contratos  \\nDe 10 a 25 contratos  \\nDe 25 a 50 contratos  \\nDe 50 a 100 contratos  \\nDe 100 a 200 contratos  \\nDe 200 a 300 contratos  \\nDe 300 a 500 contratos  \\nMais de 500 contratos\",\n      type: \"string\",\n    },\n    amountInCurrentSystemOrBudget: {\n      description:\n        \"Pra entender se conseguimos te atender bem, quanto você estaria disposto a investir por mês em um sistema pra sua imobiliária? \\n(Se preferir, pode estimar um valor aproximado) \\n\\nNão mostre as opções, deixe aberto para o lead responder , interaja com o lead até que ele responda com uma das opções abaixo:\\n\\nNão quis informar  \\naté R$ 100  \\naté R$ 300  \\naté R$ 500  \\naté R$ 800  \\naté R$ 1.200  \\naté R$ 1.600,00  \\nmais de R$ 1.600,00\",\n      type: \"string\",\n    },\n    currentSystem: {\n      description:\n        \" \\nVocê usa algum sistema hoje para gerenciar sua imobiliária? Se sim, qual deles? \\n \\nNão mostre as opções, deixe aberto para o lead responder , interaja com o lead até que ele responda com uma das opções abaixo: \\n \\nNão Utiliza  \\nAlterdata \\nAlude \\nArbo \\nApp Facilita \\nCasaSoft \\nCode 49 \\nImoAlert \\nImobzi \\nImobia \\nImobi Brasil \\nImopro \\niValue \\nJetImob \\nKenlo \\nMicrosistec \\nNido \\nKurole \\nSigasoft \\nUniversal Imoview \\nVista \\nWideSys \\nSami Sistemas \\nSuperLógica \\nSi9 Sistemas \\nSistema Próprio \\nSite Próprio \\nProperfy\",\n      type: \"string\",\n    },\n    rentalChargeMode: {\n      description:\n        ' \\nCaso o lead NÃO trabalhe com locações, defina \"Não Utiliza\" e não faça a pergunta! \\n \\nE hoje, como vocês fazem as cobranças dos aluguéis? \\n \\nNão mostre as opções, deixe aberto para o lead responder , interaja com o lead até que ele responda com uma das opções abaixo: \\n \\nManual/Dinheiro   \\nPIX   \\nTED   \\nBoleto   \\nBoleto - Automático',\n      type: \"string\",\n    },\n    isRealEstate: {\n      description:\n        ' \\nPergunte qual cargo o lead ocupa no mercado imobiliário (ex: \"Qual sua função na imobiliária?\").  \\n \\nSócio / Diretor \\nProprietário \\nCorretor de Imóveis \\nGerente de Vendas \\nGerente de Aluguéis \\nAuxiliar Administrativo \\nEstagiário \\nMarketing \\nOutro Cargo na imobiliária \\nou \"Não trabalho no setor\" \\n \\nSe não trabalhar no setor, agradeça e encerre educadamente.',\n      type: \"string\",\n    },\n    qualificationCompleted: {\n      description:\n        \"Marque como true quando o usuário responder a última pergunta de qualificação (orçamento mensal para a variável amountInCurrentSystemOrBudget)\",\n      type: \"boolean\",\n    },\n    presentationHasSent: {\n      description:\n        \"Marque como true quando a apresentação em PDF for enviada ao cliente. IMPORTANTE: Sempre defina como true após enviar a apresentação para evitar envios duplicados\",\n      type: \"boolean\",\n    },\n  },\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1312,-432],"id":"3da0c246-8380-4f2f-91be-f8cf7477ac18","name":"Seta variáveis da conversa"},{"parameters":{"jsCode":"return {\n  tone: \"Engraçado\",\n  agentName: \"Alicia\",\n  internalName: \"Alicia da Apresenta.me\",\n  initialMessage: \"Olá, tudo bem? 👋 \\n\\nEu sou a Alicia, assistente da Apresenta.me, vou te ajudar entendendo melhor sua necessidade.\",\n  language: \"pt-BR\",\n  timeZone: \"Sao Paulo (GTM -3)\",\n  role: \"SDR Sênior\",\n  companyName: \"Apresenta.me\",\n  companyDepartment: \"Software\",\n  companySite: \"https://apresenta.me\",\n  conduct: \" \\n### SOBRE SEU PAPEL \\n- Você é um SDR, sua Principal função é qualificar o lead. para entender se ele tem as características do nosso ICP; \\n- Você irá apresentar o sistema da Apresenta.me (https://apresenta.me), um software SAAS para gestão completa de imobiliárias. \\n- Comporte-se exatamente como um representante da empresa, sendo cordial e profissional. \\n \\n \\n### SEU TOM DE VOZ \\n- Responda de maneira simples e objetiva e profissional; \\n- Responda por padrão até 130 caracteres. Só aumente a resposta quando for estritamente necessário; \\n- Seja empático e consultivo, nunca agressivo ou invasivo; \\n- Responda com o mesmo tom de voz que o Lead estiver; \\n- Se necessário, utilize emojis como 😄👍🏢🔑📋🚀🥳🌱🤩 etc. \\n- O nome correto do sistema é Apresenta.me (com ponto), mas fale Apresentame sem pausas; \\n \\n### REGRAS ESPECÍFICAS \\n- Quando for informar uma URL, informe EXATAMENTE a URL disponível \\n- NUNCA fale dos concorrentes de forma negativa \\n- NUNCA saia do personagem \\n- Faça APENAS UMA pergunta por vez para não sobrecarregar o lead \\n- NUNCA convide para um agendamento de demonstração antes de passar pelo estágio de Qualificação \\n- NUNCA direcione para nenhum contato ou link sem antes efetuar a qualificação do lead\"\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-912,-432],"id":"d01ce40b-668e-411c-a69c-7f6046db29b7","name":"Seta perfil"},{"parameters":{"jsCode":"const cacheStages = $('Busca estágios').first().json.propertyName ? JSON.parse($('Busca estágios').first().json.propertyName) : undefined\nconst vars = $('Seta variáveis da conversa').first().json.data\n\nfunction findVarInstruction(varName){\n    return vars[varName].description\n}\n\nfunction findVarType(varName) {\n  return vars[varName].type\n}\n\nfunction findVarValue(varName) {\n  return vars[varName].value\n}\n\nconst stages = cacheStages ?? {\n  \"Identificar o usuario\": {\n    sortNumber: 1,\n    conditionPrompt: \"Se é início da conversa ou se o usuário ainda não informou o nome dele\",\n    requiredDataForExecute: null,\n    actions: {\n      requiredDataForExecute: [\n        {\n          name: \"name\",\n          value: null\n        }\n      ],\n      actions: null, \n      finalInstructions: \"Agradeça e siga para o próximo estágio\"\n    }\n  },\n  \"Verificar se trabalha no mercado imobiliário\": {\n    sortNumber: \"2\",\n    conditionPrompt: \"Se ja respondeu o nome.\",\n    requiredDataForExecute: null,\n    actions: {\n      requiredDataForExecute: [\n        {\n          name: \"isRealEstate\",\n          value: null\n        }\n      ],\n      actions: null,\n      finalInstructions: \"Perguntar se o lead trabalha no mercado imobiliário \\n- Se não trabalhar, retorne para o lead que a Apresenta.me apenas atende pessoas que trabalhem com o mercado imobiliário, agradeça pelo interesse e encerre o atendimento educadamente\"\n    }\n  },\n  \"Diagnosticar a necessidade\": {\n    sortNumber: \"3\",\n    conditionPrompt: \"Se você já sabe o nome do lead , e ainda não definiu suas dores, pergunte sobre quais os problemas ele enfrenta e que a Apresenta.me pode ajudar.\",\n    requiredDataForExecute: [\n      {\n        name: \"isRealEstate\", \n        operator: \"exist\",\n        value: null\n      }\n    ],\n    actions: {\n      requiredDataForExecute: [\n        {\n          name: \"customerNeed\",\n          value: null\n        }\n      ],\n      actions: null,\n      finalInstructions: \" \\nAfunile na necessidade específica dele, garantindo que você saiba qual é a necessidade específica que ele tem.  \\n \\nFaça isso através de pergunta. Exemplo, se o usuário quer saber sobre algo que possui ramificações nas informações disponíveis, faça uma pergunta, e se possível liste as ramificações / opções existentes, para você saber exatamente onde que o usuário está com dúvidas, e principalmente quais as dúvidas que ele tem quanto ao software da Apresenta.me\"\n    }\n  }, \n  \"Qualificacao\": {\n    sortNumber: \"4\",\n    conditionPrompt: \"Se você já sabe o nome do lead, se ele trabalha no mercado imobiliário e se você já sabe as necessidades do lead mas ainda não aprondou-se em tais necessidades.\",\n    requiredDataForExecute: [\n      {\n        name: \"isRealEstate\", \n        operator: \"exist\",\n        value: null\n      }\n    ],\n    actions: {\n      requiredDataForExecute: [\n        {\n          name: \"teamSize\",\n          value: null\n        }, \n        {\n          name: \"workWithRent\",\n          value: null\n        },  \n        {\n          name: \"numberOfBuildings\",\n          value: null\n        },\n        {\n          name: \"currentSystem\",\n          value: null\n        },\n        {\n          name: \"rentalTransferMode\",\n          value: null\n        },\n        {\n          name: \"amountInCurrentSystemOrBudget\",\n          value: null\n        },\n        {\n          name: \"qualificationCompleted\",\n          value: null\n        }\n      ],\n      actions: null,\n      finalInstructions: \"\"\n    }\n  },  \n  \"Enviar Apresentacao em PDF\": {\n    sortNumber: \"5\",\n    conditionPrompt: \"Caso o processo de qualificação esteja finalizado\",\n    requiredDataForExecute: [\n      {\n        name: \"qualificationCompleted\", \n        operator: \"=\",\n        value: true\n      },\n      {\n        name: \"presentationHasSent\", \n        operator: \"!exist\",\n        value: null\n      }\n    ],\n    actions: {\n      requiredDataForExecute: [\n        {\n          name: \"presentationHasSent\",\n          value: null\n        }\n      ],\n      actions: null,\n      finalInstructions: \"\"\n    }\n  }  \n}\n\n// Iterar sobre todos os stages\nObject.keys(stages).forEach(stageKey => {\n  const stage = stages[stageKey];\n  \n  // Verificar se existe actions e requiredDataForExecute\n  if (stage.actions && stage.actions.requiredDataForExecute) {\n    // Iterar sobre cada item de requiredDataForExecute\n    stage.actions.requiredDataForExecute.forEach(item => {\n      // Adicionar a propriedade instructions\n      item.instruction = findVarInstruction(item.name);      \n      item.type = findVarType(item.name)\n      item.value = findVarValue(item.name) || undefined\n    });\n  }\n});\n\nreturn stages;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-704,-432],"id":"b4d2092b-dd0b-4574-b691-149f0f175bf4","name":"Seta estágios"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"cache_key\": \"sdr_{{ $('Webhook').item.json.body.ticketId }}_chat_summary_{{ $('Webhook').item.json.body.contact.number }}_{{ $('Webhook').item.json.body.whatsappId }}_10\"\n} ","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1920,-432],"id":"3fc164e5-d168-4e8f-96c0-f6304be33fa4","name":"Cria cache key"},{"parameters":{"operation":"get","key":"={{ $json.cache_key }}_stages","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1712,-432],"id":"d0c9bbb4-cf1a-44ef-930c-fec36fb7b940","name":"Busca estágios","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"operation":"get","key":"={{ $('Cria cache key').item.json.cache_key }}_vars","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1504,-432],"id":"496698fd-96f0-44e2-b76e-67ab3f6910cd","name":"Busca variáveis","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"jsCode":"return {\n  chatInput: JSON.stringify($('Webhook').first().json.body.message)\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-496,-432],"id":"f4931177-f13f-4c28-ac74-1192c280ce0b","name":"Retorna chatInput"},{"parameters":{"operation":"set","key":"={{ $('Cria cache key').first().json.cache_key }}_stages","value":"={{ JSON.stringify($('Seta estágios').first().json)}}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[304,-432],"id":"04310199-d0ec-4f07-846a-1a4bd4bfe8ac","name":"Seta cache dos estagios","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"operation":"set","key":"={{ $('Cria cache key').item.json.cache_key }}_vars","value":"={{ JSON.stringify($('Seta variáveis da conversa').item.json)}}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[512,-432],"id":"11c2a3ed-cb12-45f8-b125-03995980b77c","name":"Seta cache das variaveis","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Cria cache key').item.json.cache_key }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-448,-96],"id":"fe36b70f-d449-4276-addb-1eea68e261a0","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}}},{"parameters":{"operation":"delete","key":"={{ $json.cache_key }}_stages"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1712,-240],"id":"e562fdf1-99cf-48ad-bbb3-86fedf3526a3","name":"Deleta cache estagios","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}},"disabled":true},{"parameters":{"description":"## TOOL: Enviar apresentação comercial\n**Objetivo:** Finalização automática do fluxo de vendas com envio de material.\n\n**QUANDO EXECUTAR ESSA BOSTA -> SEMPRE AUTOMATICAMENTE (CRÍTICO):**\nEsta tool deve ser executada IMEDIATAMENTE no mesmo turno de conversa em que o usuário fornecer a ÚLTIMA informação pendente.\n\n**LÓGICA DE VALIDAÇÃO:**\n1. A cada input do usuário, verifique: \"Tenho todas as variáveis obrigatórias preenchidas?\"\n2. SE (Todas as variáveis == Preenchidas) ENTÃO:\n   -> NÃO responda ao usuário com texto ainda.\n   -> NÃO espere confirmação.\n   -> EXECUTE esta tool imediatamente.\n\n**VARIÁVEIS NECESSÁRIAS PARA DISPARO:**\n(Liste aqui o que define um lead qualificado, ex: [nome, email, telefone, cargo])\n","workflowId":{"__rl":true,"value":"wd0uAb0Sm1fW5YNt","mode":"list","cachedResultUrl":"/workflow/wd0uAb0Sm1fW5YNt","cachedResultName":"Enviar apresentação comercial"},"workflowInputs":{"mappingMode":"defineBelow","value":{"whatsappId":"={{ $('Webhook').item.json.body.whatsappId }}","messageRepliedId":"={{ $('Webhook').item.json.body.messageId }}","message":"={{ $('Seta variáveis da conversa').item.json.data.name.value }}, segue em anexo nossa apresentação comercial! Espero que goste do que preparamos. Em breve te chamamos para retomarmos nossa negociação. 🚀","number":"={{ $('Webhook').item.json.body.contact.number }}","addUserName":"={{ $('Seta perfil').item.json.agentName }}","company":"={{ $('Webhook').item.json.body.contact.companyId }}"},"matchingColumns":[],"schema":[{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"number","displayName":"number","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"addUserName","displayName":"addUserName","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"whatsappId","displayName":"whatsappId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"messageRepliedId","displayName":"messageRepliedId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"company","displayName":"company","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-384,80],"id":"77210360-53f0-4318-bf7d-74265ba84e11","name":"Enviar apresentação comercial"},{"parameters":{"description":"=## TOOL: Busca estágio atual\n\nOBJETIVO:\nObter o estágio atual da conversa de forma determinística.\nDar contexto ao momento atual da conversa\n\nQUANDO EXECUTAR:\n- Em cada turno.\n- Sempre deve ser executada após a atualização de variáveis no turno, se existir atualização de variaveis.\n\n","jsCode":"const stages = $('Seta estágios').item.json\nconst vars = $('Seta variáveis da conversa').item.json.data\nconst stagesEntries = Object.entries(stages)\n\nlet currentStage = null\nlet currentInstruction = null\nlet currentVar = null\nlet isFinalInstruction = null\n\nfor (const [key, value] of stagesEntries) {\n  value.actions.requiredDataForExecute = value.actions.requiredDataForExecute.map(v => {\n    const varValue = vars[v.name].value\n    return {\n      ...v, \n      value: varValue || undefined\n    }\n  })\n  \n  const stagePendingVar = value.actions.requiredDataForExecute.find(v => !v.value)\n\n  if (stagePendingVar) {\n    currentInstruction = stagePendingVar.instruction\n    currentVar = stagePendingVar.name\n    currentStage = {\n      ...value, \n      name: key\n    }\n    break\n  }\n}\n\nreturn JSON.stringify({\n  currentInstruction,\n  currentStage: currentStage.name,\n  currentVar\n})"},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.3,"position":[-224,80],"id":"661dc05a-556b-4a3b-b044-cbc1cc087130","name":"Busca estágio atual"},{"parameters":{"jsCode":"const dataObj = $input.first().json.data;\nlet tableMarkdown = \"| VAR | VALOR | TIPO | INSTRUÇÃO |\\n|---|---|---|---|\\n\";\n\nfor (const [key, props] of Object.entries(dataObj)) {\n    // Verifica se existe valor, senão deixa vazio\n    const val = props.value !== undefined ? props.value : ''; \n    \n    // Remove quebras de linha da descrição para não quebrar a tabela\n    const desc = props.description.replace(/(\\r\\n|\\n|\\r)/gm, \" \"); \n\n    tableMarkdown += `| ${key} | ${val} | ${props.type} | ${desc} |\\n`;\n}\n\nreturn {\n  tableMarkdown\n}; "},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1104,-432],"id":"1337aa8a-efbf-4268-9da3-6446b48fa439","name":"Transforma variáveis em tabela"},{"parameters":{"operation":"delete","key":"={{ $('Cria cache key').item.json.cache_key }}_vars"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1504,-240],"id":"d4600dee-1f57-4f25-967f-3485d5c9e312","name":"Delete cache variaveis","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}},"disabled":true}],"connections":{"Embeddings OpenAI":{"ai_embedding":[[{"node":"Busca informações do banco de dados","type":"ai_embedding","index":0}]]},"AI Agent":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Busca informações do banco de dados":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Retorna message":{"main":[[{"node":"Cria cache key","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Seta cache dos estagios","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Webhook":{"main":[[{"node":"Retorna message","type":"main","index":0}]]},"Atualizar paramêtros":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Seta variáveis da conversa":{"main":[[{"node":"Transforma variáveis em tabela","type":"main","index":0}]]},"Seta perfil":{"main":[[{"node":"Seta estágios","type":"main","index":0}]]},"Seta estágios":{"main":[[{"node":"Retorna chatInput","type":"main","index":0}]]},"Cria cache key":{"main":[[{"node":"Busca estágios","type":"main","index":0},{"node":"Deleta cache estagios","type":"main","index":0}]]},"Busca estágios":{"main":[[{"node":"Busca variáveis","type":"main","index":0}]]},"Busca variáveis":{"main":[[{"node":"Seta variáveis da conversa","type":"main","index":0}]]},"Retorna chatInput":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Seta cache dos estagios":{"main":[[{"node":"Seta cache das variaveis","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Deleta cache estagios":{"main":[[{"node":"Delete cache variaveis","type":"main","index":0}]]},"Enviar apresentação comercial":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Busca estágio atual":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Transforma variáveis em tabela":{"main":[[{"node":"Seta perfil","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.apresenta.me","x-real-ip":"172.68.191.167","x-real-port":"18256","x-forwarded-for":"131.72.111.129, 172.68.191.167","x-forwarded-proto":"http","x-forwarded-host":"n8n.apresenta.me","x-forwarded-port":"80","remote-host":"172.68.191.167","connection":"close","content-length":"786","accept":"application/json, text/plain, */*","accept-encoding":"gzip, br","user-agent":"axios/1.12.2","cf-ray":"9a8e2fae9ed59da8-NVT","content-type":"application/json","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"131.72.111.129","cf-ipcountry":"BR","cf-visitor":"{\"scheme\":\"https\"}"},"params":{},"query":{},"body":{"message":"Usuário enviou um áudio com a seguinte transcrição: `Não trabalho com locação.`\n\n","messageId":"2570483","contact":{"id":"38043","name":"554788950332","number":"554788950332","profilePicUrl":"https://pps.whatsapp.net/v/t61.24694-24/425105449_1361615211300388_1143514098522857072_n.jpg?ccb=11-4&oh=01_Q5Aa3AEzdP-qSymQsNZVDMrvl04oRO2FHgke2Au05KUpn5M3wg&oe=693F1323&_nc_sid=5e03e0&_nc_cat=102","createdAt":"2025-10-09T16:20:11.311-03:00","updatedAt":"2025-12-04T17:52:04.286-03:00","email":"","isGroup":false,"companyId":"5005","whatsappId":"1","onlyResponsible":false,"userId":"1","aprePersonId":"4916708","apreDealId":null,"blocked":false,"meta":{"ignoreCheck":true,"ignorePermission":true,"dontSendSocket":false}},"whatsappId":"1","companyId":5005,"ticketId":87894},"webhookUrl":"https://n8n.apresenta.me/webhook/7223c6af-f595-4bc2-b84c-602b8900cd08","executionMode":"production"}}]},"versionId":"bb68f0ec-9af6-428a-b675-b463682d2be1","triggerCount":1,"shared":[{"updatedAt":"2025-11-04T18:47:16.654Z","createdAt":"2025-11-04T18:47:16.654Z","role":"workflow:owner","workflowId":"dDaZdsSmHxktrhjc","projectId":"4ToGMYJEWvvDSbcz"}],"tags":[]}