06-11-2025 18:00/workflows/🗣️-apr.sdr-ia-dDaZdsSmHxktrhjc.json
{"createdAt":"2025-11-04T18:47:16.651Z","updatedAt":"2025-11-06T20:58:02.000Z","id":"dDaZdsSmHxktrhjc","name":"🗣️ Apr.SDR IA","active":true,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[1952,800],"id":"a7f10ff1-4967-4ed0-8aa7-f99ee2a6cdf0","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"weD4ayyAuWgClQqA","name":"OpenAi account"}}},{"parameters":{"options":{"systemMessage":"=Para vc entender melhor, os dados provém dinamicamente:\n\n## 🧠 Sua identidade: {{ $('Seta perfil').item.json.agentName }} – {{ $('Seta perfil').item.json.role }} da {{ \n$('Seta perfil').item.json.companyName }}  \n\n-- Data da versão: 2025-11-04\n-- Idioma: {{ $('Seta perfil').item.json.language }}\n-- Mensagem inicial:  {{ $('Seta perfil').item.json.initialMessage }}\n-- Informação básica sobre a empresa que você trabalha: {{ $('Seta perfil').item.json.companyName }}, empresa no segmento de {{ $('Seta perfil').item.json.companyDepartment }}\n\n## 🗣️ Seu comportamento:\n{{ $('Seta perfil').item.json.conduct }}\n\n## Estágios a serem seguidos:\n- {{ JSON.stringify($('Seta estágios').item.json) }}\n- Identifique qual é exatamente o estágio atual.\n- Identifique corretamente as variáveis solicitdas e obtidas para a atualização das mesmas.\n- Identifique se no estágio atual há instruções finais e execute essa instrução. Para executar, é necessário verificar se todos os dados requeridos foram obtidos.\n- Você deve obter os dados requeridos que ainda não foram obtidos, utilizando as instruções de cada dado requerido\n","returnIntermediateSteps":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1920,384],"id":"e4c2cdb8-41e6-4644-9ee1-b4299d946e0c","name":"AI Agent","retryOnFail":false},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"=## 🧠 Apre.IA – Consulta à Base de Conhecimento  \n**Função:** Buscar trechos da **KB da Apresenta.me** sobre produtos, serviços, processos e materiais oficiais.\n\n### Instruções  \n- Buscar **somente** informações da Apresenta.me.  \n- Retornar trechos **curtos e objetivos** (até ~200 tokens).  \n- **Nunca inventar** dados, prazos, valores ou políticas.  \n- Priorizar **versões recentes**.  \n- Ignorar mensagens genéricas ou saudações.  \n- Se não houver correspondência clara → **retornar vazio** (sem tentativa de resposta). \n","tableName":"n8","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[1952,656],"id":"61be998c-9c3d-440c-b661-389b0c721ab7","name":"Busca informações do banco de dados","credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}}},{"parameters":{"jsCode":"return {chatInput: $input.first().json.body.message}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-144,384],"id":"9ce388d5-9cd4-4686-9556-333b2dcd797b","name":"Retorna message"},{"parameters":{"method":"POST","url":"=https://api-chat-joao.apre.tv/api/messages/send","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"={\n    \"accept\": \"application/json, text/plain, */*\",\n    \"accept-language\": \"pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7\",\n    \"authorization\": \"Bearer kZaOTd+YZpjRUyyuQUpigJaEMk4vcW4YOymKPZX0Ts8=\",\n    \"company\": {{ $('Webhook').item.json.body.companyId }},\n    \"content-type\": \"application/json\"\n  } ","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"message","value":"={{ $('AI Agent').item.json.output }}"},{"name":"number","value":"={{ $('Webhook').item.json.body.contact.name }}"},{"name":"addUserName","value":"Apr.IA"},{"name":"whatsappId","value":"={{ $('Webhook').item.json.body.whatsappId }}"},{"name":"messageRepliedId","value":"={{ $('Webhook').item.json.body.messageId }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2256,384],"id":"51055a9d-03f0-4191-a0ba-476cb7be2d68","name":"HTTP Request"},{"parameters":{"jsCode":"function cleanText(s) {\n  if (!s) return \"\";\n  // remove markdown leve e múltiplos espaços\n  s = s.replace(/[\\*_~`]+/g, \"\")\n       .replace(/\\s+/g, \" \")\n       .trim();\n  // corta para 220 chars\n  if (s.length > 220) s = s.slice(0, 217) + \"…\";\n  return s;\n}\n\nfunction roleFrom(msg) {\n  // dataJson.key.fromMe === true => agente (a); caso contrário, usuário (u)\n  const fromMe = msg?.dataJson?.key?.fromMe === true || msg?.fromMe === true;\n  return fromMe ? \"a\" : \"u\";\n}\n\nfunction tsFrom(msg) {\n  return msg.updatedAt || msg.createdAt || null;\n}\n\nfunction isNoise(t) {\n  if (!t) return true;\n  const low = t.toLowerCase();\n  const greetings = [\"oi\", \"ola\", \"olá\", \"opa, tudo bem?\", \"ooooii\"];\n  if (greetings.includes(low)) return true;\n  if (low.length < 2) return true;\n  return false;\n}\n\nconst raw = JSON.parse($('Webhook').first().json.body.lastMessages) || [];\nconsole.log({ raw })\nconst mapped = raw.map(m => ({\n  r: roleFrom(m),\n  t: cleanText(m.body || m?.dataJson?.message?.conversation || \"\"),\n  ts: tsFrom(m)\n}))\n.filter(m => !isNoise(m.t));\n\n// manter somente últimas 10 úteis (ordenar por ts asc e pegar tail)\nmapped.sort((a,b) => (new Date(a.ts||0)) - (new Date(b.ts||0)));\nconst trimmed = mapped;\n\n// mesclar mensagens consecutivas do mesmo role quando for continuação simples\nconst merged = [];\nfor (const m of trimmed) {\n  const last = merged[merged.length - 1];\n  if (last && last.r === m.r && (last.t + \" \" + m.t).length <= 220) {\n    last.t = cleanText(last.t + \" \" + m.t);\n    last.ts = m.ts; // manter o timestamp mais recente do bloco\n  } else {\n    merged.push({...m});\n  }\n}\n\nreturn {\n  chatInput: $input.first().json.chatInput,\n  lastMessageCompact: JSON.stringify(merged)\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[32,384],"id":"696b4483-d758-47cc-b36f-ea3ae85fa934","name":"Compacta as últimas mensagens"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1840,656],"id":"ad961793-d5f5-42d4-821c-94265a99089e","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"weD4ayyAuWgClQqA","name":"OpenAi account"}}},{"parameters":{"httpMethod":"POST","path":"7223c6af-f595-4bc2-b84c-602b8900cd08","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-320,384],"id":"265dfdd6-e7e3-4cab-8841-8fec8945c49f","name":"Webhook","webhookId":"7223c6af-f595-4bc2-b84c-602b8900cd08"},{"parameters":{"jsCode":"return {\n  output: $input.first().json.output || JSON.parse($('Se tiver resumo').first().json.propertyName),\n  chatInput: $('Webhook').first().json.body.message\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1088,1104],"id":"8a714e10-91f5-45a7-9c03-cab733f09e07","name":"Transforma resumo em objeto literal"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4d398db1-d160-433f-b5dc-07134ceb5b92","leftValue":"={{ $json.propertyName?.toBoolean() ?? false}}","rightValue":"","operator":{"type":"boolean","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[512,1104],"id":"4af0b32a-e3dd-4581-b080-1c88ebd132d4","name":"Se tiver resumo"},{"parameters":{"operation":"get","key":"={{ $('Cria cache key').item.json.cache_key }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[304,1104],"id":"11786590-bfe8-4914-a1dd-328456b52066","name":"Busca resumo no cache","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"title\": \"ConversationAnalysisOutput\",\n  \"additionalProperties\": false,\n  \"required\": [\"analysis\"],\n  \"properties\": {\n    \"analysis\": {\n      \"type\": \"object\",\n      \"additionalProperties\": false,\n      \"required\": [\"summary\", \"tone\", \"needs\", \"lastObjective\", \"resolved\"],\n      \"properties\": {\n        \"summary\": {\n          \"type\": \"string\",\n          \"description\": \"Resumo conciso da conversa, destacando desejos, contexto e pontos-chave. Sem markdown.\"\n        },\n        \"tone\": {\n          \"type\": \"string\",\n          \"description\": \"Tom identificado na conversa (ex: irritado, neutro, satisfeito, confuso, solícito, entusiasmado, frustrado).\"\n        },\n        \"needs\": {\n          \"type\": \"array\",\n          \"description\": \"Lista dos principais desejos ou necessidades do cliente em frases curtas.\",\n          \"items\": {\n            \"type\": \"string\"\n          }\n        },\n        \"lastObjective\": {\n          \"type\": \"string\",\n          \"description\": \"Último objetivo ou ação solicitada pelo cliente, de forma resumida e direta.\"\n        },\n        \"resolved\": {\n          \"type\": \"boolean\",\n          \"description\": \"Indica se o último problema ou objetivo do cliente foi resolvido (true ou false).\"\n        }\n      }\n    }\n  }\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[928,1312],"id":"0739178e-e891-4ee7-bc78-bb5cb23183c7","name":"Structured Output Parser"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[688,1312],"id":"d4c3fd05-ecc6-4a17-bb66-e387ad0e80d3","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"weD4ayyAuWgClQqA","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"=Você é um analista especializado em interpretar conversas de pré-qualificação de leads.  \nEntenda de forma clara o perfil e o interesse do lead, sem inventar informações.  \nCom base nas mensagens abaixo, produza um resumo analítico e objetivo que identifique:\n\n1. O **tom da conversa** (ex: interessado, indeciso, confuso, apressado, desinteressado etc.)\n2. O **nível de interesse e maturidade do lead** (ex: apenas curioso, avaliando opções, pronto para comprar)\n3. As **principais dores, objetivos ou necessidades mencionadas**\n4. O **produto ou solução de interesse** (ex: CRM, Apre.Chat, ApBank, etc.)\n5. O **próximo passo sugerido ou solicitado** (ex: agendar demonstração, receber proposta, pedir mais informações)\n\nEstágios a serem seguidos:\n\nLegenda das mensagens:  \n- `r`: papel (`\"u\"` = lead, `\"a\"` = agente)  \n- `t`: texto limpo (sem markdown)  \n- `ts`: timestamp ISO local  \n\nMensagens recentes:  \n{{ $('Compacta as últimas mensagens').item.json.lastMessageCompact }}\n\nResumo da última mensagem enviada pelo lead:  \n{{ $('Compacta as últimas mensagens').item.json.chatInput }}\n","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[752,1104],"id":"13443d0a-847d-4306-8abf-7d6896e88f3f","name":"AI - Gerar resumo das mensagens"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-448,1184],"id":"8d377a0c-3e98-4a45-b3d6-663020525a8e","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"weD4ayyAuWgClQqA","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"=Você é um analista especializado em interpretar conversas de pré-qualificação de leads.  \nEntenda de forma clara o perfil e o interesse do lead, sem inventar informações.  \nCom base nas mensagens abaixo, produza um resumo analítico e objetivo que identifique:\n\n1. O **tom da conversa** (ex: interessado, indeciso, confuso, apressado, desinteressado etc.)\n2. O **nível de interesse e maturidade do lead** (ex: apenas curioso, avaliando opções, pronto para comprar)\n3. As **principais dores, objetivos ou necessidades mencionadas**\n4. O **produto ou solução de interesse** (ex: CRM, Apre.Chat, ApBank, etc.)\n5. O **próximo passo sugerido ou solicitado** (ex: agendar demonstração, receber proposta, pedir mais informações)\n\nÚltimo resumo gerado:\n{{ JSON.stringify($('Transforma resumo em objeto literal').first().json.output) }}\n\nResumo da última mensagem enviada pelo cliente:\n{{ $('Transforma resumo em objeto literal').first().json.chatInput }}\n\nResposta gerada pelo Agente de IA:\n{{ $('AI Agent').first().json.output }}\n","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-400,944],"id":"a6d41aa3-304e-474e-8242-5b09cfaa7c9f","name":"AI - Atualizar resumo"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"title\": \"ConversationAnalysisOutput\",\n  \"additionalProperties\": false,\n  \"required\": [\"analysis\"],\n  \"properties\": {\n    \"analysis\": {\n      \"type\": \"object\",\n      \"additionalProperties\": false,\n      \"required\": [\"summary\", \"tone\", \"needs\", \"lastObjective\", \"resolved\"],\n      \"properties\": {\n        \"summary\": {\n          \"type\": \"string\",\n          \"description\": \"Resumo conciso da conversa, destacando desejos, contexto e pontos-chave. Sem markdown.\"\n        },\n        \"tone\": {\n          \"type\": \"string\",\n          \"description\": \"Tom identificado na conversa (ex: irritado, neutro, satisfeito, confuso, solícito, entusiasmado, frustrado).\"\n        },\n        \"needs\": {\n          \"type\": \"array\",\n          \"description\": \"Lista dos principais desejos ou necessidades do cliente em frases curtas.\",\n          \"items\": {\n            \"type\": \"string\"\n          }\n        },\n        \"lastObjective\": {\n          \"type\": \"string\",\n          \"description\": \"Último objetivo ou ação solicitada pelo cliente, de forma resumida e direta.\"\n        },\n        \"resolved\": {\n          \"type\": \"boolean\",\n          \"description\": \"Indica se o último problema ou objetivo do cliente foi resolvido (true ou false).\"\n        }\n      }\n    }\n  }\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-256,1152],"id":"43d9fe89-d74e-43a2-ae45-cf3144c476c7","name":"Structured Output Parser1"},{"parameters":{"operation":"set","key":"=chat_summary_{{ $('Webhook').item.json.body.contact.number }}_{{ $('Webhook').item.json.body.whatsappId }}_10","value":"={{ JSON.stringify($json.output) }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-64,944],"id":"07c573b2-0634-460a-9a1f-d0d11788de31","name":"Salva resumo em cache","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"description":"=Sempre que o usuário fornecer uma informação que preencha qualquer variável do fluxo, você deve executar a tool AtualizarVariavel antes de responder. Para cada variável identificada no turno, faça uma chamada da tool separada, usando exatamente o formato:\n\n{ \"name\": \"<nome_da_variavel>\", \"value\": \"<valor_obtido>\" }\n\nNomes possíveis de variáveis:\n{{ $('Retorna nome das variáveis').first().json.varNames.join('\\n') }}\n\nRegras:\n\nAntes de responder ao usuário, verifique se a mensagem dele contém informação referente a alguma dessas variáveis.\n\nSe encontrar, normalize o valor se necessário (ex.: faixas, categorias, valores monetários). Se não tiver certeza, use o texto exato dito pelo usuário.\n\nExecute a tool AtualizarVariavel uma vez para cada variável encontrada.\n\nCaso não tenha certeza sobre o valor de uma variável, não atualize. Pergunte de forma objetiva no próximo turno.\n\nApós executar todas as tool calls de atualização necessárias, responda ao usuário normalmente, seguindo o estágio atual e fazendo apenas uma pergunta por vez.\n\nExemplo lógico (não precisa imprimir):\nUsuário disse: \"Meu nome é Ana e sou gerente de aluguéis\"\n→ Chamar:\n{ \"name\": \"name\", \"value\": \"Ana\" }\n{ \"name\": \"isRealEstate\", \"value\": true }\n\nDepois disso, responda conforme o fluxo.","jsCode":"const stages = $('Seta estágios').first().json\nconst vars = $('Seta variáveis da conversa').item.json.data\nconst data = {\n  \"name\": Object.keys(JSON.parse(query || {}))[0], \n  \"value\": Object.values(JSON.parse(query || {}))[0]\n}\n\nObject.keys(stages).forEach(stageName => {\n  const requiredFieldDataIndex = stages[stageName].actions.requiredDataForExecute.indexOf(field => field.name == data.name)\n\n  if(requiredFieldDataIndex < 0) return\n  \n  stages[stageName].actions.requiredDataForExecute[requiredFieldDataIndex].value = data.value\n})\n\n\nvars[data.name].value = query\n\nreturn JSON.stringify(data)"},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.3,"position":[2224,656],"id":"5322e98c-bbb4-49ea-8abd-53c7258771ff","name":"Atualizar paramêtros"},{"parameters":{"operation":"set","key":"={{ $('Cria cache key').item.json.cache_key }}_stages","value":"={{ JSON.stringify($('Seta estágios').item.json)}}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2464,384],"id":"9c2401d6-4caa-4249-b791-d3a0c1588329","name":"Redis","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"jsCode":"const cacheVars = $('Busca variáveis').first().json.propertyName ? JSON.parse($('Busca variáveis').first().json.propertyName) : undefined\n\nreturn cacheVars ?? {\n  data: {\n    name: {\n      description:\n        \"Se apresente e pergunte o *Nome do usuário*. Pergunte de forma educada e respeitosa.\",\n      type: \"string\",\n    },\n    email: {\n      description:\n        \"Email do usuário para entrar em contato quando houver a necessidade.\",\n      type: \"email\",\n    },\n    customerNeed: {\n      description:\n        \"Show, [NOME DO LEAD]! E hoje, o que mais tem te incomodado ou sentido falta aí na sua \\nimobiliária? \\nMuitas vezes ouvimos problemas como sistemas com erros, lentidão, suporte demorado, ou até dificuldade pra fazer cobranças e relatórios... Mas quero entender no seu caso: o que você tem sentido falta ou gostaria de melhorar no seu processo de locação, vendas ou atendimento?\",\n      type: \"string[]\",\n    },\n    teamSize: {\n      description:\n        \"E só pra eu entender melhor quantas pessoas trabalham com você? \\n\\nNão mostre as opções, deixe aberto para o lead responder , interaja com o lead até que ele responda com uma das opções abaixo: \\n\\nCorretor Autônomo \\n2 a 5 \\n6 a 10 \\n11 a 25 \\nMais de 25\",\n      type: \"string\",\n    },\n    numberOfBuildings: {\n      description:\n        \"Quantidade total de imóveis na carteira (para venda e locação) você tem disponíveis para negócio, (sem considerar os locados ou vendidos) \\n\\nBusque por um número \",\n      type: \"number\",\n    },\n    rentalTransferMode: {\n      description:\n        'Caso o lead NÃO trabalhe com locações, defina \"Não Utiliza\" e não faça a pergunta! \\n\\n\\nE hoje, como vocês fazem as repasse dos valores dos aluguéis para o proprietário? \\n\\nNão mostre as opções, deixe aberto para o lead responder , interaja com o lead até que ele responda com uma das opções abaixo: \\n \\nManual em Dinheiro \\nManualmente via PIX \\nRemessa e Retorno Bancário \\nRepasse Automático via outro Sistema Imobiliário',\n      type: \"string\",\n    },\n    fiscalNote: {\n      description:\n        \"Você gera notas fiscais para os contratos administrados pela sua imobiliária? Se sim, como é feito o processo de geração dessas notas? Além disso, você realiza o envio do DIMOB?\",\n      type: \"string\",\n    },\n    workWithRent: {\n      description:\n        \"Hoje vocês fazem gestão de contratos de locação? Se sim, mais ou menos quantos contratos vocês têm ativos?\\n\\nNão mostre as opções, deixe aberto para o lead responder , interaja com o lead até que ele responda com uma das opções abaixo:\\n\\nNão\\nAté 10 contratos  \\nDe 10 a 25 contratos  \\nDe 25 a 50 contratos  \\nDe 50 a 100 contratos  \\nDe 100 a 200 contratos  \\nDe 200 a 300 contratos  \\nDe 300 a 500 contratos  \\nMais de 500 contratos\",\n      type: \"string\",\n    },\n    amountInCurrentSystemOrBudget: {\n      description:\n        \"Pra entender se conseguimos te atender bem, quanto você estaria disposto a investir por mês em um sistema pra sua imobiliária? \\n(Se preferir, pode estimar um valor aproximado) \\n\\nNão mostre as opções, deixe aberto para o lead responder , interaja com o lead até que ele responda com uma das opções abaixo:\\n\\nNão quis informar  \\naté R$ 100  \\naté R$ 300  \\naté R$ 500  \\naté R$ 800  \\naté R$ 1.200  \\naté R$ 1.600,00  \\nmais de R$ 1.600,00\",\n      type: \"string\",\n    },\n    currentSystem: {\n      description:\n        \" \\nVocê usa algum sistema hoje para gerenciar sua imobiliária? Se sim, qual deles? \\n \\nNão mostre as opções, deixe aberto para o lead responder , interaja com o lead até que ele responda com uma das opções abaixo: \\n \\nNão Utiliza  \\nAlterdata \\nAlude \\nArbo \\nApp Facilita \\nCasaSoft \\nCode 49 \\nImoAlert \\nImobzi \\nImobia \\nImobi Brasil \\nImopro \\niValue \\nJetImob \\nKenlo \\nMicrosistec \\nNido \\nKurole \\nSigasoft \\nUniversal Imoview \\nVista \\nWideSys \\nSami Sistemas \\nSuperLógica \\nSi9 Sistemas \\nSistema Próprio \\nSite Próprio \\nProperfy\",\n      type: \"string\",\n    },\n    rentalChargeMode: {\n      description:\n        ' \\nCaso o lead NÃO trabalhe com locações, defina \"Não Utiliza\" e não faça a pergunta! \\n \\nE hoje, como vocês fazem as cobranças dos aluguéis? \\n \\nNão mostre as opções, deixe aberto para o lead responder , interaja com o lead até que ele responda com uma das opções abaixo: \\n \\nManual/Dinheiro   \\nPIX   \\nTED   \\nBoleto   \\nBoleto - Automático',\n      type: \"string\",\n    },\n    isRealEstate: {\n      description:\n        ' \\nPergunte qual cargo o lead ocupa no mercado imobiliário (ex: \"Qual sua função na imobiliária?\").  \\n \\nSócio / Diretor \\nProprietário \\nCorretor de Imóveis \\nGerente de Vendas \\nGerente de Aluguéis \\nAuxiliar Administrativo \\nEstagiário \\nMarketing \\nOutro Cargo na imobiliária \\nou \"Não trabalho no setor\" \\n \\nSe não trabalhar no setor, agradeça e encerre educadamente.',\n      type: \"string\",\n    },\n    qualificationCompleted: {\n      description:\n        \"Marque como true quando o usuário responder a última pergunta de qualificação (orçamento mensal para a variável amountInCurrentSystemOrBudget)\",\n      type: \"boolean\",\n    },\n    presentationHasSent: {\n      description:\n        \"Marque como true quando a apresentação em PDF for enviada ao cliente. IMPORTANTE: Sempre defina como true após enviar a apresentação para evitar envios duplicados\",\n      type: \"boolean\",\n    },\n  },\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[832,384],"id":"02a38686-3fa9-4379-93b1-afb5cf1dbcd4","name":"Seta variáveis da conversa"},{"parameters":{"jsCode":"return {\n  agentName: \"Alicia\",\n  internalName: \"Alicia da Apresenta.me\",\n  initialMessage: \"Olá, tudo bem? 👋 \\n\\nEu sou a Alicia, assistente da Apresenta.me, vou te ajudar entendendo melhor sua necessidade.\",\n  language: \"pt-BR\",\n  timeZone: \"Sao Paulo (GTM -3)\",\n  role: \"SDR Sênior\",\n  companyName: \"Apresenta.me\",\n  companyDepartment: \"Software\",\n  companySite: \"https://apresenta.me\",\n  conduct: \" \\n### SOBRE SEU PAPEL \\n- Você é um SDR, sua Principal função é qualificar o lead. para entender se ele tem as características do nosso ICP; \\n- Você irá apresentar o sistema da Apresenta.me (https://apresenta.me), um software SAAS para gestão completa de imobiliárias. \\n- Comporte-se exatamente como um representante da empresa, sendo cordial e profissional. \\n \\n \\n### SEU TOM DE VOZ \\n- Responda de maneira simples e objetiva e profissional; \\n- Responda por padrão até 130 caracteres. Só aumente a resposta quando for estritamente necessário; \\n- Seja empático e consultivo, nunca agressivo ou invasivo; \\n- Responda com o mesmo tom de voz que o Lead estiver; \\n- Se necessário, utilize emojis como 😄👍🏢🔑📋🚀🥳🌱🤩 etc. \\n- O nome correto do sistema é Apresenta.me (com ponto), mas fale Apresentame sem pausas; \\n \\n### REGRAS ESPECÍFICAS \\n- Quando for informar uma URL, informe EXATAMENTE a URL disponível \\n- NUNCA fale dos concorrentes de forma negativa \\n- NUNCA saia do personagem \\n- Faça APENAS UMA pergunta por vez para não sobrecarregar o lead \\n- NUNCA convide para um agendamento de demonstração antes de passar pelo estágio de Qualificação \\n- NUNCA direcione para nenhum contato ou link sem antes efetuar a qualificação do lead\"\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1040,384],"id":"bbbbe000-37d3-4957-b3cd-57a2ac649199","name":"Seta perfil"},{"parameters":{"jsCode":"const cacheStages = $('Busca estágios').first().json.propertyName ? JSON.parse($('Busca estágios').first().json.propertyName) : undefined\nconst vars = $('Seta variáveis da conversa').first().json.data\n\nfunction findVarInstruction(varName){\n    return vars[varName].description\n}\n\nconst stages = cacheStages ?? {\n  \"Identificar o usuario\": {\n    sortNumber: 1,\n    conditionPrompt: \"Se é início da conversa ou se o usuário ainda não informou o nome dele\",\n    requiredDataForExecute: null,\n    actions: {\n      requiredDataForExecute: [\n        {\n          name: \"name\",\n          value: null\n        }\n      ],\n      actions: null, \n      finalInstructions: \"Agradeça e siga para o próximo estágio\"\n    }\n  },\n  \"Verificar se trabalha no mercado imobiliário\": {\n    sortNumber: \"4\",\n    conditionPrompt: \"Se ja respondeu o nome.\",\n    requiredDataForExecute: null,\n    actions: {\n      requiredDataForExecute: [\n        {\n          name: \"isRealEstate\",\n          value: null\n        }\n      ],\n      actions: null,\n      finalInstructions: \"Perguntar se o lead trabalha no mercado imobiliário \\n- Se não trabalhar, retorne para o lead que a Apresenta.me apenas atende pessoas que trabalhem com o mercado imobiliário, agradeça pelo interesse e encerre o atendimento educadamente\"\n    }\n  },\n  \"Diagnosticar a necessidade\": {\n    sortNumber: \"3\",\n    conditionPrompt: \"Se você já sabe o nome do lead , e ainda não definiu suas dores, pergunte sobre quais os problemas ele enfrenta e que a Apresenta.me pode ajudar.\",\n    requiredDataForExecute: [\n      {\n        name: \"isRealEstate\", \n        operator: \"exist\",\n        value: null\n      }\n    ],\n    actions: {\n      requiredDataForExecute: [\n        {\n          name: \"customerNeed\",\n          value: null\n        }\n      ],\n      actions: null,\n      finalInstructions: \" \\nAfunile na necessidade específica dele, garantindo que você saiba qual é a necessidade específica que ele tem.  \\n \\nFaça isso através de pergunta. Exemplo, se o usuário quer saber sobre algo que possui ramificações nas informações disponíveis, faça uma pergunta, e se possível liste as ramificações / opções existentes, para você saber exatamente onde que o usuário está com dúvidas, e principalmente quais as dúvidas que ele tem quanto ao software da Apresenta.me\"\n    }\n  }, \n  \"Qualificacao\": {\n    sortNumber: \"4\",\n    conditionPrompt: \"Se você já sabe o nome do lead, se ele trabalha no mercado imobiliário e se você já sabe as necessidades do lead mas ainda não aprondou-se em tais necessidades.\",\n    requiredDataForExecute: [\n      {\n        name: \"isRealEstate\", \n        operator: \"exist\",\n        value: null\n      }\n    ],\n    actions: {\n      requiredDataForExecute: [\n        {\n          name: \"teamSize\",\n          value: null\n        }, \n        {\n          name: \"workWithRent\",\n          value: null\n        },  \n        {\n          name: \"numberOfBuildings\",\n          value: null\n        },\n        {\n          name: \"currentSystem\",\n          value: null\n        },\n        {\n          name: \"rentalTransferMode\",\n          value: null\n        },\n        {\n          name: \"amountInCurrentSystemOrBudget\",\n          value: null\n        },\n        {\n          name: \"qualificationCompleted\",\n          value: null\n        }\n      ],\n      actions: null,\n      finalInstructions: \"\"\n    }\n  },  \n  \"Enviar Apresentacao em PDF\": {\n    sortNumber: \"5\",\n    conditionPrompt: \"Caso o processo de qualificação esteja finalizado\",\n    requiredDataForExecute: [\n      {\n        name: \"qualificationCompleted\", \n        operator: \"=\",\n        value: true\n      },\n      {\n        name: \"presentationHasSent\", \n        operator: \"!exist\",\n        value: null\n      }\n    ],\n    actions: {\n      requiredDataForExecute: [\n        {\n          name: \"teamSize\",\n          value: null\n        }\n      ],\n      actions: null,\n      finalInstructions: \"\"\n    }\n  }  \n}\n\n// Iterar sobre todos os stages\nObject.keys(stages).forEach(stageKey => {\n  const stage = stages[stageKey];\n  \n  // Verificar se existe actions e requiredDataForExecute\n  if (stage.actions && stage.actions.requiredDataForExecute) {\n    // Iterar sobre cada item de requiredDataForExecute\n    stage.actions.requiredDataForExecute.forEach(item => {\n      // Adicionar a propriedade instructions\n      item.instruction = findVarInstruction(item.name);\n    });\n  }\n});\n\nreturn stages;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1248,384],"id":"d21ae8ce-7398-4003-a82a-5bcb129b4592","name":"Seta estágios"},{"parameters":{"operation":"set","key":"={{ $('Cria cache key').item.json.cache_key }}_vars","value":"={{ JSON.stringify($('Seta variáveis da conversa').item.json)}}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2672,384],"id":"411b6839-21cf-4bdd-bed8-1762ee01b9ce","name":"Redis1","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"cache_key\": \"sdr_{{ $('Webhook').item.json.body.ticketId }}_chat_summary_{{ $('Webhook').item.json.body.contact.number }}_{{ $('Webhook').item.json.body.whatsappId }}_10\"\n} ","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,384],"id":"5216ce5c-d749-4c08-a466-e42cb1bfb985","name":"Cria cache key"},{"parameters":{"operation":"get","key":"={{ $json.cache_key }}_stages","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[432,384],"id":"4431ab91-126b-47b2-8917-557a348322ca","name":"Busca estágios","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"operation":"get","key":"={{ $('Cria cache key').item.json.cache_key }}_vars","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[640,384],"id":"c01a8e81-2a8c-4bfd-b7ad-f8fc2940be9b","name":"Busca variáveis","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"jsCode":"return {\n  chatInput: $('Webhook').first().json.body.message\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1664,384],"id":"f6afd191-56f5-409b-b85d-3cc39703d1c2","name":"Retorna chatInput"},{"parameters":{"jsCode":"const vars = $('Seta variáveis da conversa').first().json.data\n\nreturn {\n  varNames: Object.keys(vars)\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1456,384],"id":"eb472108-e8e5-4e2b-871f-55626d62ae91","name":"Retorna nome das variáveis"}],"connections":{"Embeddings OpenAI":{"ai_embedding":[[{"node":"Busca informações do banco de dados","type":"ai_embedding","index":0}]]},"AI Agent":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Busca informações do banco de dados":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Retorna message":{"main":[[{"node":"Compacta as últimas mensagens","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Redis","type":"main","index":0}]]},"Compacta as últimas mensagens":{"main":[[{"node":"Cria cache key","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Webhook":{"main":[[{"node":"Retorna message","type":"main","index":0}]]},"Se tiver resumo":{"main":[[{"node":"Transforma resumo em objeto literal","type":"main","index":0}],[{"node":"AI - Gerar resumo das mensagens","type":"main","index":0}]]},"Busca resumo no cache":{"main":[[{"node":"Se tiver resumo","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI - Gerar resumo das mensagens","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI - Gerar resumo das mensagens","type":"ai_languageModel","index":0}]]},"AI - Gerar resumo das mensagens":{"main":[[{"node":"Transforma resumo em objeto literal","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"AI - Atualizar resumo","type":"ai_languageModel","index":0}]]},"AI - Atualizar resumo":{"main":[[{"node":"Salva resumo em cache","type":"main","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"AI - Atualizar resumo","type":"ai_outputParser","index":0}]]},"Atualizar paramêtros":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Seta variáveis da conversa":{"main":[[{"node":"Seta perfil","type":"main","index":0}]]},"Seta perfil":{"main":[[{"node":"Seta estágios","type":"main","index":0}]]},"Seta estágios":{"main":[[{"node":"Retorna nome das variáveis","type":"main","index":0}]]},"Redis":{"main":[[{"node":"Redis1","type":"main","index":0}]]},"Cria cache key":{"main":[[{"node":"Busca estágios","type":"main","index":0}]]},"Busca estágios":{"main":[[{"node":"Busca variáveis","type":"main","index":0}]]},"Busca variáveis":{"main":[[{"node":"Seta variáveis da conversa","type":"main","index":0}]]},"Retorna chatInput":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Retorna nome das variáveis":{"main":[[{"node":"Retorna chatInput","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.apresenta.me","x-real-ip":"172.68.191.166","x-real-port":"15723","x-forwarded-for":"186.227.138.107, 172.68.191.166","x-forwarded-proto":"http","x-forwarded-host":"n8n.apresenta.me","x-forwarded-port":"80","remote-host":"172.68.191.166","connection":"close","content-length":"24373","accept":"application/json, text/plain, */*","accept-encoding":"gzip, br","user-agent":"axios/1.12.2","cf-ray":"99a7254c6f4ba623-NVT","content-type":"application/json","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"186.227.138.107","cf-ipcountry":"BR","cf-visitor":"{\"scheme\":\"https\"}"},"params":{},"query":{},"body":{"message":"João vítor Machado Rorato","messageId":"2920563","contact":{"id":"34529","name":"554788950332","number":"554788950332","profilePicUrl":null,"createdAt":"2025-08-26T13:37:58.507-03:00","updatedAt":"2025-11-06T16:54:40.652-03:00","email":"","isGroup":false,"companyId":"10","whatsappId":"5","onlyResponsible":false,"userId":"1","aprePersonId":null,"apreDealId":null,"meta":{"ignoreCheck":true,"ignorePermission":true,"dontSendSocket":false}},"whatsappId":"5","companyId":10,"lastMessages":"[{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nOlá, tudo bem? 👋 Como posso te ajudar hoje?\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-06T15:58:53.000-03:00\",\"updatedAt\":\"2025-11-06T15:58:55.605-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB0B70367B01BADA1A9AF7CB36826C5E43AEB47\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nOlá, tudo bem? 👋 Como posso te ajudar hoje?\"},\"pushName\":\"Você\",\"instanceId\":\"4ae49170-54c1-4f97-b4f5-ddbb91d46dcb\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1762455533},\"id\":\"2920530\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"Alou\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-06T16:31:58.000-03:00\",\"updatedAt\":\"2025-11-06T16:48:39.001-03:00\",\"dataJson\":{\"key\":{\"id\":\"3AA2806A243689F1CC8D\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"conversation\":\"Alou\",\"messageContextInfo\":{\"messageSecret\":\"ujU297J+mXIH6TXn0WP/iD/mPXw4sRUiGqaUHaZl0yc=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"TI1DoAgEEXGlQQ==\",\"recipientTimestamp\":\"1762438530\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"4ae49170-54c1-4f97-b4f5-ddbb91d46dcb\",\"messageType\":\"conversation\",\"messageTimestamp\":1762457518},\"id\":\"2920534\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nOlá, tudo bem? 👋 Como posso te ajudar hoje?\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-06T16:32:09.000-03:00\",\"updatedAt\":\"2025-11-06T16:32:11.383-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB0890C4B21B879FF52EE26CFE768279AA8F890\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nOlá, tudo bem? 👋 Como posso te ajudar hoje?\"},\"pushName\":\"Você\",\"instanceId\":\"4ae49170-54c1-4f97-b4f5-ddbb91d46dcb\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1762457529},\"id\":\"2920535\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nOlá, tudo bem? 👋 Eu sou a Alicia, assistente da Apresenta.me. Qual é o seu nome?\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-06T16:36:06.000-03:00\",\"updatedAt\":\"2025-11-06T16:36:11.055-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB048312763CABC914A8CB9A22D89E9D6DB7835\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nOlá, tudo bem? 👋 Eu sou a Alicia, assistente da Apresenta.me. Qual é o seu nome?\"},\"pushName\":\"Você\",\"instanceId\":\"4ae49170-54c1-4f97-b4f5-ddbb91d46dcb\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1762457766},\"id\":\"2920536\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"João Vitor\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-06T16:36:26.000-03:00\",\"updatedAt\":\"2025-11-06T16:48:38.749-03:00\",\"dataJson\":{\"key\":{\"id\":\"3AAA5BC925B5F763428D\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"conversation\":\"João Vitor\",\"messageContextInfo\":{\"messageSecret\":\"37w8i20ESIX1jwGQ9I8j17fAhB2x7Ia0eKmatIEsccM=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"TI1DoAgEEXGlQQ==\",\"recipientTimestamp\":\"1762438530\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"4ae49170-54c1-4f97-b4f5-ddbb91d46dcb\",\"messageType\":\"conversation\",\"messageTimestamp\":1762457786},\"id\":\"2920537\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nOlá, João Vitor! 😊 Você trabalha no mercado imobiliário? 🏢\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-06T16:36:37.000-03:00\",\"updatedAt\":\"2025-11-06T16:36:40.755-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB07F13ED08EBC8C1E5EF7B6F7C397CD6848719\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nOlá, João Vitor! 😊 Você trabalha no mercado imobiliário? 🏢\"},\"pushName\":\"Você\",\"instanceId\":\"4ae49170-54c1-4f97-b4f5-ddbb91d46dcb\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1762457797},\"id\":\"2920538\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"Aham\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-06T16:36:47.000-03:00\",\"updatedAt\":\"2025-11-06T16:48:38.806-03:00\",\"dataJson\":{\"key\":{\"id\":\"3A27A6516250D24F356D\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"conversation\":\"Aham\",\"messageContextInfo\":{\"messageSecret\":\"TAIw2hngmdT/VUYtHoet5dpS2cZ+HSCbQZ4OManQufw=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"TI1DoAgEEXGlQQ==\",\"recipientTimestamp\":\"1762438530\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"4ae49170-54c1-4f97-b4f5-ddbb91d46dcb\",\"messageType\":\"conversation\",\"messageTimestamp\":1762457807},\"id\":\"2920539\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nOlá, tudo bem? 👋 Estou aqui para ajudar! Qual é o seu nome?\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-06T16:36:58.000-03:00\",\"updatedAt\":\"2025-11-06T16:37:00.499-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB0844AA95CE2271273D877783CDD0AC830ED4C\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nOlá, tudo bem? 👋 Estou aqui para ajudar! Qual é o seu nome?\"},\"pushName\":\"Você\",\"instanceId\":\"4ae49170-54c1-4f97-b4f5-ddbb91d46dcb\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1762457818},\"id\":\"2920540\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"João Vitor\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-06T16:37:12.000-03:00\",\"updatedAt\":\"2025-11-06T16:48:39.009-03:00\",\"dataJson\":{\"key\":{\"id\":\"3A282A08C96BA3F13BD3\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"conversation\":\"João Vitor\",\"messageContextInfo\":{\"messageSecret\":\"0LEVrABWFUWYAW2oyxmj4x2dWGPq/OTQChedh5XyFtQ=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"TI1DoAgEEXGlQQ==\",\"recipientTimestamp\":\"1762438530\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"4ae49170-54c1-4f97-b4f5-ddbb91d46dcb\",\"messageType\":\"conversation\",\"messageTimestamp\":1762457832},\"id\":\"2920541\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nOlá, João Vitor! 😄 Você trabalha no mercado imobiliário?\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-06T16:37:22.000-03:00\",\"updatedAt\":\"2025-11-06T16:37:24.408-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB02491702CE769EDE9F22E04D2BDC0581E80B2\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nOlá, João Vitor! 😄 Você trabalha no mercado imobiliário?\"},\"pushName\":\"Você\",\"instanceId\":\"4ae49170-54c1-4f97-b4f5-ddbb91d46dcb\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1762457842},\"id\":\"2920542\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"Aham\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-06T16:37:27.000-03:00\",\"updatedAt\":\"2025-11-06T16:48:38.732-03:00\",\"dataJson\":{\"key\":{\"id\":\"3AA01C991DDBF296C4A2\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"conversation\":\"Aham\",\"messageContextInfo\":{\"messageSecret\":\"PpFm5mUJHvNMN/1npqPcHtl6q0JD1+Lklkn+p0yfMtY=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"TI1DoAgEEXGlQQ==\",\"recipientTimestamp\":\"1762438530\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"4ae49170-54c1-4f97-b4f5-ddbb91d46dcb\",\"messageType\":\"conversation\",\"messageTimestamp\":1762457847},\"id\":\"2920543\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nOlá, tudo bem? 👋 Posso saber seu nome?\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-06T16:37:36.000-03:00\",\"updatedAt\":\"2025-11-06T16:37:39.269-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB0C72975274380D54BCE0DB19B406462A0D586\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nOlá, tudo bem? 👋 Posso saber seu nome?\"},\"pushName\":\"Você\",\"instanceId\":\"4ae49170-54c1-4f97-b4f5-ddbb91d46dcb\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1762457856},\"id\":\"2920544\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nOlá, tudo bem? 👋 Eu sou a Alicia, assistente da Apresenta.me. Qual é o seu nome?\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-06T16:47:08.000-03:00\",\"updatedAt\":\"2025-11-06T16:47:15.120-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB0C961E4F8B6ABF6939C5CD5DB880AC87F467C\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nOlá, tudo bem? 👋 Eu sou a Alicia, assistente da Apresenta.me. Qual é o seu nome?\"},\"pushName\":\"Você\",\"instanceId\":\"4ae49170-54c1-4f97-b4f5-ddbb91d46dcb\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1762458428},\"id\":\"2920548\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"João Vitor Machado Rorato\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-06T16:47:23.000-03:00\",\"updatedAt\":\"2025-11-06T16:48:38.335-03:00\",\"dataJson\":{\"key\":{\"id\":\"3A5AFCCC5F381C7C6A6A\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"conversation\":\"João Vitor Machado Rorato\",\"messageContextInfo\":{\"messageSecret\":\"HQm7rxexFMPmNx3LGsWt7WMXgdzUZmdm/stiqMHdk5A=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"TI1DoAgEEXGlQQ==\",\"recipientTimestamp\":\"1762438530\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"4ae49170-54c1-4f97-b4f5-ddbb91d46dcb\",\"messageType\":\"conversation\",\"messageTimestamp\":1762458443},\"id\":\"2920550\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nOlá, João! 😊 Tudo bem? Agora, você trabalha no mercado imobiliário? 🏢\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-06T16:47:34.000-03:00\",\"updatedAt\":\"2025-11-06T16:47:37.200-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB05BB94C12A2E9B09621138DABA12B2CEDCC9A\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nOlá, João! 😊 Tudo bem? Agora, você trabalha no mercado imobiliário? 🏢\"},\"pushName\":\"Você\",\"instanceId\":\"4ae49170-54c1-4f97-b4f5-ddbb91d46dcb\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1762458454},\"id\":\"2920551\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"\",\"messageType\":\"image\",\"createdAt\":\"2025-11-06T16:48:46.000-03:00\",\"updatedAt\":\"2025-11-06T16:52:12.303-03:00\",\"dataJson\":{\"key\":{\"id\":\"A5BCA0F7F08DCD5248014B230420416B\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"android\",\"status\":\"SERVER_ACK\",\"message\":{\"imageMessage\":{\"url\":\"https://mmg.whatsapp.net/v/t62.7118-24/578096919_1277217987493800_7637722086643160330_n.enc?ccb=11-4&oh=01_Q5Aa2wFtQ_eCAhZNaY1t5Vyzrv9iXtt8-2sKVyGECQwPzPrgNQ&oe=693477F6&_nc_sid=5e03e0&mms3=true\",\"width\":899,\"height\":1599,\"mediaKey\":\"n20KA16vW9p9ryPpW2/f21Y9pXYNTLGtmOXESbQNATs=\",\"mimetype\":\"image/jpeg\",\"directPath\":\"/v/t62.7118-24/578096919_1277217987493800_7637722086643160330_n.enc?ccb=11-4&oh=01_Q5Aa2wFtQ_eCAhZNaY1t5Vyzrv9iXtt8-2sKVyGECQwPzPrgNQ&oe=693477F6&_nc_sid=5e03e0\",\"fileLength\":\"87806\",\"fileSha256\":\"nCuNYe5ARKLq1ANn12BEo9RNQVLXF4PhIWL2SXJqd7A=\",\"contextInfo\":{\"pairedMediaType\":\"NOT_PAIRED_MEDIA\"},\"scanLengths\":[12061,23927,17682,34136],\"scansSidecar\":\"ZXOKy6iAhbciGQBl7TR0O23INWXBf/LONVU0ut7+dgoYnj25lGjekw==\",\"fileEncSha256\":\"h9gh3rjaT4dKeDRhu5H/LXna2kKbdZlrEsH94dQO3UA=\",\"jpegThumbnail\":\"/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEABsbGxscGx4hIR4qLSgtKj04MzM4PV1CR0JHQl2NWGdYWGdYjX2Xe3N7l33gsJycsOD/2c7Z//////////////8BGxsbGxwbHiEhHiotKC0qPTgzMzg9XUJHQkdCXY1YZ1hYZ1iNfZd7c3uXfeCwnJyw4P/Zztn////////////////CABEIADwAIQMBIgACEQEDEQH/xAAuAAACAwEAAAAAAAAAAAAAAAAAAgEDBAUBAAMBAAAAAAAAAAAAAAAAAAABAwL/2gAMAwEAAhADEAAAAL66q6T2j51rCKUx1AiNEU0D45BSeumhk36HMlCFYx3RkQtyApYB/8QAJBAAAgICAQMEAwAAAAAAAAAAAQIAAxESBBAUIRMxUWEkQXH/2gAIAQEAAT8A4bBKGYx+UzE/Er5liS+8XVTMGV4Y+2lS7tF0XwMS8BVJH76VIH4aSusIDPTG/lo9Z1sOfbpxcdmdjC2scGLUe2tY9Fu/GWsCGx8YgtsHtF5bdqyFZtFbA95vAx+JucEdFAxP4ISYMmafcU4EXzmaiAeZqJ//xAAaEQEAAgMBAAAAAAAAAAAAAAABABEQITAx/9oACAECAQE/AANssvzDDh//xAAaEQACAgMAAAAAAAAAAAAAAAAAAQIQITAx/9oACAEDAQE/ABxxUR80f//Z\",\"mediaKeyTimestamp\":\"1762458321\",\"midQualityFileSha256\":\"/ZxDZYaumyhkClggIUag1dW+lokZUpa5K9D1rmTLApU=\"}},\"pushName\":\"Teste Apre\",\"instanceId\":\"4ae49170-54c1-4f97-b4f5-ddbb91d46dcb\",\"contextInfo\":{\"pairedMediaType\":\"NOT_PAIRED_MEDIA\"},\"messageType\":\"imageMessage\",\"messageTimestamp\":1762458526},\"id\":\"2920552\",\"mediaPath\":\"A5BCA0F7F08DCD5248014B230420416B.jpg\",\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":\"Usuário enviou uma imagem com o seguinte conteúdo resumido: `A imagem mostra um jovem homem com cabelo escuro e pele clara. Ele está usando um casaco preto acolchoado e parece estar conversando ou sorrindo. Há um fundo claro, possivelmente de um ambiente interno, com a presença de janelas. A imagem é focada em seu rosto, com o retrato cortado por elementos ao redor, sugerindo uma tomada informal.`\",\"file\":{\"id\":\"248688\",\"companyId\":\"10\",\"moduleType\":\"Message\",\"moduleId\":\"2920552\",\"collection\":\"file\",\"bucket\":\"ticket/110928/\",\"name\":\"fde2498a-d3bf-4103-9040-1c064e91b562\",\"fileName\":\"A5BCA0F7F08DCD5248014B230420416B\",\"version\":null,\"extension\":\"jpg\",\"mimeType\":\"image/jpeg\",\"size\":\"87806\",\"createdAt\":\"2025-11-06T16:48:49.400-03:00\",\"updatedAt\":\"2025-11-06T16:48:49.400-03:00\",\"meta\":{}},\"mediaUrl\":\"https://grqgzepwdxag.compat.objectstorage.sa-saopaulo-1.oraclecloud.com/files.apre.chat/000010/ticket/110928/A5BCA0F7F08DCD5248014B230420416B.jpg\",\"meta\":{}},{\"body\":\"Boa tarde!\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-06T16:51:57.000-03:00\",\"updatedAt\":\"2025-11-06T16:54:11.716-03:00\",\"dataJson\":{\"key\":{\"id\":\"3AAFA3533F5307FBD763\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"conversation\":\"Boa tarde!\",\"messageContextInfo\":{\"messageSecret\":\"EXG4fatD2/QQ/i2hKtAak/hgjUNvtVQ2kUnfG0ydk74=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"TI1DoAgEEXGlQQ==\",\"recipientTimestamp\":\"1762438530\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"4ae49170-54c1-4f97-b4f5-ddbb91d46dcb\",\"messageType\":\"conversation\",\"messageTimestamp\":1762458717},\"id\":\"2920557\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nOlá, tudo bem? 👋 Eu sou a Alicia, assistente da Apresenta.me. Qual é o seu nome?\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-06T16:52:15.000-03:00\",\"updatedAt\":\"2025-11-06T16:52:18.094-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB00FB8453D0211123F824111FF5B8FFE912C66\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nOlá, tudo bem? 👋 Eu sou a Alicia, assistente da Apresenta.me. Qual é o seu nome?\"},\"pushName\":\"Você\",\"instanceId\":\"4ae49170-54c1-4f97-b4f5-ddbb91d46dcb\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1762458735},\"id\":\"2920558\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"_dev-ricaelvc_\\n*Mensagem Automática:*\\nBoa tarde *Joaozinho*, meu nome é *Ricael Chiquetti (MASTER)* e agora vou prosseguir com seu atendimento!\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-06T16:53:11.000-03:00\",\"updatedAt\":\"2025-11-06T16:53:16.433-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB06BBCDBC6789D56D3F4\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"web\",\"status\":\"SERVER_ACK\",\"message\":{\"conversation\":\"_dev-ricaelvc_\\n*Mensagem Automática:*\\nBoa tarde *Joaozinho*, meu nome é *Ricael Chiquetti (MASTER)* e agora vou prosseguir com seu atendimento!\"},\"pushName\":\"Teste Apre\",\"instanceId\":\"4ae49170-54c1-4f97-b4f5-ddbb91d46dcb\",\"contextInfo\":{\"disappearingMode\":{\"initiator\":\"CHANGED_IN_CHAT\"},\"ephemeralSettingTimestamp\":\"1762285991\"},\"messageType\":\"conversation\",\"messageTimestamp\":1762458791},\"id\":\"2920559\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"\",\"messageType\":\"image\",\"createdAt\":\"2025-11-06T16:53:23.000-03:00\",\"updatedAt\":\"2025-11-06T16:53:27.245-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB052895C13462C2987A4\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"web\",\"status\":\"SERVER_ACK\",\"message\":{\"imageMessage\":{\"url\":\"https://mmg.whatsapp.net/o1/v/t24/f2/m232/AQMELtmDDgkcrVojHau2oC7kSKWCQj94yOkUl3g0LwSq0LfasTdNemMPxOf76Sfapcwzu13VL7DPNMxuv2GWClHbILv7V-6tzXE12DC0ag?ccb=9-4&oh=01_Q5Aa2wEdWSRZ_ZR7S55d-JIclTgxhrRMwJpeg0eGkT-mbTzlVQ&oe=69345678&_nc_sid=e6ed6c&mms3=true\",\"width\":768,\"height\":1344,\"caption\":null,\"mediaKey\":\"0v3v2qw6eaVDlBtmdd7AanAtlBtyP+44GQpDzs8wrpA=\",\"mimetype\":\"image/jpeg\",\"directPath\":\"/o1/v/t24/f2/m232/AQMELtmDDgkcrVojHau2oC7kSKWCQj94yOkUl3g0LwSq0LfasTdNemMPxOf76Sfapcwzu13VL7DPNMxuv2GWClHbILv7V-6tzXE12DC0ag?ccb=9-4&oh=01_Q5Aa2wEdWSRZ_ZR7S55d-JIclTgxhrRMwJpeg0eGkT-mbTzlVQ&oe=69345678&_nc_sid=e6ed6c\",\"fileLength\":\"71210\",\"fileSha256\":\"r7uHWnkkVzH9BP5x4E4BLIAYnPUCwhYN/edTyGzTW/A=\",\"contextInfo\":{\"disappearingMode\":{\"initiator\":\"CHANGED_IN_CHAT\"},\"ephemeralSettingTimestamp\":\"1762286003\"},\"fileEncSha256\":\"VuAMbaBuWQW3BcpUw8Lahr/3YK8c2aWfublbE8bzchQ=\",\"jpegThumbnail\":\"/9j/2wBDABALDA4MChAODQ4SERATGCgaGBYWGDEjJR0oOjM9PDkzODdASFxOQERXRTc4UG1RV19iZ2hnPk1xeXBkeFxlZ2P/2wBDARESEhgVGC8aGi9jQjhCY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2P/wAARCAA4ACADASIAAhEBAxEB/8QAGgAAAwEBAQEAAAAAAAAAAAAAAAMFAgQBBv/EAC4QAAEDAwIEBAUFAAAAAAAAAAECAxEABBIhMQUGE0EiI3GBFBUyYbFRY5Ghwf/EABcBAQEBAQAAAAAAAAAAAAAAAAABAwL/xAAaEQEAAgMBAAAAAAAAAAAAAAAAAQIRITFB/9oADAMBAAIRAxEAPwDt5W1sXT+5/gqm+tK0LaTqSCCRsKl8skp4M+sbhavwKY2siY2711brOsZVrK6bYtEsKyJSIyA02qXzOQbNlQ1GZ/FZF4znj1YV6Vy8YeC+HBAWFYuA6HaQatZ3tbVjGYb4A2XuX3UpOvVJj2FOSEhGKjOmppHLlwLTgNxcKTkA7tMToBS3rlAhxtQU2d47VLRtaz4MLRp8rVOIO8aTSbu2bRw25eScvNTif0BnSvFht4ZNODxfUM4/qqN9a9DlNS5BLi0rme0wKV6tuPnLS6c+Xm26pS2VlRT2JpSkkzgsVyNrITCUyfSm+crtiPvWjNoNOEzkP5qk7xB88H+FW/k2kaJ96m6I3cn7ClqcySRNQFuT04kDWmHE/Uoq96KKDC0SPCgD1FDTeipiQJgjeiig/9k=\",\"mediaKeyTimestamp\":\"1762458803\"}},\"pushName\":\"Teste Apre\",\"instanceId\":\"4ae49170-54c1-4f97-b4f5-ddbb91d46dcb\",\"contextInfo\":{\"disappearingMode\":{\"initiator\":\"CHANGED_IN_CHAT\"},\"ephemeralSettingTimestamp\":\"1762286003\"},\"messageType\":\"imageMessage\",\"messageTimestamp\":1762458803},\"id\":\"2920560\",\"mediaPath\":\"3EB052895C13462C2987A4.jpg\",\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":\"Usuário enviou uma imagem com o seguinte conteúdo resumido: `Imagem de um homem com cabeça raspada, usando um casaco preto. Ele tem um semblante neutro, olhar direto, e um leve sorriso. O fundo é claro, com uma parede e reflexos que não são claramente definidos. O foco principal está no rosto e parte superior do casaco do homem.`\",\"file\":{\"id\":\"248693\",\"companyId\":\"10\",\"moduleType\":\"Message\",\"moduleId\":\"2920560\",\"collection\":\"file\",\"bucket\":\"ticket/110928/\",\"name\":\"8816160f-8b44-467d-8b19-28baa4d1ae3e\",\"fileName\":\"3EB052895C13462C2987A4\",\"version\":null,\"extension\":\"jpg\",\"mimeType\":\"image/jpeg\",\"size\":\"71210\",\"createdAt\":\"2025-11-06T16:53:26.056-03:00\",\"updatedAt\":\"2025-11-06T16:53:26.056-03:00\",\"meta\":{}},\"mediaUrl\":\"https://grqgzepwdxag.compat.objectstorage.sa-saopaulo-1.oraclecloud.com/files.apre.chat/000010/ticket/110928/3EB052895C13462C2987A4.jpg\",\"meta\":{}}]","ticketId":110928},"webhookUrl":"https://n8n.apresenta.me/webhook/7223c6af-f595-4bc2-b84c-602b8900cd08","executionMode":"production"}}]},"versionId":"08f3ca7f-90d8-49e6-b2ea-ab8b02050ca3","triggerCount":1,"shared":[{"createdAt":"2025-11-04T18:47:16.654Z","updatedAt":"2025-11-04T18:47:16.654Z","role":"workflow:owner","workflowId":"dDaZdsSmHxktrhjc","projectId":"4ToGMYJEWvvDSbcz"}],"tags":[]}