21-10-2025 12:00/workflows/➰-backups-n8n-LnZKOgClwN6K3zPk.json
{"createdAt":"2025-10-02T18:43:47.141Z","updatedAt":"2025-10-02T21:07:10.000Z","id":"LnZKOgClwN6K3zPk","name":"➰ Backups n8n","active":true,"isArchived":false,"nodes":[{"parameters":{"filters":{},"requestOptions":{}},"id":"a01e0f90-88cf-4101-b6a5-50fa36873678","name":"Recupere os workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-1152,272],"credentials":{"n8nApi":{"id":"3RRRCfxbaH6FJKXR","name":"n8n account"}}},{"parameters":{"batchSize":1,"options":{}},"id":"caa8e215-3f90-46cc-94c0-d8cc6f70eb26","name":"Dividindo em Arquivos Únicos","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[-704,272]},{"parameters":{"operation":"formatDate","date":"={{ $json.newDate.split('T')[0] + ' ' + $json.newDate.split('T')[1].split('.')[0] }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"bddf9c17-8e1c-4b44-84b3-28db1db5718d","name":"Data formatada","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1776,272]},{"parameters":{"operation":"addToDate","magnitude":"={{$now.toISO()}}","options":{}},"id":"aff00ceb-ceb9-48f5-b179-a2dcab70489c","name":"Sete a data","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1984,272]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"b99474c1-569e-4dff-bec6-ce297274a04e","name":"Setar a data do Commit","type":"n8n-nodes-base.set","typeVersion":2,"position":[-1584,272]},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"0c353b31-d39b-498c-a832-9e0ee3b3f05c","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-944,272]},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"https://github.com/n8nApresentaMe","mode":"url"},"repository":{"__rl":true,"value":"backups","mode":"list","cachedResultName":"backups","cachedResultUrl":"https://github.com/n8nApresentaMe/backups"},"filePath":"={{ $('Formata diretório').first().json.diretorio }}/{{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Setar a data do Commit'].json.commitDate }}"},"id":"1b7bf5bc-2544-4d3b-a4c1-f07261526227","name":"Cria arquivos [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-352,256],"webhookId":"50d88d45-969b-4683-ad0f-49dd2b6365ae","credentials":{"githubOAuth2Api":{"id":"xvB2Xy1xm4pmuEf5","name":"GitHub account"}}},{"parameters":{"jsCode":"return {\n  \"diretorio\": $('Data formatada').first().json.formattedDate.replace('/', ' ') + '/workflows'\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1360,272],"id":"a5c741b0-9b35-4d4f-b503-46885db629d9","name":"Formata diretório"},{"parameters":{"rule":{"interval":[{"triggerAtHour":12}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2224,128],"id":"7ec47a63-3e48-43e9-9305-40d4f8a5d9fb","name":"Schedule Trigger"},{"parameters":{"rule":{"interval":[{"triggerAtHour":18}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2224,384],"id":"7aa1408a-05ff-404b-969e-9baf0bd75515","name":"Schedule Trigger1"}],"connections":{"Recupere os workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Dividindo em Arquivos Únicos":{"main":[[{"node":"Cria arquivos [GITHUB]","type":"main","index":0}]]},"Data formatada":{"main":[[{"node":"Setar a data do Commit","type":"main","index":0}]]},"Sete a data":{"main":[[{"node":"Data formatada","type":"main","index":0}]]},"Setar a data do Commit":{"main":[[{"node":"Formata diretório","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Dividindo em Arquivos Únicos","type":"main","index":0}]]},"Cria arquivos [GITHUB]":{"main":[[{"node":"Dividindo em Arquivos Únicos","type":"main","index":0}]]},"Formata diretório":{"main":[[{"node":"Recupere os workflows [N8N]","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Sete a data","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Sete a data","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e4c81d25-891d-4661-ac32-9b817c497a01","triggerCount":2,"shared":[{"createdAt":"2025-10-02T18:43:47.146Z","updatedAt":"2025-10-02T18:43:47.146Z","role":"workflow:owner","workflowId":"LnZKOgClwN6K3zPk","projectId":"4ToGMYJEWvvDSbcz"}],"tags":[]}