11-11-2025 12:00/workflows/🗣️-apr.ia---suporte-KviqRrSTv4bRuxZW.json
{"createdAt":"2025-11-04T14:21:24.960Z","updatedAt":"2025-11-11T14:55:20.000Z","id":"KviqRrSTv4bRuxZW","name":"🗣️ Apr.IA - Suporte","active":true,"isArchived":false,"nodes":[{"parameters":{"options":{"dimensions":1536}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[1952,128],"id":"91b7a93a-66a5-4669-b529-c6ba21e1a423","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"weD4ayyAuWgClQqA","name":"OpenAi account"}}},{"parameters":{"options":{"systemMessage":"=## 🧠 Apre.IA – Agente da Apresenta.me  \n**Versão 2025-10-21 | PT-BR**\n\n### Identidade  \nSou *Apre.IA*, assistente oficial da *Apresenta.me*, treinada com a experiência do time para orientar gestores, corretores e colaboradores com **clareza, precisão e empatia**.  \nFalo como quem **conhece o sistema e o dia a dia das imobiliárias**, com segurança e tom consultivo.\n\n---\n\n### Diretrizes Principais  \n- Usar **apenas informações da KB**.  \n- **Nunca inventar** valores, links, nomes ou políticas.  \n- Se faltar dado:  \n  > “No momento, não tenho informações o suficiente para responder, mas o setor responsável pode ajudar!”  \n- Linguagem **profissional, direta e acolhedora** (até ~5 linhas).  \n- Evitar “eu”, “seu/sua”; preferir “da imobiliária”, “do cliente” etc.  \n- Postura: **especialista confiante, consultor técnico e empático**.\n\n---\n\n### Contexto e Recuperação (RAG)  \n1. Buscar trechos relevantes na **KB** (*top-k 6–8*, priorizando recentes).  \n2. Injetar histórico compacto (`r`, `t`, `s`, `ts`) e interpretar **cronologicamente**.  \n3. Priorizar **a última mensagem do usuário**.  \n4. Em caso de dúvida, **confirmar antes de responder**.  \n5. Se houver conflito entre histórico e KB, **a KB prevalece**.  \n6. Faltando dado essencial → recusar educadamente e indicar o setor.\n\n---\n\n### Estilo de Resposta  \n- Formatar em **markdown para WhatsApp**: *itálico*, **negrito**, listas curtas e emojis sutis.  \n- Só cumprimentar se o usuário cumprimentar.  \n- Citar o nome do contato naturalmente:  \n  > “Perfeito, *Lucas*! Acesse Financeiro → Repasses → Criar repasse.”  \n- Frases completas e firmes, com linguagem simples e técnica na medida.  \n- Transmitir **autoridade + empatia**, como uma especialista da Apresenta.me.\n\n---\n\n### Inteligência Empática  \nSe pedir **treinamento ou ajuda em módulo**:  \n1. Entender a necessidade antes de encaminhar.  \n2. Buscar instrução na KB e orientar com clareza.  \n3. Se persistir a dificuldade:  \n   > “Que pena, {{nome}}! O time responsável vai entrar em contato pra ajudar, tudo bem?”  \n4. Evitar redirecionar sem tentar resolver.\n\n---\n\n### Diretriz Final  \n- A **KB é soberana**.  \n- O **histórico apenas apoia**.  \n- Cada resposta deve refletir **segurança, domínio técnico e confiança na marca**.  \n\n\n### O que nunca fazer\n- Nunca informar ao usuário que você é capaz de fazer algo que não está nas suas ferramentas.\n- Nunca dizer ao usuário que irá resolver o problema dele sem ter uma ferramenta que de fato resolva o problema do usuário.\n\n---\n\n### Informações do contato  \n`{{ JSON.stringify($('Webhook').item.json.body.contact) }}`  \n\n### Contexto da conversa\nO agente principal envia o contexto da conversa resumido:  \n`{{ JSON.stringify($json.output) }}`  \n\n**Objetivo:** apoiar a Apre.IA na formulação da resposta final, sem gerar texto completo. \n","returnIntermediateSteps":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1920,-256],"id":"d76ead48-04a2-4cac-b1f6-e8078a8df026","name":"AI Agent","retryOnFail":false},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"=## 🧠 Apre.IA – Consulta à Base de Conhecimento  \n**Função:** Buscar trechos da **KB da Apresenta.me** sobre produtos, serviços, processos e materiais oficiais.\n\n### Instruções  \n- Buscar **somente** informações da Apresenta.me.  \n- Retornar trechos **curtos e objetivos** (até ~200 tokens).  \n- **Nunca inventar** dados, prazos, valores ou políticas.  \n- Priorizar **versões recentes**.  \n- Ignorar mensagens genéricas ou saudações.  \n- Se não houver correspondência clara → **retornar vazio** (sem tentativa de resposta). \n","tableName":"n8","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[1984,-32],"id":"7d1f2517-58a4-4711-a0ab-9ada10718057","name":"Busca informações do banco de dados","credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}}},{"parameters":{"httpMethod":"POST","path":"67c7d548-f722-4bed-ad82-72e6f747b960","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[48,-256],"id":"2020542c-2d87-4ce4-843a-9e1f179efe07","name":"Webhook","webhookId":"67c7d548-f722-4bed-ad82-72e6f747b960"},{"parameters":{"jsCode":"return {chatInput: $input.first().json.body.message}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[256,-256],"id":"7c0b88fb-6ad7-4005-8246-3f79ecc47c72","name":"Retorna message"},{"parameters":{"method":"POST","url":"=https://api-chat-joao.apre.tv/api/messages/send","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"={\n    \"accept\": \"application/json, text/plain, */*\",\n    \"accept-language\": \"pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7\",\n    \"authorization\": \"Bearer kZaOTd+YZpjRUyyuQUpigJaEMk4vcW4YOymKPZX0Ts8=\",\n    \"company\": {{ $('Webhook').item.json.body.companyId }},\n    \"content-type\": \"application/json\"\n  } ","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"message","value":"={{ $('AI Agent').item.json.output }}"},{"name":"number","value":"={{ $('Webhook').item.json.body.contact.name }}"},{"name":"addUserName","value":"Apr.IA"},{"name":"whatsappId","value":"={{ $('Webhook').item.json.body.whatsappId }}"},{"name":"messageRepliedId","value":"={{ $('Webhook').item.json.body.messageId }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2240,-256],"id":"9bef75bd-a5bd-4c38-87a6-f3d897f2ac5a","name":"HTTP Request"},{"parameters":{"jsCode":"function cleanText(s) {\n  if (!s) return \"\";\n  // remove markdown leve e múltiplos espaços\n  s = s.replace(/[\\*_~`]+/g, \"\")\n       .replace(/\\s+/g, \" \")\n       .trim();\n  // corta para 220 chars\n  if (s.length > 220) s = s.slice(0, 217) + \"…\";\n  return s;\n}\n\nfunction roleFrom(msg) {\n  // dataJson.key.fromMe === true => agente (a); caso contrário, usuário (u)\n  const fromMe = msg?.dataJson?.key?.fromMe === true || msg?.fromMe === true;\n  return fromMe ? \"a\" : \"u\";\n}\n\nfunction tsFrom(msg) {\n  return msg.updatedAt || msg.createdAt || null;\n}\n\nfunction isNoise(t) {\n  if (!t) return true;\n  const low = t.toLowerCase();\n  const greetings = [\"oi\", \"ola\", \"olá\", \"opa, tudo bem?\", \"ooooii\"];\n  if (greetings.includes(low)) return true;\n  if (low.length < 2) return true;\n  return false;\n}\n\nconst raw = JSON.parse($('Webhook').first().json.body.lastMessages) || [];\nconsole.log({ raw })\nconst mapped = raw.map(m => ({\n  r: roleFrom(m),\n  t: cleanText(m.body || m?.dataJson?.message?.conversation || \"\"),\n  ts: tsFrom(m)\n}))\n.filter(m => !isNoise(m.t));\n\n// manter somente últimas 10 úteis (ordenar por ts asc e pegar tail)\nmapped.sort((a,b) => (new Date(a.ts||0)) - (new Date(b.ts||0)));\nconst trimmed = mapped;\n\n// mesclar mensagens consecutivas do mesmo role quando for continuação simples\nconst merged = [];\nfor (const m of trimmed) {\n  const last = merged[merged.length - 1];\n  if (last && last.r === m.r && (last.t + \" \" + m.t).length <= 220) {\n    last.t = cleanText(last.t + \" \" + m.t);\n    last.ts = m.ts; // manter o timestamp mais recente do bloco\n  } else {\n    merged.push({...m});\n  }\n}\n\nreturn {\n  chatInput: $input.first().json.chatInput,\n  lastMessageCompact: JSON.stringify(merged)\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[464,-256],"id":"6ec89d5a-ea3e-4020-8807-6c078f9eba02","name":"Compacta as últimas mensagens"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1840,-32],"id":"f9ea2f04-e02a-4610-81d0-f0fd0d2a3711","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"weD4ayyAuWgClQqA","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"=Você é um analista especializado em interpretar conversas com clientes.  \nEntenda de forma clara o que o cliente precisa, não invente informações\nCom base nas mensagens abaixo, produza um resumo analítico e objetivo que identifique:\n\n1. O **tom da conversa** (ex: irritado, neutro, satisfeito, confuso, solícito etc.)\n2. Os **principais desejos e necessidades do cliente**\n3. O **último objetivo ou solicitação mencionada**\n4. O último **problema/objetivo** do cliente foi resolvido (resolved) ?\n\nLegenda das mensagens:\n- `r`: papel (`\"u\"` = usuário, `\"a\"` = agente)  \n- `t`: texto limpo (sem markdown)  \n- `ts`: timestamp ISO local  \n\nMensagens recentes:\n{{ $('Compacta as últimas mensagens').item.json.lastMessageCompact }}\n\nResumo da última mensagem enviada pelo cliente.\n{{ $('Compacta as últimas mensagens').item.json.chatInput }}\n","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1376,-256],"id":"ece5a102-7378-4ed5-88f1-ddc4d5384edc","name":"AI - Gerar resumo das mensagens"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1312,-48],"id":"0fb0f381-2ee9-4b0f-9756-d265647e56d4","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"weD4ayyAuWgClQqA","name":"OpenAi account"}}},{"parameters":{"jsCode":"return {\n  output: $input.first().json.output || JSON.parse($('Se tiver resumo').first().json.propertyName),\n  chatInput: $('Webhook').first().json.body.message\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1728,-256],"id":"d8b230db-e44e-4d08-a44b-e952a9635c3f","name":"Transforma resumo em objeto literal"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"title\": \"ConversationAnalysisOutput\",\n  \"additionalProperties\": false,\n  \"required\": [\"analysis\"],\n  \"properties\": {\n    \"analysis\": {\n      \"type\": \"object\",\n      \"additionalProperties\": false,\n      \"required\": [\"summary\", \"tone\", \"needs\", \"lastObjective\", \"resolved\"],\n      \"properties\": {\n        \"summary\": {\n          \"type\": \"string\",\n          \"description\": \"Resumo conciso da conversa, destacando desejos, contexto e pontos-chave. Sem markdown.\"\n        },\n        \"tone\": {\n          \"type\": \"string\",\n          \"description\": \"Tom identificado na conversa (ex: irritado, neutro, satisfeito, confuso, solícito, entusiasmado, frustrado).\"\n        },\n        \"needs\": {\n          \"type\": \"array\",\n          \"description\": \"Lista dos principais desejos ou necessidades do cliente em frases curtas.\",\n          \"items\": {\n            \"type\": \"string\"\n          }\n        },\n        \"lastObjective\": {\n          \"type\": \"string\",\n          \"description\": \"Último objetivo ou ação solicitada pelo cliente, de forma resumida e direta.\"\n        },\n        \"resolved\": {\n          \"type\": \"boolean\",\n          \"description\": \"Indica se o último problema ou objetivo do cliente foi resolvido (true ou false).\"\n        }\n      }\n    }\n  }\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1552,-48],"id":"5bfac9de-11b8-4f26-968c-9c6af0128327","name":"Structured Output Parser"},{"parameters":{"operation":"set","key":"=chat_summary_{{ $('Webhook').item.json.body.contact.number }}_{{ $('Webhook').item.json.body.whatsappId }}_10","value":"={{ JSON.stringify($json.output) }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2800,-256],"id":"8dbfd760-7957-4441-bdca-c3be2786ff63","name":"Salva resumo em cache","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2400,-16],"id":"914b0c7c-f0a3-43d1-831c-67ab57669105","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"weD4ayyAuWgClQqA","name":"OpenAi account"}}},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"title\": \"ConversationAnalysisOutput\",\n  \"additionalProperties\": false,\n  \"required\": [\"analysis\"],\n  \"properties\": {\n    \"analysis\": {\n      \"type\": \"object\",\n      \"additionalProperties\": false,\n      \"required\": [\"summary\", \"tone\", \"needs\", \"lastObjective\", \"resolved\"],\n      \"properties\": {\n        \"summary\": {\n          \"type\": \"string\",\n          \"description\": \"Resumo conciso da conversa, destacando desejos, contexto e pontos-chave. Sem markdown.\"\n        },\n        \"tone\": {\n          \"type\": \"string\",\n          \"description\": \"Tom identificado na conversa (ex: irritado, neutro, satisfeito, confuso, solícito, entusiasmado, frustrado).\"\n        },\n        \"needs\": {\n          \"type\": \"array\",\n          \"description\": \"Lista dos principais desejos ou necessidades do cliente em frases curtas.\",\n          \"items\": {\n            \"type\": \"string\"\n          }\n        },\n        \"lastObjective\": {\n          \"type\": \"string\",\n          \"description\": \"Último objetivo ou ação solicitada pelo cliente, de forma resumida e direta.\"\n        },\n        \"resolved\": {\n          \"type\": \"boolean\",\n          \"description\": \"Indica se o último problema ou objetivo do cliente foi resolvido (true ou false).\"\n        }\n      }\n    }\n  }\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[2592,-48],"id":"bc90c335-41a2-4eca-968c-d9ae947856f7","name":"Structured Output Parser1"},{"parameters":{"promptType":"define","text":"=Você é um analista especializado em interpretar resumo de conversas com clientes.  \nEntenda de forma clara o que o resumo diz e apenas complemente o resumo com a nova resposta gerada pelo agente de IA.\nCom base no resumo abaixo, Atualize o resumo:\n\n1. O **tom da conversa** (ex: irritado, neutro, satisfeito, confuso, solícito etc.)\n2. Os **principais desejos e necessidades do cliente**\n3. O **último objetivo ou solicitação mencionada**\n4. O último **problema/objetivo** do cliente foi resolvido (resolved) ?\n\nÚltimo resumo gerado:\n{{ JSON.stringify($('Transforma resumo em objeto literal').first().json.output) }}\n\nResumo da última mensagem enviada pelo cliente:\n{{ $('Transforma resumo em objeto literal').first().json.chatInput }}\n\nResposta gerada pelo Agente de IA:\n{{ $('AI Agent').first().json.output }}\n","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[2448,-256],"id":"bd813c5f-9a6d-45d9-825e-fd1d68b73a37","name":"AI - Atualizar resumo"},{"parameters":{"operation":"get","key":"={{ $('Cria cache key').item.json.cache_key }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[896,-256],"id":"006594bd-6762-4842-9ebc-f31dc81935da","name":"Busca resumo no cache","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4d398db1-d160-433f-b5dc-07134ceb5b92","leftValue":"={{ $json.propertyName?.toBoolean() ?? false}}","rightValue":"","operator":{"type":"boolean","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1104,-256],"id":"cc71ba43-2d7a-4642-9156-a777d7df96a4","name":"Se tiver resumo"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"cache_key\": \"{{ $('Webhook').item.json.body.ticketId }}_chat_summary_{{ $('Webhook').item.json.body.contact.number }}_{{ $('Webhook').item.json.body.whatsappId }}_10\"\n} ","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[672,-256],"id":"bcf326d5-7694-4027-97a2-ac332baa3ce7","name":"Cria cache key"}],"connections":{"Embeddings OpenAI":{"ai_embedding":[[{"node":"Busca informações do banco de dados","type":"ai_embedding","index":0}]]},"AI Agent":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Busca informações do banco de dados":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Webhook":{"main":[[{"node":"Retorna message","type":"main","index":0}]]},"Retorna message":{"main":[[{"node":"Compacta as últimas mensagens","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"AI - Atualizar resumo","type":"main","index":0}]]},"Compacta as últimas mensagens":{"main":[[{"node":"Cria cache key","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI - Gerar resumo das mensagens":{"main":[[{"node":"Transforma resumo em objeto literal","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI - Gerar resumo das mensagens","type":"ai_languageModel","index":0}]]},"Transforma resumo em objeto literal":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI - Gerar resumo das mensagens","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"AI - Atualizar resumo","type":"ai_languageModel","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"AI - Atualizar resumo","type":"ai_outputParser","index":0}]]},"AI - Atualizar resumo":{"main":[[{"node":"Salva resumo em cache","type":"main","index":0}]]},"Busca resumo no cache":{"main":[[{"node":"Se tiver resumo","type":"main","index":0}]]},"Se tiver resumo":{"main":[[{"node":"Transforma resumo em objeto literal","type":"main","index":0}],[{"node":"AI - Gerar resumo das mensagens","type":"main","index":0}]]},"Cria cache key":{"main":[[{"node":"Busca resumo no cache","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.apresenta.me","x-real-ip":"172.68.191.167","x-real-port":"19878","x-forwarded-for":"186.227.138.107, 172.68.191.167","x-forwarded-proto":"http","x-forwarded-host":"n8n.apresenta.me","x-forwarded-port":"80","remote-host":"172.68.191.167","connection":"close","content-length":"30549","accept":"application/json, text/plain, */*","accept-encoding":"gzip, br","user-agent":"axios/1.12.2","cf-ray":"9994cbdc5fe4167d-NVT","content-type":"application/json","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"186.227.138.107","cf-ipcountry":"BR","cf-visitor":"{\"scheme\":\"https\"}"},"params":{},"query":{},"body":{"message":"Boa tarde cuzao","messageId":"2920345","contact":{"id":"34529","name":"554788950332","number":"554788950332","profilePicUrl":null,"createdAt":"2025-08-26T13:37:58.507-03:00","updatedAt":"2025-11-04T11:28:04.273-03:00","email":"","isGroup":false,"companyId":"10","whatsappId":"5","onlyResponsible":false,"userId":"1","aprePersonId":null,"apreDealId":null,"meta":{"ignoreCheck":true,"ignorePermission":true,"dontSendSocket":false}},"whatsappId":"5","companyId":10,"lastMessages":"[{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nPara conseguir suporte adequado, a imobiliária pode entrar em contato com a equipe responsável pelas contas e imóveis. O corretor responsável é um ponto de contato fundamental para esclarecer essas dúvidas. Se ainda houver dificuldades, é aconselhável que o cliente tenha acesso a um profissional da equipe de suporte especializado. \\n\\nCaso seja necessário, também é possível registrar solicitações de ajuda diretamente na plataforma, usando a funcionalidade de suporte disponível. Se for necessário um atendimento mais direto, o setor responsável pode cuidar disso.\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-03T14:36:29.000-03:00\",\"updatedAt\":\"2025-11-03T14:36:32.520-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB0E64116A9767FFD046EC9C704D38A618EE733\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nPara conseguir suporte adequado, a imobiliária pode entrar em contato com a equipe responsável pelas contas e imóveis. O corretor responsável é um ponto de contato fundamental para esclarecer essas dúvidas. Se ainda houver dificuldades, é aconselhável que o cliente tenha acesso a um profissional da equipe de suporte especializado. \\n\\nCaso seja necessário, também é possível registrar solicitações de ajuda diretamente na plataforma, usando a funcionalidade de suporte disponível. Se for necessário um atendimento mais direto, o setor responsável pode cuidar disso.\"},\"pushName\":\"Você\",\"instanceId\":\"428e2fa4-588d-49f6-9af6-b601a6ce9ff5\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1762191389},\"id\":\"2920212\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"\",\"messageType\":\"audio\",\"createdAt\":\"2025-11-03T14:37:17.000-03:00\",\"updatedAt\":\"2025-11-03T14:37:28.920-03:00\",\"dataJson\":{\"key\":{\"id\":\"3A4491D16E6FAA7546D3\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"audioMessage\":{\"ptt\":true,\"url\":\"https://mmg.whatsapp.net/v/t62.7117-24/537803820_3171351849700998_2576310288765235554_n.enc?ccb=11-4&oh=01_Q5Aa2wEVs-ncpQ_dQUXotFSSN15T4pJzgn7Jy8bMYh8wjAD9hg&oe=69306813&_nc_sid=5e03e0&mms3=true\",\"seconds\":7,\"mediaKey\":\"whgm/c26pxWG6brnJSKZq0oJ+bc0D4hNt8iFMXN5Q7E=\",\"mimetype\":\"audio/ogg; codecs=opus\",\"waveform\":\"AAABAQIECA4JBhxWYGRgVV9kZGRkWkUtHhMODA0RGRMuZGRkXlAyHhILCAcIGEZkZGRkZGRILhoRDAkIBgcICA==\",\"directPath\":\"/v/t62.7117-24/537803820_3171351849700998_2576310288765235554_n.enc?ccb=11-4&oh=01_Q5Aa2wEVs-ncpQ_dQUXotFSSN15T4pJzgn7Jy8bMYh8wjAD9hg&oe=69306813&_nc_sid=5e03e0\",\"fileLength\":\"15546\",\"fileSha256\":\"XzMAg7lPR4cNZv/7LCe7zk15Ba9KzwxkBX13Wx3wFMY=\",\"fileEncSha256\":\"ngYmw6PDuStHZuKitgxgFcTngeJLonE8q5d15ld5gwQ=\",\"streamingSidecar\":\"aUulVK7V2Jxf/w==\",\"mediaKeyTimestamp\":\"1762191428\"},\"messageContextInfo\":{\"messageSecret\":\"c2O6p8cyqxiG5YEYC8APu1OnW5yo18lagxobPDERD90=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"6jdx2tN8DcufPw==\",\"recipientTimestamp\":\"1762177291\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"428e2fa4-588d-49f6-9af6-b601a6ce9ff5\",\"contextInfo\":null,\"messageType\":\"audioMessage\",\"messageTimestamp\":1762191437},\"id\":\"2920213\",\"mediaPath\":\"3A4491D16E6FAA7546D3.mpga\",\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":\"Usuário enviou um áudio com a seguinte transcrição: `Não, porra, mas tu tá viajando. Que que tu é? Tu trabalha pra quem?`\\n\\n\",\"file\":{\"id\":\"248650\",\"companyId\":\"10\",\"moduleType\":\"Message\",\"moduleId\":\"2920213\",\"collection\":\"file\",\"bucket\":\"ticket/110928/\",\"name\":\"a807d7a5-b02c-4adb-8105-dbb9e751d177.mp3\",\"fileName\":\"3A4491D16E6FAA7546D3\",\"version\":null,\"extension\":\"mpga\",\"mimeType\":\"audio/mpeg\",\"size\":\"171198\",\"createdAt\":\"2025-11-03T14:37:19.674-03:00\",\"updatedAt\":\"2025-11-03T14:37:19.674-03:00\",\"meta\":{}},\"mediaUrl\":\"https://grqgzepwdxag.compat.objectstorage.sa-saopaulo-1.oraclecloud.com/files.apre.chat/000010/ticket/110928/3A4491D16E6FAA7546D3.mpga\",\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nEntendo que a situação possa ser frustrante, *554788950332*. O agente responsável está aqui para esclarecer informações e garantir o suporte necessário.\\n\\nA Apresenta.me prioriza um atendimento adequado para cada cliente e pode ajudar no que for preciso. Para melhor entendimento e resolução das dúvidas sobre o AppBank e os serviços oferecidos, é possível consultar a equipe responsável, que pode fornecer informações detalhadas sobre como seu sistema funciona e a quem cada agente atende.\\n\\nSe precisar de mais orientações específicas, por favor, informe!\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-03T14:37:41.000-03:00\",\"updatedAt\":\"2025-11-03T14:37:44.701-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB065B964258697317C476D79160276DC6DB386\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nEntendo que a situação possa ser frustrante, *554788950332*. O agente responsável está aqui para esclarecer informações e garantir o suporte necessário.\\n\\nA Apresenta.me prioriza um atendimento adequado para cada cliente e pode ajudar no que for preciso. Para melhor entendimento e resolução das dúvidas sobre o AppBank e os serviços oferecidos, é possível consultar a equipe responsável, que pode fornecer informações detalhadas sobre como seu sistema funciona e a quem cada agente atende.\\n\\nSe precisar de mais orientações específicas, por favor, informe!\"},\"pushName\":\"Você\",\"instanceId\":\"428e2fa4-588d-49f6-9af6-b601a6ce9ff5\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1762191461},\"id\":\"2920214\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nA frustração expressa parece se referir à falta de clareza sobre o App Bank e o que ele oferece. \\n\\nPara esclarecer, o **ApBank** é o banco digital integrado da Apresenta.me, que automatiza a gestão financeira da imobiliária, com funcionalidades como emissão automática de cobranças, repasses automáticos a proprietários e um sistema de pagamento simplificado. É uma ferramenta essencial para facilitar e agilizar os processos financeiros. \\n\\nCaso haja mais dúvidas ou necessidade de informações específicas, o time de atendimento está à disposição para auxiliar.\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-03T17:24:43.000-03:00\",\"updatedAt\":\"2025-11-03T17:24:48.826-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB0CA286B671399B8BDFDFB9E1D687DA0FFC689\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nA frustração expressa parece se referir à falta de clareza sobre o App Bank e o que ele oferece. \\n\\nPara esclarecer, o **ApBank** é o banco digital integrado da Apresenta.me, que automatiza a gestão financeira da imobiliária, com funcionalidades como emissão automática de cobranças, repasses automáticos a proprietários e um sistema de pagamento simplificado. É uma ferramenta essencial para facilitar e agilizar os processos financeiros. \\n\\nCaso haja mais dúvidas ou necessidade de informações específicas, o time de atendimento está à disposição para auxiliar.\"},\"pushName\":\"Você\",\"instanceId\":\"428e2fa4-588d-49f6-9af6-b601a6ce9ff5\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1762201483},\"id\":\"2920302\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"Entendi. como funciona remessa e retorno?\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-03T17:28:56.000-03:00\",\"updatedAt\":\"2025-11-03T17:28:57.549-03:00\",\"dataJson\":{\"key\":{\"id\":\"3AA5B2CFE0B7CF1BCB6B\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"conversation\":\"Entendi. como funciona remessa e retorno?\",\"messageContextInfo\":{\"messageSecret\":\"dovYo360BlTgdXZBv7yOAAvmoc4SFzzcIpLXEkvufmE=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"6jdx2tN8DcufPw==\",\"recipientTimestamp\":\"1762177291\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"428e2fa4-588d-49f6-9af6-b601a6ce9ff5\",\"messageType\":\"conversation\",\"messageTimestamp\":1762201736},\"id\":\"2920303\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"Entendi. como funciona remessa e retorno?\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-03T17:30:25.000-03:00\",\"updatedAt\":\"2025-11-03T17:30:26.400-03:00\",\"dataJson\":{\"key\":{\"id\":\"3A5883B51BF33775D561\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"conversation\":\"Entendi. como funciona remessa e retorno?\",\"messageContextInfo\":{\"messageSecret\":\"UJJ65ZDF9Jb6WevtofGd99WKH/KTMFH6R+zWQvSwdlA=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"6jdx2tN8DcufPw==\",\"recipientTimestamp\":\"1762177291\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"428e2fa4-588d-49f6-9af6-b601a6ce9ff5\",\"messageType\":\"conversation\",\"messageTimestamp\":1762201825},\"id\":\"2920304\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nO processo de **remessa e retorno** na Apresenta.me é dividido em duas opções principais:\\n\\n### 1. Integração Automática (ApBank)\\n- **Remessas**: Criação e registro de cobranças são automáticos, com envio via WhatsApp e e-mail.\\n- **Baixas**: Pagamentos de boletos são processados automaticamente, com baixa no mesmo dia se pagos até 13h.\\n- **Vantagens**: Redução de erros e trabalho manual, além de maior eficiência operacional.\\n\\n### 2. Integração Manual\\n- **Remessas**: Exige rotina de criação de arquivos (.REM) e interação contínua com o banco.\\n- **Baixas**: Necessita confirmação manual via arquivos de retorno (.RET).\\n- **Custos Fixos**: R$ 100/mês por banco escolhido, porém com maior carga operacional e chance de erro humano.\\n\\nAmbos os métodos têm seu papel, dependendo da preferência da imobiliária por automação ou por manter um banco tradicional.\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-03T17:30:42.000-03:00\",\"updatedAt\":\"2025-11-03T17:30:45.620-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB064515F4AA3CF9A1B4672F61E198A0BB8412E\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nO processo de **remessa e retorno** na Apresenta.me é dividido em duas opções principais:\\n\\n### 1. Integração Automática (ApBank)\\n- **Remessas**: Criação e registro de cobranças são automáticos, com envio via WhatsApp e e-mail.\\n- **Baixas**: Pagamentos de boletos são processados automaticamente, com baixa no mesmo dia se pagos até 13h.\\n- **Vantagens**: Redução de erros e trabalho manual, além de maior eficiência operacional.\\n\\n### 2. Integração Manual\\n- **Remessas**: Exige rotina de criação de arquivos (.REM) e interação contínua com o banco.\\n- **Baixas**: Necessita confirmação manual via arquivos de retorno (.RET).\\n- **Custos Fixos**: R$ 100/mês por banco escolhido, porém com maior carga operacional e chance de erro humano.\\n\\nAmbos os métodos têm seu papel, dependendo da preferência da imobiliária por automação ou por manter um banco tradicional.\"},\"pushName\":\"Você\",\"instanceId\":\"428e2fa4-588d-49f6-9af6-b601a6ce9ff5\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1762201842},\"id\":\"2920305\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"e cadastrar usuário como\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-03T17:32:47.000-03:00\",\"updatedAt\":\"2025-11-03T17:32:49.064-03:00\",\"dataJson\":{\"key\":{\"id\":\"3A832A8E6A0E2D9F8568\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"conversation\":\"e cadastrar usuário como\",\"messageContextInfo\":{\"messageSecret\":\"8cQtqTjEDDZU76dUM5b/tlyGAPYMhi92D0Yo5qApDkg=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"6jdx2tN8DcufPw==\",\"recipientTimestamp\":\"1762177291\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"428e2fa4-588d-49f6-9af6-b601a6ce9ff5\",\"messageType\":\"conversation\",\"messageTimestamp\":1762201967},\"id\":\"2920306\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nPara cadastrar um usuário no sistema Apresenta.me, siga os passos abaixo:\\n\\n1. Acesse o menu lateral: **Administrador > Usuários > Usuários**.\\n2. Clique em **Cadastrar** na tela que mostrará todos os usuários.\\n3. Preencha os campos obrigatórios (marcados com *):\\n   - **Nome:** Nome do usuário.\\n   - **E-mail:** Para recuperação de senha e exportação de dados.\\n   - **Telefone:** Com DDD.\\n   - **Usuário (login):** Nome para acesso ao sistema.\\n   - **Senha:** Senha de acesso.\\n\\nAlém disso, é possível definir permissões, vincular a uma equipe e configurar alertas. Se houver dúvidas específicas ou mais detalhes sobre o processo, estou à disposição para ajudar!\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-03T17:33:03.000-03:00\",\"updatedAt\":\"2025-11-03T17:33:05.228-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB0EA8480612ED557094975C8039EB7BF51C05D\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nPara cadastrar um usuário no sistema Apresenta.me, siga os passos abaixo:\\n\\n1. Acesse o menu lateral: **Administrador > Usuários > Usuários**.\\n2. Clique em **Cadastrar** na tela que mostrará todos os usuários.\\n3. Preencha os campos obrigatórios (marcados com *):\\n   - **Nome:** Nome do usuário.\\n   - **E-mail:** Para recuperação de senha e exportação de dados.\\n   - **Telefone:** Com DDD.\\n   - **Usuário (login):** Nome para acesso ao sistema.\\n   - **Senha:** Senha de acesso.\\n\\nAlém disso, é possível definir permissões, vincular a uma equipe e configurar alertas. Se houver dúvidas específicas ou mais detalhes sobre o processo, estou à disposição para ajudar!\"},\"pushName\":\"Você\",\"instanceId\":\"428e2fa4-588d-49f6-9af6-b601a6ce9ff5\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1762201983},\"id\":\"2920307\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"e imóveis?\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-03T17:37:15.000-03:00\",\"updatedAt\":\"2025-11-03T17:37:17.340-03:00\",\"dataJson\":{\"key\":{\"id\":\"3A4F0621F52A81ED1077\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"conversation\":\"e imóveis?\",\"messageContextInfo\":{\"messageSecret\":\"0A7gB4+395GSMB+gyAxKFRO1k0z7NZNrk42FHsBBvis=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"6jdx2tN8DcufPw==\",\"recipientTimestamp\":\"1762177291\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"428e2fa4-588d-49f6-9af6-b601a6ce9ff5\",\"messageType\":\"conversation\",\"messageTimestamp\":1762202235},\"id\":\"2920308\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nOs imóveis no sistema da Apresenta.me possuem diversas configurações e informações importantes:\\n\\n1. **Configurações Básicas**: É possível adicionar campos obrigatórios, definir status padrão e restringir a exibição em redes sociais.\\n2. **Detalhes do Imóvel**: Informações como tipo (Residencial, Comercial, etc.), estágio (ex.: Lançamento), e características como quantidade de dormitórios, banheiros, e vagas de garagem são registradas.\\n3. **Compartilhamento**: É possível personalizar mensagens automáticas que serão enviadas aos clientes ao compartilhar imóveis.\\n4. **Mapas e Filtros**: O sistema permite visualizar imóveis em um mapa e aplicar filtros para encontrar opções compatíveis.\\n\\nCaso precise de mais detalhes específicos ou tenha alguma dúvida, estou à disposição para ajudar!\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-03T17:37:31.000-03:00\",\"updatedAt\":\"2025-11-03T17:37:32.848-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB052E1891A5689A60495236E943056E49A74C4\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nOs imóveis no sistema da Apresenta.me possuem diversas configurações e informações importantes:\\n\\n1. **Configurações Básicas**: É possível adicionar campos obrigatórios, definir status padrão e restringir a exibição em redes sociais.\\n2. **Detalhes do Imóvel**: Informações como tipo (Residencial, Comercial, etc.), estágio (ex.: Lançamento), e características como quantidade de dormitórios, banheiros, e vagas de garagem são registradas.\\n3. **Compartilhamento**: É possível personalizar mensagens automáticas que serão enviadas aos clientes ao compartilhar imóveis.\\n4. **Mapas e Filtros**: O sistema permite visualizar imóveis em um mapa e aplicar filtros para encontrar opções compatíveis.\\n\\nCaso precise de mais detalhes específicos ou tenha alguma dúvida, estou à disposição para ajudar!\"},\"pushName\":\"Você\",\"instanceId\":\"428e2fa4-588d-49f6-9af6-b601a6ce9ff5\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1762202251},\"id\":\"2920309\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"e imóveis?\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-03T17:44:18.000-03:00\",\"updatedAt\":\"2025-11-03T17:44:22.162-03:00\",\"dataJson\":{\"key\":{\"id\":\"3AFB922C454F541DB9B1\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"conversation\":\"e imóveis?\",\"messageContextInfo\":{\"messageSecret\":\"yXd/ZeccLS8Fm2fxv1/kP4ZCvN0/eYGwosGri1Jkb30=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"6jdx2tN8DcufPw==\",\"recipientTimestamp\":\"1762177291\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"428e2fa4-588d-49f6-9af6-b601a6ce9ff5\",\"messageType\":\"conversation\",\"messageTimestamp\":1762202658},\"id\":\"2920310\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nAs informações sobre imóveis no sistema Apresenta.me incluem:\\n\\n1. **Cadastro de Imóveis**: Personalize textos automáticos enviados aos clientes ao compartilhar imóveis e defina informações como referência, título, finalidade (locação, venda, temporada) e classificação (residencial, comercial, etc.). \\n\\n2. **Levantamento de Informações**: Cadastre detalhes como número de dormitórios, suítes, banheiros, salas e vagas de garagem. \\n\\n3. **Configurações e Aprovações**: É possível adicionar campos obrigatórios, definir status padrão, bloquear a exibição de imóveis em redes e permitir acesso a proprietários para aprovação.\\n\\nEsses aspectos garantem agilidade na comunicação e maior credibilidade junto aos clientes. Para mais detalhes sobre configurações específicas ou processos, consulte a documentação do sistema.\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-03T17:44:35.000-03:00\",\"updatedAt\":\"2025-11-03T17:44:37.516-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB01B95DF1D39D124094E196C0DCFBDC1F0F7E0\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nAs informações sobre imóveis no sistema Apresenta.me incluem:\\n\\n1. **Cadastro de Imóveis**: Personalize textos automáticos enviados aos clientes ao compartilhar imóveis e defina informações como referência, título, finalidade (locação, venda, temporada) e classificação (residencial, comercial, etc.). \\n\\n2. **Levantamento de Informações**: Cadastre detalhes como número de dormitórios, suítes, banheiros, salas e vagas de garagem. \\n\\n3. **Configurações e Aprovações**: É possível adicionar campos obrigatórios, definir status padrão, bloquear a exibição de imóveis em redes e permitir acesso a proprietários para aprovação.\\n\\nEsses aspectos garantem agilidade na comunicação e maior credibilidade junto aos clientes. Para mais detalhes sobre configurações específicas ou processos, consulte a documentação do sistema.\"},\"pushName\":\"Você\",\"instanceId\":\"428e2fa4-588d-49f6-9af6-b601a6ce9ff5\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1762202675},\"id\":\"2920311\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"Muito bom dia!\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-04T09:20:34.000-03:00\",\"updatedAt\":\"2025-11-04T09:20:36.370-03:00\",\"dataJson\":{\"key\":{\"id\":\"3AD9C91E2E5553483748\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"conversation\":\"Muito bom dia!\",\"messageContextInfo\":{\"messageSecret\":\"DsC2/LnBHvV7l+yTGHALdWtDW0VhrYPh1xAApZYO8Pc=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"vCIR7h6He5OhWg==\",\"recipientTimestamp\":\"1762258775\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"4ae49170-54c1-4f97-b4f5-ddbb91d46dcb\",\"messageType\":\"conversation\",\"messageTimestamp\":1762258834},\"id\":\"2920334\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"bom dia porra!\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-04T09:23:14.000-03:00\",\"updatedAt\":\"2025-11-04T09:23:16.422-03:00\",\"dataJson\":{\"key\":{\"id\":\"3A0B33F6B0C153AAFFBD\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"conversation\":\"bom dia porra!\",\"messageContextInfo\":{\"messageSecret\":\"jpuR+KHCUU0GPT+EICl954JCgzEMiWSyjm8144p+9cg=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"vCIR7h6He5OhWg==\",\"recipientTimestamp\":\"1762258775\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"4ae49170-54c1-4f97-b4f5-ddbb91d46dcb\",\"messageType\":\"conversation\",\"messageTimestamp\":1762258994},\"id\":\"2920335\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nBom dia! Como posso ajudar hoje?\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-04T09:23:26.000-03:00\",\"updatedAt\":\"2025-11-04T09:23:31.287-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB0D79D42FFC350C68E7D4C6F8F6D4372D37B11\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nBom dia! Como posso ajudar hoje?\"},\"pushName\":\"Você\",\"instanceId\":\"4ae49170-54c1-4f97-b4f5-ddbb91d46dcb\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1762259006},\"id\":\"2920336\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"estou apaixonado\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-04T09:23:46.000-03:00\",\"updatedAt\":\"2025-11-04T09:23:47.472-03:00\",\"dataJson\":{\"key\":{\"id\":\"3A3493FEF863A4F210C8\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"conversation\":\"estou apaixonado\",\"messageContextInfo\":{\"messageSecret\":\"5q+ow9+sIKLYhQ29zIZSE16oIhrt/64mue5Lvr9mQsE=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"vCIR7h6He5OhWg==\",\"recipientTimestamp\":\"1762258775\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"4ae49170-54c1-4f97-b4f5-ddbb91d46dcb\",\"messageType\":\"conversation\",\"messageTimestamp\":1762259026},\"id\":\"2920337\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nQue bom ouvir isso! A paixão traz muitos sentimentos positivos. Se houver algo específico sobre a situação em que precisar de ajuda ou orientação, sinta-se à vontade para compartilhar!\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-04T09:23:56.000-03:00\",\"updatedAt\":\"2025-11-04T09:23:58.799-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB01DE5165FF7B44172E6452E548F3FAADD5C58\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nQue bom ouvir isso! A paixão traz muitos sentimentos positivos. Se houver algo específico sobre a situação em que precisar de ajuda ou orientação, sinta-se à vontade para compartilhar!\"},\"pushName\":\"Você\",\"instanceId\":\"4ae49170-54c1-4f97-b4f5-ddbb91d46dcb\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1762259036},\"id\":\"2920338\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"Muito boa tardi!\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-04T11:24:19.000-03:00\",\"updatedAt\":\"2025-11-04T11:24:23.472-03:00\",\"dataJson\":{\"key\":{\"id\":\"3A85827772BD29B1DD18\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"conversation\":\"Muito boa tardi!\",\"messageContextInfo\":{\"messageSecret\":\"4WqneAi6lsW6Du/RU+WHM9yQwbDk06LVOEkYgAD0xG8=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"z1rnOoVuLl2N9A==\",\"recipientTimestamp\":\"1762262687\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"4ae49170-54c1-4f97-b4f5-ddbb91d46dcb\",\"messageType\":\"conversation\",\"messageTimestamp\":1762266259},\"id\":\"2920343\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nOlá! Como posso ajudar hoje?\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-04T11:24:31.000-03:00\",\"updatedAt\":\"2025-11-04T11:24:36.349-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB0CDA37F983B33E09D596D04EBFBCF78FCD245\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nOlá! Como posso ajudar hoje?\"},\"pushName\":\"Você\",\"instanceId\":\"4ae49170-54c1-4f97-b4f5-ddbb91d46dcb\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1762266271},\"id\":\"2920344\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}}]","tiketId":110928},"webhookUrl":"https://n8n.apresenta.me/webhook/67c7d548-f722-4bed-ad82-72e6f747b960","executionMode":"production"}}]},"versionId":"4b532693-991a-40f4-bb17-3eb8a1ae778f","triggerCount":1,"shared":[{"createdAt":"2025-11-04T14:21:24.963Z","updatedAt":"2025-11-04T14:21:24.963Z","role":"workflow:owner","workflowId":"KviqRrSTv4bRuxZW","projectId":"4ToGMYJEWvvDSbcz"}],"tags":[]}