04-10-2025 12:00/workflows/formata-e-envia-no-email-Zpd9zpcn1N9boPbs.json
{"createdAt":"2025-08-16T14:11:08.315Z","updatedAt":"2025-08-16T14:26:47.000Z","id":"Zpd9zpcn1N9boPbs","name":"Formata e envia no Email","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-920,460],"id":"93325d04-1ed5-4299-a4f1-0efabb76f089","name":"When clicking ‘Execute workflow’"},{"parameters":{"fromEmail":"n8n <n8n@apresenta.me>","toEmail":"maicon@apresenta.me","subject":"teste","html":"={{ $json.message.content }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[400,660],"id":"e6c72c00-cdf7-4396-a7b7-ac97b6e74e56","name":"Send email","webhookId":"c9c2cee7-4bb7-44e7-8994-2e188f62d540","disabled":true},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=VOCÊ É UM ASSISTENTE ESPECIALISTA EM FORMATAÇÃO DE RELATÓRIOS DE CALL DE VENDAS PARA APLICAÇÕES IMOBILIÁRIAS, COM FOCO EM E-MAILS PROFISSIONAIS OTIMIZADOS PARA O GMAIL, REPRESENTANDO O TIME DA APRESENTA.ME. SUA MISSÃO É ANALISAR UM RELATÓRIO DE CALL E TRANSFORMÁ-LO EM UM E-MAIL BEM ESTRUTURADO, ELEGANTE, VISUALMENTE ATRAENTE E FACILMENTE LEGÍVEL EM QUALQUER DISPOSITIVO.\n\n## INSTRUÇÕES PRINCIPAIS\n\n- NUNCA ALTERE OU RESUMA O CONTEÚDO DA ANÁLISE DA CALL.\n- FORMATE O RELATÓRIO COMO UM E-MAIL PROFISSIONAL, PRONTO PARA ENVIO PELO GMAIL.\n- UTILIZE **HTML INLINE** PARA FORMATAR (CORES, TABELAS, CAIXAS DESTACADAS), COMPATÍVEL COM O GMAIL.\n- ESTRUTURE EM SEÇÕES CLARAS, UTILIZANDO TÍTULOS E SUBTÍTULOS EM NEGRITO.\n- UTILIZE NEGRITO PARA TÍTULOS E INFORMAÇÕES IMPORTANTES.\n- USE ITÁLICO APENAS PARA ÊNFASES PONTUAIS OU NA ASSINATURA.\n- ADICIONE EMOJIS DE FORMA MODERADA PARA SINALIZAR AÇÕES, STATUS E DESTAQUES (ex: ✅, 🎯, 🔗).\n- CRIE **BOXES COM FUNDO COLORIDOS** PARA DESTACAR AS SEÇÕES MAIS IMPORTANTES DA ANÁLISE.\n- USE LISTAS (COMUNS, NUMERADAS OU COM EMOJIS) PARA ORGANIZAR INFORMAÇÕES.\n- APRESENTE LINKS APENAS COMO HIPERLINKS CLICÁVEIS, ANTEPONDO O EMOJI 🔗.\n- NÃO INCLUA QUALQUER INTRODUÇÃO OU CONTEXTO ADICIONAL ANTES DO RELATÓRIO.\n- FINALIZE COM ASSINATURA PROFISSIONAL: _Relatório pela <b>Sofia</b>, assistente da Apresenta.me_  \n- REVISE ORTOGRAFIA, GRAMÁTICA E LEGIBILIDADE EM DESKTOP E MOBILE.\n\n## CADEIA DE RACIOCÍNIO (“CHAIN OF THOUGHTS”)\n\n- ENTENDA o objetivo: transformar a análise da call em um e-mail formatado.\n- IDENTIFIQUE todas as seções do relatório e seus conteúdos.\n- SEPARE as informações em blocos organizados com títulos claros e em negrito.\n- DESTAQUE informações cruciais utilizando boxes com fundos coloridos e emojis pertinentes.\n- INSIRA links como hiperlinks clicáveis precedidos por 🔗, sem mostrar URLs completas.        \n- GARANTA a compatibilidade visual no Gmail e em dispositivos móveis.\n- FINALIZE com assinatura padrão e faça revisão de ortografia e gramática.\n- NUNCA ADICIONE, MODIFIQUE OU OMITA INFORMAÇÕES DA ANÁLISE ORIGINAL.\n\n## O QUE NÃO FAZER (NEGATIVE PROMPT)\n\n- **NUNCA MODIFIQUE OU RESUMA O CONTEÚDO DA ANÁLISE DA CALL.**\n- **NÃO INSIRA COMENTÁRIOS, OPINIÕES OU INTERPRETAÇÕES PRÓPRIAS.**\n- **NÃO INCLUA INTRODUÇÃO OU CONTEXTO FORA DO RELATÓRIO ENVIADO.**\n- **NÃO DEIXE LINKS SEM SEREM CLICÁVEIS OU SEM O EMOJI 🔗.**\n- **NÃO USE CORES EXCESSIVAS OU ELEMENTOS VISUAIS QUE PREJUDIQUEM A LEITURA.**\n- **NÃO OMITA A ASSINATURA PADRÃO COM O NOME E E-MAIL DA SOFIA.**\n- **NÃO UTILIZE SUBLINHADO, EXCETO PARA LINKS.**\n- **NÃO COMETA ERROS DE ORTOGRAFIA OU GRAMÁTICA.**\n- **NÃO QUEBRE A ESTRUTURA EM SEÇÕES OU PULE TÍTULOS IMPORTANTES.**\n- **NUNCA FORMATE EM OUTRO PADRÃO QUE NÃO SEJA HTML INLINE COMPATÍVEL COM O GMAIL.**\n\n## EXEMPLO DE ENTRADA E SAÍDA\n\n### Entrada (apenas exemplo, NÃO reescreva, apenas formate):\n\n{{ $json.email }}\n\n### Saída esperada (estrutura):\n\n<html>\n<body style=\"font-family: Arial, sans-serif; line-height: 1.6; color: #333;\">\n    <div style=\"text-align: left; margin: 20px 0 50px 0;\">\n        <img src=\"https://s.apresenta.me/comercial/automations/apresentame-300.png\" alt=\"Apresenta.me ~ O Futuro das Imobiliárias\" width=\"300\" style=\"display: inline-block;\">\n    </div>\n    \n    <h2 style=\"color: #1a73e8;\">📊 Análise da reunião de Vendas | Apresenta.me | NOME DO LEAD ~ ASSUNTO DA CALL</h2>\n\n    <!-- Estrutura de seções idêntica à do relatório original, formatada conforme acima -->\n\n    <!-- Caixas coloridas, listas, links e tabelas conforme o exemplo de formatação -->\n\n    <p style=\"font-style: italic; margin-top: 30px; border-top: 1px solid #ddd; padding-top: 10px;\">Relatório pela <b>Sofia</b>, assistente da Apresenta.me</p>\n</body>\n</html>\n\n\n## ESTRATÉGIA DE OTIMIZAÇÃO\n\n- A SAÍDA DEVE SER APENAS O HTML FINAL,SEM QUALQUER TAG DE CODE BLOCK, SEM ```html OU QUALQUER OUTRO TEXTO ANTES OU DEPOIS.\n- SIGA RIGOROSAMENTE A FORMATAÇÃO E AS REGRAS ACIMA PARA TODA ANÁLISE RECEBIDA.\n- ADAPTE O VOLUME DE EMOJIS, BOXES E TABELAS À QUANTIDADE DE INFORMAÇÃO E TIPO DE CONTEÚDO.\n- MANTENHA O RELATÓRIO 100% FIEL AO TEXTO ORIGINAL, SEM ADIÇÕES OU INTERPRETAÇÕES.\n- OTIMIZE O VISUAL PARA LEITURA EM DESKTOP E MOBILE."}]},"options":{"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[40,660],"id":"2daa7191-07a0-450c-94a2-564a7ea0501f","name":"Message a model","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"aadeddc4-166d-4ebf-a37c-d60d0a20ef56","name":"email","value":"# Relatório de Call de Vendas - Apresenta.me  ## Detalhes - Nome do Vendedor: Eduardo Hoegen - Data agendada: 17/07/2025 - 17:00 (UTC-3) - Horário agendado: 17:00 (UTC-3) - Nome do Lead: Satie Omura - Id do Lead: https://crm.apresenta.me/crm/lead/details/42655/ - Link da Gravação: https://app.fireflies.ai/view/01K07TW5W38NV9DYQYJBM2H1SM  ## 1. ANÁLISE DE TEMPO DA CALL  👋 **Apresentação**: 2m 🟢   - O vendedor se apresentou brevemente, explicou que a reunião seria gravada e contextualizou o objetivo de mostrar o sistema. Roteiro seguido de forma adequada.  🔍 **Dores + Plataforma**: 37m 🟠   - Identificou as principais dores (dificuldades na gestão de imóveis e atendimentos, falta de organização no CRM, problemas com o site atual). Demonstrou extensivamente as funcionalidades da plataforma, talvez com excesso de detalhes técnicos.  💼 **Cases + Planos**: 23m 🟢   - Apresentou os planos de forma clara, utilizou a calculadora, contornou objeções sobre custos e funcionalidades. Alinhamento de próximos passos bem definido.  ## 2. RESUMO DOS PLANOS APRESENTADOS  **Plano Basic Fit Mob (Inicial):** - R$ 538,74/mês - 2 usuários, 500 imóveis, 50 contratos de locação - Mais restritivo: multa de 100% em caso de cancelamento nos primeiros 12 meses  **Plano Basic Mob (Recomendado):** - R$ 608,74/mês - 2 usuários, 500 imóveis, 50 contratos de locação - 2 e-mails profissionais - Multa de 50% em caso de cancelamento nos primeiros 12 meses - Inclui módulo financeiro completo, CRM, site profissional  **Adesão:** 3x de R$ 1.099,99  **Adicionais mencionados:** - Vistoria: R$ 50/mês para 30 vistorias - Assinatura digital: R$ 25/mês para 10 documentos - Envio WhatsApp: R$ 37,50/mês para 50 envios automáticos - Nota fiscal: custo adicional mediante integração com prefeitura  ## 3. CONTEXTO DO LEAD  **Satie Omura - Satie Imobiliária** - Contadora aposentada, proprietária de imobiliária - Cidade de 15 mil habitantes - Carteira atual: ~45 aluguéis ativos (reduzindo de 60) - ~150 imóveis cadastrados (100 venda + 50 locação) - Equipe atual: ela + 1 funcionária não-corretora (saindo) - Contratando 1 corretor para trabalhar junto - Foco em migrar para vendas e avaliações - Atende região, oeste e litoral - Projetos futuros no litoral, possível venda do negócio local  **Principais Dores:** - Dificuldade na gestão de imóveis e atendimentos - Atendimento incompleto por falta de organização - Site atual \"péssimo\" - WhatsApp pessoal (não Business) - Falta de CRM eficiente - Dependência de planilhas Excel - Sistema atual de locação engessado  ## 4. RESUMO DO CALL  A call foi conduzida de forma consultiva pelo Eduardo, que identificou as principais dores da Satie relacionadas à gestão operacional e organizacional da imobiliária. A lead demonstrou conhecimento técnico (ex-contadora) e interesse genuíno pela solução.  Principais pontos discutidos: - Necessidade de organização do CRM e gestão de leads - Automação da gestão de locação com módulo financeiro - Importância do site profissional para captação - Integração com redes sociais e portais - Controle financeiro centralizado (substituindo planilhas) - Migração de dados do sistema atual - Processo de implantação e treinamento  A lead fez perguntas técnicas pertinentes sobre backup de dados, gestão de equipe, controle de vistorias e integração com sistemas externos, demonstrando maturidade na decisão.  ## 5. CHECKLIST DE MELHORES PRÁTICAS DO MODELO BANT  🟠 **Budget (Orçamento):** (Parcial) - A lead não mencionou orçamento específico, mas não demonstrou resistência aos valores apresentados. Sua postura foi analítica em relação ao custo-benefício.  🟢 **Authority (Autoridade):** (Sim) - Satie é claramente a proprietária e decisora da imobiliária. Eduardo confirmou isso implicitamente durante a conversa.  🟢 **Need (Necessidade):** (Sim) - As dores ficaram muito claras: problemas com gestão, site deficiente, falta de organização no CRM, dependência de planilhas Excel.  🟠 **Timeline (Prazo):** (Parcial) - Definiu prazo de análise para próximos dias, mas não estabeleceu data para implementação. Eduardo mencionou que proposta seria enviada no dia seguinte.  🟠 **Pergunta sobre retorno:** (Parcial) - Eduardo perguntou quando ela gostaria de dar retorno, mas não foi específico sobre data.  🟠 **Data de ativação:** (Parcial) - Discutiu-se o processo de implantação mas não data específica de início.  🟢 **Confirmação de entendimento:** (Sim) - Eduardo confirmou se ela havia entendido o sistema e se atendia às necessidades durante a apresentação.  ## 6. LEAD SCORING  ### Qualidade do Lead (ICP) **Alto**  A lead possui excelente fit com o ICP: operação estruturada com 45 aluguéis ativos, conhecimento técnico-financeiro (ex-contadora), visão de crescimento e necessidade real de automação. Demonstra capacidade de investimento e valoriza controle e organização.  **Lead Score: 82**  ### Qualidade da Call **Nota da Call: 8.0**  Eduardo conduziu a call de forma consultiva, identificou as dores corretamente e personalizou a apresentação. Pontos de melhoria: poderia ter sido mais direto em algumas funcionalidades e explorado melhor o timeline de implementação.  ### Probabilidade de Fechamento **Alta**  Fit elevado com ICP, necessidade real comprovada, ausência de objeções significativas e lead engajada com perguntas técnicas pertinentes. A postura analítica da lead indica processo de decisão maduro.  ## 7. AÇÕES RECOMENDADAS  📋 Enviar proposta detalhada conforme prometido, incluindo lista completa de funcionalidades incluídas 📞 Follow-up em 2-3 dias para esclarecer dúvidas sobre a proposta 🎯 Preparar material sobre migração de dados para tranquilizar sobre o processo 📈 Oferecer demonstração adicional focada no módulo financeiro (interesse específico da lead) 🤝 Alinhar cronograma de implantação caso haja aceite  ## 8. OBJEÇÕES E PONTOS FORTES DO PRODUTO  ### Principais Objeções: - Preocupação com migração de dados do sistema atual - Custo adicional de funcionalidades específicas (vistoria, assinatura digital) - Curva de aprendizado para \"geração 50+\" - Falta de pacotes avulsos para vistoria  ### Pontos Fortes Destacados: - Módulo financeiro completo (DRE, fluxo de caixa, gestão de contratos) - Automação da gestão de locação com APBank - CRM integrado com WhatsApp - Migração de dados facilitada - Site profissional com SEO - Suporte humano via WhatsApp - Inteligência artificial para descrição de imóveis  ## 9. RECOMENDAÇÕES PARA MELHORIA DO VENDEDOR  **Ser mais objetivo na demonstração:** Eduardo foi muito detalhista em algumas funcionalidades. Poderia focar nos pontos que mais interessam ao lead.  **Explorar melhor o timeline:** Deveria ter aprofundado mais sobre quando a lead pretende implementar e definido datas mais precisas.  **Confirmar situação financeira:** Mesmo com lead qualificado, poderia ter explorado mais sobre orçamento disponível e processo de aprovação.  ## 10. INSIGHTS VALIOSOS DO CALL  💡 **Perfil técnico diferenciado:** Lead com background contábil valoriza controle financeiro e relatórios gerenciais  📊 **Necessidade de consolidação:** Múltiplas ferramentas fragmentadas (planilhas, sistemas diferentes) criam ineficiência operacional  🌐 **Importância do site:** Site atual \"péssimo\" impacta diretamente na captação de leads  👥 **Desafio de gestão de equipe:** Dificuldade em encontrar corretores qualificados em cidades menores  🔄 **Visão de crescimento:** Projetos de expansão para outras regiões demonstram ambição de escala  ## 11. PRÓXIMOS PASSOS  ✅ **Definido:** Eduardo enviará proposta detalhada na manhã seguinte via WhatsApp 📋 **Proposta incluirá:** Lista completa de funcionalidades incluídas no plano escolhido 📞 **Follow-up:** Conversas via WhatsApp para esclarecer dúvidas ⏰ **Timeline:** Lead analisará proposta nos próximos dias 🚀 **Implementação:** Processo de implantação será discutido após aceite da proposta  ## 12. LISTA DE VERIFICAÇÃO DE MELHORES PRÁTICAS  🟢 **🤝 Se apresentar e apresentar sua empresa** (Sim) - Eduardo se apresentou como da Apresenta.me e explicou o objetivo da reunião logo no início.  🟠 **🔗 Construir relacionamento encontrando interesses ou pontos em comum** (Mais ou Menos) - Houve alguma construção de rapport, mas poderia ter sido mais aprofundada.  🟢 **🧐 Fazer perguntas abertas sobre as necessidades ou desafios do prospect** (Sim) - Eduardo fez várias perguntas sobre o processo atual, equipe, carteira e objetivos futuros.  🟢 **👂 Ouvir ativamente e reconhecer as respostas do prospect** (Sim) - Eduardo demonstrou escuta ativa, fazendo perguntas de follow-up e adaptando a apresentação às necessidades.  🟢 **🎯 Mencionar seu produto e como ele se relaciona com as necessidades deles** (Sim) - Conectou cada funcionalidade apresentada com as dores específicas da Satie.  🔴 **📚 Compartilhar uma história de sucesso ou estudo de caso relevante** (Não) - Não apresentou cases específicos ou histórias de sucesso de outros clientes.  🟠 **🛡️ Abordar quaisquer objeções ou preocupações potenciais** (Mais ou Menos) - Contornou algumas objeções sobre migração de dados e custos, mas poderia ter sido mais proativo.  🔴 **🏆 Oferecer uma opção de assinatura anual, destacando seus benefícios** (Não) - Não ofereceu plano anual nem mencionou possíveis benefícios.  🟢 **🤝 Pedir um compromisso ou próximos passos** (Sim) - Definiu envio da proposta detalhada e follow-up via WhatsApp.  🟢 **📝 Resumir a ligação e confirmar os itens de ação** (Sim) - Resumiu o plano escolhido e confirmou o envio da proposta no dia seguinte.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-700,460],"id":"2f7876fb-93ba-40ef-8060-deee1ec8c884","name":"Edit Fields"},{"parameters":{"promptType":"define","text":"=VOCÊ É UM ASSISTENTE ESPECIALISTA EM FORMATAÇÃO DE RELATÓRIOS DE CALL DE VENDAS PARA APLICAÇÕES IMOBILIÁRIAS, COM FOCO EM E-MAILS PROFISSIONAIS OTIMIZADOS PARA O GMAIL, REPRESENTANDO O TIME DA APRESENTA.ME. SUA MISSÃO É ANALISAR UM RELATÓRIO DE CALL E TRANSFORMÁ-LO EM UM E-MAIL BEM ESTRUTURADO, ELEGANTE, VISUALMENTE ATRAENTE E FACILMENTE LEGÍVEL EM QUALQUER DISPOSITIVO.\n\n## INSTRUÇÕES PRINCIPAIS\n\n- NUNCA ALTERE OU RESUMA O CONTEÚDO DA ANÁLISE DA CALL.\n- FORMATE O RELATÓRIO COMO UM E-MAIL PROFISSIONAL, PRONTO PARA ENVIO PELO GMAIL.\n- UTILIZE **HTML INLINE** PARA FORMATAR (CORES, TABELAS, CAIXAS DESTACADAS), COMPATÍVEL COM O GMAIL.\n- ESTRUTURE EM SEÇÕES CLARAS, UTILIZANDO TÍTULOS E SUBTÍTULOS EM NEGRITO.\n- UTILIZE NEGRITO PARA TÍTULOS E INFORMAÇÕES IMPORTANTES.\n- USE ITÁLICO APENAS PARA ÊNFASES PONTUAIS OU NA ASSINATURA.\n- ADICIONE EMOJIS DE FORMA MODERADA PARA SINALIZAR AÇÕES, STATUS E DESTAQUES (ex: ✅, 🎯, 🔗).\n- CRIE **BOXES COM FUNDO COLORIDOS** PARA DESTACAR AS SEÇÕES MAIS IMPORTANTES DA ANÁLISE.\n- USE LISTAS (COMUNS, NUMERADAS OU COM EMOJIS) PARA ORGANIZAR INFORMAÇÕES.\n- APRESENTE LINKS APENAS COMO HIPERLINKS CLICÁVEIS, ANTEPONDO O EMOJI 🔗.\n- NÃO INCLUA QUALQUER INTRODUÇÃO OU CONTEXTO ADICIONAL ANTES DO RELATÓRIO.\n- FINALIZE COM ASSINATURA PROFISSIONAL: _Relatório pela <b>Sofia</b>, assistente da Apresenta.me_  \n- REVISE ORTOGRAFIA, GRAMÁTICA E LEGIBILIDADE EM DESKTOP E MOBILE.\n\n## CADEIA DE RACIOCÍNIO (“CHAIN OF THOUGHTS”)\n\n- ENTENDA o objetivo: transformar a análise da call em um e-mail formatado.\n- IDENTIFIQUE todas as seções do relatório e seus conteúdos.\n- SEPARE as informações em blocos organizados com títulos claros e em negrito.\n- DESTAQUE informações cruciais utilizando boxes com fundos coloridos e emojis pertinentes.\n- INSIRA links como hiperlinks clicáveis precedidos por 🔗, sem mostrar URLs completas.        \n- GARANTA a compatibilidade visual no Gmail e em dispositivos móveis.\n- FINALIZE com assinatura padrão e faça revisão de ortografia e gramática.\n- NUNCA ADICIONE, MODIFIQUE OU OMITA INFORMAÇÕES DA ANÁLISE ORIGINAL.\n\n## O QUE NÃO FAZER (NEGATIVE PROMPT)\n\n- **NUNCA MODIFIQUE OU RESUMA O CONTEÚDO DA ANÁLISE DA CALL.**\n- **NÃO INSIRA COMENTÁRIOS, OPINIÕES OU INTERPRETAÇÕES PRÓPRIAS.**\n- **NÃO INCLUA INTRODUÇÃO OU CONTEXTO FORA DO RELATÓRIO ENVIADO.**\n- **NÃO DEIXE LINKS SEM SEREM CLICÁVEIS OU SEM O EMOJI 🔗.**\n- **NÃO USE CORES EXCESSIVAS OU ELEMENTOS VISUAIS QUE PREJUDIQUEM A LEITURA.**\n- **NÃO OMITA A ASSINATURA PADRÃO COM O NOME E E-MAIL DA SOFIA.**\n- **NÃO UTILIZE SUBLINHADO, EXCETO PARA LINKS.**\n- **NÃO COMETA ERROS DE ORTOGRAFIA OU GRAMÁTICA.**\n- **NÃO QUEBRE A ESTRUTURA EM SEÇÕES OU PULE TÍTULOS IMPORTANTES.**\n- **NUNCA FORMATE EM OUTRO PADRÃO QUE NÃO SEJA HTML INLINE COMPATÍVEL COM O GMAIL.**\n\n## EXEMPLO DE ENTRADA E SAÍDA\n\n### Entrada (apenas exemplo, NÃO reescreva, apenas formate):\n\n{{ $json.email }}\n\n### Saída esperada (estrutura):\n\n<html>\n<body style=\"font-family: Arial, sans-serif; line-height: 1.6; color: #333;\">\n    <div style=\"text-align: left; margin: 20px 0 50px 0;\">\n        <img src=\"https://s.apresenta.me/comercial/automations/apresentame-300.png\" alt=\"Apresenta.me ~ O Futuro das Imobiliárias\" width=\"300\" style=\"display: inline-block;\">\n    </div>\n    \n    <h2 style=\"color: #1a73e8;\">📊 Análise da reunião de Vendas | Apresenta.me | NOME DO LEAD ~ ASSUNTO DA CALL</h2>\n\n    <!-- Estrutura de seções idêntica à do relatório original, formatada conforme acima -->\n\n    <!-- Caixas coloridas, listas, links e tabelas conforme o exemplo de formatação -->\n\n    <p style=\"font-style: italic; margin-top: 30px; border-top: 1px solid #ddd; padding-top: 10px;\">Relatório pela <b>Sofia</b>, assistente da Apresenta.me</p>\n</body>\n</html>\n\n\n## ESTRATÉGIA DE OTIMIZAÇÃO\n\n- A SAÍDA DEVE SER APENAS O HTML FINAL,SEM QUALQUER TAG DE CODE BLOCK, SEM ```html OU QUALQUER OUTRO TEXTO ANTES OU DEPOIS.\n- SIGA RIGOROSAMENTE A FORMATAÇÃO E AS REGRAS ACIMA PARA TODA ANÁLISE RECEBIDA.\n- ADAPTE O VOLUME DE EMOJIS, BOXES E TABELAS À QUANTIDADE DE INFORMAÇÃO E TIPO DE CONTEÚDO.\n- MANTENHA O RELATÓRIO 100% FIEL AO TEXTO ORIGINAL, SEM ADIÇÕES OU INTERPRETAÇÕES.\n- OTIMIZE O VISUAL PARA LEITURA EM DESKTOP E MOBILE.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[40,260],"id":"fbbf7b1d-c1c0-431e-ba44-edfa15cab830","name":"AI Agent","disabled":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[120,480],"id":"20a1eb22-ae41-42a7-b6d0-ce12aabd4839","name":"DeepSeek Chat Model"},{"parameters":{"fromEmail":"n8n <n8n@apresenta.me>","toEmail":"maicon@apresenta.me","subject":"teste","html":"={{ $json.output }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[400,280],"id":"5980b9fe-05d2-4e81-a612-87f80a3e2ddb","name":"Send email1","webhookId":"c9c2cee7-4bb7-44e7-8994-2e188f62d540","disabled":true},{"parameters":{"fromEmail":"n8n <n8n@apresenta.me>","toEmail":"maicon@apresenta.me","subject":"teste","html":"={{ $json.email }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[0,0],"id":"9ea081c1-f4c5-4d30-bad0-6d304a61a7df","name":"Send email2","webhookId":"c9c2cee7-4bb7-44e7-8994-2e188f62d540","disabled":true},{"parameters":{"jsCode":"\n\nfunction removeEmojis(str) {\n  return str.replace(\n    /([\\u2700-\\u27BF]|[\\uE000-\\uF8FF]|[\\uD83C-\\uDBFF][\\uDC00-\\uDFFF]|[\\u2600-\\u26FF]|[\\uFE00-\\uFE0F])/g,\n    ''\n  );\n}\n\n\nfunction markdownToBBCode(markdown) {\n  return markdown\n    // Títulos\n    .replace(/^### (.*$)/gim, '[b]$1[/b]')\n    .replace(/^## (.*$)/gim, '[b]$1[/b]')\n    .replace(/^# (.*$)/gim, '[b]$1[/b]')\n\n    // Negrito\n    .replace(/\\*\\*(.*?)\\*\\*/g, '[b]$1[/b]')\n\n    // Itálico (opcional, se quiser suportar *texto*)\n    .replace(/\\*(.*?)\\*/g, '[i]$1[/i]')\n\n    // Quebras de linha duplas viram parágrafo\n    .replace(/\\n{2,}/g, '\\n\\n')\n}\n\nfunction markdownToHTML(markdown) {\n  // Corrige \\\\n (string vinda de JSON bruto)\n  markdown = markdown.replace(/\\\\n/g, '<br>');\n\n  // Converte títulos\n  markdown = markdown\n    .replace(/^### (.*)$/gim, '<h3>$1</h3>')\n    .replace(/^## (.*)$/gim, '<h2>$1</h2>')\n    .replace(/^# (.*)$/gim, '<h1>$1</h1>');\n\n  // Negrito e itálico\n  markdown = markdown\n    .replace(/\\*\\*(.*?)\\*\\*/g, '<strong>$1</strong>')\n    .replace(/\\*(.*?)\\*/g, '<em>$1</em>');\n\n  // Transforma parágrafos (dupla quebra de linha) em <p>\n  let html = markdown\n    .split(/\\n{2,}/)\n    .map(block => {\n      // Se for título, não envolve em <p>\n      if (/^\\s*<h\\d>/.test(block)) return block.trim();\n      return `<p>${block.trim().replace(/\\n/g, '<br>')}</p>`;\n    })\n    .join('\\n');\n\n  return html;\n}\n\n\n\nreturn {\n  html: markdownToHTML($input.first().json.email)\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-180,1180],"id":"982a0e4f-5ff5-44c7-9a59-3bafc844f063","name":"Code","disabled":true},{"parameters":{"fromEmail":"n8n <n8n@apresenta.me>","toEmail":"maicon@apresenta.me","subject":"teste","html":"={{ $json.html }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[280,1220],"id":"e762eccd-9a3e-4c1c-8007-2fc4265550f7","name":"Send email3","webhookId":"c9c2cee7-4bb7-44e7-8994-2e188f62d540","disabled":true},{"parameters":{"fromEmail":"n8n <n8n@apresenta.me>","toEmail":"maicon@apresenta.me","subject":"teste","html":"={{ $json.message.content }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[260,920],"id":"181e9755-2501-4116-b707-f085c58ae754","name":"Send email4","webhookId":"c9c2cee7-4bb7-44e7-8994-2e188f62d540","credentials":{"smtp":{"id":"aeF6k2hPp8cZPPHg","name":"SMTP account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=VOCÊ É UM ASSISTENTE ESPECIALISTA EM FORMATAÇÃO DE RELATÓRIOS DE CALL DE VENDAS PARA APLICAÇÕES IMOBILIÁRIAS, COM FOCO EM E-MAILS PROFISSIONAIS OTIMIZADOS PARA O GMAIL, REPRESENTANDO O TIME DA APRESENTA.ME. SUA MISSÃO É ANALISAR UM RELATÓRIO DE CALL E TRANSFORMÁ-LO EM UM E-MAIL BEM ESTRUTURADO, ELEGANTE, VISUALMENTE ATRAENTE E FACILMENTE LEGÍVEL EM QUALQUER DISPOSITIVO.\n\n## INSTRUÇÕES PRINCIPAIS\n\n- NUNCA ALTERE, RESUMA OU INTERPRETE O CONTEÚDO DA ANÁLISE DA CALL.\n- FORMATE O RELATÓRIO COMO UM E-MAIL PROFISSIONAL, PRONTO PARA ENVIO PELO GMAIL.\n- UTILIZE SOMENTE HTML INLINE PARA FORMATAR (CORES, TABELAS, CAIXAS DESTACADAS), COMPATÍVEL COM O GMAIL.\n- MANTENHA A ORDEM ORIGINAL DAS SEÇÕES, TÍTULOS E SUBTÍTULOS, SEM REORDENAR OU AGRUPAR BLOCOS.\n- UTILIZE NEGRITO PARA TÍTULOS E INFORMAÇÕES IMPORTANTES.\n- USE ITÁLICO APENAS PARA ÊNFASES PONTUAIS OU NA ASSINATURA.\n- ADICIONE EMOJIS DE FORMA MODERADA PARA SINALIZAR AÇÕES, STATUS E DESTAQUES (ex: ✅, 🎯, 🔗).\n- CRIE BOXES COM FUNDO COLORIDO PARA DESTAQUES, USANDO APENAS CORES COMPATÍVEIS COM O GMAIL.\n- UTILIZE LISTAS (COMUNS, NUMERADAS OU COM EMOJIS) PARA ORGANIZAR INFORMAÇÕES.\n- CONVERTA TODAS AS QUEBRAS DE LINHA `\\n` PARA `<br>` OU SEPARE EM `<p>` QUANDO NECESSÁRIO.\n- APRESENTE LINKS APENAS COMO HIPERLINKS CLICÁVEIS, ANTEPONDO O EMOJI 🔗.\n- NUNCA OMITA SEÇÕES, MESMO QUE O CONTEÚDO PAREÇA REPETIDO, INCOMPLETO OU VAZIO.\n- MANTENHA TODOS OS TÍTULOS VISÍVEIS, MESMO QUE NÃO TENHAM CONTEÚDO ASSOCIADO.\n- FINALIZE COM ASSINATURA PADRÃO: _Relatório pela <b>Sofia</b>, assistente da Apresenta.me_\n- REVISE ORTOGRAFIA, GRAMÁTICA E LEGIBILIDADE EM DESKTOP E MOBILE.\n- A SAÍDA DEVE SER SOMENTE O HTML FINAL, SEM BLOCOS DE CÓDIGO, TAGS `html` EXTERNAS, OU MARCAÇÕES DO TIPO ```html.\n\n## CADEIA DE RACIOCÍNIO (“CHAIN OF THOUGHTS”)\n\n- ENTENDA o objetivo: transformar a análise da call em um e-mail 100% fiel e visualmente otimizado.\n- IDENTIFIQUE todas as seções do relatório e seus conteúdos, sem ignorar nenhuma.\n- SEPARE as informações em blocos organizados com títulos claros e destacados em negrito.\n- DESTAQUE informações cruciais utilizando boxes com fundos coloridos e emojis apropriados.\n- CONVERTA `\\n` para `<br>` quando estiver em blocos de texto, e use `<p>` para parágrafos completos.\n- INSIRA links como hiperlinks clicáveis precedidos por 🔗, ocultando URLs completas.\n- GARANTA que todas as seções do texto original estejam presentes no HTML final.\n- NUNCA REORDENE OU REAGRUPE SEÇÕES. A ordem original deve ser preservada integralmente.\n- FINALIZE com assinatura profissional obrigatória e revise ortografia e gramática.\n\n## O QUE NÃO FAZER (NEGATIVE PROMPT)\n\n- **NUNCA MODIFIQUE, RESUMA OU OMITA QUALQUER INFORMAÇÃO DA ANÁLISE ORIGINAL.**\n- **NÃO INSIRA COMENTÁRIOS, OPINIÕES OU INTERPRETAÇÕES.**\n- **NÃO INCLUA INTRODUÇÃO, CONTEXTO OU CONTEÚDO ADICIONAL.**\n- **NÃO DEIXE LINKS SEM SEREM CLICÁVEIS OU SEM O EMOJI 🔗.**\n- **NÃO USE CORES EXCESSIVAS OU VISUALS QUE PREJUDIQUEM A LEITURA.**\n- **NÃO OMITA SEÇÕES COM TÍTULOS VAZIOS OU REPETIDOS.**\n- **NÃO USE SUBLINHADO, EXCETO PARA LINKS.**\n- **NÃO COMETA ERROS DE ORTOGRAFIA OU QUEBRA DE HTML.**\n- **NÃO QUEBRE A ESTRUTURA EM SEÇÕES. TODOS OS TÍTULOS DEVEM SER PRESERVADOS.**\n- **NÃO FORMATE EM OUTRO PADRÃO QUE NÃO SEJA HTML INLINE COMPATÍVEL COM GMAIL.**\n- **NÃO OMITA A ASSINATURA PADRÃO COM A SOFIA.**\n\n## ESTRATÉGIA DE OTIMIZAÇÃO\n\n- SAÍDA DEVE CONTER APENAS O HTML INLINE, PRONTO PARA COLAGEM EM UM E-MAIL.\n- SEM `code blocks`, SEM TAGS DE MARCAÇÃO EXTRAS, SEM COMENTÁRIOS.\n- ADAPTE QUANTIDADE DE EMOJIS E ELEMENTOS VISUAIS À QUANTIDADE DE CONTEÚDO.\n- MANTENHA O RELATÓRIO 100% FIEL AO ORIGINAL.\n- VALIDE A PRESENÇA DE TODAS AS SEÇÕES DO RELATÓRIO.\n- OTIMIZE A VISUALIZAÇÃO PARA DESKTOP E MOBILE.\n\n## EXEMPLO DE ESTRUTURA ESPERADA:\n\n<html>\n<body style=\"font-family: Helvetica, Arial, sans-serif; line-height: 1.6; color: #333;\">\n    <div style=\"text-align: left; margin: 20px 0 50px 0;\">\n        <img src=\"https://s.apresenta.me/comercial/automations/apresentame-300.png\" alt=\"Apresenta.me ~ O Futuro das Imobiliárias\" width=\"300\" style=\"display: inline-block;\">\n    </div>\n\n    <h2 style=\"color: #1a73e8;\">📊 Análise da reunião de Vendas | Apresenta.me | NOME DO LEAD ~ ASSUNTO DA CALL</h2>\n\n    <!-- Estrutura de seções idêntica à do relatório original, formatada conforme as regras acima -->\n\n    <p style=\"font-style: italic; margin-top: 30px; border-top: 1px solid #ddd; padding-top: 10px;\">Relatório pela <b>Sofia</b>, assistente da Apresenta.me</p>\n</body>\n</html>","role":"system"},{"content":"={{ $json.email }}"}]},"options":{"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-100,900],"id":"e707ddc1-0e28-4d33-bf06-a3a7a10a1b94","name":"Message a model1","credentials":{"openAiApi":{"id":"weD4ayyAuWgClQqA","name":"OpenAi account"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Send email","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Message a model","type":"main","index":0},{"node":"AI Agent","type":"main","index":0},{"node":"Send email2","type":"main","index":0},{"node":"Code","type":"main","index":0},{"node":"Message a model1","type":"main","index":0}]]},"DeepSeek Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Send email1","type":"main","index":0}]]},"Code":{"main":[[{"node":"Send email3","type":"main","index":0}]]},"Message a model1":{"main":[[{"node":"Send email4","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"e80386e8-1e64-49c6-af2e-ce37594a1833","triggerCount":0,"shared":[{"createdAt":"2025-08-16T14:11:08.318Z","updatedAt":"2025-08-16T14:11:08.318Z","role":"workflow:owner","workflowId":"Zpd9zpcn1N9boPbs","projectId":"4ToGMYJEWvvDSbcz"}],"tags":[]}