21-04-2026 12:00/workflows/🤖🤖-alicia:-transferir-e-gerar-resumo-cInfZnwLsuHR82XX.json
{"updatedAt":"2026-02-24T12:05:55.000Z","createdAt":"2026-02-09T18:47:52.359Z","id":"cInfZnwLsuHR82XX","name":"🤖🤖 Alicia: Transferir e gerar Resumo","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"={{ $env.APRECHAT_URL_API }}api/messages/send","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"={\n    \"accept\": \"application/json, text/plain, */*\",\n    \"accept-language\": \"pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7\",\n    \"authorization\": \"Bearer kZaOTd+YZpjRUyyuQUpigJaEMk4vcW4YOymKPZX0Ts8=\",\n    \"company\": {{ $('When Executed by Another Workflow').first().json.companyId }},\n    \"content-type\": \"application/json\"\n  } ","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"message","value":"={{ $json.output }}"},{"name":"number","value":"={{ $('When Executed by Another Workflow').first().json.contact.number }}"},{"name":"addUserName","value":"={{ $('When Executed by Another Workflow').first().json.agentName }}"},{"name":"whatsappId","value":"={{ $('When Executed by Another Workflow').first().json.contact.whatsappId }}"},{"name":"messageRepliedId","value":"={{ $('When Executed by Another Workflow').first().json.messageId }}"},{"name":"messageType","value":"internalNote"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[656,0],"id":"0985c3f0-c827-41b1-b9e1-8268766b8a7b","name":"Salva nota na conversa1"},{"parameters":{"jsCode":"const data = $input.all();\nconst formatChatHistory = (inputData) => {\n  return inputData.map(jsonItem => {\n    const item = jsonItem.json\n    // 1. Define o remetente\n    const sender = item.message.type === 'human' ? 'User' : 'IA';\n    \n    // 2. Pega o conteúdo original\n    let content = item.message.content;\n\n    // 3. Se for IA, aplica a Regex para limpar o \"lixo\" técnico\n    if (item.message.type === 'ai') {\n      // REGEX EXPLICADA:\n      // ^              -> Começa no início da string\n      // \\[Used tools:  -> Procura literalmente por \"[Used tools:\"\n      // [\\s\\S]*?       -> Pega qualquer caractere (incluindo quebra de linha) de forma não-gulosa (para no primeiro match)\n      // \\]\\]           -> Procura o fechamento dos colchetes duplos \"]]\"\n      // \\s* -> Remove quaisquer espaços ou quebras de linha que sobrem logo após\n      content = content.replace(/^\\[Used tools:[\\s\\S]*?\\]\\]\\s*/, '');\n    }\n\n    // 4. Retorna no formato solicitado\n    return `${sender}: ${content}`;\n  }).join('\\n'); // Une tudo com quebra de linha\n};\n\n// Executa e mostra o resultado\nconst result = formatChatHistory(data);\n\nreturn  {\n  result\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[16,0],"id":"2b958829-3236-4726-a2de-fee28a8fabe7","name":"Formata histórico1","executeOnce":true},{"parameters":{"promptType":"define","text":"=[HISTÓRICO DE CONVERSA]\n{{ $json.result }}","options":{"systemMessage":"*DOSSIÊ*\nCrie um breve dossiê da conversa, listando cada informação separada por linha e colocando a label em negrito. Use emojis no início de cada linha para dar destaque e reforçar o significado do item.\n\n*ANÁLISE*\nTom: Defina o tom/perfil do usuário. Use emojis relevantes no início.\nResumo: Gere um breve resumo da conversa em texto corrido. Use emojis ao longo do texto para dar ritmo e destacar pontos importantes.\n\n*ONDE PAROU*\nInforme onde a conversa parou. Use emojis para marcar status e contexto.\n\n*PRÓXIMOS PASSOS*\nDefina os próximos passos. Use emojis em cada passo para guiar o olhar e deixar mais chamativo.\n\n## FORMATAÇÃO:\nNegrito: Um asterisco antes e depois da palavra/frase. Ex: '*Teste*'\nItálico: Um underline antes e depois da palavra/frase. Ex: '_Teste_'\n\n## REGRAS DE OURO:\n- Seja breve\n- Crie um resumo objetivo\n- Texto corrido apenas no resumo (bloco análise)\n- ABUSE DE EMOJIS para chamar atenção, sem parecer aleatório\n- Emojis devem ser condizentes com a informação de cada linha\n- Em listas, usar pelo menos 1 emoji por linha\n- No resumo, usar emojis espalhados ao longo do texto, destacando temas, decisões, dores e próximos passos\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[288,0],"id":"ce2cd6b7-05e4-4f34-8891-ba7e43e8d0a3","name":"Gera resumo da conversa - AI1"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_chat_histories","mode":"list","cachedResultName":"n8n_chat_histories"},"returnAll":true,"where":{"values":[{"column":"session_id","value":"={{ $('When Executed by Another Workflow').first().json.cache_key }}"}]},"sort":{"values":[{"column":"id"}]},"options":{"outputColumns":["message"]}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-208,0],"id":"7b1894d9-a213-4fd6-be4d-4f52a9ec9f14","name":"Busca histórico de conversa1","credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}}},{"parameters":{"workflowInputs":{"values":[{"name":"ticketId","type":"number"},{"name":"companyId","type":"number"},{"name":"cache_key"},{"name":"contact","type":"object"},{"name":"agentName"},{"name":"whatsappId","type":"number"},{"name":"messageId","type":"number"}]}},"id":"a5186726-b390-49c9-bcec-3f58d6041190","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-432,0]},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[272,192],"id":"ef7b198f-4d27-4325-a976-28da978cd8c4","name":"Google Gemini Chat Model3","credentials":{"googlePalmApi":{"id":"sMTfS675yuIxdSeK","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"method":"PATCH","url":"={{ $env.APRECHAT_URL_API }}api/ticket/{{ $('When Executed by Another Workflow').first().json.ticketId }}","sendQuery":true,"queryParameters":{"parameters":[{}]},"sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"={\n    \"accept\": \"application/json, text/plain, */*\",\n    \"accept-language\": \"pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7\",\n    \"authorization\": \"Bearer kZaOTd+YZpjRUyyuQUpigJaEMk4vcW4YOymKPZX0Ts8=\",\n    \"company\": {{ $('When Executed by Another Workflow').first().json.companyId }},\n    \"content-type\": \"application/json\"\n  } ","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"status\": \"pending\",\n  \"whatsappId\": 18,\n  \"departmentId\": 37\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[928,0],"id":"6a68a1c7-d615-48e7-a1b1-372541b494cb","name":"Transfere ticket para Aguardando Apre.Chat"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"follow_up_queue","mode":"list","cachedResultName":"follow_up_queue"},"returnAll":true,"where":{"values":[{"column":"session_id","value":"={{ $('When Executed by Another Workflow').first().json.cache_key }}"},{"column":"company_id","value":"={{ $('When Executed by Another Workflow').first().json.companyId }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1168,0],"id":"60f7fe9e-9f3b-4212-87e5-354f77c58c5b","name":"Busca Follow Up3","alwaysOutputData":true,"credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}}},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"follow_up_queue","mode":"list","cachedResultName":"follow_up_queue"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Busca Follow Up3').first().json.id }}","active":"={{ false }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"session_id","displayName":"session_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"last_instruction","displayName":"last_instruction","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"follow_up_time","displayName":"follow_up_time","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"attempts","displayName":"attempts","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"company_id","displayName":"company_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"user_phone","displayName":"user_phone","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"active","displayName":"active","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":false},{"id":"whatsapp_id","displayName":"whatsapp_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"agent_name","displayName":"agent_name","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"follow_up_type","displayName":"follow_up_type","required":false,"defaultMatch":false,"display":true,"type":"options","canBeUsedToMatch":true,"options":[{"name":"initiated","value":"initiated"},{"name":"requested","value":"requested"}],"removed":true},{"id":"last_var_requested","displayName":"last_var_requested","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ticket_id","displayName":"ticket_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1728,0],"id":"235fbfa6-51ff-44e7-837c-b2f59a275178","name":"Atualiza follow-up3","credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"78613adc-f045-436b-b2c6-51b000e2cf1f","leftValue":"={{ Boolean($('Busca Follow Up3').first().json.id || false) }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1424,16],"id":"5e5bcf3a-bbd2-48b6-9a25-dcf73132517d","name":"Se já existe follow-up1"}],"connections":{"Formata histórico1":{"main":[[{"node":"Gera resumo da conversa - AI1","type":"main","index":0}]]},"Gera resumo da conversa - AI1":{"main":[[{"node":"Salva nota na conversa1","type":"main","index":0}]]},"Busca histórico de conversa1":{"main":[[{"node":"Formata histórico1","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Busca histórico de conversa1","type":"main","index":0}]]},"Google Gemini Chat Model3":{"ai_languageModel":[[{"node":"Gera resumo da conversa - AI1","type":"ai_languageModel","index":0}]]},"Salva nota na conversa1":{"main":[[{"node":"Transfere ticket para Aguardando Apre.Chat","type":"main","index":0}]]},"Busca Follow Up3":{"main":[[{"node":"Se já existe follow-up1","type":"main","index":0}]]},"Se já existe follow-up1":{"main":[[{"node":"Atualiza follow-up3","type":"main","index":0}]]},"Transfere ticket para Aguardando Apre.Chat":{"main":[[{"node":"Busca Follow Up3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"ticketId":206384,"companyId":10,"cache_key":"session_554788950332_10","contact":{"id":"34529","name":"João Dev","number":"554788950332","profilePicUrl":"https://pps.whatsapp.net/v/t61.24694-24/425105449_1361615211300388_1143514098522857072_n.jpg?ccb=11-4&oh=01_Q5Aa3wF82zJFgUO2EhwC8Jxk3l92kI_ufDzS54Sc6IDNhNKBKg&oe=699B9463&_nc_sid=5e03e0&_nc_cat=102","createdAt":"2025-08-26T13:37:58.507-03:00","updatedAt":"2026-02-12T20:50:20.085-03:00","email":"","isGroup":false,"companyId":"10","whatsappId":"209","onlyResponsible":false,"userId":"1","aprePersonId":null,"apreDealId":null,"meta":{"ignoreCheck":true,"ignorePermission":true,"dontSendSocket":false}},"agentName":"Alicia","whatsappId":209,"messageId":4514653}}]},"versionId":"d97fd961-889f-476c-a730-92aa8cea81ce","triggerCount":0,"shared":[{"updatedAt":"2026-02-09T18:47:52.367Z","createdAt":"2026-02-09T18:47:52.367Z","role":"workflow:owner","workflowId":"cInfZnwLsuHR82XX","projectId":"4ToGMYJEWvvDSbcz"}],"tags":[]}