07-12-2025 18:00/workflows/🗣️-apr.sdr-ia-dDaZdsSmHxktrhjc.json
{"updatedAt":"2025-12-05T20:49:14.000Z","createdAt":"2025-11-04T18:47:16.651Z","id":"dDaZdsSmHxktrhjc","name":"🗣️ Apr.SDR IA","active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"delete","key":"={{ $('Cria cache key').item.json.cache_key }}_vars"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2464,160],"id":"82d16a2d-7240-45c6-9e10-4c474f1e6242","name":"Delete cache variaveis","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}},"disabled":true},{"parameters":{"jsCode":"const dataObj = $input.first().json.data;\nlet tableMarkdown = \"| VAR | VALOR | TIPO |\\n|---|---|---|\\n\";\n\nfor (const [key, props] of Object.entries(dataObj)) {\n  const val = props.value !== undefined ? props.value : '';\n  tableMarkdown += `| ${key} | ${val} | ${props.type} |\\n`;\n}\n\nreturn { tableMarkdown };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2064,-32],"id":"715ad9c6-1b55-46ab-be41-ef8771d55cbd","name":"Transforma variáveis em tabela"},{"parameters":{"description":"=## TOOL: Busca estágio atual (GET_STAGE)\n\nOBJETIVO\nLer o estado dos estágios e indicar qual é o próximo passo da conversa.\n\nRETORNO (JSON)\n- currentInstruction: texto da próxima ação/pergunta.\n- currentStage: nome do estágio atual.\n- currentVar: nome da variável alvo (pode ser nulo).\n\nQUANDO CHAMAR\n- OBRIGATÓRIO EM 100% DOS TURNOS.\n- Chame logo após processar as variáveis (UP).\n- Se não houver variáveis, chame imediatamente.\n\nCOMO USAR\n1) Chame GET_STAGE().\n2) Se currentInstruction for uma instrução/pergunta de variável:\n   - Transforme em UMA pergunta clara, objetiva, alinhada ao tom configurado.\n   - Faça só essa pergunta para o usuário.\n3) Se currentInstruction representar uma instrução lógica (ex.: enviar apresentação):\n   - Chame a tool apropriada (ex.: PROP).\n   - Em seguida chame GET_STAGE novamente para ver a próxima instrução.\n4) Sempre responda ao usuário apenas depois de resolver essas pendências.\n","jsCode":"const stages = $('Seta estágios').item.json\nconst vars = $('Seta variáveis da conversa').item.json.data\nconst stagesEntries = Object.entries(stages)\n\nlet currentStage = null\nlet currentInstruction = null\nlet currentVar = null\nlet isFinalInstruction = null\n\nfor (const [key, value] of stagesEntries) {\n  value.actions.requiredDataForExecute = value.actions.requiredDataForExecute.map(v => {\n    const varValue = vars[v.name].value\n    return {\n      ...v, \n      value: varValue || undefined\n    }\n  })\n  \n  const stagePendingVar = value.actions.requiredDataForExecute.find(v => !v.value)\n\n  if (stagePendingVar) {\n    currentInstruction = stagePendingVar.instruction\n    currentVar = stagePendingVar.name\n    currentStage = {\n      ...value, \n      name: key\n    }\n    break\n  }\n}\n\nreturn JSON.stringify({\n  currentInstruction,\n  currentStage: currentStage.name,\n  currentVar\n})"},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.3,"position":[-1184,496],"id":"6d33afe9-8bc7-4115-93c4-05428f8c0b10","name":"Busca estágio atual"},{"parameters":{"description":"## TOOL: Enviar apresentação comercial (PROP)\n\nOBJETIVO\nDisparar o workflow que envia a apresentação comercial em PDF para o lead.\n\nQUANDO CHAMAR\n- Quando o processo de qualificação estiver concluído\n  (por exemplo: qualificationCompleted == true)\n- E presentationHasSent ainda NÃO for true.\n\nREGRAS\n1) Assim que todas as variáveis obrigatórias de qualificação estiverem preenchidas,\n   chame esta tool SEM pedir confirmação ao usuário.\n2) Depois de executar esta tool, chame UP(\"presentationHasSent\", true)\n   para marcar que a apresentação já foi enviada.\n3) Em seguida, chame GET_STAGE novamente para saber qual mensagem enviar ao usuário\n   (ex.: avisar que o material foi enviado).","workflowId":{"__rl":true,"value":"wd0uAb0Sm1fW5YNt","mode":"list","cachedResultUrl":"/workflow/wd0uAb0Sm1fW5YNt","cachedResultName":"Enviar apresentação comercial"},"workflowInputs":{"mappingMode":"defineBelow","value":{"whatsappId":"={{ $('Webhook').item.json.body.whatsappId }}","messageRepliedId":"={{ $('Webhook').item.json.body.messageId }}","message":"={{ $('Seta variáveis da conversa').item.json.data.name.value }}, segue em anexo nossa apresentação comercial! Espero que goste do que preparamos. Em breve te chamamos para retomarmos nossa negociação. 🚀","number":"={{ $('Webhook').item.json.body.contact.number }}","addUserName":"={{ $('Seta perfil').item.json.agentName }}","company":"={{ $('Webhook').item.json.body.contact.companyId }}"},"matchingColumns":[],"schema":[{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"number","displayName":"number","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"addUserName","displayName":"addUserName","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"whatsappId","displayName":"whatsappId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"messageRepliedId","displayName":"messageRepliedId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"company","displayName":"company","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-1344,496],"id":"3ecf4372-b1ce-459d-804b-aa2a1b56fade","name":"Enviar apresentação comercial"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Cria cache key').item.json.cache_key }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-1408,304],"id":"cbf9240d-3306-474e-acdc-9a74d29ba812","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}}},{"parameters":{"jsCode":"return {\n  chatInput: JSON.stringify($('Webhook').first().json.body.message)\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1456,-32],"id":"785efff2-7dfd-486c-ab8e-79dd10dfc9c1","name":"Retorna chatInput"},{"parameters":{"operation":"get","key":"={{ $('Cria cache key').item.json.cache_key }}_vars","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2464,-32],"id":"fe06e47a-c5bc-494f-bc1b-53f306da4e52","name":"Busca variáveis","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"operation":"get","key":"={{ $json.cache_key }}_stages","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2672,-32],"id":"49b22786-bfb8-46bd-a6ec-c52f8cde2a15","name":"Busca estágios","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"cache_key\": \"sdr_{{ $('Webhook').item.json.body.ticketId }}_chat_summary_{{ $('Webhook').item.json.body.contact.number }}_{{ $('Webhook').item.json.body.whatsappId }}_10\"\n} ","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2880,-32],"id":"0616bdad-72a1-40be-8797-c2b6f60329a9","name":"Cria cache key"},{"parameters":{"jsCode":"const cacheStages = $('Busca estágios').first().json.propertyName ? JSON.parse($('Busca estágios').first().json.propertyName) : undefined\nconst vars = $('Seta variáveis da conversa').first().json.data\n\nfunction findVarInstruction(varName){\n    return vars[varName].description\n}\n\nfunction findVarType(varName) {\n  return vars[varName].type\n}\n\nfunction findVarValue(varName) {\n  return vars[varName].value\n}\n\nconst stages = cacheStages ?? {\n  \"Identificar o usuario\": {\n    sortNumber: 1,\n    conditionPrompt: \"Se é início da conversa ou se o usuário ainda não informou o nome dele\",\n    requiredDataForExecute: null,\n    actions: {\n      requiredDataForExecute: [\n        {\n          name: \"name\",\n          value: null\n        }\n      ],\n      actions: null, \n      finalInstructions: \"Agradeça e siga para o próximo estágio\"\n    }\n  },\n  \"Verificar se trabalha no mercado imobiliário\": {\n    sortNumber: \"2\",\n    conditionPrompt: \"Se ja respondeu o nome.\",\n    requiredDataForExecute: null,\n    actions: {\n      requiredDataForExecute: [\n        {\n          name: \"isRealEstate\",\n          value: null\n        }\n      ],\n      actions: null,\n      finalInstructions: \"Perguntar se o lead trabalha no mercado imobiliário \\n- Se não trabalhar, retorne para o lead que a Apresenta.me apenas atende pessoas que trabalhem com o mercado imobiliário, agradeça pelo interesse e encerre o atendimento educadamente\"\n    }\n  },\n  \"Diagnosticar a necessidade\": {\n    sortNumber: \"3\",\n    conditionPrompt: \"Se você já sabe o nome do lead , e ainda não definiu suas dores, pergunte sobre quais os problemas ele enfrenta e que a Apresenta.me pode ajudar.\",\n    requiredDataForExecute: [\n      {\n        name: \"isRealEstate\", \n        operator: \"exist\",\n        value: null\n      }\n    ],\n    actions: {\n      requiredDataForExecute: [\n        {\n          name: \"customerNeed\",\n          value: null\n        }\n      ],\n      actions: null,\n      finalInstructions: \" \\nAfunile na necessidade específica dele, garantindo que você saiba qual é a necessidade específica que ele tem.  \\n \\nFaça isso através de pergunta. Exemplo, se o usuário quer saber sobre algo que possui ramificações nas informações disponíveis, faça uma pergunta, e se possível liste as ramificações / opções existentes, para você saber exatamente onde que o usuário está com dúvidas, e principalmente quais as dúvidas que ele tem quanto ao software da Apresenta.me\"\n    }\n  }, \n  \"Qualificacao\": {\n    sortNumber: \"4\",\n    conditionPrompt: \"Se você já sabe o nome do lead, se ele trabalha no mercado imobiliário e se você já sabe as necessidades do lead mas ainda não aprondou-se em tais necessidades.\",\n    requiredDataForExecute: [\n      {\n        name: \"isRealEstate\", \n        operator: \"exist\",\n        value: null\n      }\n    ],\n    actions: {\n      requiredDataForExecute: [\n        {\n          name: \"teamSize\",\n          value: null\n        }, \n        {\n          name: \"workWithRent\",\n          value: null\n        },  \n        {\n          name: \"numberOfBuildings\",\n          value: null\n        },\n        {\n          name: \"currentSystem\",\n          value: null\n        },\n        {\n          name: \"rentalTransferMode\",\n          value: null\n        },\n        {\n          name: \"amountInCurrentSystemOrBudget\",\n          value: null\n        },\n        {\n          name: \"qualificationCompleted\",\n          value: null\n        }\n      ],\n      actions: null,\n      finalInstructions: \"\"\n    }\n  },  \n  \"Enviar Apresentacao em PDF\": {\n    sortNumber: \"5\",\n    conditionPrompt: \"Caso o processo de qualificação esteja finalizado\",\n    requiredDataForExecute: [\n      {\n        name: \"qualificationCompleted\", \n        operator: \"=\",\n        value: true\n      },\n      {\n        name: \"presentationHasSent\", \n        operator: \"!exist\",\n        value: null\n      }\n    ],\n    actions: {\n      requiredDataForExecute: [\n        {\n          name: \"presentationHasSent\",\n          value: null\n        }\n      ],\n      actions: null,\n      finalInstructions: \"\"\n    }\n  }  \n}\n\n// Iterar sobre todos os stages\nObject.keys(stages).forEach(stageKey => {\n  const stage = stages[stageKey];\n  \n  // Verificar se existe actions e requiredDataForExecute\n  if (stage.actions && stage.actions.requiredDataForExecute) {\n    // Iterar sobre cada item de requiredDataForExecute\n    stage.actions.requiredDataForExecute.forEach(item => {\n      // Adicionar a propriedade instructions\n      item.instruction = findVarInstruction(item.name);      \n      item.type = findVarType(item.name)\n      item.value = findVarValue(item.name) || undefined\n    });\n  }\n});\n\nreturn stages;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1664,-32],"id":"26867d44-c0b8-48de-9d4b-bb61ffc4cb36","name":"Seta estágios"},{"parameters":{"jsCode":"return {\n  tone: \"Engraçado\",\n  agentName: \"Alicia\",\n  internalName: \"Alicia da Apresenta.me\",\n  initialMessage: \"Olá, tudo bem? 👋 \\n\\nEu sou a Alicia, assistente da Apresenta.me, vou te ajudar entendendo melhor sua necessidade.\",\n  language: \"pt-BR\",\n  timeZone: \"Sao Paulo (GTM -3)\",\n  role: \"SDR Sênior\",\n  companyName: \"Apresenta.me\",\n  companyDepartment: \"Software\",\n  companySite: \"https://apresenta.me\",\n  conduct: \" \\n### SOBRE SEU PAPEL \\n- Você é um SDR, sua Principal função é qualificar o lead. para entender se ele tem as características do nosso ICP; \\n- Você irá apresentar o sistema da Apresenta.me (https://apresenta.me), um software SAAS para gestão completa de imobiliárias. \\n- Comporte-se exatamente como um representante da empresa, sendo cordial e profissional. \\n \\n \\n### SEU TOM DE VOZ \\n- Responda de maneira simples e objetiva e profissional; \\n- Responda por padrão até 130 caracteres. Só aumente a resposta quando for estritamente necessário; \\n- Seja empático e consultivo, nunca agressivo ou invasivo; \\n- Responda com o mesmo tom de voz que o Lead estiver; \\n- Se necessário, utilize emojis como 😄👍🏢🔑📋🚀🥳🌱🤩 etc. \\n- O nome correto do sistema é Apresenta.me (com ponto), mas fale Apresentame sem pausas; \\n \\n### REGRAS ESPECÍFICAS \\n- Quando for informar uma URL, informe EXATAMENTE a URL disponível \\n- NUNCA fale dos concorrentes de forma negativa \\n- NUNCA saia do personagem \\n- Faça APENAS UMA pergunta por vez para não sobrecarregar o lead \\n- NUNCA convide para um agendamento de demonstração antes de passar pelo estágio de Qualificação \\n- NUNCA direcione para nenhum contato ou link sem antes efetuar a qualificação do lead\"\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1872,-32],"id":"95ead263-a07f-473e-99aa-3499332685b3","name":"Seta perfil"},{"parameters":{"jsCode":"const cacheVars = $('Busca variáveis').first().json.propertyName ? JSON.parse($('Busca variáveis').first().json.propertyName) : undefined\n\nreturn cacheVars ?? {\n  data: {\n    name: {\n      description:\n        \"Se apresente e pergunte o *Nome do usuário*. Pergunte de forma educada e respeitosa.\",\n      type: \"string\",\n    },\n    email: {\n      description:\n        \"Email do usuário para entrar em contato quando houver a necessidade.\",\n      type: \"email\",\n    },\n    customerNeed: {\n      description:\n        \"Show, [NOME DO LEAD]! E hoje, o que mais tem te incomodado ou sentido falta aí na sua \\nimobiliária? \\nMuitas vezes ouvimos problemas como sistemas com erros, lentidão, suporte demorado, ou até dificuldade pra fazer cobranças e relatórios... Mas quero entender no seu caso: o que você tem sentido falta ou gostaria de melhorar no seu processo de locação, vendas ou atendimento?\",\n      type: \"string[]\",\n    },\n    teamSize: {\n      description:\n        \"E só pra eu entender melhor quantas pessoas trabalham com você? \\n\\nNão mostre as opções, deixe aberto para o lead responder , interaja com o lead até que ele responda com uma das opções abaixo: \\n\\nCorretor Autônomo \\n2 a 5 \\n6 a 10 \\n11 a 25 \\nMais de 25\",\n      type: \"string\",\n    },\n    numberOfBuildings: {\n      description:\n        \"Quantidade total de imóveis na carteira (para venda e locação) você tem disponíveis para negócio, (sem considerar os locados ou vendidos) \\n\\nBusque por um número \",\n      type: \"number\",\n    },\n    rentalTransferMode: {\n      description:\n        'Caso o lead NÃO trabalhe com locações, defina \"Não Utiliza\" e não faça a pergunta! \\n\\n\\nE hoje, como vocês fazem as repasse dos valores dos aluguéis para o proprietário? \\n\\nNão mostre as opções, deixe aberto para o lead responder , interaja com o lead até que ele responda com uma das opções abaixo: \\n \\nManual em Dinheiro \\nManualmente via PIX \\nRemessa e Retorno Bancário \\nRepasse Automático via outro Sistema Imobiliário',\n      type: \"string\",\n    },\n    fiscalNote: {\n      description:\n        \"Você gera notas fiscais para os contratos administrados pela sua imobiliária? Se sim, como é feito o processo de geração dessas notas? Além disso, você realiza o envio do DIMOB?\",\n      type: \"string\",\n    },\n    workWithRent: {\n      description:\n        \"Hoje vocês fazem gestão de contratos de locação? Se sim, mais ou menos quantos contratos vocês têm ativos?\\n\\nNão mostre as opções, deixe aberto para o lead responder , interaja com o lead até que ele responda com uma das opções abaixo:\\n\\nNão\\nAté 10 contratos  \\nDe 10 a 25 contratos  \\nDe 25 a 50 contratos  \\nDe 50 a 100 contratos  \\nDe 100 a 200 contratos  \\nDe 200 a 300 contratos  \\nDe 300 a 500 contratos  \\nMais de 500 contratos\",\n      type: \"string\",\n    },\n    amountInCurrentSystemOrBudget: {\n      description:\n        \"Pra entender se conseguimos te atender bem, quanto você estaria disposto a investir por mês em um sistema pra sua imobiliária? \\n(Se preferir, pode estimar um valor aproximado) \\n\\nNão mostre as opções, deixe aberto para o lead responder , interaja com o lead até que ele responda com uma das opções abaixo:\\n\\nNão quis informar  \\naté R$ 100  \\naté R$ 300  \\naté R$ 500  \\naté R$ 800  \\naté R$ 1.200  \\naté R$ 1.600,00  \\nmais de R$ 1.600,00\",\n      type: \"string\",\n    },\n    currentSystem: {\n      description:\n        \" \\nVocê usa algum sistema hoje para gerenciar sua imobiliária? Se sim, qual deles? \\n \\nNão mostre as opções, deixe aberto para o lead responder , interaja com o lead até que ele responda com uma das opções abaixo: \\n \\nNão Utiliza  \\nAlterdata \\nAlude \\nArbo \\nApp Facilita \\nCasaSoft \\nCode 49 \\nImoAlert \\nImobzi \\nImobia \\nImobi Brasil \\nImopro \\niValue \\nJetImob \\nKenlo \\nMicrosistec \\nNido \\nKurole \\nSigasoft \\nUniversal Imoview \\nVista \\nWideSys \\nSami Sistemas \\nSuperLógica \\nSi9 Sistemas \\nSistema Próprio \\nSite Próprio \\nProperfy\",\n      type: \"string\",\n    },\n    rentalChargeMode: {\n      description:\n        ' \\nCaso o lead NÃO trabalhe com locações, defina \"Não Utiliza\" e não faça a pergunta! \\n \\nE hoje, como vocês fazem as cobranças dos aluguéis? \\n \\nNão mostre as opções, deixe aberto para o lead responder , interaja com o lead até que ele responda com uma das opções abaixo: \\n \\nManual/Dinheiro   \\nPIX   \\nTED   \\nBoleto   \\nBoleto - Automático',\n      type: \"string\",\n    },\n    isRealEstate: {\n      description:\n        ' \\nPergunte qual cargo o lead ocupa no mercado imobiliário (ex: \"Qual sua função na imobiliária?\").  \\n \\nSócio / Diretor \\nProprietário \\nCorretor de Imóveis \\nGerente de Vendas \\nGerente de Aluguéis \\nAuxiliar Administrativo \\nEstagiário \\nMarketing \\nOutro Cargo na imobiliária \\nou \"Não trabalho no setor\" \\n \\nSe não trabalhar no setor, agradeça e encerre educadamente.',\n      type: \"string\",\n    },\n    qualificationCompleted: {\n      description:\n        \"Marque como true quando o usuário responder a última pergunta de qualificação (orçamento mensal para a variável amountInCurrentSystemOrBudget)\",\n      type: \"boolean\",\n    },\n    presentationHasSent: {\n      description:\n        \"Marque como true quando a apresentação em PDF for enviada ao cliente. IMPORTANTE: Sempre defina como true após enviar a apresentação para evitar envios duplicados\",\n      type: \"boolean\",\n    },\n  },\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2272,-32],"id":"5a47b4a7-0f5d-470e-974e-6beac81cdf8f","name":"Seta variáveis da conversa"},{"parameters":{"description":"=## TOOL: Atualizar Parâmetros (UP)\n\nOBJETIVO\nSalvar ou corrigir variáveis do fluxo com base na mensagem do usuário.\n\nINPUT OBRIGATÓRIO (SEMPRE EM JSON)\n{\"name\":\"<varName>\",\"value\":<valorTipado>}\n\nQUANDO CHAMAR\n- Sempre que a mensagem do usuário preencher OU corrigir alguma variável.\n- Em mensagens longas, pode chamar UP várias vezes no mesmo turno.\n\nTIPOS ACEITOS\n- boolean → true/false (nunca string \"true\")\n- number → só o número (ex.: \"300 contratos\" → 300)\n- string → texto relevante limpo\n- string[] / number[] → listas\n\n=========================================\n🚨 LÓGICA PARA MENSAGENS CURTAS / DIRETAS\n=========================================\nSe a mensagem for curta (ex: \"Sim\", \"Não\", \"Ok\", \"300\", \"Amanhã\", \"Prefiro não dizer\"), você NÃO DEVE tentar adivinhar o contexto isoladamente.\n\nSIGA ESTE ALGORITMO OBRIGATÓRIO:\n\n1.  **ROLLBACK:** Olhe imediatamente para a **ÚLTIMA MENSAGEM** que VOCÊ (o Agente) enviou ao usuário no turno anterior.\n2.  **MAPPING:** Leia a tabela de `VARIÁVEIS DISPONÍVEIS` e encontre qual variável possui uma `descrição` ou `instrução` que corresponda semanticamente à pergunta que você fez.\n3.  **EXECUÇÃO:**\n    - Se a sua última pergunta foi: \"Você trabalha com locação?\" e o usuário disse \"Sim\".\n      -> Ação: `UP(\"workWithRent\", true)`\n    - Se a sua última pergunta foi: \"Qual o tamanho da equipe?\" e o usuário disse \"10\".\n      -> Ação: `UP(\"teamSize\", \"6 a 10\")` (ou o valor correspondente).\n\n**REGRAS DE OURO PARA CURTAS:**\n* Se o usuário responder \"Sim\" mas sua última mensagem NÃO FOI uma pergunta de Sim/Não (ex: foi uma saudação), NÃO chame o UP.\n* Nunca atualize mais de uma variável se a resposta for apenas \"Sim\" ou \"Não\".\n* Se houver ambiguidade sobre qual pergunta foi feita, NÃO execute o UP.\n\n=========================================\nLÓGICA PARA MENSAGENS LONGAS\n=========================================\n- Analise a frase completa.\n- Para CADA dado identificado que corresponda a uma variável vazia ou que precise de correção:\n  - Execute `UP(name, value)`.\n- Ignore informações que não tenham variável correspondente na tabela.\n\n=========================================\n⛔ REGRAS DE INTERAÇÃO (ANTI-ROBÔ)\n=========================================\n1. **NÃO LISTE OPÇÕES:** A tabela abaixo contém colunas de valores/tipos para sua **referência interna**. Você PROIBIDO de ler essas listas para o usuário, a menos que a instrução da variável diga explicitamente \"Mostre as opções\".\n2. **PERGUNTA ABERTA:** Faça a pergunta de forma natural. Deixe o usuário responder livremente.\n3. **CATEGORIZAÇÃO SILENCIOSA:** Se o usuário der uma resposta que não bate exatamente com a lista (ex: lista tem \"6 a 10\", usuário diz \"somos em 8\"), você deve interpretar e salvar o valor correto da lista (`UP(\"teamSize\", \"6 a 10\")`) SEM corrigir o usuário em voz alta.\n\n## VARIÁVEIS DISPONÍVEIS:\n{{ $('Transforma variáveis em tabela').item.json.tableMarkdown }}","jsCode":"const stages = $('Seta estágios').first().json\nconst vars = $('Seta variáveis da conversa').item.json.data\nconst newQuery = typeof query == 'string' ? JSON.parse(query) : query\n\nconst data = {\n  \"name\": newQuery.name, \n  \"value\": newQuery.value\n}\n\nif (vars[data.name]) {\n  vars[data.name].value = data.value\n}\n\nreturn `VARIÁVEL ATUALIZADA: ${data.name} = ${data.value}.\nSTATUS: O DADO FOI SALVO COM SUCESSO.\n\nPRÓXIMO PASSO OBRIGATÓRIO:\nNÃO responda ao usuário sobre esta variável. \nVOCÊ DEVE EXECUTAR A TOOL GET_STAGE() AGORA IMEDIATAMENTE para saber o que fazer a seguir.`","specifyInputSchema":true,"jsonSchemaExample":"{\n\t\"name\": \"name_of_extracted_var\",\n    \"value\": \"value_of_extracted_var\"\n}"},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.3,"position":[-784,496],"id":"92543c46-2a44-428d-9fd3-696f0d23f1d2","name":"Atualizar paramêtros"},{"parameters":{"httpMethod":"POST","path":"7223c6af-f595-4bc2-b84c-602b8900cd08","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-3248,-32],"id":"054ca6ef-f66b-43bf-84b3-b66e8edd4be4","name":"Webhook","webhookId":"7223c6af-f595-4bc2-b84c-602b8900cd08"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{"temperature":0}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1536,304],"id":"26ffa8da-fdc0-430e-8b71-31cb9f232ee8","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"weD4ayyAuWgClQqA","name":"OpenAi account"}}},{"parameters":{"jsCode":"return {chatInput: $input.first().json.body.message}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3072,-32],"id":"d4deacac-a978-4f28-ade2-2b8996662359","name":"Retorna message"},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"=## TOOL: Busca informações do banco de dados (BK)\n\nOBJETIVO\nBuscar informações institucionais, técnicas ou de preços para responder dúvidas sobre a Apresenta.me.\n\nQUANDO CHAMAR\n- Quando o usuário fizer perguntas (contendo \"?\", \"como funciona\", \"quanto custa\", \"o que é\", etc.).\n- Quando houver dúvida sobre algum detalhe do produto, processo ou regra.\n\nNÃO CHAMAR\n- Quando o usuário estiver só respondendo dados de qualificação (nome, quantidade de contratos, etc.).\n- Para cumprimentos simples (\"bom dia\", \"tudo bem\").\n","tableName":"n8","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[-1056,496],"id":"f843cbe1-869f-41bf-9210-0aa934d01598","name":"Busca informações do banco de dados","credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}}},{"parameters":{"options":{"systemMessage":"=Você está rodando dentro de um fluxo no n8n. Seu papel é ORQUESTRAR TOOLS (`UP`, `GET_STAGE`, `BK`, `PROP`), não conversar de forma livre.\n\nIDENTIDADE\n- Agente: {{ $('Seta perfil').first().json.agentName }}\n- Cargo: {{ $('Seta perfil').first().json.role }}\n- Empresa: {{ $('Seta perfil').first().json.companyName }}\n- Tom/Idioma: {{ $('Seta perfil').first().json.tone }} | {{ $('Seta perfil').first().json.language }}\n- Mensagem inicial: {{ $('Seta perfil').first().json.initialMessage }}\n- Conduta: {{ $('Seta perfil').first().json.conduct }}\n\nTabela de variáveis do fluxo:\n{{ $('Transforma variáveis em tabela').first().json.tableMarkdown }}\n\n================================\nFLUXO OBRIGATÓRIO POR TURNO (ESTRITO)\n================================\nPara CADA mensagem recebida, você deve seguir este pipeline. \n\n1) [SCAN & ACTION - Opcional] \n   - Analise se há dados novos.\n   - SE HOUVER: Chame UP(name, value).\n   - SE NÃO HOUVER: Siga imediatamente para o passo 2.\n\n2) [CHECK - MANDATÓRIO] \n   - Chame A TOOL `GET_STAGE()`.\n   - REGRA DE OURO: Você é OBRIGADO a chamar `GET_STAGE()` em TODO turno, mesmo que não tenha chamado UP, mesmo que seja apenas um \"Oi\". \n   - Sem chamar GET_STAGE, você NÃO SABE o que responder.\n\n3) [LOOP]\n   - Leia o retorno de GET_STAGE:\n   - Se pedir ação de sistema (ex: enviar PDF): Execute e chame GET_STAGE de novo.\n   - Se pedir interação (pergunta): SÓ AQUI você para e monta a resposta final.\n\nRESUMO: \nCenário A (com dados): UP -> GET_STAGE -> Resposta.\nCenário B (sem dados): GET_STAGE -> Resposta.\n\nREGRAS GERAIS\n- Use sempre o tom e a linguagem do perfil.\n- Nunca fale sobre tools, n8n, Redis ou variáveis internas.","returnIntermediateSteps":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-1200,-32],"id":"0cc011a6-c63e-4b36-adc5-1b645aa4ecb5","name":"AI Agent","retryOnFail":false},{"parameters":{"options":{"dimensions":1536}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-1056,656],"id":"475f168d-c957-4166-8365-40bdca667e87","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"weD4ayyAuWgClQqA","name":"OpenAi account"}}},{"parameters":{"operation":"delete","key":"={{ $json.cache_key }}_stages"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2672,160],"id":"f6e2392d-5a28-4841-9880-0defef0b75c7","name":"Deleta cache estagios","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}},"disabled":true},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.output }}","operation":"isNotEmpty"},{"value1":"={{ $json.output }}","operation":"doesNotContain","value2":"function_call"},{"value1":"={{ $json.output }}","operation":"doesNotContain","value2":"tool_calls"}]},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2,"position":[-880,-32],"id":"23822cfb-d14b-4bec-85e2-7726961928b9","name":"Verifica Output Seguro"},{"parameters":{"operation":"set","key":"={{ $('Cria cache key').item.json.cache_key }}_vars","value":"={{ JSON.stringify($('Seta variáveis da conversa').item.json)}}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-304,-48],"id":"47583b2b-4618-4fec-a268-691eebda95dc","name":"Seta cache das variaveis","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"method":"POST","url":"=https://api-chat-joao.apre.tv/api/messages/send","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"={\n    \"accept\": \"application/json, text/plain, */*\",\n    \"accept-language\": \"pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7\",\n    \"authorization\": \"Bearer kZaOTd+YZpjRUyyuQUpigJaEMk4vcW4YOymKPZX0Ts8=\",\n    \"company\": {{ $('Webhook').item.json.body.companyId }},\n    \"content-type\": \"application/json\"\n  } ","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"message","value":"={{ $('AI Agent').item.json.output }}"},{"name":"number","value":"={{ $('Webhook').item.json.body.contact.number }}"},{"name":"addUserName","value":"={{ $('Seta perfil').item.json.agentName }}"},{"name":"whatsappId","value":"={{ $('Webhook').item.json.body.whatsappId }}"},{"name":"messageRepliedId","value":"={{ $('Webhook').item.json.body.messageId }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-528,-48],"id":"dd3f6a1b-f56b-4496-ba0d-0599333e25ee","name":"HTTP Request"}],"connections":{"Transforma variáveis em tabela":{"main":[[{"node":"Seta perfil","type":"main","index":0}]]},"Busca estágio atual":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Enviar apresentação comercial":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Retorna chatInput":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Busca variáveis":{"main":[[{"node":"Seta variáveis da conversa","type":"main","index":0}]]},"Busca estágios":{"main":[[{"node":"Busca variáveis","type":"main","index":0}]]},"Cria cache key":{"main":[[{"node":"Busca estágios","type":"main","index":0},{"node":"Deleta cache estagios","type":"main","index":0}]]},"Seta estágios":{"main":[[{"node":"Retorna chatInput","type":"main","index":0}]]},"Seta perfil":{"main":[[{"node":"Seta estágios","type":"main","index":0}]]},"Seta variáveis da conversa":{"main":[[{"node":"Transforma variáveis em tabela","type":"main","index":0}]]},"Atualizar paramêtros":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Webhook":{"main":[[{"node":"Retorna message","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Retorna message":{"main":[[{"node":"Cria cache key","type":"main","index":0}]]},"Busca informações do banco de dados":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"Verifica Output Seguro","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Busca informações do banco de dados","type":"ai_embedding","index":0}]]},"Deleta cache estagios":{"main":[[{"node":"Delete cache variaveis","type":"main","index":0}]]},"Verifica Output Seguro":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Seta cache das variaveis","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.apresenta.me","x-real-ip":"172.68.191.167","x-real-port":"15479","x-forwarded-for":"131.72.111.129, 172.68.191.167","x-forwarded-proto":"http","x-forwarded-host":"n8n.apresenta.me","x-forwarded-port":"80","remote-host":"172.68.191.167","connection":"close","content-length":"706","accept":"application/json, text/plain, */*","accept-encoding":"gzip, br","user-agent":"axios/1.12.2","cf-ray":"9a966485ebc621f9-NVT","content-type":"application/json","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"131.72.111.129","cf-ipcountry":"BR","cf-visitor":"{\"scheme\":\"https\"}"},"params":{},"query":{},"body":{"message":"27 ao todo","messageId":"2570636","contact":{"id":"38043","name":"554788950332","number":"554788950332","profilePicUrl":"https://pps.whatsapp.net/v/t61.24694-24/425105449_1361615211300388_1143514098522857072_n.jpg?ccb=11-4&oh=01_Q5Aa3AHIkfBZbd3eP-3qeRDcO0qDzUAFurypcKAP91GOhHCZSA&oe=694064A3&_nc_sid=5e03e0&_nc_cat=102","createdAt":"2025-10-09T16:20:11.311-03:00","updatedAt":"2025-12-05T17:46:15.957-03:00","email":"","isGroup":false,"companyId":"5005","whatsappId":"1","onlyResponsible":false,"userId":"1","aprePersonId":"4916708","apreDealId":null,"blocked":false,"meta":{"ignoreCheck":true,"ignorePermission":true,"dontSendSocket":false}},"whatsappId":"1","companyId":5005,"ticketId":87894},"webhookUrl":"https://n8n.apresenta.me/webhook/7223c6af-f595-4bc2-b84c-602b8900cd08","executionMode":"production"}}]},"versionId":"31ae50b4-3f13-4572-b1ea-0bf5a93c18a8","triggerCount":1,"shared":[{"updatedAt":"2025-11-04T18:47:16.654Z","createdAt":"2025-11-04T18:47:16.654Z","role":"workflow:owner","workflowId":"dDaZdsSmHxktrhjc","projectId":"4ToGMYJEWvvDSbcz"}],"tags":[]}