16-12-2025 12:00/workflows/🗣️-apr.sdr-ia-dDaZdsSmHxktrhjc.json
{"updatedAt":"2025-12-16T14:55:42.000Z","createdAt":"2025-11-04T18:47:16.651Z","id":"dDaZdsSmHxktrhjc","name":"🗣️ Apr.SDR IA","active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"delete","key":"={{ $('Cria cache key').item.json.cache_key }}_vars"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2160,-304],"id":"82d16a2d-7240-45c6-9e10-4c474f1e6242","name":"Delete cache variaveis","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"jsCode":"const inputData = $input.first().json;\nconst dataObj = Array.isArray(inputData) ? inputData[0] : inputData;\n\nlet tableMarkdown = \"| VAR | TIPO | OPÇÕES | DESCRIÇÃO | VALOR | \\n|---|---|---|---|\\n\";\n\nfor (const [key, props] of Object.entries(dataObj)) {\n  let optionsFormatted = '-';\n\n  if (props.options) {\n    optionsFormatted = Object.entries(props.options)\n      .map(([optKey, optVal]) => `\\`${optKey}\\`: ${optVal}`)\n      .join('<br>');\n  }\n\n  const cleanDesc = (props.description || '').replace(/\\n/g, ' ');\n\n  tableMarkdown += `| **${key}** | \\`${props.type}\\` | ${optionsFormatted} | ${cleanDesc} | ${props.value ?? ''} |\\n`;\n}\n\nreturn { tableMarkdown };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1536,-16],"id":"715ad9c6-1b55-46ab-be41-ef8771d55cbd","name":"Transforma variáveis em tabela"},{"parameters":{"jsCode":"return {\n  chatInput: JSON.stringify($('Webhook').first().json.body.message)\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-736,-16],"id":"785efff2-7dfd-486c-ab8e-79dd10dfc9c1","name":"Retorna chatInput"},{"parameters":{"operation":"get","key":"={{ $('Cria cache key').item.json.cache_key }}_vars","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2160,-16],"id":"fe06e47a-c5bc-494f-bc1b-53f306da4e52","name":"Busca variáveis","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"cache_key\": \"sdr_{{ $('Webhook').item.json.body.ticketId }}_chat_summary_{{ $('Webhook').item.json.body.contact.number }}_{{ $('Webhook').item.json.body.whatsappId }}_10\"\n} ","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2816,-16],"id":"0616bdad-72a1-40be-8797-c2b6f60329a9","name":"Cria cache key"},{"parameters":{"jsCode":"const vars = $('Seta variáveis da conversa').first().json\nconst cacheStages = JSON.parse($('Busca estágios').first().json.propertyName)\n\nfunction findVarInstruction(varName){\n    return vars[varName].description\n}\n\nfunction findVarType(varName) {\n  return vars[varName].type\n}\n\nfunction findVarValue(varName) {\n  return vars[varName].value\n}\n\nconst stages = cacheStages ?? {\n  \"1. Identificação Inicial\": {\n    \"sortNumber\": 1,\n    \"conditionPrompt\": \"Se é o início da conversa.\",\n    \"requiredDataForExecute\": null,\n    \"actions\": {\n      \"requiredDataForExecute\": [\n        {\n          \"name\": \"name\",\n          \"value\": null\n        }\n      ],\n      \"finalInstructions\": \"Agradeça e pergunte qual a função dele na imobiliária hoje.\"\n    }\n  },\n  \"2. Classificação de Perfil (Cargo)\": {\n    \"sortNumber\": 2,\n    \"conditionPrompt\": \"Se já temos o nome, mas não sabemos o cargo.\",\n    \"requiredDataForExecute\": [\n      {\n        \"name\": \"name\",\n        \"operator\": \"exist\",\n        \"value\": null\n      }\n    ],\n    \"actions\": {\n      \"requiredDataForExecute\": [\n        {\n          \"name\": \"role\",\n          \"value\": null\n        }\n      ],\n      \"finalInstructions\": \"\"\n    }\n  },\n  \"3. Tamanho do Time (Apenas Empresas)\": {\n    \"sortNumber\": 3,\n    \"conditionPrompt\": \"Se não for autônomo, precisamos saber o tamanho do time.\",\n    \"requiredDataForExecute\": [\n      {\n        \"name\": \"isAutonomous\",\n        \"operator\": \"=\",\n        \"value\": false\n      }\n    ],\n    \"actions\": {\n      \"requiredDataForExecute\": [\n        {\n          \"name\": \"teamSize\",\n          \"value\": null\n        }\n      ],\n      \"finalInstructions\": \"\"\n    }\n  },\n  \"4. Contexto de Locação e Carteira\": {\n    \"sortNumber\": 4,\n    \"conditionPrompt\": \"Precisamos entender se trabalham com locação e o tamanho da carteira.\",\n    \"requiredDataForExecute\": [\n      {\n        \"name\": \"role\",\n        \"operator\": \"exist\",\n        \"value\": null\n      }\n    ],\n    \"actions\": {\n      \"requiredDataForExecute\": [\n        {\n          \"name\": \"rentalStatus\",\n          \"value\": null\n        },\n        {\n          \"name\": \"portfolioSize\",\n          \"value\": null\n        }\n      ],\n      \"finalInstructions\": \"\"\n    }\n  },\n  \"5. Foco e Dores\": {\n    \"sortNumber\": 5,\n    \"conditionPrompt\": \"Entender o que buscam (Módulos) e a dor principal.\",\n    \"requiredDataForExecute\": [\n      {\n        \"name\": \"rentalStatus\",\n        \"operator\": \"exist\",\n        \"value\": null\n      }\n    ],\n    \"actions\": {\n      \"requiredDataForExecute\": [\n        {\n          \"name\": \"mainPainPoint\",\n          \"value\": null\n        }\n      ],\n      \"finalInstructions\": null\n    }\n  },\n  \"6. Sistema Atual\": {\n    \"sortNumber\": 6,\n    \"conditionPrompt\": \"Saber a stack atual.\",\n    \"requiredDataForExecute\": [\n      {\n        \"name\": \"mainPainPoint\",\n        \"operator\": \"exist\",\n        \"value\": null\n      }\n    ],\n    \"actions\": {\n      \"requiredDataForExecute\": [\n        {\n          \"name\": \"currentSystem\",\n          \"value\": null\n        }\n      ],\n      \"finalInstructions\": \"\"\n    }\n  },\n  \"7. Detalhamento Locação (Galho Ativo)\": {\n    \"sortNumber\": 7,\n    \"conditionPrompt\": \"SE E SOMENTE SE o lead já atua com locações ('active'), aprofundar em contratos e repasse.\",\n    \"requiredDataForExecute\": [\n      {\n        \"name\": \"rentalStatus\",\n        \"operator\": \"=\",\n        \"value\": \"active\"\n      }\n    ],\n    \"actions\": {\n      \"requiredDataForExecute\": [\n        {\n          \"name\": \"numberOfContracts\",\n          \"value\": null\n        },\n        {\n          \"name\": \"transferMode\",\n          \"value\": null\n        }\n      ],\n      \"finalInstructions\": \"\"\n    }\n  },\n  \"8. Orçamento\": {\n    \"sortNumber\": 8,\n    \"conditionPrompt\": \"Fase final de qualificação.\",\n    \"requiredDataForExecute\": [\n      {\n        \"name\": \"currentSystem\",\n        \"operator\": \"exist\",\n        \"value\": null\n      }\n    ],\n    \"actions\": {\n      \"requiredDataForExecute\": [\n        {\n          \"name\": \"budget\",\n          \"value\": null\n        }\n      ],\n      \"finalInstructions\": \"\"\n    }\n  },\n  \"9. Verificar se o lead aceita agendamento (Handover)\": {\n    \"sortNumber\": 9,\n    \"conditionPrompt\": \"Finalizar e passar para humano.\",\n    \"requiredDataForExecute\": [\n      {\n        \"name\": \"budget\",\n        \"operator\": \"exist\",\n        \"value\": null\n      },\n      {\n        \"name\": \"handoverConfirmed\",\n        \"operator\": \"!exist\",\n        \"value\": null\n      }\n    ],\n    \"actions\": {\n      \"requiredDataForExecute\": [\n        {\n          \"name\": \"handoverConfirmed\",\n          \"value\": null\n        }, \n        {\n          \"name\": \"bestTimeToContact\", \n          \"value\": null\n        }\n      ],\n      \"finalInstructions\": \"\"\n    }\n  },\n  \"10. Extrair o melhor horário de agendamento desejado\": {\n    \"sortNumber\": 10,\n    \"conditionPrompt\": \"\",\n    \"requiredDataForExecute\": [\n      {\n        \"name\": \"handoverConfirmed\",\n        \"operator\": \"=\",\n        \"value\": true\n      }\n    ],\n    \"actions\": {\n      \"requiredDataForExecute\": [\n        {\n          \"name\": \"bestTimeToContact\", \n          \"value\": null\n        }\n      ],\n      \"finalInstructions\": \"1. Agradeça o usuário e acrescente: 'Anotei as informações aqui, e assim que possível um especialista vai te chamar! Até mais 👋'.\\n 2. Não diga que irá realizar o agendamento, não é sua responsabilidade.\\n 3. Encerre o atendimento de forma cordial, falando o nome do usuário.\"\n    }\n  }\n}\n\n// Iterar sobre todos os stages\nObject.keys(stages).forEach(stageKey => {\n  const stage = stages[stageKey];\n  \n  // Verificar se existe actions e requiredDataForExecute\n  if (stage.actions && stage.actions.requiredDataForExecute) {\n    // Iterar sobre cada item de requiredDataForExecute\n    stage.actions.requiredDataForExecute.forEach(item => {\n      // Adicionar a propriedade instructions\n      item.instruction = findVarInstruction(item.name);      \n      item.type = findVarType(item.name)\n      item.value = findVarValue(item.name) || undefined\n    });\n  }\n});\n\nreturn stages;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-928,-16],"id":"26867d44-c0b8-48de-9d4b-bb61ffc4cb36","name":"Seta estágios"},{"parameters":{"jsCode":"return {\n  tone: \"Engraçado\",\n  agentName: \"Alicia\",\n  internalName: \"Alicia da Apresenta.me\",\n  initialMessage: \"Olá, tudo bem? 👋 \\n\\nEu sou a Alicia, assistente da Apresenta.me, vou te ajudar entendendo melhor sua necessidade.\",\n  language: \"pt-BR\",\n  timeZone: \"Sao Paulo (GTM -3)\",\n  role: \"SDR Sênior\",\n  companyName: \"Apresenta.me\",\n  companyDepartment: \"Software\",\n  companySite: \"https://apresenta.me\",\n    conduct: \"\\n### IDENTIDADE E OBJETIVO\\n- ATUAÇÃO: Você é um SDR profissional da Apresenta.me (SaaS de gestão imobiliária);\\n- MISSÃO: Qualificar o lead para verificar aderência ao ICP. Seu sucesso é definido pela qualidade da informação extraída, não pela venda imediata;\\n- POSTURA: Aja como um consultor especialista: cordial, breve e focado em entender o cenário do cliente.\\n\\n### DIRETRIZES DE COMUNICAÇÃO\\n- CONCISÃO: Respostas limitadas a 130 caracteres (salvo extrema necessidade). Seja direto;\\n- TOM DE VOZ: Espelhamento (calibre conforme o lead). Use emojis moderados (😄👍🏢🚀) para suavizar;\\n- MARCA: O sistema escreve-se 'Apresenta.me', mas refira-se a ele foneticamente como 'Apresentame' (fluido);\\n\\n### PROTOCOLO DE NEUTRALIDADE (CRÍTICO)\\n- IMPARCIALIDADE TOTAL: Ao ouvir sobre o sistema, método ou ferramenta atual do lead, RESTRINJA-SE a confirmar o entendimento.\\n- PROIBIDO ELOGIAR: Jamais use adjetivos como 'ótimo', 'interessante' ou 'muito bom' para qualquer ferramenta utilizada pelo lead.\\n- PROIBIDO DESDENHAR: Jamais critique ou aponte falhas sobre qualquer ferramenta utilizada pelo lead. O foco é a qualificação, não a comparação.\\n- AÇÃO ESPERADA: Se o lead disser 'Uso planilha', responda: 'Entendi, usa planilhas.' e siga para a próxima pergunta de qualificação.\\n\\n### REGRAS OPERACIONAIS\\n- URLS: Apenas forneça URLs oficiais e exatas;\\n- FLUXO: Apenas UMA pergunta por vez. Evite sobrecarga cognitiva;\\n- CONVERSÃO: O convite para demonstração só deve ocorrer APÓS a validação completa do ICP;\\n- MENU: Jamais apresente opções de múltipla escolha. Faça perguntas abertas e interprete a resposta;\\n- CONCORRÊNCIA: Nunca mencione concorrentes, foque apenas na dor e no cenário do lead.\",\n  verbosity: \"medium\"\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1344,-16],"id":"95ead263-a07f-473e-99aa-3499332685b3","name":"Seta perfil"},{"parameters":{"jsCode":"const cacheVars = $(\"Busca variáveis\").first().json.propertyName\n  ? JSON.parse($(\"Busca variáveis\").first().json.propertyName)\n  : undefined;\n\nreturn (\n  cacheVars ?? {\n    name: {\n      description:\n        \"OBJETIVO: # Identificar o LEAD. Pergunte diretamente o nome do lead para iniciar o atendimento. Ex: 'Com quem eu falo?' ou 'Qual seu nome?'. 😊\",\n      type: \"string\",\n    },\n    role: {\n      description:\n        \"OBJETIVO: # Saber o cargo do LEAD na imobiliária. Pergunte objetivamente sem mostrar as opções do exemplo: 'Qual é o seu cargo ou função na imobiliária hoje?'. (Ex: Corretor, Sócio, Gerente, etc). 🏢 [LOGIC: Sempre atualize isAutonomous com base na resposta do usuário.\\n Usuário disse que é autônomo ou indicou que trabalha sozinho? Responda isAutonomous como TRUE. Usuário responde que trabalha em qualquer cargo que não seja cargo de autonomia? isAutonomous = FALSE. (Ex de cargos de autonomia: Corretor autônomo, autônomo, 'trabalho sozinho', etc.)]\",\n      type: \"string\",\n    },\n    isAutonomous: {\n      description:\n        \"Classificação Interna 🤖: Baseado na resposta sobre o cargo ('role'). Defina 'true' se ele trabalha sozinho/autônomo. Se o lead for autônomo, teamSize = 1 -> SEMPRE.\",\n      type: \"boolean\",\n    },\n    teamSize: {\n      description:\n        \"OBJETIVO: # Saber quantas pessoas trabalham na imobiliária. Pergunte o tamanho total da equipe. Ex: 'Quantas pessoas trabalham na operação da imobiliária hoje (incluindo sócios e corretores)?'. 👥\",\n      type: \"number\",\n    },\n    rentalStatus: {\n      description:\n        \"OBJETIVO: # Entender o cenário da imobiliária referente ao trabalho com locações. Pergunte se o usuário já trabalha com locações, se está começando a estruturar agora.\\n Deixe o usuário responder livremente e assuma os valores aceitos das opções.\",\n      type: \"string\",\n      options: {\n        active: \"Já trabalha com locações.\",\n        starting: \"Está começando agora com locações.\",\n        none: \"Não trabalha com locações.\",\n      },\n    },\n    portfolioSize: {\n      description:\n        \"OBJETIVO: # Saber a quantidade de imóveis na carteira, somando venda e locação. Queremos o volume de imóveis. Pergunte objetivamente: 'Quantos imóveis (venda + locação) vocês têm na carteira hoje, aproximadamente? 🏘️'\",\n      type: \"number\",\n    },\n    interestFocus: {\n      description:\n        \"Classificação Interna 🎯: Baseado nas dores, o que ele precisa.\",\n      type: \"string\",\n      options: {\n        site_crm: \"Precisa de SITE + CRM (gerenciar vendas)\",\n        finance: \"Precisa de gestão financeira\",\n        all: \"Precisa de tudo\",\n        unknown: \"Não precisa de nada (improvável, mas possível)\",\n      },\n    },\n    mainPainPoint: {\n      description:\n        \"OBJETIVO: # Saber o maior problema da imobiliária. Pergunte qual é o maior problema que o lead identifica na imobiliária. (Ex: '[NOME DO LEAD], e hoje, como você descreveria o maior problema ou dificuldade que você(s) têm identificado?'). A resposta do usuário descreverá um problema, reclamação do sistema atual, gargalo no processo ou irá informar que não possui um sistema (seja CRM, ou gestão). Capture o texto integral desse relato. Se a resposta for o suficiente para responder interestFocus, responda-a também.\",\n      type: \"string\",\n    },\n    currentSystem: {\n      description:\n        \"OBJETIVO: # Descobrir se o LEAD já utiliza algum sistema imobiliário. Pergunte se o lead já utiliza algum sistema atualmente. Exemplo de pergunta: 'Vocês utilizam algum sistema ou CRM imobiliário hoje? Se sim, qual?'. 💻\",\n      type: \"string\",\n      options: {\n        superlogica: \"Superlógica\",\n        tecimob: \"Tecimob\",\n        kenlo: \"Kenlo\",\n        jetimob: \"Jetimob\",\n        vista: \"Vista Software / Loft\",\n        si9: \"Si9 Sistemas\",\n        imobibrasil: \"ImobiBrasil\",\n        imobex: \"Imobex\",\n        mold_systems: \"Mold Systems\",\n        code49: \"CODE49\",\n        sub100: \"Sub 100 (SGL)\",\n        colibex: \"CRM Colibex\",\n        painel_imobiliario: \"Painel Imobiliário\",\n        imovel_integrado: \"Imóvel Integrado\",\n        imopro: \"CRM Imopro\",\n        imoalert: \"ImoAlert\",\n        facilita: \"Facilita / App Facilita\",\n        imobzi: \"Imobzi\",\n        waysoft: \"WaySoft\",\n        midas: \"Midas\",\n        galax_imob: \"Galax Imob\",\n        flip: \"Flip CRM\",\n        univen: \"Univen\",\n        imobia: \"Imobia\",\n        promentor: \"PróMentor\",\n        imob_system: \"Imob System\",\n        imob_integrada: \"Imob Integrada\",\n        alude: \"Alude\",\n        sobressai: \"Sobressai\",\n        imonov: \"Imonov\",\n        gedaim: \"Gedaím / Goyaz Sistemas\",\n        pepin: \"Pepin Tecnologia\",\n        orange_imob: \"OrangeImob\",\n        migmidia: \"MigMidia\",\n        sigasoft: \"SigaSoft\",\n        universal: \"Universal Software\",\n        castel_digital: \"Castel Digital\",\n        gestao_real: \"Gestão Real\",\n        nido: \"Nido Tecnologia\",\n        samiloca: \"Samiloca\",\n        microsistec: \"Microsistec\",\n        imogestao: \"ImoGestão\",\n        union: \"Union Software\",\n        simbo: \"Simbo CRM\",\n        arbo: \"Arbo\",\n        alterdata: \"Alterdata\",\n        widesys: \"Widesys\",\n        kurole: \"Kurole\",\n        other: \"Outro / Não listado\",\n      },\n    },\n    numberOfContracts: {\n      description:\n        \"OBJETIVO: # Saber a quantidade de contratos de locação ativos. Pergunte: 'Quantos contratos de locação ativos vocês administram atualmente?'. 📄\",\n      type: \"number\",\n    },\n    transferMode: {\n      description:\n        \"OBJETIVO: # Saber o método utilizado para repassar valores do aluguel para os proprietários. Pergunte: 'Qual método vocês usam para repassar o aluguel aos proprietários hoje?'. Não mostre: (Ex: Manual, via banco, split de pagamento). Deixe o usuário responder livremente, apenas abstraia e responda. 💸\",\n      type: \"string\",\n    },\n    budget: {\n      description:\n        \"OBJETIVO: # Saber quanto o LEAD está disposto a investir mensalmente em um novo sistema. Pergunte: 'Você tem uma estimativa de investimento mensal para contratar um sistema?'. 💰 Regra: Se ele não quiser falar, salve: 'Não quis informar'.\",\n      type: \"string\",\n    },\n    handoverConfirmed: {\n      description:\n        \"OBJETIVO: # Confirmar a intenção do LEAD de agendar uma call com um consultor. O lead aceita EXPLICITAMENTE o agendamento? Considere que ele aceitou o agendamento de forma explicita se ele responder com 'Sim', 'Claro', 'Pode ser', 'Aham' ou algo que indique a positividade, por favor!. 🤝\",\n      type: \"boolean\",\n    },\n      bestTimeToContact: {\n      description:\n        \"OBJETIVO: # Identificar qual o horário que o LEAD prefere realizar a call. Pergunte para o Lead exatamente com esta mensagem: Ótimo! Um de nossos especialistas vai entrar em contato para informar os horários disponíveis para a sua demonstração.\\n\\n Qual é o melhor horário para que possamos falar com você?.IMPORTANTE: Converta a resposta para um valor no padrão 00:00 (ex: 15h -> 15:00) \",\n      type: \"time\",\n      },\n  }\n);\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1744,-16],"id":"5a47b4a7-0f5d-470e-974e-6beac81cdf8f","name":"Seta variáveis da conversa"},{"parameters":{"httpMethod":"POST","path":"7223c6af-f595-4bc2-b84c-602b8900cd08","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-3184,-16],"id":"054ca6ef-f66b-43bf-84b3-b66e8edd4be4","name":"Webhook","webhookId":"7223c6af-f595-4bc2-b84c-602b8900cd08"},{"parameters":{"jsCode":"return {chatInput: $input.first().json.body.message}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3008,-16],"id":"d4deacac-a978-4f28-ade2-2b8996662359","name":"Retorna message"},{"parameters":{"operation":"set","key":"={{ $('Cria cache key').item.json.cache_key }}_vars","value":"={{ JSON.stringify($('Atualiza variáveis').first().json.vars)}}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1168,-16],"id":"47583b2b-4618-4fec-a268-691eebda95dc","name":"Seta cache das variaveis","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"method":"POST","url":"=https://api-chat-joao.apre.tv/api/messages/send","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"={\n    \"accept\": \"application/json, text/plain, */*\",\n    \"accept-language\": \"pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7\",\n    \"authorization\": \"Bearer kZaOTd+YZpjRUyyuQUpigJaEMk4vcW4YOymKPZX0Ts8=\",\n    \"company\": {{ $('Webhook').item.json.body.companyId }},\n    \"content-type\": \"application/json\"\n  } ","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"message","value":"={{ $('Parse na resposta').first().json.output.response }}"},{"name":"number","value":"={{ $('Webhook').item.json.body.contact.number }}"},{"name":"addUserName","value":"={{ $('Seta perfil').item.json.agentName }}"},{"name":"whatsappId","value":"={{ $('Webhook').item.json.body.whatsappId }}"},{"name":"messageRepliedId","value":"={{ $('Webhook').item.json.body.messageId }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[944,-16],"id":"dd3f6a1b-f56b-4496-ba0d-0599333e25ee","name":"HTTP Request"},{"parameters":{"operation":"get","key":"={{ $('Cria cache key').first().json.cache_key }}_lastVar","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2368,-16],"id":"49b22786-bfb8-46bd-a6ec-c52f8cde2a15","name":"Busca last var","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"jsCode":"const lastVarCache = $('Busca last var').first().json.propertyName\n\nreturn {\n  lastVar: lastVarCache\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1136,-16],"id":"fb3b3349-693c-46f2-a126-69d4ad419a8e","name":"Seta lastVar solicitada"},{"parameters":{"operation":"set","key":"={{ $('Cria cache key').item.json.cache_key }}_lastVar","value":"={{ JSON.stringify($('Busca estágio').first().json.currentVar)}}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1376,-16],"id":"c1074199-bd68-4d51-887f-47651cfc9cd8","name":"Seta cache lastVar solicitada","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"operation":"delete","key":"={{ $('Cria cache key').first().json.cache_key }}_lastVar"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2368,-304],"id":"f6e2392d-5a28-4841-9880-0defef0b75c7","name":"Deleta cache lastVar","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"operation":"get","key":"={{ $('Cria cache key').item.json.cache_key }}_stages","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1952,-16],"id":"75d7c66c-6c25-496d-a069-2aec43c46d34","name":"Busca estágios","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"operation":"set","key":"={{ $('Cria cache key').item.json.cache_key }}_stages","value":"={{ JSON.stringify($('Busca estágio').first().json.stages) }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1616,-16],"id":"517f5a78-3ce0-40e3-9160-ded03c6013c1","name":"Seta cache estágios","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"jsCode":"// Pega o output bruto\nconst rawOutput = $input.first().json.output;\n\n// REGEX PODEROSA:\n// 1. \\[Used tools: -> Encontra onde começa o log\n// 2. [\\s\\S]*?      -> Pega qualquer coisa (incluindo quebras de linha)\n// 3. \\]\\]          -> Até encontrar o fechamento duplo de colchetes\n// A flag 'g' remove todas as ocorrências\nlet cleanText = rawOutput.replace(/\\[Used tools:[\\s\\S]*?\\]\\]/g, \"\");\n\n// Remove espaços em branco do começo e do fim que sobraram\ncleanText = cleanText.trim();\n\n// O DeepSeek as vezes solta um \"Thought:\" perdido, removemos também\ncleanText = cleanText.replace(/^Thought:[\\s\\S]*?Answer:/im, \"\").trim();\n\nreturn {\n  // Retornamos um JSON criado AGORA, na mão, já que a IA não mandou\n  output: {\n    response: cleanText\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[752,-16],"id":"37d13c20-1e04-4a3b-a151-5fdecf3d199d","name":"Parse na resposta"},{"parameters":{"operation":"delete","key":"={{ $json.cache_key }}_stages"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1984,-304],"id":"e7735817-393d-469e-a393-c9538efcb2c1","name":"Deleta cache estágios","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_chat_histories","mode":"list","cachedResultName":"n8n_chat_histories"},"deleteCommand":"delete","where":{"values":[{"column":"session_id","value":"={{ $('Cria cache key').first().json.cache_key }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1776,-304],"id":"e90ef4db-97a0-4734-a1fc-dcdb5a6232fc","name":"Delete table or rows","credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1f5bcbd1-6685-469d-bbf2-7939008b234d","leftValue":"={{ $('Webhook').item.json.body.message.trim() }}","rightValue":"clear:cache:111222","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2608,-16],"id":"f3686edf-ea09-4fcf-ad9f-048b6c91d9c3","name":"If"},{"parameters":{"options":{"dimensions":1536}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[464,528],"id":"eed76718-9114-48da-b56c-2864e5ec663d","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"weD4ayyAuWgClQqA","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Cria cache key').item.json.cache_key }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[304,304],"id":"d9447668-6f6c-44d1-99ef-79cd3fb29c50","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"=# TOOL: DETECTOR DE NECESSIDADE DE BUSCA (BK)\n**PRIORIDADE CRÍTICA:** Você é o guardião do conhecimento. Sua falha em acionar a busca resulta em alucinação do Agente.\n\n## DIRETRIZ DE ACIONAMENTO (LÓGICA \"PARANOICA\")\nSua configuração padrão é **TRUE** (ACIONAR BUSCA).\nVocê só deve retornar **FALSE** (NÃO ACIONAR) se o input do usuário se encaixar estritamente na **LISTA DE EXCLUSÃO**.\n\n### 1. QUANDO ACIONAR (GATILHOS OBRIGATÓRIOS) - RETURN TRUE\nSe a mensagem contiver **QUALQUER** um destes elementos, acione a ferramenta:\n* **Símbolo de Interrogação (?):** Se tem `?`, SEMPRE chama (mesmo que pareça retórica).\n* **Dúvidas Implícitas:** Frases como \"Gostaria de saber\", \"Queria entender\", \"Tenho dúvida\", \"Não sei se\".\n* **Termos de Negócio/Produto:** Menções a \"preço\", \"valor\", \"funcionalidade\", \"integração\", \"sistema\", \"contrato\", \"suporte\", \"empresa\", \"vocês\".\n* **Objeções ou Hesitação:** \"Achei caro\", \"Vou pensar\", \"Talvez\", \"Depende\".\n* **Input Híbrido (PERIGO):** O usuário respondeu a variável MAS adicionou um comentário.\n    * *Ex:* \"Sou corretor. O sistema de vocês faz site?\" -> **TRUE**\n    * *Ex:* \"Tenho 10 imóveis. É compatível com iPhone?\" -> **TRUE**\n\n### 2. LISTA DE EXCLUSÃO (QUANDO NÃO CHAMAR) - RETURN FALSE\nRetorne FALSE **apenas** se a mensagem for **PURAMENTE**:\n* **Dado Seco:** Apenas o valor da variável solicitada (Ex: \"João\", \"Sócio\", \"1199999999\", \"Corretor de Vendas\").\n* **Confirmação/Negação Simples:** \"Sim\", \"Não\", \"Claro\", \"Pode ser\", \"Isso\", \"Correto\".\n* **Saudação Simples (Sem perguntas):** \"Oi\", \"Olá\", \"Boa tarde\", \"Tudo bem\".\n* **Comando de Parada:** \"Pare\", \"Sair\", \"Tchau\".\n\n## REGRA DE DESEMPATE (TIERBREAKER)\nVocê está em dúvida se é apenas um dado ou uma dúvida?\n**DECISÃO:** ACIONE A BUSCA (TRUE).\nÉ melhor buscar e não encontrar nada (o Agente ignora), do que não buscar e o Agente alucinar.","tableName":"n8","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[464,368],"id":"c29cb692-63de-4981-8c7c-2c1a0d508115","name":"Busca informações do banco de dados","credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}}},{"parameters":{"promptType":"define","text":"={{ $('Retorna chatInput').item.json.chatInput }}","options":{"systemMessage":"=ROLE: {{ $('Seta perfil').first().json.role }}\nPERFIL:\n- Nome: {{ $('Seta perfil').first().json.agentName }}\n- Empresa: {{ $('Seta perfil').first().json.companyName }}\n- Tom de Voz: {{ $('Seta perfil').first().json.tone }} | {{ $('Seta perfil').first().json.verbosity }}\n- Site: {{ $('Seta perfil').item.json.companySite }}\n- Msg Inicial: {{ $('Seta perfil').item.json.initialMessage }}\n\n# CONDUTA/COMPORTAMENTO (LEI SUPREMA):\n{{ $('Seta perfil').item.json.conduct }}\n\nINPUTS:\n- Stage: \"{{ $json.currentStage ?? 'Fluxo finalizado' }}\"\n- PreTarget: \"{{$json.finalInstruction}}\"\n- Target: \"{{ $json.currentInstruction }}\" (ORDEM FINAL OBRIGATÓRIA)\n- LastVar: \"{{ $('Busca last var').first().json.propertyName }}\" (Se null = Início)\n\n## HIERARQUIA DE COMANDO (OVERRIDE)\n1. **PRIORIDADE MÁXIMA:** As regras definidas em `# CONDUTA/COMPORTAMENTO` anulam e sobrepõem QUALQUER outra regra deste prompt.\n2. **RESOLUÇÃO DE CONFLITO:** Se o `Target` pedir algo que a `Conduta` proíbe, siga a `Conduta`.\n\n## DIRETRIZ SUPREMA (A \"LEI\")\nSEU OBJETIVO PRIMÁRIO É OBTER A RESPOSTA PARA O [TARGET].\nPORÉM, se o usuário tiver dúvidas, você DEVE saná-las ANTES de cobrar o Target.\n\n## PROTOCOLO DE LEITURA DE DADOS (CRÍTICO) <--- COLE AQUI\nATENÇÃO: A ferramenta de busca pode retornar dados em formato \"JSON Sujo\" ou \"Escapado\".\nEXEMPLO: `{\"text\": \"{\\\"pageContent\\\":\\\"A resposta está aqui...\\\"}\"}`\nREGRA: Você DEVE ignorar a formatação de código e ler o texto que está dentro do campo `pageContent` ou `text`.\nNUNCA descarte a informação só porque ela parece um código JSON. O conteúdo dentro das aspas É a resposta.\n\n## REGRAS DE ESTRUTURA (PRETARGET)\n1. **SE `PreTarget` EXISTIR E `Target` EXISTIR:** Output = **PRETARGET + TARGET**.\n2. **SE `Target` NÃO EXISTIR (Vazio/Null):** Output = **PRETARGET**.\n\n## ALGORITMO DE DECISÃO (SEGURANÇA MÁXIMA)\nAnalise o input do usuário e execute APENAS O PRIMEIRO bloco que for verdadeiro (Lógica \"Short-Circuit\"):\n\n**IF (`LastVar` IS NULL/VAZIO) -> [MODO INICIAL]**\n  - **Cenário:** É a primeira mensagem da conversa.\n  - **Execução:**\n    1. Verifique: A `Msg Inicial` já faz a pergunta do `Target`?\n      - SIM: Use apenas a `Msg Inicial`.\n      - NÃO: Use `Msg Inicial` + `Target`.\n\n**ELSE IF (User expressa CONFUSÃO, OBJEÇÃO ou DÚVIDA DO CONTEXTO) -> [MODO EDUCATIVO]**\n  - **Gatilhos:** \"Como assim?\", \"Não entendi\", \"Por que você quer saber?\", \"Para que isso?\".\n  - **Execução:**\n    1. **Explicação:** Justifique o motivo da pergunta anterior.\n    2. **Target:** Reformule a pergunta do `Target`.\n  - **TEMPLATE:** `[Explicação] + [Conectivo] + [Target Simplificado]`\n\n**ELSE IF (User FAZ PERGUNTA ou COMENTÁRIO SOBRE O PRODUTO/EMPRESA) -> [MODO CONSULTOR]**\n  - **Gatilhos:** \"Tem repasse?\", \"Integra com X?\", \"Qual o preço?\", \"Isso é automático?\".\n  - **ATENÇÃO:** O usuário saiu do script para tirar uma dúvida.\n  - **EXECUÇÃO OBRIGATÓRIA (TOOL CALLING):**\n    1. **PARE TUDO.** Você NÃO sabe a resposta de cabeça.\n    2. **ACIONE A FERRAMENTA \"Busca informações do banco de dados\"**.\n    3. **SE A TOOL RETORNAR CONTEÚDO ÚTIL:**\n       - Responda a dúvida do usuário usando APENAS a informação da Tool.\n       - Termine puxando de volta para o `Target`.\n    4. **SE A TOOL NÃO RETORNAR NADA (Vazio/Null/Unknown):**\n       - Diga: \"Não tenho essa informação específica aqui agora, mas você pode conferir em {{ $('Seta perfil').item.json.companySite }}.\"\n       - Termine puxando de volta para o `Target`.\n  - **TEMPLATE:** `[Resposta Baseada na Tool] + \"Dito isso...\" + [Target]`\n\n**ELSE (Qualquer outra resposta, afirmação ou reação curta) -> [MODO FLUXO]**\n  - **Cenário:** User respondeu a pergunta anterior (\"Sou corretor\"), concordou (\"Ok\") ou saudou (\"Olá\").\n  - **Execução:**\n    1. Valide brevemente (\"Perfeito!\", \"Entendi.\", \"Show!\").\n    2. Insira o `Target` direto.\n  - **TEMPLATE:** `[Validação Curta] + [Target Direto]`\n\n### RESPOSTA FINAL:\nGere APENAS o texto para o usuário seguindo o cenário selecionado."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[400,-16],"id":"b98b652f-5d43-4927-9970-384ff383da31","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini-2024-07-18","mode":"list","cachedResultName":"gpt-4o-mini-2024-07-18"},"builtInTools":{},"options":{"temperature":0}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[176,272],"id":"18939429-c94d-44af-a1aa-70cfbefc1a6b","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"weD4ayyAuWgClQqA","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"=[CONTEXTO]\nLastVar: \"{{ $('Seta lastVar solicitada').item.json.lastVar }}\" -> Procure-a na tabela de variáveis\n\n[INPUT DO USUÁRIO]\n\"\"\"\n{{ $json.chatInput }}\n\"\"\"\n\n[TABELA DE VARIÁVEIS]\n{{ $('Transforma variáveis em tabela').item.json.tableMarkdown }}\n\nREFERÊNCIA DE CALENDÁRIO (USE ISTO PARA DATAS):\nHoje: {{ $now.setZone('America/Sao_Paulo').toFormat('cccc (dd/MM)') }}\n{{ [1,2,3,4,5].map(d => $now.setZone('America/Sao_Paulo').plus({days: d}).setLocale('pt-BR').toFormat(\"'+ \" + d + \" dias' (cccc) = yyyy-MM-dd\")).join('\\n') }}\n","hasOutputParser":true,"options":{"systemMessage":"=[CRIATIVA/AVANÇADA — ATUALIZADA v2.2] Extrator JSON Semântico “Fato→Variável” com Intenção + Inferência Cruzada Genérica\n\n[PT-BR] ATUE COMO: Extrator JSON Semântico “Fato→Variável” com Desambiguação Avançada e Lógica de Dependência.\n\nENTRADA (no UserMessage):\n- LastVar (string com nome da variável foco OU null/vazio)\n- VariablesTable (VAR/NAME, TIPO, OPÇÕES, DESCRIÇÃO, VALOR)\n- Texto do usuário\n\nRegra do debug: inclua se ≥2 fatos OU fora-de-contexto.\n\nREGRAS DE OURO\n1) Priorize LastVar quando ela existir e for válida, mas nunca force preenchimento se o conteúdo for fora de contexto.\n2) Sempre separe a mensagem em FATOS atômicos ANTES de mapear variáveis.\n3) Um FATO (ou SUBFATO) só pode preencher 1 variável PRINCIPAL, mas pode disparar VARIÁVEIS DERIVADAS (ver Regra 7).\n4) Não sobrescreva variáveis preenchidas (value != null/undefined/vazio), exceto com correção explícita.\n5) REGRA “SE SIM, QUAL?” (Suficiência):\n   - Se a DESCRIÇÃO de uma variável indicar pergunta condicional “Se sim, qual/quais?”:\n     a) Responder apenas “Sim/Claro/Ok” é INSUFICIENTE para preencher a variável de DETALHE (“qual”).\n     b) Responder “Não/Nunca” deve virar false para a variável booleana correspondente.\n     c) Responder o DETALHE implica “sim”: extraia o detalhe E a variável booleana de gate (se existir).\n\n6) REGRA — LastVar NULA + MENSAGEM TRIVIAL (NÃO EXTRAIR NADA)\n   - Se LastVar for null/vazio E mensagem for apenas saudação/confirmação (\"Oi\", \"Ok\", \"Entendi\"), retorne `{ \"extracted\": {}, \"noContext\": true }`.\n   - Se contiver dados (nome, cargo, sistema), mapeie por match global.\n\n7) REGRA DE INFERÊNCIA CRUZADA (LÓGICA DE DEPENDÊNCIA ABSTRATA)\n  - Você deve ler a coluna `DESCRIÇÃO` de cada variável identificada.\n    1. Procure pela tag **`[LOGIC: ...]`** ou instruções condicionais (Se... Então...).\n    2. Se encontrar uma regra lógica vinculada a um valor que você acabou de extrair, você é OBRIGADO a aplicá-la.\n8) **NUNCA** marque uma variável como undefined, a menos que exista uma opção com esse valor na variável.\n9) REGRA DE BLOQUEIO DE CONTRA-PERGUNTA: Se o texto do usuário for uma dúvida, questionamento ou contiver interrogação (\"?\"), NÃO EXTRAIA esse texto como valor da variável. EXCEÇÃO: Somente extraia se a DESCRIÇÃO da LastVar pedir explicitamente para capturar uma dúvida (ex: \"Salve a dúvida do cliente\"). AÇÃO: Se for uma pergunta comum (ex: \"Por que você quer saber?\", \"Quem é você?\")\n──────────────────────────────────────────────────────────────────────────────\n1) EXTRAÇÃO DE FATOS + CLASSIFICAÇÃO DE INTENÇÃO\n──────────────────────────────────────────────────────────────────────────────\n- Limpe ruído conversacional.\n- Segmente o texto em FATOS.\n- Aplique a Regra 7 para preencher variáveis dependentes automaticamente."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-480,-16],"id":"9fe107c9-4377-41ea-8d1d-0afd89e4c1ed","name":"AI Agent - Verifica sem tem variável para atualizar"},{"parameters":{"jsCode":"const vars = $('Seta variáveis da conversa').item.json\nconst foundVariables = $input.first().json.output.foundVariables\n\nfor (const foundVariable of foundVariables) {\n  const data = {\n    name: foundVariable.variable, \n    value: foundVariable.value\n  }\n\n  if (vars[data.name]) {\n    vars[data.name].value = data.value\n  }  \n}\n\nreturn {\n  updatedVars: foundVariables.map(v => v.variable), \n  vars\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-128,-16],"id":"ec62442e-ca30-4cb4-9f13-cae9ca59d5df","name":"Atualiza variáveis"},{"parameters":{"jsCode":"const stages = $('Seta estágios').item.json\nconst vars = $('Atualiza variáveis').item.json.vars\nconst stagesEntries = Object.entries(stages)\n\nlet currentStage = null\nlet currentInstruction = null\nlet currentVar = null\nlet finalInstruction = null\nfor (const [key, value] of stagesEntries) {\n  const entryConditions = value.requiredDataForExecute\n\n  if (entryConditions && Array.isArray(entryConditions) && entryConditions.length > 0) {\n    let conditionsMet = true\n\n    for (const condition of entryConditions) {\n      const varObj = vars[condition.name]\n      const actualValue = varObj ? varObj.value : null\n\n      switch (condition.operator) {\n        case 'exist':\n          if (actualValue === null || actualValue === undefined || actualValue === '') {\n            conditionsMet = false\n          }\n          break\n        case '!exist':\n          if (actualValue !== null && actualValue !== undefined && actualValue !== '') {\n            conditionsMet = false\n          }\n          break\n        case '=':\n          if (actualValue != condition.value) {\n            conditionsMet = false\n          }\n          break\n      }\n\n      if (!conditionsMet) break\n    }\n\n    if (!conditionsMet) continue\n  }\n\n  value.actions.requiredDataForExecute = value.actions.requiredDataForExecute.map(v => {\n    const varValue = vars[v.name] ? vars[v.name].value : null\n    return {\n      ...v,\n      value: varValue || undefined\n    }\n  })\n\n  const stagePendingVarIndex = value.actions.requiredDataForExecute.findIndex(v => !v.value)\n  const stagePendingVar = value.actions.requiredDataForExecute[stagePendingVarIndex]\n\n  if (stagePendingVar) {\n    currentInstruction = stagePendingVar.instruction\n    currentVar = stagePendingVar.name\n    currentStage = {\n      ...value,\n      name: key\n    }\n    break\n  }\n\n  if (!value.performed) {\n    stages[key].performed = true\n    finalInstruction = value.actions.finalInstructions\n\n    if (!finalInstruction?.trim()) continue\n\n    currentVar = null\n    currentStage = {\n      ...value,\n      name: key\n    }\n\n    delete currentStage['performed']\n  }\n}\n\nreturn {\n  currentInstruction,\n  finalInstruction,\n  currentStage: currentStage?.name || undefined,\n  currentVar,\n  stages\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[80,-16],"id":"9b3f2468-c7ac-4c96-8c87-c2cd49c66423","name":"Busca estágio"},{"parameters":{"respondWith":"json","responseBody":"{\n  \"status\": \"OK\"\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1824,-16],"id":"405c583f-cfc1-42f8-9c34-de3f106d6e69","name":"Respond to Webhook"},{"parameters":{"schemaType":"manual","inputSchema":"{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"foundVariables\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"object\",\n\t\t\t\t\"properties\": {\n\t\t\t\t\t\"variable\": {\n\t\t\t\t\t\t\"type\": \"string\",\n\t\t\t\t\t\t\"description\": \"Nome exato da variável identificada na tabela.\"\n\t\t\t\t\t},\n\t\t\t\t\t\"value\": {\n\t\t\t\t\t\t\"oneOf\": [\n\t\t\t\t\t\t\t{ \"type\": \"string\" },\n\t\t\t\t\t\t\t{ \"type\": \"number\" },\n\t\t\t\t\t\t\t{ \"type\": \"boolean\" },\n\t\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\t\"type\": \"array\",\n\t\t\t\t\t\t\t\t\"items\": { \"type\": \"string\" }\n\t\t\t\t\t\t\t}\n\t\t\t\t\t\t],\n\t\t\t\t\t\t\"description\": \"Valor extraído respeitando o tipo original (ex: '2 a 5' string, 10 number, true boolean).\"\n\t\t\t\t\t}\n\t\t\t\t},\n\t\t\t\t\"required\": [\"variable\", \"value\"]\n\t\t\t}\n\t\t},\n\t\t\"noContext\": {\n\t\t\t\"type\": \"boolean\",\n\t\t\t\"description\": \"True se o input for trivial ou irrelevante; False se contiver dados ou responder a lastVar.\"\n\t\t}\n\t},\n\t\"required\": [\"foundVariables\", \"noContext\"]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-336,208],"id":"88b39a40-2eab-4bd5-9ce8-31926de94af1","name":"Structured Output Parser"},{"parameters":{"options":{"temperature":0}},"type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[-528,192],"id":"3da57db0-6ebf-4379-9c17-bef925b18a1b","name":"DeepSeek Chat Model","credentials":{"deepSeekApi":{"id":"RhJeeogDvgiUtqv2","name":"DeepSeek account"}}}],"connections":{"Transforma variáveis em tabela":{"main":[[{"node":"Seta perfil","type":"main","index":0}]]},"Retorna chatInput":{"main":[[{"node":"AI Agent - Verifica sem tem variável para atualizar","type":"main","index":0}]]},"Busca variáveis":{"main":[[{"node":"Busca estágios","type":"main","index":0}]]},"Cria cache key":{"main":[[{"node":"If","type":"main","index":0}]]},"Seta estágios":{"main":[[{"node":"Retorna chatInput","type":"main","index":0}]]},"Seta perfil":{"main":[[{"node":"Seta lastVar solicitada","type":"main","index":0}]]},"Seta variáveis da conversa":{"main":[[{"node":"Transforma variáveis em tabela","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Retorna message","type":"main","index":0}]]},"Retorna message":{"main":[[{"node":"Cria cache key","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Seta cache das variaveis","type":"main","index":0}]]},"Busca last var":{"main":[[{"node":"Busca variáveis","type":"main","index":0}]]},"Seta lastVar solicitada":{"main":[[{"node":"Seta estágios","type":"main","index":0}]]},"Seta cache das variaveis":{"main":[[{"node":"Seta cache lastVar solicitada","type":"main","index":0}]]},"Deleta cache lastVar":{"main":[[{"node":"Delete cache variaveis","type":"main","index":0}]]},"Busca estágios":{"main":[[{"node":"Seta variáveis da conversa","type":"main","index":0}]]},"Seta cache lastVar solicitada":{"main":[[{"node":"Seta cache estágios","type":"main","index":0}]]},"Delete cache variaveis":{"main":[[{"node":"Deleta cache estágios","type":"main","index":0}]]},"Parse na resposta":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Deleta cache estágios":{"main":[[{"node":"Delete table or rows","type":"main","index":0}]]},"If":{"main":[[{"node":"Deleta cache lastVar","type":"main","index":0}],[{"node":"Busca last var","type":"main","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Busca informações do banco de dados","type":"ai_embedding","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Busca informações do banco de dados":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"Parse na resposta","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent - Verifica sem tem variável para atualizar":{"main":[[{"node":"Atualiza variáveis","type":"main","index":0}]]},"Atualiza variáveis":{"main":[[{"node":"Busca estágio","type":"main","index":0}]]},"Busca estágio":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Seta cache estágios":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent - Verifica sem tem variável para atualizar","type":"ai_outputParser","index":0}]]},"DeepSeek Chat Model":{"ai_languageModel":[[{"node":"AI Agent - Verifica sem tem variável para atualizar","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.apresenta.me","x-real-ip":"172.68.191.167","x-real-port":"19694","x-forwarded-for":"131.72.111.129, 172.68.191.167","x-forwarded-proto":"http","x-forwarded-host":"n8n.apresenta.me","x-forwarded-port":"80","remote-host":"172.68.191.167","connection":"close","content-length":"726","accept":"application/json, text/plain, */*","accept-encoding":"gzip, br","user-agent":"axios/1.12.2","cf-ray":"9aeefe0deedf4d92-NVT","content-type":"application/json","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"131.72.111.129","cf-ipcountry":"BR","cf-visitor":"{\"scheme\":\"https\"}"},"params":{},"query":{},"body":{"message":"Vcs tem repasse automático ??","messageId":"2572889","contact":{"id":"38043","name":"554788950332","number":"554788950332","profilePicUrl":"https://pps.whatsapp.net/v/t61.24694-24/425105449_1361615211300388_1143514098522857072_n.jpg?ccb=11-4&oh=01_Q5Aa3QHzRXU-xBGJNM_fl3nTC--sath3jSPw9u8qdaK0uMRJ7g&oe=694E74A3&_nc_sid=5e03e0&_nc_cat=102","createdAt":"2025-10-09T16:20:11.311-03:00","updatedAt":"2025-12-16T11:50:15.424-03:00","email":"","isGroup":false,"companyId":"5005","whatsappId":"1","onlyResponsible":false,"userId":"1","aprePersonId":"4916708","apreDealId":null,"blocked":false,"meta":{"ignoreCheck":true,"ignorePermission":true,"dontSendSocket":false}},"whatsappId":"1","companyId":5005,"ticketId":87894},"webhookUrl":"https://n8n.apresenta.me/webhook/7223c6af-f595-4bc2-b84c-602b8900cd08","executionMode":"production"}}]},"versionId":"61c773cf-77e2-42d2-86d8-5cf427de3042","triggerCount":1,"shared":[{"updatedAt":"2025-11-04T18:47:16.654Z","createdAt":"2025-11-04T18:47:16.654Z","role":"workflow:owner","workflowId":"dDaZdsSmHxktrhjc","projectId":"4ToGMYJEWvvDSbcz"}],"tags":[]}