14-06-2026 12:00/workflows/enviar-apresentação-comercial-wd0uAb0Sm1fW5YNt.json
{"updatedAt":"2026-02-06T16:52:47.000Z","createdAt":"2025-11-07T20:07:37.699Z","id":"wd0uAb0Sm1fW5YNt","name":"Enviar apresentação comercial","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"message","type":"any"},{"name":"number"},{"name":"addUserName"},{"name":"whatsappId","type":"number"},{"name":"messageRepliedId","type":"number"},{"name":"company","type":"number"}]}},"id":"c055762a-8fe7-4141-a639-df2372f30060","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[272,352]},{"parameters":{"url":"https://s.apresenta.me/comercial/presentation/Apresenta.me_2025.3.pdf","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[512,352],"id":"9089a97e-43bb-4714-87d4-4aa1dbfafdb9","name":"Baixa apresentação comercial"},{"parameters":{"method":"POST","url":"={{ $env.APRECHAT_URL_API }}api/messages/send","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"={\n    \"accept\": \"application/json, text/plain, */*\",\n    \"accept-language\": \"pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7\",\n    \"authorization\": \"Bearer kZaOTd+YZpjRUyyuQUpigJaEMk4vcW4YOymKPZX0Ts8=\",\n    \"company\": {{ $json.company }},\n    \"content-type\": \"application/json\"\n  } ","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"message","value":"={{ $json.message }}"},{"name":"number","value":"={{ $json.number }}"},{"name":"addUserName","value":"={{ $json.addUserName }}"},{"name":"whatsappId","value":"={{ $json.whatsappId }}"},{"name":"messageRepliedId","value":"={{ $json.messageRepliedId }}"},{"parameterType":"formBinaryData","name":"medias","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[736,352],"id":"d3b3c681-b282-4d1b-802a-9b1534b1b1c3","name":"Envia apresentação comercial"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Baixa apresentação comercial","type":"main","index":0}]]},"Baixa apresentação comercial":{"main":[[{"node":"Envia apresentação comercial","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"message":"Segue proposta comercial 🚀🚀","number":"554788964508","addUserName":"Alicia","whatsappId":79,"messageRepliedId":2568698,"company":10}}]},"versionId":"9320890b-71f7-4243-9288-6cc861edf0be","triggerCount":0,"shared":[{"updatedAt":"2025-11-07T20:07:37.704Z","createdAt":"2025-11-07T20:07:37.704Z","role":"workflow:owner","workflowId":"wd0uAb0Sm1fW5YNt","projectId":"4ToGMYJEWvvDSbcz"}],"tags":[]}