03-11-2025 18:00/workflows/✍️-transcrição-de-áudios-4SmvYpAReMt3md6z.json
{"createdAt":"2025-08-27T13:47:05.260Z","updatedAt":"2025-08-28T14:52:07.000Z","id":"4SmvYpAReMt3md6z","name":"✍️ Transcrição de áudios","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"audio-transcribe","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1696,-208],"id":"107d6dfe-a4cb-4b03-baad-546bb3cfe67f","name":"Webhook","webhookId":"d30a28b6-f99f-4cb0-9fea-ddd4f260201a"},{"parameters":{"url":"={{ $('Webhook').item.json.body.url }}","options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-960,96],"id":"88e3bf77-fd0a-443f-827e-a3b01f6ce424","name":"Download na URL"},{"parameters":{"resource":"audio","operation":"transcribe","binaryPropertyName":"file","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-704,96],"id":"bf70043b-3fbf-4a3b-8fa3-da8345c550d7","name":"Transcrever áudios","credentials":{"openAiApi":{"id":"weD4ayyAuWgClQqA","name":"OpenAi account"}}},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-480,96],"id":"8d8a703a-0922-4033-931c-8037cd2acda6","name":"Retorna transcrição"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"transcriptions","mode":"list","cachedResultName":"transcriptions"},"limit":1,"where":{"values":[{"column":"key","value":"={{ $json.body.key }}"},{"column":"url","value":"={{ $json.body.url }}"}]},"combineConditions":"OR","options":{"outputColumns":["transcription","id"]}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-1472,-208],"id":"21d80af8-f80e-41ea-9def-2b31728566d2","name":"Select rows from a table","alwaysOutputData":true,"credentials":{"mySql":{"id":"awjBJmfpm2ILlA4I","name":"MySQL account"}},"onError":"continueRegularOutput"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"text\": \"{{ $json.transcription }}\"\n} ","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-976,-224],"id":"c4ed9b9d-f5bf-459d-8837-0c41129520d3","name":"Retorna transcrição do banco de dados"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7988128f-981e-4af9-90db-fabe5ac0f9d1","leftValue":"={{ $json?.id?.toBoolean() }}","rightValue":"","operator":{"type":"boolean","operation":"exists","singleValue":true}},{"id":"00a83d30-b5a8-4bb0-a72e-4d549a9d13a7","leftValue":"={{ $('Webhook').item.json.body.force }}","rightValue":"true","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1232,-208],"id":"9ecc3a40-0ef8-4a2d-a246-c2ba6cc0f215","name":"Se existir transcrição salva","onError":"continueRegularOutput"},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"transcriptions","mode":"list","cachedResultName":"transcriptions"},"dataMode":"defineBelow","columnToMatchOn":"id","valueToMatchOn":"={{ $('Select rows from a table').item.json.id }}","valuesToSend":{"values":[{"column":"key","value":"={{ $('Webhook').item.json.body.key }}"},{"column":"duration","value":"={{ $json.usage.seconds }}"},{"column":"transcription","value":"={{ $json.text }}"},{"column":"url","value":"={{ $('Webhook').item.json.body.url }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-272,96],"id":"7375a96a-0b78-4f2a-a5ac-39ab3468b1cc","name":"Insere ou atualiza transcrição no banco de dados1","credentials":{"mySql":{"id":"awjBJmfpm2ILlA4I","name":"MySQL account"}}}],"connections":{"Webhook":{"main":[[{"node":"Select rows from a table","type":"main","index":0}]]},"Download na URL":{"main":[[{"node":"Transcrever áudios","type":"main","index":0}]]},"Transcrever áudios":{"main":[[{"node":"Retorna transcrição","type":"main","index":0}]]},"Select rows from a table":{"main":[[{"node":"Se existir transcrição salva","type":"main","index":0}]]},"Se existir transcrição salva":{"main":[[{"node":"Retorna transcrição do banco de dados","type":"main","index":0}],[{"node":"Download na URL","type":"main","index":0}]]},"Retorna transcrição":{"main":[[{"node":"Insere ou atualiza transcrição no banco de dados1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"fcfbcb3f-460a-4885-b7a4-98c0f4262c59","triggerCount":1,"shared":[{"createdAt":"2025-08-27T13:47:05.264Z","updatedAt":"2025-08-27T13:47:05.264Z","role":"workflow:owner","workflowId":"4SmvYpAReMt3md6z","projectId":"4ToGMYJEWvvDSbcz"}],"tags":[]}