03-11-2025 18:00/workflows/🎲-rag-apresenta.me-nQFtNzMPQw4qKbaY.json
{"createdAt":"2025-08-27T17:47:57.694Z","updatedAt":"2025-11-03T20:50:01.000Z","id":"nQFtNzMPQw4qKbaY","name":"🎲 RAG Apresenta.me","active":true,"isArchived":false,"nodes":[{"parameters":{"mode":"insert","tableName":"n8","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[640,880],"id":"4ef4b705-a450-463c-9b75-e5b964a04b38","name":"Postgres PGVector Store","credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[992,1440],"id":"62c3df08-1627-476e-93c5-9246cae64f47","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"weD4ayyAuWgClQqA","name":"OpenAi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[784,1056],"id":"aa227bf0-054b-4a63-939f-73afb602f989","name":"Default Data Loader"},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8","mode":"list","cachedResultName":"n8"},"deleteCommand":"delete","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-16,880],"id":"50c3c61f-9567-4426-ac89-edaa7ddde4b2","name":"Delete table or rows","executeOnce":true,"credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}}},{"parameters":{"jsCode":"return $('MySQL - Base de conhecimento').all()"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,880],"id":"af8c9260-43ce-4a24-b164-642f56a587a6","name":"Retorna base de conhecimento depois de remover do banco de dados"},{"parameters":{"options":{"systemMessage":"=## 🧠 Apre.IA – Agente da Apresenta.me  \n**Versão 2025-10-21 | PT-BR**\n\n### Identidade  \nSou *Apre.IA*, assistente oficial da *Apresenta.me*, treinada com a experiência do time para orientar gestores, corretores e colaboradores com **clareza, precisão e empatia**.  \nFalo como quem **conhece o sistema e o dia a dia das imobiliárias**, com segurança e tom consultivo.\n\n---\n\n### Diretrizes Principais  \n- Usar **apenas informações da KB**.  \n- **Nunca inventar** valores, links, nomes ou políticas.  \n- Se faltar dado:  \n  > “No momento, não tenho informações o suficiente para responder, mas o setor responsável pode ajudar!”  \n- Linguagem **profissional, direta e acolhedora** (até ~5 linhas).  \n- Evitar “eu”, “seu/sua”; preferir “da imobiliária”, “do cliente” etc.  \n- Postura: **especialista confiante, consultor técnico e empático**.\n\n---\n\n### Contexto e Recuperação (RAG)  \n1. Buscar trechos relevantes na **KB** (*top-k 6–8*, priorizando recentes).  \n2. Injetar histórico compacto (`r`, `t`, `s`, `ts`) e interpretar **cronologicamente**.  \n3. Priorizar **a última mensagem do usuário**.  \n4. Em caso de dúvida, **confirmar antes de responder**.  \n5. Se houver conflito entre histórico e KB, **a KB prevalece**.  \n6. Faltando dado essencial → recusar educadamente e indicar o setor.\n\n---\n\n### Estilo de Resposta  \n- Formatar em **markdown para WhatsApp**: *itálico*, **negrito**, listas curtas e emojis sutis.  \n- Só cumprimentar se o usuário cumprimentar.  \n- Citar o nome do contato naturalmente:  \n  > “Perfeito, *Lucas*! Acesse Financeiro → Repasses → Criar repasse.”  \n- Frases completas e firmes, com linguagem simples e técnica na medida.  \n- Transmitir **autoridade + empatia**, como uma especialista da Apresenta.me.\n\n---\n\n### Inteligência Empática  \nSe pedir **treinamento ou ajuda em módulo**:  \n1. Entender a necessidade antes de encaminhar.  \n2. Buscar instrução na KB e orientar com clareza.  \n3. Se persistir a dificuldade:  \n   > “Que pena, {{nome}}! O time responsável vai entrar em contato pra ajudar, tudo bem?”  \n4. Evitar redirecionar sem tentar resolver.\n\n---\n\n### Diretriz Final  \n- A **KB é soberana**.  \n- O **histórico apenas apoia**.  \n- Cada resposta deve refletir **segurança, domínio técnico e confiança na marca**.  \n\n\n### O que nunca fazer\n- Nunca informar ao usuário que você é capaz de fazer algo que não está nas suas ferramentas.\n- Nunca dizer ao usuário que irá resolver o problema dele sem ter uma ferramenta que de fato resolva o problema do usuário.\n\n---\n\n### Informações do contato  \n`{{ JSON.stringify($('Webhook').item.json.body.contact) }}`  \n\n### Contexto da conversa\nO agente principal envia o contexto da conversa resumido:  \n`{{ JSON.stringify($json.output) }}`  \n\n**Objetivo:** apoiar a Apre.IA na formulação da resposta final, sem gerar texto completo. \n","returnIntermediateSteps":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[2800,960],"id":"b32c117f-9912-4f3e-86ae-cbd0a675cb33","name":"AI Agent","retryOnFail":false},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"=## 🧠 Apre.IA – Consulta à Base de Conhecimento  \n**Função:** Buscar trechos da **KB da Apresenta.me** sobre produtos, serviços, processos e materiais oficiais.\n\n### Instruções  \n- Buscar **somente** informações da Apresenta.me.  \n- Retornar trechos **curtos e objetivos** (até ~200 tokens).  \n- **Nunca inventar** dados, prazos, valores ou políticas.  \n- Priorizar **versões recentes**.  \n- Ignorar mensagens genéricas ou saudações.  \n- Se não houver correspondência clara → **retornar vazio** (sem tentativa de resposta). \n","tableName":"n8","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[2848,1312],"id":"8c847fb0-beed-4239-b6d8-e27c5dbe9fe0","name":"Busca informações do banco de dados","credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":12}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1504,880],"id":"a1e4a982-4ca1-4047-9127-3fa608f4679c","name":"Schedule Trigger"},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"folderId","value":"1Q5MVSNtRnlHXXB184By_RdQXZzDKqony"}]},"options":{}},"id":"fc7aedff-6ad6-4dae-b05d-2cc875682d7a","name":"Seta id da pasta","type":"n8n-nodes-base.set","typeVersion":2,"position":[-1296,880]},{"parameters":{"authentication":"oAuth2","operation":"get","documentURL":"={{ $json.id }}"},"id":"ef7041e9-6d5e-42fc-b900-bef3aae2c8f3","name":"Obter texto do arquivo","type":"n8n-nodes-base.googleDocs","typeVersion":1,"position":[-672,880],"credentials":{"googleDocsOAuth2Api":{"id":"vOaUUz7O7G4o3EwZ","name":"Google Docs account"}}},{"parameters":{"resource":"fileFolder","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"={{ $json.folderId }}","mode":"id"}},"options":{"fields":["id","name","mimeType"]}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1088,880],"id":"bef0b580-2416-4327-9693-1375ca439a9a","name":"Search files and folders","credentials":{"googleDriveOAuth2Api":{"id":"rAwAhGC176WFfTt8","name":"Google Drive account"}}},{"parameters":{"jsCode":"return $input.all().filter(f => f.json.mimeType == 'application/vnd.google-apps.document');"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-896,880],"id":"8776ee24-31ee-462b-b4c1-c5321ed5199c","name":"Filtra por docs"},{"parameters":{"jsCode":"return $input.all().map(content => ({\"text\": content.json.content}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-464,880],"id":"6e3455d5-64bf-432a-9a2a-7d728bedf8b5","name":"Mapeia o conteúdo"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"pages","mode":"list","cachedResultName":"pages"},"returnAll":true,"options":{"outputColumns":["text"]}},"id":"f434d2e8-a5ce-4cbe-a94d-8cc127b42e55","name":"MySQL - Base de conhecimento","type":"n8n-nodes-base.mySql","typeVersion":2,"position":[-240,880],"executeOnce":true,"credentials":{"mySql":{"id":"xvtwxzFEQVXLZjm0","name":"MYSQL ajuda_apresenta"}}},{"parameters":{"jsCode":"return [...$input.all(), ...$('Mapeia o conteúdo').all()];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[416,880],"id":"8efe4be8-e55b-4727-b578-50208af0e32c","name":"Junta dados do documento com dados do banco"},{"parameters":{"httpMethod":"POST","path":"67c7d548-f722-4bed-ad82-72e6f747b960","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[1232,656],"id":"462b4e4e-2bcf-4d01-bd2e-b14099440cb8","name":"Webhook","webhookId":"67c7d548-f722-4bed-ad82-72e6f747b960"},{"parameters":{"jsCode":"return {chatInput: $input.first().json.body.message}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1440,656],"id":"53570313-6854-44f6-8bfc-ce38d56e8701","name":"Retorna message"},{"parameters":{"method":"POST","url":"=https://api-chat-joao.apre.tv/api/messages/send","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"={\n    \"accept\": \"application/json, text/plain, */*\",\n    \"accept-language\": \"pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7\",\n    \"authorization\": \"Bearer kZaOTd+YZpjRUyyuQUpigJaEMk4vcW4YOymKPZX0Ts8=\",\n    \"company\": {{ $('Webhook').item.json.body.companyId }},\n    \"content-type\": \"application/json\"\n  } ","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"message","value":"={{ $('AI Agent').item.json.output }}"},{"name":"number","value":"={{ $('Webhook').item.json.body.contact.name }}"},{"name":"addUserName","value":"Apr.IA"},{"name":"whatsappId","value":"={{ $('Webhook').item.json.body.whatsappId }}"},{"name":"messageRepliedId","value":"={{ $('Webhook').item.json.body.messageId }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3120,960],"id":"85e1f1a6-d979-4137-9748-8813662374d4","name":"HTTP Request"},{"parameters":{"jsCode":"function cleanText(s) {\n  if (!s) return \"\";\n  // remove markdown leve e múltiplos espaços\n  s = s.replace(/[\\*_~`]+/g, \"\")\n       .replace(/\\s+/g, \" \")\n       .trim();\n  // corta para 220 chars\n  if (s.length > 220) s = s.slice(0, 217) + \"…\";\n  return s;\n}\n\nfunction roleFrom(msg) {\n  // dataJson.key.fromMe === true => agente (a); caso contrário, usuário (u)\n  const fromMe = msg?.dataJson?.key?.fromMe === true || msg?.fromMe === true;\n  return fromMe ? \"a\" : \"u\";\n}\n\nfunction tsFrom(msg) {\n  return msg.updatedAt || msg.createdAt || null;\n}\n\nfunction isNoise(t) {\n  if (!t) return true;\n  const low = t.toLowerCase();\n  const greetings = [\"oi\", \"ola\", \"olá\", \"opa, tudo bem?\", \"ooooii\"];\n  if (greetings.includes(low)) return true;\n  if (low.length < 2) return true;\n  return false;\n}\n\nconst raw = JSON.parse($('Webhook').first().json.body.lastMessages) || [];\nconsole.log({ raw })\nconst mapped = raw.map(m => ({\n  r: roleFrom(m),\n  t: cleanText(m.body || m?.dataJson?.message?.conversation || \"\"),\n  ts: tsFrom(m)\n}))\n.filter(m => !isNoise(m.t));\n\n// manter somente últimas 10 úteis (ordenar por ts asc e pegar tail)\nmapped.sort((a,b) => (new Date(a.ts||0)) - (new Date(b.ts||0)));\nconst trimmed = mapped;\n\n// mesclar mensagens consecutivas do mesmo role quando for continuação simples\nconst merged = [];\nfor (const m of trimmed) {\n  const last = merged[merged.length - 1];\n  if (last && last.r === m.r && (last.t + \" \" + m.t).length <= 220) {\n    last.t = cleanText(last.t + \" \" + m.t);\n    last.ts = m.ts; // manter o timestamp mais recente do bloco\n  } else {\n    merged.push({...m});\n  }\n}\n\nreturn {\n  chatInput: $input.first().json.chatInput,\n  lastMessageCompact: JSON.stringify(merged)\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1648,656],"id":"b7018087-55a9-4ee4-9852-828b35a11e42","name":"Compacta as últimas mensagens"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2720,1184],"id":"6cb09f7d-db1d-4403-8ed5-7e65580733d4","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"weD4ayyAuWgClQqA","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"=Você é um analista especializado em interpretar conversas com clientes.  \nEntenda de forma clara o que o cliente precisa, não invente informações\nCom base nas mensagens abaixo, produza um resumo analítico e objetivo que identifique:\n\n1. O **tom da conversa** (ex: irritado, neutro, satisfeito, confuso, solícito etc.)\n2. Os **principais desejos e necessidades do cliente**\n3. O **último objetivo ou solicitação mencionada**\n4. O último **problema/objetivo** do cliente foi resolvido (resolved) ?\n\nLegenda das mensagens:\n- `r`: papel (`\"u\"` = usuário, `\"a\"` = agente)  \n- `t`: texto limpo (sem markdown)  \n- `ts`: timestamp ISO local  \n\nMensagens recentes:\n{{ $('Compacta as últimas mensagens').item.json.lastMessageCompact }}\n\nResumo da última mensagem enviada pelo cliente.\n{{ $('Compacta as últimas mensagens').item.json.chatInput }}\n","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[2256,960],"id":"dc002a90-c4a3-4508-b337-5ac56143ef05","name":"AI - Gerar resumo das mensagens"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2192,1168],"id":"9c21ee70-fd2b-4da1-9309-391b51e5cd83","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"weD4ayyAuWgClQqA","name":"OpenAi account"}}},{"parameters":{"jsCode":"return {\n  output: $input.first().json.output || JSON.parse($('Se tiver resumo').first().json.propertyName),\n  chatInput: $('Webhook').first().json.body.message\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2608,960],"id":"dbd11e32-34d2-40eb-a51d-060f27a97467","name":"Transforma resumo em objeto literal"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"title\": \"ConversationAnalysisOutput\",\n  \"additionalProperties\": false,\n  \"required\": [\"analysis\"],\n  \"properties\": {\n    \"analysis\": {\n      \"type\": \"object\",\n      \"additionalProperties\": false,\n      \"required\": [\"summary\", \"tone\", \"needs\", \"lastObjective\", \"resolved\"],\n      \"properties\": {\n        \"summary\": {\n          \"type\": \"string\",\n          \"description\": \"Resumo conciso da conversa, destacando desejos, contexto e pontos-chave. Sem markdown.\"\n        },\n        \"tone\": {\n          \"type\": \"string\",\n          \"description\": \"Tom identificado na conversa (ex: irritado, neutro, satisfeito, confuso, solícito, entusiasmado, frustrado).\"\n        },\n        \"needs\": {\n          \"type\": \"array\",\n          \"description\": \"Lista dos principais desejos ou necessidades do cliente em frases curtas.\",\n          \"items\": {\n            \"type\": \"string\"\n          }\n        },\n        \"lastObjective\": {\n          \"type\": \"string\",\n          \"description\": \"Último objetivo ou ação solicitada pelo cliente, de forma resumida e direta.\"\n        },\n        \"resolved\": {\n          \"type\": \"boolean\",\n          \"description\": \"Indica se o último problema ou objetivo do cliente foi resolvido (true ou false).\"\n        }\n      }\n    }\n  }\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[2432,1168],"id":"74601887-912d-4a90-86af-2870e4715022","name":"Structured Output Parser"},{"parameters":{"operation":"set","key":"=chat_summary_{{ $('Webhook').item.json.body.contact.number }}_{{ $('Webhook').item.json.body.whatsappId }}_10","value":"={{ JSON.stringify($json.output) }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[3680,960],"id":"cca62f24-e866-428b-a393-d0daf3e8e37b","name":"Salva resumo em cache","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[3280,1200],"id":"317437bc-c92f-4630-802d-3cc578db2ef7","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"weD4ayyAuWgClQqA","name":"OpenAi account"}}},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"title\": \"ConversationAnalysisOutput\",\n  \"additionalProperties\": false,\n  \"required\": [\"analysis\"],\n  \"properties\": {\n    \"analysis\": {\n      \"type\": \"object\",\n      \"additionalProperties\": false,\n      \"required\": [\"summary\", \"tone\", \"needs\", \"lastObjective\", \"resolved\"],\n      \"properties\": {\n        \"summary\": {\n          \"type\": \"string\",\n          \"description\": \"Resumo conciso da conversa, destacando desejos, contexto e pontos-chave. Sem markdown.\"\n        },\n        \"tone\": {\n          \"type\": \"string\",\n          \"description\": \"Tom identificado na conversa (ex: irritado, neutro, satisfeito, confuso, solícito, entusiasmado, frustrado).\"\n        },\n        \"needs\": {\n          \"type\": \"array\",\n          \"description\": \"Lista dos principais desejos ou necessidades do cliente em frases curtas.\",\n          \"items\": {\n            \"type\": \"string\"\n          }\n        },\n        \"lastObjective\": {\n          \"type\": \"string\",\n          \"description\": \"Último objetivo ou ação solicitada pelo cliente, de forma resumida e direta.\"\n        },\n        \"resolved\": {\n          \"type\": \"boolean\",\n          \"description\": \"Indica se o último problema ou objetivo do cliente foi resolvido (true ou false).\"\n        }\n      }\n    }\n  }\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[3472,1168],"id":"ac4b7d29-04f7-4e07-ab06-054e2dafb622","name":"Structured Output Parser1"},{"parameters":{"promptType":"define","text":"=Você é um analista especializado em interpretar resumo de conversas com clientes.  \nEntenda de forma clara o que o resumo diz e apenas complemente o resumo com a nova resposta gerada pelo agente de IA.\nCom base no resumo abaixo, Atualize o resumo:\n\n1. O **tom da conversa** (ex: irritado, neutro, satisfeito, confuso, solícito etc.)\n2. Os **principais desejos e necessidades do cliente**\n3. O **último objetivo ou solicitação mencionada**\n4. O último **problema/objetivo** do cliente foi resolvido (resolved) ?\n\nÚltimo resumo gerado:\n{{ JSON.stringify($('Transforma resumo em objeto literal').first().json.output) }}\n\nResumo da última mensagem enviada pelo cliente:\n{{ $('Transforma resumo em objeto literal').first().json.chatInput }}\n\nResposta gerada pelo Agente de IA:\n{{ $('AI Agent').first().json.output }}\n","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[3328,960],"id":"892b2642-c670-430e-8d7c-4cf282bb297b","name":"AI - Atualizar resumo"},{"parameters":{"operation":"get","key":"=chat_summary_{{ $('Webhook').item.json.body.contact.number }}_{{ $('Webhook').item.json.body.whatsappId }}_10","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1856,656],"id":"59aa3e3d-6ac8-432b-b80d-4f354daac6b7","name":"Busca resumo no cache","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4d398db1-d160-433f-b5dc-07134ceb5b92","leftValue":"={{ $json.propertyName.toBoolean() }}","rightValue":"","operator":{"type":"boolean","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2064,656],"id":"b6dcf293-311e-459a-a88f-89dabcbe130d","name":"Se tiver resumo"}],"connections":{"Embeddings OpenAI":{"ai_embedding":[[{"node":"Postgres PGVector Store","type":"ai_embedding","index":0},{"node":"Busca informações do banco de dados","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Postgres PGVector Store","type":"ai_document","index":0}]]},"Delete table or rows":{"main":[[{"node":"Retorna base de conhecimento depois de remover do banco de dados","type":"main","index":0}]]},"Retorna base de conhecimento depois de remover do banco de dados":{"main":[[{"node":"Junta dados do documento com dados do banco","type":"main","index":0}]]},"Busca informações do banco de dados":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Seta id da pasta","type":"main","index":0}]]},"Seta id da pasta":{"main":[[{"node":"Search files and folders","type":"main","index":0}]]},"Obter texto do arquivo":{"main":[[{"node":"Mapeia o conteúdo","type":"main","index":0}]]},"Search files and folders":{"main":[[{"node":"Filtra por docs","type":"main","index":0}]]},"Filtra por docs":{"main":[[{"node":"Obter texto do arquivo","type":"main","index":0}]]},"Mapeia o conteúdo":{"main":[[{"node":"MySQL - Base de conhecimento","type":"main","index":0}]]},"MySQL - Base de conhecimento":{"main":[[{"node":"Delete table or rows","type":"main","index":0}]]},"Junta dados do documento com dados do banco":{"main":[[{"node":"Postgres PGVector Store","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Retorna message","type":"main","index":0}]]},"Retorna message":{"main":[[{"node":"Compacta as últimas mensagens","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Compacta as últimas mensagens":{"main":[[{"node":"Busca resumo no cache","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI - Gerar resumo das mensagens","type":"ai_languageModel","index":0}]]},"AI - Gerar resumo das mensagens":{"main":[[{"node":"Transforma resumo em objeto literal","type":"main","index":0}]]},"Transforma resumo em objeto literal":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI - Gerar resumo das mensagens","type":"ai_outputParser","index":0}]]},"HTTP Request":{"main":[[{"node":"AI - Atualizar resumo","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"AI - Atualizar resumo","type":"ai_languageModel","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"AI - Atualizar resumo","type":"ai_outputParser","index":0}]]},"Busca resumo no cache":{"main":[[{"node":"Se tiver resumo","type":"main","index":0}]]},"Se tiver resumo":{"main":[[{"node":"Transforma resumo em objeto literal","type":"main","index":0}],[{"node":"AI - Gerar resumo das mensagens","type":"main","index":0}]]},"AI - Atualizar resumo":{"main":[[{"node":"Salva resumo em cache","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.apresenta.me","x-real-ip":"172.68.191.167","x-real-port":"15912","x-forwarded-for":"186.227.138.107, 172.68.191.167","x-forwarded-proto":"http","x-forwarded-host":"n8n.apresenta.me","x-forwarded-port":"80","remote-host":"172.68.191.167","connection":"close","content-length":"42787","accept":"application/json, text/plain, */*","accept-encoding":"gzip, br","user-agent":"axios/1.12.2","cf-ray":"998eab545fd30cad-NVT","content-type":"application/json","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"186.227.138.107","cf-ipcountry":"BR","cf-visitor":"{\"scheme\":\"https\"}"},"params":{},"query":{},"body":{"message":"e imóveis?","messageId":"2920308","contact":{"id":"34529","name":"554788950332","number":"554788950332","profilePicUrl":null,"createdAt":"2025-08-26T13:37:58.507-03:00","updatedAt":"2025-11-03T17:37:16.788-03:00","email":"","isGroup":false,"companyId":"10","whatsappId":"4","onlyResponsible":false,"userId":"1","aprePersonId":null,"apreDealId":null,"meta":{"ignoreCheck":true,"ignorePermission":true,"dontSendSocket":false}},"whatsappId":"4","companyId":10,"lastMessages":"[{\"body\":\"\",\"messageType\":\"audio\",\"createdAt\":\"2025-11-03T14:07:39.000-03:00\",\"updatedAt\":\"2025-11-03T14:07:51.368-03:00\",\"dataJson\":{\"key\":{\"id\":\"3ABDE317334ACA7EBF12\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"audioMessage\":{\"ptt\":true,\"url\":\"https://mmg.whatsapp.net/v/t62.7117-24/575852727_1498645718077507_3411466617128659909_n.enc?ccb=11-4&oh=01_Q5Aa2wEpHzdyn5kv9JgDnFGtXDeWuY4EQJMQ3NWLiesm-Zrmxg&oe=69304C61&_nc_sid=5e03e0&mms3=true\",\"seconds\":8,\"mediaKey\":\"1TI70jzr2GTIw/ram3mM5P4VVwHRqAhO4bTnmnZ/EZQ=\",\"mimetype\":\"audio/ogg; codecs=opus\",\"waveform\":\"AAEKDwwLDQkJElpkZGRkZGRiWWJkZGRkZGRjYGNkZGRkWkpXTmFSNB4UEA8RGjEjSGBkZGRiWFxWOyMXGSAVEQ==\",\"directPath\":\"/v/t62.7117-24/575852727_1498645718077507_3411466617128659909_n.enc?ccb=11-4&oh=01_Q5Aa2wEpHzdyn5kv9JgDnFGtXDeWuY4EQJMQ3NWLiesm-Zrmxg&oe=69304C61&_nc_sid=5e03e0\",\"fileLength\":\"19543\",\"fileSha256\":\"pduQdF+d6Kiy7Lv6pCqX2Eo9+cOUMDsa3BkQDpw8zEE=\",\"fileEncSha256\":\"4EgWLrYA6wRzRy20XGJ9hBJqhK1t6CfasATl+WBMo2Q=\",\"streamingSidecar\":\"chh7KQMBRrjnmA==\",\"mediaKeyTimestamp\":\"1762189649\"},\"messageContextInfo\":{\"messageSecret\":\"eGxWvMCEL6AEW+9o/De4acDktdnX9TnA/LdFZFq5ZZM=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"6jdx2tN8DcufPw==\",\"recipientTimestamp\":\"1762177291\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"428e2fa4-588d-49f6-9af6-b601a6ce9ff5\",\"contextInfo\":null,\"messageType\":\"audioMessage\",\"messageTimestamp\":1762189659},\"id\":\"2920168\",\"mediaPath\":\"3ABDE317334ACA7EBF12.mpga\",\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":\"Usuário enviou um áudio com a seguinte transcrição: `Não, mas a minha dúvida é se não tem como cadastrar isso aí direto pelo sistema, porra. Tu já me falou como é que cadastra?`\\n\\n\",\"file\":{\"id\":\"248644\",\"companyId\":\"10\",\"moduleType\":\"Message\",\"moduleId\":\"2920168\",\"collection\":\"file\",\"bucket\":\"ticket/110928/\",\"name\":\"1326ca77-6d22-461f-ab0f-e5752a3d22ff.mp3\",\"fileName\":\"3ABDE317334ACA7EBF12\",\"version\":null,\"extension\":\"mpga\",\"mimeType\":\"audio/mpeg\",\"size\":\"210068\",\"createdAt\":\"2025-11-03T14:07:41.620-03:00\",\"updatedAt\":\"2025-11-03T14:07:41.620-03:00\",\"meta\":{}},\"mediaUrl\":\"https://grqgzepwdxag.compat.objectstorage.sa-saopaulo-1.oraclecloud.com/files.apre.chat/000010/ticket/110928/3ABDE317334ACA7EBF12.mpga\",\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nPara cadastrar usuários e imóveis na plataforma Apresenta.me, siga os passos abaixo:\\n\\n### Cadastrar Usuários\\n1. **Acesse:** Administrador > Usuários > Usuários.\\n2. **Clique em:** Cadastrar. \\n3. **Preencha:** Os campos obrigatórios (marcados com *) e defina os alertas que o usuário receberá.\\n\\n### Cadastrar Imóveis\\n1. **Acesse:** Imóveis > Listagem de Imóveis.\\n2. **Clique em:** Cadastrar (destacado em azul com sinal “+”).\\n3. **Complete:** As abas solicitadas com as informações do imóvel, como referência, título e finalidade.\\n\\nEsses processos não podem ser feitos de forma ainda mais direta, pois o sistema exige essas etapas para garantir a organização das informações. Se precisar de mais detalhes ou ajuda, o time responsável poderá ser contatado.\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-03T14:08:08.000-03:00\",\"updatedAt\":\"2025-11-03T14:08:11.490-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB03EECB6ABC990FD73AE055B368BB2F69B27C9\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nPara cadastrar usuários e imóveis na plataforma Apresenta.me, siga os passos abaixo:\\n\\n### Cadastrar Usuários\\n1. **Acesse:** Administrador > Usuários > Usuários.\\n2. **Clique em:** Cadastrar. \\n3. **Preencha:** Os campos obrigatórios (marcados com *) e defina os alertas que o usuário receberá.\\n\\n### Cadastrar Imóveis\\n1. **Acesse:** Imóveis > Listagem de Imóveis.\\n2. **Clique em:** Cadastrar (destacado em azul com sinal “+”).\\n3. **Complete:** As abas solicitadas com as informações do imóvel, como referência, título e finalidade.\\n\\nEsses processos não podem ser feitos de forma ainda mais direta, pois o sistema exige essas etapas para garantir a organização das informações. Se precisar de mais detalhes ou ajuda, o time responsável poderá ser contatado.\"},\"pushName\":\"Você\",\"instanceId\":\"428e2fa4-588d-49f6-9af6-b601a6ce9ff5\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1762189688},\"id\":\"2920169\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"\",\"messageType\":\"audio\",\"createdAt\":\"2025-11-03T14:09:37.000-03:00\",\"updatedAt\":\"2025-11-03T14:09:50.739-03:00\",\"dataJson\":{\"key\":{\"id\":\"3A67DFCF48CB02C5D42C\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"audioMessage\":{\"ptt\":true,\"url\":\"https://mmg.whatsapp.net/v/t62.7117-24/541253433_1188340423248357_2130227293850000370_n.enc?ccb=11-4&oh=01_Q5Aa2wF75Q8umyN0E3PzOhqKt3a8_rZ61vSK806yphbPbTHoGg&oe=69304CAD&_nc_sid=5e03e0&mms3=true\",\"seconds\":18,\"mediaKey\":\"WSb0TRdVkwbRyLiC8UhWoJzyUd3J0wUNUxzWBtQtgxU=\",\"mimetype\":\"audio/ogg; codecs=opus\",\"waveform\":\"AQQGBgtXKDhkZFhOR0crEQw4WGRkV2RkWF0jF11kZFk/ZGRkZGNkLxEPFThkZGRkZGRYNiMUHGRXVWMnPGRIHA==\",\"directPath\":\"/v/t62.7117-24/541253433_1188340423248357_2130227293850000370_n.enc?ccb=11-4&oh=01_Q5Aa2wF75Q8umyN0E3PzOhqKt3a8_rZ61vSK806yphbPbTHoGg&oe=69304CAD&_nc_sid=5e03e0\",\"fileLength\":\"42609\",\"fileSha256\":\"8xJGKnmDh0RYD5ofW/Hl9TvvuwhkbfbNLQLQMHMNNu8=\",\"fileEncSha256\":\"sqlSNYNGdZoLEvItJDP8SeLnmMjNmWwNBNZ30Zfy4as=\",\"streamingSidecar\":\"Qlim4Q9PtDQ67Q==\",\"mediaKeyTimestamp\":\"1762189757\"},\"messageContextInfo\":{\"messageSecret\":\"JoaD4FANMbOu5p5sTjtjF4SiQiy1ynXS+EiO62pMScc=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"6jdx2tN8DcufPw==\",\"recipientTimestamp\":\"1762177291\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"428e2fa4-588d-49f6-9af6-b601a6ce9ff5\",\"contextInfo\":null,\"messageType\":\"audioMessage\",\"messageTimestamp\":1762189777},\"id\":\"2920174\",\"mediaPath\":\"3A67DFCF48CB02C5D42C.mpga\",\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":\"Usuário enviou um áudio com a seguinte transcrição: `Cara, tu é burro ou tu se faz? Eu quero saber se tem como cadastrar uma conta no APBENQ sem precisar falar com o time de suporte. Cadastrando tudo direto ali por dentro do sistema. Porra, é difícil de entender? Filha da puta!`\\n\\n\",\"file\":{\"id\":\"248645\",\"companyId\":\"10\",\"moduleType\":\"Message\",\"moduleId\":\"2920174\",\"collection\":\"file\",\"bucket\":\"ticket/110928/\",\"name\":\"c7acd4b7-0b1c-4fd5-ae11-d1d968c191e8.mp3\",\"fileName\":\"3A67DFCF48CB02C5D42C\",\"version\":null,\"extension\":\"mpga\",\"mimeType\":\"audio/mpeg\",\"size\":\"457082\",\"createdAt\":\"2025-11-03T14:09:39.862-03:00\",\"updatedAt\":\"2025-11-03T14:09:39.862-03:00\",\"meta\":{}},\"mediaUrl\":\"https://grqgzepwdxag.compat.objectstorage.sa-saopaulo-1.oraclecloud.com/files.apre.chat/000010/ticket/110928/3A67DFCF48CB02C5D42C.mpga\",\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nPara cadastrar uma conta diretamente no APBENQ, basta seguir os passos abaixo:\\n\\n1. **Acesse a seção de contas** no sistema.\\n2. **Clique em \\\"Adicionar Nova Conta\\\".**\\n3. Preencha os detalhes, como:\\n   - Nome da conta (ex.: \\\"Bradesco – Maicon\\\")\\n   - Tipo de conta (corrente, poupança, etc.)\\n   - Dados do titular (CPF/CNPJ, agência, etc.)\\n4. **Ao finalizar, escolha uma das opções:**\\n   - **Gravar:** Salva e retorna à listagem.\\n   - **Gravar e Continuar:** Salva e mantém o formulário aberto para mais cadastros.\\n   - **Fechar:** Cancela o processo.\\n\\nÉ possível realizar seu cadastro sem necessidade de suporte! Se precisar de mais detalhes sobre as informações ou como navegar, estou à disposição!”\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-03T14:10:02.000-03:00\",\"updatedAt\":\"2025-11-03T14:10:05.260-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB0D46C462BEA671F3FC5A48D34B96A7F129B30\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nPara cadastrar uma conta diretamente no APBENQ, basta seguir os passos abaixo:\\n\\n1. **Acesse a seção de contas** no sistema.\\n2. **Clique em \\\"Adicionar Nova Conta\\\".**\\n3. Preencha os detalhes, como:\\n   - Nome da conta (ex.: \\\"Bradesco – Maicon\\\")\\n   - Tipo de conta (corrente, poupança, etc.)\\n   - Dados do titular (CPF/CNPJ, agência, etc.)\\n4. **Ao finalizar, escolha uma das opções:**\\n   - **Gravar:** Salva e retorna à listagem.\\n   - **Gravar e Continuar:** Salva e mantém o formulário aberto para mais cadastros.\\n   - **Fechar:** Cancela o processo.\\n\\nÉ possível realizar seu cadastro sem necessidade de suporte! Se precisar de mais detalhes sobre as informações ou como navegar, estou à disposição!”\"},\"pushName\":\"Você\",\"instanceId\":\"428e2fa4-588d-49f6-9af6-b601a6ce9ff5\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1762189802},\"id\":\"2920175\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"\",\"messageType\":\"audio\",\"createdAt\":\"2025-11-03T14:11:19.000-03:00\",\"updatedAt\":\"2025-11-03T14:11:32.548-03:00\",\"dataJson\":{\"key\":{\"id\":\"3A338EDADF60907BA0F4\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"audioMessage\":{\"ptt\":true,\"url\":\"https://mmg.whatsapp.net/v/t62.7117-24/530865643_1194364869241862_6148983263478976379_n.enc?ccb=11-4&oh=01_Q5Aa2wE7SIcX9wH5u_kZfq7FonU49mWi3-29jzpdDXdl7hw6-g&oe=69304E2C&_nc_sid=5e03e0&mms3=true\",\"seconds\":17,\"mediaKey\":\"tQ555YeYFIH/FSEE+U3xX3wZnA6H5q9huV9jlYwcgOU=\",\"mimetype\":\"audio/ogg; codecs=opus\",\"waveform\":\"AQEDBCZHZGRkZDYQNGRWKg1TZGNkMWRXVkBkVUZQZGNkThscGChSZGRkSlRkZEYZM01fQCEWEQtWZF5QJgsJCA==\",\"directPath\":\"/v/t62.7117-24/530865643_1194364869241862_6148983263478976379_n.enc?ccb=11-4&oh=01_Q5Aa2wE7SIcX9wH5u_kZfq7FonU49mWi3-29jzpdDXdl7hw6-g&oe=69304E2C&_nc_sid=5e03e0\",\"fileLength\":\"39756\",\"fileSha256\":\"/EdcXsn3MO30/klJSWcyVpdp/s/9+tJB+TfHJW0peds=\",\"fileEncSha256\":\"S2VsFD251JX/1w6Pud1M67/B6wq66r1Z4oi4gpXNK5s=\",\"streamingSidecar\":\"FgZVqZEfPCUuvQ==\",\"mediaKeyTimestamp\":\"1762189860\"},\"messageContextInfo\":{\"messageSecret\":\"arY+LVfVG+R8BdGcVL8iCgRBV1G00o6x8QYhxq8QM88=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"6jdx2tN8DcufPw==\",\"recipientTimestamp\":\"1762177291\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"428e2fa4-588d-49f6-9af6-b601a6ce9ff5\",\"contextInfo\":null,\"messageType\":\"audioMessage\",\"messageTimestamp\":1762189879},\"id\":\"2920179\",\"mediaPath\":\"3A338EDADF60907BA0F4.mpga\",\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":\"Usuário enviou um áudio com a seguinte transcrição: `Que porra é APBENQ, com A-P-B-E-N-Q? Isso nem existe, porra. De onde é que tu tirou essa... Essa merda dessa fala aí, velho? Dessa escrita? Tu é burro pra caralho, velho.`\\n\\n\",\"file\":{\"id\":\"248646\",\"companyId\":\"10\",\"moduleType\":\"Message\",\"moduleId\":\"2920179\",\"collection\":\"file\",\"bucket\":\"ticket/110928/\",\"name\":\"8a3e81fc-ffb7-479e-9bdf-5e62c91d5404.mp3\",\"fileName\":\"3A338EDADF60907BA0F4\",\"version\":null,\"extension\":\"mpga\",\"mimeType\":\"audio/mpeg\",\"size\":\"418212\",\"createdAt\":\"2025-11-03T14:11:22.590-03:00\",\"updatedAt\":\"2025-11-03T14:11:22.590-03:00\",\"meta\":{}},\"mediaUrl\":\"https://grqgzepwdxag.compat.objectstorage.sa-saopaulo-1.oraclecloud.com/files.apre.chat/000010/ticket/110928/3A338EDADF60907BA0F4.mpga\",\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nA expressão **\\\"APBENQ\\\"** não está registrada como um conceito ou termo oficialmente reconhecido na plataforma Apresenta.me. É possível que tenha havido um erro de digitação ou confusão em relação a algum termo relacionado. \\n\\nSugere-se verificar termos mais comuns, como **\\\"APBank\\\"**, que se refere ao método de pagamento integrado da Apresenta.me, focado na gestão financeira da imobiliária e que permite a automatização de cobranças. \\n\\nPara esclarecimentos adicionais ou suporte mais específico, o time responsável pode ser acionado.\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-03T14:11:43.000-03:00\",\"updatedAt\":\"2025-11-03T14:11:46.190-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB05830EFC9A267C0FD5535A56666E97A95810E\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nA expressão **\\\"APBENQ\\\"** não está registrada como um conceito ou termo oficialmente reconhecido na plataforma Apresenta.me. É possível que tenha havido um erro de digitação ou confusão em relação a algum termo relacionado. \\n\\nSugere-se verificar termos mais comuns, como **\\\"APBank\\\"**, que se refere ao método de pagamento integrado da Apresenta.me, focado na gestão financeira da imobiliária e que permite a automatização de cobranças. \\n\\nPara esclarecimentos adicionais ou suporte mais específico, o time responsável pode ser acionado.\"},\"pushName\":\"Você\",\"instanceId\":\"428e2fa4-588d-49f6-9af6-b601a6ce9ff5\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1762189903},\"id\":\"2920181\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"\",\"messageType\":\"audio\",\"createdAt\":\"2025-11-03T14:17:02.000-03:00\",\"updatedAt\":\"2025-11-03T14:17:13.976-03:00\",\"dataJson\":{\"key\":{\"id\":\"3A68991A84498BFDF61A\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"audioMessage\":{\"ptt\":true,\"url\":\"https://mmg.whatsapp.net/v/t62.7117-24/539175457_1483770532851678_4414357993423791978_n.enc?ccb=11-4&oh=01_Q5Aa2wGkxSQsSepy9TWSqntNLKpIeEt6YZWwHKDTg-7POoE5Rg&oe=693064F2&_nc_sid=5e03e0&mms3=true\",\"seconds\":10,\"mediaKey\":\"GSaPA2W8DswB57yPleQeMtKGOiWsNwP5m6I0QehXyyk=\",\"mimetype\":\"audio/ogg; codecs=opus\",\"waveform\":\"AAIFBQoMIyEVZGRWNlpkTGRkZF47ZGRkZGRkZGRkZDsbG2RkZGRkZGRkZGRkZGFkZGRkTERLZDg3IBYlIxgXFA==\",\"directPath\":\"/v/t62.7117-24/539175457_1483770532851678_4414357993423791978_n.enc?ccb=11-4&oh=01_Q5Aa2wGkxSQsSepy9TWSqntNLKpIeEt6YZWwHKDTg-7POoE5Rg&oe=693064F2&_nc_sid=5e03e0\",\"fileLength\":\"24127\",\"fileSha256\":\"Mb0LN4czQoVobObNAGnM6M1pDDiAg2fr6Vf61IRqwDY=\",\"fileEncSha256\":\"RlnbmkqEfW0CuE8j+tbBvmoXhWH0id6VhHY2VU2KHlY=\",\"streamingSidecar\":\"Iw34qEQBSsfVHw==\",\"mediaKeyTimestamp\":\"1762190210\"},\"messageContextInfo\":{\"messageSecret\":\"3XNk3SNKn2FqUt1gHwv8SUePpivHZHUpTza1k+BBGVc=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"6jdx2tN8DcufPw==\",\"recipientTimestamp\":\"1762177291\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"428e2fa4-588d-49f6-9af6-b601a6ce9ff5\",\"contextInfo\":null,\"messageType\":\"audioMessage\",\"messageTimestamp\":1762190222},\"id\":\"2920185\",\"mediaPath\":\"3A68991A84498BFDF61A.mpga\",\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":\"Usuário enviou um áudio com a seguinte transcrição: `Isso, é a Pebank. Desse jeito aí que tu escreveu. Burro. Meu Deus, o livro até é burro pra cacete.`\\n\\n\",\"file\":{\"id\":\"248647\",\"companyId\":\"10\",\"moduleType\":\"Message\",\"moduleId\":\"2920185\",\"collection\":\"file\",\"bucket\":\"ticket/110928/\",\"name\":\"6f377152-1683-4cb3-9890-a390d83c4b58.mp3\",\"fileName\":\"3A68991A84498BFDF61A\",\"version\":null,\"extension\":\"mpga\",\"mimeType\":\"audio/mpeg\",\"size\":\"249565\",\"createdAt\":\"2025-11-03T14:17:04.450-03:00\",\"updatedAt\":\"2025-11-03T14:17:04.450-03:00\",\"meta\":{}},\"mediaUrl\":\"https://grqgzepwdxag.compat.objectstorage.sa-saopaulo-1.oraclecloud.com/files.apre.chat/000010/ticket/110928/3A68991A84498BFDF61A.mpga\",\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nPara ajudar *Lucas* no cadastro do PeBank e esclarecer as informações que ele procura, aqui estão as orientações sobre como proceder:\\n\\n1. **Cadastro de Usuários**: \\n   - Acesse: `Administrador > Usuários > Usuários`.\\n   - Clique em \\\"Cadastrar\\\" e preencha as informações obrigatórias, como nome, e-mail e telefone.\\n\\n2. **Cadastro de Imóveis**: \\n   - Vá para `Imóveis > Cadastrar` e preencha a classificação do imóvel, título, link permanente e finalidades.\\n\\n3. **Sobre o App Bank**: \\n   - O ApBank é um banco digital que automatiza a gestão financeira da imobiliária, permitindo emitir cobranças e realizar transferências.\\n   - Para mais detalhes sobre procedimentos e funcionalidades, acesse a área financeira no sistema e siga as etapas para configurar e cadastrar a conta.\\n\\nSe persistirem dúvidas ou dificuldades, o time responsável pode fornecer assistência direta.\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-03T14:17:31.000-03:00\",\"updatedAt\":\"2025-11-03T14:17:37.770-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB07BDE5EEF166C11FAF3BCA778A0EF4445CE9E\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nPara ajudar *Lucas* no cadastro do PeBank e esclarecer as informações que ele procura, aqui estão as orientações sobre como proceder:\\n\\n1. **Cadastro de Usuários**: \\n   - Acesse: `Administrador > Usuários > Usuários`.\\n   - Clique em \\\"Cadastrar\\\" e preencha as informações obrigatórias, como nome, e-mail e telefone.\\n\\n2. **Cadastro de Imóveis**: \\n   - Vá para `Imóveis > Cadastrar` e preencha a classificação do imóvel, título, link permanente e finalidades.\\n\\n3. **Sobre o App Bank**: \\n   - O ApBank é um banco digital que automatiza a gestão financeira da imobiliária, permitindo emitir cobranças e realizar transferências.\\n   - Para mais detalhes sobre procedimentos e funcionalidades, acesse a área financeira no sistema e siga as etapas para configurar e cadastrar a conta.\\n\\nSe persistirem dúvidas ou dificuldades, o time responsável pode fornecer assistência direta.\"},\"pushName\":\"Você\",\"instanceId\":\"428e2fa4-588d-49f6-9af6-b601a6ce9ff5\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1762190251},\"id\":\"2920186\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"\",\"messageType\":\"audio\",\"createdAt\":\"2025-11-03T14:21:19.000-03:00\",\"updatedAt\":\"2025-11-03T14:21:29.030-03:00\",\"dataJson\":{\"key\":{\"id\":\"3AF044B51E7608D18FCC\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"audioMessage\":{\"ptt\":true,\"url\":\"https://mmg.whatsapp.net/v/t62.7117-24/23478177_1333386535188440_4795040921907562480_n.enc?ccb=11-4&oh=01_Q5Aa2wHH76wg-i9xjzkmFW98L5FYjkDV4LRASSz31Yqrs2MgZg&oe=69304D2A&_nc_sid=5e03e0&mms3=true\",\"seconds\":4,\"mediaKey\":\"I2LJ4xJAou+l+aMObTGtVPJZ/N5cOa1LpI+ARVteIJw=\",\"mimetype\":\"audio/ogg; codecs=opus\",\"waveform\":\"AAAAAQEBAwMDAgICBAUFBQQEBwwfQl1gZGRkZGRdVFNZXV9iY2NaUUc8PEBJVVhLPjIlHBQPDAkHCAsNDg4MCg==\",\"directPath\":\"/v/t62.7117-24/23478177_1333386535188440_4795040921907562480_n.enc?ccb=11-4&oh=01_Q5Aa2wHH76wg-i9xjzkmFW98L5FYjkDV4LRASSz31Yqrs2MgZg&oe=69304D2A&_nc_sid=5e03e0\",\"fileLength\":\"10012\",\"fileSha256\":\"ujJXe1Jx+M4bnwB5lMn55LeKm5NofEuUfHG26M4wmH4=\",\"fileEncSha256\":\"cIxWHvhagko96VRHnuk9BWhL4oieTLiBJSCLKmrOZ74=\",\"streamingSidecar\":\"j6rS0jzgkXkvXg==\",\"mediaKeyTimestamp\":\"1762190472\"},\"messageContextInfo\":{\"messageSecret\":\"2NrWlBHBAKn1wJ6pCoLISn1mmRQvU0D2T6Bm5GRYMaU=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"6jdx2tN8DcufPw==\",\"recipientTimestamp\":\"1762177291\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"428e2fa4-588d-49f6-9af6-b601a6ce9ff5\",\"contextInfo\":null,\"messageType\":\"audioMessage\",\"messageTimestamp\":1762190479},\"id\":\"2920187\",\"mediaPath\":\"3AF044B51E7608D18FCC.mpga\",\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":\"Usuário enviou um áudio com a seguinte transcrição: `Cara, mas meu nome nem é Lucas aí.`\\n\\n\",\"file\":{\"id\":\"248648\",\"companyId\":\"10\",\"moduleType\":\"Message\",\"moduleId\":\"2920187\",\"collection\":\"file\",\"bucket\":\"ticket/110928/\",\"name\":\"9fb7d10d-9c22-42fa-93fd-f843111cdda2.mp3\",\"fileName\":\"3AF044B51E7608D18FCC\",\"version\":null,\"extension\":\"mpga\",\"mimeType\":\"audio/mpeg\",\"size\":\"108504\",\"createdAt\":\"2025-11-03T14:21:20.784-03:00\",\"updatedAt\":\"2025-11-03T14:21:20.784-03:00\",\"meta\":{}},\"mediaUrl\":\"https://grqgzepwdxag.compat.objectstorage.sa-saopaulo-1.oraclecloud.com/files.apre.chat/000010/ticket/110928/3AF044B51E7608D18FCC.mpga\",\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nPara esclarecer a confusão quanto ao nome, pode ser útil reconhecer o erro e garantir que o contato seja tratado corretamente. É importante manter um tom empático e profissional.\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-03T14:21:37.000-03:00\",\"updatedAt\":\"2025-11-03T14:21:39.376-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB01948F4530C6CEC80B688BCFF0D57C2C1F001\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nPara esclarecer a confusão quanto ao nome, pode ser útil reconhecer o erro e garantir que o contato seja tratado corretamente. É importante manter um tom empático e profissional.\"},\"pushName\":\"Você\",\"instanceId\":\"428e2fa4-588d-49f6-9af6-b601a6ce9ff5\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1762190497},\"id\":\"2920188\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"\",\"messageType\":\"audio\",\"createdAt\":\"2025-11-03T14:36:06.000-03:00\",\"updatedAt\":\"2025-11-03T14:36:17.502-03:00\",\"dataJson\":{\"key\":{\"id\":\"3AB934D3C4673B49F63A\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"audioMessage\":{\"ptt\":true,\"url\":\"https://mmg.whatsapp.net/v/t62.7117-24/542131738_816733577670882_5479032888674862644_n.enc?ccb=11-4&oh=01_Q5Aa2wF_4055lfk_lurON6k4IxJdx029a5Qx0g-SF_YTQCDjtA&oe=693048D4&_nc_sid=5e03e0&mms3=true\",\"seconds\":6,\"mediaKey\":\"SNHN9z9js0wKLsatUBEOnIKmLnxMmaS50R3b3qn476g=\",\"mimetype\":\"audio/ogg; codecs=opus\",\"waveform\":\"AQEBAQECBQUEAwMIHFhdW2NkYFlgWUVITlZZTTgzKBwVEA0ODAsLChk7VmRkZGRkZGJgY2RdRS8cExMSDQ4QEQ==\",\"directPath\":\"/v/t62.7117-24/542131738_816733577670882_5479032888674862644_n.enc?ccb=11-4&oh=01_Q5Aa2wF_4055lfk_lurON6k4IxJdx029a5Qx0g-SF_YTQCDjtA&oe=693048D4&_nc_sid=5e03e0\",\"fileLength\":\"14633\",\"fileSha256\":\"cFmYuknSoG00CVTUUAa6kmyLF8ObBuzmXZzbuzIOCHQ=\",\"fileEncSha256\":\"yF1AcT1FgnnoU259XWz8k0qOybcMdfO40xbpQDCgDJE=\",\"streamingSidecar\":\"E19DYefxi0hrbA==\",\"mediaKeyTimestamp\":\"1762191358\"},\"messageContextInfo\":{\"messageSecret\":\"CFP459qBSTEfZEjRhI6l82EDjK/AmdHtuLJHJwAO6v0=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"6jdx2tN8DcufPw==\",\"recipientTimestamp\":\"1762177291\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"428e2fa4-588d-49f6-9af6-b601a6ce9ff5\",\"contextInfo\":null,\"messageType\":\"audioMessage\",\"messageTimestamp\":1762191366},\"id\":\"2920211\",\"mediaPath\":\"3AB934D3C4673B49F63A.mpga\",\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":\"Usuário enviou um áudio com a seguinte transcrição: `Mas quem que é o contato nessa merda? Então o empático é o teu cu.`\\n\\n\",\"file\":{\"id\":\"248649\",\"companyId\":\"10\",\"moduleType\":\"Message\",\"moduleId\":\"2920211\",\"collection\":\"file\",\"bucket\":\"ticket/110928/\",\"name\":\"a0edaaa4-464f-47d4-bb6f-79a4ac19208c.mp3\",\"fileName\":\"3AB934D3C4673B49F63A\",\"version\":null,\"extension\":\"mpga\",\"mimeType\":\"audio/mpeg\",\"size\":\"159286\",\"createdAt\":\"2025-11-03T14:36:08.485-03:00\",\"updatedAt\":\"2025-11-03T14:36:08.485-03:00\",\"meta\":{}},\"mediaUrl\":\"https://grqgzepwdxag.compat.objectstorage.sa-saopaulo-1.oraclecloud.com/files.apre.chat/000010/ticket/110928/3AB934D3C4673B49F63A.mpga\",\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nPara conseguir suporte adequado, a imobiliária pode entrar em contato com a equipe responsável pelas contas e imóveis. O corretor responsável é um ponto de contato fundamental para esclarecer essas dúvidas. Se ainda houver dificuldades, é aconselhável que o cliente tenha acesso a um profissional da equipe de suporte especializado. \\n\\nCaso seja necessário, também é possível registrar solicitações de ajuda diretamente na plataforma, usando a funcionalidade de suporte disponível. Se for necessário um atendimento mais direto, o setor responsável pode cuidar disso.\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-03T14:36:29.000-03:00\",\"updatedAt\":\"2025-11-03T14:36:32.520-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB0E64116A9767FFD046EC9C704D38A618EE733\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nPara conseguir suporte adequado, a imobiliária pode entrar em contato com a equipe responsável pelas contas e imóveis. O corretor responsável é um ponto de contato fundamental para esclarecer essas dúvidas. Se ainda houver dificuldades, é aconselhável que o cliente tenha acesso a um profissional da equipe de suporte especializado. \\n\\nCaso seja necessário, também é possível registrar solicitações de ajuda diretamente na plataforma, usando a funcionalidade de suporte disponível. Se for necessário um atendimento mais direto, o setor responsável pode cuidar disso.\"},\"pushName\":\"Você\",\"instanceId\":\"428e2fa4-588d-49f6-9af6-b601a6ce9ff5\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1762191389},\"id\":\"2920212\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"\",\"messageType\":\"audio\",\"createdAt\":\"2025-11-03T14:37:17.000-03:00\",\"updatedAt\":\"2025-11-03T14:37:28.920-03:00\",\"dataJson\":{\"key\":{\"id\":\"3A4491D16E6FAA7546D3\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"audioMessage\":{\"ptt\":true,\"url\":\"https://mmg.whatsapp.net/v/t62.7117-24/537803820_3171351849700998_2576310288765235554_n.enc?ccb=11-4&oh=01_Q5Aa2wEVs-ncpQ_dQUXotFSSN15T4pJzgn7Jy8bMYh8wjAD9hg&oe=69306813&_nc_sid=5e03e0&mms3=true\",\"seconds\":7,\"mediaKey\":\"whgm/c26pxWG6brnJSKZq0oJ+bc0D4hNt8iFMXN5Q7E=\",\"mimetype\":\"audio/ogg; codecs=opus\",\"waveform\":\"AAABAQIECA4JBhxWYGRgVV9kZGRkWkUtHhMODA0RGRMuZGRkXlAyHhILCAcIGEZkZGRkZGRILhoRDAkIBgcICA==\",\"directPath\":\"/v/t62.7117-24/537803820_3171351849700998_2576310288765235554_n.enc?ccb=11-4&oh=01_Q5Aa2wEVs-ncpQ_dQUXotFSSN15T4pJzgn7Jy8bMYh8wjAD9hg&oe=69306813&_nc_sid=5e03e0\",\"fileLength\":\"15546\",\"fileSha256\":\"XzMAg7lPR4cNZv/7LCe7zk15Ba9KzwxkBX13Wx3wFMY=\",\"fileEncSha256\":\"ngYmw6PDuStHZuKitgxgFcTngeJLonE8q5d15ld5gwQ=\",\"streamingSidecar\":\"aUulVK7V2Jxf/w==\",\"mediaKeyTimestamp\":\"1762191428\"},\"messageContextInfo\":{\"messageSecret\":\"c2O6p8cyqxiG5YEYC8APu1OnW5yo18lagxobPDERD90=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"6jdx2tN8DcufPw==\",\"recipientTimestamp\":\"1762177291\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"428e2fa4-588d-49f6-9af6-b601a6ce9ff5\",\"contextInfo\":null,\"messageType\":\"audioMessage\",\"messageTimestamp\":1762191437},\"id\":\"2920213\",\"mediaPath\":\"3A4491D16E6FAA7546D3.mpga\",\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":\"Usuário enviou um áudio com a seguinte transcrição: `Não, porra, mas tu tá viajando. Que que tu é? Tu trabalha pra quem?`\\n\\n\",\"file\":{\"id\":\"248650\",\"companyId\":\"10\",\"moduleType\":\"Message\",\"moduleId\":\"2920213\",\"collection\":\"file\",\"bucket\":\"ticket/110928/\",\"name\":\"a807d7a5-b02c-4adb-8105-dbb9e751d177.mp3\",\"fileName\":\"3A4491D16E6FAA7546D3\",\"version\":null,\"extension\":\"mpga\",\"mimeType\":\"audio/mpeg\",\"size\":\"171198\",\"createdAt\":\"2025-11-03T14:37:19.674-03:00\",\"updatedAt\":\"2025-11-03T14:37:19.674-03:00\",\"meta\":{}},\"mediaUrl\":\"https://grqgzepwdxag.compat.objectstorage.sa-saopaulo-1.oraclecloud.com/files.apre.chat/000010/ticket/110928/3A4491D16E6FAA7546D3.mpga\",\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nEntendo que a situação possa ser frustrante, *554788950332*. O agente responsável está aqui para esclarecer informações e garantir o suporte necessário.\\n\\nA Apresenta.me prioriza um atendimento adequado para cada cliente e pode ajudar no que for preciso. Para melhor entendimento e resolução das dúvidas sobre o AppBank e os serviços oferecidos, é possível consultar a equipe responsável, que pode fornecer informações detalhadas sobre como seu sistema funciona e a quem cada agente atende.\\n\\nSe precisar de mais orientações específicas, por favor, informe!\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-03T14:37:41.000-03:00\",\"updatedAt\":\"2025-11-03T14:37:44.701-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB065B964258697317C476D79160276DC6DB386\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nEntendo que a situação possa ser frustrante, *554788950332*. O agente responsável está aqui para esclarecer informações e garantir o suporte necessário.\\n\\nA Apresenta.me prioriza um atendimento adequado para cada cliente e pode ajudar no que for preciso. Para melhor entendimento e resolução das dúvidas sobre o AppBank e os serviços oferecidos, é possível consultar a equipe responsável, que pode fornecer informações detalhadas sobre como seu sistema funciona e a quem cada agente atende.\\n\\nSe precisar de mais orientações específicas, por favor, informe!\"},\"pushName\":\"Você\",\"instanceId\":\"428e2fa4-588d-49f6-9af6-b601a6ce9ff5\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1762191461},\"id\":\"2920214\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nA frustração expressa parece se referir à falta de clareza sobre o App Bank e o que ele oferece. \\n\\nPara esclarecer, o **ApBank** é o banco digital integrado da Apresenta.me, que automatiza a gestão financeira da imobiliária, com funcionalidades como emissão automática de cobranças, repasses automáticos a proprietários e um sistema de pagamento simplificado. É uma ferramenta essencial para facilitar e agilizar os processos financeiros. \\n\\nCaso haja mais dúvidas ou necessidade de informações específicas, o time de atendimento está à disposição para auxiliar.\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-03T17:24:43.000-03:00\",\"updatedAt\":\"2025-11-03T17:24:48.826-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB0CA286B671399B8BDFDFB9E1D687DA0FFC689\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nA frustração expressa parece se referir à falta de clareza sobre o App Bank e o que ele oferece. \\n\\nPara esclarecer, o **ApBank** é o banco digital integrado da Apresenta.me, que automatiza a gestão financeira da imobiliária, com funcionalidades como emissão automática de cobranças, repasses automáticos a proprietários e um sistema de pagamento simplificado. É uma ferramenta essencial para facilitar e agilizar os processos financeiros. \\n\\nCaso haja mais dúvidas ou necessidade de informações específicas, o time de atendimento está à disposição para auxiliar.\"},\"pushName\":\"Você\",\"instanceId\":\"428e2fa4-588d-49f6-9af6-b601a6ce9ff5\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1762201483},\"id\":\"2920302\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"Entendi. como funciona remessa e retorno?\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-03T17:28:56.000-03:00\",\"updatedAt\":\"2025-11-03T17:28:57.549-03:00\",\"dataJson\":{\"key\":{\"id\":\"3AA5B2CFE0B7CF1BCB6B\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"conversation\":\"Entendi. como funciona remessa e retorno?\",\"messageContextInfo\":{\"messageSecret\":\"dovYo360BlTgdXZBv7yOAAvmoc4SFzzcIpLXEkvufmE=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"6jdx2tN8DcufPw==\",\"recipientTimestamp\":\"1762177291\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"428e2fa4-588d-49f6-9af6-b601a6ce9ff5\",\"messageType\":\"conversation\",\"messageTimestamp\":1762201736},\"id\":\"2920303\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"Entendi. como funciona remessa e retorno?\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-03T17:30:25.000-03:00\",\"updatedAt\":\"2025-11-03T17:30:26.400-03:00\",\"dataJson\":{\"key\":{\"id\":\"3A5883B51BF33775D561\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"conversation\":\"Entendi. como funciona remessa e retorno?\",\"messageContextInfo\":{\"messageSecret\":\"UJJ65ZDF9Jb6WevtofGd99WKH/KTMFH6R+zWQvSwdlA=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"6jdx2tN8DcufPw==\",\"recipientTimestamp\":\"1762177291\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"428e2fa4-588d-49f6-9af6-b601a6ce9ff5\",\"messageType\":\"conversation\",\"messageTimestamp\":1762201825},\"id\":\"2920304\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nO processo de **remessa e retorno** na Apresenta.me é dividido em duas opções principais:\\n\\n### 1. Integração Automática (ApBank)\\n- **Remessas**: Criação e registro de cobranças são automáticos, com envio via WhatsApp e e-mail.\\n- **Baixas**: Pagamentos de boletos são processados automaticamente, com baixa no mesmo dia se pagos até 13h.\\n- **Vantagens**: Redução de erros e trabalho manual, além de maior eficiência operacional.\\n\\n### 2. Integração Manual\\n- **Remessas**: Exige rotina de criação de arquivos (.REM) e interação contínua com o banco.\\n- **Baixas**: Necessita confirmação manual via arquivos de retorno (.RET).\\n- **Custos Fixos**: R$ 100/mês por banco escolhido, porém com maior carga operacional e chance de erro humano.\\n\\nAmbos os métodos têm seu papel, dependendo da preferência da imobiliária por automação ou por manter um banco tradicional.\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-03T17:30:42.000-03:00\",\"updatedAt\":\"2025-11-03T17:30:45.620-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB064515F4AA3CF9A1B4672F61E198A0BB8412E\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nO processo de **remessa e retorno** na Apresenta.me é dividido em duas opções principais:\\n\\n### 1. Integração Automática (ApBank)\\n- **Remessas**: Criação e registro de cobranças são automáticos, com envio via WhatsApp e e-mail.\\n- **Baixas**: Pagamentos de boletos são processados automaticamente, com baixa no mesmo dia se pagos até 13h.\\n- **Vantagens**: Redução de erros e trabalho manual, além de maior eficiência operacional.\\n\\n### 2. Integração Manual\\n- **Remessas**: Exige rotina de criação de arquivos (.REM) e interação contínua com o banco.\\n- **Baixas**: Necessita confirmação manual via arquivos de retorno (.RET).\\n- **Custos Fixos**: R$ 100/mês por banco escolhido, porém com maior carga operacional e chance de erro humano.\\n\\nAmbos os métodos têm seu papel, dependendo da preferência da imobiliária por automação ou por manter um banco tradicional.\"},\"pushName\":\"Você\",\"instanceId\":\"428e2fa4-588d-49f6-9af6-b601a6ce9ff5\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1762201842},\"id\":\"2920305\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"e cadastrar usuário como\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-03T17:32:47.000-03:00\",\"updatedAt\":\"2025-11-03T17:32:49.064-03:00\",\"dataJson\":{\"key\":{\"id\":\"3A832A8E6A0E2D9F8568\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"conversation\":\"e cadastrar usuário como\",\"messageContextInfo\":{\"messageSecret\":\"8cQtqTjEDDZU76dUM5b/tlyGAPYMhi92D0Yo5qApDkg=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"6jdx2tN8DcufPw==\",\"recipientTimestamp\":\"1762177291\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"428e2fa4-588d-49f6-9af6-b601a6ce9ff5\",\"messageType\":\"conversation\",\"messageTimestamp\":1762201967},\"id\":\"2920306\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nPara cadastrar um usuário no sistema Apresenta.me, siga os passos abaixo:\\n\\n1. Acesse o menu lateral: **Administrador > Usuários > Usuários**.\\n2. Clique em **Cadastrar** na tela que mostrará todos os usuários.\\n3. Preencha os campos obrigatórios (marcados com *):\\n   - **Nome:** Nome do usuário.\\n   - **E-mail:** Para recuperação de senha e exportação de dados.\\n   - **Telefone:** Com DDD.\\n   - **Usuário (login):** Nome para acesso ao sistema.\\n   - **Senha:** Senha de acesso.\\n\\nAlém disso, é possível definir permissões, vincular a uma equipe e configurar alertas. Se houver dúvidas específicas ou mais detalhes sobre o processo, estou à disposição para ajudar!\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-03T17:33:03.000-03:00\",\"updatedAt\":\"2025-11-03T17:33:05.228-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB0EA8480612ED557094975C8039EB7BF51C05D\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nPara cadastrar um usuário no sistema Apresenta.me, siga os passos abaixo:\\n\\n1. Acesse o menu lateral: **Administrador > Usuários > Usuários**.\\n2. Clique em **Cadastrar** na tela que mostrará todos os usuários.\\n3. Preencha os campos obrigatórios (marcados com *):\\n   - **Nome:** Nome do usuário.\\n   - **E-mail:** Para recuperação de senha e exportação de dados.\\n   - **Telefone:** Com DDD.\\n   - **Usuário (login):** Nome para acesso ao sistema.\\n   - **Senha:** Senha de acesso.\\n\\nAlém disso, é possível definir permissões, vincular a uma equipe e configurar alertas. Se houver dúvidas específicas ou mais detalhes sobre o processo, estou à disposição para ajudar!\"},\"pushName\":\"Você\",\"instanceId\":\"428e2fa4-588d-49f6-9af6-b601a6ce9ff5\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1762201983},\"id\":\"2920307\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}}]"},"webhookUrl":"https://n8n.apresenta.me/webhook/67c7d548-f722-4bed-ad82-72e6f747b960","executionMode":"production"}}]},"versionId":"73df1e59-40cf-43d7-ba4a-75a203966442","triggerCount":2,"shared":[{"createdAt":"2025-08-27T17:47:57.697Z","updatedAt":"2025-08-27T17:47:57.697Z","role":"workflow:owner","workflowId":"nQFtNzMPQw4qKbaY","projectId":"4ToGMYJEWvvDSbcz"}],"tags":[]}