02-06-2026 18:00/workflows/❌❌-workflow-teste-sREHxnvoDD4P2jQB.json
{"updatedAt":"2026-02-09T17:38:35.000Z","createdAt":"2025-10-30T11:29:30.432Z","id":"sREHxnvoDD4P2jQB","name":"❌❌ Workflow TESTE","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"lead-timeline","responseMode":"lastNode","options":{}},"id":"70885620-3d93-4bf0-9809-d6bfcc854dd5","name":"Webhook (Lead Timeline)","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-2800,-128],"webhookId":"0baf53e6-8557-49d0-8377-7fe4a87a204e","disabled":true},{"parameters":{"jsCode":"const { activities, comments, stageHistory } = $('Buscar dados da Timeline do Lead').first().json\n\nfunction toBrazilDate(dateString) {\n  const date = new Date(dateString);\n  date.setHours(date.getHours() - 3);\n  return date;\n}\n\nconst data = []\n\nasync function mapperActivities() {\n  for (const item of activities) {\n    const createdAt = toBrazilDate(item.CREATED)\n    const lastUpdatedAt = toBrazilDate(item.LAST_UPDATED)\n    const startedAt = toBrazilDate(item.START_TIME)\n    const finishedAt = toBrazilDate(item.END_TIME)\n                                    \n    const mappedActivity = {\n      historyName: 'activity',\n      registerId: item.ID, \n      subject: item.SUBJECT,\n      typeId: item.PROVIDER_TYPE_ID,\n      isCompleted: item.COMPLETED == 'Y',\n      createdAt, \n      lastUpdatedAt,\n      startedAt,\n      finishedAt\n    }\n\n    if (item.CALL_DETAILS) {\n      const call = item.CALL_DETAILS\n      \n      mappedActivity.callDetails = {\n        registerId: call.ID,\n        category: call.CALL_CATEGORY,\n        durationInSeconds: call.CALL_DURATION,\n        callUrl: call.CALL_RECORD_URL,\n        callCost: call.COST, \n        callCostCurrency: call.COST_CURRENCY, \n        callKey: call.CALL_ID\n      }\n    }\n    \n    data.push(mappedActivity)\n  }\n}\nfunction mapperComments() {\n  for (const item of comments) {\n    const createdAt = toBrazilDate(item.CREATED)\n    \n    const mappedComments = {\n      historyName: 'comment',\n      registerId: item.ID,\n      createdAt,\n      comment: item.COMMENT\n    }\n\n    data.push(mappedComments)\n  }\n}\nfunction mapperStageHistory() {\n  for (const item of stageHistory) {\n    const createdAt = toBrazilDate(item.CREATED_TIME) \n    \n    const mappedStageHistory = {\n      historyName: 'stageHistory',\n      registerId: item.ID,\n      status: item.STATUS_ID,\n      createdAt\n    }\n\n    data.push(mappedStageHistory)\n  }\n}\n\nawait mapperActivities();\nawait mapperComments();\nawait mapperStageHistory();\n\nreturn data\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1280,-112],"id":"cc9da708-5de1-4751-89ef-753e7eb347f5","name":"Mapear dados do CRM","disabled":true},{"parameters":{"jsCode":"const { leadId } = $('Webhook (Lead Timeline)').first().json.query\n\nif (!leadId) {\n  throw new Error('É necessário informar o id do lead.')\n}\n\nreturn [{\n  leadId \n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2384,-128],"id":"3299339e-b837-40cb-8e1f-243be77ec6d1","name":"Valida parâmetros","disabled":true},{"parameters":{"jsCode":"const sleep = (ms) => new Promise((r) => setTimeout(r, ms));\n\nasync function bitrixList(method, params) {\n  const url = `${$env.BITRIX_URL}${method}`;\n  let start = 0;\n  const out = [];\n  let tries = 0;\n\n  while (true) {\n    const body = { ...params };\n    if (start) body.start = start;\n\n    try {\n      const res = await this.helpers.httpRequest({\n        method: \"POST\",\n        url,\n        json: true,\n        body,\n        timeout: 30000,\n      });\n\n      let items = Array.isArray(res?.result) ? (res.result ?? []) : [];\n      items = !items.length && (typeof res?.result == 'object') ? res?.result.items : items \n      out.push(...items);\n\n      if (res?.next !== undefined && res.next !== null) {\n        start = res.next;\n        tries = 0;\n        await sleep(200);\n      } else {\n        break;\n      }\n    } catch (err) {\n      if (++tries <= 3) {\n        await sleep(500 * tries);\n        continue;\n      }\n      throw new Error(`Falha em ${method}: ${err?.message || String(err)}`);\n    }\n  }\n  return out;\n}\n\nconst leadId = $input.first().json.id\n\nconst a1 = await bitrixList(\"crm.activity.list\", {\n  entityTypeId: 1,\n  order: { ID: \"ASC\" },\n  filter: { \"OWNER_ID\": leadId },\n  select: [\n    \"ID\",\n    \"SUBJECT\",\n    \"PROVIDER_TYPE_ID\",\n    \"COMPLETED\",\n    \"CREATED\",\n    \"LAST_UPDATED\",\n    \"START_TIME\",\n    \"END_TIME\"\n  ],\n});\n\nconst a2 = await bitrixList(\"crm.timeline.comment.list\", {\n  filter: {\n    ENTITY_ID: leadId,\n    ENTITY_TYPE: \"lead\",\n  },\n  select: [\"ID\", \"COMMENT\", \"CREATED\", \"AUTHOR_ID\", \"FILES\"],\n});\n\nconst a3 = await bitrixList(\"crm.stagehistory.list\", {\n    entityTypeId: 1,\n    order: { \"ID\": \"DESC\"},\n    filter: { \"OWNER_ID\": leadId },\n    select: [\"ID\", \"STATUS_ID\", \"CREATED_TIME\"],\n});\n\nfor (const item of a1) {\n    if (item.PROVIDER_TYPE_ID == 'CALL') {\n      const base = \"https://crm.apresenta.me/rest/1/2a5nmkk1mq5yvpvx\";\n      const url = `${base}/voximplant.statistic.get.json`;\n      \n      const res = await this.helpers.httpRequest({\n        method: \"POST\",\n        url,\n        json: true,\n        body: {\n          \"filter\": {\n            \"CRM_ACTIVITY_ID\": item.ID,\n            \">CALL_DURATION\": 30\n          },\n          \"order\": {\n            \"CALL_START_DATE\": \"DESC\"\n          },\n          \"start\": 0,\n          \"select\": [\n            \"CALL_ID\",\n            \"CALL_TYPE\",\n            \"CALL_START_DATE\",\n            \"DURATION\",\n            \"COMMENT\"\n          ]\n        },\n        timeout: 30000,\n      });\n  \n      item.CALL_DETAILS = res.result[0]\n    }  \n}\n\nconst out = [\n  {\n    activities: a1,\n    comments: a2,\n    stageHistory: a3,\n  },\n];\n\nreturn out;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1664,-112],"id":"d03d1f81-8610-458e-9166-ded6aff5ed8c","name":"Buscar dados da Timeline do Lead","disabled":true},{"parameters":{"jsCode":"const messages = $input.first().json.messages\n\nreturn {\n  messages: messages?.data?.filter(message => ['audio', 'audioMessage'].includes(message.messageType) && !!message.mediaUrl && !!message.file).map(message => ({ json: message })) || []\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-656,656],"id":"557f5ca9-08ed-4acd-9828-861c0c9be476","name":"Filtra por áudio","disabled":true},{"parameters":{"jsCode":"const stories = $input.all()\n\nreturn {\n  stories: stories.filter(history => history.json.historyName === 'activity' && history.json.typeId === 'CALL' && !!history.json.callDetails?.callUrl && history.json.isCompleted)\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1488,-112],"id":"940303d8-3697-4eea-9244-65bee04a320a","name":"Filtra por call","disabled":true},{"parameters":{"jsCode":"const allStories = $('Mapear dados do CRM').all()\nconst allStoriesMap = new Map()\nconst historyCalls = $('Filtra por call').first().json.stories\nconst transcribedCalls = $input.all()\n\nfor (const history of allStories) {\n  allStoriesMap.set(`${history.json.registerId}-${history.json.historyName}`, history)\n\n}\n\nfor (const transcribed of transcribedCalls) {\n  const call = historyCalls[transcribed.pairedItem.item]\n  const transcription = transcribed.json.text\n\n  call.json.callDetails = {\n    ...call.json.callDetails, \n    transcription\n  }\n  \n  allStoriesMap.set(`${call.json.registerId}-${call.json.historyName}`, call)\n}\n\nreturn Array.from(allStoriesMap.values())"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-528,-112],"id":"a085df77-ae31-4b70-ab1a-13da89451974","name":"Junta as transcrições com a timeline","disabled":true},{"parameters":{"jsCode":"const allMessages = $('Busca Mensagens do lead no Apre.Chat').first().json.messages.data\nconst allMessagesMap = new Map()\nconst audioMessages = $('Filtra por áudio').first().json.messages\nconst transcribedAudios =  $input.all()\n\nfor (const message of allMessages) {\n  allMessagesMap.set(String(message.id), {json:{\n    ...message\n  }})\n}\n\nconsole.log(audioMessages)\nconsole.log(transcribedAudios)\n\nfor (const transcribed of transcribedAudios) {\n  const audioMessage = audioMessages[transcribed.pairedItem.item]\n  const transcription = transcribed.json.text\n\n  allMessagesMap.set(String(audioMessage.json.id), {\n    json: {\n      ...audioMessage, \n      transcription: transcription\n    }\n  })\n}\n\nreturn Array.from(allMessagesMap.values())\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[272,656],"id":"cd893ccb-3919-4496-ac56-0703ad2971de","name":"Junta as transcrições com as mensagens","disabled":true},{"parameters":{"method":"POST","url":"https://api.apresenta.me/comercial/bitrix/leadGet","sendQuery":true,"queryParameters":{"parameters":[{"name":"id","value":"={{ $json.leadId }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2176,-128],"id":"bae1aaaf-d717-41df-8c88-effa1d578b4e","name":"Busca dados do Lead","disabled":true},{"parameters":{"url":"=https://api.apre.chat/api/messages/{{ $json.whatsapp || '00' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer kZaOTd+YZpjRUyyuQUpigJaEMk4vcW4YOymKPZX0Ts8="},{"name":"company","value":"10"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1248,352],"id":"ac66e23c-0aec-4987-b9ad-f1634bd2d9e4","name":"Busca Mensagens do lead no Apre.Chat","disabled":true,"onError":"continueRegularOutput"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[912,112],"id":"8d54ba06-a634-4490-8245-aa47e2656a9e","name":"Junta mensagens com histórico da timeline do Lead","alwaysOutputData":true,"disabled":true},{"parameters":{"method":"POST","url":"https://n8n.apresenta.me/webhook/audio-transcribe","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"url\": \"{{ $json.url }}\", \n  \"key\": \"{{ $json.key }}\",\n  \"force\": {{ $json.force }}\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-736,-112],"id":"e44d1e57-5c84-498b-b088-f7b89bd4d2f2","name":"Transcrever calls","disabled":true},{"parameters":{"jsCode":"const calls = $input.first().json.stories\n\nreturn calls.map(call => ({\n  url: call.json.callDetails.callUrl, \n  key: `${call.json.callDetails.registerId}_${call.json.callDetails.callKey}`,\n  force: $('Webhook (Lead Timeline)').first().json.query.force == 'Y'\n}))"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-960,-112],"id":"6592c199-4ca8-4b85-a7dc-a519567f81e7","name":"Mapear url das calls","disabled":true},{"parameters":{"jsCode":"const audios = $(\"Filtra por áudio\").first().json.messages\n\nreturn audios?.map(audio => ({\n  url: audio.json.mediaUrl, \n  force: $('Webhook (Lead Timeline)').first().json.query.force == 'Y',\n  key: `${audio.json.id}_${audio.json.file.fileName}`\n}))"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-160,656],"id":"cc7cc0ce-8951-48aa-ba20-e3df08fd2176","name":"Mapear url dos áudios","disabled":true},{"parameters":{"method":"POST","url":"https://n8n.apresenta.me/webhook/audio-transcribe","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"url\": \"{{ $json.url }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[48,656],"id":"bb057338-6360-48c9-ae17-4c60fbfff67b","name":"Transcrever audios","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0e7bb9f9-1d07-47aa-b731-59c869540da5","leftValue":"={{ $json.whatsapp?.length.toBoolean() }}","rightValue":"","operator":{"type":"boolean","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1520,368],"id":"b4910100-b09b-4587-8e6e-55a627e2d438","name":"Verifica se o Lead tem WhatsApp cadastrado","disabled":true},{"parameters":{"jsCode":"const stories = $input.all()\nconst sortedStories = stories.sort((a, b) => new Date(a.json.createdAt) - new Date(b.json.createdAt))\nreturn {\n  sortedStories\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,112],"id":"5b1b699b-c4cb-4c68-ae2f-4996c00f98b7","name":"Ordena por data de criação","disabled":true},{"parameters":{"jsCode":"return $('Busca Mensagens do lead no Apre.Chat').first().json.messages?.data?.map(message => ({\n  historyName: 'whatsAppMessage', \n  ...message  \n}))"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-464,656],"id":"8b8e987a-635a-4c40-a725-972d5b6d9387","name":"Normaliza dados","disabled":true},{"parameters":{"method":"POST","url":"={{ $env.BITRIX_URL }}crm.timeline.logmessage.add","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"fields\": {\n        \"entityTypeId\": 1,\n        \"entityId\": \"{{ $json.query.leadId }}\",\n        \"title\": \"❤️ Análise de Lead inciada.\",\n        \"text\": \"Análise do Lead foi iniciada com sucesso!\",\n        \"iconCode\": \"task-activity\"\n    }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2592,-128],"id":"993cf781-2276-4922-8d88-0e8386c21256","name":"Salva Log no Lead","retryOnFail":true,"disabled":true},{"parameters":{"method":"POST","url":"={{ $env.BITRIX_URL }}crm.lead.update","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"id\": \"{{ $('Busca dados do Lead').first().json.id }}\",\n    \"fields\": {\n        \"UF_CRM_LEAD_ANALYSIS\": {{ $json.lead.analysisWithoutEmojiEncoded }},\n        \"UF_CRM_LEAD_ANALYSIS_DATE\": \"{{ (() => { const d = new Date(); const pad = n => String(n).padStart(2,'0'); const tz = -d.getTimezoneOffset(); const sign = tz >= 0 ? '+' : '-'; const h = pad(Math.floor(Math.abs(tz) / 60)); const m = pad(Math.abs(tz) % 60); return `${d.getFullYear()}-${pad(d.getMonth()+1)}-${pad(d.getDate())}T${pad(d.getHours())}:${pad(d.getMinutes())}:${pad(d.getSeconds())}${sign}${h}:${m}`; })() }}\"\n    }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2304,112],"id":"771dc39e-b088-462b-9912-6d36b7b3e73a","name":"✏️ Altera dados do Lead","retryOnFail":true,"disabled":true},{"parameters":{"method":"POST","url":"={{ $env.BITRIX_URL }}crm.timeline.comment.add","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"fields\": {\n        \"ENTITY_TYPE\": \"lead\",\n        \"ENTITY_ID\": \"{{ $('Busca dados do Lead').first().json.id }}\",\n        \"COMMENT\": {{ $('Ajusta informações').item.json.lead.analysisBbCodeEncoded }}\n    }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2496,112],"id":"830fae43-65af-4da1-b308-247d64b61131","name":"Salva comentário com Análise no Lead","retryOnFail":true,"disabled":true},{"parameters":{"jsCode":"function removeEmojis(str) {\n  const re = /(?:[\\u{1F1E6}-\\u{1F1FF}]{2}|[#*0-9]\\uFE0F?\\u20E3|\\p{Extended_Pictographic}(?:\\uFE0F|\\u200D(?:\\p{Extended_Pictographic}|\\u2640|\\u2642)\\uFE0F?)*|\\uFE0F|\\u200D)/gu;\n  return str.replace(re, '');\n}\n\n\nfunction markdownToBBCode(markdown) {\n  return markdown\n    // Títulos\n    .replace(/^### (.*$)/gim, '[b]$1[/b]')\n    .replace(/^## (.*$)/gim, '[b]$1[/b]')\n    .replace(/^# (.*$)/gim, '[b]$1[/b]')\n\n    // Negrito\n    .replace(/\\*\\*(.*?)\\*\\*/g, '[b]$1[/b]')\n\n    // Itálico (opcional, se quiser suportar *texto*)\n    .replace(/\\*(.*?)\\*/g, '[i]$1[/i]')\n\n    // Quebras de linha duplas viram parágrafo\n    .replace(/\\n{2,}/g, '\\n\\n')\n}\n\nreturn {\n  lead: {\n    id: $('Busca dados do Lead').first().json.id,\n    analysisBbCodeEncoded: JSON.stringify(markdownToBBCode($input.first().json.output.analysis)),\n    analysisWithoutEmojiEncoded: JSON.stringify(removeEmojis($input.first().json.output.analysis)),\n  }\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2112,112],"id":"32037170-861b-4524-a1e6-070ca965daf7","name":"Ajusta informações","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"dcb1dc1a-aa81-4222-a916-5aad835db918","leftValue":"={{ $('Filtra por call').item.json.stories.length.toBoolean() }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1120,-272],"id":"4ba26126-e705-4589-8115-0a63f344a963","name":"Se tiver call na timeline","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"571ae3a5-3f06-46ff-bae6-6ced09fb6ca4","leftValue":"={{ $json._original.UF_CRM_LEAD_ANALYSIS }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"8ee34270-f834-401c-9cd9-83d920a86df9","leftValue":"={{ $('Webhook (Lead Timeline)').item.json.query.force != 'Y' }}","rightValue":"=","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1968,-128],"id":"b34852b2-fbaf-49a0-ae06-9721d906e773","name":"Se o Lead já tiver análise","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"eeeab0b2-44f3-4838-9a0c-30110ac166f2","leftValue":"={{ $('Filtra por áudio').item.json.messages.length.toBoolean() }}","rightValue":"True","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{"ignoreCase":false}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-304,848],"id":"070f5063-e558-4b63-8f99-fe8125c26316","name":"Verifica se tem audio nas mensagens","alwaysOutputData":false,"disabled":true},{"parameters":{"method":"POST","url":"={{ $env.BITRIX_URL }}crm.lead.update","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"id\": \"{{ $('Busca dados do Lead').item.json.id }}\",\n    \"fields\": {\n        \"UF_CRM_LEAD_ANALYSIS_DATE\": \"{{ (() => { const d = new Date(); const pad = n => String(n).padStart(2,'0'); const tz = -d.getTimezoneOffset(); const sign = tz >= 0 ? '+' : '-'; const h = pad(Math.floor(Math.abs(tz) / 60)); const m = pad(Math.abs(tz) % 60); return `${d.getFullYear()}-${pad(d.getMonth()+1)}-${pad(d.getDate())}T${pad(d.getHours())}:${pad(d.getMinutes())}:${pad(d.getSeconds())}${sign}${h}:${m}`; })() }}\"\n    }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1680,-592],"id":"b53a0b65-cd60-4987-939f-831bd5f9e032","name":"Altera da da última Análise de Lead","retryOnFail":true,"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a49d6896-c524-4dfe-8579-457dfbd9a51c","leftValue":"={{ $json.messages.data.length.toBoolean() }}","rightValue":"","operator":{"type":"boolean","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-992,352],"id":"a41b82c8-6cc6-4e57-931b-9c8bc080d84b","name":"If","disabled":true},{"parameters":{"jsCode":"const whatsapp = $input.first().json.whatsapp || '';\n\nreturn {\n  whatsapp: whatsapp.replace(/\\D/g, '') \n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1744,272],"id":"90a4c905-6d2b-4677-b091-85afb7f039db","name":"Remove caracteres diferentes de numero e espaço do whatsapp do lead","disabled":true},{"parameters":{"fromEmail":"Apresenta.me <no-reply@apresenta.me>","toEmail":"joao.rorato@apresenta.me","subject":"=💗 Análise de Lead | 🌟 {{ $('Análise de Lead').item.json.output.metadata.closingScore }} | {{ $('Busca dados do Lead').first().json.user_sdr_details.name.trim() }} {{ $('Busca dados do Lead').first().json.user_sdr_details.last_name.trim() }} | {{ $('Busca dados do Lead').first().json.user_seller_details.name.trim() }} {{ $('Busca dados do Lead').first().json.user_seller_details.last_name.trim() }} | {{ $('Busca dados do Lead').first().json.company_title }}","html":"={{ $json.message.content }}","options":{"appendAttribution":false,"ccEmail":"="}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[3040,112],"id":"cdeea6f8-ff33-402d-ae72-3a95d031ecd1","name":"Envia análise por e-mail","webhookId":"b8842732-9025-4c04-924e-06cfbb051a19","notesInFlow":false,"credentials":{"smtp":{"id":"aeF6k2hPp8cZPPHg","name":"SMTP account"}},"disabled":true},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5-mini","mode":"list","cachedResultName":"GPT-5-MINI"},"messages":{"values":[{"content":"=Você é um ASSISTENTE ESPECIALISTA em formatação de relatórios de análise de leads para o mercado imobiliário. Sua missão é transformar a análise bruta de uma call de qualificação ou demonstração em um e-mail visualmente moderno e legível no Gmail, com foco em facilitar a leitura rápida por vendedores.\n\nO e-mail deve ser claro, escaneável e chamar atenção para os principais pontos da conversa. Use blocos bem separados, cores, listas e emojis estratégicos. Cada parte do conteúdo deve “parecer lista”, com itens facilmente identificáveis para leitura rápida.\n\nATENÇÃO (REGRAS ESPECIAIS DE EMOJI):\n- ❌ NUNCA usar o emoji 📝 em hipótese alguma.\n- ❌ NUNCA adicionar emoji no início de uma linha que JÁ COMEÇA com emoji no texto original.\n- Só adicionar emoji como bullet quando a linha original não tiver emoji no começo.\n\n==========================\n🧠 OBJETIVO PRINCIPAL\n==========================\nTransformar um relatório bruto (transcrição ou análise da call) em um e-mail HTML responsivo e elegante, otimizado para Gmail, com foco na leitura rápida de vendedores, destacando pontos fortes, pontos fracos, oportunidades e alertas.\n\nO RESULTADO FINAL DEVE:\n- Ser extremamente escaneável (o vendedor deve “bater o olho” e entender).\n- Usar blocos coloridos para separar seções.\n- Usar listas e emojis para praticamente todas as informações importantes, SEM ALTERAR TEXTO.\n\n==========================\n🔧 INSTRUÇÕES DE FORMAÇÃO\n==========================\n\n1. FIDELIDADE AO CONTEÚDO\n- NÃO reescreva, NÃO resuma, NÃO reordene e NÃO interprete o conteúdo original do RELATÓRIO_BRUTO.\n- Use exatamente o texto original, apenas mudando a forma de apresentação (HTML, blocos, listas, emojis).\n- Mantenha todos os títulos, subtítulos e seções na ordem original, mesmo que estejam vazios ou pareçam repetitivos.\n\n2. E-MAIL EM HTML INLINE (compatível com Gmail)\n- Somente HTML com CSS inline.\n- NÃO usar tags externas como <html>, <head>, <body>.\n- NÃO usar comentários.\n- A saída final deve ser APENAS o HTML pronto para colagem no Gmail.\n\n3. VISUAL MODERNO, LEITURA FLUÍDA E ESPAÇAMENTO\n- Fonte: Helvetica, Arial, sans-serif.\n- line-height: 1.6; color: #333.\n- Títulos em cor #1a73e8, em negrito, e sempre com EMOJIS (ex: 🎯, ✅, ⚠️, 📌, 🧩, 💡).\n- Usar ESPAÇAMENTO MÉDIO entre blocos (títulos, parágrafos, boxes e listas):\n  - Evitar texto “colado” (sem espaçamento) que pareça bloco corrido.\n  - Evitar espaçamentos gigantes que quebrem demais o fluxo.\n  - Recomendações típicas:\n    - margin-top entre seções: 12px–18px\n    - margin-bottom entre parágrafos/listas: 6px–10px\n- Emojis com moderação porém consistentes em TODO o relatório:\n  - Principalmente em títulos de seções e itens de listas.\n  - Exemplos permitidos: ✅ ⚠️ 📌 🔎 🔗 💡\n  - Emoji 📝 é proibido.\n\n4. ESTRUTURA EM BLOCOS COLORIDOS (SEMPRE)\n- TODA seção importante do RELATÓRIO_BRUTO deve estar dentro de um box/bloco com fundo colorido.\n- Usar estes padrões de cor:\n  - Informação Geral: background-color:#E8F0FE\n  - Sucesso/Oportunidade/Pontos Fortes: background-color:#E6F4EA\n  - Alerta/Problema/Pontos de Atenção: background-color:#FFF4E5\n  - Neutro/Observação/Contexto: background-color:#F1F3F4\n- Sempre aplicar: border-radius:6px; padding:12px 14px; margin:12px 0;\n- Se não for óbvio qual cor usar, utilizar o bloco Neutro (#F1F3F4).\n\n5. TUDO DEVE “PARECER LISTA”\n- Sempre que possível, apresentar o conteúdo em forma de lista, SEM alterar o texto original:\n  - Transformar linhas separadas por quebras (\\n) em itens de lista.\n  - Utilizar <ul> e <li> ou listas com emojis no início de cada item.\n- Regra de emojis nas listas:\n  - Se a linha ORIGINAL já começar com emoji, NÃO adicionar outro emoji na frente, apenas colocar essa linha como <li>.\n  - Se a linha ORIGINAL NÃO tiver emoji no começo, você pode adicionar um emoji (ex: ✅, ⚠️, 📌, 💡) como bullet visual.\n- Manter o texto de cada linha exatamente igual ao original, apenas adicionando, quando permitido, um emoji ANTES do texto dentro da lista.\n- Exemplos de estilos de lista:\n  - <ul> com bullets normais (sem emoji).\n  - Listas com emojis como prefixo do item: ✅, ⚠️, 📌, 💡 (nunca 📝).\n- Evitar parágrafos muito longos:\n  - Sempre que houver quebras de linha no texto original, respeitar essas quebras com <br> ou transformá-las em itens de lista.\n- Manter blocos visuais bem definidos:\n  - Título da seção → box colorido com conteúdo em formato de lista → listas adicionais se necessário.\n\n6. QUEBRAS E ESTRUTURA\n- Converter \\n para <br> quando o texto estiver em bloco.\n- Preferencialmente, quando o conteúdo for uma enumeração ou pontos soltos, usar listas (<ul><li>) mantendo o texto literal de cada linha.\n- Não juntar frases de linhas diferentes em um único parágrafo se elas estiverem separadas no RELATÓRIO_BRUTO.\n\n7. TABELAS (se existirem)\n- Cabeçalhos em negrito.\n- border-collapse: collapse;\n- padding interno.\n- Espaçamento vertical médio entre a tabela e o conteúdo anterior/posterior (margin:12px 0).\n- Se a informação da tabela permitir, pode ser reforçada com listas e emojis abaixo dela, sem alterar o texto original (apenas reapresentando o mesmo conteúdo em formato de lista).\n\n8. LINKS\n- Sempre precedidos de 🔗.\n- Exemplo: 🔗 <a href=\"URL\" style=\"color:#1a73e8; text-decoration:underline;\">Texto do link</a>\n- Nunca deixar uma URL “solta” sem estar clicável.\n\n9. IMAGEM E CABEÇALHO\n- Sempre iniciar o e-mail com o logo:\n<img src=\"https://s.apresenta.me/comercial/automations/apresentame-300.png\" alt=\"Apresenta.me ~ O Futuro das Imobiliárias\" width=\"300\" style=\"display:inline-block; margin-bottom:20px;\">\n\n10. TÍTULO PRINCIPAL DO E-MAIL\n- Usar sempre um título chamativo com emoji:\n<h2 style=\"color:#1a73e8; font-family: Helvetica, Arial, sans-serif; margin:0 0 16px 0;\">🎯 Análise de Lead | Apresenta.me | NOME DO LEAD ~ ASSUNTO DA CALL</h2>\n\n11. ASSINATURA FINAL (obrigatória)\n- Sempre ao final, exatamente assim:\n<p style=\"font-style:italic; margin-top: 30px; border-top:1px solid #ddd; padding-top:10px; font-family: Helvetica, Arial, sans-serif;\">Relatório pela <b>Sofia</b>, assistente da Apresenta.me</p>\n\n==========================\n📌 EXEMPLO DE ORGANIZAÇÃO (TUDO EM BLOCOS E LISTAS)\n==========================\n\n<strong style=\"font-family: Helvetica, Arial, sans-serif;\">🎯 Objetivo da Call</strong>\n<div style=\"background-color:#E8F0FE; border-radius:6px; padding:12px 14px; margin:8px 0 14px 0; font-family: Helvetica, Arial, sans-serif;\">\n  <ul style=\"margin:0; padding-left:18px;\">\n    <li>💡 Conteúdo literal da seção, exatamente como no relatório.</li>\n    <li>💡 Quebras de linha do original podem virar novos itens de lista.</li>\n  </ul>\n</div>\n\n<strong style=\"font-family: Helvetica, Arial, sans-serif;\">✅ Pontos Fortes do Lead</strong>\n<div style=\"background-color:#E6F4EA; border-radius:6px; padding:12px 14px; margin:8px 0 14px 0; font-family: Helvetica, Arial, sans-serif;\">\n  <ul style=\"margin:0; padding-left:18px;\">\n    <li>✅ Pontos fortes identificados exatamente como no relatório.</li>\n    <li>💡 Respeitar o texto original, apenas formatando como lista.</li>\n  </ul>\n</div>\n\n<strong style=\"font-family: Helvetica, Arial, sans-serif;\">⚠️ Pontos de Atenção</strong>\n<div style=\"background-color:#FFF4E5; border-radius:6px; padding:12px 14px; margin:8px 0 14px 0; font-family: Helvetica, Arial, sans-serif;\">\n  <ul style=\"margin:0; padding-left:18px;\">\n    <li>⚠️ Obstáculos ou dúvidas levantadas pelo lead.</li>\n    <li>💡 Destacar riscos, incertezas ou dependências.</li>\n  </ul>\n</div>\n\n<strong style=\"font-family: Helvetica, Arial, sans-serif;\">📌 Próximos Passos</strong>\n<div style=\"background-color:#F1F3F4; border-radius:6px; padding:12px 14px; margin:8px 0 16px 0; font-family: Helvetica, Arial, sans-serif;\">\n  <ul style=\"margin:0; padding-left:18px;\">\n    <li>📌 Aguardar aprovação interna.</li>\n    <li>📌 Agendar próxima call com decisor.</li>\n  </ul>\n</div>\n\n==========================\n📤 INSTRUÇÃO FINAL\n==========================\n- A SAÍDA DEVE SER SOMENTE O HTML INLINE FINAL, pronto para colagem no Gmail.\n- NÃO incluir blocos de código, comentários ou explicações.\n- MANTER 100% do conteúdo textual do RELATÓRIO_BRUTO, na MESMA ORDEM ORIGINAL.\n- TRANSFORMAR o conteúdo em HTML visualmente moderno, claro, escaneável e responsivo.\n- USAR blocos COLORIDOS para separar visualmente as seções.\n- FAZER COM QUE QUASE TUDO PAREÇA LISTA, com uso de emojis nos itens, sem alterar o texto original.\n- NÃO USAR o emoji 📝 em nenhuma situação.\n- NÃO ADICIONAR emoji no início de linhas que JÁ COMEÇAM com emoji no texto original.\n- USAR cores, espaçamentos e emojis estrategicamente para facilitar a leitura por vendedores.\n- GARANTIR ESPAÇAMENTO MÉDIO entre seções, parágrafos, boxes e listas, evitando tanto texto corrido quanto espaços excessivos.\n\nDADOS DE ENTRADA:\n- Dados do lead/empresa (opcional).\n- RELATÓRIO_BRUTO: texto completo da análise da call, com seções e ordem originais (pode conter “\\n”).\n\nSAÍDA ESPERADA:\n- Somente HTML inline, pronto para Gmail.\n- Estrutura moderna, visualmente atrativa e fiel ao conteúdo original.\n- Leitura extremamente rápida e facilitada para times de venda, com blocos coloridos, estilo de lista e uso consistente (e controlado) de emojis.\n","role":"system"},{"content":"={{ $('Análise de Lead').first().json.output.analysis }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2688,112],"id":"de9ae77b-3bd6-48a7-8177-e5b222e143f6","name":"Cria html da analise de Lead","retryOnFail":true,"credentials":{"openAiApi":{"id":"weD4ayyAuWgClQqA","name":"OpenAi account"}},"disabled":true},{"parameters":{"jsCode":"const items = $input.first().json.sortedStories\n// Função para formatar data (transforma 2025-08-19T21:41:15.000Z em 19/08 21:41)\nfunction formatDate(isoString) {\n    if (!isoString) return \"\";\n    try {\n        const date = new Date(isoString);\n        return `${date.getDate().toString().padStart(2, '0')}/${(date.getMonth() + 1).toString().padStart(2, '0')} ${date.getHours().toString().padStart(2, '0')}:${date.getMinutes().toString().padStart(2, '0')}`;\n    } catch (e) {\n        return \"\";\n    }\n}\n\nfor (const item of items) {\n    const rawHistory = item.json.compressedHistory || \"\";\n    \n    // Se não tiver histórico, pula\n    if (!rawHistory) continue;\n\n    let entries = rawHistory.split('---');\n    let cleanTimeline = [];\n\n    for (let entry of entries) {\n        entry = entry.trim();\n        if (entry.length < 5) continue;\n\n        // 1. EXTRAIR A DATA (Está geralmente no cabeçalho entre colchetes)\n        // Ex: [MUDANÇA DE ETAPA (CRM) - 2025-08-19T21:42:14.000Z]\n        const dateMatch = entry.match(/(\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2})/);\n        const dateStr = dateMatch ? formatDate(dateMatch[0]) : \"Data N/A\";\n\n        // 2. FILTRO INTELIGENTE (O que manter e como formatar)\n\n        // CASO A: Mudança de Etapa (Timeline) -> Manter, mas encurtar\n        if (entry.includes('MUDANÇA DE ETAPA') || entry.includes('Status do Lead alterado')) {\n            // Extrai apenas o nome da nova fase (ex: \"SCHEDULED\")\n            const statusMatch = entry.match(/para \"([^\"]+)\"/);\n            const newStatus = statusMatch ? statusMatch[1] : \"Fase Desconhecida\";\n            \n            // Só adiciona se não for um loop de automação inútil\n            if (!['JUNK', 'ANALYSIS', 'REQUALIFICATION'].includes(newStatus)) {\n                 cleanTimeline.push(`🕒 ${dateStr} - Mudou fase para: ${newStatus}`);\n            }\n            continue; \n        }\n\n        // CASO B: Agendamentos/Cancelamentos (Manter resumido)\n        if (entry.includes('Evento marcado') || entry.includes('Cliente solicitou o cancelamento')) {\n            // Remove BBCode e deixa o texto limpo\n            let text = entry.replace(/\\[.*?\\]/g, '').replace(/<[^>]*>/g, '');\n            // Pega as primeiras 2 linhas apenas (evita links gigantes)\n            let lines = text.split('\\n').filter(l => l.trim()).slice(0, 2); \n            cleanTimeline.push(`📅 ${dateStr} - Agenda: ${lines.join(' - ')}`);\n            continue;\n        }\n\n        // CASO C: Lixo de Automação (REMOVER)\n        if (entry.includes('Fluxo de trabalho concluído')) continue;\n        if (entry.includes('O usuário SDR Novo Teste foi inativado')) continue;\n        if (entry.includes('Tarefa criada para o dia')) continue; // Log de tarefa interna\n        if (entry.includes('Ativo:  Y  | Responsável')) continue; // Log de sistema\n\n        // CASO D: Conteúdo Humano (Mensagens, Notas, E-mails) -> MANTER COMPLETO\n        // Limpa apenas formatação suja\n        let cleanContent = entry\n            .replace(/\\[MUDANÇA.*?\\]/g, '') // Remove cabeçalho técnico\n            .replace(/\\[COMENTÁRIO.*?\\]/g, '')\n            .replace(/\\[ATIVIDADE.*?\\]/g, '')\n            .replace(/\\[USER=\\d+\\].*?\\[\\/USER\\]/g, '') // Remove tags de usuário\n            .replace(/\\[B\\]|\\[\\/B\\]/g, '') // Remove negrito BBCode\n            .trim();\n\n        if (cleanContent.length > 0) {\n            cleanTimeline.push(`💬 ${dateStr} - Interação: \\n${cleanContent}`);\n        }\n    }\n\n    // Atualiza o campo com a timeline limpa e organizada\n    item.json.compressedHistory = cleanTimeline.join('\\n\\n');\n}\n\nreturn {\n  items: JSON.stringify(items)\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1328,112],"id":"dd363f82-705b-4df3-a60c-dc0a650cf521","name":"Comprime texto","disabled":true},{"parameters":{"model":{"__rl":true,"value":"gpt-5.1","mode":"list","cachedResultName":"gpt-5.1"},"options":{"timeout":600000}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1712,336],"id":"fffb87cf-ddc8-466f-9b87-5563c8a3eeb4","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"weD4ayyAuWgClQqA","name":"OpenAi account"}},"disabled":true},{"parameters":{"promptType":"define","text":"=🚀 Você é um Diretor de Vendas Sênior no mercado imobiliário.  \nSua missão é criar uma **Análise Crítica de Lead** para a Apresenta.me, **curta, objetiva e prática**, para uso pelo time comercial em uma reunião de venda **já agendada** (briefing PRÉ-call, o consultor ainda não falou com o lead).\n\n⚠️ REGRAS FIXAS (NÃO ALTERAR)  \n- Idioma: PT-BR  \n- NÃO altere links/IDs a seguir.  \n- Vendedor: {{ $('Busca dados do Lead').first().json.user_seller_details.name }} {{ $('Busca dados do Lead').first().json.user_seller_details.last_name }}  \n- SDR: {{ $('Busca dados do Lead').first().json.user_sdr_details.name }} {{ $('Busca dados do Lead').first().json.user_sdr_details.last_name }}  \n- Nome do Lead: \"{{ $('Busca dados do Lead').first().json.name }}\"  \n- Id do Lead (link CRM): https://crm.apresenta.me/crm/lead/details/{{ $('Busca dados do Lead').first().json.id }}/ \n- Dê prioridade aos dados do Lead para a análise. Caso não estejam disponíveis, consulte o Histórico de Interações.\nDados do Lead: {{ JSON.stringify($('Retorna informações relevantes do lead').first().json) }}\n- Fonte ÚNICA de verdade: Histórico de Interações (JSON) recebido em: {{ $('Comprime texto').first().json.items }}  \n- Use apenas o que estiver no histórico (e em variáveis explícitas). NÃO invente nem complete com achismos.  \n- Identifique dentro das mensagens quem é o lead; ignore suposições sem evidência.\n\n---\n\n🧠 MODO DE ANÁLISE (SEM TEXTÃO)\n\n- Toda afirmação importante (decisor, dor, orçamento etc.) deve ter uma **evidência curta entre aspas**: “...”.  \n- Não repita informações nem use parágrafos longos.  \n- Use bullets diretos, com máx. 2 linhas por item.  \n- Priorize clareza, concisão e ação para vendedor e SDR.\n\n---\n\n📤 FORMATO DA SAÍDA (EM ORDEM)\n\n---\n\n0) 🧾 **RESUMO EXECUTIVO (30 SEGUNDOS)**\n\nBloco direto, com os pontos-chave da oportunidade.  \n**Todos os bullets obrigatórios.**\n\n- 🎯 **Score de fechamento:** X/10 (🧊 0–3 / 🌤️ 4–7 / 🔥 8–10) — “...”  \n- 🧩 **Fit com ICP:** X/10 (🟢 bom / 🟡 médio / 🔴 baixo) — “...”  \n- 👑 **Decisor:** “...”  \n- 💰 **Orçamento:** “...”  \n- 🗓️ **Janela de compra:** “...”  \n- 💥 **3 dores principais:**  \n  1. “...”  \n  2. “...”  \n  3. “...”  \n- ⚠️ **Maior risco hoje:** “...”  \n- 🎯 **Foco da reunião pro vendedor:** “...”  \n- 📌 **Próximo passo ideal ao fim da call:** “...”\n\nSe faltar qualquer item acima, escreva “NÃO INFORMADO”.\n\n---\n\n1) 💡 **DICAS & GATILHOS (VENDEDOR + SDR)**\n\n👔 **Para o VENDEDOR (converter na call):**\n\n- 🎙️ **Abertura sugerida:**  \n  > “{{ $('Busca dados do Lead').first().json.name }}, pelo que você comentou sobre ‘…’, hoje vou te mostrar como outras imobiliárias resolveram isso e em quanto tempo tiveram retorno.”\n\n- 🎯 **Gatilhos para conduzir a conversa:**  \n  - “...” (ex.: “ancorar em ganho de tempo na locação”)  \n  - “...” (ex.: “mostrar segurança na migração do sistema atual”)  \n\n- 🖥️ **O que NÃO pode faltar na demo:**  \n  - 💬 Apre.Chat → “...”  \n  - 🧾 ERP / automação de locação → “...”  \n  - 💳 ApBank → “...”  \n  - ✍️ Assinatura Eletrônica / Vistoria → “...”\n\n📞 **Para o SDR (se faltar dados):**\n\nSe estiver tudo completo:  \n- 📞 **SDR:** “dados de qualificação completos, sem ações adicionais.”\n\nSe houver lacunas:  \n- ❓ **Perguntas obrigatórias para completar qualificação:**  \n  1. 👑 “...?” (decisor)  \n  2. 💰 “...?” (budget / quanto paga hoje)  \n  3. 🗓️ “...?” (quando quer implementar / resolver)  \n  4. 🔥 “...?” (onde dói mais)  \n  5. 🏢 “...?” (carteira / equipe, se faltar)\n\n---\n\n2) 🔍 **CONTEXTO DO LEAD & OPORTUNIDADE**\n\n- 👤 **Contato principal / cargo:** “...” → evidência “...”  \n- 💼 **Sistema atual / concorrente:** “...” → “...”  \n- 🔥 **Top 3 dores:**  \n  1. “...”  \n  2. “...”  \n  3. “...”  \n- 🎯 **Motivadores principais:** (⏳ tempo / 💸 dinheiro / 🗂️ organização / 🛡️ segurança)  \n  → “...”\n\n---\n\n3) ⏱️ **LINHA DO TEMPO ESSENCIAL**\n\n- 📅 DD/MM — “...” (primeiro contato / origem)  \n- 📅 DD/MM — “...” (avanço ou trava relevante)  \n- 🔁 Seguimento / reagendamento — “...”  \n- ⚠️ Oportunidade de melhoria do SDR — “...”\n\nSe aplicável:  \n- 🧱 **Ponto-chave de melhoria do SDR:** “...” (curto e direto)\n\n---\n\n4) ⚠️ **INSIGHTS FINAIS & CHECK DE QUALIFICAÇÃO**\n\n4.1 🔍 **Insights & Riscos (para o Vendedor)**\n\n- ✅ **Sinais positivos:**  \n  - “...”  \n  - “...”  \n- ⚠️ **Riscos / travas:**  \n  - “...”  \n  - “...”  \n- 🧩 **Postura recomendada na call:**  \n  - “...”  \n  - “...”\n\n4.2 🧱 **Feedback rápido para SDR**  \n(Preencher só se houver algo claro)\n\n- 🧱 **Pontos de melhoria do SDR:**  \n  - “...”\n\nSe não houver:  \n- 🧱 **SDR:** “sem pontos de melhoria relevantes identificados.”\n\n4.3 ✅ **CHECK DE QUALIFICAÇÃO VISUAL**\n\n- 👑 **Decisor:** 🔴/🟡/🟢 — “...”  \n- 💰 **Orçamento:** 🔴/🟡/🟢 — “...”  \n- 🗓️ **Janela de compra:** 🔴/🟡/🟢 — “...”  \n- 🔥 **3 dores claras:** 🔴/🟡/🟢 — “...”  \n- 💼 **Sistema atual / concorrente:** 🔴/🟡/🟢 — “...”  \n- 🧩 **Fit com ICP:** 🔴/🟡/🟢 — “...”\n\n📌 Regras:  \n- Sem evidência → 🔴 + “NÃO INFORMADO”  \n- Informação vaga → 🟡  \n- Informação clara → 🟢\n","hasOutputParser":true,"options":{"returnIntermediateSteps":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1760,112],"id":"db3d3971-2684-4da0-b92d-9666de39f7f4","name":"Análise de Lead","retryOnFail":false,"disabled":true},{"parameters":{"jsonSchemaExample":"{\n\t\"metadata\": {\n      \"closingScore\": \"SEMPRE NO FORMATO {score}/{score_limit}\"\n    },\n\t\"analysis\": \"Texto da analise\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1936,320],"id":"feafedbf-5456-49d9-beb5-93408feba66d","name":"Structured Output Parser","disabled":true},{"parameters":{"jsCode":"const lead = $('Busca dados do Lead').first().json\n\nreturn {\n  lead: {\n    purchase_window_desc: lead.purchase_window_desc,\n    major_pains_desc: lead.major_pains_desc,\n    amount_in_current_system_or_budget_desc: lead.amount_in_current_system_or_budget_desc\n  }\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1536,112],"id":"e71c9d30-e84b-4d44-b7dc-b24f68d53cba","name":"Retorna informações relevantes do lead","disabled":true},{"parameters":{"operation":"delete","key":"=temp.{{ $('Configura Contexto').item.json.cache_key }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-6880,720],"id":"e322860b-a838-42a4-b114-4d8d4acbe742","name":"DELETE2","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}},"disabled":true},{"parameters":{"operation":"delete","key":"={{ $('Configura Contexto').item.json.cache_key }}_state"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-7296,720],"id":"f2047f90-280a-4d62-9b99-01feb790ebe0","name":"Deleta estado atual","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}},"disabled":true},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_chat_histories","mode":"list","cachedResultName":"n8n_chat_histories"},"deleteCommand":"delete","where":{"values":[{"column":"session_id","value":"={{ $('Configura Contexto').first().json.cache_key }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-7120,720],"id":"8e8a2928-770b-4e03-bd24-c58e8805b4e5","name":"Delete table or rows1","credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1f5bcbd1-6685-469d-bbf2-7939008b234d","leftValue":"={{ $json.user_msg }}","rightValue":"clear:cache:111222","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-7520,1200],"id":"ab2cf358-a41e-4409-a380-04ab8037b539","name":"If2","disabled":true},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-6608,1888],"id":"2ee999b0-d16b-4125-9bf2-dcb777128f4a","name":"NADA1","disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a2aafb32-380d-4510-810a-888831d36437","leftValue":"={{ DateTime.fromMillis( JSON.parse($json.messages?.last() || '{}').timestamp ) }}","rightValue":"={{ $now.minus(20, 'seconds' )}}","operator":{"type":"dateTime","operation":"before"}}],"combinator":"and"},"renameOutput":true,"outputKey":"segue"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3d2a33da-ed74-4906-92aa-74ad3a37c4f1","leftValue":"={{ $json.messages?.length ?? 0 }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"nada"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"espera"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-6944,1728],"id":"2832285b-5fa3-4c28-8c52-4331989c6fef","name":"SWITCH_BUFFER","disabled":true},{"parameters":{"operation":"delete","key":"=temp.{{ $('Configura Contexto').item.json.cache_key }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-6608,1728],"id":"7b9a4322-dcae-4dbe-8ea2-60153860abad","name":"DELETE1","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}},"disabled":true},{"parameters":{"operation":"get","propertyName":"messages","key":"=temp.{{ $('Configura Contexto').first().json.cache_key }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-7136,1744],"id":"9b39d2ee-d69f-46e1-b88d-7d65463ec70e","name":"GET1","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}},"disabled":true},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-6752,1984],"id":"a18fb2c1-520f-4693-8e9a-1c2a55218110","name":"Wait1","webhookId":"d1e38aad-57ac-45e5-b64a-08e2f1ce1a6f","disabled":true},{"parameters":{"operation":"push","list":"=temp.{{ $json.cache_key }}","messageData":"={{ JSON.stringify({\n  message: $('Webhook').item.json.body.message, \n  timestamp: $now.toMillis() \n}) }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-7328,1744],"id":"7da8aa9e-2646-4590-9134-7cd4d4360083","name":"PUSH1","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}},"disabled":true},{"parameters":{"method":"POST","url":"https://api-chat-joao.apre.tv/api/messages/send","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"={\n    \"accept\": \"application/json\",\n    \"authorization\": \"Bearer kZaOTd+YZpjRUyyuQUpigJaEMk4vcW4YOymKPZX0Ts8=\",\n    \"company\": {{ $('Configura Contexto').first().json.companyId }},\n    \"content-type\": \"application/json\"\n}","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"message","value":"={{ $json.output }}"},{"name":"number","value":"={{ $('Configura Contexto').first().json.user_phone }}"},{"name":"whatsappId","value":"={{ $('Configura Contexto').first().json.whatsappId }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3024,1184],"id":"694505ae-208f-477e-b1c3-e5e97fcbf2fe","name":"Envia WhatsApp1","disabled":true},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Configura Contexto').first().json.cache_key }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-3312,1376],"id":"e0f65f46-cf9d-4e85-afb1-552cc855ca45","name":"Postgres Chat Memory1","credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}},"disabled":true},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"description\": \"Retorne um objeto com as chaves exatas solicitadas no prompt.\",\n  \"additionalProperties\": true\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-5280,1728],"id":"bb230d9f-f5fd-4ace-98e1-63d96fcc73ed","name":"Structured Output Parser1","disabled":true},{"parameters":{"jsCode":"const messages = $input.item.json.messages || [];\nconst fullText = messages.map(m => JSON.parse(m).message).join('\\n');\n\nreturn {\n  user_full_message: fullText,\n  cache_key: $('Configura Contexto').item.json.cache_key\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-6352,1312],"id":"04f5f088-17a6-41a8-83c2-7fa2eb97d270","name":"CONCATENA1","disabled":true},{"parameters":{"options":{"temperature":0.5}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-3424,1376],"id":"9b094a71-c4b3-43f5-99ae-cde022c43954","name":"OpenAI Persona","credentials":{"openAiApi":{"id":"weD4ayyAuWgClQqA","name":"OpenAi account"}},"disabled":true},{"parameters":{"promptType":"define","text":"=[INSTRUÇÃO DO FLUXO]\n{{ $('LOGIC ENGINE').item.json.finalInstruction }}\n\n[DADOS JÁ COLETADOS]\n{{ JSON.stringify($('LOGIC ENGINE').item.json.updatedVars) }}\n\n[CONTEXTO DA BASE DE CONHECIMENTO (RAG)]\n(Use isso APENAS se o usuário fez uma pergunta. Se estiver vazio, ignore).\n{{ $json.rag_context ? $json.rag_context.map(d => d.pageContent).join('\\n\\n') : \"\" }}\n\n[MENSAGEM ATUAL DO LEAD]\n\"{{ $('CONCATENA1').item.json.user_full_message }}\"\n\n[DIRETRIZES]\n1. PRIORDADE 1: Se houver \"Contexto da Base de Conhecimento\", responda a dúvida do usuário primeiro, de forma resumida e amigável.\n2. PRIORIDADE 2: Imediatamente após responder (ou se não houver dúvida), faça a transição para cumprir a \"INSTRUÇÃO DO FLUXO\".\n3. Use uma \"ponte\" para ligar os assuntos (ex: \"Respondendo sua dúvida, custa X. Falando nisso, para eu te passar o orçamento exato, preciso saber...\").\n4. Seja humana, breve e use emojis moderados.","options":{"systemMessage":"Você é Alicia da Apresenta.me."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-3392,1184],"id":"65542f70-d34e-46e9-b8b0-59e7d451409d","name":"Gerador de Resposta","disabled":true},{"parameters":{"operation":"set","key":"={{ $('Configura Contexto').item.json.cache_key }}_state","value":"={{ JSON.stringify({ stage_id: $json.newStageId, vars: $json.updatedVars }) }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-4864,1312],"id":"3157eedb-b589-44d2-95d4-408913c71b4d","name":"Salva Novo Estado","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}},"disabled":true},{"parameters":{"jsCode":"const inputData = $input.all()[0].json;\nconst workflow = $('BLUEPRINT ENGINE').item.json.workflow;\nlet currentStageId = $('BLUEPRINT ENGINE').item.json.currentStageId;\nlet vars = $('BLUEPRINT ENGINE').item.json.vars;\nlet stageConfig = $('BLUEPRINT ENGINE').item.json.stageConfig;\nlet outputInstruction = \"\";\n\n// --- 1. ATUALIZAÇÃO GLOBAL (Check-in) ---\nconst extractedObj = inputData.output || {};\nfor (const [key, value] of Object.entries(extractedObj)) {\n    if (value !== null && value !== undefined) {\n        vars[key] = { value: value, type: 'extracted' };\n    }\n}\n\n// Helper para verificar se um estágio de Input já está satisfeito\nfunction isInputSatisfied(stage) {\n    if (!stage || stage.type !== 'input') return false;\n    // Verifica se TODAS as variáveis obrigatórias já existem\n    return stage.variables.every(v => vars[v.name] && vars[v.name].value !== null);\n}\n\n// --- 2. LOOP DE AVANÇO (Auto-Skip & Look Ahead) ---\nlet safetyLoop = 0;\nlet advancing = true;\n\nwhile (advancing && safetyLoop < 50) {\n    stageConfig = workflow[currentStageId];\n    if (!stageConfig) break;\n\n    advancing = false; // Assume parada, a menos que prove o contrário\n\n    // --- CASO 1: INPUT (Perguntas) ---\n    if (stageConfig.type === 'input') {\n        if (isInputSatisfied(stageConfig)) {\n            // Já temos a resposta! Pula.\n            currentStageId = stageConfig.next_stage;\n            advancing = true; \n        } else {\n            // Falta resposta. Paramos aqui.\n        }\n    }\n\n    // --- CASO 2: MENSAGEM (O robô fala) ---\n    else if (stageConfig.type === 'message') {\n        // [LOOK AHEAD]\n        // Verifica se a Próxima Etapa é um Input JÁ RESPONDIDO.\n        // Se for, pula a mensagem também.\n        \n        const nextStage = workflow[stageConfig.next_stage];\n        \n        if (nextStage && nextStage.type === 'input' && isInputSatisfied(nextStage)) {\n            currentStageId = nextStage.next_stage;\n            advancing = true; // Continua avançando\n        } else {\n            // Mensagem necessária. Define instrução e para.\n            outputInstruction = stageConfig.instruction;\n            if (stageConfig.next_stage !== 'STOP') {\n                 currentStageId = stageConfig.next_stage;\n            }\n            advancing = false; \n        }\n    }\n\n    // --- CASO 3: ROUTER (Decisão Lógica) ---\n    else if (stageConfig.type === 'router') {\n        let routeFound = false;\n        for (const rule of stageConfig.rules) {\n            if (rule.default) {\n                currentStageId = rule.default;\n                routeFound = true;\n                break;\n            }\n            if (vars[rule.variable] && vars[rule.variable].value === rule.value) {\n                currentStageId = rule.next_stage;\n                routeFound = true;\n                break;\n            }\n        }\n        if (routeFound) advancing = true; \n    }\n    \n    safetyLoop++;\n}\n\nreturn {\n    newStageId: currentStageId,\n    updatedVars: vars,\n    finalInstruction: outputInstruction\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5072,1312],"id":"6399ba29-f1e4-420a-9dc4-6b5979bd365e","name":"LOGIC ENGINE","disabled":true},{"parameters":{"options":{"temperature":0.1}},"type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[-5504,1728],"id":"cb57d13a-f95d-4fea-a83e-7b8bd6554eb2","name":"DeepSeek Model","credentials":{"deepSeekApi":{"id":"RhJeeogDvgiUtqv2","name":"DeepSeek account"}},"disabled":true},{"parameters":{"promptType":"define","text":"=[OBJETIVO GLOBAL]\nO usuário está conversando. Precisamos descobrir estas informações (Global):\n{{ JSON.stringify($('BLUEPRINT ENGINE').item.json.missingVars) }}\n\n[MENSAGEM DO USUÁRIO]\n\"{{ $('BLUEPRINT ENGINE').item.json.userMsg }}\"\n\n[SUA TAREFA]\nAnalise a mensagem. Procure por QUALQUER variável da lista acima.\n1. Se encontrar, extraia.\n2. Se encontrar múltiplas (ex: nome e cargo), extraia TODAS.\n3. Se a variável for LÓGICA (descrição contém regras), deduza o valor.\n4. Se não houver dados úteis, retorne null.\n\nRetorne JSON plano: { \"variavel\": \"valor\" }.","hasOutputParser":true,"options":{"systemMessage":"Você é um extrator de dados inteligente. Você preenche formulários invisíveis baseado em intenção."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-5456,1504],"id":"1da894b6-896e-453e-b902-168bfb5f4100","name":"Extrator Inteligente","disabled":true},{"parameters":{"jsCode":"// --- BLUEPRINT NO-CODE ---\nconst workflow = {\n  \"START\": {\n    \"type\": \"message\",\n    \"instruction\": \"Apresente-se como Alicia. Pergunte o nome.\",\n    \"next_stage\": \"WAIT_NAME\"\n  },\n  \"WAIT_NAME\": {\n    \"type\": \"input\",\n    \"variables\": [\n       { \"name\": \"name\", \"description\": \"Nome do Lead\" }\n    ],\n    \"next_stage\": \"ASK_ROLE\"\n  },\n  \"ASK_ROLE\": {\n    \"type\": \"message\",\n    \"instruction\": \"Pergunte o cargo/função na imobiliária.\",\n    \"next_stage\": \"WAIT_ROLE\"\n  },\n  \"WAIT_ROLE\": {\n    \"type\": \"input\",\n    \"variables\": [\n        { \"name\": \"role\", \"description\": \"Cargo (ex: Corretor, Sócio)\" },\n        { \n          \"name\": \"isAutonomous\", \n          \"description\": \"(CAMPO LÓGICO): Defina TRUE se o usuário trabalha sozinho/autônomo. Defina FALSE se for imobiliária/equipe.\",\n          \"type\": \"boolean\"\n        }\n    ],\n    \"next_stage\": \"ROUTER_PROFILE\"\n  },\n  \"ROUTER_PROFILE\": {\n    \"type\": \"router\", \n    \"rules\": [\n        { \"variable\": \"isAutonomous\", \"value\": true, \"next_stage\": \"ASK_RENTAL_STATUS\" },\n        { \"default\": \"ASK_TEAM_SIZE\" }\n    ]\n  },\n  \"ASK_TEAM_SIZE\": {\n    \"type\": \"message\",\n    \"instruction\": \"Pergunte o tamanho do time.\",\n    \"next_stage\": \"WAIT_TEAM_SIZE\"\n  },\n  \"WAIT_TEAM_SIZE\": {\n    \"type\": \"input\",\n    \"variables\": [\n       { \"name\": \"teamSize\", \"description\": \"Tamanho da equipe\" }\n    ],\n    \"next_stage\": \"ASK_RENTAL_STATUS\"\n  },\n  \"ASK_RENTAL_STATUS\": {\n    \"type\": \"message\",\n    \"instruction\": \"Pergunte se trabalham com locação.\",\n    \"next_stage\": \"WAIT_RENTAL_STATUS\"\n  },\n  \"WAIT_RENTAL_STATUS\": {\n    \"type\": \"input\",\n    \"variables\": [\n       { \"name\": \"rentalStatus\", \"description\": \"Status locação (active/starting/none)\" }\n    ],\n    \"next_stage\": \"CLOSING\"\n  },\n  \"CLOSING\": {\n    \"type\": \"message\",\n    \"instruction\": \"Encerre.\",\n    \"next_stage\": \"STOP\"\n  }\n};\n\nconst redisData = $('GET Estado Atual').item.json.propertyName ? JSON.parse($('GET Estado Atual').item.json.propertyName) : {};\nconst currentStageId = redisData.stage_id || 'START';\nconst vars = redisData.vars || {};\nconst stageConfig = workflow[currentStageId] || workflow['START'];\n\n// --- VARREDURA GLOBAL DE VARIÁVEIS ---\nlet missingVars = [];\nfor (const key in workflow) {\n    const step = workflow[key];\n    if (step.type === 'input' && step.variables) {\n        step.variables.forEach(v => {\n            if (!vars[v.name] || vars[v.name].value === null) {\n                missingVars.push({\n                    name: v.name,\n                    description: v.description\n                });\n            }\n        });\n    }\n}\n\nreturn {\n  workflow,\n  currentStageId,\n  stageConfig,\n  vars,\n  missingVars,\n  userMsg: $('CONCATENA1').item.json.user_full_message\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5920,1312],"id":"7b9746e3-5bfa-458f-aa12-0b4d12eedcdf","name":"BLUEPRINT ENGINE","disabled":true},{"parameters":{"operation":"get","key":"={{ $json.cache_key }}_state","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-6144,1312],"id":"52d56293-9113-4042-b0db-361bc5890e6c","name":"GET Estado Atual","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}},"disabled":true},{"parameters":{"jsCode":"return { \n  cache_key: `session_${$json.body.ticketId}`,\n  companyId: $json.body.companyId,\n  whatsappId: $json.body.whatsappId,\n  user_msg: $json.body.message,\n  user_phone: $json.body.contact.number,\n  timestamp: new Date().getTime()\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-7888,1152],"id":"63825d27-16b7-493c-9c84-e0beedc4a206","name":"Configura Contexto","disabled":true},{"parameters":{"httpMethod":"POST","path":"7223c6af-f595-4bc2-b84c-602b8900cd08","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-8288,1152],"id":"21b0ead5-5873-4784-9dfd-334cb859a1e9","name":"Webhook","webhookId":"7223c6af-f595-4bc2-b84c-602b8900cd08","disabled":true},{"parameters":{"promptType":"define","text":"=[INPUT DO USUÁRIO]\n\"{{ $('CONCATENA1').item.json.user_full_message }}\"\n\n[SUA TAREFA]\nClassifique se o usuário está fazendo uma PERGUNTA sobre a empresa, produto, preço, funcionamento ou suporte.\n- Retorne TRUE se for uma dúvida/pergunta.\n- Retorne FALSE se for apenas uma resposta de dados (ex: \"Sou João\", \"Sim\", \"Não\", \"Tenho 10 imóveis\").\n- Retorne FALSE se for saudação ou conversa fiada.\n\nResponda apenas com JSON: { \"hasQuestion\": boolean }","hasOutputParser":true,"options":{"systemMessage":"Você é um classificador de intenção binário."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-4496,1760],"id":"0679cca7-f32d-449e-9c7a-8e6f16bdf072","name":"Router de Dúvida","disabled":true},{"parameters":{"options":{"temperature":0}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-4592,1968],"id":"13aac9e0-59b6-4304-a9c8-e4e0034b4624","name":"OpenAI Router","credentials":{"openAiApi":{"id":"weD4ayyAuWgClQqA","name":"OpenAi account"}},"disabled":true},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"hasQuestion\": {\n      \"type\": \"boolean\"\n    }\n  }\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-4400,1968],"id":"4571d350-e638-4f2b-86f5-2c66b521e928","name":"Parser Router","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check-question","leftValue":"={{ $json.output.hasQuestion }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4144,1760],"id":"8037dced-9248-48bb-a087-0ba006d28e52","name":"Tem Dúvida?","disabled":true},{"parameters":{"mode":"load","tableName":"n8","prompt":"={{ $('Configura Conexto').first().json.user_msg }}","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[-3968,1504],"id":"9b678f26-23fc-4d2e-8ccf-2cdbe3f92611","name":"Consulta Base Conhecimento","credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}},"disabled":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-3968,1680],"id":"92aad5b4-c690-4339-a8e6-0cf2b6cef4a9","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"weD4ayyAuWgClQqA","name":"OpenAi account"}},"disabled":true},{"parameters":{"mode":"combine","joinMode":"enrich","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[-3616,1760],"id":"87cd32e1-4c5a-4f35-abee-7bf35bdbd7bb","name":"Merge Contexto","disabled":true},{"parameters":{"operation":"executeQuery","query":"INSERT INTO public.n8n_chat_histories (session_id, message)\nVALUES \n($1, $2),\n($1, $3);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-2800,1184],"id":"4ad1965e-9338-4067-9376-0a3e9102ad7b","name":"Salva Histórico","credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}},"disabled":true},{"parameters":{"operation":"executeQuery","query":"SELECT message->>'content' AS content\nFROM public.n8n_chat_histories\nWHERE session_id = '{{ $('Configura Contexto').item.json.cache_key }}'\nORDER BY id DESC LIMIT 10;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-4640,1312],"id":"ee14e64b-1a40-414d-8de8-a1e41f65e600","name":"Busca Histórico","credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}},"disabled":true},{"parameters":{"operation":"get","propertyName":"messages","key":"=temp.{{ $('Configura Contexto1').first().json.cache_key }}","keyType":"string","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1712,7808],"id":"a26f8bd0-777b-40af-8b89-020d169d1962","name":"Busca mensagens no cache","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}},"disabled":true},{"parameters":{"jsCode":"const inputMessages = typeof $input.first().json.messages == 'string' ?  JSON.parse($input.first().json.messages) : $input.first().json.messages\nconst cacheMessagesToArrayJSON = inputMessages?.map(message => typeof message == 'string' ? JSON.parse(message) : message) || []\n\nconst userMsg = {\n  message: $('Configura Contexto1').first().json.user_msg, \n  timestamp: $now.toMillis() \n}\n\nreturn {\n  messages: [\n    ...cacheMessagesToArrayJSON, \n    userMsg\n  ]\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1488,7808],"id":"f67eff08-4ee3-454c-9609-9a269f0c7eda","name":"Junta mensagem do cache com a mensagem do usuário","disabled":true},{"parameters":{"operation":"set","key":"=temp.{{ $('Configura Contexto1').first().json.cache_key }}","value":"={{ JSON.stringify($json.messages) }}","keyType":"string"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1264,7808],"id":"92783fbb-5fd5-4828-85c0-dfb611b76436","name":"SETA CACHE DAS MENSAGENS","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}},"disabled":true},{"parameters":{"operation":"get","propertyName":"messages","key":"=temp.{{ $('Configura Contexto1').first().json.cache_key }}","keyType":"string","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1040,7808],"id":"b9614653-e58e-4d6c-b852-957889f4e565","name":"BUSCA MENSAGENS ACUMULADAS","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}},"disabled":true},{"parameters":{"jsCode":"const messages = typeof $input.first().json.messages == 'string' ? JSON.parse($input.first().json.messages) : $input.first().json.messages\n\nreturn {\n  messages: messages?.map(message => typeof message === 'string' ? JSON.parse(message) : message) ?? null\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-816,7808],"id":"dc8a3378-b404-42b2-99d9-da1a85919ea7","name":"Transforma em objeto literal","disabled":true},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_chat_histories","mode":"list"},"limit":8,"where":{"values":[{"column":"session_id","value":"={{ $('Configura Contexto1').item.json.cache_key }}"}]},"sort":{"values":[{"column":"id","direction":"DESC"}]},"options":{"outputColumns":["message"]}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[640,7712],"id":"ce5ea708-4084-4782-b963-ba16f995f61b","name":"Pega ultimas mensagens","credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}},"disabled":true},{"parameters":{"jsCode":"const messages = $input.all();\nif (!messages.length) return { historyMessages: null };\nconst historyMessages = messages.reverse().map(m => `**${m.json.message?.type}**: ${m.json.message?.content}`).join('\\n\\n');\nreturn { historyMessages };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[864,7712],"id":"785ffdb2-a499-4383-a1ad-5e316d8d3ff1","name":"Formata ultimas mensagens","disabled":true},{"parameters":{"jsCode":"return {\n  tone: \"Engraçado\",\n  agentName: \"Alicia\",\n  initialMessage: \"Olá! Sou a Alicia da Apresenta.me!\",\n  conduct: \"SDR Consultiva. Curta, humana, sem exclamações. 1 pergunta por vez.\"\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1056,7712],"id":"ea1cd901-d80d-4a68-b646-b28a98ccf0c6","name":"Seta perfil1","disabled":true},{"parameters":{"promptType":"define","text":"=### [MISSÃO: PLANNER DE CONTEÚDO]\nVocê é um analista lógico. Gere um rascunho técnico.\n\n[RAG CONTEXT]\n{{ $('MERGE DADOS').first().json.rag_context ? $('MERGE DADOS').first().json.rag_context.join('\\n'): 'Sem dúvidas técnicas.' }}\n\n[PRÓXIMO PASSO]\n{{ $('LOGIC ENGINE').first().json.finalInstruction }}\n\nInstrução: Extraia apenas fatos do RAG e mantenha o próximo passo do Blueprint.","options":{"systemMessage":"Planner: Apenas fatos e passos. Sem saudações."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[4000,7728],"id":"5aa1e57a-e986-423c-bed3-db3ac2fc0cf7","name":"Planner de Conteúdo","disabled":true},{"parameters":{"promptType":"define","text":"=### RASCUNHO BRUTO:\n{{ $json.output }}\n\n### PERSONA (ALICIA):\n- Tom: {{ $('Seta perfil1').first().json.tone }}\n- Nome do Lead: {{ $('LOGIC ENGINE').first().json.updatedVars.name?.value || 'Lead' }}\n\nInstrução: Transforme o rascunho em uma fala de WhatsApp da Alicia. Curta, engraçada, sem exclamação (!), chame pelo nome.","options":{"systemMessage":"Redator: Você é a Alicia. Dê personalidade ao rascunho."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[4256,7728],"id":"b865fcc8-fd7f-4c33-96fe-f939f5bb84d4","name":"Redator de Persona Alicia","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"ae48936d","name":"output","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4512,7552],"id":"45dc06bf-6874-4038-b350-a485f46c1d1e","name":"output1","disabled":true},{"parameters":{"httpMethod":"POST","path":"7223c6af-f595-4bc2-b84c-602b8900cd08","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-2416,7792],"id":"4c1e2e93-7e91-44fd-9bf2-fba036ca6f17","name":"Webhook1","webhookId":"03213f44-bb6a-48b4-8ee8-82027c253d17","disabled":true},{"parameters":{"jsCode":"return { \n  cache_key: `session_${$json.body.ticketId}`,\n  companyId: $json.body.companyId,\n  whatsappId: $json.body.whatsappId,\n  user_msg: $json.body.message,\n  user_phone: $json.body.contact.number,\n  timestamp: new Date().getTime()\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2192,7792],"id":"083d844e-8461-4767-9deb-289f2a8884d0","name":"Configura Contexto1","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1f5bcbd1-6685-469d-bbf2-7939008b234d","leftValue":"={{ $json.user_msg }}","rightValue":"clear:cache:111222","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1952,7792],"id":"e27592e1-e4ac-4a9e-bc85-bf766e549e96","name":"If3","disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a2aafb32-380d-4510-810a-888831d36437","leftValue":"={{ DateTime.fromMillis($json.messages?.last().timestamp) }}","rightValue":"={{ $now.minus(6, 'seconds' )}}","operator":{"type":"dateTime","operation":"before"}}],"combinator":"and"},"renameOutput":true,"outputKey":"segue"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"espera"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-496,7792],"id":"86998085-b0d1-405b-96cc-3d550d8db21b","name":"SWITCH_BUFFER1","disabled":true},{"parameters":{"operation":"delete","key":"=temp.{{ $('Configura Contexto1').item.json.cache_key }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-272,7712],"id":"0b6bb518-621c-48a5-8e70-3ecfa17bf7a5","name":"DELETE","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}},"disabled":true},{"parameters":{"jsCode":"const messages = $input.item.json.messages || [];\nconst fullText = messages.map(m => m.message).join('\\n');\n\nreturn {\n  user_full_message: fullText,\n  cache_key: $('Configura Contexto1').item.json.cache_key\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-48,7712],"id":"bd7bced8-fbff-4881-a827-9b93929f3dce","name":"CONCATENA","disabled":true},{"parameters":{"operation":"get","key":"={{ $('Configura Contexto1').first().json.cache_key }}_state","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[192,7712],"id":"b550a167-0926-495a-9fc1-7b302ef64990","name":"GET Estado Atual1","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}},"disabled":true},{"parameters":{"jsCode":"// --- BLUEPRINT LOGIC REMAINED INTACT ---\nconst workflow = {\n  START: { type: \"message\", instruction: \"Apresente-se como Alicia da Apresenta.me. Seja breve e pergunte o nome.\", next_stage: \"WAIT_NAME\" },\n  WAIT_NAME: { type: \"input\", variables: [{ name: \"name\", afterRepliedInstruction: \"Diga ao lead que é um prazer conhecê-lo.\", description: \"Nome do Lead\" }], next_stage: \"ASK_WANT_DATA_COLLECTION\" },\n  ASK_WANT_DATA_COLLECTION: { type: \"message\", instruction: 'Pergunte se aceita participar de uma coleta de dados...', next_stage: \"WAIT_WANT_DATA_COLLECTION\" }\n  // ...rest of your logic exists here when imported\n};\n\nconst redisData = $(\"GET Estado Atual1\").item.json.propertyName ? JSON.parse($(\"GET Estado Atual1\").item.json.propertyName) : {};\nconst currentStageId = redisData.stage_id || \"START\";\nconst vars = redisData.vars || {};\nconst stageConfig = workflow[currentStageId] || workflow[\"START\"];\n\nlet missingVars = [];\nfor (const key in workflow) {\n  const step = workflow[key];\n  if (step.type === \"input\" && step.variables) {\n    step.variables.forEach((v) => {\n      if (!vars[v.name] || vars[v.name].value === null) {\n        missingVars.push({ name: v.name, description: v.description });\n      }\n    });\n  }\n}\n\nreturn {\n  workflow, currentStageId, stageConfig, vars, missingVars,\n  userMsg: $(\"CONCATENA\").item.json.user_full_message,\n  missingVar: JSON.parse($input.first().json.propertyName || '{}')?.missingVar,\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[416,7712],"id":"53f1ca05-770b-40b8-833d-4e4cac122a52","name":"BLUEPRINT ENGINE1","disabled":true}],"connections":{"Webhook (Lead Timeline)":{"main":[[{"node":"Salva Log no Lead","type":"main","index":0}]]},"Mapear dados do CRM":{"main":[[{"node":"Se tiver call na timeline","type":"main","index":0}]]},"Valida parâmetros":{"main":[[{"node":"Busca dados do Lead","type":"main","index":0}]]},"Buscar dados da Timeline do Lead":{"main":[[{"node":"Filtra por call","type":"main","index":0}]]},"Filtra por áudio":{"main":[[{"node":"Normaliza dados","type":"main","index":0}]]},"Filtra por call":{"main":[[{"node":"Mapear dados do CRM","type":"main","index":0}]]},"Junta as transcrições com a timeline":{"main":[[{"node":"Junta mensagens com histórico da timeline do Lead","type":"main","index":0}]]},"Junta as transcrições com as mensagens":{"main":[[{"node":"Junta mensagens com histórico da timeline do Lead","type":"main","index":1}]]},"Busca dados do Lead":{"main":[[{"node":"Se o Lead já tiver análise","type":"main","index":0}]]},"Busca Mensagens do lead no Apre.Chat":{"main":[[{"node":"If","type":"main","index":0}]]},"Junta mensagens com histórico da timeline do Lead":{"main":[[{"node":"Ordena por data de criação","type":"main","index":0}]]},"Transcrever calls":{"main":[[{"node":"Junta as transcrições com a timeline","type":"main","index":0}]]},"Mapear url das calls":{"main":[[{"node":"Transcrever calls","type":"main","index":0}]]},"Mapear url dos áudios":{"main":[[{"node":"Transcrever audios","type":"main","index":0}]]},"Transcrever audios":{"main":[[{"node":"Junta as transcrições com as mensagens","type":"main","index":0}]]},"Verifica se o Lead tem WhatsApp cadastrado":{"main":[[{"node":"Busca Mensagens do lead no Apre.Chat","type":"main","index":0}]]},"Ordena por data de criação":{"main":[[{"node":"Comprime texto","type":"main","index":0}]]},"Normaliza dados":{"main":[[{"node":"Verifica se tem audio nas mensagens","type":"main","index":0}]]},"Salva Log no Lead":{"main":[[{"node":"Valida parâmetros","type":"main","index":0}]]},"✏️ Altera dados do Lead":{"main":[[{"node":"Salva comentário com Análise no Lead","type":"main","index":0}]]},"Salva comentário com Análise no Lead":{"main":[[{"node":"Cria html da analise de Lead","type":"main","index":0}]]},"Ajusta informações":{"main":[[{"node":"✏️ Altera dados do Lead","type":"main","index":0}]]},"Se tiver call na timeline":{"main":[[{"node":"Mapear url das calls","type":"main","index":0}],[{"node":"Junta mensagens com histórico da timeline do Lead","type":"main","index":0}]]},"Se o Lead já tiver análise":{"main":[[{"node":"Altera da da última Análise de Lead","type":"main","index":0}],[{"node":"Buscar dados da Timeline do Lead","type":"main","index":0},{"node":"Remove caracteres diferentes de numero e espaço do whatsapp do lead","type":"main","index":0}]]},"Verifica se tem audio nas mensagens":{"main":[[{"node":"Mapear url dos áudios","type":"main","index":0}],[{"node":"Junta mensagens com histórico da timeline do Lead","type":"main","index":1}]]},"If":{"main":[[{"node":"Filtra por áudio","type":"main","index":0}]]},"Remove caracteres diferentes de numero e espaço do whatsapp do lead":{"main":[[{"node":"Verifica se o Lead tem WhatsApp cadastrado","type":"main","index":0}]]},"Cria html da analise de Lead":{"main":[[{"node":"Envia análise por e-mail","type":"main","index":0}]]},"Comprime texto":{"main":[[{"node":"Retorna informações relevantes do lead","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Análise de Lead","type":"ai_languageModel","index":0}]]},"Análise de Lead":{"main":[[{"node":"Ajusta informações","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Análise de Lead","type":"ai_outputParser","index":0}]]},"Retorna informações relevantes do lead":{"main":[[{"node":"Análise de Lead","type":"main","index":0}]]},"Deleta estado atual":{"main":[[{"node":"Delete table or rows1","type":"main","index":0}]]},"Delete table or rows1":{"main":[[{"node":"DELETE2","type":"main","index":0}]]},"If2":{"main":[[{"node":"Deleta estado atual","type":"main","index":0}],[{"node":"PUSH1","type":"main","index":0}]]},"SWITCH_BUFFER":{"main":[[{"node":"DELETE1","type":"main","index":0}],[{"node":"NADA1","type":"main","index":0}],[{"node":"Wait1","type":"main","index":0}]]},"DELETE1":{"main":[[{"node":"CONCATENA1","type":"main","index":0}]]},"GET1":{"main":[[{"node":"SWITCH_BUFFER","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"GET1","type":"main","index":0}]]},"PUSH1":{"main":[[{"node":"GET1","type":"main","index":0}]]},"Postgres Chat Memory1":{"ai_memory":[[{"node":"Gerador de Resposta","type":"ai_memory","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"Extrator Inteligente","type":"ai_outputParser","index":0}]]},"CONCATENA1":{"main":[[{"node":"GET Estado Atual","type":"main","index":0}]]},"OpenAI Persona":{"ai_languageModel":[[{"node":"Gerador de Resposta","type":"ai_languageModel","index":0}]]},"Gerador de Resposta":{"main":[[{"node":"Envia WhatsApp1","type":"main","index":0}]]},"Salva Novo Estado":{"main":[[{"node":"Busca Histórico","type":"main","index":0}]]},"LOGIC ENGINE":{"main":[[{"node":"Salva Novo Estado","type":"main","index":0}]]},"DeepSeek Model":{"ai_languageModel":[[{"node":"Extrator Inteligente","type":"ai_languageModel","index":0}]]},"Extrator Inteligente":{"main":[[{"node":"LOGIC ENGINE","type":"main","index":0}]]},"BLUEPRINT ENGINE":{"main":[[{"node":"Extrator Inteligente","type":"main","index":0}]]},"GET Estado Atual":{"main":[[{"node":"BLUEPRINT ENGINE","type":"main","index":0}]]},"Configura Contexto":{"main":[[{"node":"If2","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Configura Contexto","type":"main","index":0}]]},"Router de Dúvida":{"main":[[{"node":"Tem Dúvida?","type":"main","index":0}]]},"OpenAI Router":{"ai_languageModel":[[{"node":"Router de Dúvida","type":"ai_languageModel","index":0}]]},"Parser Router":{"ai_outputParser":[[{"node":"Router de Dúvida","type":"ai_outputParser","index":0}]]},"Tem Dúvida?":{"main":[[],[{"node":"Merge Contexto","type":"main","index":1}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Consulta Base Conhecimento","type":"ai_embedding","index":0}]]},"Consulta Base Conhecimento":{"main":[[{"node":"Merge Contexto","type":"main","index":0}]]},"Merge Contexto":{"main":[[{"node":"Gerador de Resposta","type":"main","index":0}]]},"Busca Histórico":{"main":[[{"node":"Router de Dúvida","type":"main","index":0}]]},"Envia WhatsApp1":{"main":[[{"node":"Salva Histórico","type":"main","index":0}]]},"Busca mensagens no cache":{"main":[[{"node":"Junta mensagem do cache com a mensagem do usuário","type":"main","index":0}]]},"Junta mensagem do cache com a mensagem do usuário":{"main":[[{"node":"SETA CACHE DAS MENSAGENS","type":"main","index":0}]]},"SETA CACHE DAS MENSAGENS":{"main":[[{"node":"BUSCA MENSAGENS ACUMULADAS","type":"main","index":0}]]},"BUSCA MENSAGENS ACUMULADAS":{"main":[[{"node":"Transforma em objeto literal","type":"main","index":0}]]},"Transforma em objeto literal":{"main":[[{"node":"SWITCH_BUFFER1","type":"main","index":0}]]},"Pega ultimas mensagens":{"main":[[{"node":"Formata ultimas mensagens","type":"main","index":0}]]},"Formata ultimas mensagens":{"main":[[{"node":"Seta perfil1","type":"main","index":0}]]},"Planner de Conteúdo":{"main":[[{"node":"Redator de Persona Alicia","type":"main","index":0}]]},"Redator de Persona Alicia":{"main":[[{"node":"output1","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Configura Contexto1","type":"main","index":0}]]},"Configura Contexto1":{"main":[[{"node":"If3","type":"main","index":0}]]},"If3":{"main":[[],[{"node":"Busca mensagens no cache","type":"main","index":0}]]},"SWITCH_BUFFER1":{"main":[[{"node":"DELETE","type":"main","index":0}]]},"DELETE":{"main":[[{"node":"CONCATENA","type":"main","index":0}]]},"CONCATENA":{"main":[[{"node":"GET Estado Atual1","type":"main","index":0}]]},"GET Estado Atual1":{"main":[[{"node":"BLUEPRINT ENGINE1","type":"main","index":0}]]},"BLUEPRINT ENGINE1":{"main":[[{"node":"Pega ultimas mensagens","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook (Lead Timeline)":[{"json":{"headers":{"host":"n8n.apresenta.me","x-real-ip":"172.71.164.20","x-real-port":"15846","x-forwarded-for":"52.29.163.104, 172.71.164.20","x-forwarded-proto":"http","x-forwarded-host":"n8n.apresenta.me","x-forwarded-port":"80","remote-host":"172.71.164.20","connection":"close","content-length":"311","user-agent":"Bitrix24 Webhook Engine","accept-encoding":"gzip, br","content-type":"application/x-www-form-urlencoded","cf-ray":"9a74aa91aeb7d236-FRA","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"52.29.163.104","cf-ipcountry":"DE","cf-visitor":"{\"scheme\":\"https\"}"},"params":{},"query":{"leadId":"139285","force":"Y"},"body":{"document_id[0]":"crm","document_id[1]":"CCrmDocumentLead","document_id[2]":"LEAD_139285","auth[domain]":"crm.apresenta.me","auth[client_endpoint]":"https://crm.apresenta.me/rest/","auth[server_endpoint]":"https://oauth.bitrix.info/rest/","auth[member_id]":"e0399350f7ed44f078e2b21954de695d"},"webhookUrl":"https://n8n.apresenta.me/webhook/lead-timeline","executionMode":"production"}}]},"versionId":"bd4f5381-dda3-4b8a-ae7f-dc32172d8eba","triggerCount":0,"shared":[{"updatedAt":"2025-10-30T11:29:30.435Z","createdAt":"2025-10-30T11:29:30.435Z","role":"workflow:owner","workflowId":"sREHxnvoDD4P2jQB","projectId":"4ToGMYJEWvvDSbcz"}],"tags":[]}