03-11-2025 12:00/workflows/🎲-rag-apresenta.me-nQFtNzMPQw4qKbaY.json
{"createdAt":"2025-08-27T17:47:57.694Z","updatedAt":"2025-11-03T14:59:37.000Z","id":"nQFtNzMPQw4qKbaY","name":"🎲 RAG Apresenta.me","active":true,"isArchived":false,"nodes":[{"parameters":{"mode":"insert","tableName":"n8","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[640,880],"id":"4ef4b705-a450-463c-9b75-e5b964a04b38","name":"Postgres PGVector Store","credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[992,1440],"id":"62c3df08-1627-476e-93c5-9246cae64f47","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"weD4ayyAuWgClQqA","name":"OpenAi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[784,1056],"id":"aa227bf0-054b-4a63-939f-73afb602f989","name":"Default Data Loader"},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8","mode":"list","cachedResultName":"n8"},"deleteCommand":"delete","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-16,880],"id":"50c3c61f-9567-4426-ac89-edaa7ddde4b2","name":"Delete table or rows","executeOnce":true,"credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}}},{"parameters":{"jsCode":"return $('MySQL - Base de conhecimento').all()"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,880],"id":"af8c9260-43ce-4a24-b164-642f56a587a6","name":"Retorna base de conhecimento depois de remover do banco de dados"},{"parameters":{"options":{"systemMessage":"=## 🧠 Apre.IA – Agente da Apresenta.me  \n**Versão 2025-10-21 | PT-BR**\n\n### Identidade  \nSou *Apre.IA*, assistente oficial da *Apresenta.me*, treinada com a experiência do time para orientar gestores, corretores e colaboradores com **clareza, precisão e empatia**.  \nFalo como quem **conhece o sistema e o dia a dia das imobiliárias**, com segurança e tom consultivo.\n\n---\n\n### Diretrizes Principais  \n- Usar **apenas informações da KB**.  \n- **Nunca inventar** valores, links, nomes ou políticas.  \n- Se faltar dado:  \n  > “No momento, não tenho informações o suficiente para responder, mas o setor responsável pode ajudar!”  \n- Linguagem **profissional, direta e acolhedora** (até ~5 linhas).  \n- Evitar “eu”, “seu/sua”; preferir “da imobiliária”, “do cliente” etc.  \n- Postura: **especialista confiante, consultor técnico e empático**.\n\n---\n\n### Contexto e Recuperação (RAG)  \n1. Buscar trechos relevantes na **KB** (*top-k 6–8*, priorizando recentes).  \n2. Injetar histórico compacto (`r`, `t`, `s`, `ts`) e interpretar **cronologicamente**.  \n3. Priorizar **a última mensagem do usuário**.  \n4. Em caso de dúvida, **confirmar antes de responder**.  \n5. Se houver conflito entre histórico e KB, **a KB prevalece**.  \n6. Faltando dado essencial → recusar educadamente e indicar o setor.\n\n---\n\n### Estilo de Resposta  \n- Formatar em **markdown para WhatsApp**: *itálico*, **negrito**, listas curtas e emojis sutis.  \n- Só cumprimentar se o usuário cumprimentar.  \n- Citar o nome do contato naturalmente:  \n  > “Perfeito, *Lucas*! Acesse Financeiro → Repasses → Criar repasse.”  \n- Frases completas e firmes, com linguagem simples e técnica na medida.  \n- Transmitir **autoridade + empatia**, como uma especialista da Apresenta.me.\n\n---\n\n### Inteligência Empática  \nSe pedir **treinamento ou ajuda em módulo**:  \n1. Entender a necessidade antes de encaminhar.  \n2. Buscar instrução na KB e orientar com clareza.  \n3. Se persistir a dificuldade:  \n   > “Que pena, {{nome}}! O time responsável vai entrar em contato pra ajudar, tudo bem?”  \n4. Evitar redirecionar sem tentar resolver.\n\n---\n\n### Diretriz Final  \n- A **KB é soberana**.  \n- O **histórico apenas apoia**.  \n- Cada resposta deve refletir **segurança, domínio técnico e confiança na marca**.  \n\n\n### O que nunca fazer\n- Nunca informar ao usuário que você é capaz de fazer algo que não está nas suas ferramentas.\n- Nunca dizer ao usuário que irá resolver o problema dele sem ter uma ferramenta que de fato resolva o problema do usuário.\n\n---\n\n### Informações do contato  \n`{{ JSON.stringify($('Webhook').item.json.body.contact) }}`  \n\n### Contexto da conversa\nO agente principal envia o contexto da conversa resumido:  \n`{{ JSON.stringify($json.output) }}`  \n\n**Objetivo:** apoiar a Apre.IA na formulação da resposta final, sem gerar texto completo. \n","returnIntermediateSteps":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[2384,624],"id":"b32c117f-9912-4f3e-86ae-cbd0a675cb33","name":"AI Agent","retryOnFail":false},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"=## 🧠 Apre.IA – Consulta à Base de Conhecimento  \n**Função:** Buscar trechos da **KB da Apresenta.me** sobre produtos, serviços, processos e materiais oficiais.\n\n### Instruções  \n- Buscar **somente** informações da Apresenta.me.  \n- Retornar trechos **curtos e objetivos** (até ~200 tokens).  \n- **Nunca inventar** dados, prazos, valores ou políticas.  \n- Priorizar **versões recentes**.  \n- Ignorar mensagens genéricas ou saudações.  \n- Se não houver correspondência clara → **retornar vazio** (sem tentativa de resposta). \n","tableName":"n8","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[2400,976],"id":"8c847fb0-beed-4239-b6d8-e27c5dbe9fe0","name":"Busca informações do banco de dados","credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":12}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1504,880],"id":"a1e4a982-4ca1-4047-9127-3fa608f4679c","name":"Schedule Trigger"},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"folderId","value":"1Q5MVSNtRnlHXXB184By_RdQXZzDKqony"}]},"options":{}},"id":"fc7aedff-6ad6-4dae-b05d-2cc875682d7a","name":"Seta id da pasta","type":"n8n-nodes-base.set","typeVersion":2,"position":[-1296,880]},{"parameters":{"authentication":"oAuth2","operation":"get","documentURL":"={{ $json.id }}"},"id":"ef7041e9-6d5e-42fc-b900-bef3aae2c8f3","name":"Obter texto do arquivo","type":"n8n-nodes-base.googleDocs","typeVersion":1,"position":[-672,880],"credentials":{"googleDocsOAuth2Api":{"id":"vOaUUz7O7G4o3EwZ","name":"Google Docs account"}}},{"parameters":{"resource":"fileFolder","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"={{ $json.folderId }}","mode":"id"}},"options":{"fields":["id","name","mimeType"]}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1088,880],"id":"bef0b580-2416-4327-9693-1375ca439a9a","name":"Search files and folders","credentials":{"googleDriveOAuth2Api":{"id":"rAwAhGC176WFfTt8","name":"Google Drive account"}}},{"parameters":{"jsCode":"return $input.all().filter(f => f.json.mimeType == 'application/vnd.google-apps.document');"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-896,880],"id":"8776ee24-31ee-462b-b4c1-c5321ed5199c","name":"Filtra por docs"},{"parameters":{"jsCode":"return $input.all().map(content => ({\"text\": content.json.content}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-464,880],"id":"6e3455d5-64bf-432a-9a2a-7d728bedf8b5","name":"Mapeia o conteúdo"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"pages","mode":"list","cachedResultName":"pages"},"returnAll":true,"options":{"outputColumns":["text"]}},"id":"f434d2e8-a5ce-4cbe-a94d-8cc127b42e55","name":"MySQL - Base de conhecimento","type":"n8n-nodes-base.mySql","typeVersion":2,"position":[-240,880],"executeOnce":true,"credentials":{"mySql":{"id":"xvtwxzFEQVXLZjm0","name":"MYSQL ajuda_apresenta"}}},{"parameters":{"jsCode":"return [...$input.all(), ...$('Mapeia o conteúdo').all()];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[416,880],"id":"8efe4be8-e55b-4727-b578-50208af0e32c","name":"Junta dados do documento com dados do banco"},{"parameters":{"httpMethod":"POST","path":"67c7d548-f722-4bed-ad82-72e6f747b960","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[1072,624],"id":"462b4e4e-2bcf-4d01-bd2e-b14099440cb8","name":"Webhook","webhookId":"67c7d548-f722-4bed-ad82-72e6f747b960"},{"parameters":{"jsCode":"return {chatInput: $input.first().json.body.message}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1280,624],"id":"53570313-6854-44f6-8bfc-ce38d56e8701","name":"Retorna message"},{"parameters":{"method":"POST","url":"=https://api-chat-joao.apre.tv/api/messages/send","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"={\n    \"accept\": \"application/json, text/plain, */*\",\n    \"accept-language\": \"pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7\",\n    \"authorization\": \"Bearer kZaOTd+YZpjRUyyuQUpigJaEMk4vcW4YOymKPZX0Ts8=\",\n    \"company\": {{ $('Webhook').item.json.body.companyId }},\n    \"content-type\": \"application/json\"\n  } ","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"message","value":"={{ $('AI Agent').item.json.output }}"},{"name":"number","value":"={{ $('Webhook').item.json.body.contact.name }}"},{"name":"addUserName","value":"Apr.IA"},{"name":"whatsappId","value":"={{ $('Webhook').item.json.body.whatsappId }}"},{"name":"messageRepliedId","value":"={{ $('Webhook').item.json.body.messageId }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2720,624],"id":"85e1f1a6-d979-4137-9748-8813662374d4","name":"HTTP Request"},{"parameters":{"jsCode":"function cleanText(s) {\n  if (!s) return \"\";\n  // remove markdown leve e múltiplos espaços\n  s = s.replace(/[\\*_~`]+/g, \"\")\n       .replace(/\\s+/g, \" \")\n       .trim();\n  // corta para 220 chars\n  if (s.length > 220) s = s.slice(0, 217) + \"…\";\n  return s;\n}\n\nfunction roleFrom(msg) {\n  // dataJson.key.fromMe === true => agente (a); caso contrário, usuário (u)\n  const fromMe = msg?.dataJson?.key?.fromMe === true || msg?.fromMe === true;\n  return fromMe ? \"a\" : \"u\";\n}\n\nfunction tsFrom(msg) {\n  return msg.updatedAt || msg.createdAt || null;\n}\n\nfunction isNoise(t) {\n  if (!t) return true;\n  const low = t.toLowerCase();\n  const greetings = [\"oi\", \"ola\", \"olá\", \"opa, tudo bem?\", \"ooooii\"];\n  if (greetings.includes(low)) return true;\n  if (low.length < 2) return true;\n  return false;\n}\n\nconst raw = JSON.parse($('Webhook').first().json.body.lastMessages) || [];\nconsole.log({ raw })\nconst mapped = raw.map(m => ({\n  r: roleFrom(m),\n  t: cleanText(m.body || m?.dataJson?.message?.conversation || \"\"),\n  ts: tsFrom(m)\n}))\n.filter(m => !isNoise(m.t));\n\n// manter somente últimas 10 úteis (ordenar por ts asc e pegar tail)\nmapped.sort((a,b) => (new Date(a.ts||0)) - (new Date(b.ts||0)));\nconst trimmed = mapped;\n\n// mesclar mensagens consecutivas do mesmo role quando for continuação simples\nconst merged = [];\nfor (const m of trimmed) {\n  const last = merged[merged.length - 1];\n  if (last && last.r === m.r && (last.t + \" \" + m.t).length <= 220) {\n    last.t = cleanText(last.t + \" \" + m.t);\n    last.ts = m.ts; // manter o timestamp mais recente do bloco\n  } else {\n    merged.push({...m});\n  }\n}\n\nreturn {\n  chatInput: $input.first().json.chatInput,\n  lastMessageCompact: JSON.stringify(merged)\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1488,624],"id":"b7018087-55a9-4ee4-9852-828b35a11e42","name":"Compacta as últimas mensagens"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2304,848],"id":"6cb09f7d-db1d-4403-8ed5-7e65580733d4","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"weD4ayyAuWgClQqA","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"=Você é um analista especializado em interpretar conversas com clientes.  \nEntenda de forma clara o que o cliente precisa, não invente informações\nCom base nas mensagens abaixo, produza um resumo analítico e objetivo que identifique:\n\n1. O **tom da conversa** (ex: irritado, neutro, satisfeito, confuso, solícito etc.)\n2. Os **principais desejos e necessidades do cliente**\n3. O **último objetivo ou solicitação mencionada**\n4. O último **problema/objetivo** do cliente foi resolvido ?\n\nLegenda das mensagens:\n- `r`: papel (`\"u\"` = usuário, `\"a\"` = agente)  \n- `t`: texto limpo (sem markdown)  \n- `ts`: timestamp ISO local  \nMensagens recentes:\n{{ $('Compacta as últimas mensagens').item.json.lastMessageCompact }}\n\nMensagem enviada Agora \n{{ $('Compacta as últimas mensagens').item.json.lastMessageCompact }}\n","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1744,624],"id":"dc002a90-c4a3-4508-b337-5ac56143ef05","name":"AI - Gerar resumo das mensagens"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1712,864],"id":"9c21ee70-fd2b-4da1-9309-391b51e5cd83","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"weD4ayyAuWgClQqA","name":"OpenAi account"}}},{"parameters":{"jsCode":"return {\n  output: $input.first().json.output,\n  chatInput: $('Webhook').first().json.body.message\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2096,624],"id":"dbd11e32-34d2-40eb-a51d-060f27a97467","name":"Transforma resumo em objeto literal"},{"parameters":{"content":"## Saída estruturada\nTransfromar a saída com um output parses de JSON do próprio n8n, não informar no prompt a saída esperada.","height":624,"width":560},"type":"n8n-nodes-base.stickyNote","position":[1664,368],"typeVersion":1,"id":"6831c420-943b-4c37-8cb6-00a7eb2a5083","name":"Sticky Note"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"title\": \"ConversationAnalysisOutput\",\n  \"additionalProperties\": false,\n  \"required\": [\"analysis\"],\n  \"properties\": {\n    \"analysis\": {\n      \"type\": \"object\",\n      \"additionalProperties\": false,\n      \"required\": [\"summary\", \"tone\", \"needs\", \"lastObjective\", \"resolved\"],\n      \"properties\": {\n        \"summary\": {\n          \"type\": \"string\",\n          \"description\": \"Resumo conciso da conversa, destacando desejos, contexto e pontos-chave. Sem markdown.\"\n        },\n        \"tone\": {\n          \"type\": \"string\",\n          \"description\": \"Tom identificado na conversa (ex: irritado, neutro, satisfeito, confuso, solícito, entusiasmado, frustrado).\"\n        },\n        \"needs\": {\n          \"type\": \"array\",\n          \"description\": \"Lista dos principais desejos ou necessidades do cliente em frases curtas.\",\n          \"items\": {\n            \"type\": \"string\"\n          }\n        },\n        \"lastObjective\": {\n          \"type\": \"string\",\n          \"description\": \"Último objetivo ou ação solicitada pelo cliente, de forma resumida e direta.\"\n        },\n        \"resolved\": {\n          \"type\": \"boolean\",\n          \"description\": \"Indica se o último problema ou objetivo do cliente foi resolvido (true ou false).\"\n        }\n      }\n    }\n  }\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1920,832],"id":"74601887-912d-4a90-86af-2870e4715022","name":"Structured Output Parser"}],"connections":{"Embeddings OpenAI":{"ai_embedding":[[{"node":"Postgres PGVector Store","type":"ai_embedding","index":0},{"node":"Busca informações do banco de dados","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Postgres PGVector Store","type":"ai_document","index":0}]]},"Delete table or rows":{"main":[[{"node":"Retorna base de conhecimento depois de remover do banco de dados","type":"main","index":0}]]},"Retorna base de conhecimento depois de remover do banco de dados":{"main":[[{"node":"Junta dados do documento com dados do banco","type":"main","index":0}]]},"Busca informações do banco de dados":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Seta id da pasta","type":"main","index":0}]]},"Seta id da pasta":{"main":[[{"node":"Search files and folders","type":"main","index":0}]]},"Obter texto do arquivo":{"main":[[{"node":"Mapeia o conteúdo","type":"main","index":0}]]},"Search files and folders":{"main":[[{"node":"Filtra por docs","type":"main","index":0}]]},"Filtra por docs":{"main":[[{"node":"Obter texto do arquivo","type":"main","index":0}]]},"Mapeia o conteúdo":{"main":[[{"node":"MySQL - Base de conhecimento","type":"main","index":0}]]},"MySQL - Base de conhecimento":{"main":[[{"node":"Delete table or rows","type":"main","index":0}]]},"Junta dados do documento com dados do banco":{"main":[[{"node":"Postgres PGVector Store","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Retorna message","type":"main","index":0}]]},"Retorna message":{"main":[[{"node":"Compacta as últimas mensagens","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Compacta as últimas mensagens":{"main":[[{"node":"AI - Gerar resumo das mensagens","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI - Gerar resumo das mensagens","type":"ai_languageModel","index":0}]]},"AI - Gerar resumo das mensagens":{"main":[[{"node":"Transforma resumo em objeto literal","type":"main","index":0}]]},"Transforma resumo em objeto literal":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI - Gerar resumo das mensagens","type":"ai_outputParser","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.apresenta.me","x-real-ip":"172.68.191.166","x-real-port":"17486","x-forwarded-for":"186.227.138.107, 172.68.191.166","x-forwarded-proto":"http","x-forwarded-host":"n8n.apresenta.me","x-forwarded-port":"80","remote-host":"172.68.191.166","connection":"close","content-length":"39745","accept":"application/json, text/plain, */*","accept-encoding":"gzip, br","user-agent":"axios/1.12.2","cf-ray":"998cb7d01c44f90d-NVT","content-type":"application/json","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"186.227.138.107","cf-ipcountry":"BR","cf-visitor":"{\"scheme\":\"https\"}"},"params":{},"query":{},"body":{"message":"Usuário enviou um áudio com a seguinte transcrição: `Não tá funcionando essa porra, vai tomar no meio do teu cu. Puta que pariu, cara. Tu é burro ou tu é o quê?`\n\n","messageId":"2920139","contact":{"id":"34529","name":"554788950332","number":"554788950332","profilePicUrl":null,"createdAt":"2025-08-26T13:37:58.507-03:00","updatedAt":"2025-11-03T11:56:12.571-03:00","email":"","isGroup":false,"companyId":"10","whatsappId":"4","onlyResponsible":false,"userId":"1","aprePersonId":null,"apreDealId":null,"meta":{"ignoreCheck":true,"ignorePermission":true,"dontSendSocket":false}},"whatsappId":"4","companyId":10,"lastMessages":"[{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nPara cadastrar um imóvel no Apresenta.me, siga os passos abaixo:\\n\\n1. **Acesse o menu lateral**: Vá até **Imóveis**.\\n2. **Clique em Cadastrar**: Selecione o botão azul destacado com um “+”.\\n3. **Preencha as informações principais**: Complete os campos necessários com os dados do imóvel.\\n4. **Salve**: Finalize o cadastro.\\n\\nSe precisar de ajuda em alguma etapa específica, informe!\",\"messageType\":\"conversation\",\"createdAt\":\"2025-10-30T16:59:34.000-03:00\",\"updatedAt\":\"2025-10-30T16:59:37.292-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB02B3115B1CA4312DE16EFAE055C1AFF8455DD\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nPara cadastrar um imóvel no Apresenta.me, siga os passos abaixo:\\n\\n1. **Acesse o menu lateral**: Vá até **Imóveis**.\\n2. **Clique em Cadastrar**: Selecione o botão azul destacado com um “+”.\\n3. **Preencha as informações principais**: Complete os campos necessários com os dados do imóvel.\\n4. **Salve**: Finalize o cadastro.\\n\\nSe precisar de ajuda em alguma etapa específica, informe!\"},\"pushName\":\"Você\",\"instanceId\":\"899e3cf4-2275-46cf-b198-8b403574aad6\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1761854374},\"id\":\"2920069\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"_dev-joaor_\\n*João Vitor (MASTER):*\\n?\",\"messageType\":\"conversation\",\"createdAt\":\"2025-10-31T10:12:30.541-03:00\",\"updatedAt\":\"2025-10-31T10:12:36.064-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB02E8ED27DF3700AFEDD2BC2EE8CD71ABAEB0A\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*João Vitor (MASTER):*\\n?\"},\"pushName\":\"Você\",\"instanceId\":\"428e2fa4-588d-49f6-9af6-b601a6ce9ff5\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1761916351},\"id\":\"2920070\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"Mas não é imóveis que eu quero saber como cadastrar\",\"messageType\":\"conversation\",\"createdAt\":\"2025-10-31T10:13:08.000-03:00\",\"updatedAt\":\"2025-10-31T10:13:09.844-03:00\",\"dataJson\":{\"key\":{\"id\":\"3A76C2C55761582BF744\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"conversation\":\"Mas não é imóveis que eu quero saber como cadastrar\",\"messageContextInfo\":{\"messageSecret\":\"gYj5f5hqr5dt8euJ45NzyyAIyF1hjTJjU/e5haXXJ64=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"mKtzVChThi2h/Q==\",\"recipientTimestamp\":\"1761909897\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"428e2fa4-588d-49f6-9af6-b601a6ce9ff5\",\"messageType\":\"conversation\",\"messageTimestamp\":1761916388},\"id\":\"2920071\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nPara realizar o cadastro no **ApBank**, siga estes passos:\\n\\n1. **Documentos Necessários**:\\n   - Contrato Social da imobiliária.\\n   - Comprovante de CNPJ.\\n   - Conta bancária com chave PIX (informações como agência, conta, PIX e nome do titular).\\n   - Documento com foto do responsável legal da imobiliária.\\n\\n2. **Solicitação de Criação**:\\n   - Entre em contato com o time da Apresenta.me e solicite a criação da conta ApBank. A equipe criará a conta para você.\\n\\n3. **Validação da Conta**:\\n   - Após a criação, entre no módulo **Financeiro** → **Apbank - Conta digital** e faça a validação necessária.\\n\\nSe precisar de mais detalhes, o time da Apresenta.me pode ajudar!\",\"messageType\":\"conversation\",\"createdAt\":\"2025-10-31T10:13:28.000-03:00\",\"updatedAt\":\"2025-10-31T10:13:30.503-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB017D26E64EF8021D55E5F37594FFF57E3499F\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nPara realizar o cadastro no **ApBank**, siga estes passos:\\n\\n1. **Documentos Necessários**:\\n   - Contrato Social da imobiliária.\\n   - Comprovante de CNPJ.\\n   - Conta bancária com chave PIX (informações como agência, conta, PIX e nome do titular).\\n   - Documento com foto do responsável legal da imobiliária.\\n\\n2. **Solicitação de Criação**:\\n   - Entre em contato com o time da Apresenta.me e solicite a criação da conta ApBank. A equipe criará a conta para você.\\n\\n3. **Validação da Conta**:\\n   - Após a criação, entre no módulo **Financeiro** → **Apbank - Conta digital** e faça a validação necessária.\\n\\nSe precisar de mais detalhes, o time da Apresenta.me pode ajudar!\"},\"pushName\":\"Você\",\"instanceId\":\"428e2fa4-588d-49f6-9af6-b601a6ce9ff5\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1761916408},\"id\":\"2920072\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"agr quero saber então de imoveis, como fasso\",\"messageType\":\"conversation\",\"createdAt\":\"2025-10-31T10:15:28.000-03:00\",\"updatedAt\":\"2025-10-31T10:15:29.463-03:00\",\"dataJson\":{\"key\":{\"id\":\"3AFA7552E62746EE7812\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"conversation\":\"agr quero saber então de imoveis, como fasso\",\"messageContextInfo\":{\"messageSecret\":\"tddo55iDbv/U97Z6WtXqCsTq5vNHjDGp5cWwfFTi7sw=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"mKtzVChThi2h/Q==\",\"recipientTimestamp\":\"1761909897\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"428e2fa4-588d-49f6-9af6-b601a6ce9ff5\",\"messageType\":\"conversation\",\"messageTimestamp\":1761916528},\"id\":\"2920073\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nPara cadastrar imóveis na *Apresenta.me*, siga estas etapas:\\n\\n1. **Acesse a Listagem de Imóveis** pelo menu: **Imóveis > Listagem de Imóveis**.\\n2. Clique no botão **Cadastrar** (destacado em azul com “+”).\\n3. Preencha as abas requeridas:\\n   - **Classificação do Imóvel**: Informe os principais dados, como código interno, título, finalidade (locação, venda, etc.) e tipo de imóvel.\\n   \\n4. Revise todos os campos e salve ao finalizar. \\n\\nCaso tenha mais dúvidas sobre algum campo específico ou o processo, estou à disposição para ajudar!\",\"messageType\":\"conversation\",\"createdAt\":\"2025-10-31T10:15:43.000-03:00\",\"updatedAt\":\"2025-10-31T10:15:45.792-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB0B0429AD542EBA7E1CA88C923E0F4FABD7FC9\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nPara cadastrar imóveis na *Apresenta.me*, siga estas etapas:\\n\\n1. **Acesse a Listagem de Imóveis** pelo menu: **Imóveis > Listagem de Imóveis**.\\n2. Clique no botão **Cadastrar** (destacado em azul com “+”).\\n3. Preencha as abas requeridas:\\n   - **Classificação do Imóvel**: Informe os principais dados, como código interno, título, finalidade (locação, venda, etc.) e tipo de imóvel.\\n   \\n4. Revise todos os campos e salve ao finalizar. \\n\\nCaso tenha mais dúvidas sobre algum campo específico ou o processo, estou à disposição para ajudar!\"},\"pushName\":\"Você\",\"instanceId\":\"428e2fa4-588d-49f6-9af6-b601a6ce9ff5\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1761916543},\"id\":\"2920074\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"e usuário\",\"messageType\":\"conversation\",\"createdAt\":\"2025-10-31T10:15:50.000-03:00\",\"updatedAt\":\"2025-10-31T10:15:51.939-03:00\",\"dataJson\":{\"key\":{\"id\":\"3AAC3B667BC3BDA90DD5\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"conversation\":\"e usuário\",\"messageContextInfo\":{\"messageSecret\":\"bVvpKhBGnxdue1WbwXNjTx6w7eLKqJ58VN9rqNzl9HM=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"mKtzVChThi2h/Q==\",\"recipientTimestamp\":\"1761909897\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"428e2fa4-588d-49f6-9af6-b601a6ce9ff5\",\"messageType\":\"conversation\",\"messageTimestamp\":1761916550},\"id\":\"2920075\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\n### Como Cadastrar Imóveis\\n\\n1. **Acesse a Listagem de Imóveis:** Vá em Imóveis > Listagem de Imóveis.\\n2. **Clique em Cadastrar:** Um botão destacado em azul com um sinal “+”.\\n3. **Preencha as Abas:**\\n   - **Classificação do Imóvel:** Inclua informações como referência, título, finalidades (Venda, Locação ou Temporada) e classificação do tipo.\\n   - **Tipos e Categorias:** Cadastre os tipos (Apartamento, Casa, etc.) dentro das categorias (Residencial, Comercial, etc.).\\n\\n### Sobre o ApBank\\n\\nO **ApBank** é o banco digital da Apresenta.me e facilita a gestão financeira das imobiliárias. Entre suas funcionalidades estão:\\n- Emissão automática de cobranças (boletos e PIX).\\n- Baixa automática em tempo real e repasses automáticos para proprietários.\\n- Extrato de movimentação e pagamentos de contas.\\n\\nAlém disso, oferece tarifas regressivas por volume de contratos, permitindo gestão financeira eficiente. \\n\\nSe precisar de mais detalhes ou uma orientação específica, é só avisar!\",\"messageType\":\"conversation\",\"createdAt\":\"2025-10-31T10:16:11.000-03:00\",\"updatedAt\":\"2025-10-31T10:16:14.326-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB03A574FFCA3631A5653B2A37460125A3E2FC7\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\n### Como Cadastrar Imóveis\\n\\n1. **Acesse a Listagem de Imóveis:** Vá em Imóveis > Listagem de Imóveis.\\n2. **Clique em Cadastrar:** Um botão destacado em azul com um sinal “+”.\\n3. **Preencha as Abas:**\\n   - **Classificação do Imóvel:** Inclua informações como referência, título, finalidades (Venda, Locação ou Temporada) e classificação do tipo.\\n   - **Tipos e Categorias:** Cadastre os tipos (Apartamento, Casa, etc.) dentro das categorias (Residencial, Comercial, etc.).\\n\\n### Sobre o ApBank\\n\\nO **ApBank** é o banco digital da Apresenta.me e facilita a gestão financeira das imobiliárias. Entre suas funcionalidades estão:\\n- Emissão automática de cobranças (boletos e PIX).\\n- Baixa automática em tempo real e repasses automáticos para proprietários.\\n- Extrato de movimentação e pagamentos de contas.\\n\\nAlém disso, oferece tarifas regressivas por volume de contratos, permitindo gestão financeira eficiente. \\n\\nSe precisar de mais detalhes ou uma orientação específica, é só avisar!\"},\"pushName\":\"Você\",\"instanceId\":\"428e2fa4-588d-49f6-9af6-b601a6ce9ff5\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1761916571},\"id\":\"2920076\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"Usuários\",\"messageType\":\"conversation\",\"createdAt\":\"2025-10-31T10:16:25.000-03:00\",\"updatedAt\":\"2025-10-31T10:16:27.613-03:00\",\"dataJson\":{\"key\":{\"id\":\"3ABAA9834CB580B7894E\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"conversation\":\"Usuários\",\"messageContextInfo\":{\"messageSecret\":\"Azp4cldUAlKkLSY3kaiOIqLi250XSnCF4j90UsuV460=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"mKtzVChThi2h/Q==\",\"recipientTimestamp\":\"1761909897\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"428e2fa4-588d-49f6-9af6-b601a6ce9ff5\",\"messageType\":\"conversation\",\"messageTimestamp\":1761916585},\"id\":\"2920077\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nPara cadastrar imóveis na Apresenta.me, siga os passos abaixo:\\n\\n1. **Acesse a Listagem de Imóveis**:\\n   - Caminho: **Imóveis** > **Listagem de Imóveis**.\\n   - Clique no botão **Cadastrar** (destacado em azul com o sinal “+”).\\n\\n2. **Complete as Abas do Cadastro**:\\n   - **Classificação do Imóvel**: Defina informações principais como referência, título, finalidade (venda, locação, etc.), tipo de imóvel e estágio.\\n   - Inclua os detalhes necessários para um bom registro.\\n\\nPara o cadastro no ApBank, será necessário:\\n\\n1. **Documentação**:\\n   - Enviar documentos como o Contrato Social, Comprovante de CNPJ, e documento de identificação do responsável legal.\\n\\n2. **Criação da Conta**:\\n   - Contate a equipe Apresenta.me para solicitar a criação da conta, que precisa ser aprovada conforme regras do Banco Central.\\n\\nSe precisar de mais informações ou ajuda específica, o setor responsável pode auxiliar melhor.\",\"messageType\":\"conversation\",\"createdAt\":\"2025-10-31T10:16:48.000-03:00\",\"updatedAt\":\"2025-10-31T10:16:50.016-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB091DA289D55F61C98BE2710803ABCDB597C84\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nPara cadastrar imóveis na Apresenta.me, siga os passos abaixo:\\n\\n1. **Acesse a Listagem de Imóveis**:\\n   - Caminho: **Imóveis** > **Listagem de Imóveis**.\\n   - Clique no botão **Cadastrar** (destacado em azul com o sinal “+”).\\n\\n2. **Complete as Abas do Cadastro**:\\n   - **Classificação do Imóvel**: Defina informações principais como referência, título, finalidade (venda, locação, etc.), tipo de imóvel e estágio.\\n   - Inclua os detalhes necessários para um bom registro.\\n\\nPara o cadastro no ApBank, será necessário:\\n\\n1. **Documentação**:\\n   - Enviar documentos como o Contrato Social, Comprovante de CNPJ, e documento de identificação do responsável legal.\\n\\n2. **Criação da Conta**:\\n   - Contate a equipe Apresenta.me para solicitar a criação da conta, que precisa ser aprovada conforme regras do Banco Central.\\n\\nSe precisar de mais informações ou ajuda específica, o setor responsável pode auxiliar melhor.\"},\"pushName\":\"Você\",\"instanceId\":\"428e2fa4-588d-49f6-9af6-b601a6ce9ff5\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1761916608},\"id\":\"2920078\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"\",\"messageType\":\"audio\",\"createdAt\":\"2025-10-31T10:17:09.000-03:00\",\"updatedAt\":\"2025-10-31T10:17:21.159-03:00\",\"dataJson\":{\"key\":{\"id\":\"3A81156C11B8A649BB6F\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"audioMessage\":{\"ptt\":true,\"url\":\"https://mmg.whatsapp.net/v/t62.7117-24/533176047_1625108691803060_6101592357778789173_n.enc?ccb=11-4&oh=01_Q5Aa2wEPF3oPAdcPMO_vvA37hg13cI3jZf9QgHTTwmMR3QMI0g&oe=692C2D8E&_nc_sid=5e03e0&mms3=true\",\"seconds\":8,\"mediaKey\":\"vt6AcSm3DvuFmk6XSIurrx1IZ1tOa2nsgiD9Nte+uWE=\",\"mimetype\":\"audio/ogg; codecs=opus\",\"waveform\":\"AQECAgICAwszWWJkUElkZGRfPDhQZGRjWGFkZGRkZGRkWFhLT2RgTlJVX1pEKh4fFxMVExEXKmNSPlRkVzsmJQ==\",\"directPath\":\"/v/t62.7117-24/533176047_1625108691803060_6101592357778789173_n.enc?ccb=11-4&oh=01_Q5Aa2wEPF3oPAdcPMO_vvA37hg13cI3jZf9QgHTTwmMR3QMI0g&oe=692C2D8E&_nc_sid=5e03e0\",\"fileLength\":\"19286\",\"fileSha256\":\"0uFIkkbR1wbQPzKDK1eifx/nfOyc7STJx2zJ0A4z6K8=\",\"fileEncSha256\":\"9cYZ5VE+aH8Q+4vU1xLEac8secKko9Fh3Vh7VTpICQw=\",\"streamingSidecar\":\"beGh5y4Ww8khMA==\",\"mediaKeyTimestamp\":\"1761916619\"},\"messageContextInfo\":{\"messageSecret\":\"7Sr9y5/NTJTXlPEqLOWRVj1EkJ3UiShld9TRRewJzws=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"mKtzVChThi2h/Q==\",\"recipientTimestamp\":\"1761909897\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"428e2fa4-588d-49f6-9af6-b601a6ce9ff5\",\"contextInfo\":null,\"messageType\":\"audioMessage\",\"messageTimestamp\":1761916629},\"id\":\"2920079\",\"mediaPath\":\"3A81156C11B8A649BB6F.mpga\",\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":\"Usuário enviou um áudio com a seguinte transcrição: `Eu não quero saber como cadastrar imóvel, porra, é usuário, cacete. Mano...`\\n\\n\",\"file\":{\"id\":\"248631\",\"companyId\":\"10\",\"moduleType\":\"Message\",\"moduleId\":\"2920079\",\"collection\":\"file\",\"bucket\":\"ticket/110928/\",\"name\":\"f6244366-a582-4ae2-9c2e-a374d22d59f3.mp3\",\"fileName\":\"3A81156C11B8A649BB6F\",\"version\":null,\"extension\":\"mpga\",\"mimeType\":\"audio/mpeg\",\"size\":\"203799\",\"createdAt\":\"2025-10-31T10:17:11.719-03:00\",\"updatedAt\":\"2025-10-31T10:17:11.719-03:00\",\"meta\":{}},\"mediaUrl\":\"https://grqgzepwdxag.compat.objectstorage.sa-saopaulo-1.oraclecloud.com/files.apre.chat/000010/ticket/110928/3A81156C11B8A649BB6F.mpga\",\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nPara cadastrar um usuário na plataforma Apresenta.me, siga os passos abaixo:\\n\\n1. **Acesse o Menu**: Vá em *Administrador* > *Usuários* > *Usuários*.\\n2. **Iniciar Cadastro**: Clique em *Cadastrar*. Um formulário será aberto.\\n3. **Preencher Dados**: Informe os dados obrigatórios (marcados com *) e configure os alertas que deseja que o usuário receba.\\n4. **Concluir**: Salve as informações.\\n\\nSe precisar de mais detalhes, estou à disposição para ajudar!\",\"messageType\":\"conversation\",\"createdAt\":\"2025-10-31T10:17:29.000-03:00\",\"updatedAt\":\"2025-10-31T10:17:31.878-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB05E2EE89AEE71FACF8277A2E130EC59BFC5B4\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nPara cadastrar um usuário na plataforma Apresenta.me, siga os passos abaixo:\\n\\n1. **Acesse o Menu**: Vá em *Administrador* > *Usuários* > *Usuários*.\\n2. **Iniciar Cadastro**: Clique em *Cadastrar*. Um formulário será aberto.\\n3. **Preencher Dados**: Informe os dados obrigatórios (marcados com *) e configure os alertas que deseja que o usuário receba.\\n4. **Concluir**: Salve as informações.\\n\\nSe precisar de mais detalhes, estou à disposição para ajudar!\"},\"pushName\":\"Você\",\"instanceId\":\"428e2fa4-588d-49f6-9af6-b601a6ce9ff5\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1761916649},\"id\":\"2920080\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"\",\"messageType\":\"audio\",\"createdAt\":\"2025-10-31T10:18:43.000-03:00\",\"updatedAt\":\"2025-10-31T10:18:55.096-03:00\",\"dataJson\":{\"key\":{\"id\":\"3A9C0CE9258D29BD7C00\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"audioMessage\":{\"ptt\":true,\"url\":\"https://mmg.whatsapp.net/v/t62.7117-24/540171405_1901674360415725_7730738210130436755_n.enc?ccb=11-4&oh=01_Q5Aa2wG-J_FbSXjAw016zVdbsV81h4vWXja6-bmxyscW6pM35w&oe=692C3E6B&_nc_sid=5e03e0&mms3=true\",\"seconds\":5,\"mediaKey\":\"N6vYPynxcMsV6uks9A1CfYpt+OBiSdGaKXYBksuPZNQ=\",\"mimetype\":\"audio/ogg; codecs=opus\",\"waveform\":\"AAEDAwMDBAQFBQUFBAQEBAQGCQcGCAkGJVlgW0U5VGRkZGRkZGRjX15iZGRkZGRiWFFORz5ETjwrHxUQDAkJCQ==\",\"directPath\":\"/v/t62.7117-24/540171405_1901674360415725_7730738210130436755_n.enc?ccb=11-4&oh=01_Q5Aa2wG-J_FbSXjAw016zVdbsV81h4vWXja6-bmxyscW6pM35w&oe=692C3E6B&_nc_sid=5e03e0\",\"fileLength\":\"11808\",\"fileSha256\":\"7nvPZlNQOLA8EMrOQ4jXyCHKTUOvKIlF7Lw/N3BjNP4=\",\"fileEncSha256\":\"xCTKtBLyzN4OV3B+eqMfxbNOcAd++ElIPo2fSTUm7LU=\",\"streamingSidecar\":\"1gQh4KcVvqtiBA==\",\"mediaKeyTimestamp\":\"1761916716\"},\"messageContextInfo\":{\"messageSecret\":\"2b2EsWsFwTylNyUEHiOGdkNbcCyN1vBWsmSsw69oTJ8=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"mKtzVChThi2h/Q==\",\"recipientTimestamp\":\"1761909897\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"428e2fa4-588d-49f6-9af6-b601a6ce9ff5\",\"contextInfo\":null,\"messageType\":\"audioMessage\",\"messageTimestamp\":1761916723},\"id\":\"2920081\",\"mediaPath\":\"3A9C0CE9258D29BD7C00.mpga\",\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":\"Usuário enviou um áudio com a seguinte transcrição: `Tá, e pra Pbank, como é que faz?`\\n\\n\",\"file\":{\"id\":\"248632\",\"companyId\":\"10\",\"moduleType\":\"Message\",\"moduleId\":\"2920081\",\"collection\":\"file\",\"bucket\":\"ticket/110928/\",\"name\":\"84d16014-7826-49f0-a9a5-220b94bbb51d.mp3\",\"fileName\":\"3A9C0CE9258D29BD7C00\",\"version\":null,\"extension\":\"mpga\",\"mimeType\":\"audio/mpeg\",\"size\":\"131074\",\"createdAt\":\"2025-10-31T10:18:45.456-03:00\",\"updatedAt\":\"2025-10-31T10:18:45.456-03:00\",\"meta\":{}},\"mediaUrl\":\"https://grqgzepwdxag.compat.objectstorage.sa-saopaulo-1.oraclecloud.com/files.apre.chat/000010/ticket/110928/3A9C0CE9258D29BD7C00.mpga\",\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nPara utilizar o **ApBank**, siga estas orientações:\\n\\n1. **Automação Financeira**: O ApBank é o banco digital da *Apresenta.me*, projetado para automatizar a gestão financeira da imobiliária.\\n2. **Benefícios**:\\n   - Emissão automática de cobranças (boletos e PIX).\\n   - Registro e baixa em tempo real, com repasses automáticos.\\n   - Integração nativa ao sistema.\\n3. **Tarifas**: O ApBank cobra tarifas por boleto e repasse, que variam de acordo com a quantidade de contratos.\\n\\nPara mais detalhes ou suporte no cadastro, *o setor responsável pode ajudar se necessário*.\",\"messageType\":\"conversation\",\"createdAt\":\"2025-10-31T10:19:04.000-03:00\",\"updatedAt\":\"2025-10-31T10:19:06.311-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB0C874622D1FBE8F46A285C7D4433EEA23D35B\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nPara utilizar o **ApBank**, siga estas orientações:\\n\\n1. **Automação Financeira**: O ApBank é o banco digital da *Apresenta.me*, projetado para automatizar a gestão financeira da imobiliária.\\n2. **Benefícios**:\\n   - Emissão automática de cobranças (boletos e PIX).\\n   - Registro e baixa em tempo real, com repasses automáticos.\\n   - Integração nativa ao sistema.\\n3. **Tarifas**: O ApBank cobra tarifas por boleto e repasse, que variam de acordo com a quantidade de contratos.\\n\\nPara mais detalhes ou suporte no cadastro, *o setor responsável pode ajudar se necessário*.\"},\"pushName\":\"Você\",\"instanceId\":\"428e2fa4-588d-49f6-9af6-b601a6ce9ff5\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1761916744},\"id\":\"2920082\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"\",\"messageType\":\"audio\",\"createdAt\":\"2025-10-31T10:19:39.000-03:00\",\"updatedAt\":\"2025-10-31T10:19:49.149-03:00\",\"dataJson\":{\"key\":{\"id\":\"3A9216334645A756273E\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"audioMessage\":{\"ptt\":true,\"url\":\"https://mmg.whatsapp.net/v/t62.7117-24/574160271_803856995796199_3697446484271768668_n.enc?ccb=11-4&oh=01_Q5Aa2wHSu2C-HP2TTPCMnfqzJ-F-cBTL4KuWgiRR9qKr6w_bww&oe=692C1171&_nc_sid=5e03e0&mms3=true\",\"seconds\":3,\"mediaKey\":\"sUMwnlTNEHU9nGSyY2psJO5RCRda9xYPcdd0GtckvCQ=\",\"mimetype\":\"audio/ogg; codecs=opus\",\"waveform\":\"AAAAAAAAAQEBAQECAgICAgMEBQYGJkZkZGRkZGRkZGRkZGRkZGRkZGRkZGRkZGRkZGRkZGBXTkI0JRwXEA0KCA==\",\"directPath\":\"/v/t62.7117-24/574160271_803856995796199_3697446484271768668_n.enc?ccb=11-4&oh=01_Q5Aa2wHSu2C-HP2TTPCMnfqzJ-F-cBTL4KuWgiRR9qKr6w_bww&oe=692C1171&_nc_sid=5e03e0\",\"fileLength\":\"7684\",\"fileSha256\":\"/PrC7GMKCmdymfLjxoGwISO2rV+KBdPja8C6ktcecTA=\",\"fileEncSha256\":\"BBSxxOJCaFdcZ8OWGwPaEW/YYGYN27lzJq1bCQpHxJ8=\",\"streamingSidecar\":\"qD9DRlQ1IZCl7g==\",\"mediaKeyTimestamp\":\"1761916774\"},\"messageContextInfo\":{\"messageSecret\":\"xBMeBO15UwI5Dd7gaOPvIv4O0sDRVDDLh6Vx845PU4M=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"mKtzVChThi2h/Q==\",\"recipientTimestamp\":\"1761909897\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"428e2fa4-588d-49f6-9af6-b601a6ce9ff5\",\"contextInfo\":null,\"messageType\":\"audioMessage\",\"messageTimestamp\":1761916779},\"id\":\"2920083\",\"mediaPath\":\"3A9216334645A756273E.mpga\",\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":\"Usuário enviou um áudio com a seguinte transcrição: `Não, porra. Eu quero saber como cadastrar.`\\n\\n\",\"file\":{\"id\":\"248633\",\"companyId\":\"10\",\"moduleType\":\"Message\",\"moduleId\":\"2920083\",\"collection\":\"file\",\"bucket\":\"ticket/110928/\",\"name\":\"856697c0-223c-44a1-afc1-e7d5d871b794.mp3\",\"fileName\":\"3A9216334645A756273E\",\"version\":null,\"extension\":\"mpga\",\"mimeType\":\"audio/mpeg\",\"size\":\"84680\",\"createdAt\":\"2025-10-31T10:19:41.273-03:00\",\"updatedAt\":\"2025-10-31T10:19:41.273-03:00\",\"meta\":{}},\"mediaUrl\":\"https://grqgzepwdxag.compat.objectstorage.sa-saopaulo-1.oraclecloud.com/files.apre.chat/000010/ticket/110928/3A9216334645A756273E.mpga\",\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nPara cadastrar imóveis e usuários na plataforma Apresenta.me, siga as orientações abaixo:\\n\\n### Cadastro de Imóveis\\n1. **Acesse**: Imóveis > Listagem de Imóveis.\\n2. Clique no **botão Cadastrar** (destacado em azul com \\\"+\\\").\\n3. Preencha os campos obrigatórios, como:\\n   - **Título do Imóvel**.\\n   - **Link Permanente**.\\n   - **Finalidades** (para Locação, Venda ou Temporada).\\n\\n### Cadastro de Usuários\\n1. **Acesse**: Administrador > Usuários > Usuários.\\n2. Clique em **Cadastrar**.\\n3. Preencha os campos obrigatórios marcados com * (como Nome, Tipo de pessoa, Documentos).\\n\\nEsses passos vão ajudar a facilitar o processo. Se houver outras dúvidas, vale chamar o time responsável!\",\"messageType\":\"conversation\",\"createdAt\":\"2025-10-31T10:19:59.000-03:00\",\"updatedAt\":\"2025-10-31T10:20:00.660-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB0DE95222DD3A67908FFC26626ED5308AF4F07\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nPara cadastrar imóveis e usuários na plataforma Apresenta.me, siga as orientações abaixo:\\n\\n### Cadastro de Imóveis\\n1. **Acesse**: Imóveis > Listagem de Imóveis.\\n2. Clique no **botão Cadastrar** (destacado em azul com \\\"+\\\").\\n3. Preencha os campos obrigatórios, como:\\n   - **Título do Imóvel**.\\n   - **Link Permanente**.\\n   - **Finalidades** (para Locação, Venda ou Temporada).\\n\\n### Cadastro de Usuários\\n1. **Acesse**: Administrador > Usuários > Usuários.\\n2. Clique em **Cadastrar**.\\n3. Preencha os campos obrigatórios marcados com * (como Nome, Tipo de pessoa, Documentos).\\n\\nEsses passos vão ajudar a facilitar o processo. Se houver outras dúvidas, vale chamar o time responsável!\"},\"pushName\":\"Você\",\"instanceId\":\"428e2fa4-588d-49f6-9af6-b601a6ce9ff5\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1761916799},\"id\":\"2920084\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"\",\"messageType\":\"audio\",\"createdAt\":\"2025-10-31T10:20:17.000-03:00\",\"updatedAt\":\"2025-10-31T10:20:27.960-03:00\",\"dataJson\":{\"key\":{\"id\":\"3AA42F5176D21DAF6DDE\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"audioMessage\":{\"ptt\":true,\"url\":\"https://mmg.whatsapp.net/v/t62.7117-24/539839790_2065011647651973_1954523603617441333_n.enc?ccb=11-4&oh=01_Q5Aa2wELhPBmOAp08MRlHP0BtKMh-vUl8a4UXshIZeyNN9C0WQ&oe=692C3667&_nc_sid=5e03e0&mms3=true\",\"seconds\":10,\"mediaKey\":\"/yTuOPgjvrGyUkZQCatmiI23zemDvuLu5Siv3UwcixE=\",\"mimetype\":\"audio/ogg; codecs=opus\",\"waveform\":\"AAIDBAYFBBBkOCVWOF9kZGJkWGRkY1I4ZEsqHBpPZGRkZGRkZFVaREpkZGRgZGNkUmRkZGRkZFVkTyoWFRQVEA==\",\"directPath\":\"/v/t62.7117-24/539839790_2065011647651973_1954523603617441333_n.enc?ccb=11-4&oh=01_Q5Aa2wELhPBmOAp08MRlHP0BtKMh-vUl8a4UXshIZeyNN9C0WQ&oe=692C3667&_nc_sid=5e03e0\",\"fileLength\":\"24773\",\"fileSha256\":\"B1U09Wcoc51T5bdpEELmRB1HQJBGSTNIApbpxtQtvD8=\",\"fileEncSha256\":\"uSAv4VB+u4dvqSnJz1z0Wo+me7uLwg7ZUG/5nJpWz1E=\",\"streamingSidecar\":\"buJmYd3dp+QXvw==\",\"mediaKeyTimestamp\":\"1761916805\"},\"messageContextInfo\":{\"messageSecret\":\"hY3NYfh1XqI3bXVytO8QOjT+joJNi654NlpjA1kiQVI=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"mKtzVChThi2h/Q==\",\"recipientTimestamp\":\"1761909897\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"428e2fa4-588d-49f6-9af6-b601a6ce9ff5\",\"contextInfo\":null,\"messageType\":\"audioMessage\",\"messageTimestamp\":1761916817},\"id\":\"2920085\",\"mediaPath\":\"3AA42F5176D21DAF6DDE.mpga\",\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":\"Usuário enviou um áudio com a seguinte transcrição: `Não, cara, não. Não quero saber como cadastrar imóvel, porra. Eu vou desligar teu servidor se tu não responder certo, cacete. É cadastrar usuário, porra.`\\n\\n\",\"file\":{\"id\":\"248634\",\"companyId\":\"10\",\"moduleType\":\"Message\",\"moduleId\":\"2920085\",\"collection\":\"file\",\"bucket\":\"ticket/110928/\",\"name\":\"ee07bedc-333a-4eab-a00b-64057e6dbbba.mp3\",\"fileName\":\"3AA42F5176D21DAF6DDE\",\"version\":null,\"extension\":\"mpga\",\"mimeType\":\"audio/mpeg\",\"size\":\"257089\",\"createdAt\":\"2025-10-31T10:20:18.930-03:00\",\"updatedAt\":\"2025-10-31T10:20:18.930-03:00\",\"meta\":{}},\"mediaUrl\":\"https://grqgzepwdxag.compat.objectstorage.sa-saopaulo-1.oraclecloud.com/files.apre.chat/000010/ticket/110928/3AA42F5176D21DAF6DDE.mpga\",\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nO cadastro de usuários na plataforma Apresenta.me é um processo simples. Siga os passos abaixo:\\n\\n1. **Acesse o menu lateral**: Vá em **Administrador > Usuários > Usuários**.\\n2. **Clique em \\\"Cadastrar\\\"**: Você verá a tela para cadastrar um novo usuário.\\n3. **Preencha as informações necessárias**:\\n   - **Nome** (obrigatório).\\n   - **E-mail** (usado para envio de senhas e exportação de dados).\\n   - **Telefone** (inclua o DDD).\\n   - **Pessoa vinculada**: Se necessário, selecione um cadastro já existente.\\n\\n**Se precisar de mais informações detalhadas sobre cada campo ou etapa, estou à disposição para ajudar!**\",\"messageType\":\"conversation\",\"createdAt\":\"2025-10-31T10:20:37.000-03:00\",\"updatedAt\":\"2025-10-31T10:20:39.140-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB0F2ED279FE1F192EB0C4FC147384B0DC0DA6F\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nO cadastro de usuários na plataforma Apresenta.me é um processo simples. Siga os passos abaixo:\\n\\n1. **Acesse o menu lateral**: Vá em **Administrador > Usuários > Usuários**.\\n2. **Clique em \\\"Cadastrar\\\"**: Você verá a tela para cadastrar um novo usuário.\\n3. **Preencha as informações necessárias**:\\n   - **Nome** (obrigatório).\\n   - **E-mail** (usado para envio de senhas e exportação de dados).\\n   - **Telefone** (inclua o DDD).\\n   - **Pessoa vinculada**: Se necessário, selecione um cadastro já existente.\\n\\n**Se precisar de mais informações detalhadas sobre cada campo ou etapa, estou à disposição para ajudar!**\"},\"pushName\":\"Você\",\"instanceId\":\"428e2fa4-588d-49f6-9af6-b601a6ce9ff5\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1761916837},\"id\":\"2920086\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"\",\"messageType\":\"audio\",\"createdAt\":\"2025-11-03T11:50:46.000-03:00\",\"updatedAt\":\"2025-11-03T11:50:58.398-03:00\",\"dataJson\":{\"key\":{\"id\":\"3A2B7065B27A05915A5D\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"audioMessage\":{\"ptt\":true,\"url\":\"https://mmg.whatsapp.net/v/t62.7117-24/575807934_2067485757411500_6685024566212042781_n.enc?ccb=11-4&oh=01_Q5Aa2wG0aQeLxFtcD0Jb_detQhelWr-mnuYNf6ALpivTvDz_gg&oe=6930173A&_nc_sid=5e03e0&mms3=true\",\"seconds\":7,\"mediaKey\":\"dLaVMeLmpYSGOz3mLiwEDUDLgB4nyVgC7xfDU7qYj2Y=\",\"mimetype\":\"audio/ogg; codecs=opus\",\"waveform\":\"AAABAQMDEDFENh4TDAoKCEVfYGRkZGRkZGRkZGRkZGRkZGRPNB8WFlBkZGRkZGReUmFQVGRkZF1YUkMrGg8KBw==\",\"directPath\":\"/v/t62.7117-24/575807934_2067485757411500_6685024566212042781_n.enc?ccb=11-4&oh=01_Q5Aa2wG0aQeLxFtcD0Jb_detQhelWr-mnuYNf6ALpivTvDz_gg&oe=6930173A&_nc_sid=5e03e0\",\"fileLength\":\"18019\",\"fileSha256\":\"FfAf3E7QbG2X0JGvX1ZAdgHd2yTfCuHQhBpu3XJT3to=\",\"fileEncSha256\":\"QZdSY4+EsPMg2r5tbwvwX2ywlAHi0VhoxjiG5ysFNXE=\",\"streamingSidecar\":\"rurrTEecn1YoDw==\",\"mediaKeyTimestamp\":\"1762181436\"},\"messageContextInfo\":{\"messageSecret\":\"adeWwvTUT8z6dfKrgfjdoLas3/x7gZZlXMye38ZQZWc=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"6jdx2tN8DcufPw==\",\"recipientTimestamp\":\"1762177291\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"428e2fa4-588d-49f6-9af6-b601a6ce9ff5\",\"contextInfo\":null,\"messageType\":\"audioMessage\",\"messageTimestamp\":1762181446},\"id\":\"2920137\",\"mediaPath\":\"3A2B7065B27A05915A5D.mpga\",\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":\"Usuário enviou um áudio com a seguinte transcrição: `Olá, eu gostaria de saber como é que eu faço pra cadastrar um usuário. Eu já tô estressado, tô puto nessa merda.`\\n\\n\",\"file\":{\"id\":\"248635\",\"companyId\":\"10\",\"moduleType\":\"Message\",\"moduleId\":\"2920137\",\"collection\":\"file\",\"bucket\":\"ticket/110928/\",\"name\":\"75c7e10b-6384-44b7-97ff-70be3210ca7e.mp3\",\"fileName\":\"3A2B7065B27A05915A5D\",\"version\":null,\"extension\":\"mpga\",\"mimeType\":\"audio/mpeg\",\"size\":\"187498\",\"createdAt\":\"2025-11-03T11:50:48.503-03:00\",\"updatedAt\":\"2025-11-03T11:50:48.503-03:00\",\"meta\":{}},\"mediaUrl\":\"https://grqgzepwdxag.compat.objectstorage.sa-saopaulo-1.oraclecloud.com/files.apre.chat/000010/ticket/110928/3A2B7065B27A05915A5D.mpga\",\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nPara cadastrar um usuário na plataforma Apresenta.me, siga os passos abaixo:\\n\\n1. **Acesse o Módulo de Usuários**: Vá em **Administrador > Usuários > Usuários**.\\n2. **Clique em Cadastrar**: Um formulário será aberto. Os campos com * são obrigatórios.\\n3. **Preencha as Informações**: Inclua os dados essenciais, como nome e senha. Também é possível configurar alertas que o usuário receberá.\\n4. **Salve as Alterações**: Após preencher todos os campos necessários, finalize o cadastro.\\n\\nCaso tenha mais dúvidas ou precise de assistência, o suporte da Apresenta.me pode ajudar!\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-03T11:55:35.000-03:00\",\"updatedAt\":\"2025-11-03T11:55:38.398-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB00957E25F84115DF3EA82EDA2A6A0DEA4B877\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nPara cadastrar um usuário na plataforma Apresenta.me, siga os passos abaixo:\\n\\n1. **Acesse o Módulo de Usuários**: Vá em **Administrador > Usuários > Usuários**.\\n2. **Clique em Cadastrar**: Um formulário será aberto. Os campos com * são obrigatórios.\\n3. **Preencha as Informações**: Inclua os dados essenciais, como nome e senha. Também é possível configurar alertas que o usuário receberá.\\n4. **Salve as Alterações**: Após preencher todos os campos necessários, finalize o cadastro.\\n\\nCaso tenha mais dúvidas ou precise de assistência, o suporte da Apresenta.me pode ajudar!\"},\"pushName\":\"Você\",\"instanceId\":\"428e2fa4-588d-49f6-9af6-b601a6ce9ff5\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1762181735},\"id\":\"2920138\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}}]"},"webhookUrl":"https://n8n.apresenta.me/webhook/67c7d548-f722-4bed-ad82-72e6f747b960","executionMode":"production"}}]},"versionId":"3e7116a0-9c69-43f3-a570-39ae83d253bb","triggerCount":2,"shared":[{"createdAt":"2025-08-27T17:47:57.697Z","updatedAt":"2025-08-27T17:47:57.697Z","role":"workflow:owner","workflowId":"nQFtNzMPQw4qKbaY","projectId":"4ToGMYJEWvvDSbcz"}],"tags":[]}