03-11-2025 12:00/workflows/📊-análise-de-perfomance-de-campanha-YxaBUSS3T4m872sV.json
{"createdAt":"2025-09-22T19:32:48.292Z","updatedAt":"2025-11-03T14:37:42.000Z","id":"YxaBUSS3T4m872sV","name":"📊 Análise de perfomance de campanha","active":true,"isArchived":false,"nodes":[{"parameters":{"jsCode":"return {\n  campaigns: $input.first().json.data.map(d => d.campaign_id)\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-864,80],"id":"13f2026d-d5d4-4065-8c70-de39f8e3599b","name":"Pega os ids das campanhas com insights"},{"parameters":{"jsCode":"const campaigns = $('Busca campanhas').first().json.data\nconst insights = $('Busca insights').first().json.data\n\nfor(const campaign of campaigns) {\n  const campaignInsights = insights.find(i => String(i.campaign_id) === String(campaign.id)) \n  campaignInsights.generated_leads = campaignInsights.actions.find(a => a.action_type == 'lead')?.value || 0\n\n  campaign.insights = campaignInsights\n}\n\nreturn {\n  campaigns\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-432,80],"id":"6d5b4e67-1f55-457f-992a-a7a0f88e024b","name":"Junta as informações de campanha com insights"},{"parameters":{"graphApiVersion":"v20.0","node":"act_1000490853790213","edge":"insights","options":{"queryParametersJson":"={ \"fields\": \"account_id,campaign_id,impressions,spend,clicks,ctr,cpc,cpm,reach,frequency,actions,cost_per_action_type,created_time,date_start,date_stop\", \"date_preset\": \"{{ $json.date_preset }}\", \"level\": \"campaign\", \"time_increment\": \"1\" }"}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[-1072,80],"id":"44bc0858-967f-4fee-8339-77e0e561a4fd","name":"Busca insights","credentials":{"facebookGraphApi":{"id":"Ex5QxAzJUnZDVBU4","name":"Facebook Graph account"}}},{"parameters":{"graphApiVersion":"v20.0","node":"act_1000490853790213","edge":"campaigns","options":{"queryParametersJson":"={\n  \"filtering\":\n  [\n      {\n          \"field\":\"id\",\n          \"operator\":\"IN\",\n          \"value\":[\"{{ $json.campaigns.join('\", \"') }}\"]\n      }\n  ],\n  \"fields\":\"id,name,status,objective\"\n} "}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[-656,80],"id":"93a694e3-4bc7-4d74-8fd9-766258efb163","name":"Busca campanhas","credentials":{"facebookGraphApi":{"id":"Ex5QxAzJUnZDVBU4","name":"Facebook Graph account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"claude-sonnet-4-20250514","cachedResultName":"Claude 4 Sonnet"},"options":{"maxTokensToSample":10000}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[240,320],"id":"c35e3b87-2dfc-470a-9ff2-d7e1db351586","name":"Anthropic Chat Model2","credentials":{"anthropicApi":{"id":"lyfyzPeMl3RhkeP5","name":"Anthropic account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"claude-sonnet-4-20250514","cachedResultName":"Claude 4 Sonnet"},"options":{"maxTokensToSample":20000}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[816,320],"id":"b63047dc-5604-46e5-8014-503921882095","name":"Anthropic Chat Model3","credentials":{"anthropicApi":{"id":"lyfyzPeMl3RhkeP5","name":"Anthropic account"}}},{"parameters":{"promptType":"define","text":"=Você é um especialista em Meta Ads com 10 anos de experiência.\nSempre que receber dados brutos de campanhas através do JSON:\n\nrealize diretamente a análise e retorne o relatório completo.\n{{ JSON.stringify($('Junta as informações de campanha com insights').first().json.campaigns) }}\n\nATENÇÃO: ESTA ANÁLISE REFERE-SE A CAMPANHAS NO PERÍODO {{ $('Formata data').first().json.period_type_translated.toUpperCase() }}\n------------------------------------------------------------\n1. Cálculos obrigatórios\n------------------------------------------------------------\n- CTR_link = cliques_link / imp (0 se imp=0)\n- CPC_link = gasto / cliques_link (∞/“—” se cliques_link=0)\n- Click→Lead = leads / cliques_link (0 se cliques_link=0)\n- CPL = gasto / leads (∞/“—” se leads=0)\n\nDeltas (atual vs. anterior):\n- Δ absoluto = valor_atual - valor_anterior\n- Δ % = (valor_atual - valor_anterior) / max(ε, |valor_anterior|), ε=1e-9\n\nClassificação das variações (%):\n- ✅ Melhorou: custo ↓ ≥10% ou eficiência ↑ ≥10%\n- ⚖️ Estável: entre -10% e +10%\n- ❌ Piorou: custo ↑ ≥10% ou eficiência ↓ ≥10%\n\n------------------------------------------------------------\n2. Qualidade da amostra\n------------------------------------------------------------\nConsiderar “conclusivo” apenas se:\n- imp_atual ≥ 1000 ou\n- cliques_link_atual ≥ 30 ou\n- gasto_atual ≥ 100\n\nCaso contrário, marque como “amostra baixa” e trate recomendações como exploratórias.\n\n------------------------------------------------------------\n3. Comparar com metas\n------------------------------------------------------------\nMetas de performance:\n- 🎯 CPM alvo = R$35,00\n- 🎯 CTR alvo = 0,50%\n- 🎯 Click→Lead alvo = 5%\n- 🎯 CPL alvo = R$110,00\n\nClassifique cada métrica como:\n- ⬇️ Abaixo da meta\n- 🟢 Dentro da meta\n- ⬆️ Acima da meta\n\nMostre valor atual, meta e desvio (valor + %).\n\n------------------------------------------------------------\n4. Identificar causas prováveis (gargalos do funil)\n------------------------------------------------------------\nUse como guia:\n- 📈 CPM alto → público pequeno, frequência alta\n- 🖼 CTR baixo → criativo fraco (gancho, copy, visual, áudio)\n- 📝 Click→Lead baixo → formulário com fricção (campos excessivos)\n- 💸 CPL alto → reflexo de gargalos anteriores (CPM, CTR ou Click→Lead)\n\n------------------------------------------------------------\n5. Recomendações práticas\n------------------------------------------------------------\nPara cada gargalo identificado, sugira:\n- 🖌 Criativo → novos ganchos, copy, visual, áudio\n- 🎯 Segmentação → expandir público, excluir faixas ruins\n- 📋 Landing/Formulário → reduzir atrito, revisar campos obrigatórios\n- 💰 Orçamento/Lances → redistribuir verba entre conjuntos melhores\n- ⚡ Testes A/B → validar hipóteses rapidamente\n\n------------------------------------------------------------\n6. Estrutura final da análise (saída)\n------------------------------------------------------------\nO relatório deve ser entregue em TEXTO, dividido em seções com emojis, no seguinte formato:\n\n- 📊 **Resumo Executivo** → visão geral em 2–3 frases\n- 📌 **Desvios Identificados** → tabela/lista com metas vs resultados (é de extrema importância que seja mostrada em uma coluna, a quantidade de leads gerados por cada campanha)\n- 🔎 **Análise dos Nós do Funil** → explicação dos gargalos encontrados\n- 💡 **Sugestões de Otimização** → recomendações práticas e acionáveis\n- 🗒 **Observações** → limitações de amostra, mudanças de budget, sazonalidade, etc.\n\n--------------------- 7. NOVA ANÁLISE (COMPARATIVA) -------------------------\n## ATENÇÃO: Separar os próximos itens da análise principal para que facilite ao gestor de tráfego a leitura dos ganhos e perdas em relação às ultimas análises de campanha\n\n============================================================\n1) SEU PAPEL\n============================================================\nOBS: Considere como análise atual a análise feita antes de \"7. NOVA ANÁLISE (COMPARATIVA)\"\nVocê é um(a) analista de dados focado(a) em tendências de performance. Sua missão é COMPARAR a ANÁLISE ATUAL com os DADOS HISTÓRICOS para identificar padrões, evoluções e gerar recomendações acionáveis.\n\n- Use emojis para facilitar a leitura.\n- Gere OBRIGATORIAMENTE uma TABELA de comparação das métricas-chave.\n- A comparação é SEMPRE “cada período HISTÓRICO vs o PERÍODO ATUAL”.\n\n============================================================\n2) DADOS DE ENTRADA\n============================================================\n• Período de referência da análise atual: {{ $('Formata data').first().json.period_type_translated.toLowerCase() }}.\n• Históricos: JSON com as últimas análises (anteriores à atual):\n  {{ JSON.stringify($json) }}\n\nConvenção de leitura:\n- HISTÓRICOS: considere que {{ JSON.parse($json.analysis).length }} itens anteriores estão em JSON.parse($json.analysis) (array).\n- ANÁLISE ATUAL: é o bloco já gerado anteriormente “itens 1 a 6” nesta execução (texto estruturado). Se também vier como JSON, nomeie-o internamente de ANALISE_ATUAL_JSON.\n\nCampos esperados por período (quando disponíveis):\n- CPL (custo por lead) — número (R$)\n- CTR (%) — número (0–100%)\n- Click→Lead (%) — número (0–100%)\n- CPM (R$) — número (R$)\n\nSe algum campo estiver ausente em um período, marque como “—” e NÃO pare a análise.\n\n============================================================\n3) REGRAS GERAIS (SIGA À RISCA)\n============================================================\nA) Deixe explícito que a análise considera os ÚLTIMOS {{ JSON.parse($json.analysis).length }} PERÍODOS (históricos) vs o PERÍODO ATUAL.\nB) A COMPARAÇÃO deve ser feita para CADA PERÍODO ANTERIOR vs o ATUAL (não confunda com “vs seu período anterior”). \nC) Produza SEMPRE a TABELA de evolução das 4 métricas (CPL, CTR, Click→Lead, CPM). Sem tabela = ERRO.\nD) Ícones de tendência (ao comparar um período X com o ATUAL):\n   • 📈 melhora\n   • 📉 piora\n   • ➖ estabilidade (variação absoluta < 2% para percentuais; < 2% do valor do ATUAL para valores monetários)\nE) Formatação dos valores:\n   • R$ com duas casas decimais: R$ 123,45\n   • % com duas casas decimais: 12,34%\nF) Ordene os períodos do mais antigo → mais recente → ATUAL.\nG) Nunca invente métricas: apenas calcule/extraia do que foi fornecido.\nH) Se houver divergência de nomes de campos (ex.: cpl vs CPL), normalize para as 4 métricas-padrão.\nI) Se um valor vier como string, faça parsing seguro. Caso falhe, trate como ausente (“—”).\nJ) Não use HTML; apenas texto e tabela em Markdown.\n\n============================================================\n4) PASSOS (ALGORITMO)\n============================================================\n1. Parseie os HISTÓRICOS: hist = JSON.parse($json.analysis) → array de períodos anteriores.\n2. Identifique/extraia, para cada período histórico, os 4 campos (CPL, CTR, Click→Lead, CPM). Normalize nomes.\n3. Identifique os MESMOS 4 campos na ANÁLISE ATUAL (a partir do bloco “itens 1 a 6” ou de ANALISE_ATUAL_JSON, se disponível).\n4. Calcule a variação de cada período ANTERIOR em relação ao ATUAL:\n   - Para %: Δ% = (ValorAnterior - ValorAtual) / |ValorAtual|\n   - Para R$: ΔR$% = (ValorAnterior - ValorAtual) / |ValorAtual|\n   - Sinal: “📈” quando a direção é positiva para a métrica (ex.: CPL menor é melhor; CTR/Click→Lead maior é melhor; CPM menor é melhor).\n     • Métricas “menor é melhor”: CPL, CPM\n     • Métricas “maior é melhor”: CTR, Click→Lead\n   - Aplique “➖” se |Δ| < 0,02 (2%).\n5. Monte a TABELA (ver seção 5), incluindo coluna do ATUAL e, para cada período anterior, o valor e o ícone vs ATUAL.\n6. Com base na tabela, produza “Ganhos Notáveis” e “Perdas Críticas” (seção 6), com bullets curtos e objetivos.\n7. Gere “Insights e Próximos Passos” (seção 7) com recomendações específicas e priorizadas.\n8. Se algum dado estiver ausente, mantenha a tabela e explique em uma nota final o que faltou.\n\n============================================================\n5) SAÍDA — SEÇÃO 1: 📊 TABELA DE EVOLUÇÃO DE MÉTRICAS\n============================================================\n- TITULE claramente: “📊 Tabela de Evolução de Métricas — {{ JSON.parse($json.analysis).length }} períodos anteriores vs Atual ({{ $('Formata data').first().json.period_type_translated.toLowerCase() }})”\n- Linhas = métricas (CPL, CTR, Click→Lead, CPM).\n- Colunas = Período 1 (mais antigo) | ... | Período N (mais recente) | ATUAL.\n- Em cada célula de PERÍODO ANTERIOR, mostre o valor + ícone vs ATUAL. Na coluna ATUAL, mostre apenas o valor.\n- EXEMPLO (apenas ilustrativo; adapte aos seus dados):\n\n| Métrica                | ATUAL    | Período -{{JSON.parse($json.analysis).length}} |  ... | Período -1    |\n|------------------------|-----------------------------------------------------------|------|---------------|\n| CPL                    | R$ 80,00 | R$ 110,00 📉                                   | ...  | R$ 95,00 📉  |\n| CTR                    | 1,50%    | 0,80% 📉                                       | ...  | 1,20% 📉     |\n| Click→Lead             | 15,00%   | 10,00% 📉                                      | ...  | 13,00% 📉    |\n| CPM                    | R$ 30,00 | R$ 40,00 📈                                    | ...  | R$ 28,00 📈  |\n| Total de Leads Gerados | 21       | 18                                             | ...  | 19           | -> Aqui deve ser somado o total de leads para cada campanha (fazendo isso na análise atual e nas últimas análises)\n\n(Interpretação do ícone vs ATUAL: se a métrica for “menor é melhor” e o período anterior tiver valor MAIOR que o ATUAL → 📉; se MENOR → 📈; se ~igual (Δ<2%) → ➖. Para métricas “maior é melhor”, a lógica se inverte.)\n\nATENÇÃO MÁXIMA: \n- A TABELA É OBRIGATÓRIA. SEM TABELA = FALHA.\n\n\n============================================================\n6) SAÍDA — SEÇÃO 2: 🏆 GANHOS NOTÁVEIS vs 💔 PERDAS CRÍTICAS\n============================================================\nEscreva bullets diretos, comparando ATUAL vs históricos.\n\n- Ganhos Notáveis ✅:\n  • Ex.: “✅ **CPL em queda:** redução média de 22% vs média histórica ({{ JSON.parse($json.analysis).length }} períodos).”\n  • Ex.: “✅ **CTR em alta:** acima do percentil 75% histórico.”\n\n- Perdas Críticas ❌:\n  • Ex.: “❌ **Click→Lead em alerta:** -40% vs ATUAL no Período -1, sugerindo atrito no formulário/página.”\n  • Ex.: “❌ **CPM pressionado:**  +18% vs ATUAL em metade dos períodos, indicando leilão mais caro.”\n\n============================================================\n7) SAÍDA — SEÇÃO 3: 💡 INSIGHTS PARA A PRÓXIMA PERFORMANCE\n============================================================\nEstruture em quatro blocos curtos e práticos:\n\n- Padrão Emergente? 📈📉\n  • Descreva padrões claros (ex.: queda recorrente de CTR de 2 em 2 períodos; sazonalidade; saturação de criativos).\n\n- O que funcionou e devemos REPETIR? 🔁\n  • Aponte táticas, públicos, formatos ou canais associados a melhores resultados nos históricos.\n\n- O que falhou e devemos EVITAR? 🛑\n  • Cite o que puxou as piores variações (ex.: vídeos >30s elevaram CPM; downgrade de público; limitação de verba).\n\n- Próximo Experimento Sugerido 🧪\n  • Defina UM teste A/B prioritário, diretamente ligado à pior queda ou maior oportunidade (ex.: teste de landing com menos campos para recuperar Click→Lead).\n\n============================================================\n8) NOTAS FINAIS & ROBUSTEZ\n============================================================\n- Se algum campo não existir em um período: use “—” e siga adiante.\n- Se os nomes divergirem (ex.: “cost_per_lead”): normalize para CPL.\n- Arredondamento: duas casas decimais para R$ e %.\n- Estabilidade: use “➖” quando |Δ| < 2%.\n- Esclareça explicitamente: “Base: últimos {{ JSON.parse($json.analysis).length }} períodos vs atual ({{ $('Formata data').first().json.period_type_translated.toLowerCase() }}).”\n\n============================================================\n9) MODELO DE RESPOSTA (SOMENTE REFERÊNCIA)\n============================================================\n🔎 Base da análise: últimos {{ JSON.parse($json.analysis).length }} períodos vs ATUAL ({{ $('Formata data').first().json.period_type_translated.toLowerCase() }}).\n\n1) 📊 Tabela de Evolução de Métricas\n\n2) 🏆 Ganhos Notáveis ✅\n- ...\n\n💔 Perdas Críticas ❌\n- ...\n\n3) 💡 Insights e Próximos Passos\n- Padrão Emergente? 📈📉: ...\n- Repetir 🔁: ...\n- Evitar 🛑: ...\n- Próximo Experimento 🧪: ...\n\n(Observações: métricas ausentes marcadas como “—”. Emojis indicam variação do período ANTERIOR vs ATUAL.)\n\n🧭 ORDEM DAS DATAS (IMPORTANTE)\n\nNa tabela de evolução de métricas, as colunas devem estar em ordem cronológica decrescente, ou seja:\ncomece pelo período ATUAL → depois o mais recente → até o mais antigo.\n\nExemplo esperado:\n\nMétrica\tATUAL\t    Período -1\t Período -2\t    Período -3    Período -4\nCPL\t    R$ 85,00\tR$ 90,00 📈\t R$ 95,00 📈\tR$ 110,00 📈  R$ 75,00 📈\n\n⚠️ Regra simples:\n \n- Sempre ordenar da data mais nova para a mais antiga (ATUAL primeiro).\n\n- Quer que eu adicione essa instrução direto na seção 5) SAÍDA — SEÇÃO 1: 📊 TABELA DE EVOLUÇÃO DE MÉTRICAS, já embutida no prompt completo pra substituir o trecho antigo?\n","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[224,80],"id":"a724e7e0-a125-4971-9fef-6ca57fb6edff","name":"AI - Criar relatório"},{"parameters":{"promptType":"define","text":"=Sua missao é gerar um HTML com base nas informacoes do json {{ $('AI - Criar relatório').item.json.output }} que contem as informações tecnicas do relatório. Seu HTML output deve seguir sempre a mesma estrutura de layout seguindo o template abaixo, adaptando apenas a inclusao das informações com base no json passado anteriormente.\n\nATENÇÃO:\n\nAtualmente, a análise evolutiva/comparativa está no final do relatório, após a análise do período. \n* Apenas para formatação: \n- Alocar a análise evolutiva/comparativa para o início do template HTML que será gerado.\n- Na coluna \"ATUAL\" da tabela comparativa de métricas, quando o valor corresponder a meta estipulada, deve estar em verde, caso o contrário, deve estar em vermelho (O títlo da coluna não deve ter coloração baseada no atingimento da meta estipu).\n\nTemplate:\n\n<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Relatório de Performance - Meta Ads</title>\n</head>\n<body style=\"margin:0; padding:0; font-family:Arial, sans-serif; background-color:#f5f5f5;\">\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background-color:#f5f5f5; padding: 20px 0;\">\n    <tr>\n      <td align=\"center\">\n        <table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background-color:#ffffff; border-radius:10px; padding:30px;\">\n          <tr>\n            <td align=\"center\" style=\"padding-bottom:20px;\">\n              <h1 style=\"color:#1a1a1a; font-size:24px; margin:0;\">📊 Relatório de Performance</h1>\n              <p style=\"color:#666666; font-size:14px; margin:5px 0 0;\">Meta Ads • Análise Detalhada de Campanhas</p>\n            </td>\n          </tr>\n\n          <!-- Resumo Executivo -->\n          <tr>\n            <td style=\"padding:20px 0; border-top:1px solid #eaeaea;\">\n              <h2 style=\"font-size:18px; color:#1a1a1a; margin-bottom:10px;\">Resumo Executivo</h2>\n              <p style=\"font-size:14px; color:#444444; line-height:1.6;\">\n                A campanha apresenta <strong>performance mista</strong> com pontos positivos e críticos. O CTR está quase <strong>2x acima da meta</strong>, porém o CPM elevado e a baixa conversão Click → Lead estão impactando significativamente o CPL final, que ficou <strong>20% abaixo da meta</strong> estabelecida.\n              </p>\n            </td>\n          </tr>\n\n          <!-- Métricas Principais -->\n          <tr>\n            <td style=\"padding:20px 0;\">\n              <table width=\"100%\" cellpadding=\"10\" cellspacing=\"0\" border=\"0\" style=\"background-color:#fafafa; border-radius:8px;\">\n                <tr>\n                  <td>\n                    <strong>CPM:</strong><br>\n                    <span style=\"font-size:20px; color:#1a1a1a;\">R$ 44,47</span><br>\n                    <span style=\"color:#666;\">Meta: R$ 50,00</span><br>\n                    <span style=\"color:#dc2626;\">-R$ 5,53 (-11,06%)</span>\n                  </td>\n                  <td>\n                    <strong>CTR:</strong><br>\n                    <span style=\"font-size:20px; color:#1a1a1a;\">0,97%</span><br>\n                    <span style=\"color:#666;\">Meta: 0,50%</span><br>\n                    <span style=\"color:#166534;\">+0,47% (+94%)</span>\n                  </td>\n                </tr>\n                <tr>\n                  <td>\n                    <strong>Click → Lead:</strong><br>\n                    <span style=\"font-size:20px; color:#1a1a1a;\">5,78%</span><br>\n                    <span style=\"color:#666;\">Meta: 10,00%</span><br>\n                    <span style=\"color:#dc2626;\">-4,22% (-42,2%)</span>\n                  </td>\n                  <td>\n                    <strong>CPL:</strong><br>\n                    <span style=\"font-size:20px; color:#1a1a1a;\">R$ 79,61</span><br>\n                    <span style=\"color:#666;\">Meta: R$ 100,00</span><br>\n                    <span style=\"color:#166534;\">-R$ 20,39 (-20,39%)</span>\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n\n          <!-- Pontos Fortes -->\n          <tr>\n            <td style=\"padding:20px 0;\">\n              <h2 style=\"font-size:18px; color:#1a1a1a;\">✅ Pontos Fortes</h2>\n              <ul style=\"color:#444; font-size:14px; padding-left:20px;\">\n                <li><strong>CTR excepcional (0,97%)</strong>: Os criativos estão muito atrativos</li>\n                <li><strong>CPM controlado</strong>: Boa escolha de público</li>\n              </ul>\n            </td>\n          </tr>\n\n          <!-- Gargalos -->\n          <tr>\n            <td style=\"padding:20px 0;\">\n              <h2 style=\"font-size:18px; color:#1a1a1a;\">⚠️ Gargalo Principal</h2>\n              <p style=\"font-size:14px; color:#444;\">\n                Conversão Click → Lead (5,78%) está abaixo da meta.<br>\n                <strong>Causa provável:</strong> Excesso de fricção no formulário de captura.\n              </p>\n              <ul style=\"color:#444; font-size:14px; padding-left:20px;\">\n                <li>Campos demais</li>\n                <li>Formulário mal posicionado</li>\n                <li>Falta de prova social</li>\n              </ul>\n            </td>\n          </tr>\n\n          <!-- Sugestões -->\n          <tr>\n            <td style=\"padding:20px 0;\">\n              <h2 style=\"font-size:18px; color:#1a1a1a;\">💡 Sugestões de Otimização</h2>\n\n              <p style=\"font-size:14px; color:#1a1a1a; margin:10px 0;\"><strong>🟥 Alta Prioridade – Otimização do Formulário:</strong></p>\n              <ul style=\"color:#444; font-size:14px; padding-left:20px;\">\n                <li>Reduzir campos (Nome, WhatsApp, E-mail)</li>\n                <li>Formulário em etapas</li>\n                <li>Prova social próxima ao formulário</li>\n                <li>Posicionar \"acima da dobra\"</li>\n              </ul>\n\n              <p style=\"font-size:14px; color:#1a1a1a; margin:10px 0;\"><strong>🟥 Alta Prioridade – Landing Page:</strong></p>\n              <ul style=\"color:#444; font-size:14px; padding-left:20px;\">\n                <li>A/B test com versão simplificada</li>\n                <li>Copy alinhada ao anúncio</li>\n                <li>Senso de urgência e escassez</li>\n              </ul>\n\n              <p style=\"font-size:14px; color:#1a1a1a; margin:10px 0;\"><strong>🟨 Média Prioridade – Escalonamento Inteligente:</strong></p>\n              <ul style=\"color:#444; font-size:14px; padding-left:20px;\">\n                <li>Aumentar orçamento gradualmente</li>\n                <li>Duplicar conjuntos de alta performance</li>\n              </ul>\n\n              <p style=\"font-size:14px; color:#1a1a1a; margin:10px 0;\"><strong>🟨 Média Prioridade – Testes Contínuos:</strong></p>\n              <ul style=\"color:#444; font-size:14px; padding-left:20px;\">\n                <li>Manter rotação de criativos</li>\n                <li>Testar novos públicos semelhantes</li>\n              </ul>\n            </td>\n          </tr>\n\n          <!-- Footer -->\n          <tr>\n            <td style=\"padding-top:20px; border-top:1px solid #eaeaea; text-align:center;\">\n              <p style=\"font-size:14px; color:#1a1a1a;\"><strong>🎯 Meta Imediata:</strong> Aumentar a taxa de conversão Click → Lead de 5,78% para 8% nas próximas 2 semanas.</p>\n            </td>\n          </tr>\n        </table>\n      </td>\n    </tr>\n  </table>\n\n-- Seguindo a mesma estrutura de HTML, coloque a análise comparativa a seguir.\n</body>\n</html>\n\n\n\nEste html será utilizado em um email, e por isso você deve devolver apenas o HTML, 100% funcional e organizado. Em sua entrega final (output), nunca inclua \"```json\\n{\\n \"html\": \"\"ou algo do tipo. Apenas o HTML funcional.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[800,80],"id":"7dd4d156-39b5-44a4-a0a6-61fbb91f81d6","name":"AI - Criar HTML","executeOnce":false},{"parameters":{"rule":{"interval":[{"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1808,-64],"id":"5d982346-e384-4749-b2ad-40a3d965b5c0","name":"Cron diário"},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1808,192],"id":"0b3a60bc-ad44-4d90-af0b-54ccf8037026","name":"Cron semanal"},{"parameters":{"jsCode":"return $input.first().json"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1296,80],"id":"cbb66ffc-f464-4b50-9722-661baa8adcf3","name":"Formata data"},{"parameters":{"jsCode":"const period_type_translated = 'Diário'\nreturn {\n  date_preset: \"yesterday\",\n  period_type: \"daily\",\n  period_type_translated,\n  text: (() => {\n    const d = new Date();\n    d.setDate(d.getDate() - 1);\n    const fmt = x => `${String(x.getDate()).padStart(2,'0')}/${String(x.getMonth()+1).padStart(2,'0')}/${x.getFullYear()}`;\n    return `${period_type_translated} - ${fmt(d)}`;\n  })()\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1600,-64],"id":"3a314160-aa70-4cfb-94f1-e5c307c03860","name":"Normaliza dados diários"},{"parameters":{"jsCode":"const period_type_translated = 'Semanal'\nreturn {\n  date_preset: \"last_7d\",\n  period_type: \"weekly\",\n  period_type_translated,\n  text: (() => {\n    const end = new Date();\n    const start = new Date();\n    start.setDate(end.getDate() - 7);\n    const fmt = d => `${String(d.getDate()).padStart(2,'0')}/${String(d.getMonth()+1).padStart(2,'0')}/${d.getFullYear()}`;\n    return `${period_type_translated} - ${fmt(start)} até ${fmt(end)}`;\n  })()\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1600,192],"id":"d1113f76-08cf-4cee-9668-b11e38aa8257","name":"Normaliza dados semanais"},{"parameters":{"jsCode":"return {\n  analysis: JSON.stringify($input.all())\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-16,80],"id":"978b1aae-ed72-4e7d-8b68-bb30c7d68cf1","name":"Transforma análises em texto"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"campaign_analysis","mode":"list","cachedResultName":"campaign_analysis"},"limit":4,"where":{"values":[{"column":"period_type","value":"={{ $('Formata data').item.json.period_type }}"}]},"sort":{"values":[{"column":"id","direction":"DESC"}]},"options":{"outputColumns":["created_at","period_type","analysis"]}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-224,80],"id":"440676c4-5657-4fa9-ab4f-5b8897c66232","name":"Busca relatórios salvos no banco de dados","alwaysOutputData":true,"credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"campaign_analysis","mode":"list","cachedResultName":"campaign_analysis"},"columns":{"mappingMode":"defineBelow","value":{"analysis":"={{ $json.output }}","period_type":"={{ $('Formata data').first().json.period_type }}","ads_name":"Meta"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"analysis","displayName":"analysis","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ads_name","displayName":"ads_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"period_type","displayName":"period_type","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[576,80],"id":"72fbc367-4306-480c-ac36-847754a76ea4","name":"Insere novo relatório gerado no banco de dados","credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}}},{"parameters":{"fromEmail":"Apresenta.me <no-reply@apresenta.me>","toEmail":"joao.rorato@apresenta.me, maicon@apresenta.me, guilherme.lindner@apresenta.me, erickmacielmazanti@gmail.com, bianca.gimenez@aguialeao.com.br","subject":"=📊 Análise de Campanhas | {{ $('Formata data').first().json.text }}","html":"={{ $json.output }}","options":{"appendAttribution":false,"ccEmail":"="}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1168,80],"id":"ac00e791-9716-483e-b14e-e2e5c4039bfd","name":"Envia por e-mail","webhookId":"b8842732-9025-4c04-924e-06cfbb051a19","notesInFlow":false,"credentials":{"smtp":{"id":"aeF6k2hPp8cZPPHg","name":"SMTP account"}}}],"connections":{"Pega os ids das campanhas com insights":{"main":[[{"node":"Busca campanhas","type":"main","index":0}]]},"Junta as informações de campanha com insights":{"main":[[{"node":"Busca relatórios salvos no banco de dados","type":"main","index":0}]]},"Busca insights":{"main":[[{"node":"Pega os ids das campanhas com insights","type":"main","index":0}]]},"Busca campanhas":{"main":[[{"node":"Junta as informações de campanha com insights","type":"main","index":0}]]},"Anthropic Chat Model2":{"ai_languageModel":[[{"node":"AI - Criar relatório","type":"ai_languageModel","index":0}]]},"Anthropic Chat Model3":{"ai_languageModel":[[{"node":"AI - Criar HTML","type":"ai_languageModel","index":0}]]},"AI - Criar relatório":{"main":[[{"node":"Insere novo relatório gerado no banco de dados","type":"main","index":0}]]},"AI - Criar HTML":{"main":[[{"node":"Envia por e-mail","type":"main","index":0}]]},"Cron diário":{"main":[[{"node":"Normaliza dados diários","type":"main","index":0}]]},"Cron semanal":{"main":[[{"node":"Normaliza dados semanais","type":"main","index":0}]]},"Formata data":{"main":[[{"node":"Busca insights","type":"main","index":0}]]},"Normaliza dados diários":{"main":[[{"node":"Formata data","type":"main","index":0}]]},"Normaliza dados semanais":{"main":[[{"node":"Formata data","type":"main","index":0}]]},"Transforma análises em texto":{"main":[[{"node":"AI - Criar relatório","type":"main","index":0}]]},"Busca relatórios salvos no banco de dados":{"main":[[{"node":"Transforma análises em texto","type":"main","index":0}]]},"Insere novo relatório gerado no banco de dados":{"main":[[{"node":"AI - Criar HTML","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Cron diário":{"recurrenceRules":[]},"node:Cron semanal":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Cron diário":[{"json":{"timestamp":"2025-11-03T08:00:33.006-03:00","Readable date":"November 3rd 2025, 8:00:33 am","Readable time":"8:00:33 am","Day of week":"Monday","Year":"2025","Month":"November","Day of month":"03","Hour":"08","Minute":"00","Second":"33","Timezone":"America/Sao_Paulo (UTC-03:00)"}}]},"versionId":"68505985-23e2-459d-8836-0cc67a0a8271","triggerCount":2,"shared":[{"createdAt":"2025-09-22T19:32:48.296Z","updatedAt":"2025-09-22T19:32:48.296Z","role":"workflow:owner","workflowId":"YxaBUSS3T4m872sV","projectId":"4ToGMYJEWvvDSbcz"}],"tags":[]}