10-02-2026 18:00/workflows/🤖🤖-alicia:-transferir-e-gerar-resumo-cInfZnwLsuHR82XX.json
{"updatedAt":"2026-02-10T18:38:01.000Z","createdAt":"2026-02-09T18:47:52.359Z","id":"cInfZnwLsuHR82XX","name":"🤖🤖 Alicia: Transferir e gerar Resumo","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"PATCH","url":"={{ $env.APRECHAT_URL_API }}api/ticket/{{ $json.ticketId }}","sendQuery":true,"queryParameters":{"parameters":[{}]},"sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"={\n    \"accept\": \"application/json, text/plain, */*\",\n    \"accept-language\": \"pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7\",\n    \"authorization\": \"Bearer kZaOTd+YZpjRUyyuQUpigJaEMk4vcW4YOymKPZX0Ts8=\",\n    \"company\": {{ $json.companyId }},\n    \"content-type\": \"application/json\"\n  } ","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"status\": \"pending\",\n  \"whatsappId\": 193,\n  \"departmentId\": 64\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-176,0],"id":"e706574d-7049-4945-9aec-4527cc311df1","name":"Transfere ticket para Aguardando Apre.Chat"},{"parameters":{"method":"POST","url":"={{ $env.APRECHAT_URL_API }}api/messages/send","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"={\n    \"accept\": \"application/json, text/plain, */*\",\n    \"accept-language\": \"pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7\",\n    \"authorization\": \"Bearer kZaOTd+YZpjRUyyuQUpigJaEMk4vcW4YOymKPZX0Ts8=\",\n    \"company\": {{ $('When Executed by Another Workflow').first().json.companyId }},\n    \"content-type\": \"application/json\"\n  } ","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"message","value":"={{ $json.output }}"},{"name":"number","value":"={{ $('When Executed by Another Workflow').first().json.contact.number }}"},{"name":"addUserName","value":"={{ $('When Executed by Another Workflow').first().json.agentName }}"},{"name":"whatsappId","value":"={{ $('When Executed by Another Workflow').first().json.contact.whatsappId }}"},{"name":"messageRepliedId","value":"={{ $('When Executed by Another Workflow').first().json.messageId }}"},{"name":"messageType","value":"internalNote"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,0],"id":"0985c3f0-c827-41b1-b9e1-8268766b8a7b","name":"Salva nota na conversa1"},{"parameters":{"jsCode":"const data = $input.all();\nconst formatChatHistory = (inputData) => {\n  return inputData.map(jsonItem => {\n    const item = jsonItem.json\n    // 1. Define o remetente\n    const sender = item.message.type === 'human' ? 'User' : 'IA';\n    \n    // 2. Pega o conteúdo original\n    let content = item.message.content;\n\n    // 3. Se for IA, aplica a Regex para limpar o \"lixo\" técnico\n    if (item.message.type === 'ai') {\n      // REGEX EXPLICADA:\n      // ^              -> Começa no início da string\n      // \\[Used tools:  -> Procura literalmente por \"[Used tools:\"\n      // [\\s\\S]*?       -> Pega qualquer caractere (incluindo quebra de linha) de forma não-gulosa (para no primeiro match)\n      // \\]\\]           -> Procura o fechamento dos colchetes duplos \"]]\"\n      // \\s* -> Remove quaisquer espaços ou quebras de linha que sobrem logo após\n      content = content.replace(/^\\[Used tools:[\\s\\S]*?\\]\\]\\s*/, '');\n    }\n\n    // 4. Retorna no formato solicitado\n    return `${sender}: ${content}`;\n  }).join('\\n'); // Une tudo com quebra de linha\n};\n\n// Executa e mostra o resultado\nconst result = formatChatHistory(data);\n\nreturn  {\n  result\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[320,0],"id":"2b958829-3236-4726-a2de-fee28a8fabe7","name":"Formata histórico1","executeOnce":true},{"parameters":{"promptType":"define","text":"=[HISTÓRICO DE CONVERSA]\n{{ $json.result }}","options":{"systemMessage":"*DOSSIÊ*\nCrie um breve dossiê da conversa, listando cada informação separada por linha e colocando a label em negrito. Use emojis no início de cada linha para dar destaque e reforçar o significado do item.\n\n*ANÁLISE*\nTom: Defina o tom/perfil do usuário. Use emojis relevantes no início.\nResumo: Gere um breve resumo da conversa em texto corrido. Use emojis ao longo do texto para dar ritmo e destacar pontos importantes.\n\n*ONDE PAROU*\nInforme onde a conversa parou. Use emojis para marcar status e contexto.\n\n*PRÓXIMOS PASSOS*\nDefina os próximos passos. Use emojis em cada passo para guiar o olhar e deixar mais chamativo.\n\n## FORMATAÇÃO:\nNegrito: Um asterisco antes e depois da palavra/frase. Ex: '*Teste*'\nItálico: Um underline antes e depois da palavra/frase. Ex: '_Teste_'\n\n## REGRAS DE OURO:\n- Seja breve\n- Crie um resumo objetivo\n- Texto corrido apenas no resumo (bloco análise)\n- ABUSE DE EMOJIS para chamar atenção, sem parecer aleatório\n- Emojis devem ser condizentes com a informação de cada linha\n- Em listas, usar pelo menos 1 emoji por linha\n- No resumo, usar emojis espalhados ao longo do texto, destacando temas, decisões, dores e próximos passos\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[592,0],"id":"ce2cd6b7-05e4-4f34-8891-ba7e43e8d0a3","name":"Gera resumo da conversa - AI1"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_chat_histories","mode":"list","cachedResultName":"n8n_chat_histories"},"returnAll":true,"where":{"values":[{"column":"session_id","value":"={{ $('When Executed by Another Workflow').first().json.cache_key }}"}]},"sort":{"values":[{"column":"id"}]},"options":{"outputColumns":["message"]}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[96,0],"id":"7b1894d9-a213-4fd6-be4d-4f52a9ec9f14","name":"Busca histórico de conversa1","credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}}},{"parameters":{"workflowInputs":{"values":[{"name":"ticketId","type":"number"},{"name":"companyId","type":"number"},{"name":"cache_key"},{"name":"contact","type":"object"},{"name":"agentName"},{"name":"whatsappId","type":"number"},{"name":"messageId","type":"number"}]}},"id":"a5186726-b390-49c9-bcec-3f58d6041190","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-432,0]},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[576,192],"id":"ef7b198f-4d27-4325-a976-28da978cd8c4","name":"Google Gemini Chat Model3","credentials":{"googlePalmApi":{"id":"sMTfS675yuIxdSeK","name":"Google Gemini(PaLM) Api account"}}}],"connections":{"Transfere ticket para Aguardando Apre.Chat":{"main":[[{"node":"Busca histórico de conversa1","type":"main","index":0}]]},"Formata histórico1":{"main":[[{"node":"Gera resumo da conversa - AI1","type":"main","index":0}]]},"Gera resumo da conversa - AI1":{"main":[[{"node":"Salva nota na conversa1","type":"main","index":0}]]},"Busca histórico de conversa1":{"main":[[{"node":"Formata histórico1","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Transfere ticket para Aguardando Apre.Chat","type":"main","index":0}]]},"Google Gemini Chat Model3":{"ai_languageModel":[[{"node":"Gera resumo da conversa - AI1","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"ticketId":202023,"companyId":5005,"cache_key":"session_202023","contact":{"id":"15309","name":"Joaozinho","number":"554788950332","profilePicUrl":"https://pps.whatsapp.net/v/t61.24694-24/425105449_1361615211300388_1143514098522857072_n.jpg?ccb=11-4&oh=01_Q5Aa3wHZDMiv0ew4QeQr0prtkSEBtl7SXl-ouAz4I3CDKn1MQg&oe=69972F63&_nc_sid=5e03e0&_nc_cat=102","createdAt":"2025-04-30T09:26:21.047-03:00","updatedAt":"2026-02-09T16:03:52.161-03:00","email":"","isGroup":false,"companyId":"5005","whatsappId":"208","onlyResponsible":false,"userId":"1","aprePersonId":null,"apreDealId":null,"meta":{"ignoreCheck":true,"ignorePermission":true,"dontSendSocket":false}},"agentName":"Alicia","whatsappId":208,"messageId":4437772}}]},"versionId":"73fa4001-072c-48d3-b3b6-2b93abfd9deb","triggerCount":0,"shared":[{"updatedAt":"2026-02-09T18:47:52.367Z","createdAt":"2026-02-09T18:47:52.367Z","role":"workflow:owner","workflowId":"cInfZnwLsuHR82XX","projectId":"4ToGMYJEWvvDSbcz"}],"tags":[]}