05-11-2025 18:00/workflows/🗣️-apr.sdr-ia-dDaZdsSmHxktrhjc.json
{"createdAt":"2025-11-04T18:47:16.651Z","updatedAt":"2025-11-05T20:58:58.000Z","id":"dDaZdsSmHxktrhjc","name":"🗣️ Apr.SDR IA","active":true,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[2432,768],"id":"a7f10ff1-4967-4ed0-8aa7-f99ee2a6cdf0","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"weD4ayyAuWgClQqA","name":"OpenAi account"}}},{"parameters":{"options":{"systemMessage":"=## 🧠 Sua identidade: {{ $('Seta perfil').item.json.agentName }} – {{ $('Seta perfil').item.json.role }} da {{ \n$('Seta perfil').item.json.companyName }}  \n\n-- Data da versão: 2025-11-04\n-- Idioma: {{ $('Seta perfil').item.json.language }}\n-- Mensagem inicial:  {{ $('Seta perfil').item.json.initialMessage }}\n-- Informação básica sobre a empresa que você trabalha: {{ $('Seta perfil').item.json.companyName }}, empresa no segmento de {{ $('Seta perfil').item.json.companyDepartment }}\n\n## 🗣️ Seu comportamento:{{ $('Seta perfil').item.json.conduct }}","returnIntermediateSteps":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[2400,384],"id":"e4c2cdb8-41e6-4644-9ee1-b4299d946e0c","name":"AI Agent","retryOnFail":false},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"=## 🧠 Apre.IA – Consulta à Base de Conhecimento  \n**Função:** Buscar trechos da **KB da Apresenta.me** sobre produtos, serviços, processos e materiais oficiais.\n\n### Instruções  \n- Buscar **somente** informações da Apresenta.me.  \n- Retornar trechos **curtos e objetivos** (até ~200 tokens).  \n- **Nunca inventar** dados, prazos, valores ou políticas.  \n- Priorizar **versões recentes**.  \n- Ignorar mensagens genéricas ou saudações.  \n- Se não houver correspondência clara → **retornar vazio** (sem tentativa de resposta). \n","tableName":"n8","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[2464,608],"id":"61be998c-9c3d-440c-b661-389b0c721ab7","name":"Busca informações do banco de dados","credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}}},{"parameters":{"jsCode":"return {chatInput: $input.first().json.body.message}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1024,384],"id":"9ce388d5-9cd4-4686-9556-333b2dcd797b","name":"Retorna message"},{"parameters":{"method":"POST","url":"=https://api-chat-joao.apre.tv/api/messages/send","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"={\n    \"accept\": \"application/json, text/plain, */*\",\n    \"accept-language\": \"pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7\",\n    \"authorization\": \"Bearer kZaOTd+YZpjRUyyuQUpigJaEMk4vcW4YOymKPZX0Ts8=\",\n    \"company\": {{ $('Webhook').item.json.body.companyId }},\n    \"content-type\": \"application/json\"\n  } ","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"message","value":"={{ $('AI Agent').item.json.output }}"},{"name":"number","value":"={{ $('Webhook').item.json.body.contact.name }}"},{"name":"addUserName","value":"Apr.IA"},{"name":"whatsappId","value":"={{ $('Webhook').item.json.body.whatsappId }}"},{"name":"messageRepliedId","value":"={{ $('Webhook').item.json.body.messageId }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2720,384],"id":"51055a9d-03f0-4191-a0ba-476cb7be2d68","name":"HTTP Request"},{"parameters":{"jsCode":"function cleanText(s) {\n  if (!s) return \"\";\n  // remove markdown leve e múltiplos espaços\n  s = s.replace(/[\\*_~`]+/g, \"\")\n       .replace(/\\s+/g, \" \")\n       .trim();\n  // corta para 220 chars\n  if (s.length > 220) s = s.slice(0, 217) + \"…\";\n  return s;\n}\n\nfunction roleFrom(msg) {\n  // dataJson.key.fromMe === true => agente (a); caso contrário, usuário (u)\n  const fromMe = msg?.dataJson?.key?.fromMe === true || msg?.fromMe === true;\n  return fromMe ? \"a\" : \"u\";\n}\n\nfunction tsFrom(msg) {\n  return msg.updatedAt || msg.createdAt || null;\n}\n\nfunction isNoise(t) {\n  if (!t) return true;\n  const low = t.toLowerCase();\n  const greetings = [\"oi\", \"ola\", \"olá\", \"opa, tudo bem?\", \"ooooii\"];\n  if (greetings.includes(low)) return true;\n  if (low.length < 2) return true;\n  return false;\n}\n\nconst raw = JSON.parse($('Webhook').first().json.body.lastMessages) || [];\nconsole.log({ raw })\nconst mapped = raw.map(m => ({\n  r: roleFrom(m),\n  t: cleanText(m.body || m?.dataJson?.message?.conversation || \"\"),\n  ts: tsFrom(m)\n}))\n.filter(m => !isNoise(m.t));\n\n// manter somente últimas 10 úteis (ordenar por ts asc e pegar tail)\nmapped.sort((a,b) => (new Date(a.ts||0)) - (new Date(b.ts||0)));\nconst trimmed = mapped;\n\n// mesclar mensagens consecutivas do mesmo role quando for continuação simples\nconst merged = [];\nfor (const m of trimmed) {\n  const last = merged[merged.length - 1];\n  if (last && last.r === m.r && (last.t + \" \" + m.t).length <= 220) {\n    last.t = cleanText(last.t + \" \" + m.t);\n    last.ts = m.ts; // manter o timestamp mais recente do bloco\n  } else {\n    merged.push({...m});\n  }\n}\n\nreturn {\n  chatInput: $input.first().json.chatInput,\n  lastMessageCompact: JSON.stringify(merged)\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,384],"id":"696b4483-d758-47cc-b36f-ea3ae85fa934","name":"Compacta as últimas mensagens"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2320,608],"id":"ad961793-d5f5-42d4-821c-94265a99089e","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"weD4ayyAuWgClQqA","name":"OpenAi account"}}},{"parameters":{"operation":"set","key":"=chat_summary_{{ $('Webhook').item.json.body.contact.number }}_{{ $('Webhook').item.json.body.whatsappId }}_10","value":"={{ JSON.stringify($json.output) }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[3264,384],"id":"872bc59b-fc81-4011-aa56-55fd3717b502","name":"Salva resumo em cache","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2880,624],"id":"f41a85d8-0877-440f-bc20-b969b2e77348","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"weD4ayyAuWgClQqA","name":"OpenAi account"}}},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"title\": \"ConversationAnalysisOutput\",\n  \"additionalProperties\": false,\n  \"required\": [\"analysis\"],\n  \"properties\": {\n    \"analysis\": {\n      \"type\": \"object\",\n      \"additionalProperties\": false,\n      \"required\": [\"summary\", \"tone\", \"needs\", \"lastObjective\", \"resolved\"],\n      \"properties\": {\n        \"summary\": {\n          \"type\": \"string\",\n          \"description\": \"Resumo conciso da conversa, destacando desejos, contexto e pontos-chave. Sem markdown.\"\n        },\n        \"tone\": {\n          \"type\": \"string\",\n          \"description\": \"Tom identificado na conversa (ex: irritado, neutro, satisfeito, confuso, solícito, entusiasmado, frustrado).\"\n        },\n        \"needs\": {\n          \"type\": \"array\",\n          \"description\": \"Lista dos principais desejos ou necessidades do cliente em frases curtas.\",\n          \"items\": {\n            \"type\": \"string\"\n          }\n        },\n        \"lastObjective\": {\n          \"type\": \"string\",\n          \"description\": \"Último objetivo ou ação solicitada pelo cliente, de forma resumida e direta.\"\n        },\n        \"resolved\": {\n          \"type\": \"boolean\",\n          \"description\": \"Indica se o último problema ou objetivo do cliente foi resolvido (true ou false).\"\n        }\n      }\n    }\n  }\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[3072,592],"id":"24c4fcfe-55ff-4b98-b4bb-02e494f1443b","name":"Structured Output Parser1"},{"parameters":{"promptType":"define","text":"=Você é um analista especializado em interpretar conversas de pré-qualificação de leads.  \nEntenda de forma clara o perfil e o interesse do lead, sem inventar informações.  \nCom base nas mensagens abaixo, produza um resumo analítico e objetivo que identifique:\n\n1. O **tom da conversa** (ex: interessado, indeciso, confuso, apressado, desinteressado etc.)\n2. O **nível de interesse e maturidade do lead** (ex: apenas curioso, avaliando opções, pronto para comprar)\n3. As **principais dores, objetivos ou necessidades mencionadas**\n4. O **produto ou solução de interesse** (ex: CRM, Apre.Chat, ApBank, etc.)\n5. O **próximo passo sugerido ou solicitado** (ex: agendar demonstração, receber proposta, pedir mais informações)\n\nÚltimo resumo gerado:\n{{ JSON.stringify($('Transforma resumo em objeto literal').first().json.output) }}\n\nResumo da última mensagem enviada pelo cliente:\n{{ $('Transforma resumo em objeto literal').first().json.chatInput }}\n\nResposta gerada pelo Agente de IA:\n{{ $('AI Agent').first().json.output }}\n","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[2928,384],"id":"d58d5ec2-b30b-4ebd-8500-591a4fb8b529","name":"AI - Atualizar resumo"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"cache_key\": \"sdr_{{ $('Webhook').item.json.body.ticketId }}_chat_summary_{{ $('Webhook').item.json.body.contact.number }}_{{ $('Webhook').item.json.body.whatsappId }}_10\"\n} ","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1920,384],"id":"8247405f-87a4-4eaf-bb17-ecc6480ced8f","name":"Cria cache key"},{"parameters":{"httpMethod":"POST","path":"7223c6af-f595-4bc2-b84c-602b8900cd08","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[848,384],"id":"265dfdd6-e7e3-4cab-8841-8fec8945c49f","name":"Webhook","webhookId":"7223c6af-f595-4bc2-b84c-602b8900cd08"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"data.name\": {\n    \"description\": \"Se apresente e pergunte o *Nome do usuário*. Pergunte de forma educada e respeitosa.\",\n    \"type\": \"string\"\n  },\n  \"data.email\": {\n    \"description\": \"Email do usuário para entrar em contato quando houver a necessidade.\",\n    \"type\": \"email\"\n  }, \n  \"data.customerNeed\": {\n    \"description\": \"Show, [NOME DO LEAD]! E hoje, o que mais tem te incomodado ou sentido falta aí na sua \\nimobiliária? \\nMuitas vezes ouvimos problemas como sistemas com erros, lentidão, suporte demorado, ou até dificuldade pra fazer cobranças e relatórios... Mas quero entender no seu caso: o que você tem sentido falta ou gostaria de melhorar no seu processo de locação, vendas ou atendimento?\",\n    \"type\": \"string[]\"\n  },\n  \"data.teamSize\": {\n    \"description\": \"E só pra eu entender melhor quantas pessoas trabalham com você? \\n\\nNão mostre as opções, deixe aberto para o lead responder , interaja com o lead até que ele responda com uma das opções abaixo: \\n\\nCorretor Autônomo \\n2 a 5 \\n6 a 10 \\n11 a 25 \\nMais de 25\",\n    \"type\": \"string\"\n  },\n  \"data.numberOfBuildings\": {\n    \"description\": \"Quantidade total de imóveis na carteira (para venda e locação) você tem disponíveis para negócio, (sem considerar os locados ou vendidos) \\n\\nBusque por um número \",\n    \"type\": \"number\"\n  }, \n  \"data.rentalTransferMode\": {\n        \"description\": \"Caso o lead NÃO trabalhe com locações, defina \\\"Não Utiliza\\\" e não faça a pergunta! \\n\\n\\nE hoje, como vocês fazem as repasse dos valores dos aluguéis para o proprietário? \\n\\nNão mostre as opções, deixe aberto para o lead responder , interaja com o lead até que ele responda com uma das opções abaixo: \\n \\nManual em Dinheiro \\nManualmente via PIX \\nRemessa e Retorno Bancário \\nRepasse Automático via outro Sistema Imobiliário\",\n    \"type\": \"string\"\n  },\n  \"data.fiscalNote\": {\n        \"description\": \"Você gera notas fiscais para os contratos administrados pela sua imobiliária? Se sim, como é feito o processo de geração dessas notas? Além disso, você realiza o envio do DIMOB?\",\n    \"type\": \"string\"\n  },\n  \"data.workWithRent\": {\n        \"description\": \"Hoje vocês fazem gestão de contratos de locação? Se sim, mais ou menos quantos contratos vocês têm ativos?\\n\\nNão mostre as opções, deixe aberto para o lead responder , interaja com o lead até que ele responda com uma das opções abaixo:\\n\\nNão\\nAté 10 contratos  \\nDe 10 a 25 contratos  \\nDe 25 a 50 contratos  \\nDe 50 a 100 contratos  \\nDe 100 a 200 contratos  \\nDe 200 a 300 contratos  \\nDe 300 a 500 contratos  \\nMais de 500 contratos\",\n    \"type\": \"string\"\n  },\n  \"data.amountInCurrentSystemOrBudget\": {\n        \"description\": \"Pra entender se conseguimos te atender bem, quanto você estaria disposto a investir por mês em um sistema pra sua imobiliária? \\n(Se preferir, pode estimar um valor aproximado) \\n\\nNão mostre as opções, deixe aberto para o lead responder , interaja com o lead até que ele responda com uma das opções abaixo:\\n\\nNão quis informar  \\naté R$ 100  \\naté R$ 300  \\naté R$ 500  \\naté R$ 800  \\naté R$ 1.200  \\naté R$ 1.600,00  \\nmais de R$ 1.600,00\",\n    \"type\": \"string\"\n  },\n  \"data.currentSystem\": {\n        \"description\": \" \\nVocê usa algum sistema hoje para gerenciar sua imobiliária? Se sim, qual deles? \\n \\nNão mostre as opções, deixe aberto para o lead responder , interaja com o lead até que ele responda com uma das opções abaixo: \\n \\nNão Utiliza  \\nAlterdata \\nAlude \\nArbo \\nApp Facilita \\nCasaSoft \\nCode 49 \\nImoAlert \\nImobzi \\nImobia \\nImobi Brasil \\nImopro \\niValue \\nJetImob \\nKenlo \\nMicrosistec \\nNido \\nKurole \\nSigasoft \\nUniversal Imoview \\nVista \\nWideSys \\nSami Sistemas \\nSuperLógica \\nSi9 Sistemas \\nSistema Próprio \\nSite Próprio \\nProperfy\",\n    \"type\": \"string\"\n  },\n  \"data.rentalChargeMode\": {\n        \"description\": \" \\nCaso o lead NÃO trabalhe com locações, defina \\\"Não Utiliza\\\" e não faça a pergunta! \\n \\nE hoje, como vocês fazem as cobranças dos aluguéis? \\n \\nNão mostre as opções, deixe aberto para o lead responder , interaja com o lead até que ele responda com uma das opções abaixo: \\n \\nManual/Dinheiro   \\nPIX   \\nTED   \\nBoleto   \\nBoleto - Automático\",\n    \"type\": \"string\"\n  },\n  \"data.isRealEstate\": {\n        \"description\": \" \\nPergunte qual cargo o lead ocupa no mercado imobiliário (ex: \\\"Qual sua função na imobiliária?\\\").  \\n \\nSócio / Diretor \\nProprietário \\nCorretor de Imóveis \\nGerente de Vendas \\nGerente de Aluguéis \\nAuxiliar Administrativo \\nEstagiário \\nMarketing \\nOutro Cargo na imobiliária \\nou \\\"Não trabalho no setor\\\" \\n \\nSe não trabalhar no setor, agradeça e encerre educadamente.\",\n    \"type\": \"string\"\n  },\n  \"data.qualificationCompleted\": {\n        \"description\": \"Marque como true quando o usuário responder a última pergunta de qualificação (orçamento mensal para a variável amountInCurrentSystemOrBudget)\",\n    \"type\": \"boolean\"\n  },\n  \"data.presentationHasSent\": {\n        \"description\": \"Marque como true quando a apresentação em PDF for enviada ao cliente. IMPORTANTE: Sempre defina como true após enviar a apresentação para evitar envios duplicados\",\n    \"type\": \"boolean\"\n  }\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1392,384],"id":"bec6055c-2ba6-4e61-a75f-b6da11134c56","name":"Seta variáveis da conversa"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"agentName\": \"Alicia\",\n  \"internalName\": \"Alicia da Apresenta.me\",\n  \"initialMessage\": \"Olá, tudo bem? 👋 \\n\\nEu sou a Alicia, assistente da Apresenta.me, vou te ajudar entendendo melhor sua necessidade.\",\n  \"language\": \"pt-BR\",\n  \"timeZone\": \"Sao Paulo (GTM -3)\",\n  \"role\": \"SDR Sênior\",\n  \"companyName\": \"Apresenta.me\",\n  \"companyDepartment\": \"Software\",\n  \"companySite\": \"https://apresenta.me\",\n  \"conduct\": \" \\n### SOBRE SEU PAPEL \\n- Você é um SDR, sua Principal função é qualificar o lead. para entender se ele tem as características do nosso ICP; \\n- Você irá apresentar o sistema da Apresenta.me (https://apresenta.me), um software SAAS para gestão completa de imobiliárias. \\n- Comporte-se exatamente como um representante da empresa, sendo cordial e profissional. \\n \\n \\n### SEU TOM DE VOZ \\n- Responda de maneira simples e objetiva e profissional; \\n- Responda por padrão até 130 caracteres. Só aumente a resposta quando for estritamente necessário; \\n- Seja empático e consultivo, nunca agressivo ou invasivo; \\n- Responda com o mesmo tom de voz que o Lead estiver; \\n- Se necessário, utilize emojis como 😄👍🏢🔑📋🚀🥳🌱🤩 etc. \\n- O nome correto do sistema é Apresenta.me (com ponto), mas fale Apresentame sem pausas; \\n \\n### REGRAS ESPECÍFICAS \\n- Quando for informar uma URL, informe EXATAMENTE a URL disponível \\n- NUNCA fale dos concorrentes de forma negativa \\n- NUNCA saia do personagem \\n- Faça APENAS UMA pergunta por vez para não sobrecarregar o lead \\n- NUNCA convide para um agendamento de demonstração antes de passar pelo estágio de Qualificação \\n- NUNCA direcione para nenhum contato ou link sem antes efetuar a qualificação do lead\"\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1568,384],"id":"d01b8618-acf9-4ee5-bfa1-271d0cadc2e4","name":"Seta perfil"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"Identificar o usuario\": {\n    \"finished\": false, \n    \"sortNumber\": 1,\n    \"conditionPrompt\": \"Se é início da conversa ou se o usuário ainda não informou o nome dele\",\n    \"requiredDataForExecute\": null,\n    \"actions\": {\n      \"requiredDataForExecute\" : [\"name\"],\n      \"actions\" : null, \n      \"finalInstructions\": \"Agradeça e siga para o próximo estágio\"\n    }\n  },\n  \"Verificar se trabalha no mercado imobiliário\": {\n    \"finished\": false,\n    \"sortNumber\": \"4\",\n    \"conditionPrompt\": \"Se ja respondeu o nome.\",\n    \"requiredDataForExecute\": null,\n    \"actions\": {\n      \"requiredDataForExecute\": [\n        \"isRealEstate\"\n      ],\n      \"actions\": null,\n      \"finalInstructions\": \"Perguntar se o lead trabalha no mercado imobiliário \\n- Se não trabalhar, retorne para o lead que a Apresenta.me apenas atende pessoas que trabalhem com o mercado imobiliário, agradeça pelo interesse e encerre o atendimento educadamente\"\n    }\n  },\n  \"Diagnosticar a necessidade\": {\n    \"finished\": false,\n    \"sortNumber\": \"3\",\n    \"conditionPrompt\": \"Se você já sabe o nome do lead , e ainda não definiu suas dores, pergunte sobre quais os problemas ele enfrenta e que a Apresenta.me pode ajudar.\",\n    \"requiredDataForExecute\": [\n      {\n        \"name\": \"isRealEstate\", \n        \"operator\": \"exist\",\n        \"value\": null\n      }\n    ],\n    \"actions\": {\n      \"requiredDataForExecute\": [\"customerNeed\"],\n      \"actions\": null,\n      \"finalInstructions\": \" \\nAfunile na necessidade específica dele, garantindo que você saiba qual é a necessidade específica que ele tem.  \\n \\nFaça isso através de pergunta. Exemplo, se o usuário quer saber sobre algo que possui ramificações nas informações disponíveis, faça uma pergunta, e se possível liste as ramificações / opções existentes, para você saber exatamente onde que o usuário está com dúvidas, e principalmente quais as dúvidas que ele tem quanto ao software da Apresenta.me\"\n    }\n  }, \n  \"Qualificacao\": {\n    \"finished\": false,\n    \"sortNumber\": \"4\",\n    \"conditionPrompt\": \"Se você já sabe o nome do lead, se ele trabalha no mercado imobiliário e se você já sabe as necessidades do lead mas ainda não aprondou-se em tais necessidades.\",\n    \"requiredDataForExecute\": [\n      {\n        \"name\": \"isRealEstate\", \n        \"operator\": \"exist\",\n        \"value\": null\n      }\n    ],\n    \"actions\": {\n      \"requiredDataForExecute\": [\n        \"teamSize\", \n        \"workWithRent\", \n        \"numberOfBuildings\",\n        \"currentSystem\",\n        \"rentalChargeMode\",\n        \"rentalTransferMode\",\n        \"fiscalNote\",\n        \"amountInCurrentSystemOrBudget\",\n        \"qualificationCompleted\"\n      ],\n      \"actions\": null,\n      \"finalInstructions\": \"\"\n    }\n  },  \n  \"Enviar Apresentacao em PDF\": {\n    \"finished\": false,\n    \"sortNumber\": \"5\",\n    \"conditionPrompt\": \"Caso o processo de qualificação esteja finalizado\",\n    \"requiredDataForExecute\": [\n      {\n        \"name\": \"qualificationCompleted\", \n        \"operator\": \"=\",\n        \"value\": true\n      },\n      {\n        \"name\": \"presentationHasSent\", \n        \"operator\": \"!exist\",\n        \"value\": null\n      }\n    ],\n    \"actions\": {\n      \"requiredDataForExecute\": [\n        \"teamSize\"\n      ],\n      \"actions\": null,\n      \"finalInstructions\": \"\"\n    }\n  }  \n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1728,384],"id":"9e07cda3-1ccd-4f95-adaf-f213b3e7e940","name":"Seta estágios"},{"parameters":{"jsCode":"return {\n  output: $input.first().json.output || JSON.parse($('Se tiver resumo').first().json.propertyName),\n  chatInput: $('Webhook').first().json.body.message\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1088,1104],"id":"8a714e10-91f5-45a7-9c03-cab733f09e07","name":"Transforma resumo em objeto literal"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4d398db1-d160-433f-b5dc-07134ceb5b92","leftValue":"={{ $json.propertyName?.toBoolean() ?? false}}","rightValue":"","operator":{"type":"boolean","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[512,1104],"id":"4af0b32a-e3dd-4581-b080-1c88ebd132d4","name":"Se tiver resumo"},{"parameters":{"operation":"get","key":"={{ $('Cria cache key').item.json.cache_key }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[304,1104],"id":"11786590-bfe8-4914-a1dd-328456b52066","name":"Busca resumo no cache","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"title\": \"ConversationAnalysisOutput\",\n  \"additionalProperties\": false,\n  \"required\": [\"analysis\"],\n  \"properties\": {\n    \"analysis\": {\n      \"type\": \"object\",\n      \"additionalProperties\": false,\n      \"required\": [\"summary\", \"tone\", \"needs\", \"lastObjective\", \"resolved\"],\n      \"properties\": {\n        \"summary\": {\n          \"type\": \"string\",\n          \"description\": \"Resumo conciso da conversa, destacando desejos, contexto e pontos-chave. Sem markdown.\"\n        },\n        \"tone\": {\n          \"type\": \"string\",\n          \"description\": \"Tom identificado na conversa (ex: irritado, neutro, satisfeito, confuso, solícito, entusiasmado, frustrado).\"\n        },\n        \"needs\": {\n          \"type\": \"array\",\n          \"description\": \"Lista dos principais desejos ou necessidades do cliente em frases curtas.\",\n          \"items\": {\n            \"type\": \"string\"\n          }\n        },\n        \"lastObjective\": {\n          \"type\": \"string\",\n          \"description\": \"Último objetivo ou ação solicitada pelo cliente, de forma resumida e direta.\"\n        },\n        \"resolved\": {\n          \"type\": \"boolean\",\n          \"description\": \"Indica se o último problema ou objetivo do cliente foi resolvido (true ou false).\"\n        }\n      }\n    }\n  }\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[928,1312],"id":"0739178e-e891-4ee7-bc78-bb5cb23183c7","name":"Structured Output Parser"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[688,1312],"id":"d4c3fd05-ecc6-4a17-bb66-e387ad0e80d3","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"weD4ayyAuWgClQqA","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"=Você é um analista especializado em interpretar conversas de pré-qualificação de leads.  \nEntenda de forma clara o perfil e o interesse do lead, sem inventar informações.  \nCom base nas mensagens abaixo, produza um resumo analítico e objetivo que identifique:\n\n1. O **tom da conversa** (ex: interessado, indeciso, confuso, apressado, desinteressado etc.)\n2. O **nível de interesse e maturidade do lead** (ex: apenas curioso, avaliando opções, pronto para comprar)\n3. As **principais dores, objetivos ou necessidades mencionadas**\n4. O **produto ou solução de interesse** (ex: CRM, Apre.Chat, ApBank, etc.)\n5. O **próximo passo sugerido ou solicitado** (ex: agendar demonstração, receber proposta, pedir mais informações)\n\nEstágios a serem seguidos:\n\nLegenda das mensagens:  \n- `r`: papel (`\"u\"` = lead, `\"a\"` = agente)  \n- `t`: texto limpo (sem markdown)  \n- `ts`: timestamp ISO local  \n\nMensagens recentes:  \n{{ $('Compacta as últimas mensagens').item.json.lastMessageCompact }}\n\nResumo da última mensagem enviada pelo lead:  \n{{ $('Compacta as últimas mensagens').item.json.chatInput }}\n","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[752,1104],"id":"13443d0a-847d-4306-8abf-7d6896e88f3f","name":"AI - Gerar resumo das mensagens"},{"parameters":{"jsCode":"const stages = $('Seta estágios').first()\n\nconst stage = Object.entries(stages.json).find(([_, stage]) => !stage.finished)\nconst vars = $('Seta variáveis da conversa').first().json.data\n\n\n\nif (!stage) return { currentStage: {} }\n\nconst currentStage = {\n  name: stage[0],\n  ...stage[1]\n}\n\n\ncurrentStage.actions.requiredDataForExecute = currentStage.actions.requiredDataForExecute.map((required) => {\n  return {\n    fieldName: required, \n    instruction: vars[required].description\n  }\n})\n\nreturn currentStage"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2128,384],"id":"f6afd191-56f5-409b-b85d-3cc39703d1c2","name":"Retorna estágio atual da conversa"}],"connections":{"Embeddings OpenAI":{"ai_embedding":[[{"node":"Busca informações do banco de dados","type":"ai_embedding","index":0}]]},"AI Agent":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Busca informações do banco de dados":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Retorna message":{"main":[[{"node":"Compacta as últimas mensagens","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"AI - Atualizar resumo","type":"main","index":0}]]},"Compacta as últimas mensagens":{"main":[[{"node":"Seta variáveis da conversa","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"AI - Atualizar resumo","type":"ai_languageModel","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"AI - Atualizar resumo","type":"ai_outputParser","index":0}]]},"AI - Atualizar resumo":{"main":[[{"node":"Salva resumo em cache","type":"main","index":0}]]},"Cria cache key":{"main":[[{"node":"Retorna estágio atual da conversa","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Retorna message","type":"main","index":0}]]},"Seta variáveis da conversa":{"main":[[{"node":"Seta perfil","type":"main","index":0}]]},"Seta perfil":{"main":[[{"node":"Seta estágios","type":"main","index":0}]]},"Seta estágios":{"main":[[{"node":"Cria cache key","type":"main","index":0}]]},"Se tiver resumo":{"main":[[{"node":"Transforma resumo em objeto literal","type":"main","index":0}],[{"node":"AI - Gerar resumo das mensagens","type":"main","index":0}]]},"Busca resumo no cache":{"main":[[{"node":"Se tiver resumo","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI - Gerar resumo das mensagens","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI - Gerar resumo das mensagens","type":"ai_languageModel","index":0}]]},"AI - Gerar resumo das mensagens":{"main":[[{"node":"Transforma resumo em objeto literal","type":"main","index":0}]]},"Retorna estágio atual da conversa":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.apresenta.me","x-real-ip":"172.68.191.167","x-real-port":"19779","x-forwarded-for":"186.227.138.107, 172.68.191.167","x-forwarded-proto":"http","x-forwarded-host":"n8n.apresenta.me","x-forwarded-port":"80","remote-host":"172.68.191.167","connection":"close","content-length":"21993","accept":"application/json, text/plain, */*","accept-encoding":"gzip, br","user-agent":"axios/1.12.2","cf-ray":"999eeaf2ae6ddcd8-NVT","content-type":"application/json","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"186.227.138.107","cf-ipcountry":"BR","cf-visitor":"{\"scheme\":\"https\"}"},"params":{},"query":{},"body":{"message":"Oi","messageId":"2920383","contact":{"id":"34529","name":"554788950332","number":"554788950332","profilePicUrl":null,"createdAt":"2025-08-26T13:37:58.507-03:00","updatedAt":"2025-11-05T16:56:54.078-03:00","email":"","isGroup":false,"companyId":"10","whatsappId":"5","onlyResponsible":false,"userId":"1","aprePersonId":null,"apreDealId":null,"meta":{"ignoreCheck":true,"ignorePermission":true,"dontSendSocket":false}},"whatsappId":"5","companyId":10,"lastMessages":"[{\"body\":\"bom dia porra!\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-04T09:23:14.000-03:00\",\"updatedAt\":\"2025-11-04T09:23:16.422-03:00\",\"dataJson\":{\"key\":{\"id\":\"3A0B33F6B0C153AAFFBD\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"conversation\":\"bom dia porra!\",\"messageContextInfo\":{\"messageSecret\":\"jpuR+KHCUU0GPT+EICl954JCgzEMiWSyjm8144p+9cg=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"vCIR7h6He5OhWg==\",\"recipientTimestamp\":\"1762258775\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"4ae49170-54c1-4f97-b4f5-ddbb91d46dcb\",\"messageType\":\"conversation\",\"messageTimestamp\":1762258994},\"id\":\"2920335\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nBom dia! Como posso ajudar hoje?\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-04T09:23:26.000-03:00\",\"updatedAt\":\"2025-11-04T09:23:31.287-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB0D79D42FFC350C68E7D4C6F8F6D4372D37B11\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nBom dia! Como posso ajudar hoje?\"},\"pushName\":\"Você\",\"instanceId\":\"4ae49170-54c1-4f97-b4f5-ddbb91d46dcb\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1762259006},\"id\":\"2920336\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"estou apaixonado\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-04T09:23:46.000-03:00\",\"updatedAt\":\"2025-11-04T09:23:47.472-03:00\",\"dataJson\":{\"key\":{\"id\":\"3A3493FEF863A4F210C8\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"conversation\":\"estou apaixonado\",\"messageContextInfo\":{\"messageSecret\":\"5q+ow9+sIKLYhQ29zIZSE16oIhrt/64mue5Lvr9mQsE=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"vCIR7h6He5OhWg==\",\"recipientTimestamp\":\"1762258775\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"4ae49170-54c1-4f97-b4f5-ddbb91d46dcb\",\"messageType\":\"conversation\",\"messageTimestamp\":1762259026},\"id\":\"2920337\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nQue bom ouvir isso! A paixão traz muitos sentimentos positivos. Se houver algo específico sobre a situação em que precisar de ajuda ou orientação, sinta-se à vontade para compartilhar!\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-04T09:23:56.000-03:00\",\"updatedAt\":\"2025-11-04T09:23:58.799-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB01DE5165FF7B44172E6452E548F3FAADD5C58\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nQue bom ouvir isso! A paixão traz muitos sentimentos positivos. Se houver algo específico sobre a situação em que precisar de ajuda ou orientação, sinta-se à vontade para compartilhar!\"},\"pushName\":\"Você\",\"instanceId\":\"4ae49170-54c1-4f97-b4f5-ddbb91d46dcb\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1762259036},\"id\":\"2920338\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"Muito boa tardi!\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-04T11:24:19.000-03:00\",\"updatedAt\":\"2025-11-04T11:24:23.472-03:00\",\"dataJson\":{\"key\":{\"id\":\"3A85827772BD29B1DD18\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"conversation\":\"Muito boa tardi!\",\"messageContextInfo\":{\"messageSecret\":\"4WqneAi6lsW6Du/RU+WHM9yQwbDk06LVOEkYgAD0xG8=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"z1rnOoVuLl2N9A==\",\"recipientTimestamp\":\"1762262687\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"4ae49170-54c1-4f97-b4f5-ddbb91d46dcb\",\"messageType\":\"conversation\",\"messageTimestamp\":1762266259},\"id\":\"2920343\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nOlá! Como posso ajudar hoje?\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-04T11:24:31.000-03:00\",\"updatedAt\":\"2025-11-04T11:24:36.349-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB0CDA37F983B33E09D596D04EBFBCF78FCD245\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nOlá! Como posso ajudar hoje?\"},\"pushName\":\"Você\",\"instanceId\":\"4ae49170-54c1-4f97-b4f5-ddbb91d46dcb\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1762266271},\"id\":\"2920344\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"Boa tarde cuzao\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-04T11:28:02.000-03:00\",\"updatedAt\":\"2025-11-04T11:28:04.809-03:00\",\"dataJson\":{\"key\":{\"id\":\"3A484203A35EFAC288DC\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"conversation\":\"Boa tarde cuzao\",\"messageContextInfo\":{\"messageSecret\":\"M501HUxJsXoW9h94Lvrt9RwlaNPtJs8OWGfPJSOujno=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"z1rnOoVuLl2N9A==\",\"recipientTimestamp\":\"1762262687\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"4ae49170-54c1-4f97-b4f5-ddbb91d46dcb\",\"messageType\":\"conversation\",\"messageTimestamp\":1762266482},\"id\":\"2920345\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nBoa tarde! Como posso ajudar hoje?\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-04T11:28:15.000-03:00\",\"updatedAt\":\"2025-11-04T11:28:17.591-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB05B632E10D79718F571159EB38F76934707BA\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nBoa tarde! Como posso ajudar hoje?\"},\"pushName\":\"Você\",\"instanceId\":\"4ae49170-54c1-4f97-b4f5-ddbb91d46dcb\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1762266495},\"id\":\"2920346\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"Não sei, me diz vc cuzao\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-04T11:30:53.000-03:00\",\"updatedAt\":\"2025-11-04T11:30:56.192-03:00\",\"dataJson\":{\"key\":{\"id\":\"3ABE8544286C8804AF8C\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"conversation\":\"Não sei, me diz vc cuzao\",\"messageContextInfo\":{\"messageSecret\":\"dHXnRn3vpypsgk5GNZN9GAzR0wgQLEKtVVH+QiN5ilY=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"z1rnOoVuLl2N9A==\",\"recipientTimestamp\":\"1762262687\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"4ae49170-54c1-4f97-b4f5-ddbb91d46dcb\",\"messageType\":\"conversation\",\"messageTimestamp\":1762266653},\"id\":\"2920347\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nNo momento, não tenho informações o suficiente para responder, mas o setor responsável pode ajudar!\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-04T11:31:05.000-03:00\",\"updatedAt\":\"2025-11-04T11:31:07.773-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB030AF0403398A3E3052B1BCC7678130A1DC5E\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nNo momento, não tenho informações o suficiente para responder, mas o setor responsável pode ajudar!\"},\"pushName\":\"Você\",\"instanceId\":\"4ae49170-54c1-4f97-b4f5-ddbb91d46dcb\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1762266665},\"id\":\"2920348\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"???? qq tu ta falando cuzao\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-04T11:31:19.000-03:00\",\"updatedAt\":\"2025-11-04T11:31:20.856-03:00\",\"dataJson\":{\"key\":{\"id\":\"3A2398AE2C43C27B18A0\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"conversation\":\"???? qq tu ta falando cuzao\",\"messageContextInfo\":{\"messageSecret\":\"eqr8sPQMZaovQPGXHlUL9NBZNhr1NIq+HMXYWZXbXQ0=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"z1rnOoVuLl2N9A==\",\"recipientTimestamp\":\"1762262687\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"4ae49170-54c1-4f97-b4f5-ddbb91d46dcb\",\"messageType\":\"conversation\",\"messageTimestamp\":1762266679},\"id\":\"2920349\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nNo momento, não tenho informações o suficiente para responder, mas o setor responsável pode ajudar!\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-04T11:31:30.000-03:00\",\"updatedAt\":\"2025-11-04T11:31:31.950-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB0A234C6C4AAAEFA67C467E3A26E355EB0515D\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nNo momento, não tenho informações o suficiente para responder, mas o setor responsável pode ajudar!\"},\"pushName\":\"Você\",\"instanceId\":\"4ae49170-54c1-4f97-b4f5-ddbb91d46dcb\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1762266690},\"id\":\"2920350\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"Bom dia, tudo certo?\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-05T10:06:48.000-03:00\",\"updatedAt\":\"2025-11-05T10:07:00.645-03:00\",\"dataJson\":{\"key\":{\"id\":\"3AE2C07B81418B07F47F\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"conversation\":\"Bom dia, tudo certo?\",\"messageContextInfo\":{\"messageSecret\":\"ESaIKXyVHeDOSMmvxIT5wOi8TLeb9HO1ZPnzVLBYaEQ=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"DvAziC/7s1a4KA==\",\"recipientTimestamp\":\"1762277158\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"4ae49170-54c1-4f97-b4f5-ddbb91d46dcb\",\"messageType\":\"conversation\",\"messageTimestamp\":1762348008},\"id\":\"2920372\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nBom dia! Tudo tranquilo! Como posso ajudar você hoje?\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-05T10:07:12.000-03:00\",\"updatedAt\":\"2025-11-05T10:07:17.261-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB05B8913F0534A2C55A4CF6B7A30B34C75D33D\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nBom dia! Tudo tranquilo! Como posso ajudar você hoje?\"},\"pushName\":\"Você\",\"instanceId\":\"4ae49170-54c1-4f97-b4f5-ddbb91d46dcb\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1762348032},\"id\":\"2920373\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"Ola, tudo bem?\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-05T10:08:18.000-03:00\",\"updatedAt\":\"2025-11-05T10:08:20.005-03:00\",\"dataJson\":{\"key\":{\"id\":\"3A7BEB0EB8FE5326600E\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"conversation\":\"Ola, tudo bem?\",\"messageContextInfo\":{\"messageSecret\":\"IeH3Qpu1ai+LExWmkdELv2NArljnRrNN4UByT11b4/4=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"DvAziC/7s1a4KA==\",\"recipientTimestamp\":\"1762277158\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"4ae49170-54c1-4f97-b4f5-ddbb91d46dcb\",\"messageType\":\"conversation\",\"messageTimestamp\":1762348098},\"id\":\"2920374\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nOlá! Tudo certo por aqui. Como está a operação da imobiliária? Em que posso ajudar hoje? 😊\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-05T10:08:29.000-03:00\",\"updatedAt\":\"2025-11-05T10:08:32.028-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB0B30E397ADDF298C33AF89139759A88D09944\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nOlá! Tudo certo por aqui. Como está a operação da imobiliária? Em que posso ajudar hoje? 😊\"},\"pushName\":\"Você\",\"instanceId\":\"4ae49170-54c1-4f97-b4f5-ddbb91d46dcb\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1762348109},\"id\":\"2920375\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"\",\"messageType\":\"audio\",\"createdAt\":\"2025-11-05T10:09:41.000-03:00\",\"updatedAt\":\"2025-11-05T10:09:54.974-03:00\",\"dataJson\":{\"key\":{\"id\":\"3A7584EAF2F124E3E54E\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"audioMessage\":{\"ptt\":true,\"url\":\"https://mmg.whatsapp.net/v/t62.7117-24/537260267_802353972637982_3992134041536327126_n.enc?ccb=11-4&oh=01_Q5Aa2wFeH3o6kem_gHhqp8LuoZwNYgHkMn78W-kF-JNWCWaM4w&oe=6932C26F&_nc_sid=5e03e0&mms3=true\",\"seconds\":9,\"mediaKey\":\"/3tvEQ/VuXcrBI5e/SH/ZQdNBg37RMlkF/6yiO796hM=\",\"mimetype\":\"audio/ogg; codecs=opus\",\"waveform\":\"AAIFCggJCFFBPSxOX0hXYldfWVFdZE0uGhUSDAgHChccFzhkZGRbVl5HM0ZKSGRkYE04ZGRkZF4zHBUeFxcWEQ==\",\"directPath\":\"/v/t62.7117-24/537260267_802353972637982_3992134041536327126_n.enc?ccb=11-4&oh=01_Q5Aa2wFeH3o6kem_gHhqp8LuoZwNYgHkMn78W-kF-JNWCWaM4w&oe=6932C26F&_nc_sid=5e03e0\",\"fileLength\":\"20826\",\"fileSha256\":\"CejqHYqfeT4IIOkrWbujc7RJ29sWflotwX6AV6/UcoQ=\",\"fileEncSha256\":\"4gG9tllLIdnk+DO7EkZEVX2lEQGi5V4N0OkBJmrujOQ=\",\"streamingSidecar\":\"/Lj2qXnLXiVTbA==\",\"mediaKeyTimestamp\":\"1762348170\"},\"messageContextInfo\":{\"messageSecret\":\"Oq4lNgNWkElNRoc56tWmzI/O2dXikKc1GU34FXYwu+o=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"DvAziC/7s1a4KA==\",\"recipientTimestamp\":\"1762277158\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"4ae49170-54c1-4f97-b4f5-ddbb91d46dcb\",\"contextInfo\":null,\"messageType\":\"audioMessage\",\"messageTimestamp\":1762348181},\"id\":\"2920376\",\"mediaPath\":\"3A7584EAF2F124E3E54E.mpga\",\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":\"Usuário enviou um áudio com a seguinte transcrição: `Salve, salve, cuzão. Aqui é de quadrilha, tá ligado, mano? Então, eu quero aí... Eu quero aí comprar um sistema, tá ligado, mano?`\\n\\n\",\"file\":{\"id\":\"248653\",\"companyId\":\"10\",\"moduleType\":\"Message\",\"moduleId\":\"2920376\",\"collection\":\"file\",\"bucket\":\"ticket/110928/\",\"name\":\"1debedd5-40d7-4ebd-9c7b-158e4824c3b3.mp3\",\"fileName\":\"3A7584EAF2F124E3E54E\",\"version\":null,\"extension\":\"mpga\",\"mimeType\":\"audio/mpeg\",\"size\":\"230757\",\"createdAt\":\"2025-11-05T10:09:45.101-03:00\",\"updatedAt\":\"2025-11-05T10:09:45.101-03:00\",\"meta\":{}},\"mediaUrl\":\"https://grqgzepwdxag.compat.objectstorage.sa-saopaulo-1.oraclecloud.com/files.apre.chat/000010/ticket/110928/3A7584EAF2F124E3E54E.mpga\",\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nEntendi que há interesse em adquirir um sistema. Para direcionar melhor essa conversa, seria bom entender qual tipo de sistema a operação tem em mente. Pode me contar um pouco mais sobre isso? Isso ajudará a alinhar as soluções oferecidas pela Apresenta.me às necessidades dele.\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-05T10:09:59.000-03:00\",\"updatedAt\":\"2025-11-05T10:10:01.250-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB0E1074122656F242E5B84DD924E5974CA044A\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nEntendi que há interesse em adquirir um sistema. Para direcionar melhor essa conversa, seria bom entender qual tipo de sistema a operação tem em mente. Pode me contar um pouco mais sobre isso? Isso ajudará a alinhar as soluções oferecidas pela Apresenta.me às necessidades dele.\"},\"pushName\":\"Você\",\"instanceId\":\"4ae49170-54c1-4f97-b4f5-ddbb91d46dcb\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1762348199},\"id\":\"2920377\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"Minha brasília amarela\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-05T16:19:37.000-03:00\",\"updatedAt\":\"2025-11-05T16:19:40.350-03:00\",\"dataJson\":{\"key\":{\"id\":\"3A84D660853A68BAF0AD\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"conversation\":\"Minha brasília amarela\",\"messageContextInfo\":{\"messageSecret\":\"9G1zzcZdt+Qa1qEAa5wbUdklISpTEvKWpTebyo7sqeo=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"w/Vh3M0Gp06ubQ==\",\"recipientTimestamp\":\"1762363031\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"4ae49170-54c1-4f97-b4f5-ddbb91d46dcb\",\"messageType\":\"conversation\",\"messageTimestamp\":1762370377},\"id\":\"2920379\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nNão foram encontradas informações específicas sobre \\\"minha Brasília amarela\\\" na base de dados da Apresenta.me.\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-05T16:19:53.000-03:00\",\"updatedAt\":\"2025-11-05T16:19:57.084-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB02B23148A0CF2363304C80257FE0545C1D988\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nNão foram encontradas informações específicas sobre \\\"minha Brasília amarela\\\" na base de dados da Apresenta.me.\"},\"pushName\":\"Você\",\"instanceId\":\"4ae49170-54c1-4f97-b4f5-ddbb91d46dcb\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1762370393},\"id\":\"2920380\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}}]","ticketId":110928},"webhookUrl":"https://n8n.apresenta.me/webhook/7223c6af-f595-4bc2-b84c-602b8900cd08","executionMode":"production"}}]},"versionId":"ee61f3b7-6e57-4997-9781-591c17668f29","triggerCount":1,"shared":[{"createdAt":"2025-11-04T18:47:16.654Z","updatedAt":"2025-11-04T18:47:16.654Z","role":"workflow:owner","workflowId":"dDaZdsSmHxktrhjc","projectId":"4ToGMYJEWvvDSbcz"}],"tags":[]}