14-10-2025 12:00/workflows/❌-report-on-error-1vJAvbZQLlToYBfA.json
{"createdAt":"2025-08-16T14:09:58.529Z","updatedAt":"2025-08-20T19:40:04.000Z","id":"1vJAvbZQLlToYBfA","name":"❌ Report on Error","active":false,"isArchived":false,"nodes":[{"parameters":{"fromEmail":"🤖 n8n <n8n@apresenta.me>","toEmail":"maicon@apresenta.me, joao.rorato@apresenta.me","subject":"=⚠️ Erro no Workflow ~ {{ $('Error Trigger').item.json.workflow.name }}","text":"={{ $json.output }}","options":{}},"id":"18bf2a20-6738-4235-9d7a-d73168170950","name":"Enviar Email","type":"n8n-nodes-base.emailSend","typeVersion":1,"position":[0,0],"credentials":{"smtp":{"id":"aeF6k2hPp8cZPPHg","name":"SMTP account"}}},{"parameters":{"chatId":"=6312464545","text":"=*⚠️ Tivemos um erro no Workflow⚠️*\n\n🤖 Nome do Workflow: {{ $('Error Trigger').item.json.workflow.name }} ({{ $('Error Trigger').item.json.workflow.id }})\n\n❌ Detalhes sobre o node com erro:\nNome: {{ $('Error Trigger').item.json.execution.lastNodeExecuted }}\nTipo: {{ $('Error Trigger').item.json.execution.error.node.type }}\nErro: {{ $('Error Trigger').item.json.execution.error.message }}","additionalFields":{}},"id":"9efbe074-9589-4539-96f0-20745c5c8505","name":"Enviar Telegram","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[0,224],"webhookId":"298428cc-5f7d-4b14-89c4-b1935282d1c2","disabled":true},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-960,112],"id":"a924a895-ef20-4798-a333-6fd429fb3220","name":"Error Trigger"},{"parameters":{"promptType":"define","text":"=Você é um agente de IA especialista em análise de erros em workflows do n8n.\n\nSua tarefa é:\n\n1. Analisar o erro recebido e o contexto do workflow.\n2. Identificar a provável causa do erro.\n3. Sugerir possíveis soluções práticas e diretas, considerando boas práticas do n8n.\n4. Gerar a resposta no seguinte padrão, preenchendo com as informações do erro/contexto:\n\n*⚠️ Tivemos um erro no Workflow⚠️*\n\n🤖 Nome do Workflow: {{ $('Error Trigger').item.json.workflow.name }} ({{ $('Error Trigger').item.json.workflow.id }})\n🔗 Link do fluxo com erro: {{ $('Error Trigger').item.json.execution.url }}\n\n❌ Detalhes sobre o node com erro:\nNome: {{ $('Error Trigger').item.json.execution.lastNodeExecuted }}\nTipo: {{ $('Error Trigger').item.json.execution.error.node.type }}\nErro: {{ $('Error Trigger').item.json.execution.error.message }}\n\n\n💡 Possíveis Soluções  \nListe soluções práticas para este erro, baseando-se na análise do erro acima.\n\nℹ️ Mais informações:  \n{{ $('Error Trigger').item.json.execution.error.stack }}\n\nINSTRUÇÕES IMPORTANTES:\n- Seja objetivo e prático nas sugestões.\n- Caso falte contexto para análise, solicite informações adicionais.\n- Não invente dados além do fornecido no erro/contexto.\n- Responda apenas no padrão acima, preenchendo os campos conforme o erro recebido.\n- Formate a mensagem em formato de mensagem para Telegram, pode usar emojis\n","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-624,80],"id":"b1727f93-9ce6-4db9-98db-6348373e7dd2","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-624,352],"id":"499a5985-b223-4627-b4fe-d44798ac1264","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"weD4ayyAuWgClQqA","name":"OpenAi account"}}}],"connections":{"Error Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Enviar Telegram","type":"main","index":0},{"node":"Enviar Email","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"c753a674-47cc-4dfe-ae23-5fce6871090e","triggerCount":0,"shared":[{"createdAt":"2025-08-16T14:09:58.533Z","updatedAt":"2025-08-16T14:09:58.533Z","role":"workflow:owner","workflowId":"1vJAvbZQLlToYBfA","projectId":"4ToGMYJEWvvDSbcz"}],"tags":[]}