09-11-2025 18:00/workflows/enviar-proposta-comercial-wd0uAb0Sm1fW5YNt.json
{"createdAt":"2025-11-07T20:07:37.699Z","updatedAt":"2025-11-07T20:50:37.000Z","id":"wd0uAb0Sm1fW5YNt","name":"Enviar proposta comercial","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"message"},{"name":"number"},{"name":"addUserName"},{"name":"whatsappId","type":"number"},{"name":"messageRepliedId","type":"number"},{"name":"company","type":"number"}]}},"id":"c055762a-8fe7-4141-a639-df2372f30060","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[272,352]},{"parameters":{"method":"POST","url":"=https://api-chat-joao.apre.tv/api/messages/send","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"={\n    \"accept\": \"application/json, text/plain, */*\",\n    \"accept-language\": \"pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7\",\n    \"authorization\": \"Bearer kZaOTd+YZpjRUyyuQUpigJaEMk4vcW4YOymKPZX0Ts8=\",\n    \"company\": {{ $json.company }},\n    \"content-type\": \"application/json\"\n  } ","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"message","value":"={{ $json.message }}"},{"name":"number","value":"={{ $json.number }}"},{"name":"addUserName","value":"={{ $json.addUserName }}"},{"name":"whatsappId","value":"={{ $json.whatsappId }}"},{"name":"messageRepliedId","value":"={{ $json.messageRepliedId }}"},{"parameterType":"formBinaryData","name":"medias","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[736,352],"id":"d3b3c681-b282-4d1b-802a-9b1534b1b1c3","name":"HTTP Request"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"1pAiweoVv6FSiYwcp0JkcNd7chWkzXDMF","mode":"list","cachedResultName":"Proposta Comercial - Consultores.pdf","cachedResultUrl":"https://drive.google.com/file/d/1pAiweoVv6FSiYwcp0JkcNd7chWkzXDMF/view?usp=drivesdk"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[480,352],"id":"fe9576e3-2fd2-44ce-8957-252ec7b15627","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"rAwAhGC176WFfTt8","name":"Google Drive account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Download file":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"670136e3-4e42-4ebc-8642-f1032c7185a1","triggerCount":0,"shared":[{"createdAt":"2025-11-07T20:07:37.704Z","updatedAt":"2025-11-07T20:07:37.704Z","role":"workflow:owner","workflowId":"wd0uAb0Sm1fW5YNt","projectId":"4ToGMYJEWvvDSbcz"}],"tags":[]}