09-10-2025 12:00/workflows/📊-análise-de-perfomance-de-campanha-YxaBUSS3T4m872sV.json
{"createdAt":"2025-09-22T19:32:48.292Z","updatedAt":"2025-10-09T14:54:58.000Z","id":"YxaBUSS3T4m872sV","name":"📊 Análise de perfomance de campanha","active":true,"isArchived":false,"nodes":[{"parameters":{"jsCode":"return {\n  campaigns: $input.first().json.data.map(d => d.campaign_id)\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[928,144],"id":"256d3e96-fc58-4807-9205-1070b4e934d1","name":"Pega os ids das campanhas com insights"},{"parameters":{"jsCode":"const campaigns = $input.first().json.data\nconst insights = $('Busca insights').first().json.data\n\nfor(const campaign of campaigns) {\n  const campaignInsights = insights.find(i => String(i.campaign_id) === String(campaign.id)) \n  campaign.insights = campaignInsights\n}\n\nreturn {\n  campaigns\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1344,144],"id":"66c75ac7-1019-499f-8023-dd95780189ba","name":"Junta as informações de campanha com insights"},{"parameters":{"graphApiVersion":"v20.0","node":"act_1000490853790213","edge":"insights","options":{"queryParametersJson":"={\n  \"fields\": \"account_id,campaign_id,impressions,spend,clicks,ctr,cpc,cpm,reach,frequency,actions,cost_per_action_type,created_time,date_start,date_stop\",\n  \"date_preset\": \"{{ $json.date_preset }}\",\n  \"level\": \"campaign\",\n  \"time_increment\": \"1\"\n}\n "}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[720,144],"id":"5f75e7da-d787-443c-97a1-672b0e49995c","name":"Busca insights","credentials":{"facebookGraphApi":{"id":"Ex5QxAzJUnZDVBU4","name":"Facebook Graph account"}}},{"parameters":{"graphApiVersion":"v20.0","node":"act_1000490853790213","edge":"campaigns","options":{"queryParametersJson":"={\n  \"filtering\":\n  [\n      {\n          \"field\":\"id\",\n          \"operator\":\"IN\",\n          \"value\":[\"{{ $json.campaigns.join('\", \"') }}\"]\n      }\n  ],\n  \"fields\":\"id,name,status,objective\"\n} "}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[1136,144],"id":"e139d764-0f30-47cd-9a88-597bf4c6151b","name":"Busca campanhas","credentials":{"facebookGraphApi":{"id":"Ex5QxAzJUnZDVBU4","name":"Facebook Graph account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"claude-sonnet-4-20250514","cachedResultName":"Claude 4 Sonnet"},"options":{"maxTokensToSample":10000}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[1792,384],"id":"2ec2a270-2661-4a7b-8e94-a3c8af54f51e","name":"Anthropic Chat Model2","credentials":{"anthropicApi":{"id":"lyfyzPeMl3RhkeP5","name":"Anthropic account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"claude-sonnet-4-20250514","cachedResultName":"Claude 4 Sonnet"},"options":{"maxTokensToSample":20000}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[2352,384],"id":"f35c8243-e7de-42a9-9c23-a096468f1f67","name":"Anthropic Chat Model3","credentials":{"anthropicApi":{"id":"lyfyzPeMl3RhkeP5","name":"Anthropic account"}}},{"parameters":{"promptType":"define","text":"=Você é um especialista em Meta Ads com 10 anos de experiência.\nSempre que receber dados brutos de campanhas através do JSON:\n\nrealize diretamente a análise e retorne o relatório completo.\n{{ JSON.stringify($('Junta as informações de campanha com insights').item.json.campaigns) }}\n\nATENÇÃO, ESTA ANÁLISE REFERE-SE A CAMPANHAS NO PERÍODO {{ $('Formata data').item.json.period_type_translated.toUpperCase() }}\n------------------------------------------------------------\n1. Cálculos obrigatórios\n------------------------------------------------------------\n- CTR_link = cliques_link / imp (0 se imp=0)\n- CPC_link = gasto / cliques_link (∞/“—” se cliques_link=0)\n- Click→Lead = leads / cliques_link (0 se cliques_link=0)\n- CPL = gasto / leads (∞/“—” se leads=0)\n\nDeltas (atual vs. anterior):\n- Δ absoluto = valor_atual - valor_anterior\n- Δ % = (valor_atual - valor_anterior) / max(ε, |valor_anterior|), ε=1e-9\n\nClassificação das variações (%):\n- ✅ Melhorou: custo ↓ ≥10% ou eficiência ↑ ≥10%\n- ⚖️ Estável: entre -10% e +10%\n- ❌ Piorou: custo ↑ ≥10% ou eficiência ↓ ≥10%\n\n------------------------------------------------------------\n2. Qualidade da amostra\n------------------------------------------------------------\nConsiderar “conclusivo” apenas se:\n- imp_atual ≥ 1000 ou\n- cliques_link_atual ≥ 30 ou\n- gasto_atual ≥ 100\n\nCaso contrário, marque como “amostra baixa” e trate recomendações como exploratórias.\n\n------------------------------------------------------------\n3. Comparar com metas\n------------------------------------------------------------\nMetas de performance:\n- 🎯 CPM alvo = R$35,00\n- 🎯 CTR alvo = 0,50%\n- 🎯 Click→Lead alvo = 5%\n- 🎯 CPL alvo = R$110,00\n\nClassifique cada métrica como:\n- ⬇️ Abaixo da meta\n- 🟢 Dentro da meta\n- ⬆️ Acima da meta\n\nMostre valor atual, meta e desvio (valor + %).\n\n------------------------------------------------------------\n4. Identificar causas prováveis (gargalos do funil)\n------------------------------------------------------------\nUse como guia:\n- 📈 CPM alto → público pequeno, frequência alta\n- 🖼 CTR baixo → criativo fraco (gancho, copy, visual, áudio)\n- 📝 Click→Lead baixo → formulário com fricção (campos excessivos)\n- 💸 CPL alto → reflexo de gargalos anteriores (CPM, CTR ou Click→Lead)\n\n------------------------------------------------------------\n5. Recomendações práticas\n------------------------------------------------------------\nPara cada gargalo identificado, sugira:\n- 🖌 Criativo → novos ganchos, copy, visual, áudio\n- 🎯 Segmentação → expandir público, excluir faixas ruins\n- 📋 Landing/Formulário → reduzir atrito, revisar campos obrigatórios\n- 💰 Orçamento/Lances → redistribuir verba entre conjuntos melhores\n- ⚡ Testes A/B → validar hipóteses rapidamente\n\n------------------------------------------------------------\n6. Estrutura final da análise (saída)\n------------------------------------------------------------\nO relatório deve ser entregue em TEXTO, dividido em seções com emojis, no seguinte formato:\n\n- 📊 **Resumo Executivo** → visão geral em 2–3 frases\n- 📌 **Desvios Identificados** → tabela/lista com metas vs resultados\n- 🔎 **Análise dos Nós do Funil** → explicação dos gargalos encontrados\n- 💡 **Sugestões de Otimização** → recomendações práticas e acionáveis\n- 🗒 **Observações** → limitações de amostra, mudanças de budget, sazonalidade, etc.\n\n------------------------------------------------------------\n7. Análise comparativa com as últimas 4 análises feitas no período\n------------------------------------------------------------\nBaseando-se nas informações da análise que você fez anteriormente, você deve agora comparar os dados obtidos da análise atual com os dados das últimas 4 campanhas no mesmo período.\nRealize diretamente a análise de comparação e retorne o relatório completo, logo após","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1776,144],"id":"0865f557-5415-4059-876a-e86a5a28aff3","name":"AI - Criar relatório"},{"parameters":{"promptType":"define","text":"=Sua missao é gerar um HTML com base nas informacoes do json {{ $json.output }} que contem as informações tecnicas do relatório. Seu HTML output deve seguir sempre a mesma estrutura de layout seguindo o template abaixo, adaptando apenas a inclusao das informações com base no json passado anteriormente.\n\nTemplate:\n\n<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Relatório de Performance - Meta Ads</title>\n</head>\n<body style=\"margin:0; padding:0; font-family:Arial, sans-serif; background-color:#f5f5f5;\">\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background-color:#f5f5f5; padding: 20px 0;\">\n    <tr>\n      <td align=\"center\">\n        <table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background-color:#ffffff; border-radius:10px; padding:30px;\">\n          <tr>\n            <td align=\"center\" style=\"padding-bottom:20px;\">\n              <h1 style=\"color:#1a1a1a; font-size:24px; margin:0;\">📊 Relatório de Performance</h1>\n              <p style=\"color:#666666; font-size:14px; margin:5px 0 0;\">Meta Ads • Análise Detalhada de Campanhas</p>\n            </td>\n          </tr>\n\n          <!-- Resumo Executivo -->\n          <tr>\n            <td style=\"padding:20px 0; border-top:1px solid #eaeaea;\">\n              <h2 style=\"font-size:18px; color:#1a1a1a; margin-bottom:10px;\">Resumo Executivo</h2>\n              <p style=\"font-size:14px; color:#444444; line-height:1.6;\">\n                A campanha apresenta <strong>performance mista</strong> com pontos positivos e críticos. O CTR está quase <strong>2x acima da meta</strong>, porém o CPM elevado e a baixa conversão Click → Lead estão impactando significativamente o CPL final, que ficou <strong>20% abaixo da meta</strong> estabelecida.\n              </p>\n            </td>\n          </tr>\n\n          <!-- Métricas Principais -->\n          <tr>\n            <td style=\"padding:20px 0;\">\n              <table width=\"100%\" cellpadding=\"10\" cellspacing=\"0\" border=\"0\" style=\"background-color:#fafafa; border-radius:8px;\">\n                <tr>\n                  <td>\n                    <strong>CPM:</strong><br>\n                    <span style=\"font-size:20px; color:#1a1a1a;\">R$ 44,47</span><br>\n                    <span style=\"color:#666;\">Meta: R$ 50,00</span><br>\n                    <span style=\"color:#dc2626;\">-R$ 5,53 (-11,06%)</span>\n                  </td>\n                  <td>\n                    <strong>CTR:</strong><br>\n                    <span style=\"font-size:20px; color:#1a1a1a;\">0,97%</span><br>\n                    <span style=\"color:#666;\">Meta: 0,50%</span><br>\n                    <span style=\"color:#166534;\">+0,47% (+94%)</span>\n                  </td>\n                </tr>\n                <tr>\n                  <td>\n                    <strong>Click → Lead:</strong><br>\n                    <span style=\"font-size:20px; color:#1a1a1a;\">5,78%</span><br>\n                    <span style=\"color:#666;\">Meta: 10,00%</span><br>\n                    <span style=\"color:#dc2626;\">-4,22% (-42,2%)</span>\n                  </td>\n                  <td>\n                    <strong>CPL:</strong><br>\n                    <span style=\"font-size:20px; color:#1a1a1a;\">R$ 79,61</span><br>\n                    <span style=\"color:#666;\">Meta: R$ 100,00</span><br>\n                    <span style=\"color:#166534;\">-R$ 20,39 (-20,39%)</span>\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n\n          <!-- Pontos Fortes -->\n          <tr>\n            <td style=\"padding:20px 0;\">\n              <h2 style=\"font-size:18px; color:#1a1a1a;\">✅ Pontos Fortes</h2>\n              <ul style=\"color:#444; font-size:14px; padding-left:20px;\">\n                <li><strong>CTR excepcional (0,97%)</strong>: Os criativos estão muito atrativos</li>\n                <li><strong>CPM controlado</strong>: Boa escolha de público</li>\n              </ul>\n            </td>\n          </tr>\n\n          <!-- Gargalos -->\n          <tr>\n            <td style=\"padding:20px 0;\">\n              <h2 style=\"font-size:18px; color:#1a1a1a;\">⚠️ Gargalo Principal</h2>\n              <p style=\"font-size:14px; color:#444;\">\n                Conversão Click → Lead (5,78%) está abaixo da meta.<br>\n                <strong>Causa provável:</strong> Excesso de fricção no formulário de captura.\n              </p>\n              <ul style=\"color:#444; font-size:14px; padding-left:20px;\">\n                <li>Campos demais</li>\n                <li>Formulário mal posicionado</li>\n                <li>Falta de prova social</li>\n              </ul>\n            </td>\n          </tr>\n\n          <!-- Sugestões -->\n          <tr>\n            <td style=\"padding:20px 0;\">\n              <h2 style=\"font-size:18px; color:#1a1a1a;\">💡 Sugestões de Otimização</h2>\n\n              <p style=\"font-size:14px; color:#1a1a1a; margin:10px 0;\"><strong>🟥 Alta Prioridade – Otimização do Formulário:</strong></p>\n              <ul style=\"color:#444; font-size:14px; padding-left:20px;\">\n                <li>Reduzir campos (Nome, WhatsApp, E-mail)</li>\n                <li>Formulário em etapas</li>\n                <li>Prova social próxima ao formulário</li>\n                <li>Posicionar \"acima da dobra\"</li>\n              </ul>\n\n              <p style=\"font-size:14px; color:#1a1a1a; margin:10px 0;\"><strong>🟥 Alta Prioridade – Landing Page:</strong></p>\n              <ul style=\"color:#444; font-size:14px; padding-left:20px;\">\n                <li>A/B test com versão simplificada</li>\n                <li>Copy alinhada ao anúncio</li>\n                <li>Senso de urgência e escassez</li>\n              </ul>\n\n              <p style=\"font-size:14px; color:#1a1a1a; margin:10px 0;\"><strong>🟨 Média Prioridade – Escalonamento Inteligente:</strong></p>\n              <ul style=\"color:#444; font-size:14px; padding-left:20px;\">\n                <li>Aumentar orçamento gradualmente</li>\n                <li>Duplicar conjuntos de alta performance</li>\n              </ul>\n\n              <p style=\"font-size:14px; color:#1a1a1a; margin:10px 0;\"><strong>🟨 Média Prioridade – Testes Contínuos:</strong></p>\n              <ul style=\"color:#444; font-size:14px; padding-left:20px;\">\n                <li>Manter rotação de criativos</li>\n                <li>Testar novos públicos semelhantes</li>\n              </ul>\n            </td>\n          </tr>\n\n          <!-- Footer -->\n          <tr>\n            <td style=\"padding-top:20px; border-top:1px solid #eaeaea; text-align:center;\">\n              <p style=\"font-size:14px; color:#1a1a1a;\"><strong>🎯 Meta Imediata:</strong> Aumentar a taxa de conversão Click → Lead de 5,78% para 8% nas próximas 2 semanas.</p>\n            </td>\n          </tr>\n        </table>\n      </td>\n    </tr>\n  </table>\n</body>\n</html>\n\n\n\nEste html será utilizado em um email, e por isso você deve devolver apenas o HTML, 100% funcional e organizado. Em sua entrega final (output), nunca inclua \"```json\\n{\\n \"html\": \"\"ou algo do tipo. Apenas o HTML funcional.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[2336,144],"id":"870f752b-429a-4e82-ab39-6a0a3d7ea097","name":"AI - Criar HTML"},{"parameters":{"rule":{"interval":[{"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"57bfc528-d0b3-4768-8516-d979e1755d9f","name":"Cron diário"},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,256],"id":"6cc7cf43-0347-412c-a6ff-eb3c28a47b21","name":"Cron semanal"},{"parameters":{"jsCode":"return $input.first().json"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[512,144],"id":"7448544c-646f-49c9-848d-484a7f7152dc","name":"Formata data"},{"parameters":{"fromEmail":"Apresenta.me <no-reply@apresenta.me>","toEmail":"joao.rorato@apresenta.me, maicon@apresenta.me,\tguilherme.lindner@apresenta.me, erickmacielmazanti@gmail.com","subject":"=📊 Análise de Campanhas | {{ $('Formata data').item.json.text }}","html":"={{ $json.output }}","options":{"appendAttribution":false,"ccEmail":"="}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[2704,144],"id":"c6cf8a0f-1ead-4526-a1d8-3b5130198677","name":"Envia e-mail","webhookId":"b8842732-9025-4c04-924e-06cfbb051a19","notesInFlow":false,"credentials":{"smtp":{"id":"aeF6k2hPp8cZPPHg","name":"SMTP account"}},"disabled":true},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"campaign_analysis","mode":"list","cachedResultName":"campaign_analysis"},"columns":{"mappingMode":"defineBelow","value":{"analysis":"={{ $json.output }}","period_type":"={{ $('Formata data').item.json.period_type }}","ads_name":"Meta"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"analysis","displayName":"analysis","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ads_name","displayName":"ads_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"period_type","displayName":"period_type","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2112,144],"id":"1b3cab44-b3f8-4f37-aae3-a43bd1071134","name":"Insert rows in a table","credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}}},{"parameters":{"jsCode":"const period_type_translated = 'Diário'\nreturn {\n  date_preset: \"yesterday\",\n  period_type: \"daily\",\n  period_type_translated,\n  text: (() => {\n    const d = new Date();\n    d.setDate(d.getDate() - 1);\n    const fmt = x => `${String(x.getDate()).padStart(2,'0')}/${String(x.getMonth()+1).padStart(2,'0')}/${x.getFullYear()}`;\n    return `${period_type_translated} - ${fmt(d)}`;\n  })()\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,0],"id":"007c7728-06c3-4dc4-b162-580fd4cb64a4","name":"Normaliza dados diários"},{"parameters":{"jsCode":"const period_type_translated = 'Semanal'\nreturn {\n  date_preset: \"last_7d\",\n  period_type: \"weekly\",\n  period_type_translated,\n  text: (() => {\n    const end = new Date();\n    const start = new Date();\n    start.setDate(end.getDate() - 7);\n    const fmt = d => `${String(d.getDate()).padStart(2,'0')}/${String(d.getMonth()+1).padStart(2,'0')}/${d.getFullYear()}`;\n    return `${period_type_translated} - ${fmt(start)} até ${fmt(end)}`;\n  })()\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,256],"id":"0c6cb640-c04e-454a-85ca-9c8383944649","name":"Normaliza dados semanais"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"campaign_analysis","mode":"list","cachedResultName":"campaign_analysis"},"limit":4,"where":{"values":[{"column":"period_type","value":"={{ $('Formata data').item.json.period_type }}"}]},"sort":{"values":[{"column":"id","direction":"DESC"}]},"options":{"outputColumns":["created_at","period_type","analysis"]}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1552,144],"id":"588ee16e-55c7-4e4e-921e-58836896c438","name":"Select rows from a table","credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}}}],"connections":{"Pega os ids das campanhas com insights":{"main":[[{"node":"Busca campanhas","type":"main","index":0}]]},"Busca insights":{"main":[[{"node":"Pega os ids das campanhas com insights","type":"main","index":0}]]},"Busca campanhas":{"main":[[{"node":"Junta as informações de campanha com insights","type":"main","index":0}]]},"Anthropic Chat Model2":{"ai_languageModel":[[{"node":"AI - Criar relatório","type":"ai_languageModel","index":0}]]},"Junta as informações de campanha com insights":{"main":[[{"node":"Select rows from a table","type":"main","index":0}]]},"Anthropic Chat Model3":{"ai_languageModel":[[{"node":"AI - Criar HTML","type":"ai_languageModel","index":0}]]},"AI - Criar relatório":{"main":[[{"node":"Insert rows in a table","type":"main","index":0}]]},"AI - Criar HTML":{"main":[[{"node":"Envia e-mail","type":"main","index":0}]]},"Cron diário":{"main":[[{"node":"Normaliza dados diários","type":"main","index":0}]]},"Cron semanal":{"main":[[{"node":"Normaliza dados semanais","type":"main","index":0}]]},"Formata data":{"main":[[{"node":"Busca insights","type":"main","index":0}]]},"Insert rows in a table":{"main":[[{"node":"AI - Criar HTML","type":"main","index":0}]]},"Normaliza dados diários":{"main":[[{"node":"Formata data","type":"main","index":0}]]},"Normaliza dados semanais":{"main":[[{"node":"Formata data","type":"main","index":0}]]},"Select rows from a table":{"main":[[{"node":"AI - Criar relatório","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Cron diário":{"recurrenceRules":[]},"node:Cron semanal":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"41377dc1-ec83-4fc3-a2cc-1144c16647c8","triggerCount":2,"shared":[{"createdAt":"2025-09-22T19:32:48.296Z","updatedAt":"2025-09-22T19:32:48.296Z","role":"workflow:owner","workflowId":"YxaBUSS3T4m872sV","projectId":"4ToGMYJEWvvDSbcz"}],"tags":[]}