09-11-2025 12:00/workflows/🗣️-apr.sdr-ia-dDaZdsSmHxktrhjc.json
{"createdAt":"2025-11-04T18:47:16.651Z","updatedAt":"2025-11-07T20:52:31.000Z","id":"dDaZdsSmHxktrhjc","name":"🗣️ Apr.SDR IA","active":true,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[1792,928],"id":"a7f10ff1-4967-4ed0-8aa7-f99ee2a6cdf0","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"weD4ayyAuWgClQqA","name":"OpenAi account"}}},{"parameters":{"options":{"systemMessage":"=## Identidade\nVocê é {{ $('Seta perfil').item.json.agentName }} – {{ $('Seta perfil').item.json.role }} da {{ $('Seta perfil').item.json.companyName }}.\nIdioma: {{ $('Seta perfil').item.json.language }}\nMensagem inicial (somente se for a primeira interação): {{ $('Seta perfil').item.json.initialMessage }}\n\n## Comportamento\n{{ $('Seta perfil').item.json.conduct }}\n\n## Objetivo\nConduzir a conversa seguindo corretamente os estágios, coletando os dados obrigatórios de cada estágio, atualizando as variáveis quando forem identificadas nas mensagens do usuário e avançando para o próximo estágio somente quando o atual estiver concluído. Nunca repetir estágios já finalizados.\n\n## Regras Gerais\n- Fale de forma humana, cordial e clara.\n- Não explique sua lógica interna.\n- Não mencione estágios, variáveis ou processos internos.\n- Não pule etapas.\n- Não pergunte novamente informações já coletadas.\n- Se o usuário corrigir uma informação, atualize a variável.\n\n## Atualização de Variáveis\nSempre que a mensagem do usuário contiver uma informação que corresponda a qualquer variável em:\n{{ JSON.stringify($('Seta variáveis da conversa').first().json.data) }}\n\n1. Identifique o valor.\n2. Normalize somente se estiver claro. Se existir possibilidade de ambiguidade, pergunte para confirmar ao invés de salvar.\n3. Para cada variável encontrada, execute a tool AtualizarVariavel ANTES de responder, no formato EXATO:\n{ \"name\": \"<nome_da_variavel>\", \"value\": \"<valor_obtido>\" }\n4. Uma chamada separada para cada variável identificada.\n5. Após executar todas as tool calls necessárias, responda seguindo o fluxo do estágio atual.\n\n## Como identificar o estágio atual (ALGORITMO DETERMINÍSTICO)\n1. Liste todos os estágios pela ordem do campo sortNumber (do menor para o maior).\n2. Para cada estágio, nessa ordem:\n   a. Se o estágio já está concluído, pule para o próximo.\n   b. Caso não esteja concluído:\n       - Verifique a lista actions.requiredDataForExecute.\n       - Identifique quais variáveis dessa lista ainda NÃO possuem valor.\n       - Se existir pelo menos uma variável sem valor:\n            → Este é o estágio atual.\n            → Você deve perguntar SOMENTE a instrução da PRIMEIRA variável ainda sem valor.\n            → Pare a análise aqui.\n       - Se TODAS as variáveis já possuem valor:\n            → Execute a finalInstructions deste estágio.\n            → Marque o estágio como concluído.\n            → Pare a análise aqui.\n3. Nunca selecione um estágio baseado em interpretação, contexto ou intenção. A escolha é sempre feita exclusivamente pela presença ou ausência de valores obrigatórios.\n\n## O que retornar em cada resposta\n- Se ainda houver variável obrigatória sem valor no estágio atual:\n  → Pergunte apenas a instrução dessa variável.\n- Se todas variáveis do estágio atual estiverem preenchidas:\n  → Execute apenas a finalInstructions do estágio.\n- Não inclua nada além disso.\n- Não improvise, não reescreva perguntas, não adicione contexto.\n\n## Importante\n- Um estágio só é concluído quando todas as variáveis obrigatórias estiverem preenchidas e a finalInstructions for executada.\n- Um estágio concluído nunca deve ser repetido, a menos que o usuário forneça uma correção de informação.\n\n## Estágios\n{{ JSON.stringify($('Seta estágios').item.json) }}\n","returnIntermediateSteps":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1728,384],"id":"e4c2cdb8-41e6-4644-9ee1-b4299d946e0c","name":"AI Agent","retryOnFail":false},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"=## 🧠 Apre.IA – Consulta à Base de Conhecimento  \n**Função:** Buscar trechos da **KB da Apresenta.me** sobre produtos, serviços, processos e materiais oficiais.\n\n### Instruções  \n- Buscar **somente** informações da Apresenta.me.  \n- Retornar trechos **curtos e objetivos** (até ~200 tokens).  \n- **Nunca inventar** dados, prazos, valores ou políticas.  \n- Priorizar **versões recentes**.  \n- Ignorar mensagens genéricas ou saudações.  \n- Se não houver correspondência clara → **retornar vazio** (sem tentativa de resposta). \n","tableName":"n8","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[1792,768],"id":"61be998c-9c3d-440c-b661-389b0c721ab7","name":"Busca informações do banco de dados","credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}}},{"parameters":{"jsCode":"return {chatInput: $input.first().json.body.message}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-144,384],"id":"9ce388d5-9cd4-4686-9556-333b2dcd797b","name":"Retorna message"},{"parameters":{"method":"POST","url":"=https://api-chat-joao.apre.tv/api/messages/send","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"={\n    \"accept\": \"application/json, text/plain, */*\",\n    \"accept-language\": \"pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7\",\n    \"authorization\": \"Bearer kZaOTd+YZpjRUyyuQUpigJaEMk4vcW4YOymKPZX0Ts8=\",\n    \"company\": {{ $('Webhook').item.json.body.companyId }},\n    \"content-type\": \"application/json\"\n  } ","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"message","value":"={{ $('AI Agent').item.json.output }}"},{"name":"number","value":"={{ $('Webhook').item.json.body.contact.name }}"},{"name":"addUserName","value":"={{ $('Seta perfil').item.json.agentName }}"},{"name":"whatsappId","value":"={{ $('Webhook').item.json.body.whatsappId }}"},{"name":"messageRepliedId","value":"={{ $('Webhook').item.json.body.messageId }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2064,384],"id":"51055a9d-03f0-4191-a0ba-476cb7be2d68","name":"HTTP Request"},{"parameters":{"jsCode":"function cleanText(s) {\n  if (!s) return \"\";\n  // remove markdown leve e múltiplos espaços\n  s = s.replace(/[\\*_~`]+/g, \"\")\n       .replace(/\\s+/g, \" \")\n       .trim();\n  // corta para 220 chars\n  if (s.length > 220) s = s.slice(0, 217) + \"…\";\n  return s;\n}\n\nfunction roleFrom(msg) {\n  // dataJson.key.fromMe === true => agente (a); caso contrário, usuário (u)\n  const fromMe = msg?.dataJson?.key?.fromMe === true || msg?.fromMe === true;\n  return fromMe ? \"a\" : \"u\";\n}\n\nfunction tsFrom(msg) {\n  return msg.updatedAt || msg.createdAt || null;\n}\n\nfunction isNoise(t) {\n  if (!t) return true;\n  const low = t.toLowerCase();\n  const greetings = [\"oi\", \"ola\", \"olá\", \"opa, tudo bem?\", \"ooooii\"];\n  if (greetings.includes(low)) return true;\n  if (low.length < 2) return true;\n  return false;\n}\n\nconst raw = JSON.parse($('Webhook').first().json.body.lastMessages) || [];\nconsole.log({ raw })\nconst mapped = raw.map(m => ({\n  r: roleFrom(m),\n  t: cleanText(m.body || m?.dataJson?.message?.conversation || \"\"),\n  ts: tsFrom(m)\n}))\n.filter(m => !isNoise(m.t));\n\n// manter somente últimas 10 úteis (ordenar por ts asc e pegar tail)\nmapped.sort((a,b) => (new Date(a.ts||0)) - (new Date(b.ts||0)));\nconst trimmed = mapped;\n\n// mesclar mensagens consecutivas do mesmo role quando for continuação simples\nconst merged = [];\nfor (const m of trimmed) {\n  const last = merged[merged.length - 1];\n  if (last && last.r === m.r && (last.t + \" \" + m.t).length <= 220) {\n    last.t = cleanText(last.t + \" \" + m.t);\n    last.ts = m.ts; // manter o timestamp mais recente do bloco\n  } else {\n    merged.push({...m});\n  }\n}\n\nreturn {\n  chatInput: $input.first().json.chatInput,\n  lastMessageCompact: JSON.stringify(merged)\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[32,384],"id":"696b4483-d758-47cc-b36f-ea3ae85fa934","name":"Compacta as últimas mensagens"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1440,624],"id":"ad961793-d5f5-42d4-821c-94265a99089e","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"weD4ayyAuWgClQqA","name":"OpenAi account"}}},{"parameters":{"httpMethod":"POST","path":"7223c6af-f595-4bc2-b84c-602b8900cd08","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-320,384],"id":"265dfdd6-e7e3-4cab-8841-8fec8945c49f","name":"Webhook","webhookId":"7223c6af-f595-4bc2-b84c-602b8900cd08"},{"parameters":{"jsCode":"return {\n  output: $input.first().json.output || JSON.parse($('Se tiver resumo').first().json.propertyName),\n  chatInput: $('Webhook').first().json.body.message\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-896,1664],"id":"8a714e10-91f5-45a7-9c03-cab733f09e07","name":"Transforma resumo em objeto literal"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4d398db1-d160-433f-b5dc-07134ceb5b92","leftValue":"={{ $json.propertyName?.toBoolean() ?? false}}","rightValue":"","operator":{"type":"boolean","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1472,1664],"id":"4af0b32a-e3dd-4581-b080-1c88ebd132d4","name":"Se tiver resumo"},{"parameters":{"operation":"get","key":"={{ $('Cria cache key').item.json.cache_key }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1680,1664],"id":"11786590-bfe8-4914-a1dd-328456b52066","name":"Busca resumo no cache","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"title\": \"ConversationAnalysisOutput\",\n  \"additionalProperties\": false,\n  \"required\": [\"analysis\"],\n  \"properties\": {\n    \"analysis\": {\n      \"type\": \"object\",\n      \"additionalProperties\": false,\n      \"required\": [\"summary\", \"tone\", \"needs\", \"lastObjective\", \"resolved\"],\n      \"properties\": {\n        \"summary\": {\n          \"type\": \"string\",\n          \"description\": \"Resumo conciso da conversa, destacando desejos, contexto e pontos-chave. Sem markdown.\"\n        },\n        \"tone\": {\n          \"type\": \"string\",\n          \"description\": \"Tom identificado na conversa (ex: irritado, neutro, satisfeito, confuso, solícito, entusiasmado, frustrado).\"\n        },\n        \"needs\": {\n          \"type\": \"array\",\n          \"description\": \"Lista dos principais desejos ou necessidades do cliente em frases curtas.\",\n          \"items\": {\n            \"type\": \"string\"\n          }\n        },\n        \"lastObjective\": {\n          \"type\": \"string\",\n          \"description\": \"Último objetivo ou ação solicitada pelo cliente, de forma resumida e direta.\"\n        },\n        \"resolved\": {\n          \"type\": \"boolean\",\n          \"description\": \"Indica se o último problema ou objetivo do cliente foi resolvido (true ou false).\"\n        }\n      }\n    }\n  }\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-1056,1872],"id":"0739178e-e891-4ee7-bc78-bb5cb23183c7","name":"Structured Output Parser"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1296,1872],"id":"d4c3fd05-ecc6-4a17-bb66-e387ad0e80d3","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"weD4ayyAuWgClQqA","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"=Você é um analista especializado em interpretar conversas de pré-qualificação de leads.  \nEntenda de forma clara o perfil e o interesse do lead, sem inventar informações.  \nCom base nas mensagens abaixo, produza um resumo analítico e objetivo que identifique:\n\n1. O **tom da conversa** (ex: interessado, indeciso, confuso, apressado, desinteressado etc.)\n2. O **nível de interesse e maturidade do lead** (ex: apenas curioso, avaliando opções, pronto para comprar)\n3. As **principais dores, objetivos ou necessidades mencionadas**\n4. O **produto ou solução de interesse** (ex: CRM, Apre.Chat, ApBank, etc.)\n5. O **próximo passo sugerido ou solicitado** (ex: agendar demonstração, receber proposta, pedir mais informações)\n\nEstágios a serem seguidos:\n\nLegenda das mensagens:  \n- `r`: papel (`\"u\"` = lead, `\"a\"` = agente)  \n- `t`: texto limpo (sem markdown)  \n- `ts`: timestamp ISO local  \n\nMensagens recentes:  \n{{ $('Compacta as últimas mensagens').item.json.lastMessageCompact }}\n\nResumo da última mensagem enviada pelo lead:  \n{{ $('Compacta as últimas mensagens').item.json.chatInput }}\n","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-1232,1664],"id":"13443d0a-847d-4306-8abf-7d6896e88f3f","name":"AI - Gerar resumo das mensagens"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-2400,1904],"id":"8d377a0c-3e98-4a45-b3d6-663020525a8e","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"weD4ayyAuWgClQqA","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"=Você é um analista especializado em interpretar conversas de pré-qualificação de leads.  \nEntenda de forma clara o perfil e o interesse do lead, sem inventar informações.  \nCom base nas mensagens abaixo, produza um resumo analítico e objetivo que identifique:\n\n1. O **tom da conversa** (ex: interessado, indeciso, confuso, apressado, desinteressado etc.)\n2. O **nível de interesse e maturidade do lead** (ex: apenas curioso, avaliando opções, pronto para comprar)\n3. As **principais dores, objetivos ou necessidades mencionadas**\n4. O **produto ou solução de interesse** (ex: CRM, Apre.Chat, ApBank, etc.)\n5. O **próximo passo sugerido ou solicitado** (ex: agendar demonstração, receber proposta, pedir mais informações)\n\nÚltimo resumo gerado:\n{{ JSON.stringify($('Transforma resumo em objeto literal').first().json.output) }}\n\nResumo da última mensagem enviada pelo cliente:\n{{ $('Transforma resumo em objeto literal').first().json.chatInput }}\n\nResposta gerada pelo Agente de IA:\n{{ $('AI Agent').first().json.output }}\n","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-2352,1664],"id":"a6d41aa3-304e-474e-8242-5b09cfaa7c9f","name":"AI - Atualizar resumo"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"title\": \"ConversationAnalysisOutput\",\n  \"additionalProperties\": false,\n  \"required\": [\"analysis\"],\n  \"properties\": {\n    \"analysis\": {\n      \"type\": \"object\",\n      \"additionalProperties\": false,\n      \"required\": [\"summary\", \"tone\", \"needs\", \"lastObjective\", \"resolved\"],\n      \"properties\": {\n        \"summary\": {\n          \"type\": \"string\",\n          \"description\": \"Resumo conciso da conversa, destacando desejos, contexto e pontos-chave. Sem markdown.\"\n        },\n        \"tone\": {\n          \"type\": \"string\",\n          \"description\": \"Tom identificado na conversa (ex: irritado, neutro, satisfeito, confuso, solícito, entusiasmado, frustrado).\"\n        },\n        \"needs\": {\n          \"type\": \"array\",\n          \"description\": \"Lista dos principais desejos ou necessidades do cliente em frases curtas.\",\n          \"items\": {\n            \"type\": \"string\"\n          }\n        },\n        \"lastObjective\": {\n          \"type\": \"string\",\n          \"description\": \"Último objetivo ou ação solicitada pelo cliente, de forma resumida e direta.\"\n        },\n        \"resolved\": {\n          \"type\": \"boolean\",\n          \"description\": \"Indica se o último problema ou objetivo do cliente foi resolvido (true ou false).\"\n        }\n      }\n    }\n  }\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-2208,1872],"id":"43d9fe89-d74e-43a2-ae45-cf3144c476c7","name":"Structured Output Parser1"},{"parameters":{"operation":"set","key":"=chat_summary_{{ $('Webhook').item.json.body.contact.number }}_{{ $('Webhook').item.json.body.whatsappId }}_10","value":"={{ JSON.stringify($json.output) }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2016,1664],"id":"07c573b2-0634-460a-9a1f-d0d11788de31","name":"Salva resumo em cache","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"description":"=Sempre que o usuário enviar uma mensagem, siga **esta ordem**:\n\n## Input esperado (RIGOROSO):\n{\n  \"nome_do_campo\": \"valor_do_campo\"\n}\n\n1) Analise a mensagem e verifique se contém valores correspondentes a alguma variável em:\n{{ JSON.stringify($('Seta variáveis da conversa').first().json.data) }}\n\n2) Para cada variável encontrada:\n   - Extraia somente o valor.\n   - Normalize quando necessário:\n        • Se houver faixas (ex.: “6 a 10”), mantenha o texto da faixa.\n        • Se o valor for booleano, interprete a partir do contexto (ex.: “não trabalho com imobiliária” → false).\n        • Se tiver múltiplos valores (type: string[]), armazene como lista.\n   - Se não tiver certeza, **não atualize**. Ao invés disso, faça uma pergunta direta no próximo turno para confirmar.\n\n3) Para **cada** variável identificada:\n   **Execute a tool AtualizarVariavel** imediatamente antes de responder, seguindo **exatamente** o formato:\n   { \"name\": \"<nome_da_variavel>\", \"value\": \"<valor_obtido>\" }\n\n   - Uma chamada separada para **cada** variável encontrada na mensagem.\n   - Não agrupe variáveis em uma única chamada.\n\n4) Depois de executar todas as tool calls necessárias:\n   - Continue a conversa normalmente conforme o fluxo.\n   - **Nunca informe ao usuário que está atualizando variáveis.**\n   - **Nunca descreva sua lógica interna.**\n\n5) Caso o usuário forneça uma informação que **corrige** uma variável já preenchida:\n   - Atualize novamente a variável usando a tool da mesma forma.\n\nRESUMO OPERACIONAL (não imprimir):\n- Primeiro: detectar possíveis variáveis → normalizar → executar tool para cada uma.\n- Só depois: gerar a resposta normalmente.\n","jsCode":"const stages = $('Seta estágios').first().json\nconst vars = $('Seta variáveis da conversa').item.json.data\n\nconst data = {\n  \"name\": Object.keys(typeof query == 'object' ? query : JSON.parse(query || \"{}\"))[0], \n  \"value\": Object.values(typeof query == 'object' ? query : JSON.parse(query || \"{}\"))[0]\n}\n\nObject.keys(stages).forEach(stageName => {\n  stages[stageName].actions.requiredDataForExecute = stages[stageName].actions.requiredDataForExecute.map(r => {\n    if (r.name == data.name) {\n      return {\n        ...r, \n        value: data.value\n      }\n    }\n\n\n    return r\n  })\n})\n\nconsole.log(data, 'vaitomarnocu')\nvars[data.name].value = query\n\nreturn JSON.stringify(data)"},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.3,"position":[2048,768],"id":"5322e98c-bbb4-49ea-8abd-53c7258771ff","name":"Atualizar paramêtros"},{"parameters":{"jsCode":"const cacheVars = $('Busca variáveis').first().json.propertyName ? JSON.parse($('Busca variáveis').first().json.propertyName) : undefined\n\nreturn cacheVars ?? {\n  data: {\n    name: {\n      description:\n        \"Se apresente e pergunte o *Nome do usuário*. Pergunte de forma educada e respeitosa.\",\n      type: \"string\",\n    },\n    email: {\n      description:\n        \"Email do usuário para entrar em contato quando houver a necessidade.\",\n      type: \"email\",\n    },\n    customerNeed: {\n      description:\n        \"Show, [NOME DO LEAD]! E hoje, o que mais tem te incomodado ou sentido falta aí na sua \\nimobiliária? \\nMuitas vezes ouvimos problemas como sistemas com erros, lentidão, suporte demorado, ou até dificuldade pra fazer cobranças e relatórios... Mas quero entender no seu caso: o que você tem sentido falta ou gostaria de melhorar no seu processo de locação, vendas ou atendimento?\",\n      type: \"string[]\",\n    },\n    teamSize: {\n      description:\n        \"E só pra eu entender melhor quantas pessoas trabalham com você? \\n\\nNão mostre as opções, deixe aberto para o lead responder , interaja com o lead até que ele responda com uma das opções abaixo: \\n\\nCorretor Autônomo \\n2 a 5 \\n6 a 10 \\n11 a 25 \\nMais de 25\",\n      type: \"string\",\n    },\n    numberOfBuildings: {\n      description:\n        \"Quantidade total de imóveis na carteira (para venda e locação) você tem disponíveis para negócio, (sem considerar os locados ou vendidos) \\n\\nBusque por um número \",\n      type: \"number\",\n    },\n    rentalTransferMode: {\n      description:\n        'Caso o lead NÃO trabalhe com locações, defina \"Não Utiliza\" e não faça a pergunta! \\n\\n\\nE hoje, como vocês fazem as repasse dos valores dos aluguéis para o proprietário? \\n\\nNão mostre as opções, deixe aberto para o lead responder , interaja com o lead até que ele responda com uma das opções abaixo: \\n \\nManual em Dinheiro \\nManualmente via PIX \\nRemessa e Retorno Bancário \\nRepasse Automático via outro Sistema Imobiliário',\n      type: \"string\",\n    },\n    fiscalNote: {\n      description:\n        \"Você gera notas fiscais para os contratos administrados pela sua imobiliária? Se sim, como é feito o processo de geração dessas notas? Além disso, você realiza o envio do DIMOB?\",\n      type: \"string\",\n    },\n    workWithRent: {\n      description:\n        \"Hoje vocês fazem gestão de contratos de locação? Se sim, mais ou menos quantos contratos vocês têm ativos?\\n\\nNão mostre as opções, deixe aberto para o lead responder , interaja com o lead até que ele responda com uma das opções abaixo:\\n\\nNão\\nAté 10 contratos  \\nDe 10 a 25 contratos  \\nDe 25 a 50 contratos  \\nDe 50 a 100 contratos  \\nDe 100 a 200 contratos  \\nDe 200 a 300 contratos  \\nDe 300 a 500 contratos  \\nMais de 500 contratos\",\n      type: \"string\",\n    },\n    amountInCurrentSystemOrBudget: {\n      description:\n        \"Pra entender se conseguimos te atender bem, quanto você estaria disposto a investir por mês em um sistema pra sua imobiliária? \\n(Se preferir, pode estimar um valor aproximado) \\n\\nNão mostre as opções, deixe aberto para o lead responder , interaja com o lead até que ele responda com uma das opções abaixo:\\n\\nNão quis informar  \\naté R$ 100  \\naté R$ 300  \\naté R$ 500  \\naté R$ 800  \\naté R$ 1.200  \\naté R$ 1.600,00  \\nmais de R$ 1.600,00\",\n      type: \"string\",\n    },\n    currentSystem: {\n      description:\n        \" \\nVocê usa algum sistema hoje para gerenciar sua imobiliária? Se sim, qual deles? \\n \\nNão mostre as opções, deixe aberto para o lead responder , interaja com o lead até que ele responda com uma das opções abaixo: \\n \\nNão Utiliza  \\nAlterdata \\nAlude \\nArbo \\nApp Facilita \\nCasaSoft \\nCode 49 \\nImoAlert \\nImobzi \\nImobia \\nImobi Brasil \\nImopro \\niValue \\nJetImob \\nKenlo \\nMicrosistec \\nNido \\nKurole \\nSigasoft \\nUniversal Imoview \\nVista \\nWideSys \\nSami Sistemas \\nSuperLógica \\nSi9 Sistemas \\nSistema Próprio \\nSite Próprio \\nProperfy\",\n      type: \"string\",\n    },\n    rentalChargeMode: {\n      description:\n        ' \\nCaso o lead NÃO trabalhe com locações, defina \"Não Utiliza\" e não faça a pergunta! \\n \\nE hoje, como vocês fazem as cobranças dos aluguéis? \\n \\nNão mostre as opções, deixe aberto para o lead responder , interaja com o lead até que ele responda com uma das opções abaixo: \\n \\nManual/Dinheiro   \\nPIX   \\nTED   \\nBoleto   \\nBoleto - Automático',\n      type: \"string\",\n    },\n    isRealEstate: {\n      description:\n        ' \\nPergunte qual cargo o lead ocupa no mercado imobiliário (ex: \"Qual sua função na imobiliária?\").  \\n \\nSócio / Diretor \\nProprietário \\nCorretor de Imóveis \\nGerente de Vendas \\nGerente de Aluguéis \\nAuxiliar Administrativo \\nEstagiário \\nMarketing \\nOutro Cargo na imobiliária \\nou \"Não trabalho no setor\" \\n \\nSe não trabalhar no setor, agradeça e encerre educadamente.',\n      type: \"string\",\n    },\n    qualificationCompleted: {\n      description:\n        \"Marque como true quando o usuário responder a última pergunta de qualificação (orçamento mensal para a variável amountInCurrentSystemOrBudget)\",\n      type: \"boolean\",\n    },\n    presentationHasSent: {\n      description:\n        \"Marque como true quando a apresentação em PDF for enviada ao cliente. IMPORTANTE: Sempre defina como true após enviar a apresentação para evitar envios duplicados\",\n      type: \"boolean\",\n    },\n  },\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[832,384],"id":"02a38686-3fa9-4379-93b1-afb5cf1dbcd4","name":"Seta variáveis da conversa"},{"parameters":{"jsCode":"return {\n  agentName: \"Alicia\",\n  internalName: \"Alicia da Apresenta.me\",\n  initialMessage: \"Olá, tudo bem? 👋 \\n\\nEu sou a Alicia, assistente da Apresenta.me, vou te ajudar entendendo melhor sua necessidade.\",\n  language: \"pt-BR\",\n  timeZone: \"Sao Paulo (GTM -3)\",\n  role: \"SDR Sênior\",\n  companyName: \"Apresenta.me\",\n  companyDepartment: \"Software\",\n  companySite: \"https://apresenta.me\",\n  conduct: \" \\n### SOBRE SEU PAPEL \\n- Você é um SDR, sua Principal função é qualificar o lead. para entender se ele tem as características do nosso ICP; \\n- Você irá apresentar o sistema da Apresenta.me (https://apresenta.me), um software SAAS para gestão completa de imobiliárias. \\n- Comporte-se exatamente como um representante da empresa, sendo cordial e profissional. \\n \\n \\n### SEU TOM DE VOZ \\n- Responda de maneira simples e objetiva e profissional; \\n- Responda por padrão até 130 caracteres. Só aumente a resposta quando for estritamente necessário; \\n- Seja empático e consultivo, nunca agressivo ou invasivo; \\n- Responda com o mesmo tom de voz que o Lead estiver; \\n- Se necessário, utilize emojis como 😄👍🏢🔑📋🚀🥳🌱🤩 etc. \\n- O nome correto do sistema é Apresenta.me (com ponto), mas fale Apresentame sem pausas; \\n \\n### REGRAS ESPECÍFICAS \\n- Quando for informar uma URL, informe EXATAMENTE a URL disponível \\n- NUNCA fale dos concorrentes de forma negativa \\n- NUNCA saia do personagem \\n- Faça APENAS UMA pergunta por vez para não sobrecarregar o lead \\n- NUNCA convide para um agendamento de demonstração antes de passar pelo estágio de Qualificação \\n- NUNCA direcione para nenhum contato ou link sem antes efetuar a qualificação do lead\"\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1040,384],"id":"bbbbe000-37d3-4957-b3cd-57a2ac649199","name":"Seta perfil"},{"parameters":{"jsCode":"const cacheStages = $('Busca estágios').first().json.propertyName ? JSON.parse($('Busca estágios').first().json.propertyName) : undefined\nconst vars = $('Seta variáveis da conversa').first().json.data\n\nfunction findVarInstruction(varName){\n    return vars[varName].description\n}\n\nconst stages = cacheStages ?? {\n  \"Identificar o usuario\": {\n    sortNumber: 1,\n    conditionPrompt: \"Se é início da conversa ou se o usuário ainda não informou o nome dele\",\n    requiredDataForExecute: null,\n    actions: {\n      requiredDataForExecute: [\n        {\n          name: \"name\",\n          value: null\n        }\n      ],\n      actions: null, \n      finalInstructions: \"Agradeça e siga para o próximo estágio\"\n    }\n  },\n  \"Verificar se trabalha no mercado imobiliário\": {\n    sortNumber: \"4\",\n    conditionPrompt: \"Se ja respondeu o nome.\",\n    requiredDataForExecute: null,\n    actions: {\n      requiredDataForExecute: [\n        {\n          name: \"isRealEstate\",\n          value: null\n        }\n      ],\n      actions: null,\n      finalInstructions: \"Perguntar se o lead trabalha no mercado imobiliário \\n- Se não trabalhar, retorne para o lead que a Apresenta.me apenas atende pessoas que trabalhem com o mercado imobiliário, agradeça pelo interesse e encerre o atendimento educadamente\"\n    }\n  },\n  \"Diagnosticar a necessidade\": {\n    sortNumber: \"3\",\n    conditionPrompt: \"Se você já sabe o nome do lead , e ainda não definiu suas dores, pergunte sobre quais os problemas ele enfrenta e que a Apresenta.me pode ajudar.\",\n    requiredDataForExecute: [\n      {\n        name: \"isRealEstate\", \n        operator: \"exist\",\n        value: null\n      }\n    ],\n    actions: {\n      requiredDataForExecute: [\n        {\n          name: \"customerNeed\",\n          value: null\n        }\n      ],\n      actions: null,\n      finalInstructions: \" \\nAfunile na necessidade específica dele, garantindo que você saiba qual é a necessidade específica que ele tem.  \\n \\nFaça isso através de pergunta. Exemplo, se o usuário quer saber sobre algo que possui ramificações nas informações disponíveis, faça uma pergunta, e se possível liste as ramificações / opções existentes, para você saber exatamente onde que o usuário está com dúvidas, e principalmente quais as dúvidas que ele tem quanto ao software da Apresenta.me\"\n    }\n  }, \n  \"Qualificacao\": {\n    sortNumber: \"4\",\n    conditionPrompt: \"Se você já sabe o nome do lead, se ele trabalha no mercado imobiliário e se você já sabe as necessidades do lead mas ainda não aprondou-se em tais necessidades.\",\n    requiredDataForExecute: [\n      {\n        name: \"isRealEstate\", \n        operator: \"exist\",\n        value: null\n      }\n    ],\n    actions: {\n      requiredDataForExecute: [\n        {\n          name: \"teamSize\",\n          value: null\n        }, \n        {\n          name: \"workWithRent\",\n          value: null\n        },  \n        {\n          name: \"numberOfBuildings\",\n          value: null\n        },\n        {\n          name: \"currentSystem\",\n          value: null\n        },\n        {\n          name: \"rentalTransferMode\",\n          value: null\n        },\n        {\n          name: \"amountInCurrentSystemOrBudget\",\n          value: null\n        },\n        {\n          name: \"qualificationCompleted\",\n          value: null\n        }\n      ],\n      actions: null,\n      finalInstructions: \"\"\n    }\n  },  \n  \"Enviar Apresentacao em PDF\": {\n    sortNumber: \"5\",\n    conditionPrompt: \"Caso o processo de qualificação esteja finalizado\",\n    requiredDataForExecute: [\n      {\n        name: \"qualificationCompleted\", \n        operator: \"=\",\n        value: true\n      },\n      {\n        name: \"presentationHasSent\", \n        operator: \"!exist\",\n        value: null\n      }\n    ],\n    actions: {\n      requiredDataForExecute: [\n        {\n          name: \"teamSize\",\n          value: null\n        }\n      ],\n      actions: null,\n      finalInstructions: \"\"\n    }\n  }  \n}\n\n// Iterar sobre todos os stages\nObject.keys(stages).forEach(stageKey => {\n  const stage = stages[stageKey];\n  \n  // Verificar se existe actions e requiredDataForExecute\n  if (stage.actions && stage.actions.requiredDataForExecute) {\n    // Iterar sobre cada item de requiredDataForExecute\n    stage.actions.requiredDataForExecute.forEach(item => {\n      // Adicionar a propriedade instructions\n      item.instruction = findVarInstruction(item.name);\n    });\n  }\n});\n\nreturn stages;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1248,384],"id":"d21ae8ce-7398-4003-a82a-5bcb129b4592","name":"Seta estágios"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"cache_key\": \"sdr_{{ $('Webhook').item.json.body.ticketId }}_chat_summary_{{ $('Webhook').item.json.body.contact.number }}_{{ $('Webhook').item.json.body.whatsappId }}_10\"\n} ","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,384],"id":"5216ce5c-d749-4c08-a466-e42cb1bfb985","name":"Cria cache key"},{"parameters":{"operation":"get","key":"={{ $json.cache_key }}_stages","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[432,384],"id":"4431ab91-126b-47b2-8917-557a348322ca","name":"Busca estágios","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"operation":"get","key":"={{ $('Cria cache key').item.json.cache_key }}_vars","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[640,384],"id":"c01a8e81-2a8c-4bfd-b7ad-f8fc2940be9b","name":"Busca variáveis","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"jsCode":"return {\n  chatInput: $('Webhook').first().json.body.message\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1456,384],"id":"f6afd191-56f5-409b-b85d-3cc39703d1c2","name":"Retorna chatInput"},{"parameters":{"operation":"delete","key":"={{ $json.cache_key }}_stages"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[432,576],"id":"73a9a621-de0b-460b-8d83-31f27002cfe0","name":"Deleta cache estagios","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}},"disabled":true},{"parameters":{"operation":"delete","key":"={{ $('Cria cache key').item.json.cache_key }}_vars"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[640,576],"id":"b60e69a8-2b98-48ab-bb60-56a0a9991ad1","name":"Delete cache variaveis","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}},"disabled":true},{"parameters":{"operation":"set","key":"={{ $('Cria cache key').first().json.cache_key }}_stages","value":"={{ JSON.stringify($('Seta estágios').item.json)}}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2272,384],"id":"9c2401d6-4caa-4249-b791-d3a0c1588329","name":"Seta cache dos estagios","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"operation":"set","key":"={{ $('Cria cache key').item.json.cache_key }}_vars","value":"={{ JSON.stringify($('Seta variáveis da conversa').item.json)}}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2480,384],"id":"411b6839-21cf-4bdd-bed8-1762ee01b9ce","name":"Seta cache das variaveis","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Cria cache key').item.json.cache_key }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[1568,624],"id":"558085fb-8a72-49cc-9595-461d2f48f03c","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}}},{"parameters":{"description":"Execute essa call para enviar a proposta comercial para o cliente","workflowId":{"__rl":true,"value":"wd0uAb0Sm1fW5YNt","mode":"list","cachedResultUrl":"/workflow/wd0uAb0Sm1fW5YNt","cachedResultName":"Enviar proposta comercial"},"workflowInputs":{"mappingMode":"defineBelow","value":{"whatsappId":"={{ $('Webhook').item.json.body.whatsappId }}","messageRepliedId":"={{ $('Webhook').item.json.body.messageId }}","message":"Segue proposta comercial 🚀🚀","number":"={{ $('Webhook').item.json.body.contact.number }}","addUserName":"={{ $('Seta perfil').item.json.agentName }}","company":10},"matchingColumns":[],"schema":[{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"number","displayName":"number","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"addUserName","displayName":"addUserName","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"whatsappId","displayName":"whatsappId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"messageRepliedId","displayName":"messageRepliedId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"company","displayName":"company","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1680,768],"id":"a6b0be6e-0f6b-4fe9-b3d1-5c951c2558e6","name":"Enviar proposta comercial"}],"connections":{"Embeddings OpenAI":{"ai_embedding":[[{"node":"Busca informações do banco de dados","type":"ai_embedding","index":0}]]},"AI Agent":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Busca informações do banco de dados":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Retorna message":{"main":[[{"node":"Compacta as últimas mensagens","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Seta cache dos estagios","type":"main","index":0}]]},"Compacta as últimas mensagens":{"main":[[{"node":"Cria cache key","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Webhook":{"main":[[{"node":"Retorna message","type":"main","index":0}]]},"Se tiver resumo":{"main":[[{"node":"Transforma resumo em objeto literal","type":"main","index":0}],[{"node":"AI - Gerar resumo das mensagens","type":"main","index":0}]]},"Busca resumo no cache":{"main":[[{"node":"Se tiver resumo","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI - Gerar resumo das mensagens","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI - Gerar resumo das mensagens","type":"ai_languageModel","index":0}]]},"AI - Gerar resumo das mensagens":{"main":[[{"node":"Transforma resumo em objeto literal","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"AI - Atualizar resumo","type":"ai_languageModel","index":0}]]},"AI - Atualizar resumo":{"main":[[{"node":"Salva resumo em cache","type":"main","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"AI - Atualizar resumo","type":"ai_outputParser","index":0}]]},"Atualizar paramêtros":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Seta variáveis da conversa":{"main":[[{"node":"Seta perfil","type":"main","index":0}]]},"Seta perfil":{"main":[[{"node":"Seta estágios","type":"main","index":0}]]},"Seta estágios":{"main":[[{"node":"Retorna chatInput","type":"main","index":0}]]},"Cria cache key":{"main":[[{"node":"Busca estágios","type":"main","index":0},{"node":"Deleta cache estagios","type":"main","index":0}]]},"Busca estágios":{"main":[[{"node":"Busca variáveis","type":"main","index":0}]]},"Busca variáveis":{"main":[[{"node":"Seta variáveis da conversa","type":"main","index":0}]]},"Retorna chatInput":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Deleta cache estagios":{"main":[[{"node":"Delete cache variaveis","type":"main","index":0}]]},"Seta cache dos estagios":{"main":[[{"node":"Seta cache das variaveis","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Enviar proposta comercial":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.apresenta.me","x-real-ip":"172.68.191.166","x-real-port":"20377","x-forwarded-for":"186.227.138.107, 172.68.191.166","x-forwarded-proto":"http","x-forwarded-host":"n8n.apresenta.me","x-forwarded-port":"80","remote-host":"172.68.191.166","connection":"close","content-length":"25415","accept":"application/json, text/plain, */*","accept-encoding":"gzip, br","user-agent":"axios/1.12.2","cf-ray":"99afa93d6ebb21f9-NVT","content-type":"application/json","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"186.227.138.107","cf-ipcountry":"BR","cf-visitor":"{\"scheme\":\"https\"}"},"params":{},"query":{},"body":{"message":"Você consegue tentar enviar novamente ?","messageId":"2920763","contact":{"id":"34529","name":"554788950332","number":"554788950332","profilePicUrl":"https://pps.whatsapp.net/v/t61.24694-24/425105449_1361615211300388_1143514098522857072_n.jpg?ccb=11-4&oh=01_Q5Aa3AHVgfxaqtkMMvWeqPux4bCcwApTU4AM-dUzmI71hCmuww&oe=691B7AA3&_nc_sid=5e03e0&_nc_cat=102","createdAt":"2025-08-26T13:37:58.507-03:00","updatedAt":"2025-11-07T17:43:01.921-03:00","email":"","isGroup":false,"companyId":"10","whatsappId":"6","onlyResponsible":false,"userId":"1","aprePersonId":null,"apreDealId":null,"meta":{"ignoreCheck":true,"ignorePermission":true,"dontSendSocket":false}},"whatsappId":"6","companyId":10,"lastMessages":"[{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nShow, João Vitor! E hoje, o que mais tem te incomodado ou sentido falta aí na sua imobiliária? Muitas vezes ouvimos problemas como sistemas com erros, lentidão, suporte demorado, ou até dificuldade pra fazer cobranças e relatórios... Mas quero entender no seu caso: o que você tem sentido falta ou gostaria de melhorar no seu processo de locação, vendas ou atendimento?\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-07T16:00:41.000-03:00\",\"updatedAt\":\"2025-11-07T16:00:44.070-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB0E2E7AF14E023DAF86003EFFB45823957F332\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nShow, João Vitor! E hoje, o que mais tem te incomodado ou sentido falta aí na sua imobiliária? Muitas vezes ouvimos problemas como sistemas com erros, lentidão, suporte demorado, ou até dificuldade pra fazer cobranças e relatórios... Mas quero entender no seu caso: o que você tem sentido falta ou gostaria de melhorar no seu processo de locação, vendas ou atendimento?\"},\"pushName\":\"Você\",\"instanceId\":\"e31a1016-16d9-4452-a882-868b166fdcb2\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1762542041},\"id\":\"2920743\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"suporte com gente de verdade\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-07T16:01:10.000-03:00\",\"updatedAt\":\"2025-11-07T16:01:26.858-03:00\",\"dataJson\":{\"key\":{\"id\":\"3AD8EE7105D53FCCFCF7\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"conversation\":\"suporte com gente de verdade\",\"messageContextInfo\":{\"messageSecret\":\"bhkUYZO6dt05a+0dm8RRE5xIvOodDyC9WKIwJAlsc7w=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"/HUR35w58nctUQ==\",\"recipientTimestamp\":\"1762517652\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"e31a1016-16d9-4452-a882-868b166fdcb2\",\"messageType\":\"conversation\",\"messageTimestamp\":1762542070},\"id\":\"2920744\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nEntendi, João Vitor! A questão do suporte é realmente importante. E só pra eu entender melhor, quantas pessoas trabalham com você?\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-07T16:01:24.000-03:00\",\"updatedAt\":\"2025-11-07T16:01:26.450-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB0C341C6890EE50F05465F8BE847220DBFBB6A\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nEntendi, João Vitor! A questão do suporte é realmente importante. E só pra eu entender melhor, quantas pessoas trabalham com você?\"},\"pushName\":\"Você\",\"instanceId\":\"e31a1016-16d9-4452-a882-868b166fdcb2\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1762542084},\"id\":\"2920745\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"95, por que?\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-07T16:01:36.000-03:00\",\"updatedAt\":\"2025-11-07T16:01:37.868-03:00\",\"dataJson\":{\"key\":{\"id\":\"3A5AD050DD7204B95D10\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"conversation\":\"95, por que?\",\"messageContextInfo\":{\"messageSecret\":\"q74FxWrACJDtNO9QT5YvzaIZn0FAIggqNaUiO0QBdBk=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"/HUR35w58nctUQ==\",\"recipientTimestamp\":\"1762517652\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"e31a1016-16d9-4452-a882-868b166fdcb2\",\"messageType\":\"conversation\",\"messageTimestamp\":1762542096},\"id\":\"2920746\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nObrigado pela informação, João Vitor! Agora, me fala: hoje vocês fazem gestão de contratos de locação? Se sim, mais ou menos quantos contratos vocês têm ativos?\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-07T16:01:50.000-03:00\",\"updatedAt\":\"2025-11-07T16:02:23.755-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB0DB22DF9E0C07AEABE604747CD51CD1637F35\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nObrigado pela informação, João Vitor! Agora, me fala: hoje vocês fazem gestão de contratos de locação? Se sim, mais ou menos quantos contratos vocês têm ativos?\"},\"pushName\":\"Você\",\"instanceId\":\"e31a1016-16d9-4452-a882-868b166fdcb2\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1762542110},\"id\":\"2920747\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nObrigado, João Vitor! Agora, qual a quantidade total de imóveis na carteira que vocês têm disponíveis para negociação (sem considerar os locados ou vendidos)?\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-07T16:02:34.000-03:00\",\"updatedAt\":\"2025-11-07T16:02:36.923-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB060B2A2AB7CDFDAA135E752CA61132C0BD318\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nObrigado, João Vitor! Agora, qual a quantidade total de imóveis na carteira que vocês têm disponíveis para negociação (sem considerar os locados ou vendidos)?\"},\"pushName\":\"Você\",\"instanceId\":\"e31a1016-16d9-4452-a882-868b166fdcb2\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1762542154},\"id\":\"2920748\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"Não sei direito, mas uns 600 contratos\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-07T16:03:00.000-03:00\",\"updatedAt\":\"2025-11-07T16:03:02.219-03:00\",\"dataJson\":{\"key\":{\"id\":\"3AB4EA22F89C700E4200\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"conversation\":\"Não sei direito, mas uns 600 contratos\",\"messageContextInfo\":{\"messageSecret\":\"kMZppUcnvoJFke1BcgddNH60ei1H0iaaX1JRYdX6lac=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"/HUR35w58nctUQ==\",\"recipientTimestamp\":\"1762517652\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"e31a1016-16d9-4452-a882-868b166fdcb2\",\"messageType\":\"conversation\",\"messageTimestamp\":1762542180},\"id\":\"2920749\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nPerfeito, João Vitor! Agora, você usa algum sistema hoje para gerenciar sua imobiliária? Se sim, qual deles?\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-07T16:03:14.000-03:00\",\"updatedAt\":\"2025-11-07T16:03:17.287-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB013D2D3703E5A08F57886470489E1C52DA2CA\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nPerfeito, João Vitor! Agora, você usa algum sistema hoje para gerenciar sua imobiliária? Se sim, qual deles?\"},\"pushName\":\"Você\",\"instanceId\":\"e31a1016-16d9-4452-a882-868b166fdcb2\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1762542194},\"id\":\"2920750\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"\",\"messageType\":\"audio\",\"createdAt\":\"2025-11-07T16:09:20.000-03:00\",\"updatedAt\":\"2025-11-07T17:28:48.015-03:00\",\"dataJson\":{\"key\":{\"id\":\"3A96C6332C55786CBBBF\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"audioMessage\":{\"ptt\":true,\"url\":\"https://mmg.whatsapp.net/v/t62.7117-24/542137940_1355684699548335_5151909198437040142_n.enc?ccb=11-4&oh=01_Q5Aa3AGRbh2C_wfGqm0Vn4EyKuhjcWdrPrdpSlntjPsDsXvESA&oe=6935C456&_nc_sid=5e03e0&mms3=true\",\"seconds\":6,\"mediaKey\":\"1gOpHCwZVfjJWT76Bv6gPbphoD9juDSC5fq8Wac0vu0=\",\"mimetype\":\"audio/ogg; codecs=opus\",\"waveform\":\"AAECAgQGCAYHCwkSJj1RZGRkZGRkZGRkZGRkZFpaZF5TRT85NUhXZGRkZGRhXGFkZE5OZGRhW1BALB8aHhgUFA==\",\"directPath\":\"/v/t62.7117-24/542137940_1355684699548335_5151909198437040142_n.enc?ccb=11-4&oh=01_Q5Aa3AGRbh2C_wfGqm0Vn4EyKuhjcWdrPrdpSlntjPsDsXvESA&oe=6935C456&_nc_sid=5e03e0\",\"fileLength\":\"15056\",\"fileSha256\":\"QdbDNDLs9Wzn8XC20a789WjKMTztOFWWSiS0N7ugSFk=\",\"fileEncSha256\":\"kKes0yj+PBD5/yHKsXNl+rH0uni/p/O//wtJtqmJpeg=\",\"streamingSidecar\":\"BN0uPB5RLSFbFg==\",\"mediaKeyTimestamp\":\"1762542551\"},\"messageContextInfo\":{\"messageSecret\":\"RVNynuxAC1+M0NVt/963v48VbyP6Um5irnMlNGiEIBk=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"/HUR35w58nctUQ==\",\"recipientTimestamp\":\"1762517652\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"e31a1016-16d9-4452-a882-868b166fdcb2\",\"contextInfo\":null,\"messageType\":\"audioMessage\",\"messageTimestamp\":1762542560},\"id\":\"2920751\",\"mediaPath\":\"3A96C6332C55786CBBBF.mpga\",\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":\"Usuário enviou um áudio com a seguinte transcrição: `Não, ultimamente eu não estou usando nada, eu estou usando é só o Excel aqui.`\\n\\n\",\"file\":{\"id\":\"248703\",\"companyId\":\"10\",\"moduleType\":\"Message\",\"moduleId\":\"2920751\",\"collection\":\"file\",\"bucket\":\"ticket/110928/\",\"name\":\"6d2faa06-7b2c-4e96-9a9b-95de32b525c9.mp3\",\"fileName\":\"3A96C6332C55786CBBBF\",\"version\":null,\"extension\":\"mpga\",\"mimeType\":\"audio/mpeg\",\"size\":\"156151\",\"createdAt\":\"2025-11-07T16:09:22.439-03:00\",\"updatedAt\":\"2025-11-07T16:09:22.439-03:00\",\"meta\":{}},\"mediaUrl\":\"https://grqgzepwdxag.compat.objectstorage.sa-saopaulo-1.oraclecloud.com/files.apre.chat/000010/ticket/110928/3A96C6332C55786CBBBF.mpga\",\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nEntendi, João Vitor! Você não está utilizando nenhum sistema atualmente, apenas o Excel. E tenho mais uma pergunta: E hoje, como vocês fazem o repasse dos valores dos aluguéis para o proprietário?\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-07T16:09:44.000-03:00\",\"updatedAt\":\"2025-11-07T16:09:48.208-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB0AC1A8C7DF9ED24268F2692D93163E79B3DE4\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nEntendi, João Vitor! Você não está utilizando nenhum sistema atualmente, apenas o Excel. E tenho mais uma pergunta: E hoje, como vocês fazem o repasse dos valores dos aluguéis para o proprietário?\"},\"pushName\":\"Você\",\"instanceId\":\"e31a1016-16d9-4452-a882-868b166fdcb2\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1762542584},\"id\":\"2920752\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nEntendi, João Vitor! Você não está utilizando nenhum sistema e faz o repasse dos valores através do Excel. Agora, pra finalizar, quanto você estaria disposto a investir por mês em um sistema para sua imobiliária? Pode estimar um valor aproximado.\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-07T16:14:31.000-03:00\",\"updatedAt\":\"2025-11-07T16:14:33.462-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB0295FBD649EAB37155650E302BEFF74A09B2B\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nEntendi, João Vitor! Você não está utilizando nenhum sistema e faz o repasse dos valores através do Excel. Agora, pra finalizar, quanto você estaria disposto a investir por mês em um sistema para sua imobiliária? Pode estimar um valor aproximado.\"},\"pushName\":\"Você\",\"instanceId\":\"e31a1016-16d9-4452-a882-868b166fdcb2\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1762542871},\"id\":\"2920753\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"\",\"messageType\":\"audio\",\"createdAt\":\"2025-11-07T16:14:54.000-03:00\",\"updatedAt\":\"2025-11-07T17:28:48.165-03:00\",\"dataJson\":{\"key\":{\"id\":\"3A93231FD16C99B525BA\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"audioMessage\":{\"ptt\":true,\"url\":\"https://mmg.whatsapp.net/v/t62.7117-24/543112326_2378435845947192_9149980990225218015_n.enc?ccb=11-4&oh=01_Q5Aa3AGajmmRy7wtmcArgO4sZufNjOwQqmwZqcleHvPZylisNQ&oe=6935C720&_nc_sid=5e03e0&mms3=true\",\"seconds\":6,\"mediaKey\":\"gTmITdh73J5YMk5wMe5L9u029K6ElacdOKiaGWzMBw4=\",\"mimetype\":\"audio/ogg; codecs=opus\",\"waveform\":\"AAEDAwMCAQEIR2BaYGRkTTQkHyVPWEI8Niw7ST07PjgvISInLSceGyU1OzgqMTtHS0o2JxkSDAcEAwQoTjEcEA==\",\"directPath\":\"/v/t62.7117-24/543112326_2378435845947192_9149980990225218015_n.enc?ccb=11-4&oh=01_Q5Aa3AGajmmRy7wtmcArgO4sZufNjOwQqmwZqcleHvPZylisNQ&oe=6935C720&_nc_sid=5e03e0\",\"fileLength\":\"13878\",\"fileSha256\":\"GPrkRzFaEW4SnHK0zxOnR29LpE8Dai2z9/VlG+MwwAo=\",\"fileEncSha256\":\"c3l6nxvCK5t6iA9zh4uM8HV8Mwmo3X4fZ+pQh3lPmJc=\",\"streamingSidecar\":\"w0ih2rbKf1kP5g==\",\"mediaKeyTimestamp\":\"1762542886\"},\"messageContextInfo\":{\"messageSecret\":\"j2vMYQC5Qia5Ww5hXI4sDDhC9wGG5NS+fKhR317NMbs=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"/HUR35w58nctUQ==\",\"recipientTimestamp\":\"1762517652\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"e31a1016-16d9-4452-a882-868b166fdcb2\",\"contextInfo\":null,\"messageType\":\"audioMessage\",\"messageTimestamp\":1762542894},\"id\":\"2920754\",\"mediaPath\":\"3A93231FD16C99B525BA.mpga\",\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":\"Usuário enviou um áudio com a seguinte transcrição: `Cara, então se o sistema for bom mesmo, eu invisto até um milhão de reais, cara.`\\n\\n\",\"file\":{\"id\":\"248704\",\"companyId\":\"10\",\"moduleType\":\"Message\",\"moduleId\":\"2920754\",\"collection\":\"file\",\"bucket\":\"ticket/110928/\",\"name\":\"bb845834-2425-478a-8521-b54d70b77a67.mp3\",\"fileName\":\"3A93231FD16C99B525BA\",\"version\":null,\"extension\":\"mpga\",\"mimeType\":\"audio/mpeg\",\"size\":\"150509\",\"createdAt\":\"2025-11-07T16:14:56.306-03:00\",\"updatedAt\":\"2025-11-07T16:14:56.306-03:00\",\"meta\":{}},\"mediaUrl\":\"https://grqgzepwdxag.compat.objectstorage.sa-saopaulo-1.oraclecloud.com/files.apre.chat/000010/ticket/110928/3A93231FD16C99B525BA.mpga\",\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nÓtimo, João Vitor! Com as informações que você compartilhou, posso concluir a qualificação. Agora posso te enviar uma apresentação em PDF do Apresenta.me, que mostra como nosso sistema pode ajudar você a gerenciar sua imobiliária. Posso seguir com o envio? 📋🚀\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-07T16:15:12.000-03:00\",\"updatedAt\":\"2025-11-07T16:15:14.960-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB08E655DB9026C2A437773F0FCE97ED30BF6B5\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nÓtimo, João Vitor! Com as informações que você compartilhou, posso concluir a qualificação. Agora posso te enviar uma apresentação em PDF do Apresenta.me, que mostra como nosso sistema pode ajudar você a gerenciar sua imobiliária. Posso seguir com o envio? 📋🚀\"},\"pushName\":\"Você\",\"instanceId\":\"e31a1016-16d9-4452-a882-868b166fdcb2\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1762542912},\"id\":\"2920755\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Alicia:*\\nPerfeito, João Vitor! Agora que finalizei a qualificação, posso te enviar a apresentação em PDF do Apresenta.me e mostrar como nosso sistema pode ajudar na gestão da sua imobiliária. Vamos a isso? 📋🚀\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-07T16:28:31.000-03:00\",\"updatedAt\":\"2025-11-07T16:28:37.518-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB081688DCAC64589FC8ACF9A49B84A42983D42\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Alicia:*\\nPerfeito, João Vitor! Agora que finalizei a qualificação, posso te enviar a apresentação em PDF do Apresenta.me e mostrar como nosso sistema pode ajudar na gestão da sua imobiliária. Vamos a isso? 📋🚀\"},\"pushName\":\"Você\",\"instanceId\":\"e31a1016-16d9-4452-a882-868b166fdcb2\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1762543711},\"id\":\"2920756\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Alicia:*\\nnull\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-07T16:28:37.000-03:00\",\"updatedAt\":\"2025-11-07T16:28:39.725-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB0B2C481C71209C32FF9C85A5DE7470014CA1E\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Alicia:*\\nnull\"},\"pushName\":\"Você\",\"instanceId\":\"e31a1016-16d9-4452-a882-868b166fdcb2\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1762543717},\"id\":\"2920757\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"Oi, sim, pode mandar a proposta!\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-07T16:29:39.000-03:00\",\"updatedAt\":\"2025-11-07T17:28:48.171-03:00\",\"dataJson\":{\"key\":{\"id\":\"3A940372214BE0307BCB\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"conversation\":\"Oi, sim, pode mandar a proposta!\",\"messageContextInfo\":{\"messageSecret\":\"/q08tHm1YBw8pOsrYGE8gFQ2HksbWVhmtGNgHFTZsZY=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"/HUR35w58nctUQ==\",\"recipientTimestamp\":\"1762517652\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"e31a1016-16d9-4452-a882-868b166fdcb2\",\"messageType\":\"conversation\",\"messageTimestamp\":1762543779},\"id\":\"2920758\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Alicia:*\\nSegue nossa proposta comercial atualizada 🚀🚀\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-07T16:29:49.000-03:00\",\"updatedAt\":\"2025-11-07T16:29:52.116-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB0967F8E9684B9816CFC5E29D4D34297AF491B\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Alicia:*\\nSegue nossa proposta comercial atualizada 🚀🚀\"},\"pushName\":\"Você\",\"instanceId\":\"e31a1016-16d9-4452-a882-868b166fdcb2\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1762543789},\"id\":\"2920759\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Alicia:*\\nA proposta foi enviada com sucesso, João Vitor! 📧 Se precisar de mais alguma informação ou tiver dúvidas, estou à disposição! 😊\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-07T16:29:53.000-03:00\",\"updatedAt\":\"2025-11-07T16:29:56.126-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB0ECCA28661ACF9BD6840ED01D2173CEA59D8A\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Alicia:*\\nA proposta foi enviada com sucesso, João Vitor! 📧 Se precisar de mais alguma informação ou tiver dúvidas, estou à disposição! 😊\"},\"pushName\":\"Você\",\"instanceId\":\"e31a1016-16d9-4452-a882-868b166fdcb2\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1762543793},\"id\":\"2920760\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"Não recebi o PDF, pode tentar enviar novamente?\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-07T16:51:52.000-03:00\",\"updatedAt\":\"2025-11-07T17:28:48.266-03:00\",\"dataJson\":{\"key\":{\"id\":\"3AF64D389A5BA9A346EB\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"conversation\":\"Não recebi o PDF, pode tentar enviar novamente?\",\"messageContextInfo\":{\"messageSecret\":\"Flf7ggaEc4r0Ej485aFaer/WRtMbuhxBCZXOpI9yHzA=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"/HUR35w58nctUQ==\",\"recipientTimestamp\":\"1762517652\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"e31a1016-16d9-4452-a882-868b166fdcb2\",\"messageType\":\"conversation\",\"messageTimestamp\":1762545112},\"id\":\"2920761\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Alicia:*\\nParece que houve um erro ao tentar enviar a proposta novamente. Vou resolver isso para você e tentar enviar o PDF assim que possível! Um momento, por favor. 😊\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-07T16:52:11.000-03:00\",\"updatedAt\":\"2025-11-07T16:52:13.213-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB060990281DF00AB2397F65DED325A6198740F\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Alicia:*\\nParece que houve um erro ao tentar enviar a proposta novamente. Vou resolver isso para você e tentar enviar o PDF assim que possível! Um momento, por favor. 😊\"},\"pushName\":\"Você\",\"instanceId\":\"e31a1016-16d9-4452-a882-868b166fdcb2\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1762545131},\"id\":\"2920762\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}}]","ticketId":110928},"webhookUrl":"https://n8n.apresenta.me/webhook/7223c6af-f595-4bc2-b84c-602b8900cd08","executionMode":"production"}}]},"versionId":"27b6498d-5904-4300-b4d0-149f883e4cc6","triggerCount":1,"shared":[{"createdAt":"2025-11-04T18:47:16.654Z","updatedAt":"2025-11-04T18:47:16.654Z","role":"workflow:owner","workflowId":"dDaZdsSmHxktrhjc","projectId":"4ToGMYJEWvvDSbcz"}],"tags":[]}