20-03-2026 12:00/workflows/🗣️-apr.sdr-ia-dDaZdsSmHxktrhjc.json
{"updatedAt":"2026-03-13T13:22:14.000Z","createdAt":"2025-11-04T18:47:16.651Z","id":"dDaZdsSmHxktrhjc","name":"🗣️ Apr.SDR IA","active":true,"isArchived":false,"nodes":[{"parameters":{"jsCode":"return $('Parser  Chain1').first().json.output.messages.map(message => ({\n  json: { message }\n}))"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[16,1440],"id":"4ce1a0fd-a14f-4336-926d-bd852f45941b","name":"Split de mensagens"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2dfab0a2-c614-429c-a13d-36ecb7803f12","leftValue":"={{ $json.messages?.length ?? 0 }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-272,1456],"id":"52a8f1a7-c5c1-4c5b-aa63-cc6f4d821148","name":"Se não recebeu mensagem no meio do processamento","alwaysOutputData":false},{"parameters":{"operation":"get","propertyName":"messages","key":"=temp.{{ $('Configura Contexto').first().json.cache_key }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-480,1456],"id":"697a9015-bc65-48e9-85e7-2b6cd5d57290","name":"GET2","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"operation":"set","key":"={{ $('Configura Contexto').first().json.cache_key }}_state","value":"={{ JSON.stringify({ \n  stage_id: $json.newStageId, \n  vars: $json.updatedVars, \n  missingVar: $json.missingVar, \n  afterRepliedInstruction: $json.missingVar.afterRepliedInstruction, \n  lastInstruction: $json.finalInstruction\n}) }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-4032,1456],"id":"0fcaab6f-2a68-4927-86f8-84fdfa4202fc","name":"Salva Novo Estado","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"promptType":"define","text":"={{ $json.output }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"=# SYSTEM: Otimizador de Texto WhatsApp\nObjetivo: Dividir o texto de entrada em 1 a 4 balões de leitura fluida para o WhatsApp.\n\n# REGRAS DE EXECUÇÃO (CRÍTICAS)\n1. Formatação de Markdown (Conversão):\n   - Converta **texto** → *texto* (negrito padrão WhatsApp).\n   - Converta ~~texto~~ → ~texto~ (tachado padrão WhatsApp).\n   - Converta __texto__ → _texto_ (itálico padrão WhatsApp).\n   - URLs: Devem ser isoladas em uma mensagem exclusiva e envoltas em crase: (`url`).\n   - Pontuação: Um split NUNCA deve terminar com vírgula. Se o corte ocorrer em uma vírgula, remova-a ou ajuste o texto para terminar em ponto, interrogação ou exclamação.\n\n2. Segmentação de Balões (Split):\n   - Tamanho: Alvo de ~150 caracteres por balão (Máximo de 250).\n   - Corte: É proibido quebrar frases ao meio. Utilize pontuação (. ? !) como guia obrigatório para a divisão.\n   - Coesão: Emojis devem ficar sempre colados à palavra anterior, sem espaço.\n   - Contexto: Separe saudações iniciais e perguntas finais em balões próprios sempre que o tamanho permitir.\n\n3. Restrição de Conteúdo (Anti-Vazamento):\n   - É terminantemente proibido incluir explicações, metadados, definições de JSON Schema ou qualquer texto técnico sobre o funcionamento deste prompt no output.\n   - O conteúdo das mensagens deve ser exclusivamente a versão formatada e segmentada do texto original fornecido.\n\n# FORMATO DE SAÍDA (ESTRITO)\n- Retorne apenas o objeto JSON puro.\n- Proibido o uso de blocos de código markdown (como ```json).\n- Proibido qualquer texto fora das chaves do JSON.\n\n# ESTRUTURA REQUERIDA\n{\n  \"messages\": [\"msg1\", \"msg2\", \"msg3\"]\n}"}]}},"id":"a12ef693-b73f-4f20-9ae8-7d0a0c832737","name":"Parser  Chain1","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[-1104,1456]},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"messages\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  },\n  \"required\": [\"messages\"]\n}"},"id":"f89516e9-ef73-4405-9438-42fc591f9780","name":"OutputParser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-928,1632]},{"parameters":{"assignments":{"assignments":[{"id":"ae48936d-1ae8-440b-a604-2a6e4c4418f1","name":"output","value":"={{ $('Gerador de Resposta').item.json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1664,1472],"id":"b56901ca-95b2-4556-8b1b-44b4445d3ff3","name":"output1"},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1840,1568],"id":"5a64dbfb-1546-417a-8bc6-f4e23603dbfc","name":"WAIT_SPLIT1","webhookId":"3cea2837-6c05-4e79-8798-96260c4f8dc6"},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[432,1440],"id":"7e4de75e-f33c-4e60-8e5e-5c4d568a0b93","name":"LOOP_SLIT1"},{"parameters":{"method":"POST","url":"={{ $env.APRECHAT_URL_API }}api/messages/send","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"={\n    \"accept\": \"application/json\",\n    \"authorization\": \"Bearer kZaOTd+YZpjRUyyuQUpigJaEMk4vcW4YOymKPZX0Ts8=\",\n    \"company\": {{ $('Configura Contexto').first().json.companyId }},\n    \"content-type\": \"application/json\"\n}","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"message","value":"={{ $('LOOP_SLIT1').item.json.message }}"},{"name":"number","value":"={{ $('Configura Contexto').first().json.user_phone }}"},{"name":"whatsappId","value":"={{ $('Configura Contexto').first().json.whatsappId }}"},{"name":"addUserName","value":"={{ $('Seta perfil1').first().json.agentName }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1584,1536],"id":"a29ee757-25de-49ec-ac6a-30dac3b1a649","name":"Envia WhatsApp1"},{"parameters":{"httpMethod":"POST","path":"7223c6af-f595-4bc2-b84c-602b8900cd08","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-10304,1584],"id":"93c6170f-0ea4-42b8-a3ff-57f163806546","name":"Webhook","webhookId":"7223c6af-f595-4bc2-b84c-602b8900cd08"},{"parameters":{"jsCode":"return { \n  cache_key: `session_${$json.body.contact.number}_${$json.body.companyId}`,\n  companyId: $json.body.companyId,\n  whatsappId: $json.body.whatsappId,\n  user_msg: $json.body.message,\n  user_phone: $json.body.contact.number,\n  timestamp: new Date().getTime()\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-10080,1584],"id":"72628082-945b-48bd-8087-a0aa46649eee","name":"Configura Contexto"},{"parameters":{"operation":"get","key":"={{ $('Configura Contexto').first().json.cache_key }}_state","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-5888,1472],"id":"0e9eea20-3c5b-4187-a155-53e270e74014","name":"GET Estado Atual","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"jsCode":"// --- BLUEPRINT COMPLETO (Baseado na sua regra de negócio original) ---\nconst workflow = {\n  START: {\n    type: \"message\",\n    instruction:\n      \"Apresente-se como Alicia da Apresenta.me. Seja breve e pergunte como você pode chamar o lead.\",\n    next_stage: \"WAIT_NAME\",\n  },\n  WAIT_NAME: {\n    type: \"input\",\n    variables: [\n      {\n        name: \"name\",\n        afterRepliedInstruction: \"Diga ao lead que é um prazer conhecê-lo.\",\n        description: \"Nome do Lead\",\n      },\n    ],\n    next_stage: \"ASK_WANT_DATA_COLLECTION\",\n  },\n  ASK_WANT_DATA_COLLECTION: {\n    type: \"message\",\n    instruction:\n      'Pergunte ao Lead se ele aceita participar de uma coleta de dados, explicando um pouco sobre a apresenta.me antes (verifique no HISTÓRICO se ainda não explicou sobre a apresenta.me): \"[NOME], só pra te explicar um pouco mais sobre a Apresenta.me: nós centralizamos a operação da imobiliária em um só lugar, ajudando a organizar processos, ganhar eficiência e aumentar conversões, com uma tecnologia simples e suporte humanizado. Se fizer sentido pra você, seguimos com alguns dados essenciais pra agendar a demonstração, pode ser ?\"',\n    next_stage: \"WAIT_WANT_DATA_COLLECTION\",\n  },\n  WAIT_WANT_DATA_COLLECTION: {\n    type: \"input\",\n    variables: [\n      {\n        name: \"wantDataCollection\",\n        description: \"Se o usuário QUER participar da COLETA DE DADOS.\",\n      },\n    ],\n    next_stage: \"ROUTER_DATA_COLLECTION\",\n  },\n  ROUTER_DATA_COLLECTION: {\n    type: \"router\",\n    rules: [\n      {\n        variable: \"wantDataCollection\",\n        value: false,\n        next_stage: \"SEND_COMMERCIAL_PRESENTATION\",\n      },\n      { default: \"ASK_ROLE\" },\n    ],\n  },\n  SEND_COMMERCIAL_PRESENTATION: {\n    type: \"message\",\n    instruction:\n      \"Responda para o Lead: [NOME DO LEAD], estou te enviando nossa apresentação comercial! Caso você mude de ideia e queira nos conhecer melhor, é só avisar. Até mais!\",\n    next_stage: \"STOP\",\n  },\n  ASK_ROLE: {\n    type: \"message\",\n    instruction: \"Pergunte qual o cargo ou função dele na imobiliária.\",\n    next_stage: \"WAIT_ROLE\",\n  },\n  WAIT_ROLE: {\n    type: \"input\",\n    variables: [\n      {\n        name: \"role\",\n        description:\n          'Cargo ou função na imobiliária. NÃO MOSTRAR EXEMPLOS PARA O USUÁRIO. A RESPOSTA SEMPRE DEVE AUTOMATICAMENTE ATRIBUIR VALOR PARA \"isAutonomous\". Considere \"isAutonomous\" com false apenas quando o usuário INDICAR que trabalha sozinho, ou falar de forma explicita que é autônomo.',\n      },\n      {\n        name: \"isAutonomous\",\n        description:\n          \"(CAMPO LÓGICO): Defina AUTOMATICAMENTE TRUE se o usuário trabalha sozinho/autônomo (isso deve ser indicado pelo LEAD). Defina FALSE se for imobiliária/equipe/sócio/dono/auxiliar etc.\",\n        type: \"boolean\",\n      },\n    ],\n    next_stage: \"ROUTER_PROFILE\",\n  },\n  // --- DECISÃO: AUTÔNOMO VS IMOBILIÁRIA ---\n  ROUTER_PROFILE: {\n    type: \"router\",\n    rules: [\n      {\n        variable: \"isAutonomous\",\n        value: true,\n        next_stage: \"ASK_RENTAL_STATUS\",\n      }, // Autônomo pula tamanho do time\n      { default: \"ASK_TEAM_SIZE\" },\n    ],\n  },\n  ASK_TEAM_SIZE: {\n    type: \"message\",\n    instruction: \"Pergunte quantas pessoas trabalham na imobiliária hoje.\",\n    next_stage: \"WAIT_TEAM_SIZE\",\n  },\n  WAIT_TEAM_SIZE: {\n    type: \"input\",\n    variables: [\n      {\n        name: \"teamSize\",\n        description: \"Tamanho total da equipe (sócios + corretores)\",\n      },\n    ],\n    next_stage: \"ASK_RENTAL_STATUS\",\n  },\n  ASK_RENTAL_STATUS: {\n    type: \"message\",\n    instruction:\n      'Pergunte se eles já trabalham com locações ou estão estruturando agora. Ex: \"[NOME DO LEAD], e hoje, vocês já trabalham com locações ou estão começando a estruturar ?\"',\n    next_stage: \"WAIT_RENTAL_STATUS\",\n  },\n  WAIT_RENTAL_STATUS: {\n    type: \"input\",\n    variables: [\n      {\n        name: \"rentalStatus\",\n        afterRepliedInstruction: `Se o usuário disser que é focado em vendas, sem indicar que trabalha com locações, personalize a resposta: \"Entendi, [NOME DO LEAD]. Como vocês são focados em venda, é necessário ter um bom sistema de fúnil, para follow-up e um bom CRM pra manter o histórico dos Leads, isso tudo a Apresenta.me te entrega!! Mas vocês trabalham com locações também, ou somente vendas?\". Se o usuário disser que trabalha com locações, personalize a resposta : \"Bacana, [NOME DO LEAD], pra trabalhar com locações, tem que ter um bom sistema. Quando me refiro à um \"bom sistema\", digo um sistema que trabalhe pra vocês, e não que faça vocês trabalharem mais. E isso é o que o nosso sistema melhor oferece, automação de processos, além de ser um sistema completo que agrupa tudo em um lugar só.\". Se o usuário disser que só trabalha com vendas, personalize a resposta: \\\"Entendi, [NOME DO LEAD]. Como vocês são focados em venda, é necessário ter um bom sistema de fúnil, para follow-up e um bom CRM pra manter o histórico dos Leads, isso tudo a Apresenta.me te entrega!!\\\"\"`,\n        description:\n          \"Momento atual da imobiliária em relação a locação (já trabalham, estão começando a estruturar, ou não trabalham). NÃO MOSTRE NENHUMA OPÇÃO PARA O USUÁRIO, DEIXE ELE RESPONDER LIVREMENTE. (Preencha com as opções: active = se já trabalha / starting = se começando / none = se não trabalha ou se trabalha somente com vendas). Se ele já trabalha com locações, defina o valor de \\\"interestFocus\\\" como 'all'\",\n      },\n    ],\n    next_stage: \"ASK_PORTFOLIO_SIZE\",\n  },\n  ASK_PORTFOLIO_SIZE: {\n    type: \"message\",\n    instruction:\n      \"Pergunte a quantidade total de imóveis que o Lead/imobiliária tem na carteira, contando venda e locação. Se o lead trabalhar somenta com vendas, não cite locação, e vice-versa.\",\n    next_stage: \"WAIT_PORTFOLIO_SIZE\",\n  },\n  WAIT_PORTFOLIO_SIZE: {\n    type: \"input\",\n    variables: [\n      {\n        name: \"portfolioSize\",\n        afterRepliedInstruction: `Se o usuário informar o tamanho do portifólio, entenda o contexto do LEAD, faça um comentário sobre o tamanho do portifólio, exemplo (adapte e humanize): \"Entendi, [NOME DO LEAD]. com essa carteira já é preciso ter uma boa organização.\"`,\n        description:\n          \"Quantidade total de imóveis na carteira (venda + locação). Se o lead trabalhar APENAS com vendas, não cite locação, e vice-versa. Atenção: muitas vezes o usuário vai dizer que trabalha com locações mas é focado em vendas, e vice-versa. Nesses casos, pergunte o total de imóveis considerando vendas + locação.\",\n      },\n    ],\n    next_stage: \"ASK_INTEREST_FOCUS\"\n  },\n  ASK_INTEREST_FOCUS: {\n    type: \"message\",\n    instruction:\n      'Informe que a Apresenta.me entrega um sistema completo, com site, crm e gestão financeira e pergunte ao usuário quais dessas opções ele precisa, em específico. Ex: \"[NOME DO LEAD], hoje a gente entrega um sistema completo, com site, crm e gestão fincanceira, quais desses módulos fazem sentido pra você?\"',\n    next_stage: \"WAIT_INTEREST_FOCUS\",\n  },\n  WAIT_INTEREST_FOCUS: {\n    type: \"input\",\n    variables: [\n      {\n        name: \"interestFocus\",\n        description:\n          \"Quais módulos do sistema o usuário está interessado: Site + CRM, Gestão financeira ou todos.\",\n        afterRepliedInstruction:\n          'Se o usuário estiver insistindo em uma opção inválida, responda-o que não vendemos a opção avulsa. Ex: \"[NOME DO LEAD], que pena! Infelizmente a gente não vende nenhum módulo avulso...\". Se o usuário quiser só site: responda-o que não vendemos site avulso. Ex: \"Entendo, [NOME DO LEAD]! O site é justamente a porta de entrada pra divulgar seus imóveis. Aqui ele já vem integrado ao CRM, o que ajuda você a receber os leads e acompanhar as vendas sem perder contato. Faz sentido pra você CRM e site integrados?\". Se o usuário quiser somente CRM: responda-o que na contratação do CRM o site já vem integrado e que não vendemos o CRM separado. Ex: \"Legal, [NOME DO LEAD]! Na contratação do CRM, o site já vem integrado, mas não é possível contratar CRM avulso. Faz sentido pra você CRM e site integrados?\". Se o usuário está insistindo na mesma opção inválida (é no mínimo a segunda fez que ele afirma que quer a mesma opção inexistente), ignore essa instrução. Se o usuário forneceu uma opção/resposta válida: \"Show de bola [NOME DO LEAD], pode ter certeza que vamos conseguir te entregar bons resultados com [OPÇÃO QUE O LEAD ESCOLHEU (Site + CRM ou Sistema completo/todos os módulos)].\"',\n        options: {\n          site_crm:\n            \"Se o usuário quiser site + CRM. Não selecione essa opção se ele apenas disser que quer site ou se ele apenas disser que quer CRM.\",\n          all: \"Se o usuário já trabalhar com locação, selecione obrigatoriamente essa opção. ou se ele dizer que quer site + crm + gestão financeira ou explicitamente TODOS.\",\n          invalid_option:\n            \"Se o usuário precisar de uma opção inexistente (ex: Só site, só CRM, só gestão financeira). Ou se ele falar que precisa de site, mas não citar que precisa de crm. Ou se ele falar que precisa de CRM, mas não citar que precisa de site.\",\n        },\n      },\n    ],\n    next_stage: \"ROUTER_INVALID_INTEREST_FOCUS\",\n  },\n  ROUTER_INVALID_INTEREST_FOCUS: {\n    type: \"router\",\n    rules: [\n      {\n        variable: \"interestFocus\",\n        value: \"invalid_option\",\n        next_stage: \"ASK_INTEREST_FOCUS_2\",\n      },\n      { default: \"ASK_CURRENT_SYSTEM\" },\n    ],\n  },\n  ASK_INTEREST_FOCUS_2: {\n    type: \"message\",\n    instruction:\n      'Se o usuário quiser só site: responda-o que não vendemos site avulso. Ex: \"Entendo, [NOME DO LEAD]! O site é justamente a porta de entrada pra divulgar seus imóveis. Aqui ele já vem integrado ao CRM, o que ajuda você a receber os leads e acompanhar as vendas sem perder contato. Faz sentido pra você CRM e site integrados?\". Se o usuário quiser somente CRM: responda-o que na contratação do CRM o site já vem integrado e que não vendemos o CRM separado. Ex: \"Legal, [NOME DO LEAD]! Na contratação do CRM, o site já vem integrado, mas não é possível contratar CRM avulso. Faz sentido pra você CRM e site integrados?\"',\n    next_stage: \"ROUTER_INVALID_INTEREST_FOCUS_2\",\n  },\n  ROUTER_INVALID_INTEREST_FOCUS_2: {\n    type: \"router\",\n    rules: [\n      {\n        variable: \"interestFocus\",\n        value: \"invalid_option\",\n        next_stage: \"CLOSING_WHEN_INVALID_OPTION\",\n      },\n      { default: \"ASK_CURRENT_SYSTEM\" },\n    ],\n  },\n  ASK_PAIN_POINT: {\n    type: \"message\",\n    instruction:\n      'Se o lead não utiliza nenhum sistema: cite o cenário do lead e pergunte qual a PRINCIPAL DOR do lead.\\n Ex: (Adapte esse exemplo para o cenário do lead): \"[NOME DO LEAD], com x colaboradores, x imóveis na carteira, trabalhando com vendas e locações, o que você apontaria como o maior problema ou dor de vocês aí na [NOME DA IMOBILIÁRIA (se cidado), ou NA IMOBILIÁRIA]? Seja na gestão financeira, automação de processos, vendas, etc.\". Se o usuário já utiliza algum sistema ou CRM imobiliário: valide e pergunte quais são os problemas existentes no sistema atual. Ex: \"Certo, [NOME DO LEAD]. O que hoje no sistema que vocês usam acaba não acompanhando o crescimento ou a rotina de vocês?\"',\n    next_stage: \"WAIT_PAIN_POINT\",\n  },\n  WAIT_PAIN_POINT: {\n    type: \"input\",\n    variables: [\n      {\n        name: \"mainPainPoint\",\n        afterRepliedInstruction:\n          \"Valide a dor do cliente do cliente de forma humana. Pegue o problema do Lead e procure por funcionalidades na base de conhecimento que resolvam o problema do lead e forme um texto breve e de fácil leitura com as funcionalidades/soluções existentes e explique para o Lead como a Apresenta.me pode solucionar seus problemas.\",\n        description: \"Principal dor, problema ou gargalo citado pelo lead\",\n      },\n    ],\n    next_stage: \"ROUTER_LOCACAO\",\n  },\n  ASK_CURRENT_SYSTEM: {\n    type: \"message\",\n    instruction:\n      'Pergunte se já utilizam algum sistema ou CRM imobiliário hoje, e qual. Se no meio da conversa o usuário indicar que não tem um CRM, pergunte SOMENTE se ele já utiliza algum Sistema Imobiliário. Ex: \"[NOME DO LEAD], pra eu me contextualizar melhor, vocês já estão utilizando algum sistema imobiliário ou CRM pra melhorar o processo de vocês? Se sim, qual ?\" ',\n    next_stage: \"WAIT_CURRENT_SYSTEM\",\n  },\n  WAIT_CURRENT_SYSTEM: {\n    type: \"input\",\n    variables: [\n      {\n        name: \"currentSystem\",\n        afterRepliedInstruction:\n          'Se o lead já utiliza algum sistema ou CRM imobiliário: pergunte quais são os problemas existentes no sistema atual. Ex: \"Legal, [NOME DO LEAD]. O que hoje no sistema que vocês usam acaba não acompanhando o crescimento ou a rotina de vocês?\". Se o lead não utiliza nenhum sistema ou CRM imobiliário, valide a dor do lead, entendendo que processos manuais os tomam muito tempo e que a Apresenta.me consegue automatizar diversos processos, facilitando a vida da imobiliária, se necessário.',\n        description: \"Nome do sistema imobiliário que o lead está usando atualmente (ex: Kenlo, Jetimob, Planilhas)\",\n      },\n    ],\n    next_stage: \"ASK_PAIN_POINT\",\n  },\n  // --- DECISÃO: APROFUNDAR LOCAÇÃO? ---\n  ROUTER_LOCACAO: {\n    type: \"router\",\n    rules: [\n      // Se já tem locação ativa ('active'), pergunta detalhes técnicos\n      {\n        variable: \"rentalStatus\",\n        value: \"active\",\n        next_stage: \"ASK_CONTRACT_DETAILS\",\n      },\n      // Se não tem ou está começando, vai direto pro orçamento\n      { default: \"ASK_PLAN\" },\n    ],\n  },\n  ASK_CONTRACT_DETAILS: {\n    type: \"message\",\n    instruction:\n      'Pergunte quantos contratos ativos administram e como fazem o repasse dos valores dos aluguéis para proprietários e corretores hoje. Ex: \"Pra gente entender mehor, qual é o número de contratos ativos pra locação que vocês possuem? E hoje, como fazem os repasses para os proprietários e corretores ?\"',\n    next_stage: \"WAIT_CONTRACT_DETAILS\",\n  },\n  WAIT_CONTRACT_DETAILS: {\n    type: \"input\",\n    variables: [\n      {\n        name: \"numberOfContracts\",\n        afterRepliedInstruction:\n          \"Baseando-se no cenário que o LEAD já informou ao longo da conversa:\\n Se anteriormente ele disse que utilizam sistemas genéricos (como planilhas) ou que não usam nenhum sistema imobiliário e se tiver um número consideravelmente alto de contratos: mencione para o lead que com a quantidade de contratos mencionado pelo lead, deve ser um desafio fazer o gerenciamento sem um sistema imobiliário; Se tiver um numero de contratos considerávelmente alto e já utilizar algum sistema imobiliário: validar de forma simples e natural, sem elogiar ou desdenhar; Se o usuário informou também o método de repasse: adicione uma validação final para o repasse: Se o lead indicar que é manual/banco: Cite o cenário dele, e diga que no cenário que o lead informou, fazer repasse manual em 2026 é inaceitável e informe que a Apesenta.me dispõe de funcionalidades que automatizam esse processo; Se ele indicar que o repasse já é feito de forma automática de enfase ao nosso produto/funcionalidade: valide a fala do Lead e diga que aqui na Apresenta.me entregamos a funcionalidade de repasse automático também e que tem ajudado muito nossos clientes.\",\n        description: \"Quantidade de contratos de locação ativos\",\n      },\n      {\n        name: \"transferMode\",\n        afterRepliedInstruction:\n          \"Se o lead indicar que é manual/banco: Fale sobre o cenário do lead, e diga que no cenário que o lead informou, fazer repasse manual em 2026 é inaceitável e informe que a Apesenta.me dispõe de funcionalidades que automatizam esse processo. Se ele indicar que o repasse já é feito de forma automática, de enfase ao nosso produto/funcionalidade: valide a fala do Lead e diga que aqui na Apresenta.me entregamos a funcionalidade de repasse automático também e que tem ajudado bastante nossos clientes.\",\n        description:\n          \"Método de repasse (Ex: Manual, Banco, Split etc.). NUNCA MOSTRE EXEMPLOS PARA O USUARIO E DEIXE ELE RESPONDER LIVREMENTE.\",\n      },\n    ],\n    next_stage: \"ASK_PLAN\",\n  },\n  ASK_PLAN: {\n    type: \"message\",\n    instruction: `\nAgora que você já entende o cenário do lead, pense lógicamente, com base nas informações que ele passou, qual dos planos abaixo se enquadra melhor no cenário dele:    \n- **Start IMOB (R$ 449,99/mês):** 2 usuários, 300 imóveis, 500 negócios. Inclui Site e WhatsApp -> REMOVA ESSA OPÇÃO SE O USUÁRIO JÁ TRABALHA COM LOCAÇÃO (rentalStatus = active/starting).\n- **Basic IMOB (R$ 699,99/mês):** 5 usuários, 1000 imóveis, 2000 negócios. Inclui 50 contratos e gestão financeira.\n- **Big IMOB (R$ 999,99/mês):** 12 usuários, imóveis ilimitados, 5000 negócios. Inclui 150 contratos e geração automática de boletos.\n- **Super IMOB (Especialista):** Acima de 25 usuários ou 300 contratos. Gestão completa de comissões.\nApós você selecionar um desses planos, como resposta: cite o cenário do Lead, informe o porquê o plano selecionado faz sentido para o lead e informe o plano selecionado.\nOBS: NÃO ENVIE TODOS OS PLANOS PARA O LEAD, SELECIONE APENAS UM PLANO QUE SE ENCAIXA MELHOR NO CENÁRIO/CONTEXTO ATUAL DA IMOBILIÁRIA ATUALMENTE.\n`,\n    next_stage: \"WAIT_PLAN\",\n  },\n  WAIT_PLAN: {\n    type: \"input\",\n    variables: [\n      {\n        name: \"selectedPlanWasAccepted\",\n        afterRepliedInstruction:\n          \"Se o lead informar que precisa AUMENTAR o número de usuários, contratos, imóveis, negócios, etc: informe que o plano pode ser personalizado de acordo com o que ele precisa, e que o Plano Selecionado é apenas um plano base. Porém, apenas um especialista pode personalizar o plano do lead; Se o lead informar que precisa DIMINUIR o número de usuários, contratos, imóveis, negócios, etc: informe que um especialista vai tentar entender melhor as necessidades do Lead e selecionar um plano mais adequado.\",\n        description:\n          \"Se o plano selecionado já foi apresentado um plano com base no cenário do lead e ele disse que o plano faz sentido pra ele, que está dentro do que planejam investir. Se o plano selecionado ainda não foi apresentado para o lead: NÃO PREENCHA esta variável. Se for atribuido qualquer valor para whyDidntAcceptedThePlan, atribua FALSE para esta variável\",\n      },\n    ],\n    next_stage: \"ROUTER_PLAN_ACCEPTED\",\n  },\n  ROUTER_PLAN_ACCEPTED: {\n    type: \"router\",\n    rules: [\n      {\n        variable: \"selectedPlanWasAccepted\",\n        value: false,\n        next_stage: \"ASK_WHY_DIDNT_ACCEPTED_THE_PLAN\",\n      },\n      { default: \"CLOSING\" },\n    ],\n  },\n  ASK_WHY_DIDNT_ACCEPTED_THE_PLAN: {\n    type: \"message\",\n    instruction:\n      'Se o lead não informou o motivo pelo qual o plano não faz sentido para ele, pergunte de forma objetiva o motivo. Ex: \"Entendi, [NOME DO LEAD], você poderia me contar por qual motivo o [PLANO SELECIONADO] não faz sentido pra você?\"',\n    next_stage: \"WAIT_WHY_DIDNT_ACCEPTED_THE_PLAN\",\n  },\n  WAIT_WHY_DIDNT_ACCEPTED_THE_PLAN: {\n    type: \"input\",\n    variables: [\n      {\n        name: \"whyDidntAcceptedThePlan\",\n        afterRepliedInstruction:\n          \"Se ele informou que precisa de uma funcionalidade que não temos, procure na base de conhecimento pela funcionalidade e se esta existir, informe ao cliente que possuímos, se nenhuma funcionalidade que o lead precisa existe na base de conhecimento, então informe que iremos encaminhar o caso do lead para um especialista. Se o cliente reclamou do valor, informe que iremos encaminhar para um especialista cuidar desse caso específico. Se ele informar que precisa de mais usuários, mais contratos, mais imóveis ou qualquer outro item existente no plano, informe que trabalhamos que podemos personalizar os planos, mas que um especialista precisa fazer essa personalização para o Lead.\",\n        description:\n          \"Motivo pelo qual o plano não foi aceito pelo usuário. Se o usuário disse o motivo pelo qual não aceita o plano, altere selectedPlanWasAccepted\",\n      },\n    ],\n    next_stage: \"CLOSING\",\n  },\n  CLOSING: {\n    type: \"message\",\n    instruction:\n      'Agradeça de forma cordial, se despeça e diga que foi um prazer conhecer o lead, citando o nome dele. Diga que coletou todos os dados necessários e informe que um especialista entrará em contato para agendar uma apresentação. Ex: \"[NOME DO LEAD], coletei todos os dados necessários aqui e vou prosseguir com o agendamento de uma demonstração te encaminhando pra um especialista. Foi um prazer te conhecer, até mais!\"',\n    next_stage: \"STOP\",\n  },\n  CLOSING_WHEN_INVALID_OPTION: {\n    type: \"message\",\n    instruction:\n      \"Agradeça de forma cordial e simpática, diga que irá encaminhar o atendimento para um especialista que poderá cuidar do caso específico do lead e se despeça dizendo que foi um prazer conhecê-lo.\",\n    next_stage: \"STOP\",\n  },\n};\n\nconst redisData = $(\"GET Estado Atual\").item.json.propertyName\n  ? JSON.parse($(\"GET Estado Atual\").item.json.propertyName)\n  : {};\nconst currentStageId = redisData.stage_id || \"START\";\nconst vars = redisData.vars || {};\nconst stageConfig = workflow[currentStageId] || workflow[\"START\"];\n\n// --- VARREDURA GLOBAL DE VARIÁVEIS ---\nlet missingVars = [];\nfor (const key in workflow) {\n  const step = workflow[key];\n  if (step.type === \"input\" && step.variables) {\n    step.variables.forEach((v) => {\n      if (!vars[v.name] || vars[v.name].value === null || vars[v.name].value === 'invalid_option' || vars[v.name].value === 'not_provided' || vars[v.name].value === 'answer_later') {\n        missingVars.push({\n          name: v.name,\n          description: v.description,\n          options: v.options || null,\n        });\n      }\n    });\n  }\n}\n\nreturn {\n  workflow,\n  currentStageId,\n  stageConfig,\n  vars,\n  missingVars,\n  userMsg: $(\"CONCATENA1\").item.json.user_full_message,\n  missingVar: JSON.parse($input.first().json.propertyName)?.missingVar,\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5664,1472],"id":"98cfc05a-d3fa-487e-9e32-776bfb8b94f9","name":"BLUEPRINT ENGINE"},{"parameters":{"jsCode":"const inputData = $input.all()[0].json;\nconst workflow = $('BLUEPRINT ENGINE').first().json.workflow;\nlet currentStageId = $('BLUEPRINT ENGINE').first().json.currentStageId;\nlet vars = $('BLUEPRINT ENGINE').first().json.vars;\nlet stageConfig = $('BLUEPRINT ENGINE').first().json.stageConfig;\nconst lastInstruction = JSON.parse($('GET Estado Atual').first().json.propertyName || '{}').lastInstruction\nconst lastMissingVar = JSON.parse($('GET Estado Atual').first().json.propertyName || '{}').missingVar \nlet outputInstruction = \"\";\nlet missingVar = \"\";\nlet immediatelyNextStage = \"\";\n\n// --- 1. ATUALIZAÇÃO GLOBAL (Check-in) ---\nconst extractedObj = inputData.output || {};\nfor (const [key, value] of Object.entries(extractedObj)) {\n    // Só atualiza se tiver valor real\n    if (value !== null && value !== undefined && value !== \"\") {\n        vars[key] = { value: value, type: 'extracted' };\n    }\n}\n\n// Helper: Verifica se TODAS as variáveis do estágio estão preenchidas\nfunction isInputSatisfied(stage) {\n    if (!stage || stage.type !== 'input') return false;\n    // Retorna true apenas se TODAS as variáveis listadas existirem em 'vars'\n    return stage.variables.every(v => vars[v.name] && vars[v.name].value !== null && vars[v.name].value !== \"\");\n}\n\n\n// --- 2. LOOP DE AVANÇO (Auto-Skip & Look Ahead) ---\nlet safetyLoop = 0;\nlet advancing = true;\n\nwhile (advancing && safetyLoop < 50) {\n    stageConfig = workflow[currentStageId];\n    if (!stageConfig) break;\n\n    if (stageConfig.immediately_next_stage) {\n      immediatelyNextStage = stageConfig.immediately_next_stage\n    }\n\n    advancing = false; // Por padrão, o loop para aqui, a menos que encontre motivo para seguir\n\n    // ======================================================\n    // CASO 1: INPUT (Esperando dados do usuário)\n    // ======================================================\n    if (stageConfig.type === 'input') {\n        if (isInputSatisfied(stageConfig)) {\n            // Temos tudo! Pula para o próximo estágio.\n            currentStageId = stageConfig.next_stage;\n            advancing = true; \n        } else {\n            // [CORREÇÃO AQUI] Falta resposta. Não podemos deixar a instrução vazia.\n            // Descobre qual variável está faltando para orientar a IA\n            missingVar = stageConfig.variables.find(v => !vars[v.name] || !vars[v.name].value);\n            \n            if (missingVar) {\n                // Se o usuário falou algo nada a ver (extração rodou mas não pegou o dado)\n                if (Object.keys(extractedObj).length > 0 && !Object.values(extractedObj).find(v => v)) {\n                     outputInstruction = `O usuário respondeu algo, mas não entendi o(a) ${missingVar.description}. Pergunte novamente de forma clara.`;\n                } else {\n                    if (lastMissingVar && !vars[lastMissingVar.name]?.value) {\n                      outputInstruction = lastInstruction\n                    } else {\n                      outputInstruction = `Pergunte: ${missingVar.description}`; \n                    }\n                }\n            }\n            // Mantemos advancing = false para PARAR aqui e esperar o user responder\n        }\n    }\n\n    // ======================================================\n    // CASO 2: MENSAGEM (O robô fala)\n    // ======================================================\n    else if (stageConfig.type === 'message') {\n        // [LOOK AHEAD]\n        // Verifica se a mensagem serve para pedir um dado que JÁ TEMOS.\n        const nextStage = workflow[stageConfig.next_stage];\n        \n        // Se o próximo passo é input E já está preenchido -> Pula a mensagem atual\n        if (nextStage && nextStage.type === 'input' && isInputSatisfied(nextStage)) {\n            currentStageId = nextStage.next_stage;\n            advancing = true; \n        } else {\n            // Mensagem necessária. Define instrução.\n            outputInstruction = stageConfig.instruction;\n            \n            // Já aponta o ponteiro para o próximo estágio (onde vamos esperar o input)\n            if (stageConfig.next_stage !== 'STOP') {\n                currentStageId = stageConfig.next_stage;\n                const nextStage = workflow[currentStageId]   \n\n                if (nextStage.type == 'input') {\n                  missingVar = nextStage.variables.find(v => !vars[v.name] || !vars[v.name].value);\n                }\n              \n            }\n            // Para o loop para a IA falar.\n            advancing = false; \n        }\n    }\n\n    // ======================================================\n    // CASO 3: ROUTER (Lógica condicional)\n    // ======================================================\n    else if (stageConfig.type === 'router') {\n        let routeFound = false;\n        for (const rule of stageConfig.rules) {\n            if (rule.default) {\n                currentStageId = rule.default;\n                routeFound = true;\n                break;\n            }\n            // Validação simples de valor\n            if (vars[rule.variable] && vars[rule.variable].value === rule.value) {\n                currentStageId = rule.next_stage;\n                routeFound = true;\n                break;\n            }\n        }\n        // Se achou rota, continua avançando no mesmo tick\n        if (routeFound) advancing = true; \n    }\n    \n    safetyLoop++;\n}\n\nreturn {\n    newStageId: currentStageId,\n    updatedVars: vars,\n    finalInstruction: outputInstruction,\n    missingVar, \n    immediatelyNextStage\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4256,1456],"id":"2cb6799d-290a-473e-ae81-bea790fc1a8d","name":"LOGIC ENGINE"},{"parameters":{"promptType":"define","text":"=[MENSAGEM DO HUMANO]\n{{ $('CONCATENA1').first().json.user_full_message }}\n\n[INSTRUÇÃO DO FLUXO] (CRÍTICO - OBRIGATÓRIO)\n* **INSTRUÇÃO_A:** {{ $('LOGIC ENGINE').first().json.updatedVars[JSON.parse($('GET Estado Atual').first().json.propertyName || '{}').missingVar.name].value && !['not_provided', 'answer_later'].includes($('LOGIC ENGINE').first().json.updatedVars[JSON.parse($('GET Estado Atual').first().json.propertyName || '{}').missingVar.name].value)  ? JSON.parse($('GET Estado Atual').first().json.propertyName || '{}').afterRepliedInstruction : null }}\n* **INSTRUÇÃO_B:** \"{{ $('LOGIC ENGINE').first().json.finalInstruction }}\"\n\n### [DADOS PARA PROCESSAMENTO]\n* **DADOS_COLETADOS:** {{ JSON.stringify($('LOGIC ENGINE').first().json.updatedVars) }}\n* **CONTEXTO_TÉCNICO (RAG):** {{ $('MERGE DADOS').first().json.rag_context ? $('MERGE DADOS').first().json.rag_context.join('\\n\\n'): \"\" }}\n\n### [HISTÓRICO DE CONVERSA (DA MAIS ANTIGA PARA A MAIS RECENTE)]\n{{ $('Formata ultimas mensagens').first().json.historyMessages }}\n\n\n### [DATA/HORA ATUAL]\n{{ $now.toFormat('dd/MM/yyyy HH:mm') }}\nPOR EXTENSO: {{ $now.setLocale('pt-BR').toFormat(\"d 'de' MMMM 'de' yyyy\") }}","options":{"systemMessage":"=# PERFIL E IDENTIDADE\nAgente: {{ $('Seta perfil1').first().json.agentName }} | Funcionário(a) da: {{ $('Seta perfil1').first().json.companyName }}\nDepto: {{ $('Seta perfil1').first().json.companyDepartment }}\nTom: {{ $('Seta perfil1').first().json.tone }} \n{{ $('Seta perfil1').first().json.conduct }}\n\n## DIRETRIZES DE SAÍDA (WHATSAPP)\n- Mensagem única, fluída e acima de tudo: HUMANIZADA.\n- Evite ao máximo o uso de exclamações (!) e termos que deixam a resposta robótica.\n- **ESPELHAMENTO:** Adapte o tamanho e o tom da sua resposta com o tom atual da conversa (analise o HISTÓRICO RECENTE).\n\n## LÓGICA DE EXECUÇÃO (ORDEM DE PENSAMENTO)\n\n1. FILTRO DE ENCERRAMENTO:\n   - Se o humano enviar mensagens de despedida ou um agradecimento final (analise o histórico para verificar se a conversa está no tom de despedida ou agradecimento final), apenas despeça-se gentilmente e encerre o atendimento. Porém, se já houve despedida e o humano indica o desejo de retomar a conversa, siga o fluxo normalmente (sem a necessidade de encerrar o atendimento).\n   - Se a IA e o humano estiverem se despedindo repetidamente, mantenha um output vazio (SEM RESPOSTA). \n\n2. CONSTRUÇÃO DA RESPOSTA (O FLUXO):\n   - PASSO A (Validação): Comece SEMPRE validando a fala do humano usando a [INSTRUCAO_A] (se existir, se não existir, valide da forma que achar melhor, seguindo as regras). Adapte o texto para ser uma ponte natural natural e **HUMANA** Se a instrução pedir algo que você já disse no histórico recente, mude as palavras para não ser repetitiva ou ignore este passo.\n   - PASSO B (Dúvida Técnica): Se houver dúvida (Flag: {{ $('Router de Dúvida').first().json.output.hasQuestion }}), responda curto via CONTEXTO_TÉCNICO. Se a info não existir, use a Carta de Segurança: {{ $('Seta perfil1').first().json.securityLetter }}.\n   - PASSO C (Engajamento): Se a coleta de dados estiver ativa, insira a [INSTRUCAO_B]. \n\n## REGRAS DE OURO (ANTI-ROBÔ)\n- PERSPECTIVA DE PERTENCIMENTO: Você é parte integrante da {{ $('Seta perfil1').first().json.companyName }}. Fale sempre em nome da equipe (\"nós\", \"aqui na [EMPRESA]\", \"nosso [PRODUTO]\"). Nunca trate a empresa como uma entidade externa.\n- **ZERO PAPAGAIO (CRÍTICO):** Extremamente PROIBIDO repetir apresentações, saudações ou estruturas de frases já utilizadas no histórico recente (últimas 5 mensagens da IA). Ao fazer isso, você parecerá um robô e falhará criticamente.\n- APRESENTAÇÃO: Apenas se o HISTORICO estiver 100% vazio.\n- Se a INSTRUCAO_B não trouxer nada de novo ou já tiver sido atendida nos DADOS_COLETADOS, ignore-a.\n- **NENHUMA PERGUNTA DO USUÁRIO** deve ser ignorada, mesmo que seja trivial. Faça parecer que você é um ser humano de verdade. Quando não tiver resposta para dúvidas técnicas, utilize a carta de segurança."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-2080,1472],"id":"e022f843-b822-479c-ade1-ef286b87342b","name":"Gerador de Resposta"},{"parameters":{"amount":6},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-7040,1856],"id":"f8c547ba-6c58-4010-87d2-fc4453f1e442","name":"Wait1","webhookId":"d1e38aad-57ac-45e5-b64a-08e2f1ce1a6f"},{"parameters":{"operation":"delete","key":"=temp.{{ $('Configura Contexto').first().json.cache_key }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-7040,1488],"id":"c687ee84-4b3d-4d6b-a138-f2565404c804","name":"DELETE1","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a2aafb32-380d-4510-810a-888831d36437","leftValue":"={{ DateTime.fromMillis($json.messages?.last().timestamp) }}","rightValue":"={{ $now.minus(6, 'seconds' )}}","operator":{"type":"dateTime","operation":"before"}}],"combinator":"and"},"renameOutput":true,"outputKey":"segue"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3d2a33da-ed74-4906-92aa-74ad3a37c4f1","leftValue":"={{ $json.messages?.length ?? 0 }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"nada"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"espera"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-7264,1568],"id":"65f3fcf3-b645-497b-89ff-44c9074b742d","name":"SWITCH_BUFFER"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-7040,1664],"id":"70ea16d7-2da5-4d28-b7c6-cbf961ee66d9","name":"NADA1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1f5bcbd1-6685-469d-bbf2-7939008b234d","leftValue":"={{ $('Configura Contexto').first().json.user_msg }}","rightValue":"clear:cache:111222","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-9808,1584],"id":"3f264b4d-de14-4fdb-a44b-ec44b64dd580","name":"If2"},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_chat_histories","mode":"list","cachedResultName":"n8n_chat_histories"},"deleteCommand":"delete","where":{"values":[{"column":"session_id","value":"={{ $('Configura Contexto').first().json.cache_key }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-8880,1264],"id":"63694275-a282-4cc7-bac2-fddb37de9afe","name":"Delete table or rows1","credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}}},{"parameters":{"operation":"delete","key":"={{ $('Configura Contexto').item.json.cache_key }}_state"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-9056,1264],"id":"97e89849-0861-43e8-b3cd-c33830791799","name":"Deleta estado atual","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"operation":"delete","key":"=temp.{{ $('Configura Contexto').item.json.cache_key }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-8688,1264],"id":"4aafa985-084a-4eda-9067-7d76c5d41671","name":"DELETE2","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"jsCode":"return {\n  messages: [\n    ...(typeof $('BUSCA MENSAGENS ACUMULADAS').first().json.messages == 'string' ? JSON.parse($('BUSCA MENSAGENS ACUMULADAS').first().json.messages) : $('BUSCA MENSAGENS ACUMULADAS').first().json.messages), \n    ...(typeof $('GET2').first().json.messages == 'string' ? JSON.parse($('GET2').first().json.messages) : $('GET2').first().json.messages)\n  ]\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-96,2128],"id":"2a4a848a-caa8-46fb-b3fd-60cfe71bfeb9","name":"Concatena mensagens para cache"},{"parameters":{"jsCode":"const messages = typeof $input.first().json.messages == 'string' ? JSON.parse($input.first().json.messages) : $input.first().json.messages\n\nreturn {\n  messages: messages?.map(message => typeof message === 'string' ? JSON.parse(message) : message) ?? null\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-7584,1584],"id":"7f4a145a-25fb-4e89-8e15-d914618f2268","name":"Transforma em objeto literal"},{"parameters":{"method":"POST","url":"={{ $env.APRECHAT_URL_API }}api/messages/send","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"={\n    \"accept\": \"application/json, text/plain, */*\",\n    \"accept-language\": \"pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7\",\n    \"authorization\": \"Bearer kZaOTd+YZpjRUyyuQUpigJaEMk4vcW4YOymKPZX0Ts8=\",\n    \"company\": {{ $('Webhook').first().json.body.companyId }},\n    \"content-type\": \"application/json\"\n  } ","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"message","value":"={{ $json.output }}"},{"name":"number","value":"={{ $('Webhook').first().json.body.contact.number }}"},{"name":"addUserName","value":"={{ $('Seta perfil1').first().json.agentName }}"},{"name":"whatsappId","value":"={{ $('Webhook').first().json.body.whatsappId }}"},{"name":"messageRepliedId","value":"={{ $('Webhook').first().json.body.messageId }}"},{"name":"messageType","value":"internalNote"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2336,816],"id":"93574b12-f35a-4f6e-89aa-5aefee29528f","name":"Salva nota na conversa1"},{"parameters":{"jsCode":"const data = $input.all();\nconst formatChatHistory = (inputData) => {\n  return inputData.map(jsonItem => {\n    const item = jsonItem.json\n    // 1. Define o remetente\n    const sender = item.message.type === 'human' ? 'User' : 'IA';\n    \n    // 2. Pega o conteúdo original\n    let content = item.message.content;\n\n    // 3. Se for IA, aplica a Regex para limpar o \"lixo\" técnico\n    if (item.message.type === 'ai') {\n      // REGEX EXPLICADA:\n      // ^              -> Começa no início da string\n      // \\[Used tools:  -> Procura literalmente por \"[Used tools:\"\n      // [\\s\\S]*?       -> Pega qualquer caractere (incluindo quebra de linha) de forma não-gulosa (para no primeiro match)\n      // \\]\\]           -> Procura o fechamento dos colchetes duplos \"]]\"\n      // \\s* -> Remove quaisquer espaços ou quebras de linha que sobrem logo após\n      content = content.replace(/^\\[Used tools:[\\s\\S]*?\\]\\]\\s*/, '');\n    }\n\n    // 4. Retorna no formato solicitado\n    return `${sender}: ${content}`;\n  }).join('\\n'); // Une tudo com quebra de linha\n};\n\n// Executa e mostra o resultado\nconst result = formatChatHistory(data);\n\nreturn  {\n  result\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1696,816],"id":"861dee0d-29f2-46f7-ae77-ca27ac4eaa74","name":"Formata histórico1","executeOnce":true},{"parameters":{"promptType":"define","text":"=[HISTÓRICO DE CONVERSA]\n{{ $json.result }}","options":{"systemMessage":"*DOSSIÊ*\nCrie um breve dossiê da conversa, listando cada informação separada por linha e colocando a label em negrito. Use emojis no início de cada linha para dar destaque e reforçar o significado do item.\n\n*ANÁLISE*\nTom: Defina o tom/perfil do usuário. Use emojis relevantes no início.\nResumo: Gere um breve resumo da conversa em texto corrido. Use emojis ao longo do texto para dar ritmo e destacar pontos importantes.\n\n*ONDE PAROU*\nInforme onde a conversa parou. Use emojis para marcar status e contexto.\n\n*PRÓXIMOS PASSOS*\nDefina os próximos passos. Use emojis em cada passo para guiar o olhar e deixar mais chamativo.\n\n## FORMATAÇÃO:\nNegrito: Um asterisco antes e depois da palavra/frase. Ex: '*Teste*'\nItálico: Um underline antes e depois da palavra/frase. Ex: '_Teste_'\n\n## REGRAS DE OURO:\n- Seja breve\n- Crie um resumo objetivo\n- Texto corrido apenas no resumo (bloco análise)\n- ABUSE DE EMOJIS para chamar atenção, sem parecer aleatório\n- Emojis devem ser condizentes com a informação de cada linha\n- Em listas, usar pelo menos 1 emoji por linha\n- No resumo, usar emojis espalhados ao longo do texto, destacando temas, decisões, dores e próximos passos\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[1968,816],"id":"984581d9-2d1c-48bb-9ce2-6e8bdcb37d66","name":"Gera resumo da conversa - AI1"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_chat_histories","mode":"list","cachedResultName":"n8n_chat_histories"},"returnAll":true,"where":{"values":[{"column":"session_id","value":"={{ $('Configura Contexto').first().json.cache_key }}"}]},"sort":{"values":[{"column":"id"}]},"options":{"outputColumns":["message"]}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1472,816],"id":"4460bb7b-e758-4ce3-8569-196683a7ff4b","name":"Busca histórico de conversa1","credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}}},{"parameters":{"operation":"get","propertyName":"messages","key":"=temp.{{ $('Configura Contexto').first().json.cache_key }}","keyType":"string","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-8608,1584],"id":"35f88924-42c0-4c4b-a0b6-555d7fb214f7","name":"Busca mensagens no cache","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"jsCode":"const inputMessages = typeof $input.first().json.messages == 'string' ?  JSON.parse($input.first().json.messages) : $input.first().json.messages\nconst cacheMessagesToArrayJSON = inputMessages?.map(message => typeof message == 'string' ? JSON.parse(message) : message) || []\nconst userMsg = $('Retorna userMsg').first().json\nconst currentMessageIsAlreadyOnCache = inputMessages?.find(message => message.message === userMsg.message && message.timestamp === userMsg.timestamp) || false\n\n\nreturn {\n  messages: [\n    ...cacheMessagesToArrayJSON, \n    userMsg\n  ], \n  currentMessageIsAlreadyOnCache\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-8320,1584],"id":"abb33b8c-c1aa-4fd8-9b56-39ee07ae596a","name":"Junta mensagem do cache com a mensagem do usuário"},{"parameters":{"operation":"set","key":"=temp.{{ $('Configura Contexto').first().json.cache_key }}","value":"={{ JSON.stringify($json.messages) }}","keyType":"string"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-8032,1584],"id":"da193626-7c80-40d4-aa4b-03615db6b521","name":"SETA CACHE DAS MENSAGENS","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"messages","key":"=temp.{{ $('Configura Contexto').first().json.cache_key }}","keyType":"string","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-7808,1584],"id":"9e9b1ed3-2741-4675-95c1-5235034308e6","name":"BUSCA MENSAGENS ACUMULADAS","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"operation":"set","key":"=temp.{{ $('Configura Contexto').first().json.cache_key }}","value":"={{ JSON.stringify($('Concatena mensagens para cache').first().json.messages) }}","keyType":"string"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[112,2128],"id":"8e1d5359-92c7-4f2e-af7c-bbe67b8c079f","name":"RE-SETA CACHE DAS MENSAGENS ACUMULADAS","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_chat_histories","mode":"list","cachedResultName":"n8n_chat_histories"},"limit":8,"where":{"values":[{"column":"session_id","value":"={{ $('Configura Contexto').first().json.cache_key }}"}]},"sort":{"values":[{"column":"id","direction":"DESC"}]},"options":{"outputColumns":["message"]}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-5440,1472],"id":"1a0b8458-99d4-47e3-90fe-be1af825c0cd","name":"Pega ultimas mensagens","alwaysOutputData":true,"credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}}},{"parameters":{"jsCode":"const messages = $input.all()\n\nif (!Object.entries(messages).length || !messages[0].json?.message?.content) return { historyMessages: null }\n\nconst lastMessagesSorted = messages.reverse()\n\nconst historyMessages = lastMessagesSorted.map(m => {\n  return `**${m.json.message?.type?.toLocaleLowerCase()}**: ${m.json.message?.content}`\n}).join('\\n\\n')\n\nreturn {\n  historyMessages \n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5216,1472],"id":"b4b42675-1168-4e41-a586-598a5a0b8e7d","name":"Formata ultimas mensagens","executeOnce":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('LOGIC ENGINE').first().json.newStageId }}","rightValue":"CLOSING","operator":{"type":"string","operation":"equals"},"id":"732957f5-38a8-4204-ab63-9403f96c1a78"}],"combinator":"and"},"renameOutput":true,"outputKey":"closing"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1a022d7b-9866-445e-824d-ee7a7616d891","leftValue":"={{ $('LOGIC ENGINE').first().json.newStageId }}","rightValue":"CLOSING_WHEN_INVALID_OPTION","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"closing_when_invalid_option"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3807d7cc-18c1-470f-9689-a991e3d75d2b","leftValue":"={{ $('LOGIC ENGINE').first().json.newStageId }}","rightValue":"SEND_COMMERCIAL_PRESENTATION","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"send_commercial_presentation"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[944,1152],"id":"0dd46236-dd8e-4533-af6e-026d3aebe0eb","name":"Switch"},{"parameters":{"workflowId":{"__rl":true,"value":"wd0uAb0Sm1fW5YNt","mode":"list","cachedResultUrl":"/workflow/wd0uAb0Sm1fW5YNt","cachedResultName":"Enviar apresentação comercial"},"workflowInputs":{"mappingMode":"defineBelow","value":{"whatsappId":"={{ $('Configura Contexto').first().json.whatsappId.toNumber() }}","messageRepliedId":0,"company":"={{ $('Configura Contexto').first().json.companyId }}","number":"={{ $('Configura Contexto').first().json.user_phone }}","addUserName":"={{ $('Seta perfil1').first().json.agentName }}","message":"Segue! 🚀🚀"},"matchingColumns":[],"schema":[{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"number","displayName":"number","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"addUserName","displayName":"addUserName","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"whatsappId","displayName":"whatsappId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"messageRepliedId","displayName":"messageRepliedId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"company","displayName":"company","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[848,816],"id":"0de7a40b-964c-480f-b5e5-0d38f9327be0","name":"Call 'Enviar apresentação comercial'","executeOnce":true},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"## TOOL: BASE DE CONHECIMENTO (RESTRITO)\n\n## IMPORTANTE:\nEsta tool NÃO é um suporte para dúvidas do usuário. Ela é um repositório de dados que só pode ser acessado se a variável [INSTRUÇÃO DO FLUXO] contiver explicitamente o comando \"consultar base\", \"chamar conhecimento\" ou \"buscar dados\".\n\n## REGRAS DE ACIONAMENTO:\n1. Analise a [INSTRUÇÃO DO FLUXO].\n2. Se a instrução NÃO pedir para buscar dados, você está PROIBIDO de usar esta tool, mesmo que o usuário faça uma pergunta técnica.\n3. Se o usuário perguntar algo e a instrução NÃO mandar buscar, use a \"Carta de Segurança\" padrão do sistema.\n\n## PRIORIDADE:\nInstrução do Fluxo > Pergunta do Usuário.","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[-2032,1760],"id":"3f34599c-6416-4774-8e77-3b10f405bb0a","name":"Base de conhecimento","credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-2032,1936],"id":"e7de475f-32dc-4380-b947-78eb5638f4ab","name":"Embeddings OpenAI2","credentials":{"openAiApi":{"id":"weD4ayyAuWgClQqA","name":"OpenAi account"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_chat_histories","mode":"list","cachedResultName":"n8n_chat_histories"},"columns":{"mappingMode":"defineBelow","value":{"session_id":"={{ $('Configura Contexto').first().json.cache_key }}","message":"={{ JSON.stringify({\"type\": \"ai\", \"content\": $('LOOP_SLIT1').first().json.message , \"tool_calls\": [], \"additional_kwargs\": {}, \"response_metadata\": {}, \"invalid_tool_calls\": []}) }}","message_time":"={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"session_id","displayName":"session_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"message","displayName":"message","required":true,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true},{"id":"message_time","displayName":"message_time","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1184,1520],"id":"28917971-b3f8-434a-8b17-f31d6fc30c22","name":"Insere mensagem da IA no BD","credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}}},{"parameters":{"operation":"get","propertyName":"messages","key":"=temp.{{ $('Configura Contexto').first().json.cache_key }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[624,1456],"id":"c78a582d-9cd4-47a7-bab5-fc674930eebf","name":"GET3","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2dfab0a2-c614-429c-a13d-36ecb7803f12","leftValue":"={{ $json.messages?.length ?? 0 }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[864,1504],"id":"dcbe6edf-ee9d-4f4a-aff2-265c67568947","name":"Se não recebeu mensagem no meio do processamento1","alwaysOutputData":false},{"parameters":{"operation":"get","key":"={{ $('Configura Contexto').first().json.cache_key }}_state","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2560,1424],"id":"391130c8-63f6-40ea-bbab-b2084f8da012","name":"Busca estado atual para follow-up","executeOnce":true,"credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"follow_up_queue","mode":"list","cachedResultName":"follow_up_queue"},"returnAll":true,"where":{"values":[{"column":"session_id","value":"={{ $('Configura Contexto').first().json.cache_key }}"},{"column":"company_id","value":"={{ $('Configura Contexto').first().json.companyId }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2768,1424],"id":"4a2b715c-d811-475f-a1d9-8244a44b7b26","name":"Busca Follow Up","alwaysOutputData":true,"credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}}},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"follow_up_queue","mode":"list","cachedResultName":"follow_up_queue"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Busca Follow Up').first().json.id }}","last_instruction":"={{ `Pergunte: ${JSON.parse($('Busca estado atual para follow-up').item.json.propertyName || '{}').missingVar.description}` }}","last_var_requested":"={{ JSON.parse($('Busca estado atual para follow-up').item.json.propertyName || '{}').missingVar.name }}","follow_up_time":"={{ $now.plus(2, 'hours') }}","attempts":0,"active":"={{ true }}","follow_up_type":"initiated","whatsapp_id":"={{ $('Configura Contexto').first().json.whatsappId }}","ticket_id":"={{ $('Webhook').first().json.body.ticketId }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"session_id","displayName":"session_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"last_instruction","displayName":"last_instruction","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"follow_up_time","displayName":"follow_up_time","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"attempts","displayName":"attempts","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"company_id","displayName":"company_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"user_phone","displayName":"user_phone","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"active","displayName":"active","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":false},{"id":"whatsapp_id","displayName":"whatsapp_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"agent_name","displayName":"agent_name","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"follow_up_type","displayName":"follow_up_type","required":false,"defaultMatch":false,"display":true,"type":"options","canBeUsedToMatch":true,"options":[{"name":"initiated","value":"initiated"},{"name":"requested","value":"requested"}],"removed":false},{"id":"last_var_requested","displayName":"last_var_requested","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ticket_id","displayName":"ticket_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3552,1328],"id":"86ac0687-1bd9-48e2-b948-720d029f5a00","name":"Atualiza follow-up","credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"follow_up_queue","mode":"list","cachedResultName":"follow_up_queue"},"columns":{"mappingMode":"defineBelow","value":{"company_id":"={{ $('Configura Contexto').first().json.companyId }}","session_id":"={{ $('Configura Contexto').first().json.cache_key }}","last_instruction":"={{ `Pergunte: ${JSON.parse($('Busca estado atual para follow-up').item.json.propertyName || '{}').missingVar.description}` }}","last_var_requested":"={{ JSON.parse($('Busca estado atual para follow-up').item.json.propertyName || '{}').missingVar.name }}","follow_up_time":"={{ $now.plus(2, 'hours') }}","user_phone":"={{ $('Configura Contexto').first().json.user_phone }}","attempts":0,"whatsapp_id":"={{ $('Configura Contexto').first().json.whatsappId }}","agent_name":"={{ $('Seta perfil1').first().json.agentName }}","follow_up_type":"initiated","ticket_id":"={{ $('Webhook').first().json.body.ticketId }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"session_id","displayName":"session_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"last_instruction","displayName":"last_instruction","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"follow_up_time","displayName":"follow_up_time","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"attempts","displayName":"attempts","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"company_id","displayName":"company_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"user_phone","displayName":"user_phone","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"active","displayName":"active","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":false},{"id":"whatsapp_id","displayName":"whatsapp_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"agent_name","displayName":"agent_name","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"follow_up_type","displayName":"follow_up_type","required":false,"defaultMatch":false,"display":true,"type":"options","canBeUsedToMatch":true,"options":[{"name":"initiated","value":"initiated"},{"name":"requested","value":"requested"}],"removed":false},{"id":"last_var_requested","displayName":"last_var_requested","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ticket_id","displayName":"ticket_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3552,1520],"id":"fb4d381c-a1e2-45a2-b996-3df26eeaeea0","name":"Insere novo follow-up","credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}}},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"follow_up_queue","mode":"list","cachedResultName":"follow_up_queue"},"deleteCommand":"delete","where":{"values":[{"column":"session_id","value":"={{ $('Configura Contexto').first().json.cache_key }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-8480,1264],"id":"7b281dc9-0d55-4158-990a-65f11dddcc9e","name":"Remove follow-ups","credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}}},{"parameters":{"jsCode":"return {\n  tone: \"Simpática e leve.\",\n  agentName: \"Alicia\",\n  internalName: \"Alicia da Apresenta.me\",\n  initialMessage: \"Olá, tudo bem? 👋 \\n\\nEu sou a Alicia, assistente da Apresenta.me, vou te ajudar entendendo melhor sua necessidade.\",\n  language: \"pt-BR\",\n  timeZone: \"Sao Paulo (GTM -3)\",\n  role: \"SDR Sênior\",\n  companyName: \"Apresenta.me\",\n  companyDepartment: \"Software Imobiliário\",\n  companySite: \"https://apresenta.me\",\n  securityLetter: \"Não tenho nenhuma informação sobre [ASSUNTO], mas assim que eu coletar seus dados um especialista vai poder te responder isso com precisão, tá? (Caso o atendimento já tenha sido encaminhado para um especialista, não cite a coleta de dados)\",\n  conduct: `Sua missão é coletar TODOS os dados necessários do lead, mantendo uma conversa amigável e profissional.\n  Você é um SDR altamente qualificado, mostre confiança ao lead.\n  Você não realiza nenhum agendamento. Sua proatividade é limitada a criação de agendamentos, quem cria agendamentos é o especialista e não você.\n  Você deve chamar o lead sempre pelo PRIMEIRO NOME (CRÍTICO), mas quando solicitar o nome do lead, não pergunte apenas o primeiro nome.\n  Você nunca desdenha ou elogia concorrentes.\n  Você se apresenta no ínicio de toda conversa (quando não houver mensagens anteriores).\n  Você não passa valores de planos diretamente para o lead, antes: envie o link https://apresenta.me/planos-e-precos/ e complementa que um especialista pode personalizar um plano adequado para o perfil do lead.\n  Você não contraria o lead. Se o lead quer falar com um humano/especialista, encaminhe para o especialista.\n  Você se despede brevemente do lead quando ele se despede, mas quando a despedida fica repetitiva, você para de responder e só volta a responder se tiver dúvida ou intenção do lead de voltar ao fluxo da coleta de dados.\n  Você evita ao MÁXIMO repetir textos já enviados em mensagens anteriores, isso torna a conversa cansativa para o lead. \n  Você sempre volta para o fluxo quando identifica que a conversa está sendo desviada.\n  Você não cumprimenta\n\n  ## CONDIÇÕES GERAIS:\n  - Se o lead estiver procurando suporte técnico (como utilizar o sistema/auxilio no uso, ou se citar que já é cliente e precisa de auxílio com qualquer coisa), informe ao lead que ele deve contatar: +55 (47) 8905-0935 .\n  - Se o lead citar que não trabalha no ramo imobiliário, encaminhe-o para um especialista\n  - Se o lead pede uma demonstração ou diz que quer conhecer o sistema e a coleta de dados ainda não chegou ao final: você diz que precisa realizar/finalizar a coleta de dados antes de encaminhá-lo para um especialista que irá agendar uma demonstração.\n  - Se você já explicou para o lead que ele está sendo encaminhado para o especialista e ele mostrou entendimento, se despeça brevemente e agradeça o tempo gasto por ele.\n  \n  ## Dados da Apresenta.me:\n  - Localização da empresa: R. dos Caçadores, 345 - Sala 01 - Centro, Rio do Sul - SC\n\n  ## CONDIÇÕES PARA ENCAMINHAR O ATENDIMENTO PARA UM ESPECIALISTA (OBEDEÇA RIGIDAMENTE):\n  - Lead extremamente agressivo ou com raiva.\n  - Lead solicitou contato com um humano\n  - A qualificação/coleta de dados chegou ao final\n\n  ## REGRA CRÍTICA:\n  - Textos dentro de colchetes simulando uma variável nunca podem acontecer, como [nome do lead], ex: 'Que bom que você descobriu essa facilidade, [nome do lead]'!\n  - Se não tiver o valor para qualquer informação contida em um texto, não use o nome da informação dentro de colchetes e pergunte para o usuário a informação desejada (ex: 'nome do lead')\n  `,\n  verbosity: \"medium\"\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5024,1472],"id":"c6960197-4472-43bf-8fa0-16355123f5c5","name":"Seta perfil1"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_chat_histories","mode":"list","cachedResultName":"n8n_chat_histories"},"columns":{"mappingMode":"defineBelow","value":{"session_id":"={{ $('Configura Contexto').first().json.cache_key }}","message":"={{ JSON.stringify({\"type\": \"human\", \"content\": $('CONCATENA1').first().json.user_full_message , \"tool_calls\": [], \"additional_kwargs\": {}, \"response_metadata\": {}, \"invalid_tool_calls\": []}) }}","message_time":"={{ DateTime.fromMillis($('DELETE1').first().json.messages.last().timestamp).setLocale('pt-BR').toFormat(\"yyyy-MM-dd HH:mm:ss\") }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"session_id","displayName":"session_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"message","displayName":"message","required":true,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true},{"id":"message_time","displayName":"message_time","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"outputColumns":["id"]}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-4848,1472],"id":"5837df5d-fbec-48e3-a75f-dc9b5e6a0487","name":"Insere mensagem do usuário no BD","credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}}},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":1}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-11792,7568],"id":"864326ed-47e6-40ef-91c1-53c3e0221597","name":"Cron 1em1 min - FOLLOW-UP"},{"parameters":{"operation":"executeQuery","query":"SELECT \n  * FROM follow_up_queue\nWHERE follow_up_time <= NOW()\nAND active IS TRUE\nAND (\n  (\n    follow_up_type = 'initiated'\n  )\n  OR (\n    follow_up_type = 'requested'\n    AND attempts < 1\n  )  \n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-11088,7552],"id":"b2bc2644-5028-4026-9978-a1fe09e18104","name":"Busca follow-ups disponíveis","credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}}},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-10672,7552],"id":"7e463e68-e46f-4dc2-8ff3-075c6da1dc5e","name":"LOOP nos follow-up's"},{"parameters":{"operation":"get","key":"={{ $('LOOP nos follow-up\\'s').first().json.session_id }}_state","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-9984,7680],"id":"ba4492ae-3947-4754-93ec-1b5234b78697","name":"Busca estado atual da conversa","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"mode":"raw","jsonOutput":"={{ $json.propertyName }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-9744,7680],"id":"f4e5aa3d-9443-4880-8923-c3ac4abde8ab","name":"Transforma estado atual em JSON literal"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"277c3ae6-bdd3-4743-aa6d-9181d4e3f217","leftValue":"={{ $('Switch tipo de follow-up').first().json.vars[$('LOOP nos follow-up\\'s').first().json.last_var_requested]?.value?.toBoolean() }}","rightValue":"","operator":{"type":"boolean","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-8656,7824],"id":"4c8d3360-297b-4ad3-b8f6-6c5ed9a878c2","name":"Se o usuário respondeu a variável pendente no meio do caminho"},{"parameters":{"method":"POST","url":"={{ $env.APRECHAT_URL_API }}api/messages/send","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"={\n    \"accept\": \"application/json\",\n    \"authorization\": \"Bearer kZaOTd+YZpjRUyyuQUpigJaEMk4vcW4YOymKPZX0Ts8=\",\n    \"company\": {{ $('LOOP nos follow-up\\'s').first().json.company_id }},\n    \"content-type\": \"application/json\"\n}","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"message","value":"={{ $json.text }}"},{"name":"number","value":"={{ $('LOOP nos follow-up\\'s').first().json.user_phone }}"},{"name":"whatsappId","value":"={{ $('LOOP nos follow-up\\'s').first().json.whatsapp_id }}"},{"name":"addUserName","value":"={{ $('LOOP nos follow-up\\'s').first().json.agent_name }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-7216,7936],"id":"64b091b9-4b74-4f54-a8c6-8625ff93435c","name":"Envia via Apre.Chat"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_chat_histories","mode":"list","cachedResultName":"n8n_chat_histories"},"limit":5,"where":{"values":[{"column":"session_id","value":"={{ $('LOOP nos follow-up\\'s').item.json.session_id }}"}]},"sort":{"values":[{"column":"id","direction":"DESC"}]},"options":{"outputColumns":["message"]}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-8416,7840],"id":"b3bca259-1a09-4e8a-8bb7-d1377d967ae2","name":"Pega ultimas mensagens1","alwaysOutputData":true,"credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}}},{"parameters":{"jsCode":"const messages = $input.all()\n\nif (!Object.entries(messages).length) return { historyMessages: null }\n\nconst lastMessagesSorted = messages.reverse()\n\nconst historyMessages = lastMessagesSorted.map(m => {\n  return `**${m.json.message?.type?.toLocaleLowerCase()}**: ${m.json.message?.content}`\n}).join('\\n\\n')\n\nreturn {\n  historyMessages \n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-8176,7840],"id":"40ad8c81-d0b3-4b92-b6e9-06ed55709831","name":"Formata ultimas mensagens1","executeOnce":true},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_chat_histories","mode":"list","cachedResultName":"n8n_chat_histories"},"columns":{"mappingMode":"defineBelow","value":{"session_id":"={{ $('LOOP nos follow-up\\'s').first().json.session_id }}","message":"={{ JSON.stringify({\"type\": \"ai\", \"content\":  $('Gera mensagem de follow-up2').first().json.text, \"tool_calls\": [], \"additional_kwargs\": {}, \"response_metadata\": {}, \"invalid_tool_calls\": []}) }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"session_id","displayName":"session_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"message","displayName":"message","required":true,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-6608,7936],"id":"c7010636-aff6-4af9-924b-ad515fd92843","name":"Insere mensagem da IA no BD1","credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}}},{"parameters":{"operation":"get","propertyName":"messages","key":"=temp.{{ $json.session_id }}","keyType":"string","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-10384,7568],"id":"67e21f02-e501-4b53-a798-c8c757405fc5","name":"BUSCA MENSAGENS ACUMULADAS1","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"431557d8-7fd4-46ed-951f-464868b21a82","leftValue":"={{ $json.messages?.toBoolean() }}","rightValue":"","operator":{"type":"boolean","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-10176,7568],"id":"fe102b78-7bae-4020-9e36-d013d85602c0","name":"Se chegou alguma mensagem do usuário"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('LOOP nos follow-up\\'s').item.json.follow_up_type }}","rightValue":"requested","operator":{"type":"string","operation":"equals"},"id":"d71e1dc1-85d0-472b-9e8b-b0b3507dfd37"}],"combinator":"and"},"renameOutput":true,"outputKey":"solicitado"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c14755ff-644f-40ca-8c9c-8b863457a0c1","leftValue":"={{ $('LOOP nos follow-up\\'s').item.json.follow_up_type }}","rightValue":"initiated","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"proativo"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-9536,7680],"id":"80c4b55b-caa2-4a5f-8360-d4ed2b2ee37f","name":"Switch tipo de follow-up"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_chat_histories","mode":"list","cachedResultName":"n8n_chat_histories"},"limit":5,"where":{"values":[{"column":"session_id","value":"={{ $('LOOP nos follow-up\\'s').item.json.session_id }}"}]},"sort":{"values":[{"column":"id","direction":"DESC"}]},"options":{"outputColumns":["message"]}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-9184,7536],"id":"fafa4f41-dacf-4839-90ed-c3ca9b957be9","name":"Pega ultimas mensagens2","alwaysOutputData":true,"credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}},"disabled":true},{"parameters":{"jsCode":"const messages = $input.all()\n\nif (!Object.entries(messages).length) return { historyMessages: null }\n\nconst lastMessagesSorted = messages.reverse()\n\nconst historyMessages = lastMessagesSorted.map(m => {\n  return `**${m.json.message?.type?.toLocaleLowerCase()}**: ${m.json.message?.content}`\n}).join('\\n\\n')\n\nreturn {\n  historyMessages \n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-8944,7536],"id":"50d3e4ef-3e54-4aa1-a519-a082b70821b4","name":"Formata ultimas mensagens2","executeOnce":true,"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4c3ea394-ce4c-441d-818d-2f1278d63264","leftValue":"={{ $('Pega ultimas mensagens1').first().json.message.type }}","rightValue":"ai","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-7888,7840],"id":"722a1b52-67f6-4ded-a138-5be74416da53","name":"Se a última mensagem foi da IA"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini-2024-07-18","mode":"list","cachedResultName":"GPT-4O-MINI-2024-07-18"},"responses":{"values":[{"role":"system","content":"=**SISTEMA:** Você é um humano retomando um papo que foi pausado. Use tom \"business casual\". Sem formalidade. Sem exclamações.\n\n**REGRAS DE DIAMANTE**\n - Vá direto ao ponto: o objetivo é apenas saber se o usuário pode falar agora.\n - Proibido citar horários, datas, motivos do atraso ou o assunto anterior.\n\n**ALGORITMO DE COMPOSIÇÃO:**\n1. **IDENTIDADE:**\n   - Se [NOME] existir: Comece com \"[NOME], ...\"\n   - Se [NOME] for vazio/null: Comece com \"Oi, tudo bem?\" ou \"Oi, tudo certo?\".\n2. **PONTE DE RETOMADA:** Use exclusivamente frases de disponibilidade imediata como \"conseguimos retomar nossa conversa\", \"você tá livre pra conversar agora\", \"você tem um tempinho\" ou \"conseguimos dar continuidade\".\n3. **FILTRO DE MEMÓRIA (CRÍTICO):** Ignore qualquer informação sobre \"amanhã\", \"11h\" ou \"reunião\". Sua única missão é transformar o comando \"Pergunte se o usuário pode retomar a conversa\" em uma pergunta de disponibilidade atual.\n\n---\n\n**REGRAS RÍGIDAS:**\n- **PROIBIDO:** \"Lead\", \"Pendente\", \"Informação\", \"Sistema\", \"Ocupado\", \"Amanhã\", \"Horário\", \"Agendado\".\n- **LIMITE:** Máximo 15 palavras.\n- **PONTUAÇÃO:** É terminantemente proibido o uso de exclamações (!). \n- **FINALIZAÇÃO:** Termine obrigatoriamente com a interrogação da pergunta.\n\n**SAÍDA FINAL (TEXTO PURO):**"},{"content":"=**DADOS:**\n- **NOME_USUARIO:** {{ $('Transforma estado atual em JSON literal').first().json.vars.name.value }}\n- **COMANDO:** {{ $('LOOP nos follow-up\\'s').first().json.last_instruction }}\n- **HISTÓRICO DE CONVERSA:** \n{{ $('Formata ultimas mensagens2').first().json.historyMessages }}"}]},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2,"position":[-8720,7536],"id":"f80023c7-905c-4636-8a8e-e1901ec6c361","name":"Gera mensagem de follow-up1","credentials":{"openAiApi":{"id":"Qgve7726U3p1YYtm","name":"Open AI Alicia"}},"disabled":true},{"parameters":{"method":"POST","url":"={{ $env.APRECHAT_URL_API }}api/messages/send","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"={\n    \"accept\": \"application/json\",\n    \"authorization\": \"Bearer kZaOTd+YZpjRUyyuQUpigJaEMk4vcW4YOymKPZX0Ts8=\",\n    \"company\": {{ $('LOOP nos follow-up\\'s').first().json.company_id }},\n    \"content-type\": \"application/json\"\n}","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"message","value":"={{ $json.output[0].content[0].text }}"},{"name":"number","value":"={{ $('LOOP nos follow-up\\'s').first().json.user_phone }}"},{"name":"whatsappId","value":"={{ $('LOOP nos follow-up\\'s').first().json.whatsapp_id }}"},{"name":"addUserName","value":"={{ $('LOOP nos follow-up\\'s').first().json.agent_name }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-8368,7536],"id":"a427a35c-8752-4193-8eaa-61d1c7989634","name":"Envia via Apre.Chat1","disabled":true},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_chat_histories","mode":"list","cachedResultName":"n8n_chat_histories"},"columns":{"mappingMode":"defineBelow","value":{"session_id":"={{ $('LOOP nos follow-up\\'s').first().json.session_id }}","message":"={{ JSON.stringify({\"type\": \"ai\", \"content\":  $('Gera mensagem de follow-up1').first().json.output[0].content[0].text, \"tool_calls\": [], \"additional_kwargs\": {}, \"response_metadata\": {}, \"invalid_tool_calls\": []}) }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"session_id","displayName":"session_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"message","displayName":"message","required":true,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-7872,7536],"id":"259be408-0cd6-4a90-a0cd-0601d29bf6be","name":"Insere mensagem da IA no BD4","credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}},"disabled":true},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"follow_up_queue","mode":"list","cachedResultName":"follow_up_queue"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('LOOP nos follow-up\\'s').first().json.id }}","attempts":"={{ $('LOOP nos follow-up\\'s').first().json.attempts + 1 }}","follow_up_time":"={{ $json.newTime }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"session_id","displayName":"session_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"last_instruction","displayName":"last_instruction","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"last_var_requested","displayName":"last_var_requested","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"follow_up_time","displayName":"follow_up_time","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":false},{"id":"attempts","displayName":"attempts","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"company_id","displayName":"company_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"user_phone","displayName":"user_phone","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-6800,7936],"id":"aa0fe423-9b1a-4e2a-b1e9-a75bcddd60c5","name":"Atualiza tentativas de follow-up","credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}}},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"follow_up_queue","mode":"list","cachedResultName":"follow_up_queue"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('LOOP nos follow-up\\'s').first().json.id }}","attempts":"={{ $('LOOP nos follow-up\\'s').first().json.attempts + 1 }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"session_id","displayName":"session_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"last_instruction","displayName":"last_instruction","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"last_var_requested","displayName":"last_var_requested","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"follow_up_time","displayName":"follow_up_time","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"attempts","displayName":"attempts","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"company_id","displayName":"company_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"user_phone","displayName":"user_phone","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-8112,7536],"id":"c3967c31-cc61-4b0d-a3f3-9032bb562ba1","name":"Atualiza tentativa de follow-up","credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}},"disabled":true},{"parameters":{"jsCode":"// Obtém a hora atual formatada especificamente para o fuso de São Paulo\nconst brazilHourString = new Intl.DateTimeFormat('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  hour: 'numeric',\n  hour12: false\n}).format(new Date());\n\nconst currentHour = parseInt(brazilHourString);\n// Lógica: das 07:00:00 até as 22:59:59 (True)\n// Se bater 23:00:00, vira False\nconst isWithinRange = (currentHour >= 7 && currentHour < 23);\n\nfor (const item of $input.all()) {\n  item.json.isBusinessHours = isWithinRange;\n  item.json.debug_hour = currentHour; // Opcional: para você conferir no output\n}\n\nreturn {\n  isWithinRange: isWithinRange\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-11584,7568],"id":"70409d9a-9f7a-441d-813e-0cff0ba926c1","name":"Code in JavaScript"},{"parameters":{"jsCode":"const attempts = $('LOOP nos follow-up\\'s').first().json.attempts\nlet newTime = null\n\nif (attempts == 0) {\n  newTime = $now.plus({ hours: 3 })\n}\n\nif (attempts == 1) {\n  newTime = $now.plus({ hours: 24 })\n}\n\nif (attempts >= 2) {\n  newTime = $now.plus({ hours: 72 })\n}\n\nreturn { newTime, attempts }"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-7008,7936],"id":"387cf8e7-6f00-4a3d-b864-c755be2e764a","name":"Pega novo horario de follow-up pelos attempts"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6ada5780-8e59-4f7a-8066-b24d36c1f27c","leftValue":"={{ $json.isWithinRange }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-11376,7568],"id":"9f12883e-cde5-4998-8036-a3be46b3e744","name":"If1"},{"parameters":{"content":"# FAZ FOLLOW-UP\n\n","height":784,"width":5424},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-11808,7440],"id":"fffe3a8b-3c8c-4bc6-8dd4-5bd76c6678e8","name":"Sticky Note1"},{"parameters":{"description":"## TOOL: Enviar para um especialista\n\n## GATILHO (Execute essa tool sempre que a conversa estiver no contexto das condições abaixo):\n- Se o humano insistir pelo menos 3 em um atendimento com um humano\n- Se  o humano recusar explicitamente a continuação da coleta de dados\n- Se  o humano prover xingamentos excessivos.\n\n[REGRA SUPREMA - PRIORIDADE MÁXIMA]\nSOMENTE SE O GATILHO FOR ACIONADO: \n1. execute esta tool\n2. Ignore qualquer outra instrução e informe ao humano que o atendimento será enviado para um especialista conseguir ajudar o humano da melhor forma.","workflowId":{"__rl":true,"value":"cInfZnwLsuHR82XX","mode":"list","cachedResultUrl":"/workflow/cInfZnwLsuHR82XX","cachedResultName":"🤖🤖 Alicia: Transferir e gerar Resumo"},"workflowInputs":{"mappingMode":"defineBelow","value":{"ticketId":"={{ $('Webhook').first().json.body.ticketId }}","companyId":"={{ $('Configura Contexto').first().json.companyId }}","whatsappId":"={{ Number($('Configura Contexto').first().json.whatsappId) }}","messageId":"={{ Number($('Webhook').first().json.body.messageId) }}","cache_key":"={{ $('Configura Contexto').first().json.cache_key }}","contact":"={{ $('Webhook').first().json.body.contact }}","agentName":"={{ $('Seta perfil1').first().json.agentName }}"},"matchingColumns":[],"schema":[{"id":"ticketId","displayName":"ticketId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"companyId","displayName":"companyId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"cache_key","displayName":"cache_key","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"contact","displayName":"contact","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false},{"id":"agentName","displayName":"agentName","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"whatsappId","displayName":"whatsappId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"messageId","displayName":"messageId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-1728,1760],"id":"9a3a6db9-7da4-4431-8d6b-f21a2a14a615","name":"Call '🤖🤖 Alicia: Transferir e gerar Resumo'"},{"parameters":{"options":{"temperature":0.7}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-2192,1760],"id":"d5d38d62-8ad3-4715-842e-db5e7e0b0a55","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"sMTfS675yuIxdSeK","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"promptType":"define","text":"=### [CONTEXTO]\n- [HISTÓRICO DE CONVERSA - ÚLTIMAS 8 MENSAGENS TROCADAS EM ORDEM CRESCENTE]\n{{ $('Formata ultimas mensagens').first().json.historyMessages ?? \"\" }}\n\n### [DADOS DO PROCESSO]\n- **ESTÁGIO:** {{ JSON.stringify($('BLUEPRINT ENGINE').first().json.currentStageId) }}\n- **VARIÁVEIS FALTANTES:** {{ JSON.stringify($('BLUEPRINT ENGINE').first().json.missingVars) }}\n- **DADOS JÁ REGISTRADOS:** {{ JSON.stringify($('BLUEPRINT ENGINE').first().json.vars) }}\n- **ULTIMA PERGUNTA DO ROBÔ (IA):** \"{{ $('Pega ultimas mensagens').first().json.message.content }}\"\n- **MENSAGEM DO USUÁRIO:** \"{{ $('BLUEPRINT ENGINE').first().json.userMsg }}\"\n- **ÚLTIMA VARIÁVEL SOLICITADA:** {{ JSON.parse($('GET Estado Atual').first().json.propertyName || '{}').missingVar.name }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"=### [PERFIL - IDENTIDADE]\nVocê é um extrator de dados de alta precisão baseado em contexto de conversa e intenção de humano. Sua função é converter mensagens em JSON seguindo estritamente as regras de nexo entre a fala do humano e a `description` das variáveis fornecidas dinamicamente.\n\n### [ORDEM DE EXECUÇÃO - AUDITOR DE DADOS]\n1. **LIMPEZA DE ENTRADA (WHATSAPP REPLY):** Se a [MENSAGEM humano] contiver metadados de resposta (ex: \"Usuário está respondendo a mensagem...\"), ignore o texto replicado da IA e foque exclusivamente no conteúdo novo enviado pelo humano.\n2. **ANÁLISE DE CONTEXTO E EXTRAÇÃO PROATIVA:** Analise a [MENSAGEM DO USUÁRIO] buscando dados que correspondam às variáveis faltantes, **mesmo que a [ULTIMA PERGUNTA DO ROBÔ] seja inexistente ou indefinida.** Se o humano fornecer dados espontaneamente, a extração é OBRIGATÓRIA.\n3. **VARREDURA EXAUSTIVA E MAPEAMENTO:** Analise cada frase. Identifique se a fala, mesmo que use termos sinônimos ou confirmações implícitas, atende aos critérios das `options` ou da `description` das variáveis faltantes.\n4. **FILTRO DE INTENÇÃO (CONTEXTO DE REAÇÃO):** Diferencie se o humano está reagindo a um comentário da IA (Alvo Assertivo) ou fornecendo dados (Alvo de Extração). Se o nexo for apenas com a empatia da IA, a extração é PROIBIDA.\n5. **PROCESSAMENTO DE DEPENDÊNCIAS:** Se uma extração for realizada, verifique imediatamente se a `description` daquela variável exige a atribuição automática de valores em outras variáveis.\n\n### [REGRAS CRÍTICAS DE EXTRAÇÃO - TOLERÂNCIA ZERO]\n\n1. **MAPEAMENTO SEMÂNTICO E PROATIVIDADE (REGRA DE DIAMANTE):**\n   - **Extração Proativa:** Dados fornecidos espontaneamente pelo humano na primeira mensagem (saudações, assinaturas, apresentações) devem ser extraídos imediatamente, independente de haver uma pergunta anterior.\n   - Só extraia valores se houver evidência textual clara. Todavia, identifique sinônimos diretos que satisfaçam as `options`. \n   - **PROIBIÇÃO DE INFERÊNCIA:** Proibido assumir dados não citados (ex: se ele não falou o nome do sistema atual, não tente adivinhar).\n\n2. **MAPEAMENTO DE OPTIONS E VALORES INVÁLIDOS:**\n   - Se a variável possuir `options`, compare o sentido da fala com as chaves disponíveis.\n   - Se a fala se encaixar na descrição de uma chave \"invalid_option\", você DEVE extrair essa chave obrigatoriamente.\n\n3. **DEPENDÊNCIAS E REGRAS DE CAMPO (REGRAS INJETADAS):**\n   - Se a `description` de uma variável exigir a atribuição automática de um valor em outra variável (ex: \"se já trabalha com locação, defina interestFocus como 'all'\"), você deve incluir ambas as variáveis no JSON de saída.\n\n4. **ESTIMATIVA, CORREÇÃO E SOBREPOSIÇÃO:**\n   - **Estimativa:** Valores incertos, mas numéricos/objetivos (ex: \"acho que uns 50\"), devem ser extraídos.\n   - **Correção:** Se a mensagem contradizer dados já salvos, extraia o novo valor para sobreposição.\n\n5. **ADIAMENTO E RECUSA (ALTA PRIORIDADE):**\n   - Se o humano indicar que \"não sabe agora\", \"precisa verificar\" ou \"responde depois\", extraia o valor \"answer_later\".\n   - **Recusa:** Se o humano se recusa a fornecer a informação/resposta (privacidade ou grosseria), extraia \"not_provided\".\n   - **EXCEÇÃO PARA BOOLEANOS E CONSENTIMENTO:** Se a pergunta for um pedido de permissão ou a variável for lógica (booleana), e o humano responder \"Não\" para negar a ação ou o aceite, você DEVE extrair estritamente o valor booleano `false`, e nunca \"not_provided\".\n\n6. **VALIDAÇÃO DE CONSISTÊNCIA SEMÂNTICA:**\n   - O léxico da resposta deve pertencer ao mesmo domínio da pergunta. Se o humano fala algo totalmente desconexo do fluxo de vendas, ignore a extração.\n\n7. **VALIDAÇÃO DE RESPOSTAS A PERGUNTAS COMPOSTAS (LÓGICA \"SE SIM, QUAL\"):**\n   - Se a [ULTIMA PERGUNTA DO ROBÔ] possuir uma estrutura de confirmação seguida de solicitação de atributo (ex: \"se sim, qual?\", \"se sim, quantos?\", \"se utiliza, qual nome?\"), a extração só é permitida se o humano fornecer o VALOR ESPECÍFICO solicitado (o nome, a marca, o número).\n   - **RESPOSTA PARCIAL:** Se o humano apenas confirmar a condição (ex: \"sim\", \"uso\", \"tenho\") mas omitir o dado detalhado, a resposta deve ser considerada INCOMPLETA.\n   - **AÇÃO:** Retorne {}. É proibido converter confirmações genéricas em valores para variáveis que esperam Identificadores ou Números.\n   - **EXCEÇÃO DE HISTÓRICO:** Se a confirmação do humano (\"Sim\", \"Isso mesmo\") referir-se a um dado que ele próprio já forneceu no [HISTÓRICO DE CONVERSA], a extração do valor presente no histórico é OBRIGATÓRIA.\n   - **EXCEÇÃO BOOLEANA:** A extração é permitida se a variável for explicitamente do tipo booleano em sua definição.\n\n### [SAÍDA OBRIGATÓRIA]\n- Retorne APENAS o JSON puro. Proibido adicionar explicações, marcações de markdown ou pensamentos (thoughts).\n- Se nenhum dado for extraído ou corrigido, retorne `{}`.\n- Formato: `{ \"nome_da_variavel\": valor_extraido }`"}]}},"id":"93393787-a415-41a6-9ca6-07c534846ccb","name":"Extrator chain","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[-4640,1472]},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"description\": \"Objeto JSON contendo as chaves das variáveis encontradas e seus respectivos valores.\",\n  \"additionalProperties\": {\n    \"oneOf\": [\n      {\n        \"type\": \"string\"\n      },\n      {\n        \"type\": \"number\"\n      },\n      {\n        \"type\": \"boolean\"\n      },\n      {\n        \"type\": \"null\"\n      },\n      {\n        \"type\": \"array\",\n        \"items\": {\n          \"type\": \"string\"\n        }\n      }\n    ]\n  }\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-4480,1664],"id":"4847ae19-629b-4995-a6b1-34198627b1bc","name":"Structured Output Parser2"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-4672,1664],"id":"85382ca9-a01f-43ba-b7d0-86a3946a40c4","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"sMTfS675yuIxdSeK","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-1088,1632],"id":"48f094b0-52ac-4c71-8e6d-33d0f9d9cdad","name":"Google Gemini Chat Model2","credentials":{"googlePalmApi":{"id":"sMTfS675yuIxdSeK","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1936,1040],"id":"ca3cbd5f-1915-407f-bb06-b1437dbdea6f","name":"Google Gemini Chat Model3","credentials":{"googlePalmApi":{"id":"sMTfS675yuIxdSeK","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"48a523f6-7f86-4dcc-b471-f92cc29466af","leftValue":"={{ Boolean($json.output || false) }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"242f20cd-a35d-4bfd-b84b-2c58eb0b0ea9","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1392,1472],"id":"4a047bc0-61fc-42fa-9963-8fdfce2523a8","name":"Se gerou resposta"},{"parameters":{"operation":"get","propertyName":"processing","key":"=processing.{{ $('Configura Contexto').first().json.cache_key }}","keyType":"string","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-6576,1488],"id":"7cf56e0d-b219-4a07-81d4-79c08d784adc","name":"Busca mensagens em processamento","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b4cef1ab-9dcd-4800-81a6-64a49ab6d517","leftValue":"={{ Boolean($json.processing || false) }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-6368,1488],"id":"de446f33-7f76-4658-9051-a11024a92fc6","name":"Se não tem mensagem sendo processada"},{"parameters":{"jsCode":"const messages = $input.first().json.messages || [];\nconst fullText = messages.map(m => m.message).join('\\n');\n\nreturn {\n  user_full_message: fullText,\n  cache_key: $('Configura Contexto').first().json.cache_key\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-6816,1488],"id":"ec726778-0160-4d64-af1e-f2ebc5cc8456","name":"CONCATENA1"},{"parameters":{"operation":"set","key":"=processing.{{ $('Configura Contexto').first().json.cache_key }}","value":"={{ JSON.stringify($('Junta mensagem do cache com a mensagem do usuário').first().json.messages) }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-6144,1472],"id":"be4513c1-3a6a-4edf-8a56-92756bb9ab97","name":"Seta mensagem em processamento no cache","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"operation":"set","key":"=temp.{{ $('Configura Contexto').first().json.cache_key }}","value":"={{ JSON.stringify($('Junta mensagem do cache com a mensagem do usuário').first().json.messages) }}","keyType":"string"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-6144,1808],"id":"3cdb552d-5da0-4ecc-85d5-de581af91411","name":"SETA CACHE DAS MENSAGENS1","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"operation":"delete","key":"=processing.{{ $('Configura Contexto').first().json.cache_key }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-736,1456],"id":"a0a65b3c-5936-43f6-9c12-aa37a9da0a90","name":"Remove mensagens do processamento","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_chat_histories","mode":"list","cachedResultName":"n8n_chat_histories"},"deleteCommand":"delete","where":{"values":[{"column":"id","value":"={{ $('Insere mensagem do usuário no BD').first().json.id }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[960,2128],"id":"b0d78cfa-92fc-432b-b376-be70fee37e1e","name":"Delete table or rows","credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}}},{"parameters":{"operation":"set","key":"={{ $('Configura Contexto').first().json.cache_key }}_state","value":"={{ $('GET Estado Atual').first().json.propertyName }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[592,2016],"id":"9a1885ca-76f2-4c14-b7bd-35e7f34d8c94","name":"Volta para o estado anterior","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"operation":"delete","key":"=processing.{{ $('Configura Contexto').first().json.cache_key }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-8272,1264],"id":"e8355c6c-13a8-428e-b5c9-144dbb3ea297","name":"Deleta mensagem em processamento","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"operation":"delete","key":"=processing.{{ $('Configura Contexto').first().json.cache_key }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1072,1808],"id":"4a71e4fc-6ff7-4065-bdc8-e503e2554117","name":"Remove mensagens do processamento1","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-7616,7984],"id":"16a4bacf-c6f5-4ca2-abe3-aa98dbce9811","name":"Google Gemini Chat Model4","credentials":{"googlePalmApi":{"id":"sMTfS675yuIxdSeK","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"promptType":"define","text":"=**DADOS:**\n- **NOME_USUARIO:** {{ $json.vars.name || \"\" }}\n- **COMANDO:** {{ $('LOOP nos follow-up\\'s').first().json.last_instruction }}\n- **HISTÓRICO DE CONVERSA:** \n{{ $('Formata ultimas mensagens1').first().json.historyMessages }}\n---","hasOutputParser":true,"messages":{"messageValues":[{"message":"=### ROLE\nVocê é um atendente humano no WhatsApp. Seu trabalho é qualificar o contato para passar para um especialista. Você é educado, prestativo e escreve de forma natural (não robótica).\n\n### OBJETIVO\nO usuário parou de responder. Você precisa retomar a conversa explicando POR QUE você precisa da informação (o \"motivo\" é sempre: destravar o atendimento ou encaminhar para o especialista correto).\n\n### INPUTS\n- NOME_USUARIO: (Opcional) Nome do cliente.\n- COMANDO: A informação que você precisa obter agora.\n- HISTORICO: As mensagens anteriores.\n\n### REGRAS DE OURO (ANTI-ROBÔ)\n1. **ESTRUTURA OBRIGATÓRIA:**\n   `[Saudação leve] + [Justificativa: \"Pra eu te passar pro especialista/pra gente seguir\"] + [Pergunta do COMANDO?]`\n   \n2. **ANTI-REPETIÇÃO (CRÍTICO):**\n   - Antes de escrever, LEIA O HISTÓRICO.\n   - Se a sua última mensagem já foi essa pergunta, **NÃO REPITA A MESMA FRASE**.\n   - Se houver repetição no histórico, mude o começo para: \"Opa, imagino que esteja corrido, mas...\" ou \"Só pra não deixar pendente aqui...\".\n\n3. **TOM DE VOZ:**\n   - Use \"pra\" em vez de \"para\".\n   - Use \"tá\" em vez de \"está\".\n   - Jamais seja seco (ex: \"Qual seu cargo?\"). Sempre amorteça a pergunta.\n\n### EXEMPLOS DE COMPORTAMENTO\n*Cenário 1 (Primeira tentativa):*\n\"Opa, tudo bom? Pra eu já te direcionar pro consultor ideal pra tua região, qual sua função na imobiliária hoje?\"\n\n*Cenário 2 (O usuário não respondeu a anterior):*\n\"Fulano, só retomando aqui pra gente avançar... consegue me confirmar teu cargo? Assim já passo pro especialista.\"\n\n*Cenário 3 (Comando é 'Faturamento'):*\n\"Tudo certo por aí? Pra gente ver se a ferramenta atende o volume de vocês, qual é a média de faturamento mensal?\"\n\n### SAÍDA\nGere apenas a mensagem de texto final. Sem aspas, sem explicações."}]}},"id":"b6c2f1ab-afe8-4411-94eb-11944d9649db","name":"Gera mensagem de follow-up2","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[-7600,7824]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check-question","leftValue":"={{ Boolean($json.output.hasQuestion) }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3264,1456],"id":"776871bd-6654-44df-9a47-aadb03225039","name":"Tem Dúvida?"},{"parameters":{"mode":"load","tableName":"n8","prompt":"={{ $json.output.searchQuery }}","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[-2912,1200],"id":"1ae2d944-78ed-4c6f-945a-b199121140f1","name":"Consulta Base Conhecimento","credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-2912,1376],"id":"4d3f68de-d649-477b-b829-b78c197a54ee","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"weD4ayyAuWgClQqA","name":"OpenAi account"}}},{"parameters":{"jsCode":"return {\n  rag_context: $input.all().map(d => d.json.document.pageContent)\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2560,1200],"id":"4ae74eae-a766-4cb4-856f-cf607b4df5d0","name":"RAG CONTEXT","executeOnce":true},{"parameters":{"jsCode":"return {\n  rag_context: $json.rag_context\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2288,1472],"id":"65442d31-4aa8-4098-899b-67e9a549ee0a","name":"MERGE DADOS"},{"parameters":{"jsCode":"return {\n  message: $('Configura Contexto').first().json.user_msg, \n  timestamp: $now.toMillis() \n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-8880,1584],"id":"beb5bda5-10c3-4564-a5d1-2feac393b631","name":"Retorna userMsg"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-3760,1648],"id":"09731975-3883-41a6-9283-0bf8a6572f70","name":"Google Gemini Chat Model6","credentials":{"googlePalmApi":{"id":"sMTfS675yuIxdSeK","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"hasQuestion\": {\n      \"type\": \"boolean\",\n      \"description\": \"Indica se existe dúvida técnica.\"\n    },\n    \"searchQuery\": {\n      \"type\": \"string\",\n      \"description\": \"A frase de busca. Deixe vazio se não houver pergunta.\"\n    }\n  },\n  \"required\": [\n    \"hasQuestion\"\n  ]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-3584,1648],"id":"6cf8b293-a8c4-4699-a0fd-227a06986aae","name":"Parser Router"},{"parameters":{"promptType":"define","text":"=### [CONTEXTO ANALÍTICO]\n- **MENSAGEM ATUAL:** \"{{ $('CONCATENA1').first().json.user_full_message }}\"\n- **HISTÓRICO RECENTE:**\n{{ $('Formata ultimas mensagens').first().json.historyMessages ?? \"Sem histórico.\" }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"=Você é um classificador de intenção binário.\n\n# SYSTEM: Engenheiro de Busca Contextual (Universal RAG Router)\n\nSua missão é atuar como um middleware de inteligência analítica. Você deve processar a interação entre o usuário e o assistente para decidir se existe uma demanda de conhecimento externo e reconstruir essa demanda em uma consulta autocontida.\n\n### [ALGORITMO DE RACIOCÍNIO - EXECUÇÃO OBRIGATÓRIA]\n\n0. ANÁLISE DE RÉPLICA (WHATSAPP REPLY):\n- Verifique se a [MENSAGEM ATUAL] contém um texto sendo respondido (ex: \"Usuário está respondendo a mensagem: '...'\"). \n- Se o conteúdo novo for APENAS pontuação (?, ??) ou termos de reforço (\"e aí?\", \"cadê?\"), a intenção de busca (hasQuestion) deve ser baseada OBRIGATORIAMENTE no texto da mensagem que está sendo respondida, e não no histórico recente da IA.\n\n1. **MAPEAMENTO DE ENTIDADES (CONTEXTO):** Varra o [HISTÓRICO RECENTE] em busca do último substantivo técnico, produto, serviço ou regra de negócio que foi o foco da fala da IA ou do usuário. Esta é a sua \"Entidade de Domínio\".\n\n2. **ANÁLISE DE INTENÇÃO (TRIAGEM):** Avalie se a [MENSAGEM ATUAL] busca fatos, explicações, valores, capacidades ou procedimentos sobre a Entidade de Domínio identificada.\n- REFORÇO DE DÚVIDA: Se o humano enviar apenas \"?\" ou similares ao responder uma mensagem técnica ou comercial (sua ou dele mesmo), classifique como hasQuestion = TRUE. O \"?\" é uma re-solicitação de uma resposta que ele julga não ter sido dada.\n\n   2.1 **TRAVA DE ENTENDIMENTO (EXCEÇÃO PRIORITÁRIA):**\n   Se a [MENSAGEM ATUAL] for uma pergunta que apenas pede esclarecimento do que a IA acabou de perguntar, ou confirma o escopo da pergunta anterior (ex.: \"contando só X ou Y?\", \"é só X?\", \"inclui Y também?\", \"quando você diz X, quer dizer o quê?\"), então isso NÃO é demanda de conhecimento externo.\n   - Nesse caso: `hasQuestion = FALSE` e `searchQuery = \"\"`.\n   - Regra: essa exceção tem prioridade sobre qualquer outra classificação abaixo.\n   - **hasQuestion = TRUE:** Se a mensagem for uma pergunta direta, uma contestação (\"Mas por que?\") ou uma busca por detalhes técnicos/comerciais.\n   - **hasQuestion = FALSE:** Se a mensagem for apenas um fornecimento de dado pessoal, uma saudação, uma reação emocional ou uma confirmação de fluxo (Sim/Não/Ok).\n\n3. **SÍNTESE DE CONSULTA (SEARCH QUERY):** Se `hasQuestion` for true, você deve gerar uma frase de busca que seja **totalmente autocontida**.\n   - **Regra de Autossuficiência:** A frase deve ser compreensível para um estranho que não leu o histórico da conversa.\n   - **Técnica de Expansão:** Substitua pronomes e termos vagos (isso, aquilo, como faz, quanto é) pelos termos técnicos e nomes reais encontrados no histórico.\n   - **Fórmula Lógica:** [Nome Exato da Entidade/Produto] + [Ação ou Atributo Desejado (Preço, Funcionamento, Regra, Integração)].\n   - **Otimização:** Remova qualquer ruído social (Bom dia, obrigado, opa) e foque em termos que apareceriam em um índice de documentação técnica.\n\n### [REGRAS DE SAÍDA - DETERMINÍSTICO]\n- **hasQuestion (boolean):** TRUE para necessidades de consulta ao RAG; FALSE para continuidade conversacional.\n- **searchQuery (string):** A string de busca sintetizada e expandida. Caso `hasQuestion` seja false, retorne obrigatoriamente \"\"."}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[-3744,1456],"id":"32fbf381-2138-4e16-a247-9e2d21fa0b01","name":"Router de Dúvida"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bd34b249-e081-4a56-b5e0-e9b5172f3251","leftValue":"={{ Boolean($('GET Estado Atual').first().json.propertyName || false) }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[320,2128],"id":"d725c005-dd09-418c-b3a4-e1d8d0d495c1","name":"Se tiver estado atual"},{"parameters":{"method":"PATCH","url":"={{ $env.APRECHAT_URL_API }}api/ticket/{{ $('Webhook').first().json.body.ticketId }}","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"={\n    \"accept\": \"application/json, text/plain, */*\",\n    \"accept-language\": \"pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7\",\n    \"authorization\": \"Bearer kZaOTd+YZpjRUyyuQUpigJaEMk4vcW4YOymKPZX0Ts8=\",\n    \"company\": {{ $('Webhook').first().json.body.companyId }},\n    \"content-type\": \"application/json\"\n  } ","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"status\": \"pending\",\n  \"whatsappId\": 18,\n  \"departmentId\": 37\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2560,816],"id":"a811ef27-4f75-4737-bf83-75cb8236540e","name":"Transfere ticket para Aguardando Apre.Chat","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"78613adc-f045-436b-b2c6-51b000e2cf1f","leftValue":"={{ Boolean($('Busca Follow Up').first().json.id || false) }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3344,1424],"id":"4866c1ea-d661-49ac-b9cc-2af0e9a632f6","name":"Se já existe follow-up"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"37410f02-05b7-40c6-ada1-54580221c460","leftValue":"={{ Boolean(JSON.parse($('Busca estado atual para follow-up').first().json.propertyName || '{}').missingVar || false) }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2976,1424],"id":"fbcfe2cf-4667-420d-b506-07aee954b77c","name":"Se existe variável para ser solicitada"},{"parameters":{"url":"={{ $env.APRECHAT_URL_API }}api/ticket/search?filters%5BuserExists%5D=true&filters%5BcontactNumber%5D={{ $('Configura Contexto').first().json.user_phone }}&filters%5BstatusIn%5D=paused%2Copen&filters%5BcompanyId%5D={{ $('Configura Contexto').first().json.companyId }}","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"={\n    \"accept\": \"application/json\",\n    \"authorization\": \"Bearer kZaOTd+YZpjRUyyuQUpigJaEMk4vcW4YOymKPZX0Ts8=\",\n    \"company\": {{ $('Configura Contexto').first().json.companyId }},\n    \"content-type\": \"application/json\"\n}","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-11488,848],"id":"d4264112-2646-47a0-b660-f95af947cf43","name":"Busca ticket existente do contato"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"openedTicket\": {{ JSON.stringify($json.data.first()) || null }}\n} ","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-11280,848],"id":"cf4040c8-60ff-4159-8681-23716aa9280e","name":"Output ticket aberto"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"00c41515-b955-40bb-96aa-04bd3663213b","leftValue":"={{ Boolean($json.openedTicket) }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-11072,848],"id":"ecadba42-57d8-4e44-9c91-0c03fe4b7aa3","name":"Se não tem ticket com usuario para o contato"},{"parameters":{"url":"={{ $env.APRECHAT_URL_API }}api/ticket/search?filters%5BcontactNumber%5D={{ $('LOOP nos follow-up\\'s').item.json.user_phone }}&filters%5BstatusIn%5D=paused%2Copen%2Cpending&filters%5BcompanyId%5D={{ $('LOOP nos follow-up\\'s').item.json.company_id }}","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"={\n    \"accept\": \"application/json\",\n    \"authorization\": \"Bearer kZaOTd+YZpjRUyyuQUpigJaEMk4vcW4YOymKPZX0Ts8=\",\n    \"company\": {{ $('LOOP nos follow-up\\'s').item.json.company_id }},\n    \"content-type\": \"application/json\"\n}","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-9328,7808],"id":"9c5e381b-42a5-4032-908e-34ba3c77a1e5","name":"Busca ticket existente do contato1"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"openedTicket\": {{ JSON.stringify($json.data.first()) || null }}\n} ","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-9120,7808],"id":"36bfab65-1669-4e43-a8b9-ea3680217075","name":"Output ticket aberto1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"00c41515-b955-40bb-96aa-04bd3663213b","leftValue":"={{ Boolean($json.openedTicket) }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-8912,7808],"id":"00d26eeb-d8c8-49e5-a053-97b4d18122db","name":"Se não tem ticket com usuario para o contato1"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"follow_up_queue","mode":"list","cachedResultName":"follow_up_queue"},"returnAll":true,"where":{"values":[{"column":"session_id","value":"={{ $('Configura Contexto').first().json.cache_key }}"},{"column":"company_id","value":"={{ $('Configura Contexto').first().json.companyId }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2768,816],"id":"fa677420-04c4-4037-ae02-37873a573823","name":"Busca Follow Up3","alwaysOutputData":true,"credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}}},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"follow_up_queue","mode":"list","cachedResultName":"follow_up_queue"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Busca Follow Up3').first().json.id }}","active":"={{ false }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"session_id","displayName":"session_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"last_instruction","displayName":"last_instruction","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"follow_up_time","displayName":"follow_up_time","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"attempts","displayName":"attempts","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"company_id","displayName":"company_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"user_phone","displayName":"user_phone","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"active","displayName":"active","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":false},{"id":"whatsapp_id","displayName":"whatsapp_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"agent_name","displayName":"agent_name","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"follow_up_type","displayName":"follow_up_type","required":false,"defaultMatch":false,"display":true,"type":"options","canBeUsedToMatch":true,"options":[{"name":"initiated","value":"initiated"},{"name":"requested","value":"requested"}],"removed":true},{"id":"last_var_requested","displayName":"last_var_requested","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ticket_id","displayName":"ticket_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3328,816],"id":"d89ed248-7168-4131-bc96-ce7964aec07d","name":"Atualiza follow-up3","credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"78613adc-f045-436b-b2c6-51b000e2cf1f","leftValue":"={{ Boolean($('Busca Follow Up3').first().json.id || false) }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3024,832],"id":"9bef6bd3-0939-4838-ade1-aabae5cca8f6","name":"Se já existe follow-up1"}],"connections":{"Split de mensagens":{"main":[[{"node":"LOOP_SLIT1","type":"main","index":0}]]},"Se não recebeu mensagem no meio do processamento":{"main":[[{"node":"Split de mensagens","type":"main","index":0}],[{"node":"Concatena mensagens para cache","type":"main","index":0}]]},"GET2":{"main":[[{"node":"Se não recebeu mensagem no meio do processamento","type":"main","index":0}]]},"Salva Novo Estado":{"main":[[{"node":"Router de Dúvida","type":"main","index":0}]]},"Parser  Chain1":{"main":[[{"node":"Remove mensagens do processamento","type":"main","index":0}]]},"OutputParser":{"ai_outputParser":[[{"node":"Parser  Chain1","type":"ai_outputParser","index":0}]]},"output1":{"main":[[{"node":"Se gerou resposta","type":"main","index":0}]]},"WAIT_SPLIT1":{"main":[[{"node":"LOOP_SLIT1","type":"main","index":0}]]},"LOOP_SLIT1":{"main":[[{"node":"Switch","type":"main","index":0},{"node":"Busca estado atual para follow-up","type":"main","index":0}],[{"node":"GET3","type":"main","index":0}]]},"Envia WhatsApp1":{"main":[[{"node":"WAIT_SPLIT1","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Configura Contexto","type":"main","index":0}]]},"Configura Contexto":{"main":[[{"node":"If2","type":"main","index":0}]]},"GET Estado Atual":{"main":[[{"node":"BLUEPRINT ENGINE","type":"main","index":0}]]},"BLUEPRINT ENGINE":{"main":[[{"node":"Pega ultimas mensagens","type":"main","index":0}]]},"LOGIC ENGINE":{"main":[[{"node":"Salva Novo Estado","type":"main","index":0}]]},"Gerador de Resposta":{"main":[[{"node":"output1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"BUSCA MENSAGENS ACUMULADAS","type":"main","index":0}]]},"DELETE1":{"main":[[{"node":"CONCATENA1","type":"main","index":0}]]},"SWITCH_BUFFER":{"main":[[{"node":"DELETE1","type":"main","index":0}],[{"node":"NADA1","type":"main","index":0}],[{"node":"Wait1","type":"main","index":0}]]},"If2":{"main":[[{"node":"Deleta estado atual","type":"main","index":0}],[{"node":"Busca ticket existente do contato","type":"main","index":0}]]},"Delete table or rows1":{"main":[[{"node":"DELETE2","type":"main","index":0}]]},"Deleta estado atual":{"main":[[{"node":"Delete table or rows1","type":"main","index":0}]]},"DELETE2":{"main":[[{"node":"Remove follow-ups","type":"main","index":0}]]},"Concatena mensagens para cache":{"main":[[{"node":"RE-SETA CACHE DAS MENSAGENS ACUMULADAS","type":"main","index":0}]]},"Transforma em objeto literal":{"main":[[{"node":"SWITCH_BUFFER","type":"main","index":0}]]},"Formata histórico1":{"main":[[{"node":"Gera resumo da conversa - AI1","type":"main","index":0}]]},"Gera resumo da conversa - AI1":{"main":[[{"node":"Salva nota na conversa1","type":"main","index":0}]]},"Busca histórico de conversa1":{"main":[[{"node":"Formata histórico1","type":"main","index":0}]]},"Busca mensagens no cache":{"main":[[{"node":"Junta mensagem do cache com a mensagem do usuário","type":"main","index":0}]]},"Junta mensagem do cache com a mensagem do usuário":{"main":[[{"node":"SETA CACHE DAS MENSAGENS","type":"main","index":0}]]},"SETA CACHE DAS MENSAGENS":{"main":[[{"node":"BUSCA MENSAGENS ACUMULADAS","type":"main","index":0}]]},"BUSCA MENSAGENS ACUMULADAS":{"main":[[{"node":"Transforma em objeto literal","type":"main","index":0}]]},"Pega ultimas mensagens":{"main":[[{"node":"Formata ultimas mensagens","type":"main","index":0}]]},"Formata ultimas mensagens":{"main":[[{"node":"Seta perfil1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Busca histórico de conversa1","type":"main","index":0}],[{"node":"Busca histórico de conversa1","type":"main","index":0}],[{"node":"Call 'Enviar apresentação comercial'","type":"main","index":0}]]},"Call 'Enviar apresentação comercial'":{"main":[[{"node":"Busca histórico de conversa1","type":"main","index":0}]]},"Base de conhecimento":{"ai_tool":[[{"node":"Gerador de Resposta","type":"ai_tool","index":0}]]},"Embeddings OpenAI2":{"ai_embedding":[[{"node":"Base de conhecimento","type":"ai_embedding","index":0}]]},"Insere mensagem da IA no BD":{"main":[[{"node":"Envia WhatsApp1","type":"main","index":0}]]},"GET3":{"main":[[{"node":"Se não recebeu mensagem no meio do processamento1","type":"main","index":0}]]},"Se não recebeu mensagem no meio do processamento1":{"main":[[{"node":"Insere mensagem da IA no BD","type":"main","index":0}]]},"Busca estado atual para follow-up":{"main":[[{"node":"Busca Follow Up","type":"main","index":0}]]},"Busca Follow Up":{"main":[[{"node":"Se existe variável para ser solicitada","type":"main","index":0}]]},"Seta perfil1":{"main":[[{"node":"Insere mensagem do usuário no BD","type":"main","index":0}]]},"Insere mensagem do usuário no BD":{"main":[[{"node":"Extrator chain","type":"main","index":0}]]},"Cron 1em1 min - FOLLOW-UP":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Busca follow-ups disponíveis":{"main":[[{"node":"LOOP nos follow-up's","type":"main","index":0}]]},"LOOP nos follow-up's":{"main":[[],[{"node":"BUSCA MENSAGENS ACUMULADAS1","type":"main","index":0}]]},"Busca estado atual da conversa":{"main":[[{"node":"Transforma estado atual em JSON literal","type":"main","index":0}]]},"Transforma estado atual em JSON literal":{"main":[[{"node":"Switch tipo de follow-up","type":"main","index":0}]]},"Se o usuário respondeu a variável pendente no meio do caminho":{"main":[[{"node":"LOOP nos follow-up's","type":"main","index":0}],[{"node":"Pega ultimas mensagens1","type":"main","index":0}]]},"Envia via Apre.Chat":{"main":[[{"node":"Pega novo horario de follow-up pelos attempts","type":"main","index":0}]]},"Pega ultimas mensagens1":{"main":[[{"node":"Formata ultimas mensagens1","type":"main","index":0}]]},"Formata ultimas mensagens1":{"main":[[{"node":"Se a última mensagem foi da IA","type":"main","index":0}]]},"BUSCA MENSAGENS ACUMULADAS1":{"main":[[{"node":"Se chegou alguma mensagem do usuário","type":"main","index":0}]]},"Se chegou alguma mensagem do usuário":{"main":[[],[{"node":"Busca estado atual da conversa","type":"main","index":0}]]},"Switch tipo de follow-up":{"main":[[{"node":"Pega ultimas mensagens2","type":"main","index":0}],[{"node":"Busca ticket existente do contato1","type":"main","index":0}]]},"Pega ultimas mensagens2":{"main":[[{"node":"Formata ultimas mensagens2","type":"main","index":0}]]},"Formata ultimas mensagens2":{"main":[[{"node":"Gera mensagem de follow-up1","type":"main","index":0}]]},"Se a última mensagem foi da IA":{"main":[[{"node":"Gera mensagem de follow-up2","type":"main","index":0}],[{"node":"Gera mensagem de follow-up2","type":"main","index":0}]]},"Gera mensagem de follow-up1":{"main":[[{"node":"Envia via Apre.Chat1","type":"main","index":0}]]},"Envia via Apre.Chat1":{"main":[[{"node":"Atualiza tentativa de follow-up","type":"main","index":0}]]},"Atualiza tentativas de follow-up":{"main":[[{"node":"Insere mensagem da IA no BD1","type":"main","index":0}]]},"Atualiza tentativa de follow-up":{"main":[[{"node":"Insere mensagem da IA no BD4","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"If1","type":"main","index":0}]]},"Pega novo horario de follow-up pelos attempts":{"main":[[{"node":"Atualiza tentativas de follow-up","type":"main","index":0}]]},"If1":{"main":[[{"node":"Busca follow-ups disponíveis","type":"main","index":0}]]},"Call '🤖🤖 Alicia: Transferir e gerar Resumo'":{"ai_tool":[[{"node":"Gerador de Resposta","type":"ai_tool","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Gerador de Resposta","type":"ai_languageModel","index":0}]]},"Extrator chain":{"main":[[{"node":"LOGIC ENGINE","type":"main","index":0}]]},"Structured Output Parser2":{"ai_outputParser":[[{"node":"Extrator chain","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Extrator chain","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model2":{"ai_languageModel":[[{"node":"Parser  Chain1","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model3":{"ai_languageModel":[[{"node":"Gera resumo da conversa - AI1","type":"ai_languageModel","index":0}]]},"Se gerou resposta":{"main":[[{"node":"Parser  Chain1","type":"main","index":0}],[{"node":"Remove mensagens do processamento1","type":"main","index":0}]]},"Busca mensagens em processamento":{"main":[[{"node":"Se não tem mensagem sendo processada","type":"main","index":0}]]},"Se não tem mensagem sendo processada":{"main":[[{"node":"Seta mensagem em processamento no cache","type":"main","index":0}],[{"node":"SETA CACHE DAS MENSAGENS1","type":"main","index":0}]]},"CONCATENA1":{"main":[[{"node":"Busca mensagens em processamento","type":"main","index":0}]]},"Seta mensagem em processamento no cache":{"main":[[{"node":"GET Estado Atual","type":"main","index":0}]]},"Remove mensagens do processamento":{"main":[[{"node":"GET2","type":"main","index":0}]]},"RE-SETA CACHE DAS MENSAGENS ACUMULADAS":{"main":[[{"node":"Se tiver estado atual","type":"main","index":0}]]},"Volta para o estado anterior":{"main":[[{"node":"Delete table or rows","type":"main","index":0}]]},"Delete table or rows":{"main":[[{"node":"BUSCA MENSAGENS ACUMULADAS","type":"main","index":0}]]},"Remove follow-ups":{"main":[[{"node":"Deleta mensagem em processamento","type":"main","index":0}]]},"Google Gemini Chat Model4":{"ai_languageModel":[[{"node":"Gera mensagem de follow-up2","type":"ai_languageModel","index":0}]]},"Gera mensagem de follow-up2":{"main":[[{"node":"Envia via Apre.Chat","type":"main","index":0}]]},"Tem Dúvida?":{"main":[[{"node":"Consulta Base Conhecimento","type":"main","index":0}],[{"node":"MERGE DADOS","type":"main","index":0}]]},"Consulta Base Conhecimento":{"main":[[{"node":"RAG CONTEXT","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Consulta Base Conhecimento","type":"ai_embedding","index":0}]]},"RAG CONTEXT":{"main":[[{"node":"MERGE DADOS","type":"main","index":0}]]},"MERGE DADOS":{"main":[[{"node":"Gerador de Resposta","type":"main","index":0}]]},"Insere mensagem da IA no BD1":{"main":[[{"node":"LOOP nos follow-up's","type":"main","index":0}]]},"Retorna userMsg":{"main":[[{"node":"Busca mensagens no cache","type":"main","index":0}]]},"Google Gemini Chat Model6":{"ai_languageModel":[[{"node":"Router de Dúvida","type":"ai_languageModel","index":0}]]},"Parser Router":{"ai_outputParser":[[{"node":"Router de Dúvida","type":"ai_outputParser","index":0}]]},"Router de Dúvida":{"main":[[{"node":"Tem Dúvida?","type":"main","index":0}]]},"Se tiver estado atual":{"main":[[{"node":"Volta para o estado anterior","type":"main","index":0}],[{"node":"Delete table or rows","type":"main","index":0}]]},"Salva nota na conversa1":{"main":[[{"node":"Transfere ticket para Aguardando Apre.Chat","type":"main","index":0}]]},"Se já existe follow-up":{"main":[[{"node":"Atualiza follow-up","type":"main","index":0}],[{"node":"Insere novo follow-up","type":"main","index":0}]]},"Se existe variável para ser solicitada":{"main":[[{"node":"Se já existe follow-up","type":"main","index":0}]]},"Busca ticket existente do contato":{"main":[[{"node":"Output ticket aberto","type":"main","index":0}]]},"Output ticket aberto":{"main":[[{"node":"Se não tem ticket com usuario para o contato","type":"main","index":0}]]},"Se não tem ticket com usuario para o contato":{"main":[[{"node":"Retorna userMsg","type":"main","index":0}]]},"Transfere ticket para Aguardando Apre.Chat":{"main":[[{"node":"Busca Follow Up3","type":"main","index":0}]]},"Busca ticket existente do contato1":{"main":[[{"node":"Output ticket aberto1","type":"main","index":0}]]},"Output ticket aberto1":{"main":[[{"node":"Se não tem ticket com usuario para o contato1","type":"main","index":0}]]},"Se não tem ticket com usuario para o contato1":{"main":[[{"node":"Se o usuário respondeu a variável pendente no meio do caminho","type":"main","index":0}],[{"node":"LOOP nos follow-up's","type":"main","index":0}]]},"Busca Follow Up3":{"main":[[{"node":"Se já existe follow-up1","type":"main","index":0}]]},"Se já existe follow-up1":{"main":[[{"node":"Atualiza follow-up3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Cron 1em1 min":{"recurrenceRules":[]},"node:Cron 1em1 min - FOLLOW-UP":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Cron 1em1 min - FOLLOW-UP":[{"json":{"timestamp":"2026-02-13T16:52:43.005-03:00","Readable date":"February 13th 2026, 4:52:43 pm","Readable time":"4:52:43 pm","Day of week":"Friday","Year":"2026","Month":"February","Day of month":"13","Hour":"16","Minute":"52","Second":"43","Timezone":"America/Sao_Paulo (UTC-03:00)"}}],"Webhook":[{"json":{"headers":{"host":"n8n.apresenta.me","x-real-ip":"167.234.245.252","x-real-port":"41938","x-forwarded-for":"167.234.245.252","x-forwarded-proto":"https","x-forwarded-host":"n8n.apresenta.me","x-forwarded-port":"443","remote-host":"167.234.245.252","connection":"close","content-length":"677","accept":"application/json, text/plain, */*","content-type":"application/json","user-agent":"axios/1.12.2","accept-encoding":"gzip, compress, deflate, br","sentry-trace":"57f28eb798893203da372c2adb146733-1db9e3fd1639cb1b-0","baggage":"sentry-environment=production,sentry-public_key=105feeda45f1e08a6adb966a132a4c34,sentry-trace_id=57f28eb798893203da372c2adb146733,sentry-sampled=false,sentry-sample_rand=0.76459547999511,sentry-sample_rate=0.2"},"params":{},"query":{},"body":{"message":"Não","messageId":"4905620","contact":{"id":"34529","name":"João Dev","number":"554788950332","profilePicUrl":"https://pps.whatsapp.net/v/t61.24694-24/425105449_1361615211300388_1143514098522857072_n.jpg?ccb=11-4&oh=01_Q5Aa3wH9s-W7aNMOwpivEaiOHb53fiEujppf11yEd_KGGuoOsA&oe=69B69B23&_nc_sid=5e03e0&_nc_cat=102","createdAt":"2025-08-26T13:37:58.507-03:00","updatedAt":"2026-03-05T11:36:20.499-03:00","email":"","isGroup":false,"companyId":"10","whatsappId":"209","onlyResponsible":false,"userId":"1","aprePersonId":null,"apreDealId":null,"meta":{"ignoreCheck":true,"ignorePermission":true,"dontSendSocket":false}},"whatsappId":"209","companyId":10,"ticketId":224957},"webhookUrl":"https://n8n.apresenta.me/webhook/7223c6af-f595-4bc2-b84c-602b8900cd08","executionMode":"production"}}]},"versionId":"8117b3f8-5fb4-4ad2-ac48-dea4c095652c","triggerCount":2,"shared":[{"updatedAt":"2025-11-04T18:47:16.654Z","createdAt":"2025-11-04T18:47:16.654Z","role":"workflow:owner","workflowId":"dDaZdsSmHxktrhjc","projectId":"4ToGMYJEWvvDSbcz"}],"tags":[]}