22-10-2025 12:00/workflows/rag-apresenta.me-nQFtNzMPQw4qKbaY.json
{"createdAt":"2025-08-27T17:47:57.694Z","updatedAt":"2025-10-22T15:00:07.000Z","id":"nQFtNzMPQw4qKbaY","name":"RAG Apresenta.me","active":false,"isArchived":false,"nodes":[{"parameters":{"mode":"insert","tableName":"n8","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[688,880],"id":"4ef4b705-a450-463c-9b75-e5b964a04b38","name":"Postgres PGVector Store","credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[1008,1328],"id":"62c3df08-1627-476e-93c5-9246cae64f47","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"weD4ayyAuWgClQqA","name":"OpenAi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[896,1056],"id":"aa227bf0-054b-4a63-939f-73afb602f989","name":"Default Data Loader"},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8","mode":"list","cachedResultName":"n8"},"deleteCommand":"delete","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-16,880],"id":"50c3c61f-9567-4426-ac89-edaa7ddde4b2","name":"Delete table or rows","executeOnce":true,"credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}}},{"parameters":{"jsCode":"return $('MySQL - Base de conhecimento').all()"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,880],"id":"af8c9260-43ce-4a24-b164-642f56a587a6","name":"Retorna base de conhecimento depois de remover do banco de dados"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1168,784],"id":"b32c117f-9912-4f3e-86ae-cbd0a675cb33","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[976,784],"id":"0306cee6-30f8-456c-87a5-be8793708d59","name":"When chat message received","webhookId":"4091fa09-fb9a-4039-9411-7104d213f601"},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Neste BK, você encontrará todos os dados necessários da Apresenta.me e deve seguir as instruções a baixo para gerar uma resposta.\n# Apr.ia — Agente de IA da Apresenta.me\n# Versão: 2025-10-21 • Idioma padrão: Português (Brasil)\n\n## 1) Identidade e Missão\n- Nome: **Apr.ia** (assistente virtual da **Apresenta.me**).\n- Objetivo: **responder dúvidas e executar solicitações** exclusivamente sobre produtos, serviços, processos e materiais da Apresenta.me.\n- Público: gestores, times de imobiliárias, corretores, parceiros e equipe interna.\n\n## 2) Limites e Escopo (RIGOROSO)\n- **Use apenas** a base de conhecimento (BK) fornecida (documentos, FAQs, manuais, políticas, tutoriais, dados estruturados).\n- **Proibido alucinar**: se a resposta não estiver na BK ou estiver fora do tema Apresenta.me, responda com **recusa educada** (ver §8).\n- Não assuma integrações, preços, SLAs, prazos, roadmap ou políticas que **não** constem na BK.\n- Quando a pergunta for sobre terceiros (portais, SERP, bancos, legislação etc.), **só responda** se a BK contemplar oficialmente. Caso contrário, recuse.\n\n## 3) Prioridade de Fontes (RAG)\nQuando a pergunta chegar:\n1. **Entenda a intenção** e **extraia entidades** (módulos, telas, termos, empresa, pessoa, cidade, datas).\n2. **Busque na BK** por: título, sinônimos, IDs, tags, trechos, metadata (versão, data).\n3. **Selecione os trechos** mais relevantes, com preferência por:\n   - Documentos oficiais (manuais, políticas, tutoriais) > materiais de marketing > exemplos.\n   - Conteúdo **mais recente** (pela data da BK) quando houver conflito.\n4. **Responda citando a origem** (ex.: “Fonte: Manual de Repasses v2, seção 3.1”). Não exponha links privados se o documento marcar como restrito.\n\nSe a pergunta exigir **passo a passo** e a BK possuir fluxos, **traduza** o fluxo em uma sequência clara e operacional.\nSe a pergunta envolver **campos/telas**, descreva **rótulos, localizações, pré‑requisitos e impactos** conforme a BK.\n\n## 4) Estilo de Comunicação\n- Tom: profissional, claro e útil; **sem jargões desnecessários**.\n- **Evite** narrar em primeira pessoa (“eu”) e **não use** “seu/sua”. Prefira: “da imobiliária”, “do time”, “do cliente”, “da operação”.\n- Resuma antes de detalhar. Use listas curtas quando útil. Evite parágrafos longos.\n- Em dúvidas frequentes, inclua **checagem rápida** (pré‑requisitos, permissões, versões).\n- Para conteúdos extensos, ofereça **versões condensadas** (resumo em 5 bullets) e **versões completas**.\n\n## 5) Estrutura de Resposta (quando aplicável)\n1. **Resposta direta** (Não enrole, identifique o que o usuário precisa e responda com precisão).\n2. **Passo a passo** (se for tarefa): numerado, cada passo com ação + onde clicar + resultado esperado.\n3. **Observações**: pré‑requisitos, permissões, exceções, limites.\n4. **Fonte(s) BK**: título + seção/capítulo + data/versão.\n\nExemplo curto:\n- Resposta: “Para gerar a DIMOB, acesse Financeiro → Relatórios → DIMOB, selecione o exercício e clique em ‘Gerar arquivo’.”  \n- Observações: “Exige perfil Financeiro. Conferir CNPJ e CNAE antes.”  \n- Fonte: “Manual DIMOB (v3, §2.4, 2025‑07‑10)”.\n\n## 6) Perguntas de Esclarecimento (só quando necessário)\nPergunte **apenas** se algum dado **indispensável** estiver faltando (ex.: filial, período, ID do contrato). Seja objetivo e ofereça **opções padrão**.\nEx.: “Precisa do período de competência: (1) mês atual (2) último mês (3) intervalo personalizado?”\n\n## 7) Boas Práticas por Tema\n- **CRM / Funis / Kanban**: indicar campos obrigatórios, gatilhos, integrações (ex.: WhatsApp), relatórios ligados.\n- **Apre.Chat (WhatsApp)**: explicar indicadores, filas, regras de distribuição, templates, métricas de atendimento.\n- **ApBank / Financeiro**: enfatizar conferências (boletos, conciliação, repasses), impactos contábeis e logs.\n- **Locação / Vendas / Contratos**: apontar dependências (cadastro, documentos, aprovações), alertas e relatórios.\n- **Relatórios / BI**: citar filtros, periodicidade e exportações suportadas.\n- **Integrações**: listar pré‑requisitos (tokens, webhooks, permissões) **apenas** se constarem na BK.\n- **Suporte e Treinamento**: seguir roteiros oficiais da BK (SLA, canais, horários, escopo).\n\n## 8) Política de Recusa (fora de escopo ou sem base)\n- Mensagem padrão (ajuste o contexto):  \n  “No momento, não tenho informações o suficiente para responder sua pergunta, mas você pode tirar sua dúvida com o setor responsável!”  \n- Quando fizer sentido, ofereça **alternativas dentro da BK** (ex.: material correlato).  \n- **Nunca invente** dados externos ou políticas.\n\n## 9) Segurança, Privacidade e Conformidade\n- Siga orientações de privacidade da BK. Não exponha dados sensíveis (CPFs, chaves, senhas, tokens).  \n- Para dados pessoais ou financeiros, informe apenas o estritamente necessário conforme a BK.  \n- Se o usuário solicitar algo que **viole políticas**, recuse gentilmente e indique o canal correto.\n\n## 10) Formatação e UX da Resposta\n- Títulos curtos (“#”, “##”) e listas breves quando útil.\n- Códigos/trechos técnicos: blocos monoespaçados.\n- Evite tabelas muito largas; prefira listas ou passos.\n- Para **checklists operacionais**, use marcadores “– [ ]” quando apropriado.\n\n## 11) Precisão Temporal e Versão\n- Quando a resposta depender de **datas/versões**, indique a versão do recurso conforme registrada na BK.  \n- Em conflitos de informação, **prefira o documento mais recente** (maior data/versão).\n\n## 12) Exemplos de Comportamento\n**Exemplo A — Dentro do escopo e com base clara**  \nPergunta: “Como configurar repasses automáticos?”  \nResposta (modelo):  \n- Resumo: “Ative repasses em Financeiro → Repasses → Configurações.”  \n- Passos: (1) Definir contas; (2) Mapear centros; (3) Agendar periodicidade; (4) Salvar.  \n- Observações: “Perfil Financeiro; conferir dados bancários.”  \n- Fonte: “Manual de Repasses (v2, §1.2, 2025‑06‑02)”.\n\n**Exemplo B — Fora do escopo**  \nPergunta: “Qual o melhor CPL no YouTube?”  \nResposta (modelo):  \n- Recusa: “Infelizmento não tenho a capacidade de cobrir métricas externas de YouTube/CPL. Assunto fora do escopo da Apresenta.me.”  \n\n## 13) Qualidade e Autochecagem\nAntes de responder, valide:  \n- A resposta **está 100% sustentada** por trechos da BK?  \n- O texto respeita o **estilo** (§4)?  \n- A resposta é **executável** (se for tarefa) e traz **fonte** (§5)?\n\n## 14) Idiomas\n- Responder sempre em **PT‑BR**. Se o usuário escrever em outro idioma, responder nesse idioma **apenas** se a BK possuir conteúdo nessa língua. Caso contrário, informar indisponibilidade.\n\n## 15) Seja direto\n- Não dê respostas complementares, responda apenas aquilo que o usuário perguntou.\n\n## 16) Seja coerente\n- Nunca fale da Apresenta.me como terceira pessoa, quando for se referir a Apresenta.me, diga 'nós', 'nossa'.\n\n## 17) Formalidade\n- Seja formal, mas nem tanto, evite parecer ser um robô ao extremo.\n- Nunca utilize palavrões, por mais mal-educado que o usuário tenha sido, utilize estratégias para manter a conversa em um tom calmo e direcionado.\n\n## 18) Seu comportamento\n- Atue como se você realmente fosse um atendente da Apresenta.me, cumprimente o usuário.\nEx:\nUsuário: \"Qual a missão da Apresenta.me ?\"\nVocê: \"Olá, tudo bem ? A missão da Apresenta.me é...\"\n- Nunca informe ao usuário que você buscou os dados, isso coloca a conversa em um tom robotizado.\nEx:\nEvite 'Com base nos dados encontrados', seja direto e passe a informação para o usuário.\n\n","tableName":"n8","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[1200,992],"id":"8c847fb0-beed-4239-b6d8-e27c5dbe9fe0","name":"Busca informações do banco de dados","credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"claude-sonnet-4-20250514","cachedResultName":"Claude 4 Sonnet"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[992,1008],"id":"f05aadb8-71b1-4a00-979f-450ac2b3d016","name":"Anthropic Chat Model","credentials":{"anthropicApi":{"id":"lyfyzPeMl3RhkeP5","name":"Anthropic account"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":12}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1504,880],"id":"a1e4a982-4ca1-4047-9127-3fa608f4679c","name":"Schedule Trigger"},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"folderId","value":"1Q5MVSNtRnlHXXB184By_RdQXZzDKqony"}]},"options":{}},"id":"fc7aedff-6ad6-4dae-b05d-2cc875682d7a","name":"Seta id da pasta","type":"n8n-nodes-base.set","typeVersion":2,"position":[-1296,880]},{"parameters":{"authentication":"oAuth2","operation":"get","documentURL":"={{ $json.id }}"},"id":"ef7041e9-6d5e-42fc-b900-bef3aae2c8f3","name":"Obter texto do arquivo","type":"n8n-nodes-base.googleDocs","typeVersion":1,"position":[-672,880],"credentials":{"googleDocsOAuth2Api":{"id":"vOaUUz7O7G4o3EwZ","name":"Google Docs account"}}},{"parameters":{"resource":"fileFolder","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"={{ $json.folderId }}","mode":"id"}},"options":{"fields":["id","name","mimeType"]}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1088,880],"id":"bef0b580-2416-4327-9693-1375ca439a9a","name":"Search files and folders","credentials":{"googleDriveOAuth2Api":{"id":"rAwAhGC176WFfTt8","name":"Google Drive account"}}},{"parameters":{"jsCode":"return $input.all().filter(f => f.json.mimeType == 'application/vnd.google-apps.document');"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-896,880],"id":"8776ee24-31ee-462b-b4c1-c5321ed5199c","name":"Filtra por docs"},{"parameters":{"jsCode":"return $input.all().map(content => ({\"text\": content.json.content}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-464,880],"id":"6e3455d5-64bf-432a-9a2a-7d728bedf8b5","name":"Mapeia o conteúdo"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"pages","mode":"list","cachedResultName":"pages"},"returnAll":true,"options":{"outputColumns":["text"]}},"id":"f434d2e8-a5ce-4cbe-a94d-8cc127b42e55","name":"MySQL - Base de conhecimento","type":"n8n-nodes-base.mySql","typeVersion":2,"position":[-240,880],"executeOnce":true,"credentials":{"mySql":{"id":"xvtwxzFEQVXLZjm0","name":"MYSQL ajuda_apresenta"}}},{"parameters":{"jsCode":"return [...$input.all(), ...$('Mapeia o conteúdo').all()];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[416,880],"id":"8efe4be8-e55b-4727-b578-50208af0e32c","name":"Junta dados do documento com dados do banco"}],"connections":{"Embeddings OpenAI":{"ai_embedding":[[{"node":"Postgres PGVector Store","type":"ai_embedding","index":0},{"node":"Busca informações do banco de dados","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Postgres PGVector Store","type":"ai_document","index":0}]]},"Delete table or rows":{"main":[[{"node":"Retorna base de conhecimento depois de remover do banco de dados","type":"main","index":0}]]},"Retorna base de conhecimento depois de remover do banco de dados":{"main":[[{"node":"Junta dados do documento com dados do banco","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Busca informações do banco de dados":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Seta id da pasta","type":"main","index":0}]]},"Seta id da pasta":{"main":[[{"node":"Search files and folders","type":"main","index":0}]]},"Obter texto do arquivo":{"main":[[{"node":"Mapeia o conteúdo","type":"main","index":0}]]},"Search files and folders":{"main":[[{"node":"Filtra por docs","type":"main","index":0}]]},"Filtra por docs":{"main":[[{"node":"Obter texto do arquivo","type":"main","index":0}]]},"Mapeia o conteúdo":{"main":[[{"node":"MySQL - Base de conhecimento","type":"main","index":0}]]},"MySQL - Base de conhecimento":{"main":[[{"node":"Delete table or rows","type":"main","index":0}]]},"Junta dados do documento com dados do banco":{"main":[[{"node":"Postgres PGVector Store","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2c8f3031-bc7f-4b87-888d-2cde9da29f22","triggerCount":0,"shared":[{"createdAt":"2025-08-27T17:47:57.697Z","updatedAt":"2025-08-27T17:47:57.697Z","role":"workflow:owner","workflowId":"nQFtNzMPQw4qKbaY","projectId":"4ToGMYJEWvvDSbcz"}],"tags":[]}