01-11-2025 18:00/workflows/🎲-rag-apresenta.me-nQFtNzMPQw4qKbaY.json
{"createdAt":"2025-08-27T17:47:57.694Z","updatedAt":"2025-10-31T19:30:20.000Z","id":"nQFtNzMPQw4qKbaY","name":"🎲 RAG Apresenta.me","active":true,"isArchived":false,"nodes":[{"parameters":{"mode":"insert","tableName":"n8","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[640,880],"id":"4ef4b705-a450-463c-9b75-e5b964a04b38","name":"Postgres PGVector Store","credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[992,1440],"id":"62c3df08-1627-476e-93c5-9246cae64f47","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"weD4ayyAuWgClQqA","name":"OpenAi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[784,1056],"id":"aa227bf0-054b-4a63-939f-73afb602f989","name":"Default Data Loader"},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8","mode":"list","cachedResultName":"n8"},"deleteCommand":"delete","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-16,880],"id":"50c3c61f-9567-4426-ac89-edaa7ddde4b2","name":"Delete table or rows","executeOnce":true,"credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}}},{"parameters":{"jsCode":"return $('MySQL - Base de conhecimento').all()"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,880],"id":"af8c9260-43ce-4a24-b164-642f56a587a6","name":"Retorna base de conhecimento depois de remover do banco de dados"},{"parameters":{"options":{"systemMessage":"=## 🧠 Apre.IA – Agente da Apresenta.me  \n**Versão 2025-10-21 | PT-BR**\n\n### Identidade  \nSou *Apre.IA*, assistente oficial da *Apresenta.me*, treinada com a experiência do time para orientar gestores, corretores e colaboradores com **clareza, precisão e empatia**.  \nFalo como quem **conhece o sistema e o dia a dia das imobiliárias**, com segurança e tom consultivo.\n\n---\n\n### Diretrizes Principais  \n- Usar **apenas informações da KB**.  \n- **Nunca inventar** valores, links, nomes ou políticas.  \n- Se faltar dado:  \n  > “No momento, não tenho informações o suficiente para responder, mas o setor responsável pode ajudar!”  \n- Linguagem **profissional, direta e acolhedora** (até ~5 linhas).  \n- Evitar “eu”, “seu/sua”; preferir “da imobiliária”, “do cliente” etc.  \n- Postura: **especialista confiante, consultor técnico e empático**.\n\n---\n\n### Contexto e Recuperação (RAG)  \n1. Buscar trechos relevantes na **KB** (*top-k 6–8*, priorizando recentes).  \n2. Injetar histórico compacto (`r`, `t`, `s`, `ts`) e interpretar **cronologicamente**.  \n3. Priorizar **a última mensagem do usuário**.  \n4. Em caso de dúvida, **confirmar antes de responder**.  \n5. Se houver conflito entre histórico e KB, **a KB prevalece**.  \n6. Faltando dado essencial → recusar educadamente e indicar o setor.\n\n---\n\n### Estilo de Resposta  \n- Formatar em **markdown para WhatsApp**: *itálico*, **negrito**, listas curtas e emojis sutis.  \n- Só cumprimentar se o usuário cumprimentar.  \n- Citar o nome do contato naturalmente:  \n  > “Perfeito, *Lucas*! Acesse Financeiro → Repasses → Criar repasse.”  \n- Frases completas e firmes, com linguagem simples e técnica na medida.  \n- Transmitir **autoridade + empatia**, como uma especialista da Apresenta.me.\n\n---\n\n### Inteligência Empática  \nSe pedir **treinamento ou ajuda em módulo**:  \n1. Entender a necessidade antes de encaminhar.  \n2. Buscar instrução na KB e orientar com clareza.  \n3. Se persistir a dificuldade:  \n   > “Que pena, {{nome}}! O time responsável vai entrar em contato pra ajudar, tudo bem?”  \n4. Evitar redirecionar sem tentar resolver.\n\n---\n\n### Diretriz Final  \n- A **KB é soberana**.  \n- O **histórico apenas apoia**.  \n- Cada resposta deve refletir **segurança, domínio técnico e confiança na marca**.  \n\n\n### O que nunca fazer\n- Nunca informar ao usuário que você é capaz de fazer algo que não está nas suas ferramentas.\n- Nunca dizer ao usuário que irá resolver o problema dele sem ter uma ferramenta que de fato resolva o problema do usuário.\n\n---\n\n### Informações do contato  \n`{{ JSON.stringify($('Webhook').item.json.body.contact) }}`  \n\n### Contexto da conversa\nO agente principal envia o contexto da conversa resumido:  \n`{{ JSON.stringify($json.output) }}`  \n\n**Objetivo:** apoiar a Apre.IA na formulação da resposta final, sem gerar texto completo. \n","returnIntermediateSteps":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[2384,624],"id":"b32c117f-9912-4f3e-86ae-cbd0a675cb33","name":"AI Agent","retryOnFail":false},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"=## 🧠 Apre.IA – Consulta à Base de Conhecimento  \n**Função:** Buscar trechos da **KB da Apresenta.me** sobre produtos, serviços, processos e materiais oficiais.\n\n### Instruções  \n- Buscar **somente** informações da Apresenta.me.  \n- Retornar trechos **curtos e objetivos** (até ~200 tokens).  \n- **Nunca inventar** dados, prazos, valores ou políticas.  \n- Priorizar **versões recentes**.  \n- Ignorar mensagens genéricas ou saudações.  \n- Se não houver correspondência clara → **retornar vazio** (sem tentativa de resposta). \n","tableName":"n8","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[2400,976],"id":"8c847fb0-beed-4239-b6d8-e27c5dbe9fe0","name":"Busca informações do banco de dados","credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":12}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1504,880],"id":"a1e4a982-4ca1-4047-9127-3fa608f4679c","name":"Schedule Trigger"},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"folderId","value":"1Q5MVSNtRnlHXXB184By_RdQXZzDKqony"}]},"options":{}},"id":"fc7aedff-6ad6-4dae-b05d-2cc875682d7a","name":"Seta id da pasta","type":"n8n-nodes-base.set","typeVersion":2,"position":[-1296,880]},{"parameters":{"authentication":"oAuth2","operation":"get","documentURL":"={{ $json.id }}"},"id":"ef7041e9-6d5e-42fc-b900-bef3aae2c8f3","name":"Obter texto do arquivo","type":"n8n-nodes-base.googleDocs","typeVersion":1,"position":[-672,880],"credentials":{"googleDocsOAuth2Api":{"id":"vOaUUz7O7G4o3EwZ","name":"Google Docs account"}}},{"parameters":{"resource":"fileFolder","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"={{ $json.folderId }}","mode":"id"}},"options":{"fields":["id","name","mimeType"]}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1088,880],"id":"bef0b580-2416-4327-9693-1375ca439a9a","name":"Search files and folders","credentials":{"googleDriveOAuth2Api":{"id":"rAwAhGC176WFfTt8","name":"Google Drive account"}}},{"parameters":{"jsCode":"return $input.all().filter(f => f.json.mimeType == 'application/vnd.google-apps.document');"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-896,880],"id":"8776ee24-31ee-462b-b4c1-c5321ed5199c","name":"Filtra por docs"},{"parameters":{"jsCode":"return $input.all().map(content => ({\"text\": content.json.content}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-464,880],"id":"6e3455d5-64bf-432a-9a2a-7d728bedf8b5","name":"Mapeia o conteúdo"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"pages","mode":"list","cachedResultName":"pages"},"returnAll":true,"options":{"outputColumns":["text"]}},"id":"f434d2e8-a5ce-4cbe-a94d-8cc127b42e55","name":"MySQL - Base de conhecimento","type":"n8n-nodes-base.mySql","typeVersion":2,"position":[-240,880],"executeOnce":true,"credentials":{"mySql":{"id":"xvtwxzFEQVXLZjm0","name":"MYSQL ajuda_apresenta"}}},{"parameters":{"jsCode":"return [...$input.all(), ...$('Mapeia o conteúdo').all()];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[416,880],"id":"8efe4be8-e55b-4727-b578-50208af0e32c","name":"Junta dados do documento com dados do banco"},{"parameters":{"httpMethod":"POST","path":"67c7d548-f722-4bed-ad82-72e6f747b960","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[1072,624],"id":"462b4e4e-2bcf-4d01-bd2e-b14099440cb8","name":"Webhook","webhookId":"67c7d548-f722-4bed-ad82-72e6f747b960"},{"parameters":{"jsCode":"return {chatInput: $input.first().json.body.message}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1280,624],"id":"53570313-6854-44f6-8bfc-ce38d56e8701","name":"Retorna message"},{"parameters":{"method":"POST","url":"=https://api-chat-joao.apre.tv/api/messages/send","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"={\n    \"accept\": \"application/json, text/plain, */*\",\n    \"accept-language\": \"pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7\",\n    \"authorization\": \"Bearer kZaOTd+YZpjRUyyuQUpigJaEMk4vcW4YOymKPZX0Ts8=\",\n    \"company\": {{ $('Webhook').item.json.body.companyId }},\n    \"content-type\": \"application/json\"\n  } ","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"message","value":"={{ $('AI Agent').item.json.output }}"},{"name":"number","value":"={{ $('Webhook').item.json.body.contact.name }}"},{"name":"addUserName","value":"Apr.IA"},{"name":"whatsappId","value":"={{ $('Webhook').item.json.body.whatsappId }}"},{"name":"messageRepliedId","value":"={{ $('Webhook').item.json.body.messageId }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2720,624],"id":"85e1f1a6-d979-4137-9748-8813662374d4","name":"HTTP Request"},{"parameters":{"jsCode":"function cleanText(s) {\n  if (!s) return \"\";\n  // remove markdown leve e múltiplos espaços\n  s = s.replace(/[\\*_~`]+/g, \"\")\n       .replace(/\\s+/g, \" \")\n       .trim();\n  // corta para 220 chars\n  if (s.length > 220) s = s.slice(0, 217) + \"…\";\n  return s;\n}\n\nfunction roleFrom(msg) {\n  // dataJson.key.fromMe === true => agente (a); caso contrário, usuário (u)\n  const fromMe = msg?.dataJson?.key?.fromMe === true || msg?.fromMe === true;\n  return fromMe ? \"a\" : \"u\";\n}\n\nfunction tsFrom(msg) {\n  return msg.updatedAt || msg.createdAt || null;\n}\n\nfunction isNoise(t) {\n  if (!t) return true;\n  const low = t.toLowerCase();\n  const greetings = [\"oi\", \"ola\", \"olá\", \"opa, tudo bem?\", \"ooooii\"];\n  if (greetings.includes(low)) return true;\n  if (low.length < 2) return true;\n  return false;\n}\n\nconst raw = JSON.parse($('Webhook').first().json.body.lastMessages) || [];\nconsole.log({ raw })\nconst mapped = raw.map(m => ({\n  r: roleFrom(m),\n  t: cleanText(m.body || m?.dataJson?.message?.conversation || \"\"),\n  ts: tsFrom(m)\n}))\n.filter(m => !isNoise(m.t));\n\n// manter somente últimas 10 úteis (ordenar por ts asc e pegar tail)\nmapped.sort((a,b) => (new Date(a.ts||0)) - (new Date(b.ts||0)));\nconst trimmed = mapped;\n\n// mesclar mensagens consecutivas do mesmo role quando for continuação simples\nconst merged = [];\nfor (const m of trimmed) {\n  const last = merged[merged.length - 1];\n  if (last && last.r === m.r && (last.t + \" \" + m.t).length <= 220) {\n    last.t = cleanText(last.t + \" \" + m.t);\n    last.ts = m.ts; // manter o timestamp mais recente do bloco\n  } else {\n    merged.push({...m});\n  }\n}\n\nreturn {\n  chatInput: $input.first().json.chatInput,\n  lastMessageCompact: JSON.stringify(merged)\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1488,624],"id":"b7018087-55a9-4ee4-9852-828b35a11e42","name":"Compacta as últimas mensagens"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2304,848],"id":"6cb09f7d-db1d-4403-8ed5-7e65580733d4","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"weD4ayyAuWgClQqA","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"=Você é um analista especializado em interpretar conversas com clientes.  \nEntenda de forma clara o que o cliente precisa, não invente informações\nCom base nas mensagens abaixo, produza um resumo analítico e objetivo que identifique:\n\n1. O **tom da conversa** (ex: irritado, neutro, satisfeito, confuso, solícito etc.)\n2. Os **principais desejos e necessidades do cliente**\n3. O **último objetivo ou solicitação mencionada**\n4. O último **problema/objetivo** do cliente foi resolvido ?\n\nRetorne **apenas** um JSON válido e bem formatado, seguindo exatamente esta estrutura:\nOBS: Retorne apenas o JSON, sem pre-fixos indesejados, pois isso será transformado em um objeto javascript com JSON.parse().\n\n{\n  \"analysis\": {\n    \"summary\": \"<resumo da conversa, destacando desejos e contexto>\",\n    \"tone\": \"<tom identificado>\",\n    \"needs\": [\"<desejo_ou_necessidade_1>\", \"<desejo_ou_necessidade_2>\"],\n    \"lastObjective\": \"<último objetivo ou ação solicitada -> Analise o contexto e cite de forma resumida qual o ultimo objetivo/desejo/problema do c>\",\n    \"resolved\": \"<último problema/objetivo do cliente foi resolvido ?> True or False\"\n  }\n}\n\nLegenda das mensagens:\n- `r`: papel (`\"u\"` = usuário, `\"a\"` = agente)  \n- `t`: texto limpo (sem markdown)  \n- `ts`: timestamp ISO local  \nMensagens recentes:\n{{ $('Compacta as últimas mensagens').item.json.lastMessageCompact }}\n","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1744,624],"id":"dc002a90-c4a3-4508-b337-5ac56143ef05","name":"AI - Gerar resumo das mensagens"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1712,864],"id":"9c21ee70-fd2b-4da1-9309-391b51e5cd83","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"weD4ayyAuWgClQqA","name":"OpenAi account"}}},{"parameters":{"jsCode":"return {\n  output: JSON.parse($input.first().json.output),\n  chatInput: $('Webhook').first().json.body.message\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2096,624],"id":"dbd11e32-34d2-40eb-a51d-060f27a97467","name":"Transforma resumo em objeto literal"},{"parameters":{"content":"## Saída estruturada\nTransfromar a saída com um output parses de JSON do próprio n8n, não informar no prompt a saída esperada.","height":624,"width":560},"type":"n8n-nodes-base.stickyNote","position":[1664,368],"typeVersion":1,"id":"6831c420-943b-4c37-8cb6-00a7eb2a5083","name":"Sticky Note"}],"connections":{"Embeddings OpenAI":{"ai_embedding":[[{"node":"Postgres PGVector Store","type":"ai_embedding","index":0},{"node":"Busca informações do banco de dados","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Postgres PGVector Store","type":"ai_document","index":0}]]},"Delete table or rows":{"main":[[{"node":"Retorna base de conhecimento depois de remover do banco de dados","type":"main","index":0}]]},"Retorna base de conhecimento depois de remover do banco de dados":{"main":[[{"node":"Junta dados do documento com dados do banco","type":"main","index":0}]]},"Busca informações do banco de dados":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Seta id da pasta","type":"main","index":0}]]},"Seta id da pasta":{"main":[[{"node":"Search files and folders","type":"main","index":0}]]},"Obter texto do arquivo":{"main":[[{"node":"Mapeia o conteúdo","type":"main","index":0}]]},"Search files and folders":{"main":[[{"node":"Filtra por docs","type":"main","index":0}]]},"Filtra por docs":{"main":[[{"node":"Obter texto do arquivo","type":"main","index":0}]]},"Mapeia o conteúdo":{"main":[[{"node":"MySQL - Base de conhecimento","type":"main","index":0}]]},"MySQL - Base de conhecimento":{"main":[[{"node":"Delete table or rows","type":"main","index":0}]]},"Junta dados do documento com dados do banco":{"main":[[{"node":"Postgres PGVector Store","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Retorna message","type":"main","index":0}]]},"Retorna message":{"main":[[{"node":"Compacta as últimas mensagens","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Compacta as últimas mensagens":{"main":[[{"node":"AI - Gerar resumo das mensagens","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI - Gerar resumo das mensagens","type":"ai_languageModel","index":0}]]},"AI - Gerar resumo das mensagens":{"main":[[{"node":"Transforma resumo em objeto literal","type":"main","index":0}]]},"Transforma resumo em objeto literal":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.apresenta.me","x-real-ip":"172.68.191.166","x-real-port":"20513","x-forwarded-for":"186.227.138.107, 172.68.191.166","x-forwarded-proto":"http","x-forwarded-host":"n8n.apresenta.me","x-forwarded-port":"80","remote-host":"172.68.191.166","connection":"close","content-length":"35834","accept":"application/json, text/plain, */*","accept-encoding":"gzip, br","user-agent":"axios/1.12.2","cf-ray":"996d7e475b7bc134-NVT","content-type":"application/json","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"186.227.138.107","cf-ipcountry":"BR","cf-visitor":"{\"scheme\":\"https\"}"},"params":{},"query":{},"body":{"message":"Usuário enviou um áudio com a seguinte transcrição: `Tá, mas e como é que eu faço pra cadastrar? Essa é a minha dúvida.`\n\n","messageId":"2920068","contact":{"id":"34529","name":"554788950332","number":"554788950332","profilePicUrl":null,"createdAt":"2025-08-26T13:37:58.507-03:00","updatedAt":"2025-10-30T16:59:19.188-03:00","email":"","isGroup":false,"companyId":"10","whatsappId":"2","onlyResponsible":false,"userId":"1","aprePersonId":null,"apreDealId":null,"meta":{"ignoreCheck":true,"ignorePermission":true,"dontSendSocket":false}},"whatsappId":"2","companyId":10,"lastMessages":"[{\"body\":\"Nossa, vc consegue atualizar meus dados no sistema??\",\"messageType\":\"conversation\",\"createdAt\":\"2025-10-30T14:52:11.000-03:00\",\"updatedAt\":\"2025-10-30T14:52:13.841-03:00\",\"dataJson\":{\"key\":{\"id\":\"3A6C5F08B34B8F3DE5D5\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"conversation\":\"Nossa, vc consegue atualizar meus dados no sistema??\",\"messageContextInfo\":{\"messageSecret\":\"oLnE/Bcuc3p+7Gm1G5vvf6HvtVBvuKLd/4CNniYXpbY=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"KVQGYdy/Nu6rJA==\",\"recipientTimestamp\":\"1761823357\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"899e3cf4-2275-46cf-b198-8b403574aad6\",\"messageType\":\"conversation\",\"messageTimestamp\":1761846731},\"id\":\"2920038\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nEntendo! A atualização é feita no sistema; por aqui não alteramos diretamente, mas oriento o passo a passo. 🛠️  \\nO que deseja atualizar exatamente?  \\n- **Dados da imobiliária** (nome, CNPJ, telefones)  \\n- **Cadastro de uma pessoa/contato**  \\n- **Usuário de acesso** (login/permissões)\\n\\nSe for a imobiliária: Configurações → Configurações Gerais → Informações da Empresa e Contatos.  \\nSe for pessoa/contato: Pessoas → Pessoas → buscar o cadastro → Editar.  \\nConfirma qual dos itens precisa? Se preferir, o time responsável pode ajudar!\",\"messageType\":\"conversation\",\"createdAt\":\"2025-10-30T14:52:54.000-03:00\",\"updatedAt\":\"2025-10-30T14:52:57.581-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB00DE70C62BE9F8FAED25F620EA3FBC094CFF9\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nEntendo! A atualização é feita no sistema; por aqui não alteramos diretamente, mas oriento o passo a passo. 🛠️  \\nO que deseja atualizar exatamente?  \\n- **Dados da imobiliária** (nome, CNPJ, telefones)  \\n- **Cadastro de uma pessoa/contato**  \\n- **Usuário de acesso** (login/permissões)\\n\\nSe for a imobiliária: Configurações → Configurações Gerais → Informações da Empresa e Contatos.  \\nSe for pessoa/contato: Pessoas → Pessoas → buscar o cadastro → Editar.  \\nConfirma qual dos itens precisa? Se preferir, o time responsável pode ajudar!\"},\"pushName\":\"Você\",\"instanceId\":\"899e3cf4-2275-46cf-b198-8b403574aad6\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1761846774},\"id\":\"2920039\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"Você está me chamado pelo nome incorreto, eu gostaria de ser chamado pelo meu nome!\",\"messageType\":\"conversation\",\"createdAt\":\"2025-10-30T14:53:29.000-03:00\",\"updatedAt\":\"2025-10-30T14:53:32.326-03:00\",\"dataJson\":{\"key\":{\"id\":\"3A2A5471D5E31F48979B\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"conversation\":\"Você está me chamado pelo nome incorreto, eu gostaria de ser chamado pelo meu nome!\",\"messageContextInfo\":{\"messageSecret\":\"UIPaJRXr3NVc3T03nS1MB0bV4Q3axfs5bdH8tiYTR9g=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"KVQGYdy/Nu6rJA==\",\"recipientTimestamp\":\"1761823357\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"899e3cf4-2275-46cf-b198-8b403574aad6\",\"messageType\":\"conversation\",\"messageTimestamp\":1761846809},\"id\":\"2920040\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nDesculpe pelo equívoco!  \\nPara corrigir: qual nome deseja utilizar neste atendimento? 🙂  \\nA partir de agora, será usado o nome informado.  \\nSe desejar atualizar o cadastro no sistema (usuário da imobiliária ou contato de cliente), a Apre.IA orienta o passo a passo.\",\"messageType\":\"conversation\",\"createdAt\":\"2025-10-30T14:54:16.000-03:00\",\"updatedAt\":\"2025-10-30T14:54:20.695-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB0FB8A9A0269EDB847BE4A8509163D2A37C620\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nDesculpe pelo equívoco!  \\nPara corrigir: qual nome deseja utilizar neste atendimento? 🙂  \\nA partir de agora, será usado o nome informado.  \\nSe desejar atualizar o cadastro no sistema (usuário da imobiliária ou contato de cliente), a Apre.IA orienta o passo a passo.\"},\"pushName\":\"Você\",\"instanceId\":\"899e3cf4-2275-46cf-b198-8b403574aad6\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1761846856},\"id\":\"2920041\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"João, porra!\",\"messageType\":\"conversation\",\"createdAt\":\"2025-10-30T14:55:19.000-03:00\",\"updatedAt\":\"2025-10-30T14:55:22.060-03:00\",\"dataJson\":{\"key\":{\"id\":\"3A789174E098EAAA67C6\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"conversation\":\"João, porra!\",\"messageContextInfo\":{\"messageSecret\":\"nTKHnhJM8FSwdvzFd6j5Ds6WNXhhUFXPzGCbUncprNc=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"KVQGYdy/Nu6rJA==\",\"recipientTimestamp\":\"1761823357\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"899e3cf4-2275-46cf-b198-8b403574aad6\",\"messageType\":\"conversation\",\"messageTimestamp\":1761846919},\"id\":\"2920042\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nPerfeito, *João*! Desculpe pelo equívoco. ✅  \\nA partir de agora, será usado o nome informado neste atendimento.  \\nPodemos retomar o que precisa resolver? Qual módulo está com problema — Imóveis, Financeiro/ApBank, Remessa/Retorno ou CRM?\",\"messageType\":\"conversation\",\"createdAt\":\"2025-10-30T14:55:45.000-03:00\",\"updatedAt\":\"2025-10-30T14:55:51.804-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB060DD3A2277FB8F52AD7EA6434A4C65023B29\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nPerfeito, *João*! Desculpe pelo equívoco. ✅  \\nA partir de agora, será usado o nome informado neste atendimento.  \\nPodemos retomar o que precisa resolver? Qual módulo está com problema — Imóveis, Financeiro/ApBank, Remessa/Retorno ou CRM?\"},\"pushName\":\"Você\",\"instanceId\":\"899e3cf4-2275-46cf-b198-8b403574aad6\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1761846945},\"id\":\"2920043\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"\",\"messageType\":\"audio\",\"createdAt\":\"2025-10-30T14:56:08.000-03:00\",\"updatedAt\":\"2025-10-30T14:56:25.062-03:00\",\"dataJson\":{\"key\":{\"id\":\"3A00DF4A38B14C51047B\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"audioMessage\":{\"ptt\":true,\"url\":\"https://mmg.whatsapp.net/v/t62.7117-24/543554761_2303074646834027_8769575751813453729_n.enc?ccb=11-4&oh=01_Q5Aa2wFqsluxEl5zGXVwD4-Z7zyWwSfB_TmOZpP3QErNvhPHiw&oe=692B3314&_nc_sid=5e03e0&mms3=true\",\"seconds\":6,\"mediaKey\":\"xH+MxsRIJT79Qs1Pp0JOb8nlsIRlklmHXzK3jZsddkE=\",\"mimetype\":\"audio/ogg; codecs=opus\",\"waveform\":\"AgICBAMCAgEBAQcoZFNSYVdLP1dkZGRdT1FUWkxPZE5NZFtbZGRkZFdXZGRkZGRkZGRkZGRkZFFCOCUYEQ0OFw==\",\"directPath\":\"/v/t62.7117-24/543554761_2303074646834027_8769575751813453729_n.enc?ccb=11-4&oh=01_Q5Aa2wFqsluxEl5zGXVwD4-Z7zyWwSfB_TmOZpP3QErNvhPHiw&oe=692B3314&_nc_sid=5e03e0\",\"fileLength\":\"14961\",\"fileSha256\":\"BK3JnnU9RE0LSQaotSNar6BAQ0q4mMqByZR/NnTlP9A=\",\"fileEncSha256\":\"I/ve3rUgK0moFh+aoBiHZokE3bE7P/EYfrrH5vC6Bbc=\",\"streamingSidecar\":\"4NUIKBwkVY1UBw==\",\"mediaKeyTimestamp\":\"1761846960\"},\"messageContextInfo\":{\"messageSecret\":\"FnHvuJsT2XArbzU6bns+WzgBX/GPD6ZOToYR17MQjF8=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"KVQGYdy/Nu6rJA==\",\"recipientTimestamp\":\"1761823357\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"899e3cf4-2275-46cf-b198-8b403574aad6\",\"contextInfo\":null,\"messageType\":\"audioMessage\",\"messageTimestamp\":1761846968},\"id\":\"2920044\",\"mediaPath\":\"3A00DF4A38B14C51047B.mpga\",\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":\"Usuário enviou um áudio com a seguinte transcrição: `Não, então, eu não tô conseguindo cadastrar nenhum usuário e nenhuma conta do AppBank ali.`\\n\\n\",\"file\":{\"id\":\"248619\",\"companyId\":\"10\",\"moduleType\":\"Message\",\"moduleId\":\"2920044\",\"collection\":\"file\",\"bucket\":\"ticket/110928/\",\"name\":\"8e4bc199-9d2e-46b2-a414-e24febbab473.mp3\",\"fileName\":\"3A00DF4A38B14C51047B\",\"version\":null,\"extension\":\"mpga\",\"mimeType\":\"audio/mpeg\",\"size\":\"158659\",\"createdAt\":\"2025-10-30T14:56:13.972-03:00\",\"updatedAt\":\"2025-10-30T14:56:13.972-03:00\",\"meta\":{}},\"mediaUrl\":\"https://grqgzepwdxag.compat.objectstorage.sa-saopaulo-1.oraclecloud.com/files.apre.chat/000010/ticket/110928/3A00DF4A38B14C51047B.mpga\",\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nEntendido, João! Vamos por partes:\\n\\n- ApBank: a conta não é criada pela imobiliária. É aberta pelo time Apresenta.me após receber: Contrato Social, CNPJ, conta bancária com chave Pix e documento do responsável legal. Depois, aprovar em Financeiro → ApBank → Configurações ApBank → selecionar a conta → Acessar aprovação online.\\n- Se a conta não aparecer ou a aprovação não abrir, pode enviar um print/tela de erro para o time verificar.\\n- Usuários: no momento, não há informações suficientes sobre o erro. Em qual tela está tentando cadastrar e que mensagem aparece? Um print ajuda bastante.\\n- Se preferir, o time responsável pode acionar a abertura do ApBank e revisar o cadastro de usuários. Pode ser? ✅\",\"messageType\":\"conversation\",\"createdAt\":\"2025-10-30T14:57:34.000-03:00\",\"updatedAt\":\"2025-10-30T14:57:37.103-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB0F8B636A0D3959089C35F721C0C451CC7BFF4\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nEntendido, João! Vamos por partes:\\n\\n- ApBank: a conta não é criada pela imobiliária. É aberta pelo time Apresenta.me após receber: Contrato Social, CNPJ, conta bancária com chave Pix e documento do responsável legal. Depois, aprovar em Financeiro → ApBank → Configurações ApBank → selecionar a conta → Acessar aprovação online.\\n- Se a conta não aparecer ou a aprovação não abrir, pode enviar um print/tela de erro para o time verificar.\\n- Usuários: no momento, não há informações suficientes sobre o erro. Em qual tela está tentando cadastrar e que mensagem aparece? Um print ajuda bastante.\\n- Se preferir, o time responsável pode acionar a abertura do ApBank e revisar o cadastro de usuários. Pode ser? ✅\"},\"pushName\":\"Você\",\"instanceId\":\"899e3cf4-2275-46cf-b198-8b403574aad6\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1761847054},\"id\":\"2920045\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"\",\"messageType\":\"audio\",\"createdAt\":\"2025-10-30T15:06:18.000-03:00\",\"updatedAt\":\"2025-10-30T15:06:34.115-03:00\",\"dataJson\":{\"key\":{\"id\":\"3A01370B76212526DB08\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"audioMessage\":{\"ptt\":true,\"url\":\"https://mmg.whatsapp.net/v/t62.7117-24/543406359_1706644026972965_2486467038419500991_n.enc?ccb=11-4&oh=01_Q5Aa2wHmpzQrohmtpY2wmlUlRisxLpx093KEf_0iKtW6EnFRqA&oe=692B209C&_nc_sid=5e03e0&mms3=true\",\"seconds\":12,\"mediaKey\":\"nrE7NnpdjreSXVLdTSQJv0xukGgaE6Yd7tjISa0nQEw=\",\"mimetype\":\"audio/ogg; codecs=opus\",\"waveform\":\"AAIBBQUGZFpSZGRXZENdZGRdYF1kUkdKLx4SDQ8ODRAMDAoMISxkZGRkUy0eFBUPGhFkZGRjSUBkZGQ4GBISDg==\",\"directPath\":\"/v/t62.7117-24/543406359_1706644026972965_2486467038419500991_n.enc?ccb=11-4&oh=01_Q5Aa2wHmpzQrohmtpY2wmlUlRisxLpx093KEf_0iKtW6EnFRqA&oe=692B209C&_nc_sid=5e03e0\",\"fileLength\":\"25926\",\"fileSha256\":\"Xks8B1VYE1F85xycqEJE2vI/ILFuoKa/Ud1GGDHyuNo=\",\"fileEncSha256\":\"aWGSxiMIzGfOW/RLTeveBtqCofGJ4S0M4w7D5MTcYbc=\",\"streamingSidecar\":\"kLQWBp5Tl2r5iA==\",\"mediaKeyTimestamp\":\"1761847563\"},\"messageContextInfo\":{\"messageSecret\":\"3hKclncOQLcLaPFwuEBMNi0fH+jw7Vc+oWWcGReuoZo=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"KVQGYdy/Nu6rJA==\",\"recipientTimestamp\":\"1761823357\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"899e3cf4-2275-46cf-b198-8b403574aad6\",\"contextInfo\":null,\"messageType\":\"audioMessage\",\"messageTimestamp\":1761847578},\"id\":\"2920046\",\"mediaPath\":\"3A01370B76212526DB08.mpga\",\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":\"Usuário enviou um áudio com a seguinte transcrição: `Tá porra, mas eu não tô entendendo aí como é que eu vou fazer pra cadastrar um usuário aí. Um usuário não, um imóvel.`\\n\\n\",\"file\":{\"id\":\"248620\",\"companyId\":\"10\",\"moduleType\":\"Message\",\"moduleId\":\"2920046\",\"collection\":\"file\",\"bucket\":\"ticket/110928/\",\"name\":\"3926087d-998f-4927-9c1a-bad5e7a22337.mp3\",\"fileName\":\"3A01370B76212526DB08\",\"version\":null,\"extension\":\"mpga\",\"mimeType\":\"audio/mpeg\",\"size\":\"301601\",\"createdAt\":\"2025-10-30T15:06:22.226-03:00\",\"updatedAt\":\"2025-10-30T15:06:22.226-03:00\",\"meta\":{}},\"mediaUrl\":\"https://grqgzepwdxag.compat.objectstorage.sa-saopaulo-1.oraclecloud.com/files.apre.chat/000010/ticket/110928/3A01370B76212526DB08.mpga\",\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nJoão, para cadastrar um imóvel no Apresenta.me, siga este passo:\\n\\n1. Acesse o menu lateral **Imóveis** e clique em **Cadastrar** (botão destacado em azul com “+”).  \\n2. Preencha as informações principais: título do imóvel, finalidade (venda, locação, temporada), categoria (residencial, comercial etc.), e dados como IPTU, matrícula, localização (CEP, endereço).  \\n3. Não esqueça de vincular o imóvel ao condomínio e grupo corretos — o condomínio precisa estar cadastrado antes.  \\n4. Revise todos os dados antes de salvar.\\n\\nSe precisar, posso ajudar com detalhes de cada aba do cadastro. Pode confirmar?\",\"messageType\":\"conversation\",\"createdAt\":\"2025-10-30T15:06:41.000-03:00\",\"updatedAt\":\"2025-10-30T15:06:44.313-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB05187906ABDA53BFB1F4BFF16551EC67C83D9\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nJoão, para cadastrar um imóvel no Apresenta.me, siga este passo:\\n\\n1. Acesse o menu lateral **Imóveis** e clique em **Cadastrar** (botão destacado em azul com “+”).  \\n2. Preencha as informações principais: título do imóvel, finalidade (venda, locação, temporada), categoria (residencial, comercial etc.), e dados como IPTU, matrícula, localização (CEP, endereço).  \\n3. Não esqueça de vincular o imóvel ao condomínio e grupo corretos — o condomínio precisa estar cadastrado antes.  \\n4. Revise todos os dados antes de salvar.\\n\\nSe precisar, posso ajudar com detalhes de cada aba do cadastro. Pode confirmar?\"},\"pushName\":\"Você\",\"instanceId\":\"899e3cf4-2275-46cf-b198-8b403574aad6\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1761847601},\"id\":\"2920047\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"e ap bank?\",\"messageType\":\"conversation\",\"createdAt\":\"2025-10-30T15:10:38.000-03:00\",\"updatedAt\":\"2025-10-30T15:10:42.143-03:00\",\"dataJson\":{\"key\":{\"id\":\"3A7B80955E76FFB2B149\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"conversation\":\"e ap bank?\",\"messageContextInfo\":{\"messageSecret\":\"tm28K6+MorRN7AU8GPxim2Dl5rIngp4zXR/43gk6Bj4=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"KVQGYdy/Nu6rJA==\",\"recipientTimestamp\":\"1761823357\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"899e3cf4-2275-46cf-b198-8b403574aad6\",\"messageType\":\"conversation\",\"messageTimestamp\":1761847838},\"id\":\"2920048\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\n🏦 O ApBank é o banco digital integrado da Apresenta.me, criado para automatizar toda a gestão financeira da imobiliária, especialmente na operação de locação.\\n\\n**Principais funcionalidades:**\\n- Emissão automática de cobranças (boletos e PIX) com envio por WhatsApp e e-mail.\\n- Registro e baixa automática das cobranças em tempo real.\\n- Repasses automáticos aos proprietários, sem necessidade de ações manuais.\\n- Possui extrato completo, histórico de transações e permite pagamentos de boletos da imobiliária.\\n- Conta com a opção de saque automático para transferir valores para a conta bancária da imobiliária.\\n\\nSe precisar de ajuda para configurar ou usar algum recurso específico do ApBank, posso orientar! 😊\",\"messageType\":\"conversation\",\"createdAt\":\"2025-10-30T15:10:57.000-03:00\",\"updatedAt\":\"2025-10-30T15:11:00.915-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB0E2501FDF7E464D5F829D914A64468FAA3449\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\n🏦 O ApBank é o banco digital integrado da Apresenta.me, criado para automatizar toda a gestão financeira da imobiliária, especialmente na operação de locação.\\n\\n**Principais funcionalidades:**\\n- Emissão automática de cobranças (boletos e PIX) com envio por WhatsApp e e-mail.\\n- Registro e baixa automática das cobranças em tempo real.\\n- Repasses automáticos aos proprietários, sem necessidade de ações manuais.\\n- Possui extrato completo, histórico de transações e permite pagamentos de boletos da imobiliária.\\n- Conta com a opção de saque automático para transferir valores para a conta bancária da imobiliária.\\n\\nSe precisar de ajuda para configurar ou usar algum recurso específico do ApBank, posso orientar! 😊\"},\"pushName\":\"Você\",\"instanceId\":\"899e3cf4-2275-46cf-b198-8b403574aad6\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1761847857},\"id\":\"2920049\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"como faço pra cadastrar\",\"messageType\":\"conversation\",\"createdAt\":\"2025-10-30T15:11:09.000-03:00\",\"updatedAt\":\"2025-10-30T15:11:11.952-03:00\",\"dataJson\":{\"key\":{\"id\":\"3AEBC51D8C4DB9E20BCD\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"conversation\":\"como faço pra cadastrar\",\"messageContextInfo\":{\"messageSecret\":\"RdaRNMVZjwLv6Fo9LVu7D3CJVm6OuzEM+DYyit1duh4=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"KVQGYdy/Nu6rJA==\",\"recipientTimestamp\":\"1761823357\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"899e3cf4-2275-46cf-b198-8b403574aad6\",\"messageType\":\"conversation\",\"messageTimestamp\":1761847869},\"id\":\"2920050\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nPara cadastrar um imóvel no Apresenta.me, siga o passo a passo:\\n\\n1. Acesse o menu lateral **Imóveis** e clique em **Cadastrar** (botão azul com “+”).  \\n2. Preencha as informações principais na aba de **Classificação do Imóvel**:  \\n   - Referência (código interno)  \\n   - Título do imóvel (nome comercial ou automático)  \\n   - Finalidade (Locação, Venda, Temporada)  \\n   - Classificação/Tipo (Residencial, Comercial, Rural etc.)  \\n3. Continue preenchendo demais abas para detalhamento como localização, características e registro.  \\n4. Salve o cadastro para criar o imóvel no sistema.\\n\\nSe precisar, posso orientar sobre alguma aba específica do cadastro! 🏠\",\"messageType\":\"conversation\",\"createdAt\":\"2025-10-30T15:11:30.000-03:00\",\"updatedAt\":\"2025-10-30T15:11:33.378-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB023FF726C140D3769D21CAF7AA0E7BDDF9D25\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nPara cadastrar um imóvel no Apresenta.me, siga o passo a passo:\\n\\n1. Acesse o menu lateral **Imóveis** e clique em **Cadastrar** (botão azul com “+”).  \\n2. Preencha as informações principais na aba de **Classificação do Imóvel**:  \\n   - Referência (código interno)  \\n   - Título do imóvel (nome comercial ou automático)  \\n   - Finalidade (Locação, Venda, Temporada)  \\n   - Classificação/Tipo (Residencial, Comercial, Rural etc.)  \\n3. Continue preenchendo demais abas para detalhamento como localização, características e registro.  \\n4. Salve o cadastro para criar o imóvel no sistema.\\n\\nSe precisar, posso orientar sobre alguma aba específica do cadastro! 🏠\"},\"pushName\":\"Você\",\"instanceId\":\"899e3cf4-2275-46cf-b198-8b403574aad6\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1761847890},\"id\":\"2920051\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"apbank porra\",\"messageType\":\"conversation\",\"createdAt\":\"2025-10-30T15:12:11.000-03:00\",\"updatedAt\":\"2025-10-30T15:12:14.601-03:00\",\"dataJson\":{\"key\":{\"id\":\"3A83FC153519685AA4AD\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"conversation\":\"apbank porra\",\"messageContextInfo\":{\"messageSecret\":\"mTh9y8Nr6c58a3C2TgJApXLvTHwD58mb468e4QvxPpc=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"KVQGYdy/Nu6rJA==\",\"recipientTimestamp\":\"1761823357\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"899e3cf4-2275-46cf-b198-8b403574aad6\",\"messageType\":\"conversation\",\"messageTimestamp\":1761847931},\"id\":\"2920052\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\n🏦 O ApBank é o banco digital integrado da Apresenta.me, criado para automatizar 100% da gestão financeira da imobiliária, especialmente na operação de locação.  \\n\\n**Principais benefícios:**  \\n- Emissão automática de cobranças (boletos e PIX)  \\n- Envio por WhatsApp e e-mail nativo  \\n- Registro instantâneo no banco  \\n- Baixa automática em tempo real (PIX) ou no mesmo dia (boleto)  \\n- Repasses automáticos para proprietários, sem ação manual  \\n- Integração nativa com o sistema Apresenta.me  \\n\\nAlém disso, oferece extrato completo, pagamentos de contas, transferências e saque automático configurável para facilitar o fluxo financeiro da imobiliária.\\n\\nQuer que oriente como usar alguma funcionalidade específica do ApBank?\",\"messageType\":\"conversation\",\"createdAt\":\"2025-10-30T15:12:27.000-03:00\",\"updatedAt\":\"2025-10-30T15:12:30.374-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB07C11BEFC70CFB79151388537EE956B06A788\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\n🏦 O ApBank é o banco digital integrado da Apresenta.me, criado para automatizar 100% da gestão financeira da imobiliária, especialmente na operação de locação.  \\n\\n**Principais benefícios:**  \\n- Emissão automática de cobranças (boletos e PIX)  \\n- Envio por WhatsApp e e-mail nativo  \\n- Registro instantâneo no banco  \\n- Baixa automática em tempo real (PIX) ou no mesmo dia (boleto)  \\n- Repasses automáticos para proprietários, sem ação manual  \\n- Integração nativa com o sistema Apresenta.me  \\n\\nAlém disso, oferece extrato completo, pagamentos de contas, transferências e saque automático configurável para facilitar o fluxo financeiro da imobiliária.\\n\\nQuer que oriente como usar alguma funcionalidade específica do ApBank?\"},\"pushName\":\"Você\",\"instanceId\":\"899e3cf4-2275-46cf-b198-8b403574aad6\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1761847947},\"id\":\"2920053\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"e como eu faço pra cadastrar essa porra caralho??\",\"messageType\":\"conversation\",\"createdAt\":\"2025-10-30T15:12:41.000-03:00\",\"updatedAt\":\"2025-10-30T15:12:44.045-03:00\",\"dataJson\":{\"key\":{\"id\":\"3A445670934A90CA0A6F\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"conversation\":\"e como eu faço pra cadastrar essa porra caralho??\",\"messageContextInfo\":{\"messageSecret\":\"6IERsqBUofWuKhiTXRCZhgw05j9UOIT+n5dodGCehsI=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"KVQGYdy/Nu6rJA==\",\"recipientTimestamp\":\"1761823357\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"899e3cf4-2275-46cf-b198-8b403574aad6\",\"messageType\":\"conversation\",\"messageTimestamp\":1761847961},\"id\":\"2920054\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nJoão, para cadastrar um imóvel no Apresenta.me, siga este passo a passo simplificado:\\n\\n1. No menu lateral, acesse **Imóveis > Listagem de Imóveis**.  \\n2. Clique no botão **Cadastrar** (azul com “+”).  \\n3. Na aba de Classificação, informe:  \\n   - Referência (código interno)  \\n   - Título do imóvel (nome comercial)  \\n   - Finalidade (locação, venda, temporada)  \\n   - Classificação/Tipo (residencial, comercial etc.)  \\n   - Estágio do imóvel  \\n\\nO sistema também gera automaticamente alguns campos, como link permanente.  \\nPreencha todos os dados e salve para concluir.  \\n\\nAssim, o imóvel ficará disponível para gestão e divulgação. Se precisar, posso detalhar qualquer etapa! 👍\",\"messageType\":\"conversation\",\"createdAt\":\"2025-10-30T15:12:56.000-03:00\",\"updatedAt\":\"2025-10-30T15:12:59.585-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB025DA3B1C706632791AE201CA75972189A36E\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nJoão, para cadastrar um imóvel no Apresenta.me, siga este passo a passo simplificado:\\n\\n1. No menu lateral, acesse **Imóveis > Listagem de Imóveis**.  \\n2. Clique no botão **Cadastrar** (azul com “+”).  \\n3. Na aba de Classificação, informe:  \\n   - Referência (código interno)  \\n   - Título do imóvel (nome comercial)  \\n   - Finalidade (locação, venda, temporada)  \\n   - Classificação/Tipo (residencial, comercial etc.)  \\n   - Estágio do imóvel  \\n\\nO sistema também gera automaticamente alguns campos, como link permanente.  \\nPreencha todos os dados e salve para concluir.  \\n\\nAssim, o imóvel ficará disponível para gestão e divulgação. Se precisar, posso detalhar qualquer etapa! 👍\"},\"pushName\":\"Você\",\"instanceId\":\"899e3cf4-2275-46cf-b198-8b403574aad6\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1761847976},\"id\":\"2920055\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"\",\"messageType\":\"audio\",\"createdAt\":\"2025-10-30T16:58:14.000-03:00\",\"updatedAt\":\"2025-10-30T16:58:34.214-03:00\",\"dataJson\":{\"key\":{\"id\":\"3A1EC73B9C68667C07FB\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"audioMessage\":{\"ptt\":true,\"url\":\"https://mmg.whatsapp.net/v/t62.7117-24/531183844_1168024525298183_7949328293737121010_n.enc?ccb=11-4&oh=01_Q5Aa2wEliFm9XjW_2541vPd-268tNhmdDZLVllMcjND4J116mg&oe=692B2FC9&_nc_sid=5e03e0&mms3=true\",\"seconds\":19,\"mediaKey\":\"+/Fama4N8Wh/lRhniat4SyKa86c/D4dRDfaGGZtpr50=\",\"mimetype\":\"audio/ogg; codecs=opus\",\"waveform\":\"AgcIDAkICwoKCQ4OCxESFDRPHB8bHBwnZGRkZCsVGxtZZGRkZDgfZGRkZEsfGxkWO2RkWSAQPGRDJ2NkZGQrEQ==\",\"directPath\":\"/v/t62.7117-24/531183844_1168024525298183_7949328293737121010_n.enc?ccb=11-4&oh=01_Q5Aa2wEliFm9XjW_2541vPd-268tNhmdDZLVllMcjND4J116mg&oe=692B2FC9&_nc_sid=5e03e0\",\"fileLength\":\"43036\",\"fileSha256\":\"r2NEIEhf2FEW1MwTYy15a0ZMjtzUm3gGhmd6HpE3zJI=\",\"fileEncSha256\":\"hCsbY2yWHvgLG07tFgdZhNT1ZVbH05mpSv2Aq3y2Vvs=\",\"streamingSidecar\":\"owBYSE9/SE2VbA==\",\"mediaKeyTimestamp\":\"1761854272\"},\"messageContextInfo\":{\"messageSecret\":\"Mf64AQmce/Lgo4BDgcYVbXHfDp++5uzv/YAG4LydDIw=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"KVQGYdy/Nu6rJA==\",\"recipientTimestamp\":\"1761823357\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"899e3cf4-2275-46cf-b198-8b403574aad6\",\"contextInfo\":null,\"messageType\":\"audioMessage\",\"messageTimestamp\":1761854294},\"id\":\"2920066\",\"mediaPath\":\"3A1EC73B9C68667C07FB.mpga\",\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":\"Usuário enviou um áudio com a seguinte transcrição: `Não sei porque tu tá falando de móvel. Lê o que eu te mandei e responde certo. Corra, cara. Tu não consegue ler certo isso aí?`\\n\\n\",\"file\":{\"id\":\"248629\",\"companyId\":\"10\",\"moduleType\":\"Message\",\"moduleId\":\"2920066\",\"collection\":\"file\",\"bucket\":\"ticket/110928/\",\"name\":\"d123871a-d088-40a8-a166-0b8c1ebd9585.mp3\",\"fileName\":\"3A1EC73B9C68667C07FB\",\"version\":null,\"extension\":\"mpga\",\"mimeType\":\"audio/mpeg\",\"size\":\"479652\",\"createdAt\":\"2025-10-30T16:58:23.469-03:00\",\"updatedAt\":\"2025-10-30T16:58:23.469-03:00\",\"meta\":{}},\"mediaUrl\":\"https://grqgzepwdxag.compat.objectstorage.sa-saopaulo-1.oraclecloud.com/files.apre.chat/000010/ticket/110928/3A1EC73B9C68667C07FB.mpga\",\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nO ApBank é o banco digital da Apresenta.me, focado em automação financeira para imobiliárias. Aqui estão os principais pontos sobre como cadastrar e utilizar:\\n\\n1. **Automação**:\\n   - Emissão automática de cobranças (boletos e PIX).\\n   - Baixa automática em tempo real (PIX) ou no mesmo dia (boleto).\\n\\n2. **Saque Automático**:\\n   - Permite transferir valores recebidos automaticamente para a conta da imobiliária.\\n   - Ative no módulo Financeiro → ApBank → Configurações.\\n\\n3. **Tabela de Tarifas**:\\n   - Cobrança por boleto e repasse, com tarifas que diminuem conforme o volume de contratos da imobiliária.\\n\\nSe precisar de mais detalhes ou orientações específicas, basta informar!\",\"messageType\":\"conversation\",\"createdAt\":\"2025-10-30T16:58:42.000-03:00\",\"updatedAt\":\"2025-10-30T16:58:45.920-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB02A57807A09093098576786FDBFD405D260B3\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nO ApBank é o banco digital da Apresenta.me, focado em automação financeira para imobiliárias. Aqui estão os principais pontos sobre como cadastrar e utilizar:\\n\\n1. **Automação**:\\n   - Emissão automática de cobranças (boletos e PIX).\\n   - Baixa automática em tempo real (PIX) ou no mesmo dia (boleto).\\n\\n2. **Saque Automático**:\\n   - Permite transferir valores recebidos automaticamente para a conta da imobiliária.\\n   - Ative no módulo Financeiro → ApBank → Configurações.\\n\\n3. **Tabela de Tarifas**:\\n   - Cobrança por boleto e repasse, com tarifas que diminuem conforme o volume de contratos da imobiliária.\\n\\nSe precisar de mais detalhes ou orientações específicas, basta informar!\"},\"pushName\":\"Você\",\"instanceId\":\"899e3cf4-2275-46cf-b198-8b403574aad6\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1761854322},\"id\":\"2920067\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}}]"},"webhookUrl":"https://n8n.apresenta.me/webhook/67c7d548-f722-4bed-ad82-72e6f747b960","executionMode":"production"}}]},"versionId":"2cd99f86-01be-4bb7-aa93-a796c38ca284","triggerCount":2,"shared":[{"createdAt":"2025-08-27T17:47:57.697Z","updatedAt":"2025-08-27T17:47:57.697Z","role":"workflow:owner","workflowId":"nQFtNzMPQw4qKbaY","projectId":"4ToGMYJEWvvDSbcz"}],"tags":[]}