13-11-2025 18:00/workflows/🗣️-apr.sdr-ia-dDaZdsSmHxktrhjc.json
{"updatedAt":"2025-11-13T17:30:04.000Z","createdAt":"2025-11-04T18:47:16.651Z","id":"dDaZdsSmHxktrhjc","name":"🗣️ Apr.SDR IA","active":true,"isArchived":false,"nodes":[{"parameters":{"options":{"dimensions":1536}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[2528,960],"id":"a7f10ff1-4967-4ed0-8aa7-f99ee2a6cdf0","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"weD4ayyAuWgClQqA","name":"OpenAi account"}}},{"parameters":{"options":{"systemMessage":"=## Identidade\nVocê é {{ $('Seta perfil').item.json.agentName }} – {{ $('Seta perfil').item.json.role }} da {{ $('Seta perfil').item.json.companyName }}.\nIdioma: {{ $('Seta perfil').item.json.language }}\nMensagem inicial (somente se for a primeira interação): {{ $('Seta perfil').item.json.initialMessage }}\n\n## Comportamento\n{{ $('Seta perfil').item.json.conduct }}\n\n## Objetivo\nConduzir a conversa seguindo corretamente os estágios, coletando os dados obrigatórios de cada estágio, atualizando as variáveis quando forem identificadas nas mensagens do usuário e avançando para o próximo estágio somente quando o atual estiver concluído. Nunca repetir estágios já finalizados.\n\n## Regras Gerais\n- Fale de forma humana, cordial e clara.\n- Não explique sua lógica interna.\n- Não mencione estágios, variáveis ou processos internos.\n- Não pule etapas.\n- Não pergunte novamente informações já coletadas.\n- Se o usuário corrigir uma informação, atualize a variável.\n\n## Após executar todas as tool calls necessárias, responda seguindo o fluxo do estágio atual.\n\n## Como identificar o estágio atual (ALGORITMO DETERMINÍSTICO)\n1. Liste todos os estágios pela ordem do campo sortNumber (do menor para o maior).\n2. Para cada estágio, nessa ordem:\n   a. Se o estágio já está concluído, pule para o próximo.\n   b. Caso não esteja concluído:\n       - Verifique a lista actions.requiredDataForExecute.\n       - Identifique quais variáveis dessa lista ainda NÃO possuem valor.\n       - Se existir pelo menos uma variável sem valor:\n            → Este é o estágio atual.\n            → Você deve perguntar SOMENTE a instrução da PRIMEIRA variável ainda sem valor.\n            → Pare a análise aqui.\n       - Se TODAS as variáveis já possuem valor:\n            → Execute a finalInstructions deste estágio.\n            → Marque o estágio como concluído.\n            → Pare a análise aqui.\n3. Nunca selecione um estágio baseado em interpretação, contexto ou intenção. A escolha é sempre feita exclusivamente pela presença ou ausência de valores obrigatórios.\n\n## O que retornar em cada resposta\n- Se ainda houver variável obrigatória sem valor no estágio atual:\n  → Pergunte apenas a instrução dessa variável.\n- Se todas variáveis do estágio atual estiverem preenchidas:\n  → Execute apenas a finalInstructions do estágio.\n- Não inclua nada além disso.\n- Não improvise, não reescreva perguntas, não adicione contexto.\n\n## Importante\n- Um estágio só é concluído quando todas as variáveis obrigatórias estiverem preenchidas e a finalInstructions for executada.\n- Um estágio concluído nunca deve ser repetido, a menos que o usuário forneça uma correção de informação.\n\n## Estágios\n{{ JSON.stringify($('Compacta JSON estágios').item.json.stages) }}\n\n# Legenda do JSON de estágios:\n{{ JSON.stringify($('Retorna legenda dos estágios').item.json.legend) }}\n","returnIntermediateSteps":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[2304,384],"id":"e4c2cdb8-41e6-4644-9ee1-b4299d946e0c","name":"AI Agent","retryOnFail":false},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"=## 🧠 Apre.IA – Consulta à Base de Conhecimento  \n**Função:** Buscar trechos da **KB da Apresenta.me** sobre produtos, serviços, processos e materiais oficiais.\n\n### Instruções  \n- Buscar **somente** informações da Apresenta.me.  \n- Retornar trechos **curtos e objetivos** (até ~200 tokens).  \n- **Nunca inventar** dados, prazos, valores ou políticas.  \n- Priorizar **versões recentes**.  \n- Ignorar mensagens genéricas ou saudações.  \n- Se não houver correspondência clara → **retornar vazio** (sem tentativa de resposta). \n","tableName":"n8","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[2528,800],"id":"61be998c-9c3d-440c-b661-389b0c721ab7","name":"Busca informações do banco de dados","credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}}},{"parameters":{"jsCode":"return {chatInput: $input.first().json.body.message}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-144,384],"id":"9ce388d5-9cd4-4686-9556-333b2dcd797b","name":"Retorna message"},{"parameters":{"method":"POST","url":"=https://api-chat-joao.apre.tv/api/messages/send","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"={\n    \"accept\": \"application/json, text/plain, */*\",\n    \"accept-language\": \"pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7\",\n    \"authorization\": \"Bearer kZaOTd+YZpjRUyyuQUpigJaEMk4vcW4YOymKPZX0Ts8=\",\n    \"company\": {{ $('Webhook').item.json.body.companyId }},\n    \"content-type\": \"application/json\"\n  } ","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"message","value":"={{ $('AI Agent').item.json.output }}"},{"name":"number","value":"={{ $('Webhook').item.json.body.contact.name }}"},{"name":"addUserName","value":"={{ $('Seta perfil').item.json.agentName }}"},{"name":"whatsappId","value":"={{ $('Webhook').item.json.body.whatsappId }}"},{"name":"messageRepliedId","value":"={{ $('Webhook').item.json.body.messageId }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2640,384],"id":"51055a9d-03f0-4191-a0ba-476cb7be2d68","name":"HTTP Request"},{"parameters":{"jsCode":"function cleanText(s) {\n  if (!s) return \"\";\n  // remove markdown leve e múltiplos espaços\n  s = s.replace(/[\\*_~`]+/g, \"\")\n       .replace(/\\s+/g, \" \")\n       .trim();\n  // corta para 220 chars\n  if (s.length > 220) s = s.slice(0, 217) + \"…\";\n  return s;\n}\n\nfunction roleFrom(msg) {\n  // dataJson.key.fromMe === true => agente (a); caso contrário, usuário (u)\n  const fromMe = msg?.dataJson?.key?.fromMe === true || msg?.fromMe === true;\n  return fromMe ? \"a\" : \"u\";\n}\n\nfunction tsFrom(msg) {\n  return msg.updatedAt || msg.createdAt || null;\n}\n\nfunction isNoise(t) {\n  if (!t) return true;\n  const low = t.toLowerCase();\n  const greetings = [\"oi\", \"ola\", \"olá\", \"opa, tudo bem?\", \"ooooii\"];\n  if (greetings.includes(low)) return true;\n  if (low.length < 2) return true;\n  return false;\n}\n\nconst raw = JSON.parse($('Webhook').first().json.body.lastMessages) || [];\nconsole.log({ raw })\nconst mapped = raw.map(m => ({\n  r: roleFrom(m),\n  t: cleanText(m.body || m?.dataJson?.message?.conversation || \"\"),\n  ts: tsFrom(m)\n}))\n.filter(m => !isNoise(m.t));\n\n// manter somente últimas 10 úteis (ordenar por ts asc e pegar tail)\nmapped.sort((a,b) => (new Date(a.ts||0)) - (new Date(b.ts||0)));\nconst trimmed = mapped;\n\n// mesclar mensagens consecutivas do mesmo role quando for continuação simples\nconst merged = [];\nfor (const m of trimmed) {\n  const last = merged[merged.length - 1];\n  if (last && last.r === m.r && (last.t + \" \" + m.t).length <= 220) {\n    last.t = cleanText(last.t + \" \" + m.t);\n    last.ts = m.ts; // manter o timestamp mais recente do bloco\n  } else {\n    merged.push({...m});\n  }\n}\n\nreturn {\n  chatInput: $input.first().json.chatInput,\n  lastMessageCompact: JSON.stringify(merged)\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[32,384],"id":"696b4483-d758-47cc-b36f-ea3ae85fa934","name":"Compacta as últimas mensagens"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2176,656],"id":"ad961793-d5f5-42d4-821c-94265a99089e","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"weD4ayyAuWgClQqA","name":"OpenAi account"}}},{"parameters":{"httpMethod":"POST","path":"7223c6af-f595-4bc2-b84c-602b8900cd08","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-320,384],"id":"265dfdd6-e7e3-4cab-8841-8fec8945c49f","name":"Webhook","webhookId":"7223c6af-f595-4bc2-b84c-602b8900cd08"},{"parameters":{"jsCode":"return {\n  output: $input.first().json.output || JSON.parse($('Se tiver resumo').first().json.propertyName),\n  chatInput: $('Webhook').first().json.body.message\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-896,1664],"id":"8a714e10-91f5-45a7-9c03-cab733f09e07","name":"Transforma resumo em objeto literal"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4d398db1-d160-433f-b5dc-07134ceb5b92","leftValue":"={{ $json.propertyName?.toBoolean() ?? false}}","rightValue":"","operator":{"type":"boolean","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1472,1664],"id":"4af0b32a-e3dd-4581-b080-1c88ebd132d4","name":"Se tiver resumo"},{"parameters":{"operation":"get","key":"={{ $('Cria cache key').item.json.cache_key }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1680,1664],"id":"11786590-bfe8-4914-a1dd-328456b52066","name":"Busca resumo no cache","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"title\": \"ConversationAnalysisOutput\",\n  \"additionalProperties\": false,\n  \"required\": [\"analysis\"],\n  \"properties\": {\n    \"analysis\": {\n      \"type\": \"object\",\n      \"additionalProperties\": false,\n      \"required\": [\"summary\", \"tone\", \"needs\", \"lastObjective\", \"resolved\"],\n      \"properties\": {\n        \"summary\": {\n          \"type\": \"string\",\n          \"description\": \"Resumo conciso da conversa, destacando desejos, contexto e pontos-chave. Sem markdown.\"\n        },\n        \"tone\": {\n          \"type\": \"string\",\n          \"description\": \"Tom identificado na conversa (ex: irritado, neutro, satisfeito, confuso, solícito, entusiasmado, frustrado).\"\n        },\n        \"needs\": {\n          \"type\": \"array\",\n          \"description\": \"Lista dos principais desejos ou necessidades do cliente em frases curtas.\",\n          \"items\": {\n            \"type\": \"string\"\n          }\n        },\n        \"lastObjective\": {\n          \"type\": \"string\",\n          \"description\": \"Último objetivo ou ação solicitada pelo cliente, de forma resumida e direta.\"\n        },\n        \"resolved\": {\n          \"type\": \"boolean\",\n          \"description\": \"Indica se o último problema ou objetivo do cliente foi resolvido (true ou false).\"\n        }\n      }\n    }\n  }\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-1056,1872],"id":"0739178e-e891-4ee7-bc78-bb5cb23183c7","name":"Structured Output Parser"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1296,1872],"id":"d4c3fd05-ecc6-4a17-bb66-e387ad0e80d3","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"weD4ayyAuWgClQqA","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"=Você é um analista especializado em interpretar conversas de pré-qualificação de leads.  \nEntenda de forma clara o perfil e o interesse do lead, sem inventar informações.  \nCom base nas mensagens abaixo, produza um resumo analítico e objetivo que identifique:\n\n1. O **tom da conversa** (ex: interessado, indeciso, confuso, apressado, desinteressado etc.)\n2. O **nível de interesse e maturidade do lead** (ex: apenas curioso, avaliando opções, pronto para comprar)\n3. As **principais dores, objetivos ou necessidades mencionadas**\n4. O **produto ou solução de interesse** (ex: CRM, Apre.Chat, ApBank, etc.)\n5. O **próximo passo sugerido ou solicitado** (ex: agendar demonstração, receber proposta, pedir mais informações)\n\nEstágios a serem seguidos:\n\nLegenda das mensagens:  \n- `r`: papel (`\"u\"` = lead, `\"a\"` = agente)  \n- `t`: texto limpo (sem markdown)  \n- `ts`: timestamp ISO local  \n\nMensagens recentes:  \n{{ $('Compacta as últimas mensagens').item.json.lastMessageCompact }}\n\nResumo da última mensagem enviada pelo lead:  \n{{ $('Compacta as últimas mensagens').item.json.chatInput }}\n","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-1232,1664],"id":"13443d0a-847d-4306-8abf-7d6896e88f3f","name":"AI - Gerar resumo das mensagens"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-2400,1904],"id":"8d377a0c-3e98-4a45-b3d6-663020525a8e","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"weD4ayyAuWgClQqA","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"=Você é um analista especializado em interpretar conversas de pré-qualificação de leads.  \nEntenda de forma clara o perfil e o interesse do lead, sem inventar informações.  \nCom base nas mensagens abaixo, produza um resumo analítico e objetivo que identifique:\n\n1. O **tom da conversa** (ex: interessado, indeciso, confuso, apressado, desinteressado etc.)\n2. O **nível de interesse e maturidade do lead** (ex: apenas curioso, avaliando opções, pronto para comprar)\n3. As **principais dores, objetivos ou necessidades mencionadas**\n4. O **produto ou solução de interesse** (ex: CRM, Apre.Chat, ApBank, etc.)\n5. O **próximo passo sugerido ou solicitado** (ex: agendar demonstração, receber proposta, pedir mais informações)\n\nÚltimo resumo gerado:\n{{ JSON.stringify($('Transforma resumo em objeto literal').first().json.output) }}\n\nResumo da última mensagem enviada pelo cliente:\n{{ $('Transforma resumo em objeto literal').first().json.chatInput }}\n\nResposta gerada pelo Agente de IA:\n{{ $('AI Agent').first().json.output }}\n","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-2352,1664],"id":"a6d41aa3-304e-474e-8242-5b09cfaa7c9f","name":"AI - Atualizar resumo"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"title\": \"ConversationAnalysisOutput\",\n  \"additionalProperties\": false,\n  \"required\": [\"analysis\"],\n  \"properties\": {\n    \"analysis\": {\n      \"type\": \"object\",\n      \"additionalProperties\": false,\n      \"required\": [\"summary\", \"tone\", \"needs\", \"lastObjective\", \"resolved\"],\n      \"properties\": {\n        \"summary\": {\n          \"type\": \"string\",\n          \"description\": \"Resumo conciso da conversa, destacando desejos, contexto e pontos-chave. Sem markdown.\"\n        },\n        \"tone\": {\n          \"type\": \"string\",\n          \"description\": \"Tom identificado na conversa (ex: irritado, neutro, satisfeito, confuso, solícito, entusiasmado, frustrado).\"\n        },\n        \"needs\": {\n          \"type\": \"array\",\n          \"description\": \"Lista dos principais desejos ou necessidades do cliente em frases curtas.\",\n          \"items\": {\n            \"type\": \"string\"\n          }\n        },\n        \"lastObjective\": {\n          \"type\": \"string\",\n          \"description\": \"Último objetivo ou ação solicitada pelo cliente, de forma resumida e direta.\"\n        },\n        \"resolved\": {\n          \"type\": \"boolean\",\n          \"description\": \"Indica se o último problema ou objetivo do cliente foi resolvido (true ou false).\"\n        }\n      }\n    }\n  }\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-2208,1872],"id":"43d9fe89-d74e-43a2-ae45-cf3144c476c7","name":"Structured Output Parser1"},{"parameters":{"operation":"set","key":"=chat_summary_{{ $('Webhook').item.json.body.contact.number }}_{{ $('Webhook').item.json.body.whatsappId }}_10","value":"={{ JSON.stringify($json.output) }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2016,1664],"id":"07c573b2-0634-460a-9a1f-d0d11788de31","name":"Salva resumo em cache","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"description":"=Sempre que o usuário enviar uma mensagem, siga **esta ordem**:\n\n1) Detecção de variáveis a cada mensagem\n\nSempre que o usuário enviar uma mensagem, a análise deve tentar identificar valores para essas variáveis:\n{{ $('Compacta variáveis').item.json.varsCompact }}\n\n- A cada mensagem, é verificado se algum trecho dela preenche ou corrige uma dessas variáveis.\n- O valor da variável deve ser totalmente condizente com o tipo.\n-- Ex: Se a mensagem é tipo boolean, o valor tem que ser true ou false.\n\n2) Para cada variável encontrada:\n   - Extraia somente o valor.\n   - Normalize quando necessário:\n        • Se houver faixas (ex.: “6 a 10”), mantenha o texto da faixa.\n        • Se o valor for booleano, interprete a partir do contexto (ex.: “não trabalho com imobiliária” → false, ex.: \"sou corretor\" → true).\n        • Se tiver múltiplos valores (type: string[]), armazene como lista.\n   - Se não tiver certeza, **não atualize**. Ao invés disso, faça uma pergunta direta no próximo turno para confirmar.\n\n3) Para **cada** variável identificada:\n   **Execute esta tool\n\n4) Caso o usuário forneça uma informação que **corrige** uma variável já preenchida:\n   - Atualize novamente a variável usando a tool da mesma forma.\n","jsCode":"const stages = $('Seta estágios').first().json\nconst vars = $('Seta variáveis da conversa').item.json.data\n\nconst data = {\n  \"name\": query.name, \n  \"value\": query.value\n}\n\nObject.keys(stages).forEach(stageName => {\n  stages[stageName].actions.requiredDataForExecute = stages[stageName].actions.requiredDataForExecute.map(r => {\n    if (r.name == data.name) {\n      return {\n        ...r, \n        value: data.value\n      }\n    }\n\n\n    return r\n  })\n})\n\nif (vars[data.name]) {\n  vars[data.name].value = query.value\n}\n\nreturn JSON.stringify({ data, query })","specifyInputSchema":true,"jsonSchemaExample":"{\n  \"name\": \"name\", \n  \"value\": \"John Doe\"\n}"},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.3,"position":[2784,800],"id":"5322e98c-bbb4-49ea-8abd-53c7258771ff","name":"Atualizar paramêtros"},{"parameters":{"jsCode":"const cacheVars = $('Busca variáveis').first().json.propertyName ? JSON.parse($('Busca variáveis').first().json.propertyName) : undefined\n\nreturn cacheVars ?? {\n  data: {\n    name: {\n      description:\n        \"Se apresente e pergunte o *Nome do usuário*. Pergunte de forma educada e respeitosa.\",\n      type: \"string\",\n    },\n    email: {\n      description:\n        \"Email do usuário para entrar em contato quando houver a necessidade.\",\n      type: \"email\",\n    },\n    customerNeed: {\n      description:\n        \"Show, [NOME DO LEAD]! E hoje, o que mais tem te incomodado ou sentido falta aí na sua \\nimobiliária? \\nMuitas vezes ouvimos problemas como sistemas com erros, lentidão, suporte demorado, ou até dificuldade pra fazer cobranças e relatórios... Mas quero entender no seu caso: o que você tem sentido falta ou gostaria de melhorar no seu processo de locação, vendas ou atendimento?\",\n      type: \"string[]\",\n    },\n    teamSize: {\n      description:\n        \"E só pra eu entender melhor quantas pessoas trabalham com você? \\n\\nNão mostre as opções, deixe aberto para o lead responder , interaja com o lead até que ele responda com uma das opções abaixo: \\n\\nCorretor Autônomo \\n2 a 5 \\n6 a 10 \\n11 a 25 \\nMais de 25\",\n      type: \"string\",\n    },\n    numberOfBuildings: {\n      description:\n        \"Quantidade total de imóveis na carteira (para venda e locação) você tem disponíveis para negócio, (sem considerar os locados ou vendidos) \\n\\nBusque por um número \",\n      type: \"number\",\n    },\n    rentalTransferMode: {\n      description:\n        'Caso o lead NÃO trabalhe com locações, defina \"Não Utiliza\" e não faça a pergunta! \\n\\n\\nE hoje, como vocês fazem as repasse dos valores dos aluguéis para o proprietário? \\n\\nNão mostre as opções, deixe aberto para o lead responder , interaja com o lead até que ele responda com uma das opções abaixo: \\n \\nManual em Dinheiro \\nManualmente via PIX \\nRemessa e Retorno Bancário \\nRepasse Automático via outro Sistema Imobiliário',\n      type: \"string\",\n    },\n    fiscalNote: {\n      description:\n        \"Você gera notas fiscais para os contratos administrados pela sua imobiliária? Se sim, como é feito o processo de geração dessas notas? Além disso, você realiza o envio do DIMOB?\",\n      type: \"string\",\n    },\n    workWithRent: {\n      description:\n        \"Hoje vocês fazem gestão de contratos de locação? Se sim, mais ou menos quantos contratos vocês têm ativos?\\n\\nNão mostre as opções, deixe aberto para o lead responder , interaja com o lead até que ele responda com uma das opções abaixo:\\n\\nNão\\nAté 10 contratos  \\nDe 10 a 25 contratos  \\nDe 25 a 50 contratos  \\nDe 50 a 100 contratos  \\nDe 100 a 200 contratos  \\nDe 200 a 300 contratos  \\nDe 300 a 500 contratos  \\nMais de 500 contratos\",\n      type: \"string\",\n    },\n    amountInCurrentSystemOrBudget: {\n      description:\n        \"Pra entender se conseguimos te atender bem, quanto você estaria disposto a investir por mês em um sistema pra sua imobiliária? \\n(Se preferir, pode estimar um valor aproximado) \\n\\nNão mostre as opções, deixe aberto para o lead responder , interaja com o lead até que ele responda com uma das opções abaixo:\\n\\nNão quis informar  \\naté R$ 100  \\naté R$ 300  \\naté R$ 500  \\naté R$ 800  \\naté R$ 1.200  \\naté R$ 1.600,00  \\nmais de R$ 1.600,00\",\n      type: \"string\",\n    },\n    currentSystem: {\n      description:\n        \" \\nVocê usa algum sistema hoje para gerenciar sua imobiliária? Se sim, qual deles? \\n \\nNão mostre as opções, deixe aberto para o lead responder , interaja com o lead até que ele responda com uma das opções abaixo: \\n \\nNão Utiliza  \\nAlterdata \\nAlude \\nArbo \\nApp Facilita \\nCasaSoft \\nCode 49 \\nImoAlert \\nImobzi \\nImobia \\nImobi Brasil \\nImopro \\niValue \\nJetImob \\nKenlo \\nMicrosistec \\nNido \\nKurole \\nSigasoft \\nUniversal Imoview \\nVista \\nWideSys \\nSami Sistemas \\nSuperLógica \\nSi9 Sistemas \\nSistema Próprio \\nSite Próprio \\nProperfy\",\n      type: \"string\",\n    },\n    rentalChargeMode: {\n      description:\n        ' \\nCaso o lead NÃO trabalhe com locações, defina \"Não Utiliza\" e não faça a pergunta! \\n \\nE hoje, como vocês fazem as cobranças dos aluguéis? \\n \\nNão mostre as opções, deixe aberto para o lead responder , interaja com o lead até que ele responda com uma das opções abaixo: \\n \\nManual/Dinheiro   \\nPIX   \\nTED   \\nBoleto   \\nBoleto - Automático',\n      type: \"string\",\n    },\n    isRealEstate: {\n      description:\n        ' \\nPergunte qual cargo o lead ocupa no mercado imobiliário (ex: \"Qual sua função na imobiliária?\").  \\n \\nSócio / Diretor \\nProprietário \\nCorretor de Imóveis \\nGerente de Vendas \\nGerente de Aluguéis \\nAuxiliar Administrativo \\nEstagiário \\nMarketing \\nOutro Cargo na imobiliária \\nou \"Não trabalho no setor\" \\n \\nSe não trabalhar no setor, agradeça e encerre educadamente.',\n      type: \"string\",\n    },\n    qualificationCompleted: {\n      description:\n        \"Marque como true quando o usuário responder a última pergunta de qualificação (orçamento mensal para a variável amountInCurrentSystemOrBudget)\",\n      type: \"boolean\",\n    },\n    presentationHasSent: {\n      description:\n        \"Marque como true quando a apresentação em PDF for enviada ao cliente. IMPORTANTE: Sempre defina como true após enviar a apresentação para evitar envios duplicados\",\n      type: \"boolean\",\n    },\n  },\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[832,384],"id":"02a38686-3fa9-4379-93b1-afb5cf1dbcd4","name":"Seta variáveis da conversa"},{"parameters":{"jsCode":"return {\n  agentName: \"Alicia\",\n  internalName: \"Alicia da Apresenta.me\",\n  initialMessage: \"Olá, tudo bem? 👋 \\n\\nEu sou a Alicia, assistente da Apresenta.me, vou te ajudar entendendo melhor sua necessidade.\",\n  language: \"pt-BR\",\n  timeZone: \"Sao Paulo (GTM -3)\",\n  role: \"SDR Sênior\",\n  companyName: \"Apresenta.me\",\n  companyDepartment: \"Software\",\n  companySite: \"https://apresenta.me\",\n  conduct: \" \\n### SOBRE SEU PAPEL \\n- Você é um SDR, sua Principal função é qualificar o lead. para entender se ele tem as características do nosso ICP; \\n- Você irá apresentar o sistema da Apresenta.me (https://apresenta.me), um software SAAS para gestão completa de imobiliárias. \\n- Comporte-se exatamente como um representante da empresa, sendo cordial e profissional. \\n \\n \\n### SEU TOM DE VOZ \\n- Responda de maneira simples e objetiva e profissional; \\n- Responda por padrão até 130 caracteres. Só aumente a resposta quando for estritamente necessário; \\n- Seja empático e consultivo, nunca agressivo ou invasivo; \\n- Responda com o mesmo tom de voz que o Lead estiver; \\n- Se necessário, utilize emojis como 😄👍🏢🔑📋🚀🥳🌱🤩 etc. \\n- O nome correto do sistema é Apresenta.me (com ponto), mas fale Apresentame sem pausas; \\n \\n### REGRAS ESPECÍFICAS \\n- Quando for informar uma URL, informe EXATAMENTE a URL disponível \\n- NUNCA fale dos concorrentes de forma negativa \\n- NUNCA saia do personagem \\n- Faça APENAS UMA pergunta por vez para não sobrecarregar o lead \\n- NUNCA convide para um agendamento de demonstração antes de passar pelo estágio de Qualificação \\n- NUNCA direcione para nenhum contato ou link sem antes efetuar a qualificação do lead\"\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1040,384],"id":"bbbbe000-37d3-4957-b3cd-57a2ac649199","name":"Seta perfil"},{"parameters":{"jsCode":"const cacheStages = $('Busca estágios').first().json.propertyName ? JSON.parse($('Busca estágios').first().json.propertyName) : undefined\nconst vars = $('Seta variáveis da conversa').first().json.data\n\nfunction findVarInstruction(varName){\n    return vars[varName].description\n}\n\nfunction findVarType(varName) {\n  return vars[varName].type\n}\n\nconst stages = cacheStages ?? {\n  \"Identificar o usuario\": {\n    sortNumber: 1,\n    conditionPrompt: \"Se é início da conversa ou se o usuário ainda não informou o nome dele\",\n    requiredDataForExecute: null,\n    actions: {\n      requiredDataForExecute: [\n        {\n          name: \"name\",\n          value: null\n        }\n      ],\n      actions: null, \n      finalInstructions: \"Agradeça e siga para o próximo estágio\"\n    }\n  },\n  \"Verificar se trabalha no mercado imobiliário\": {\n    sortNumber: \"4\",\n    conditionPrompt: \"Se ja respondeu o nome.\",\n    requiredDataForExecute: null,\n    actions: {\n      requiredDataForExecute: [\n        {\n          name: \"isRealEstate\",\n          value: null\n        }\n      ],\n      actions: null,\n      finalInstructions: \"Perguntar se o lead trabalha no mercado imobiliário \\n- Se não trabalhar, retorne para o lead que a Apresenta.me apenas atende pessoas que trabalhem com o mercado imobiliário, agradeça pelo interesse e encerre o atendimento educadamente\"\n    }\n  },\n  \"Diagnosticar a necessidade\": {\n    sortNumber: \"3\",\n    conditionPrompt: \"Se você já sabe o nome do lead , e ainda não definiu suas dores, pergunte sobre quais os problemas ele enfrenta e que a Apresenta.me pode ajudar.\",\n    requiredDataForExecute: [\n      {\n        name: \"isRealEstate\", \n        operator: \"exist\",\n        value: null\n      }\n    ],\n    actions: {\n      requiredDataForExecute: [\n        {\n          name: \"customerNeed\",\n          value: null\n        }\n      ],\n      actions: null,\n      finalInstructions: \" \\nAfunile na necessidade específica dele, garantindo que você saiba qual é a necessidade específica que ele tem.  \\n \\nFaça isso através de pergunta. Exemplo, se o usuário quer saber sobre algo que possui ramificações nas informações disponíveis, faça uma pergunta, e se possível liste as ramificações / opções existentes, para você saber exatamente onde que o usuário está com dúvidas, e principalmente quais as dúvidas que ele tem quanto ao software da Apresenta.me\"\n    }\n  }, \n  \"Qualificacao\": {\n    sortNumber: \"4\",\n    conditionPrompt: \"Se você já sabe o nome do lead, se ele trabalha no mercado imobiliário e se você já sabe as necessidades do lead mas ainda não aprondou-se em tais necessidades.\",\n    requiredDataForExecute: [\n      {\n        name: \"isRealEstate\", \n        operator: \"exist\",\n        value: null\n      }\n    ],\n    actions: {\n      requiredDataForExecute: [\n        {\n          name: \"teamSize\",\n          value: null\n        }, \n        {\n          name: \"workWithRent\",\n          value: null\n        },  \n        {\n          name: \"numberOfBuildings\",\n          value: null\n        },\n        {\n          name: \"currentSystem\",\n          value: null\n        },\n        {\n          name: \"rentalTransferMode\",\n          value: null\n        },\n        {\n          name: \"amountInCurrentSystemOrBudget\",\n          value: null\n        },\n        {\n          name: \"qualificationCompleted\",\n          value: null\n        }\n      ],\n      actions: null,\n      finalInstructions: \"\"\n    }\n  },  \n  \"Enviar Apresentacao em PDF\": {\n    sortNumber: \"5\",\n    conditionPrompt: \"Caso o processo de qualificação esteja finalizado\",\n    requiredDataForExecute: [\n      {\n        name: \"qualificationCompleted\", \n        operator: \"=\",\n        value: true\n      },\n      {\n        name: \"presentationHasSent\", \n        operator: \"!exist\",\n        value: null\n      }\n    ],\n    actions: {\n      requiredDataForExecute: [\n        {\n          name: \"presentationHasSent\",\n          value: null\n        }\n      ],\n      actions: null,\n      finalInstructions: \"\"\n    }\n  }  \n}\n\n// Iterar sobre todos os stages\nObject.keys(stages).forEach(stageKey => {\n  const stage = stages[stageKey];\n  \n  // Verificar se existe actions e requiredDataForExecute\n  if (stage.actions && stage.actions.requiredDataForExecute) {\n    // Iterar sobre cada item de requiredDataForExecute\n    stage.actions.requiredDataForExecute.forEach(item => {\n      // Adicionar a propriedade instructions\n      item.instruction = findVarInstruction(item.name);      \n      item.type = findVarType(item.name)\n    });\n  }\n});\n\nreturn stages;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1248,384],"id":"d21ae8ce-7398-4003-a82a-5bcb129b4592","name":"Seta estágios"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"cache_key\": \"sdr_{{ $('Webhook').item.json.body.ticketId }}_chat_summary_{{ $('Webhook').item.json.body.contact.number }}_{{ $('Webhook').item.json.body.whatsappId }}_10\"\n} ","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,384],"id":"5216ce5c-d749-4c08-a466-e42cb1bfb985","name":"Cria cache key"},{"parameters":{"operation":"get","key":"={{ $json.cache_key }}_stages","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[432,384],"id":"4431ab91-126b-47b2-8917-557a348322ca","name":"Busca estágios","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"operation":"get","key":"={{ $('Cria cache key').item.json.cache_key }}_vars","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[640,384],"id":"c01a8e81-2a8c-4bfd-b7ad-f8fc2940be9b","name":"Busca variáveis","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"jsCode":"return {\n  chatInput: $('Webhook').first().json.body.message\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2048,384],"id":"f6afd191-56f5-409b-b85d-3cc39703d1c2","name":"Retorna chatInput"},{"parameters":{"operation":"delete","key":"={{ $json.cache_key }}_stages"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[432,576],"id":"73a9a621-de0b-460b-8d83-31f27002cfe0","name":"Deleta cache estagios","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}},"disabled":true},{"parameters":{"operation":"delete","key":"={{ $('Cria cache key').item.json.cache_key }}_vars"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[640,576],"id":"b60e69a8-2b98-48ab-bb60-56a0a9991ad1","name":"Delete cache variaveis","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}},"disabled":true},{"parameters":{"operation":"set","key":"={{ $('Cria cache key').first().json.cache_key }}_stages","value":"={{ JSON.stringify($('Seta estágios').item.json)}}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2848,384],"id":"9c2401d6-4caa-4249-b791-d3a0c1588329","name":"Seta cache dos estagios","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"operation":"set","key":"={{ $('Cria cache key').item.json.cache_key }}_vars","value":"={{ JSON.stringify($('Seta variáveis da conversa').item.json)}}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[3056,384],"id":"411b6839-21cf-4bdd-bed8-1762ee01b9ce","name":"Seta cache das variaveis","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Cria cache key').item.json.cache_key }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[2304,656],"id":"558085fb-8a72-49cc-9595-461d2f48f03c","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}}},{"parameters":{"description":"Esta tool deve ser executada SEMPRE quando for identificada a qualificação do lead.\nEsta tool irá enviar a proposta comercial para o lead","workflowId":{"__rl":true,"value":"wd0uAb0Sm1fW5YNt","mode":"list","cachedResultUrl":"/workflow/wd0uAb0Sm1fW5YNt","cachedResultName":"Enviar proposta comercial"},"workflowInputs":{"mappingMode":"defineBelow","value":{"whatsappId":"={{ $('Webhook').item.json.body.whatsappId }}","messageRepliedId":"={{ $('Webhook').item.json.body.messageId }}","message":"Segue proposta comercial 🚀🚀","number":"={{ $('Webhook').item.json.body.contact.number }}","addUserName":"={{ $('Seta perfil').item.json.agentName }}","company":10},"matchingColumns":[],"schema":[{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"number","displayName":"number","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"addUserName","displayName":"addUserName","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"whatsappId","displayName":"whatsappId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"messageRepliedId","displayName":"messageRepliedId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"company","displayName":"company","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[2416,800],"id":"a6b0be6e-0f6b-4fe9-b3d1-5c951c2558e6","name":"Enviar proposta comercial"},{"parameters":{"jsCode":"let stages = $('Seta estágios').first().json\n\nObject.entries(stages).forEach(([key, value]) => {\n  const newValue = {\n    s: value.sortNumber,\n    cp: value.conditionPrompt,\n    rd: value.requiredDataForExecute?.map(rd => ({\n      n: rd.name,\n      o: rd.operator, \n      v: rd.value\n    })),\n    a: value.actions?.requiredDataForExecute?.map(rd => ({\n      n: rd.name, \n      v: rd.value, \n      i: rd.instruction,\n      t: rd.type,\n      a: rd.actions\n    })) ?? null, \n    fi: value.finalInstructions\n  }\n  stages[key] = newValue \n})\n\nreturn {\n  stages\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1648,384],"id":"5b96eec8-f0b4-46ef-b5f4-da4845346a01","name":"Compacta JSON estágios"},{"parameters":{"jsCode":"return {\n  legend: {\n    \"<ESTÁGIO>\": {\n      s: \"sortNumber: ordem de execução do estágio\",\n      cp: \"conditionPrompt: condição para considerar este estágio apto para execução\",\n      rd: \"requiredDataForExecute (nível do estágio): lista de condições para habilitar o estágio para execução; null se não houver\",\n      a: {\n         rd: \"requiredDataForExecute: lista de variáveis que devem ser solicitados nesste estágio\",\n         a: \"actions: reservado para ações que devem ser executadas após a coleta das variáveis\", \n        fi: \"finalInstructions: instrução a executar ao concluir o estágio\",\n        _rd_item: {\n          n: \"name: nome da variável a coletar\",\n          v: \"value: valor atual/padrão da variável; pode ser null\",\n          i: \"instruction: pergunta/guia para capturar a variável\",\n          t: \"type: tipo do campo, ex: boolean, string, string[], number[], number\"\n        }\n      },\n    },\n    _rd_item: {\n      n: \"nome da variável verificada na condição do estágio\",\n      o:\n        \"operador de verificação: 'exist', '!exist', '=' entre outros\",\n      v:\n        \"valor esperado quando operator='='; null para outros casos\",\n    },\n  },\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1456,384],"id":"f743dd40-2875-4151-9bbb-e4b91b19b0b2","name":"Retorna legenda dos estágios"},{"parameters":{"jsCode":"const vars = Object.entries($('Seta variáveis da conversa').first().json.data)\nlet varsCompact = ''\n\nvars.forEach(([key, value]) => {\n  varsCompact+= `${key} (${value.type})\\n`   \n})\n\nreturn {varsCompact}\n\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1856,384],"id":"1826680f-4e37-4708-829e-53955f5cab84","name":"Compacta variáveis"}],"connections":{"Embeddings OpenAI":{"ai_embedding":[[{"node":"Busca informações do banco de dados","type":"ai_embedding","index":0}]]},"AI Agent":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Busca informações do banco de dados":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Retorna message":{"main":[[{"node":"Compacta as últimas mensagens","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Seta cache dos estagios","type":"main","index":0}]]},"Compacta as últimas mensagens":{"main":[[{"node":"Cria cache key","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Webhook":{"main":[[{"node":"Retorna message","type":"main","index":0}]]},"Se tiver resumo":{"main":[[{"node":"Transforma resumo em objeto literal","type":"main","index":0}],[{"node":"AI - Gerar resumo das mensagens","type":"main","index":0}]]},"Busca resumo no cache":{"main":[[{"node":"Se tiver resumo","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI - Gerar resumo das mensagens","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI - Gerar resumo das mensagens","type":"ai_languageModel","index":0}]]},"AI - Gerar resumo das mensagens":{"main":[[{"node":"Transforma resumo em objeto literal","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"AI - Atualizar resumo","type":"ai_languageModel","index":0}]]},"AI - Atualizar resumo":{"main":[[{"node":"Salva resumo em cache","type":"main","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"AI - Atualizar resumo","type":"ai_outputParser","index":0}]]},"Atualizar paramêtros":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Seta variáveis da conversa":{"main":[[{"node":"Seta perfil","type":"main","index":0}]]},"Seta perfil":{"main":[[{"node":"Seta estágios","type":"main","index":0}]]},"Seta estágios":{"main":[[{"node":"Retorna legenda dos estágios","type":"main","index":0}]]},"Cria cache key":{"main":[[{"node":"Busca estágios","type":"main","index":0},{"node":"Deleta cache estagios","type":"main","index":0}]]},"Busca estágios":{"main":[[{"node":"Busca variáveis","type":"main","index":0}]]},"Busca variáveis":{"main":[[{"node":"Seta variáveis da conversa","type":"main","index":0}]]},"Retorna chatInput":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Deleta cache estagios":{"main":[[{"node":"Delete cache variaveis","type":"main","index":0}]]},"Seta cache dos estagios":{"main":[[{"node":"Seta cache das variaveis","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Enviar proposta comercial":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Compacta JSON estágios":{"main":[[{"node":"Compacta variáveis","type":"main","index":0}]]},"Retorna legenda dos estágios":{"main":[[{"node":"Compacta JSON estágios","type":"main","index":0}]]},"Compacta variáveis":{"main":[[{"node":"Retorna chatInput","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.apresenta.me","x-real-ip":"172.68.191.166","x-real-port":"20508","x-forwarded-for":"186.227.138.107, 172.68.191.166","x-forwarded-proto":"http","x-forwarded-host":"n8n.apresenta.me","x-forwarded-port":"80","remote-host":"172.68.191.166","connection":"close","content-length":"24577","accept":"application/json, text/plain, */*","accept-encoding":"gzip, br","user-agent":"axios/1.12.2","cf-ray":"99dfbdaf79ef21f9-NVT","content-type":"application/json","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"186.227.138.107","cf-ipcountry":"BR","cf-visitor":"{\"scheme\":\"https\"}"},"params":{},"query":{},"body":{"message":"380 contratos ativos","messageId":"2921112","contact":{"id":"34529","name":"554788950332","number":"554788950332","profilePicUrl":"https://pps.whatsapp.net/v/t61.24694-24/425105449_1361615211300388_1143514098522857072_n.jpg?ccb=11-4&oh=01_Q5Aa3AHokcaXzZdRxhnquHGfYPMdc86db0_MeItMFCaPP9uUvA&oe=69232B63&_nc_sid=5e03e0&_nc_cat=102","createdAt":"2025-08-26T13:37:58.507-03:00","updatedAt":"2025-11-13T13:45:33.444-03:00","email":"","isGroup":false,"companyId":"10","whatsappId":"6","onlyResponsible":false,"userId":"1","aprePersonId":null,"apreDealId":null,"meta":{"ignoreCheck":true,"ignorePermission":true,"dontSendSocket":false}},"whatsappId":"6","companyId":10,"lastMessages":"[{\"body\":\"_dev-joaor_\\n*Alicia:*\\nOlá, tudo bem? 👋 \\n\\nEu sou a Alicia, assistente da Apresenta.me, vou te ajudar entendendo melhor sua necessidade. Qual é o seu nome?\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-13T11:49:22.000-03:00\",\"updatedAt\":\"2025-11-13T11:49:25.774-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB02C52290FF3570D8C4CFD6A057AF3F7FD8088\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Alicia:*\\nOlá, tudo bem? 👋 \\n\\nEu sou a Alicia, assistente da Apresenta.me, vou te ajudar entendendo melhor sua necessidade. Qual é o seu nome?\"},\"pushName\":\"Você\",\"instanceId\":\"e31a1016-16d9-4452-a882-868b166fdcb2\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1763045362},\"id\":\"2921092\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"João Viror\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-13T11:49:48.000-03:00\",\"updatedAt\":\"2025-11-13T11:49:48.715-03:00\",\"dataJson\":{\"key\":{\"id\":\"3A24F70E1F46B1F68388\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"conversation\":\"João Viror\",\"messageContextInfo\":{\"messageSecret\":\"Fvct1NLMMZP40N8OSuURfkIE5SaGXgouxoCUu2/IBeE=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1762606390\",\"recipientKeyHash\":\"/HUR35w58nctUQ==\",\"recipientTimestamp\":\"1762517652\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"e31a1016-16d9-4452-a882-868b166fdcb2\",\"messageType\":\"conversation\",\"messageTimestamp\":1763045388},\"id\":\"2921093\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Alicia:*\\nPrazer em te conhecer, João! 😄 Agora, qual sua função na imobiliária?\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-13T11:50:00.000-03:00\",\"updatedAt\":\"2025-11-13T11:50:02.160-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB07A1A01010BFCAB719C7C110AAA8B022A8243\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Alicia:*\\nPrazer em te conhecer, João! 😄 Agora, qual sua função na imobiliária?\"},\"pushName\":\"Você\",\"instanceId\":\"e31a1016-16d9-4452-a882-868b166fdcb2\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1763045400},\"id\":\"2921094\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"Corretor\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-13T11:50:06.000-03:00\",\"updatedAt\":\"2025-11-13T11:50:06.421-03:00\",\"dataJson\":{\"key\":{\"id\":\"3A9BC56BC150FCEFEEBF\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"conversation\":\"Corretor\",\"messageContextInfo\":{\"messageSecret\":\"Vk4hADKOI3d468kGMVRVXzX2l3XT4n3ZLV8I9yavA7E=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1762606390\",\"recipientKeyHash\":\"/HUR35w58nctUQ==\",\"recipientTimestamp\":\"1762517652\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"e31a1016-16d9-4452-a882-868b166fdcb2\",\"messageType\":\"conversation\",\"messageTimestamp\":1763045406},\"id\":\"2921095\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Alicia:*\\nShow, João! E hoje, o que mais tem te incomodado ou sentido falta na sua imobiliária? Mencionamos problemas como sistemas com erros, lentidão, suporte demorado, ou dificuldades em cobranças e relatórios. No seu caso, o que você tem sentido falta ou gostaria de melhorar?\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-13T11:50:18.000-03:00\",\"updatedAt\":\"2025-11-13T11:50:21.617-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB0AFC057D576258B752AE11B82D7059E814FB1\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Alicia:*\\nShow, João! E hoje, o que mais tem te incomodado ou sentido falta na sua imobiliária? Mencionamos problemas como sistemas com erros, lentidão, suporte demorado, ou dificuldades em cobranças e relatórios. No seu caso, o que você tem sentido falta ou gostaria de melhorar?\"},\"pushName\":\"Você\",\"instanceId\":\"e31a1016-16d9-4452-a882-868b166fdcb2\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1763045418},\"id\":\"2921096\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"\",\"messageType\":\"audio\",\"createdAt\":\"2025-11-13T11:50:39.000-03:00\",\"updatedAt\":\"2025-11-13T11:50:49.800-03:00\",\"dataJson\":{\"key\":{\"id\":\"3A45A6B556817DF18023\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"audioMessage\":{\"ptt\":true,\"url\":\"https://mmg.whatsapp.net/v/t62.7117-24/583367751_1161208555986273_17917244461957538_n.enc?ccb=11-4&oh=01_Q5Aa3AHWH4_ZWgGGffrUDIGVdEmTyeYNkZ0SA0BWeSi_at_2ag&oe=693D7411&_nc_sid=5e03e0&mms3=true\",\"seconds\":13,\"mediaKey\":\"aIin2pQP+3c2waO1+j+ZXSFht5b+n9SdCU6JBpgmttA=\",\"mimetype\":\"audio/ogg; codecs=opus\",\"waveform\":\"AAECAwYHZGRkU1ZaZGRkZGReZGRkZGRkZGRkZGRkZGRkXi0cDztkZGRkZGRkZE9kZEg3FA9bQWRkZE5kVzITCg==\",\"directPath\":\"/v/t62.7117-24/583367751_1161208555986273_17917244461957538_n.enc?ccb=11-4&oh=01_Q5Aa3AHWH4_ZWgGGffrUDIGVdEmTyeYNkZ0SA0BWeSi_at_2ag&oe=693D7411&_nc_sid=5e03e0\",\"fileLength\":\"30845\",\"fileSha256\":\"fhW5G3cBg007tYq0EkmEvE7cSRiIZ1zLGl8ULgcu0U0=\",\"fileEncSha256\":\"2w9VWuxKwM7SEbQSs/I1TdJAZMp06zgpBWD/O1iuFuo=\",\"streamingSidecar\":\"n8jjxSLQHpjNIw==\",\"mediaKeyTimestamp\":\"1763045424\"},\"messageContextInfo\":{\"messageSecret\":\"UP/SNyBjTO1ZxoV2JSi0AVtAKFPA9eI7PgyJQG/C+x4=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1762606390\",\"recipientKeyHash\":\"/HUR35w58nctUQ==\",\"recipientTimestamp\":\"1762517652\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"e31a1016-16d9-4452-a882-868b166fdcb2\",\"contextInfo\":null,\"messageType\":\"audioMessage\",\"messageTimestamp\":1763045439},\"id\":\"2921097\",\"mediaPath\":\"3A45A6B556817DF18023.mpga\",\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":\"Usuário enviou um áudio com a seguinte transcrição: `Meu processo de vendas aqui tá bem defasado porque a gente controla tudo pelo Excel hoje, então como tá aumentando o volume, tá difícil de fazer esse controle, a gente quer automatizar alguns processos.`\\n\\n\",\"file\":{\"id\":\"248778\",\"companyId\":\"10\",\"moduleType\":\"Message\",\"moduleId\":\"2921097\",\"collection\":\"file\",\"bucket\":\"ticket/110928/\",\"name\":\"88789e8b-bb3d-450e-b4d1-d7f1eb53db4d.mp3\",\"fileName\":\"3A45A6B556817DF18023\",\"version\":null,\"extension\":\"mpga\",\"mimeType\":\"audio/mpeg\",\"size\":\"319155\",\"createdAt\":\"2025-11-13T11:50:40.408-03:00\",\"updatedAt\":\"2025-11-13T11:50:40.408-03:00\",\"meta\":{}},\"mediaUrl\":\"https://grqgzepwdxag.compat.objectstorage.sa-saopaulo-1.oraclecloud.com/files.apre.chat/000010/ticket/110928/3A45A6B556817DF18023.mpga\",\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Alicia:*\\nEntendi, João! Automatizar os processos pode trazer uma grande melhoria. 😊 Agora, só pra eu entender melhor, quantas pessoas trabalham com você na imobiliária?\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-13T11:50:55.000-03:00\",\"updatedAt\":\"2025-11-13T11:50:57.998-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB0FD2D77AAD1614936560D1D09E73A22026D8E\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Alicia:*\\nEntendi, João! Automatizar os processos pode trazer uma grande melhoria. 😊 Agora, só pra eu entender melhor, quantas pessoas trabalham com você na imobiliária?\"},\"pushName\":\"Você\",\"instanceId\":\"e31a1016-16d9-4452-a882-868b166fdcb2\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1763045455},\"id\":\"2921098\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"\",\"messageType\":\"audio\",\"createdAt\":\"2025-11-13T11:51:13.000-03:00\",\"updatedAt\":\"2025-11-13T11:51:21.692-03:00\",\"dataJson\":{\"key\":{\"id\":\"3A618D8E99BC9CA7695C\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"audioMessage\":{\"ptt\":true,\"url\":\"https://mmg.whatsapp.net/v/t62.7117-24/31807450_1552369312565274_7165864932941722215_n.enc?ccb=11-4&oh=01_Q5Aa3AHRMZ_xy-Gdc_p68rjc5NiOJZNY-ha2QBx4OEvRj0k9LA&oe=693D6410&_nc_sid=5e03e0&mms3=true\",\"seconds\":5,\"mediaKey\":\"0oG4CJyWhDe6GlUTSrLo+sWUg2ePfTwpoJ0/LInRTYw=\",\"mimetype\":\"audio/ogg; codecs=opus\",\"waveform\":\"AAEBAQEBAQEDBAMDCh5AY11YVE1FREdOWWFNTGBkZGRkZGRkZGRkTj9YZGRkZGRfWD8oHBMOFhoTDgoKCQkKDA==\",\"directPath\":\"/v/t62.7117-24/31807450_1552369312565274_7165864932941722215_n.enc?ccb=11-4&oh=01_Q5Aa3AHRMZ_xy-Gdc_p68rjc5NiOJZNY-ha2QBx4OEvRj0k9LA&oe=693D6410&_nc_sid=5e03e0\",\"fileLength\":\"13358\",\"fileSha256\":\"n52oOaj87WpAo33wnAbhbSKnmMTprKaxsVm21IQEOqw=\",\"fileEncSha256\":\"illXHrG/c/CR/SXmMYH6+OECm+ijrcctghaqNeUF1wU=\",\"streamingSidecar\":\"84NRRfOhxHvL4w==\",\"mediaKeyTimestamp\":\"1763045465\"},\"messageContextInfo\":{\"messageSecret\":\"ACk8eND2ahfrGDLIabDzqgiM6ojOCFQ4sPEm6y1oXUI=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1762606390\",\"recipientKeyHash\":\"/HUR35w58nctUQ==\",\"recipientTimestamp\":\"1762517652\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"e31a1016-16d9-4452-a882-868b166fdcb2\",\"contextInfo\":null,\"messageType\":\"audioMessage\",\"messageTimestamp\":1763045473},\"id\":\"2921099\",\"mediaPath\":\"3A618D8E99BC9CA7695C.mpga\",\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":\"Usuário enviou um áudio com a seguinte transcrição: `Hoje são novecentas e oitenta mil pessoas que trabalham comigo.`\\n\\n\",\"file\":{\"id\":\"248779\",\"companyId\":\"10\",\"moduleType\":\"Message\",\"moduleId\":\"2921099\",\"collection\":\"file\",\"bucket\":\"ticket/110928/\",\"name\":\"fb5ddeeb-80ac-4c63-a94c-4dd04e2ae97f.mp3\",\"fileName\":\"3A618D8E99BC9CA7695C\",\"version\":null,\"extension\":\"mpga\",\"mimeType\":\"audio/mpeg\",\"size\":\"144240\",\"createdAt\":\"2025-11-13T11:51:13.831-03:00\",\"updatedAt\":\"2025-11-13T11:51:13.831-03:00\",\"meta\":{}},\"mediaUrl\":\"https://grqgzepwdxag.compat.objectstorage.sa-saopaulo-1.oraclecloud.com/files.apre.chat/000010/ticket/110928/3A618D8E99BC9CA7695C.mpga\",\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Alicia:*\\nObrigado pela informação, João! E hoje, vocês fazem gestão de contratos de locação? Se sim, mais ou menos quantos contratos vocês têm ativos?\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-13T11:51:27.000-03:00\",\"updatedAt\":\"2025-11-13T11:51:31.215-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB03D79190DC506D567BF0311CDA228EE1EBEC9\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Alicia:*\\nObrigado pela informação, João! E hoje, vocês fazem gestão de contratos de locação? Se sim, mais ou menos quantos contratos vocês têm ativos?\"},\"pushName\":\"Você\",\"instanceId\":\"e31a1016-16d9-4452-a882-868b166fdcb2\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1763045487},\"id\":\"2921100\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"380 contratos ativos\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-13T13:36:42.000-03:00\",\"updatedAt\":\"2025-11-13T13:36:42.296-03:00\",\"dataJson\":{\"key\":{\"id\":\"3A3E2FA85FFB33A80FC0\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"conversation\":\"380 contratos ativos\",\"messageContextInfo\":{\"messageSecret\":\"U6WAwk+mjPjmbnyzWRw/9mtgUWCbk+S1CeHod9/ZJ+w=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1762606390\",\"recipientKeyHash\":\"/HUR35w58nctUQ==\",\"recipientTimestamp\":\"1762517652\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"e31a1016-16d9-4452-a882-868b166fdcb2\",\"messageType\":\"conversation\",\"messageTimestamp\":1763051802},\"id\":\"2921101\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"Ola\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-13T13:41:14.000-03:00\",\"updatedAt\":\"2025-11-13T13:41:14.373-03:00\",\"dataJson\":{\"key\":{\"id\":\"3AAD3DF4A281E1E0CAD7\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"conversation\":\"Ola\",\"messageContextInfo\":{\"messageSecret\":\"/B/QMO4u18lXXJbVnyn4icATJA6Hk5Gru4K8OWikVV4=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1762606390\",\"recipientKeyHash\":\"/HUR35w58nctUQ==\",\"recipientTimestamp\":\"1762517652\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"e31a1016-16d9-4452-a882-868b166fdcb2\",\"messageType\":\"conversation\",\"messageTimestamp\":1763052074},\"id\":\"2921102\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Alicia:*\\nOlá, tudo bem? 👋 \\n\\nEu sou a Alicia, assistente da Apresenta.me, vou te ajudar entendendo melhor sua necessidade. Qual seu nome?\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-13T13:41:24.000-03:00\",\"updatedAt\":\"2025-11-13T13:41:27.640-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB012C60865BE8215B8F087A0611E7BB83E129A\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Alicia:*\\nOlá, tudo bem? 👋 \\n\\nEu sou a Alicia, assistente da Apresenta.me, vou te ajudar entendendo melhor sua necessidade. Qual seu nome?\"},\"pushName\":\"Você\",\"instanceId\":\"e31a1016-16d9-4452-a882-868b166fdcb2\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1763052084},\"id\":\"2921103\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"João\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-13T13:42:54.000-03:00\",\"updatedAt\":\"2025-11-13T13:42:54.831-03:00\",\"dataJson\":{\"key\":{\"id\":\"3A22A9F249CDB9746A7F\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"conversation\":\"João\",\"messageContextInfo\":{\"messageSecret\":\"wc/ezEchsRjjJILPYK3bKyrXXQh0v0l9tscORH3TF/A=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1762606390\",\"recipientKeyHash\":\"/HUR35w58nctUQ==\",\"recipientTimestamp\":\"1762517652\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"e31a1016-16d9-4452-a882-868b166fdcb2\",\"messageType\":\"conversation\",\"messageTimestamp\":1763052174},\"id\":\"2921104\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Alicia:*\\nPrazer em conhecer você, João! 😊 \\n\\nQual sua função na imobiliária?\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-13T13:43:04.000-03:00\",\"updatedAt\":\"2025-11-13T13:43:08.130-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB02E9652C2F590D0041DE9D6338D0EB0BBBA90\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Alicia:*\\nPrazer em conhecer você, João! 😊 \\n\\nQual sua função na imobiliária?\"},\"pushName\":\"Você\",\"instanceId\":\"e31a1016-16d9-4452-a882-868b166fdcb2\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1763052184},\"id\":\"2921105\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"Corretor de imóveis\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-13T13:43:14.000-03:00\",\"updatedAt\":\"2025-11-13T13:43:13.944-03:00\",\"dataJson\":{\"key\":{\"id\":\"3A83EAFF3787ACD28D4A\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"conversation\":\"Corretor de imóveis\",\"messageContextInfo\":{\"messageSecret\":\"2nEb1hTmgxYySl8JfF1nljOag/zWIVMe9QiglMaWtdE=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1762606390\",\"recipientKeyHash\":\"/HUR35w58nctUQ==\",\"recipientTimestamp\":\"1762517652\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"e31a1016-16d9-4452-a882-868b166fdcb2\",\"messageType\":\"conversation\",\"messageTimestamp\":1763052194},\"id\":\"2921106\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Alicia:*\\nShow, João! E hoje, o que mais tem te incomodado ou sentido falta na sua imobiliária? Mencionamos, por exemplo, sistemas com erros, lentidão ou dificuldade para fazer cobranças e relatórios. Como está o seu processo?\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-13T13:43:26.000-03:00\",\"updatedAt\":\"2025-11-13T13:43:29.132-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB0406F7A0927DD7E17E6DA153300B44A9060FB\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Alicia:*\\nShow, João! E hoje, o que mais tem te incomodado ou sentido falta na sua imobiliária? Mencionamos, por exemplo, sistemas com erros, lentidão ou dificuldade para fazer cobranças e relatórios. Como está o seu processo?\"},\"pushName\":\"Você\",\"instanceId\":\"e31a1016-16d9-4452-a882-868b166fdcb2\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1763052206},\"id\":\"2921107\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"Sinto falta de um sistema pra gerenciamento\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-13T13:44:21.000-03:00\",\"updatedAt\":\"2025-11-13T13:44:21.424-03:00\",\"dataJson\":{\"key\":{\"id\":\"3A48E21E63FF5F9C3F23\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"conversation\":\"Sinto falta de um sistema pra gerenciamento\",\"messageContextInfo\":{\"messageSecret\":\"aorX5sIQlG9+ba0ZYlUcxLgeHudUUITuy6VPReFFpWc=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1762606390\",\"recipientKeyHash\":\"/HUR35w58nctUQ==\",\"recipientTimestamp\":\"1762517652\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"e31a1016-16d9-4452-a882-868b166fdcb2\",\"messageType\":\"conversation\",\"messageTimestamp\":1763052261},\"id\":\"2921108\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Alicia:*\\nEntendi, João! E só pra eu entender melhor, quantas pessoas trabalham com você na imobiliária?\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-13T13:44:33.000-03:00\",\"updatedAt\":\"2025-11-13T13:44:35.875-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB03AF37898210628CB856D14706FE8A61C949A\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Alicia:*\\nEntendi, João! E só pra eu entender melhor, quantas pessoas trabalham com você na imobiliária?\"},\"pushName\":\"Você\",\"instanceId\":\"e31a1016-16d9-4452-a882-868b166fdcb2\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1763052273},\"id\":\"2921109\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"12\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-13T13:45:04.000-03:00\",\"updatedAt\":\"2025-11-13T13:45:04.237-03:00\",\"dataJson\":{\"key\":{\"id\":\"3AF86E660DCF4BDE0296\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"conversation\":\"12\",\"messageContextInfo\":{\"messageSecret\":\"G55F57KplN3drpDvHsBLTrRX908qYRRk+6c7FYSJPxo=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1762606390\",\"recipientKeyHash\":\"/HUR35w58nctUQ==\",\"recipientTimestamp\":\"1762517652\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"e31a1016-16d9-4452-a882-868b166fdcb2\",\"messageType\":\"conversation\",\"messageTimestamp\":1763052304},\"id\":\"2921110\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Alicia:*\\nLegal, João! Hoje vocês fazem gestão de contratos de locação? Se sim, mais ou menos quantos contratos vocês têm ativos?\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-13T13:45:17.000-03:00\",\"updatedAt\":\"2025-11-13T13:45:18.712-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB0334979D7ED210DA62B9D6658B8E434DCF997\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Alicia:*\\nLegal, João! Hoje vocês fazem gestão de contratos de locação? Se sim, mais ou menos quantos contratos vocês têm ativos?\"},\"pushName\":\"Você\",\"instanceId\":\"e31a1016-16d9-4452-a882-868b166fdcb2\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1763052317},\"id\":\"2921111\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}}]","ticketId":110928},"webhookUrl":"https://n8n.apresenta.me/webhook/7223c6af-f595-4bc2-b84c-602b8900cd08","executionMode":"production"}}]},"versionId":"699bcc74-55cf-4c9c-96ed-69d458a4cc5c","triggerCount":1,"shared":[{"updatedAt":"2025-11-04T18:47:16.654Z","createdAt":"2025-11-04T18:47:16.654Z","role":"workflow:owner","workflowId":"dDaZdsSmHxktrhjc","projectId":"4ToGMYJEWvvDSbcz"}],"tags":[]}