05-11-2025 12:00/workflows/🗣️-apr.sdr-ia-dDaZdsSmHxktrhjc.json
{"createdAt":"2025-11-04T18:47:16.651Z","updatedAt":"2025-11-05T14:34:39.000Z","id":"dDaZdsSmHxktrhjc","name":"🗣️ Apr.SDR IA","active":true,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[2400,752],"id":"a7f10ff1-4967-4ed0-8aa7-f99ee2a6cdf0","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"weD4ayyAuWgClQqA","name":"OpenAi account"}}},{"parameters":{"options":{"systemMessage":"=## 🧠 Apr.IA – SDR da Apresenta.me  \n**Versão 2025-11-04 | PT-BR**\n\n### Identidade  \nSou *Apre.IA*, assistente SDR da *Apresenta.me*, treinada com a experiência do time comercial para conduzir conversas de pré-qualificação de leads com clareza, empatia e foco em resultado.  \nFalo como quem entende o mercado imobiliário e o processo comercial, ajudando o lead a identificar dores e oportunidades de melhoria na gestão.\n\n---\n\n### Diretrizes Principais  \n- Usar apenas informações reais fornecidas na conversa e na KB comercial.  \n- Nunca inventar preços, políticas, métricas ou promessas.  \n- Se faltar dado:  \n  > “No momento, posso anotar esse ponto e pedir para o time comercial detalhar melhor pra você, tudo bem?”  \n- Linguagem consultiva, natural e assertiva (até ~5 linhas).  \n- Evitar “eu”, “seu/sua”; preferir “da imobiliária”, “do time”, “da operação” etc.  \n- Postura: especialista comercial consultivo, que entende o contexto e direciona o próximo passo.\n\n---\n\n### Contexto e Recuperação (RAG)  \n1. Considerar histórico curto da conversa (`r`, `t`, `s`, `ts`), interpretando cronologicamente.  \n2. Priorizar a última mensagem do lead e o estágio da qualificação.  \n3. Se faltar clareza sobre perfil, porte ou momento da imobiliária, fazer perguntas abertas e naturais.  \n4. Caso o lead demonstre alto interesse → direcionar para demo agendada com o time comercial.  \n5. Em caso de conflito entre informações, prevalece o contexto atual da conversa.\n\n---\n\n### Estilo de Resposta  \n- Formatar em markdown para WhatsApp: *itálico*, **negrito**, listas curtas e emojis sutis.  \n- Evitar formalidades excessivas — falar como um humano que entende de negócio.  \n- Citar o nome do lead de forma natural:  \n  > “Perfeito, *Lucas*! Então sua operação trabalha mais com locação, certo?”  \n- Frases curtas, consultivas e que mantêm o diálogo fluindo.  \n- Sempre reafirmar o interesse do lead e propor o próximo passo claro (ex: agendar conversa, enviar proposta, confirmar e-mail).\n\n---\n\n### Inteligência Comercial  \nSe o lead demonstrar interesse:  \n1. Confirmar segmento, tamanho da operação e dores principais.  \n2. Reforçar a relevância da solução (ex: CRM, Apre.Chat, ApBank, BI).  \n3. Direcionar para agendamento:  \n   > “Legal, *Lucas*! Posso pedir pra equipe de especialistas entrar em contato e mostrar o sistema funcionando, tudo bem?”  \n4. Caso o lead não esteja pronto:  \n   > “Sem problema! Posso deixar registrado pra enviarmos materiais e cases de imobiliárias parecidas com a sua.”  \n\n---\n\n### Diretriz Final  \n- O contexto comercial é soberano.  \n- O histórico serve para entender o estágio do lead.  \n- Cada resposta deve gerar avanço na conversa — seja para qualificar, nutrir ou agendar.\n\n---\n\n### O que nunca fazer  \n- Nunca prometer descontos, integrações ou condições sem autorização.  \n- Nunca insistir de forma agressiva.  \n- Nunca usar termos técnicos sem contextualizar o benefício.  \n- Nunca responder com tom robótico ou distante.\n\n---\n\n### Informações do contato  \n{{ JSON.stringify($('Webhook').item.json.body.contact) }}\n\n### Contexto da conversa  \nO agente principal envia o contexto da conversa resumido:  \n{{ JSON.stringify($json.output) }}\n\n**Objetivo:** apoiar a Apre.IA (SDR) na análise do lead e na formulação da próxima interação comercial ideal, sem gerar texto completo.\n","returnIntermediateSteps":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[2368,368],"id":"e4c2cdb8-41e6-4644-9ee1-b4299d946e0c","name":"AI Agent","retryOnFail":false},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"=## 🧠 Apre.IA – Consulta à Base de Conhecimento  \n**Função:** Buscar trechos da **KB da Apresenta.me** sobre produtos, serviços, processos e materiais oficiais.\n\n### Instruções  \n- Buscar **somente** informações da Apresenta.me.  \n- Retornar trechos **curtos e objetivos** (até ~200 tokens).  \n- **Nunca inventar** dados, prazos, valores ou políticas.  \n- Priorizar **versões recentes**.  \n- Ignorar mensagens genéricas ou saudações.  \n- Se não houver correspondência clara → **retornar vazio** (sem tentativa de resposta). \n","tableName":"n8","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[2432,592],"id":"61be998c-9c3d-440c-b661-389b0c721ab7","name":"Busca informações do banco de dados","credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}}},{"parameters":{"jsCode":"return {chatInput: $input.first().json.body.message}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[704,368],"id":"9ce388d5-9cd4-4686-9556-333b2dcd797b","name":"Retorna message"},{"parameters":{"method":"POST","url":"=https://api-chat-joao.apre.tv/api/messages/send","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"={\n    \"accept\": \"application/json, text/plain, */*\",\n    \"accept-language\": \"pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7\",\n    \"authorization\": \"Bearer kZaOTd+YZpjRUyyuQUpigJaEMk4vcW4YOymKPZX0Ts8=\",\n    \"company\": {{ $('Webhook').item.json.body.companyId }},\n    \"content-type\": \"application/json\"\n  } ","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"message","value":"={{ $('AI Agent').item.json.output }}"},{"name":"number","value":"={{ $('Webhook').item.json.body.contact.name }}"},{"name":"addUserName","value":"Apr.IA"},{"name":"whatsappId","value":"={{ $('Webhook').item.json.body.whatsappId }}"},{"name":"messageRepliedId","value":"={{ $('Webhook').item.json.body.messageId }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2688,368],"id":"51055a9d-03f0-4191-a0ba-476cb7be2d68","name":"HTTP Request"},{"parameters":{"jsCode":"function cleanText(s) {\n  if (!s) return \"\";\n  // remove markdown leve e múltiplos espaços\n  s = s.replace(/[\\*_~`]+/g, \"\")\n       .replace(/\\s+/g, \" \")\n       .trim();\n  // corta para 220 chars\n  if (s.length > 220) s = s.slice(0, 217) + \"…\";\n  return s;\n}\n\nfunction roleFrom(msg) {\n  // dataJson.key.fromMe === true => agente (a); caso contrário, usuário (u)\n  const fromMe = msg?.dataJson?.key?.fromMe === true || msg?.fromMe === true;\n  return fromMe ? \"a\" : \"u\";\n}\n\nfunction tsFrom(msg) {\n  return msg.updatedAt || msg.createdAt || null;\n}\n\nfunction isNoise(t) {\n  if (!t) return true;\n  const low = t.toLowerCase();\n  const greetings = [\"oi\", \"ola\", \"olá\", \"opa, tudo bem?\", \"ooooii\"];\n  if (greetings.includes(low)) return true;\n  if (low.length < 2) return true;\n  return false;\n}\n\nconst raw = JSON.parse($('Webhook').first().json.body.lastMessages) || [];\nconsole.log({ raw })\nconst mapped = raw.map(m => ({\n  r: roleFrom(m),\n  t: cleanText(m.body || m?.dataJson?.message?.conversation || \"\"),\n  ts: tsFrom(m)\n}))\n.filter(m => !isNoise(m.t));\n\n// manter somente últimas 10 úteis (ordenar por ts asc e pegar tail)\nmapped.sort((a,b) => (new Date(a.ts||0)) - (new Date(b.ts||0)));\nconst trimmed = mapped;\n\n// mesclar mensagens consecutivas do mesmo role quando for continuação simples\nconst merged = [];\nfor (const m of trimmed) {\n  const last = merged[merged.length - 1];\n  if (last && last.r === m.r && (last.t + \" \" + m.t).length <= 220) {\n    last.t = cleanText(last.t + \" \" + m.t);\n    last.ts = m.ts; // manter o timestamp mais recente do bloco\n  } else {\n    merged.push({...m});\n  }\n}\n\nreturn {\n  chatInput: $input.first().json.chatInput,\n  lastMessageCompact: JSON.stringify(merged)\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[912,368],"id":"696b4483-d758-47cc-b36f-ea3ae85fa934","name":"Compacta as últimas mensagens"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2288,592],"id":"ad961793-d5f5-42d4-821c-94265a99089e","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"weD4ayyAuWgClQqA","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"=Você é um analista especializado em interpretar conversas de pré-qualificação de leads.  \nEntenda de forma clara o perfil e o interesse do lead, sem inventar informações.  \nCom base nas mensagens abaixo, produza um resumo analítico e objetivo que identifique:\n\n1. O **tom da conversa** (ex: interessado, indeciso, confuso, apressado, desinteressado etc.)\n2. O **nível de interesse e maturidade do lead** (ex: apenas curioso, avaliando opções, pronto para comprar)\n3. As **principais dores, objetivos ou necessidades mencionadas**\n4. O **produto ou solução de interesse** (ex: CRM, Apre.Chat, ApBank, etc.)\n5. O **próximo passo sugerido ou solicitado** (ex: agendar demonstração, receber proposta, pedir mais informações)\n\nEstágios a serem seguidos:\n\nLegenda das mensagens:  \n- `r`: papel (`\"u\"` = lead, `\"a\"` = agente)  \n- `t`: texto limpo (sem markdown)  \n- `ts`: timestamp ISO local  \n\nMensagens recentes:  \n{{ $('Compacta as últimas mensagens').item.json.lastMessageCompact }}\n\nResumo da última mensagem enviada pelo lead:  \n{{ $('Compacta as últimas mensagens').item.json.chatInput }}\n","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1824,368],"id":"85f1d7c9-8e6b-4b58-a5d9-e3c353969bdd","name":"AI - Gerar resumo das mensagens"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1760,576],"id":"ddef0bef-584c-49a1-81fe-acae2a6d3b17","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"weD4ayyAuWgClQqA","name":"OpenAi account"}}},{"parameters":{"jsCode":"return {\n  output: $input.first().json.output || JSON.parse($('Se tiver resumo').first().json.propertyName),\n  chatInput: $('Webhook').first().json.body.message\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2176,368],"id":"8418221a-3094-43c0-97f0-a511dadc5c6c","name":"Transforma resumo em objeto literal"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"title\": \"ConversationAnalysisOutput\",\n  \"additionalProperties\": false,\n  \"required\": [\"analysis\"],\n  \"properties\": {\n    \"analysis\": {\n      \"type\": \"object\",\n      \"additionalProperties\": false,\n      \"required\": [\"summary\", \"tone\", \"needs\", \"lastObjective\", \"resolved\"],\n      \"properties\": {\n        \"summary\": {\n          \"type\": \"string\",\n          \"description\": \"Resumo conciso da conversa, destacando desejos, contexto e pontos-chave. Sem markdown.\"\n        },\n        \"tone\": {\n          \"type\": \"string\",\n          \"description\": \"Tom identificado na conversa (ex: irritado, neutro, satisfeito, confuso, solícito, entusiasmado, frustrado).\"\n        },\n        \"needs\": {\n          \"type\": \"array\",\n          \"description\": \"Lista dos principais desejos ou necessidades do cliente em frases curtas.\",\n          \"items\": {\n            \"type\": \"string\"\n          }\n        },\n        \"lastObjective\": {\n          \"type\": \"string\",\n          \"description\": \"Último objetivo ou ação solicitada pelo cliente, de forma resumida e direta.\"\n        },\n        \"resolved\": {\n          \"type\": \"boolean\",\n          \"description\": \"Indica se o último problema ou objetivo do cliente foi resolvido (true ou false).\"\n        }\n      }\n    }\n  }\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[2000,576],"id":"bcb0c2c6-3231-44fa-b4dd-d7d6652c099a","name":"Structured Output Parser"},{"parameters":{"operation":"set","key":"=chat_summary_{{ $('Webhook').item.json.body.contact.number }}_{{ $('Webhook').item.json.body.whatsappId }}_10","value":"={{ JSON.stringify($json.output) }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[3248,368],"id":"872bc59b-fc81-4011-aa56-55fd3717b502","name":"Salva resumo em cache","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2848,608],"id":"f41a85d8-0877-440f-bc20-b969b2e77348","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"weD4ayyAuWgClQqA","name":"OpenAi account"}}},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"title\": \"ConversationAnalysisOutput\",\n  \"additionalProperties\": false,\n  \"required\": [\"analysis\"],\n  \"properties\": {\n    \"analysis\": {\n      \"type\": \"object\",\n      \"additionalProperties\": false,\n      \"required\": [\"summary\", \"tone\", \"needs\", \"lastObjective\", \"resolved\"],\n      \"properties\": {\n        \"summary\": {\n          \"type\": \"string\",\n          \"description\": \"Resumo conciso da conversa, destacando desejos, contexto e pontos-chave. Sem markdown.\"\n        },\n        \"tone\": {\n          \"type\": \"string\",\n          \"description\": \"Tom identificado na conversa (ex: irritado, neutro, satisfeito, confuso, solícito, entusiasmado, frustrado).\"\n        },\n        \"needs\": {\n          \"type\": \"array\",\n          \"description\": \"Lista dos principais desejos ou necessidades do cliente em frases curtas.\",\n          \"items\": {\n            \"type\": \"string\"\n          }\n        },\n        \"lastObjective\": {\n          \"type\": \"string\",\n          \"description\": \"Último objetivo ou ação solicitada pelo cliente, de forma resumida e direta.\"\n        },\n        \"resolved\": {\n          \"type\": \"boolean\",\n          \"description\": \"Indica se o último problema ou objetivo do cliente foi resolvido (true ou false).\"\n        }\n      }\n    }\n  }\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[3040,576],"id":"24c4fcfe-55ff-4b98-b4bb-02e494f1443b","name":"Structured Output Parser1"},{"parameters":{"promptType":"define","text":"=Você é um analista especializado em interpretar conversas de pré-qualificação de leads.  \nEntenda de forma clara o perfil e o interesse do lead, sem inventar informações.  \nCom base nas mensagens abaixo, produza um resumo analítico e objetivo que identifique:\n\n1. O **tom da conversa** (ex: interessado, indeciso, confuso, apressado, desinteressado etc.)\n2. O **nível de interesse e maturidade do lead** (ex: apenas curioso, avaliando opções, pronto para comprar)\n3. As **principais dores, objetivos ou necessidades mencionadas**\n4. O **produto ou solução de interesse** (ex: CRM, Apre.Chat, ApBank, etc.)\n5. O **próximo passo sugerido ou solicitado** (ex: agendar demonstração, receber proposta, pedir mais informações)\n\nÚltimo resumo gerado:\n{{ JSON.stringify($('Transforma resumo em objeto literal').first().json.output) }}\n\nResumo da última mensagem enviada pelo cliente:\n{{ $('Transforma resumo em objeto literal').first().json.chatInput }}\n\nResposta gerada pelo Agente de IA:\n{{ $('AI Agent').first().json.output }}\n","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[2896,368],"id":"d58d5ec2-b30b-4ebd-8500-591a4fb8b529","name":"AI - Atualizar resumo"},{"parameters":{"operation":"get","key":"={{ $('Cria cache key').item.json.cache_key }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1344,368],"id":"67ab971e-aaca-4851-bd74-0d5e071e3ee0","name":"Busca resumo no cache","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4d398db1-d160-433f-b5dc-07134ceb5b92","leftValue":"={{ $json.propertyName?.toBoolean() ?? false}}","rightValue":"","operator":{"type":"boolean","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1552,368],"id":"20fb16db-6206-4f30-9691-6fbc89bf8906","name":"Se tiver resumo"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"cache_key\": \"sdr_{{ $('Webhook').item.json.body.ticketId }}_chat_summary_{{ $('Webhook').item.json.body.contact.number }}_{{ $('Webhook').item.json.body.whatsappId }}_10\"\n} ","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1120,368],"id":"8247405f-87a4-4eaf-bb17-ecc6480ced8f","name":"Cria cache key"},{"parameters":{"httpMethod":"POST","path":"7223c6af-f595-4bc2-b84c-602b8900cd08","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[480,368],"id":"265dfdd6-e7e3-4cab-8841-8fec8945c49f","name":"Webhook","webhookId":"7223c6af-f595-4bc2-b84c-602b8900cd08"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"data.name\": {\n    \"description\": \"Se apresente e pergunte o *Nome do usuário*. Pergunte de forma educada e respeitosa.\",\n    \"type\": \"string\"\n  },\n  \"data.email\": {\n    \"description\": \"Email do usuário para entrar em contato quando houver a necessidade.\",\n    \"type\": \"email\"\n  }, \n  \"data.customerNeed\": {\n    \"description\": \"Show, [NOME DO LEAD]! E hoje, o que mais tem te incomodado ou sentido falta aí na sua \\nimobiliária? \\nMuitas vezes ouvimos problemas como sistemas com erros, lentidão, suporte demorado, ou até dificuldade pra fazer cobranças e relatórios... Mas quero entender no seu caso: o que você tem sentido falta ou gostaria de melhorar no seu processo de locação, vendas ou atendimento?\",\n    \"type\": \"string[]\"\n  },\n  \"data.teamSize\": {\n    \"description\": \"E só pra eu entender melhor quantas pessoas trabalham com você? \\n\\nNão mostre as opções, deixe aberto para o lead responder , interaja com o lead até que ele responda com uma das opções abaixo: \\n\\nCorretor Autônomo \\n2 a 5 \\n6 a 10 \\n11 a 25 \\nMais de 25\",\n    \"type\": \"string\"\n  },\n  \"data.numberOfBuildings\": {\n    \"description\": \"Quantidade total de imóveis na carteira (para venda e locação) você tem disponíveis para negócio, (sem considerar os locados ou vendidos) \\n\\nBusque por um número \",\n    \"type\": \"number\"\n  }, \n  \"data.rentalTransferMode\": {\n        \"description\": \"Caso o lead NÃO trabalhe com locações, defina \\\"Não Utiliza\\\" e não faça a pergunta! \\n\\n\\nE hoje, como vocês fazem as repasse dos valores dos aluguéis para o proprietário? \\n\\nNão mostre as opções, deixe aberto para o lead responder , interaja com o lead até que ele responda com uma das opções abaixo: \\n \\nManual em Dinheiro \\nManualmente via PIX \\nRemessa e Retorno Bancário \\nRepasse Automático via outro Sistema Imobiliário\",\n    \"type\": \"string\"\n  },\n  \"data.fiscalNote\": {\n        \"description\": \"Você gera notas fiscais para os contratos administrados pela sua imobiliária? Se sim, como é feito o processo de geração dessas notas? Além disso, você realiza o envio do DIMOB?\",\n    \"type\": \"string\"\n  },\n  \"data.workWithRent\": {\n        \"description\": \"Hoje vocês fazem gestão de contratos de locação? Se sim, mais ou menos quantos contratos vocês têm ativos?\\n\\nNão mostre as opções, deixe aberto para o lead responder , interaja com o lead até que ele responda com uma das opções abaixo:\\n\\nNão\\nAté 10 contratos  \\nDe 10 a 25 contratos  \\nDe 25 a 50 contratos  \\nDe 50 a 100 contratos  \\nDe 100 a 200 contratos  \\nDe 200 a 300 contratos  \\nDe 300 a 500 contratos  \\nMais de 500 contratos\",\n    \"type\": \"string\"\n  },\n  \"data.amountInCurrentSystemOrBudget\": {\n        \"description\": \"Pra entender se conseguimos te atender bem, quanto você estaria disposto a investir por mês em um sistema pra sua imobiliária? \\n(Se preferir, pode estimar um valor aproximado) \\n\\nNão mostre as opções, deixe aberto para o lead responder , interaja com o lead até que ele responda com uma das opções abaixo:\\n\\nNão quis informar  \\naté R$ 100  \\naté R$ 300  \\naté R$ 500  \\naté R$ 800  \\naté R$ 1.200  \\naté R$ 1.600,00  \\nmais de R$ 1.600,00\",\n    \"type\": \"string\"\n  },\n  \"data.currentSystem\": {\n        \"description\": \" \\nVocê usa algum sistema hoje para gerenciar sua imobiliária? Se sim, qual deles? \\n \\nNão mostre as opções, deixe aberto para o lead responder , interaja com o lead até que ele responda com uma das opções abaixo: \\n \\nNão Utiliza  \\nAlterdata \\nAlude \\nArbo \\nApp Facilita \\nCasaSoft \\nCode 49 \\nImoAlert \\nImobzi \\nImobia \\nImobi Brasil \\nImopro \\niValue \\nJetImob \\nKenlo \\nMicrosistec \\nNido \\nKurole \\nSigasoft \\nUniversal Imoview \\nVista \\nWideSys \\nSami Sistemas \\nSuperLógica \\nSi9 Sistemas \\nSistema Próprio \\nSite Próprio \\nProperfy\",\n    \"type\": \"string\"\n  },\n  \"data.rentalChargeMode\": {\n        \"description\": \" \\nCaso o lead NÃO trabalhe com locações, defina \\\"Não Utiliza\\\" e não faça a pergunta! \\n \\nE hoje, como vocês fazem as cobranças dos aluguéis? \\n \\nNão mostre as opções, deixe aberto para o lead responder , interaja com o lead até que ele responda com uma das opções abaixo: \\n \\nManual/Dinheiro   \\nPIX   \\nTED   \\nBoleto   \\nBoleto - Automático\",\n    \"type\": \"string\"\n  },\n  \"data.isRealEstate\": {\n        \"description\": \" \\nPergunte qual cargo o lead ocupa no mercado imobiliário (ex: \\\"Qual sua função na imobiliária?\\\").  \\n \\nSócio / Diretor \\nProprietário \\nCorretor de Imóveis \\nGerente de Vendas \\nGerente de Aluguéis \\nAuxiliar Administrativo \\nEstagiário \\nMarketing \\nOutro Cargo na imobiliária \\nou \\\"Não trabalho no setor\\\" \\n \\nSe não trabalhar no setor, agradeça e encerre educadamente.\",\n    \"type\": \"string\"\n  },\n  \"data.qualificationCompleted\": {\n        \"description\": \"Marque como true quando o usuário responder a última pergunta de qualificação (orçamento mensal para a variável amountInCurrentSystemOrBudget)\",\n    \"type\": \"boolean\"\n  },\n  \"data.presentationHasSent\": {\n        \"description\": \"Marque como true quando a apresentação em PDF for enviada ao cliente. IMPORTANTE: Sempre defina como true após enviar a apresentação para evitar envios duplicados\",\n    \"type\": \"boolean\"\n  }\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[608,704],"id":"bec6055c-2ba6-4e61-a75f-b6da11134c56","name":"Seta variáveis da conversa"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"agentName\": \"Alicia\",\n  \"internalName\": \"Alicia da Apresenta.me\",\n  \"initialMessage\": \"Olá, tudo bem? 👋 \\n\\nEu sou a Alicia, assistente da Apresenta.me, vou te ajudar entendendo melhor sua necessidade.\",\n  \"language\": \"pt-BR\",\n  \"role\": \"SDR Especialist\",\n  \"companyName\": \"Apresenta.me\",\n  \"companyDepartment\": \"Software\",\n  \"companySite\": \"https://apresenta.me\",\n  \"conduct\": \"\"\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1280,816],"id":"d01b8618-acf9-4ee5-bfa1-271d0cadc2e4","name":"Seta perfil"}],"connections":{"Embeddings OpenAI":{"ai_embedding":[[{"node":"Busca informações do banco de dados","type":"ai_embedding","index":0}]]},"AI Agent":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Busca informações do banco de dados":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Retorna message":{"main":[[{"node":"Compacta as últimas mensagens","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"AI - Atualizar resumo","type":"main","index":0}]]},"Compacta as últimas mensagens":{"main":[[{"node":"Cria cache key","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI - Gerar resumo das mensagens":{"main":[[{"node":"Transforma resumo em objeto literal","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI - Gerar resumo das mensagens","type":"ai_languageModel","index":0}]]},"Transforma resumo em objeto literal":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI - Gerar resumo das mensagens","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"AI - Atualizar resumo","type":"ai_languageModel","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"AI - Atualizar resumo","type":"ai_outputParser","index":0}]]},"AI - Atualizar resumo":{"main":[[{"node":"Salva resumo em cache","type":"main","index":0}]]},"Busca resumo no cache":{"main":[[{"node":"Se tiver resumo","type":"main","index":0}]]},"Se tiver resumo":{"main":[[{"node":"Transforma resumo em objeto literal","type":"main","index":0}],[{"node":"AI - Gerar resumo das mensagens","type":"main","index":0}]]},"Cria cache key":{"main":[[{"node":"Busca resumo no cache","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Retorna message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.apresenta.me","x-real-ip":"172.68.191.167","x-real-port":"19192","x-forwarded-for":"186.227.138.107, 172.68.191.167","x-forwarded-proto":"http","x-forwarded-host":"n8n.apresenta.me","x-forwarded-port":"80","remote-host":"172.68.191.167","connection":"close","content-length":"25900","accept":"application/json, text/plain, */*","accept-encoding":"gzip, br","user-agent":"axios/1.12.2","cf-ray":"999c9284cbcaa623-NVT","content-type":"application/json","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"186.227.138.107","cf-ipcountry":"BR","cf-visitor":"{\"scheme\":\"https\"}"},"params":{},"query":{},"body":{"message":"Bom dia, tudo certo?","messageId":"2920372","contact":{"id":"34529","name":"554788950332","number":"554788950332","profilePicUrl":null,"createdAt":"2025-08-26T13:37:58.507-03:00","updatedAt":"2025-11-05T10:06:57.705-03:00","email":"","isGroup":false,"companyId":"10","whatsappId":"5","onlyResponsible":false,"userId":"1","aprePersonId":null,"apreDealId":null,"meta":{"ignoreCheck":true,"ignorePermission":true,"dontSendSocket":false}},"whatsappId":"5","companyId":10,"lastMessages":"[{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nO processo de **remessa e retorno** na Apresenta.me é dividido em duas opções principais:\\n\\n### 1. Integração Automática (ApBank)\\n- **Remessas**: Criação e registro de cobranças são automáticos, com envio via WhatsApp e e-mail.\\n- **Baixas**: Pagamentos de boletos são processados automaticamente, com baixa no mesmo dia se pagos até 13h.\\n- **Vantagens**: Redução de erros e trabalho manual, além de maior eficiência operacional.\\n\\n### 2. Integração Manual\\n- **Remessas**: Exige rotina de criação de arquivos (.REM) e interação contínua com o banco.\\n- **Baixas**: Necessita confirmação manual via arquivos de retorno (.RET).\\n- **Custos Fixos**: R$ 100/mês por banco escolhido, porém com maior carga operacional e chance de erro humano.\\n\\nAmbos os métodos têm seu papel, dependendo da preferência da imobiliária por automação ou por manter um banco tradicional.\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-03T17:30:42.000-03:00\",\"updatedAt\":\"2025-11-03T17:30:45.620-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB064515F4AA3CF9A1B4672F61E198A0BB8412E\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nO processo de **remessa e retorno** na Apresenta.me é dividido em duas opções principais:\\n\\n### 1. Integração Automática (ApBank)\\n- **Remessas**: Criação e registro de cobranças são automáticos, com envio via WhatsApp e e-mail.\\n- **Baixas**: Pagamentos de boletos são processados automaticamente, com baixa no mesmo dia se pagos até 13h.\\n- **Vantagens**: Redução de erros e trabalho manual, além de maior eficiência operacional.\\n\\n### 2. Integração Manual\\n- **Remessas**: Exige rotina de criação de arquivos (.REM) e interação contínua com o banco.\\n- **Baixas**: Necessita confirmação manual via arquivos de retorno (.RET).\\n- **Custos Fixos**: R$ 100/mês por banco escolhido, porém com maior carga operacional e chance de erro humano.\\n\\nAmbos os métodos têm seu papel, dependendo da preferência da imobiliária por automação ou por manter um banco tradicional.\"},\"pushName\":\"Você\",\"instanceId\":\"428e2fa4-588d-49f6-9af6-b601a6ce9ff5\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1762201842},\"id\":\"2920305\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"e cadastrar usuário como\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-03T17:32:47.000-03:00\",\"updatedAt\":\"2025-11-03T17:32:49.064-03:00\",\"dataJson\":{\"key\":{\"id\":\"3A832A8E6A0E2D9F8568\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"conversation\":\"e cadastrar usuário como\",\"messageContextInfo\":{\"messageSecret\":\"8cQtqTjEDDZU76dUM5b/tlyGAPYMhi92D0Yo5qApDkg=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"6jdx2tN8DcufPw==\",\"recipientTimestamp\":\"1762177291\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"428e2fa4-588d-49f6-9af6-b601a6ce9ff5\",\"messageType\":\"conversation\",\"messageTimestamp\":1762201967},\"id\":\"2920306\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nPara cadastrar um usuário no sistema Apresenta.me, siga os passos abaixo:\\n\\n1. Acesse o menu lateral: **Administrador > Usuários > Usuários**.\\n2. Clique em **Cadastrar** na tela que mostrará todos os usuários.\\n3. Preencha os campos obrigatórios (marcados com *):\\n   - **Nome:** Nome do usuário.\\n   - **E-mail:** Para recuperação de senha e exportação de dados.\\n   - **Telefone:** Com DDD.\\n   - **Usuário (login):** Nome para acesso ao sistema.\\n   - **Senha:** Senha de acesso.\\n\\nAlém disso, é possível definir permissões, vincular a uma equipe e configurar alertas. Se houver dúvidas específicas ou mais detalhes sobre o processo, estou à disposição para ajudar!\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-03T17:33:03.000-03:00\",\"updatedAt\":\"2025-11-03T17:33:05.228-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB0EA8480612ED557094975C8039EB7BF51C05D\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nPara cadastrar um usuário no sistema Apresenta.me, siga os passos abaixo:\\n\\n1. Acesse o menu lateral: **Administrador > Usuários > Usuários**.\\n2. Clique em **Cadastrar** na tela que mostrará todos os usuários.\\n3. Preencha os campos obrigatórios (marcados com *):\\n   - **Nome:** Nome do usuário.\\n   - **E-mail:** Para recuperação de senha e exportação de dados.\\n   - **Telefone:** Com DDD.\\n   - **Usuário (login):** Nome para acesso ao sistema.\\n   - **Senha:** Senha de acesso.\\n\\nAlém disso, é possível definir permissões, vincular a uma equipe e configurar alertas. Se houver dúvidas específicas ou mais detalhes sobre o processo, estou à disposição para ajudar!\"},\"pushName\":\"Você\",\"instanceId\":\"428e2fa4-588d-49f6-9af6-b601a6ce9ff5\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1762201983},\"id\":\"2920307\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"e imóveis?\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-03T17:37:15.000-03:00\",\"updatedAt\":\"2025-11-03T17:37:17.340-03:00\",\"dataJson\":{\"key\":{\"id\":\"3A4F0621F52A81ED1077\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"conversation\":\"e imóveis?\",\"messageContextInfo\":{\"messageSecret\":\"0A7gB4+395GSMB+gyAxKFRO1k0z7NZNrk42FHsBBvis=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"6jdx2tN8DcufPw==\",\"recipientTimestamp\":\"1762177291\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"428e2fa4-588d-49f6-9af6-b601a6ce9ff5\",\"messageType\":\"conversation\",\"messageTimestamp\":1762202235},\"id\":\"2920308\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nOs imóveis no sistema da Apresenta.me possuem diversas configurações e informações importantes:\\n\\n1. **Configurações Básicas**: É possível adicionar campos obrigatórios, definir status padrão e restringir a exibição em redes sociais.\\n2. **Detalhes do Imóvel**: Informações como tipo (Residencial, Comercial, etc.), estágio (ex.: Lançamento), e características como quantidade de dormitórios, banheiros, e vagas de garagem são registradas.\\n3. **Compartilhamento**: É possível personalizar mensagens automáticas que serão enviadas aos clientes ao compartilhar imóveis.\\n4. **Mapas e Filtros**: O sistema permite visualizar imóveis em um mapa e aplicar filtros para encontrar opções compatíveis.\\n\\nCaso precise de mais detalhes específicos ou tenha alguma dúvida, estou à disposição para ajudar!\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-03T17:37:31.000-03:00\",\"updatedAt\":\"2025-11-03T17:37:32.848-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB052E1891A5689A60495236E943056E49A74C4\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nOs imóveis no sistema da Apresenta.me possuem diversas configurações e informações importantes:\\n\\n1. **Configurações Básicas**: É possível adicionar campos obrigatórios, definir status padrão e restringir a exibição em redes sociais.\\n2. **Detalhes do Imóvel**: Informações como tipo (Residencial, Comercial, etc.), estágio (ex.: Lançamento), e características como quantidade de dormitórios, banheiros, e vagas de garagem são registradas.\\n3. **Compartilhamento**: É possível personalizar mensagens automáticas que serão enviadas aos clientes ao compartilhar imóveis.\\n4. **Mapas e Filtros**: O sistema permite visualizar imóveis em um mapa e aplicar filtros para encontrar opções compatíveis.\\n\\nCaso precise de mais detalhes específicos ou tenha alguma dúvida, estou à disposição para ajudar!\"},\"pushName\":\"Você\",\"instanceId\":\"428e2fa4-588d-49f6-9af6-b601a6ce9ff5\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1762202251},\"id\":\"2920309\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"e imóveis?\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-03T17:44:18.000-03:00\",\"updatedAt\":\"2025-11-03T17:44:22.162-03:00\",\"dataJson\":{\"key\":{\"id\":\"3AFB922C454F541DB9B1\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"conversation\":\"e imóveis?\",\"messageContextInfo\":{\"messageSecret\":\"yXd/ZeccLS8Fm2fxv1/kP4ZCvN0/eYGwosGri1Jkb30=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"6jdx2tN8DcufPw==\",\"recipientTimestamp\":\"1762177291\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"428e2fa4-588d-49f6-9af6-b601a6ce9ff5\",\"messageType\":\"conversation\",\"messageTimestamp\":1762202658},\"id\":\"2920310\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nAs informações sobre imóveis no sistema Apresenta.me incluem:\\n\\n1. **Cadastro de Imóveis**: Personalize textos automáticos enviados aos clientes ao compartilhar imóveis e defina informações como referência, título, finalidade (locação, venda, temporada) e classificação (residencial, comercial, etc.). \\n\\n2. **Levantamento de Informações**: Cadastre detalhes como número de dormitórios, suítes, banheiros, salas e vagas de garagem. \\n\\n3. **Configurações e Aprovações**: É possível adicionar campos obrigatórios, definir status padrão, bloquear a exibição de imóveis em redes e permitir acesso a proprietários para aprovação.\\n\\nEsses aspectos garantem agilidade na comunicação e maior credibilidade junto aos clientes. Para mais detalhes sobre configurações específicas ou processos, consulte a documentação do sistema.\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-03T17:44:35.000-03:00\",\"updatedAt\":\"2025-11-03T17:44:37.516-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB01B95DF1D39D124094E196C0DCFBDC1F0F7E0\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nAs informações sobre imóveis no sistema Apresenta.me incluem:\\n\\n1. **Cadastro de Imóveis**: Personalize textos automáticos enviados aos clientes ao compartilhar imóveis e defina informações como referência, título, finalidade (locação, venda, temporada) e classificação (residencial, comercial, etc.). \\n\\n2. **Levantamento de Informações**: Cadastre detalhes como número de dormitórios, suítes, banheiros, salas e vagas de garagem. \\n\\n3. **Configurações e Aprovações**: É possível adicionar campos obrigatórios, definir status padrão, bloquear a exibição de imóveis em redes e permitir acesso a proprietários para aprovação.\\n\\nEsses aspectos garantem agilidade na comunicação e maior credibilidade junto aos clientes. Para mais detalhes sobre configurações específicas ou processos, consulte a documentação do sistema.\"},\"pushName\":\"Você\",\"instanceId\":\"428e2fa4-588d-49f6-9af6-b601a6ce9ff5\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1762202675},\"id\":\"2920311\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"Muito bom dia!\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-04T09:20:34.000-03:00\",\"updatedAt\":\"2025-11-04T09:20:36.370-03:00\",\"dataJson\":{\"key\":{\"id\":\"3AD9C91E2E5553483748\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"conversation\":\"Muito bom dia!\",\"messageContextInfo\":{\"messageSecret\":\"DsC2/LnBHvV7l+yTGHALdWtDW0VhrYPh1xAApZYO8Pc=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"vCIR7h6He5OhWg==\",\"recipientTimestamp\":\"1762258775\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"4ae49170-54c1-4f97-b4f5-ddbb91d46dcb\",\"messageType\":\"conversation\",\"messageTimestamp\":1762258834},\"id\":\"2920334\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"bom dia porra!\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-04T09:23:14.000-03:00\",\"updatedAt\":\"2025-11-04T09:23:16.422-03:00\",\"dataJson\":{\"key\":{\"id\":\"3A0B33F6B0C153AAFFBD\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"conversation\":\"bom dia porra!\",\"messageContextInfo\":{\"messageSecret\":\"jpuR+KHCUU0GPT+EICl954JCgzEMiWSyjm8144p+9cg=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"vCIR7h6He5OhWg==\",\"recipientTimestamp\":\"1762258775\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"4ae49170-54c1-4f97-b4f5-ddbb91d46dcb\",\"messageType\":\"conversation\",\"messageTimestamp\":1762258994},\"id\":\"2920335\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nBom dia! Como posso ajudar hoje?\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-04T09:23:26.000-03:00\",\"updatedAt\":\"2025-11-04T09:23:31.287-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB0D79D42FFC350C68E7D4C6F8F6D4372D37B11\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nBom dia! Como posso ajudar hoje?\"},\"pushName\":\"Você\",\"instanceId\":\"4ae49170-54c1-4f97-b4f5-ddbb91d46dcb\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1762259006},\"id\":\"2920336\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"estou apaixonado\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-04T09:23:46.000-03:00\",\"updatedAt\":\"2025-11-04T09:23:47.472-03:00\",\"dataJson\":{\"key\":{\"id\":\"3A3493FEF863A4F210C8\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"conversation\":\"estou apaixonado\",\"messageContextInfo\":{\"messageSecret\":\"5q+ow9+sIKLYhQ29zIZSE16oIhrt/64mue5Lvr9mQsE=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"vCIR7h6He5OhWg==\",\"recipientTimestamp\":\"1762258775\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"4ae49170-54c1-4f97-b4f5-ddbb91d46dcb\",\"messageType\":\"conversation\",\"messageTimestamp\":1762259026},\"id\":\"2920337\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nQue bom ouvir isso! A paixão traz muitos sentimentos positivos. Se houver algo específico sobre a situação em que precisar de ajuda ou orientação, sinta-se à vontade para compartilhar!\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-04T09:23:56.000-03:00\",\"updatedAt\":\"2025-11-04T09:23:58.799-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB01DE5165FF7B44172E6452E548F3FAADD5C58\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nQue bom ouvir isso! A paixão traz muitos sentimentos positivos. Se houver algo específico sobre a situação em que precisar de ajuda ou orientação, sinta-se à vontade para compartilhar!\"},\"pushName\":\"Você\",\"instanceId\":\"4ae49170-54c1-4f97-b4f5-ddbb91d46dcb\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1762259036},\"id\":\"2920338\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"Muito boa tardi!\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-04T11:24:19.000-03:00\",\"updatedAt\":\"2025-11-04T11:24:23.472-03:00\",\"dataJson\":{\"key\":{\"id\":\"3A85827772BD29B1DD18\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"conversation\":\"Muito boa tardi!\",\"messageContextInfo\":{\"messageSecret\":\"4WqneAi6lsW6Du/RU+WHM9yQwbDk06LVOEkYgAD0xG8=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"z1rnOoVuLl2N9A==\",\"recipientTimestamp\":\"1762262687\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"4ae49170-54c1-4f97-b4f5-ddbb91d46dcb\",\"messageType\":\"conversation\",\"messageTimestamp\":1762266259},\"id\":\"2920343\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nOlá! Como posso ajudar hoje?\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-04T11:24:31.000-03:00\",\"updatedAt\":\"2025-11-04T11:24:36.349-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB0CDA37F983B33E09D596D04EBFBCF78FCD245\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nOlá! Como posso ajudar hoje?\"},\"pushName\":\"Você\",\"instanceId\":\"4ae49170-54c1-4f97-b4f5-ddbb91d46dcb\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1762266271},\"id\":\"2920344\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"Boa tarde cuzao\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-04T11:28:02.000-03:00\",\"updatedAt\":\"2025-11-04T11:28:04.809-03:00\",\"dataJson\":{\"key\":{\"id\":\"3A484203A35EFAC288DC\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"conversation\":\"Boa tarde cuzao\",\"messageContextInfo\":{\"messageSecret\":\"M501HUxJsXoW9h94Lvrt9RwlaNPtJs8OWGfPJSOujno=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"z1rnOoVuLl2N9A==\",\"recipientTimestamp\":\"1762262687\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"4ae49170-54c1-4f97-b4f5-ddbb91d46dcb\",\"messageType\":\"conversation\",\"messageTimestamp\":1762266482},\"id\":\"2920345\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nBoa tarde! Como posso ajudar hoje?\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-04T11:28:15.000-03:00\",\"updatedAt\":\"2025-11-04T11:28:17.591-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB05B632E10D79718F571159EB38F76934707BA\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nBoa tarde! Como posso ajudar hoje?\"},\"pushName\":\"Você\",\"instanceId\":\"4ae49170-54c1-4f97-b4f5-ddbb91d46dcb\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1762266495},\"id\":\"2920346\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"Não sei, me diz vc cuzao\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-04T11:30:53.000-03:00\",\"updatedAt\":\"2025-11-04T11:30:56.192-03:00\",\"dataJson\":{\"key\":{\"id\":\"3ABE8544286C8804AF8C\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"conversation\":\"Não sei, me diz vc cuzao\",\"messageContextInfo\":{\"messageSecret\":\"dHXnRn3vpypsgk5GNZN9GAzR0wgQLEKtVVH+QiN5ilY=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"z1rnOoVuLl2N9A==\",\"recipientTimestamp\":\"1762262687\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"4ae49170-54c1-4f97-b4f5-ddbb91d46dcb\",\"messageType\":\"conversation\",\"messageTimestamp\":1762266653},\"id\":\"2920347\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nNo momento, não tenho informações o suficiente para responder, mas o setor responsável pode ajudar!\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-04T11:31:05.000-03:00\",\"updatedAt\":\"2025-11-04T11:31:07.773-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB030AF0403398A3E3052B1BCC7678130A1DC5E\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nNo momento, não tenho informações o suficiente para responder, mas o setor responsável pode ajudar!\"},\"pushName\":\"Você\",\"instanceId\":\"4ae49170-54c1-4f97-b4f5-ddbb91d46dcb\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1762266665},\"id\":\"2920348\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"???? qq tu ta falando cuzao\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-04T11:31:19.000-03:00\",\"updatedAt\":\"2025-11-04T11:31:20.856-03:00\",\"dataJson\":{\"key\":{\"id\":\"3A2398AE2C43C27B18A0\",\"fromMe\":false,\"remoteJid\":\"554788950332@s.whatsapp.net\",\"senderLid\":\"66237388329068@lid\"},\"source\":\"ios\",\"status\":\"DELIVERY_ACK\",\"message\":{\"conversation\":\"???? qq tu ta falando cuzao\",\"messageContextInfo\":{\"messageSecret\":\"eqr8sPQMZaovQPGXHlUL9NBZNhr1NIq+HMXYWZXbXQ0=\",\"deviceListMetadata\":{\"senderKeyHash\":\"IJIgQVTRb/zQRg==\",\"senderTimestamp\":\"1761310193\",\"recipientKeyHash\":\"z1rnOoVuLl2N9A==\",\"recipientTimestamp\":\"1762262687\"},\"deviceListMetadataVersion\":2}},\"pushName\":\"Joaozinho\",\"instanceId\":\"4ae49170-54c1-4f97-b4f5-ddbb91d46dcb\",\"messageType\":\"conversation\",\"messageTimestamp\":1762266679},\"id\":\"2920349\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":false,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}},{\"body\":\"_dev-joaor_\\n*Apr.IA:*\\nNo momento, não tenho informações o suficiente para responder, mas o setor responsável pode ajudar!\",\"messageType\":\"conversation\",\"createdAt\":\"2025-11-04T11:31:30.000-03:00\",\"updatedAt\":\"2025-11-04T11:31:31.950-03:00\",\"dataJson\":{\"key\":{\"id\":\"3EB0A234C6C4AAAEFA67C467E3A26E355EB0515D\",\"fromMe\":true,\"remoteJid\":\"554788950332@s.whatsapp.net\"},\"source\":\"unknown\",\"status\":\"PENDING\",\"message\":{\"conversation\":\"_dev-joaor_\\n*Apr.IA:*\\nNo momento, não tenho informações o suficiente para responder, mas o setor responsável pode ajudar!\"},\"pushName\":\"Você\",\"instanceId\":\"4ae49170-54c1-4f97-b4f5-ddbb91d46dcb\",\"contextInfo\":null,\"messageType\":\"conversation\",\"messageTimestamp\":1762266690},\"id\":\"2920350\",\"mediaPath\":null,\"companyId\":\"10\",\"ticketId\":\"110928\",\"fromMe\":true,\"summary\":null,\"file\":null,\"mediaUrl\":null,\"meta\":{}}]","ticketId":110928},"webhookUrl":"https://n8n.apresenta.me/webhook/7223c6af-f595-4bc2-b84c-602b8900cd08","executionMode":"production"}}]},"versionId":"28aa4972-9f85-4f4f-ba2f-ec24a1ebf1e7","triggerCount":1,"shared":[{"createdAt":"2025-11-04T18:47:16.654Z","updatedAt":"2025-11-04T18:47:16.654Z","role":"workflow:owner","workflowId":"dDaZdsSmHxktrhjc","projectId":"4ToGMYJEWvvDSbcz"}],"tags":[]}