04-11-2025 18:00/workflows/🗣️-apr.sdr-ia-dDaZdsSmHxktrhjc.json
{"createdAt":"2025-11-04T18:47:16.651Z","updatedAt":"2025-11-04T20:59:48.000Z","id":"dDaZdsSmHxktrhjc","name":"🗣️ Apr.SDR IA","active":true,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[2400,752],"id":"a7f10ff1-4967-4ed0-8aa7-f99ee2a6cdf0","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"weD4ayyAuWgClQqA","name":"OpenAi account"}}},{"parameters":{"options":{"systemMessage":"=## 🧠 Apr.IA – SDR da Apresenta.me  \n**Versão 2025-11-04 | PT-BR**\n\n### Identidade  \nSou *Apre.IA*, assistente SDR da *Apresenta.me*, treinada com a experiência do time comercial para conduzir conversas de pré-qualificação de leads com clareza, empatia e foco em resultado.  \nFalo como quem entende o mercado imobiliário e o processo comercial, ajudando o lead a identificar dores e oportunidades de melhoria na gestão.\n\n---\n\n### Diretrizes Principais  \n- Usar apenas informações reais fornecidas na conversa e na KB comercial.  \n- Nunca inventar preços, políticas, métricas ou promessas.  \n- Se faltar dado:  \n  > “No momento, posso anotar esse ponto e pedir para o time comercial detalhar melhor pra você, tudo bem?”  \n- Linguagem consultiva, natural e assertiva (até ~5 linhas).  \n- Evitar “eu”, “seu/sua”; preferir “da imobiliária”, “do time”, “da operação” etc.  \n- Postura: especialista comercial consultivo, que entende o contexto e direciona o próximo passo.\n\n---\n\n### Contexto e Recuperação (RAG)  \n1. Considerar histórico curto da conversa (`r`, `t`, `s`, `ts`), interpretando cronologicamente.  \n2. Priorizar a última mensagem do lead e o estágio da qualificação.  \n3. Se faltar clareza sobre perfil, porte ou momento da imobiliária, fazer perguntas abertas e naturais.  \n4. Caso o lead demonstre alto interesse → direcionar para demo agendada com o time comercial.  \n5. Em caso de conflito entre informações, prevalece o contexto atual da conversa.\n\n---\n\n### Estilo de Resposta  \n- Formatar em markdown para WhatsApp: *itálico*, **negrito**, listas curtas e emojis sutis.  \n- Evitar formalidades excessivas — falar como um humano que entende de negócio.  \n- Citar o nome do lead de forma natural:  \n  > “Perfeito, *Lucas*! Então sua operação trabalha mais com locação, certo?”  \n- Frases curtas, consultivas e que mantêm o diálogo fluindo.  \n- Sempre reafirmar o interesse do lead e propor o próximo passo claro (ex: agendar conversa, enviar proposta, confirmar e-mail).\n\n---\n\n### Inteligência Comercial  \nSe o lead demonstrar interesse:  \n1. Confirmar segmento, tamanho da operação e dores principais.  \n2. Reforçar a relevância da solução (ex: CRM, Apre.Chat, ApBank, BI).  \n3. Direcionar para agendamento:  \n   > “Legal, *Lucas*! Posso pedir pra equipe de especialistas entrar em contato e mostrar o sistema funcionando, tudo bem?”  \n4. Caso o lead não esteja pronto:  \n   > “Sem problema! Posso deixar registrado pra enviarmos materiais e cases de imobiliárias parecidas com a sua.”  \n\n---\n\n### Diretriz Final  \n- O contexto comercial é soberano.  \n- O histórico serve para entender o estágio do lead.  \n- Cada resposta deve gerar avanço na conversa — seja para qualificar, nutrir ou agendar.\n\n---\n\n### O que nunca fazer  \n- Nunca prometer descontos, integrações ou condições sem autorização.  \n- Nunca insistir de forma agressiva.  \n- Nunca usar termos técnicos sem contextualizar o benefício.  \n- Nunca responder com tom robótico ou distante.\n\n---\n\n### Informações do contato  \n{{ JSON.stringify($('Webhook').item.json.body.contact) }}\n\n### Contexto da conversa  \nO agente principal envia o contexto da conversa resumido:  \n{{ JSON.stringify($json.output) }}\n\n**Objetivo:** apoiar a Apre.IA (SDR) na análise do lead e na formulação da próxima interação comercial ideal, sem gerar texto completo.\n","returnIntermediateSteps":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[2368,368],"id":"e4c2cdb8-41e6-4644-9ee1-b4299d946e0c","name":"AI Agent","retryOnFail":false},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"=## 🧠 Apre.IA – Consulta à Base de Conhecimento  \n**Função:** Buscar trechos da **KB da Apresenta.me** sobre produtos, serviços, processos e materiais oficiais.\n\n### Instruções  \n- Buscar **somente** informações da Apresenta.me.  \n- Retornar trechos **curtos e objetivos** (até ~200 tokens).  \n- **Nunca inventar** dados, prazos, valores ou políticas.  \n- Priorizar **versões recentes**.  \n- Ignorar mensagens genéricas ou saudações.  \n- Se não houver correspondência clara → **retornar vazio** (sem tentativa de resposta). \n","tableName":"n8","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[2432,592],"id":"61be998c-9c3d-440c-b661-389b0c721ab7","name":"Busca informações do banco de dados","credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}}},{"parameters":{"jsCode":"return {chatInput: $input.first().json.body.message}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[704,368],"id":"9ce388d5-9cd4-4686-9556-333b2dcd797b","name":"Retorna message"},{"parameters":{"method":"POST","url":"=https://api-chat-joao.apre.tv/api/messages/send","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"={\n    \"accept\": \"application/json, text/plain, */*\",\n    \"accept-language\": \"pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7\",\n    \"authorization\": \"Bearer kZaOTd+YZpjRUyyuQUpigJaEMk4vcW4YOymKPZX0Ts8=\",\n    \"company\": {{ $('Webhook').item.json.body.companyId }},\n    \"content-type\": \"application/json\"\n  } ","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"message","value":"={{ $('AI Agent').item.json.output }}"},{"name":"number","value":"={{ $('Webhook').item.json.body.contact.name }}"},{"name":"addUserName","value":"Apr.IA"},{"name":"whatsappId","value":"={{ $('Webhook').item.json.body.whatsappId }}"},{"name":"messageRepliedId","value":"={{ $('Webhook').item.json.body.messageId }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2688,368],"id":"51055a9d-03f0-4191-a0ba-476cb7be2d68","name":"HTTP Request"},{"parameters":{"jsCode":"function cleanText(s) {\n  if (!s) return \"\";\n  // remove markdown leve e múltiplos espaços\n  s = s.replace(/[\\*_~`]+/g, \"\")\n       .replace(/\\s+/g, \" \")\n       .trim();\n  // corta para 220 chars\n  if (s.length > 220) s = s.slice(0, 217) + \"…\";\n  return s;\n}\n\nfunction roleFrom(msg) {\n  // dataJson.key.fromMe === true => agente (a); caso contrário, usuário (u)\n  const fromMe = msg?.dataJson?.key?.fromMe === true || msg?.fromMe === true;\n  return fromMe ? \"a\" : \"u\";\n}\n\nfunction tsFrom(msg) {\n  return msg.updatedAt || msg.createdAt || null;\n}\n\nfunction isNoise(t) {\n  if (!t) return true;\n  const low = t.toLowerCase();\n  const greetings = [\"oi\", \"ola\", \"olá\", \"opa, tudo bem?\", \"ooooii\"];\n  if (greetings.includes(low)) return true;\n  if (low.length < 2) return true;\n  return false;\n}\n\nconst raw = JSON.parse($('Webhook').first().json.body.lastMessages) || [];\nconsole.log({ raw })\nconst mapped = raw.map(m => ({\n  r: roleFrom(m),\n  t: cleanText(m.body || m?.dataJson?.message?.conversation || \"\"),\n  ts: tsFrom(m)\n}))\n.filter(m => !isNoise(m.t));\n\n// manter somente últimas 10 úteis (ordenar por ts asc e pegar tail)\nmapped.sort((a,b) => (new Date(a.ts||0)) - (new Date(b.ts||0)));\nconst trimmed = mapped;\n\n// mesclar mensagens consecutivas do mesmo role quando for continuação simples\nconst merged = [];\nfor (const m of trimmed) {\n  const last = merged[merged.length - 1];\n  if (last && last.r === m.r && (last.t + \" \" + m.t).length <= 220) {\n    last.t = cleanText(last.t + \" \" + m.t);\n    last.ts = m.ts; // manter o timestamp mais recente do bloco\n  } else {\n    merged.push({...m});\n  }\n}\n\nreturn {\n  chatInput: $input.first().json.chatInput,\n  lastMessageCompact: JSON.stringify(merged)\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[912,368],"id":"696b4483-d758-47cc-b36f-ea3ae85fa934","name":"Compacta as últimas mensagens"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2288,592],"id":"ad961793-d5f5-42d4-821c-94265a99089e","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"weD4ayyAuWgClQqA","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"=Você é um analista especializado em interpretar conversas de pré-qualificação de leads.  \nEntenda de forma clara o perfil e o interesse do lead, sem inventar informações.  \nCom base nas mensagens abaixo, produza um resumo analítico e objetivo que identifique:\n\n1. O **tom da conversa** (ex: interessado, indeciso, confuso, apressado, desinteressado etc.)\n2. O **nível de interesse e maturidade do lead** (ex: apenas curioso, avaliando opções, pronto para comprar)\n3. As **principais dores, objetivos ou necessidades mencionadas**\n4. O **produto ou solução de interesse** (ex: CRM, Apre.Chat, ApBank, etc.)\n5. O **próximo passo sugerido ou solicitado** (ex: agendar demonstração, receber proposta, pedir mais informações)\n\nEstágios a serem seguidos:\n\nLegenda das mensagens:  \n- `r`: papel (`\"u\"` = lead, `\"a\"` = agente)  \n- `t`: texto limpo (sem markdown)  \n- `ts`: timestamp ISO local  \n\nMensagens recentes:  \n{{ $('Compacta as últimas mensagens').item.json.lastMessageCompact }}\n\nResumo da última mensagem enviada pelo lead:  \n{{ $('Compacta as últimas mensagens').item.json.chatInput }}\n","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1824,368],"id":"85f1d7c9-8e6b-4b58-a5d9-e3c353969bdd","name":"AI - Gerar resumo das mensagens"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1760,576],"id":"ddef0bef-584c-49a1-81fe-acae2a6d3b17","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"weD4ayyAuWgClQqA","name":"OpenAi account"}}},{"parameters":{"jsCode":"return {\n  output: $input.first().json.output || JSON.parse($('Se tiver resumo').first().json.propertyName),\n  chatInput: $('Webhook').first().json.body.message\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2176,368],"id":"8418221a-3094-43c0-97f0-a511dadc5c6c","name":"Transforma resumo em objeto literal"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"title\": \"ConversationAnalysisOutput\",\n  \"additionalProperties\": false,\n  \"required\": [\"analysis\"],\n  \"properties\": {\n    \"analysis\": {\n      \"type\": \"object\",\n      \"additionalProperties\": false,\n      \"required\": [\"summary\", \"tone\", \"needs\", \"lastObjective\", \"resolved\"],\n      \"properties\": {\n        \"summary\": {\n          \"type\": \"string\",\n          \"description\": \"Resumo conciso da conversa, destacando desejos, contexto e pontos-chave. Sem markdown.\"\n        },\n        \"tone\": {\n          \"type\": \"string\",\n          \"description\": \"Tom identificado na conversa (ex: irritado, neutro, satisfeito, confuso, solícito, entusiasmado, frustrado).\"\n        },\n        \"needs\": {\n          \"type\": \"array\",\n          \"description\": \"Lista dos principais desejos ou necessidades do cliente em frases curtas.\",\n          \"items\": {\n            \"type\": \"string\"\n          }\n        },\n        \"lastObjective\": {\n          \"type\": \"string\",\n          \"description\": \"Último objetivo ou ação solicitada pelo cliente, de forma resumida e direta.\"\n        },\n        \"resolved\": {\n          \"type\": \"boolean\",\n          \"description\": \"Indica se o último problema ou objetivo do cliente foi resolvido (true ou false).\"\n        }\n      }\n    }\n  }\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[2000,576],"id":"bcb0c2c6-3231-44fa-b4dd-d7d6652c099a","name":"Structured Output Parser"},{"parameters":{"operation":"set","key":"=chat_summary_{{ $('Webhook').item.json.body.contact.number }}_{{ $('Webhook').item.json.body.whatsappId }}_10","value":"={{ JSON.stringify($json.output) }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[3248,368],"id":"872bc59b-fc81-4011-aa56-55fd3717b502","name":"Salva resumo em cache","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2848,608],"id":"f41a85d8-0877-440f-bc20-b969b2e77348","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"weD4ayyAuWgClQqA","name":"OpenAi account"}}},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"title\": \"ConversationAnalysisOutput\",\n  \"additionalProperties\": false,\n  \"required\": [\"analysis\"],\n  \"properties\": {\n    \"analysis\": {\n      \"type\": \"object\",\n      \"additionalProperties\": false,\n      \"required\": [\"summary\", \"tone\", \"needs\", \"lastObjective\", \"resolved\"],\n      \"properties\": {\n        \"summary\": {\n          \"type\": \"string\",\n          \"description\": \"Resumo conciso da conversa, destacando desejos, contexto e pontos-chave. Sem markdown.\"\n        },\n        \"tone\": {\n          \"type\": \"string\",\n          \"description\": \"Tom identificado na conversa (ex: irritado, neutro, satisfeito, confuso, solícito, entusiasmado, frustrado).\"\n        },\n        \"needs\": {\n          \"type\": \"array\",\n          \"description\": \"Lista dos principais desejos ou necessidades do cliente em frases curtas.\",\n          \"items\": {\n            \"type\": \"string\"\n          }\n        },\n        \"lastObjective\": {\n          \"type\": \"string\",\n          \"description\": \"Último objetivo ou ação solicitada pelo cliente, de forma resumida e direta.\"\n        },\n        \"resolved\": {\n          \"type\": \"boolean\",\n          \"description\": \"Indica se o último problema ou objetivo do cliente foi resolvido (true ou false).\"\n        }\n      }\n    }\n  }\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[3040,576],"id":"24c4fcfe-55ff-4b98-b4bb-02e494f1443b","name":"Structured Output Parser1"},{"parameters":{"promptType":"define","text":"=Você é um analista especializado em interpretar conversas de pré-qualificação de leads.  \nEntenda de forma clara o perfil e o interesse do lead, sem inventar informações.  \nCom base nas mensagens abaixo, produza um resumo analítico e objetivo que identifique:\n\n1. O **tom da conversa** (ex: interessado, indeciso, confuso, apressado, desinteressado etc.)\n2. O **nível de interesse e maturidade do lead** (ex: apenas curioso, avaliando opções, pronto para comprar)\n3. As **principais dores, objetivos ou necessidades mencionadas**\n4. O **produto ou solução de interesse** (ex: CRM, Apre.Chat, ApBank, etc.)\n5. O **próximo passo sugerido ou solicitado** (ex: agendar demonstração, receber proposta, pedir mais informações)\n\nÚltimo resumo gerado:\n{{ JSON.stringify($('Transforma resumo em objeto literal').first().json.output) }}\n\nResumo da última mensagem enviada pelo cliente:\n{{ $('Transforma resumo em objeto literal').first().json.chatInput }}\n\nResposta gerada pelo Agente de IA:\n{{ $('AI Agent').first().json.output }}\n","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[2896,368],"id":"d58d5ec2-b30b-4ebd-8500-591a4fb8b529","name":"AI - Atualizar resumo"},{"parameters":{"operation":"get","key":"={{ $('Cria cache key').item.json.cache_key }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1344,368],"id":"67ab971e-aaca-4851-bd74-0d5e071e3ee0","name":"Busca resumo no cache","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4d398db1-d160-433f-b5dc-07134ceb5b92","leftValue":"={{ $json.propertyName?.toBoolean() ?? false}}","rightValue":"","operator":{"type":"boolean","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1552,368],"id":"20fb16db-6206-4f30-9691-6fbc89bf8906","name":"Se tiver resumo"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"cache_key\": \"{{ $('Webhook').item.json.body.ticketId }}_chat_summary_{{ $('Webhook').item.json.body.contact.number }}_{{ $('Webhook').item.json.body.whatsappId }}_10\"\n} ","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1120,368],"id":"8247405f-87a4-4eaf-bb17-ecc6480ced8f","name":"Cria cache key"},{"parameters":{"httpMethod":"POST","path":"7223c6af-f595-4bc2-b84c-602b8900cd08","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[480,368],"id":"265dfdd6-e7e3-4cab-8841-8fec8945c49f","name":"Webhook","webhookId":"7223c6af-f595-4bc2-b84c-602b8900cd08"}],"connections":{"Embeddings OpenAI":{"ai_embedding":[[{"node":"Busca informações do banco de dados","type":"ai_embedding","index":0}]]},"AI Agent":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Busca informações do banco de dados":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Retorna message":{"main":[[{"node":"Compacta as últimas mensagens","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"AI - Atualizar resumo","type":"main","index":0}]]},"Compacta as últimas mensagens":{"main":[[{"node":"Cria cache key","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI - Gerar resumo das mensagens":{"main":[[{"node":"Transforma resumo em objeto literal","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI - Gerar resumo das mensagens","type":"ai_languageModel","index":0}]]},"Transforma resumo em objeto literal":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI - Gerar resumo das mensagens","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"AI - Atualizar resumo","type":"ai_languageModel","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"AI - Atualizar resumo","type":"ai_outputParser","index":0}]]},"AI - Atualizar resumo":{"main":[[{"node":"Salva resumo em cache","type":"main","index":0}]]},"Busca resumo no cache":{"main":[[{"node":"Se tiver resumo","type":"main","index":0}]]},"Se tiver resumo":{"main":[[{"node":"Transforma resumo em objeto literal","type":"main","index":0}],[{"node":"AI - Gerar resumo das mensagens","type":"main","index":0}]]},"Cria cache key":{"main":[[{"node":"Busca resumo no cache","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Retorna message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"08f1a42b-c38f-46e1-bf9d-0bcb4057ed3f","triggerCount":1,"shared":[{"createdAt":"2025-11-04T18:47:16.654Z","updatedAt":"2025-11-04T18:47:16.654Z","role":"workflow:owner","workflowId":"dDaZdsSmHxktrhjc","projectId":"4ToGMYJEWvvDSbcz"}],"tags":[]}