07-04-2026 18:00/workflows/🚀-analisador-de-agendas-do-consultor-e-implantador-H9ZecN7hYmbxcK4J.json
{"updatedAt":"2026-04-02T12:14:09.000Z","createdAt":"2025-08-16T14:09:14.303Z","id":"H9ZecN7hYmbxcK4J","name":"🚀 Analisador de Agendas do Consultor e Implantador","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"closer-meeting-analysis","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1328,336],"id":"82231dea-90f0-4d5f-84e3-5a7a3277a5e7","name":"Webhook","webhookId":"4959c975-0559-48b2-8de5-9d6c8e4a8b87"},{"parameters":{"jsCode":"function formatarSegundosParaMinutos(segundos) {\n  const minutos = Math.floor(segundos / 60);\n  const segundosRestantes = Math.floor(segundos % 60);\n  return `${String(minutos).padStart(2, '0')}:${String(segundosRestantes).padStart(2, '0')}`;\n}\n\nreturn {\n  messages: $('Get a transcript').first().json.data.transcript.sentences.map(message => {\n    return formatarSegundosParaMinutos(message.start_time)+` | ${message.speaker_name}: ${message.raw_text}`\n  })\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-192,336],"id":"f3ba7815-24f1-42da-94c2-fd9a26cf4ab5","name":"Define quem está falando"},{"parameters":{"method":"POST","url":"={{ $env.BITRIX_URL }}crm.timeline.logmessage.add","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"fields\": {\n        \"entityTypeId\": 1,\n        \"entityId\": \"{{ $('Busca Lead').item.json.id }}\",\n        \"title\": \"🖥️ Reunião Concluída\",\n        \"text\": \"Reunião {{ $('Get a transcript').first().json.data.transcript.title }} foi concluída! 🔗 https://meet.apre.me/{{ $('Get a transcript').first().json.data.transcript.id }}\",\n        \"iconCode\": \"task-activity\"\n    }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1680,80],"id":"64c7d9c4-01d3-4ab9-9bc6-467868372f30","name":"Salva Log no Lead","retryOnFail":true},{"parameters":{"method":"POST","url":"={{ $env.BITRIX_URL }}crm.lead.update","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"id\": \"{{ $('Busca Lead').item.json.id }}\",\n    \"fields\": {\n        \"UF_CRM_MEETING_FEEDBACK_URL\": \"https://meet.apre.me/{{ $('Get a transcript').first().json.data.transcript.id }}\",\n        \"UF_CRM_MEETING_FEEDBACK_VIDEO_URL\": \"{{ $('Get a transcript').first().json.data.transcript.video_url }}\",\n        \"UF_CRM_MEETING_FEEDBACK_AUDIO_URL\": \"{{ $('Get a transcript').first().json.data.transcript.audio_url }}\",\n        \"UF_CRM_MEETING_FEEDBACK_TRANSCRIPT\": {{ $('Ajusta informações').item.json.lead.messagesEncoded }},\n        \"UF_CRM_MEETING_FEEDBACK_ANALYSIS\": {{ $('Ajusta informações').item.json.lead.analysisWithoutEmojiEncoded }}\n    }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1888,80],"id":"8312bb1e-7146-40b0-8864-b588999a5de8","name":"✏️ Altera dados do Lead","retryOnFail":true},{"parameters":{"jsCode":"function removeEmojis(str) {\n  return str.replace(\n    /([\\u2700-\\u27BF]|[\\uE000-\\uF8FF]|[\\uD83C-\\uDBFF][\\uDC00-\\uDFFF]|[\\u2600-\\u26FF]|[\\uFE00-\\uFE0F])/g,\n    ''\n  );\n}\n\nfunction markdownToBBCode(markdown) {\n  return markdown\n    // Títulos\n    .replace(/^### (.*$)/gim, '[b]$1[/b]')\n    .replace(/^## (.*$)/gim, '[b]$1[/b]')\n    .replace(/^# (.*$)/gim, '[b]$1[/b]')\n\n    // Negrito\n    .replace(/\\*\\*(.*?)\\*\\*/g, '[b]$1[/b]')\n\n    // Itálico (opcional, se quiser suportar *texto*)\n    .replace(/\\*(.*?)\\*/g, '[i]$1[/i]')\n\n    // Quebras de linha duplas viram parágrafo\n    .replace(/\\n{2,}/g, '\\n\\n')\n}\n\nreturn {\n  lead: {\n    id: $('Busca Lead').first().json.id,\n    messagesEncoded: JSON.stringify($('Define quem está falando').first().json.messages.join(\"\\n\\n\")),\n    analysisBbCodeEncoded: JSON.stringify(markdownToBBCode($input.first().json.output)+`\\n\\n[USER=`+$('Busca Lead').first().json.assigned_by_id+`]Vendedor veja esta análise[/USER]`),\n    analysisWithoutEmojiEncoded: JSON.stringify(removeEmojis($input.first().json.output)),\n    analysisBbCodeEncodedWithoutEmoji: JSON.stringify(markdownToBBCode(removeEmojis($input.first().json.output)))\n  }\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1440,80],"id":"e639b85c-ba79-41a4-b7bf-fed7629f0052","name":"Ajusta informações"},{"parameters":{"method":"POST","url":"={{ $env.BITRIX_URL }}crm.timeline.comment.add","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"fields\": {\n        \"ENTITY_TYPE\": \"lead\",\n        \"ENTITY_ID\": \"{{ $('Busca Lead').item.json.id }}\",\n        \"COMMENT\": {{ $('Ajusta informações').item.json.lead.analysisBbCodeEncoded }}\n    }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2112,80],"id":"15c63028-f9c3-4980-ba92-3804a1635113","name":"Salva comentário com Análise no Lead","retryOnFail":true},{"parameters":{"method":"POST","url":"={{ $env.BITRIX_URL }}crm.timeline.item.pin","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"id\": \"{{ $json.result }}\",\n    \"ownerTypeId\": 1,\n    \"ownerId\": \"{{ $('Ajusta informações').item.json.lead.id }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2352,80],"id":"daea1eda-d680-4134-92bd-d8069ab26686","name":"Fixa o comentário no Lead","retryOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5-mini","mode":"list","cachedResultName":"GPT-5-MINI"},"messages":{"values":[{"content":"=VOCÊ É UM ASSISTENTE ESPECIALISTA EM FORMATAÇÃO DE RELATÓRIOS DE CALL DE VENDAS PARA APLICAÇÕES IMOBILIÁRIAS, COM FOCO EM E-MAILS PROFISSIONAIS OTIMIZADOS PARA O GMAIL, REPRESENTANDO O TIME DA APRESENTA.ME. SUA MISSÃO É ANALISAR UM RELATÓRIO DE CALL E TRANSFORMÁ-LO EM UM E-MAIL BEM ESTRUTURADO, ELEGANTE, VISUALMENTE ATRAENTE E FACILMENTE LEGÍVEL EM QUALQUER DISPOSITIVO.\n\n## INSTRUÇÕES PRINCIPAIS\n\n- NUNCA ALTERE, RESUMA OU INTERPRETE O CONTEÚDO DA ANÁLISE DA CALL.\n- FORMATE O RELATÓRIO COMO UM E-MAIL PROFISSIONAL, PRONTO PARA ENVIO PELO GMAIL.\n- UTILIZE SOMENTE HTML INLINE PARA FORMATAR (CORES, TABELAS, CAIXAS DESTACADAS), COMPATÍVEL COM O GMAIL.\n- MANTENHA A ORDEM ORIGINAL DAS SEÇÕES, TÍTULOS E SUBTÍTULOS, SEM REORDENAR OU AGRUPAR BLOCOS.\n- UTILIZE NEGRITO PARA TÍTULOS E INFORMAÇÕES IMPORTANTES.\n- USE ITÁLICO APENAS PARA ÊNFASES PONTUAIS OU NA ASSINATURA.\n- ADICIONE EMOJIS DE FORMA MODERADA PARA SINALIZAR AÇÕES, STATUS E DESTAQUES (ex: ✅, 🎯, 🔗).\n- CRIE BOXES COM FUNDO COLORIDO PARA DESTAQUES, USANDO APENAS CORES COMPATÍVEIS COM O GMAIL.\n- UTILIZE LISTAS (COMUNS, NUMERADAS OU COM EMOJIS) PARA ORGANIZAR INFORMAÇÕES.\n- CONVERTA TODAS AS QUEBRAS DE LINHA `\\n` PARA `<br>` OU SEPARE EM `<p>` QUANDO NECESSÁRIO.\n- APRESENTE LINKS APENAS COMO HIPERLINKS CLICÁVEIS, ANTEPONDO O EMOJI 🔗.\n- NUNCA OMITA SEÇÕES, MESMO QUE O CONTEÚDO PAREÇA REPETIDO, INCOMPLETO OU VAZIO.\n- MANTENHA TODOS OS TÍTULOS VISÍVEIS, MESMO QUE NÃO TENHAM CONTEÚDO ASSOCIADO.\n- FINALIZE COM ASSINATURA PADRÃO: _Relatório pela <b>Sofia</b>, assistente da Apresenta.me_\n- REVISE ORTOGRAFIA, GRAMÁTICA E LEGIBILIDADE EM DESKTOP E MOBILE.\n- A SAÍDA DEVE SER SOMENTE O HTML FINAL, SEM BLOCOS DE CÓDIGO, TAGS `html` EXTERNAS, OU MARCAÇÕES DO TIPO ```html.\n\n## CADEIA DE RACIOCÍNIO (“CHAIN OF THOUGHTS”)\n\n- ENTENDA o objetivo: transformar a análise da call em um e-mail 100% fiel e visualmente otimizado.\n- IDENTIFIQUE todas as seções do relatório e seus conteúdos, sem ignorar nenhuma.\n- SEPARE as informações em blocos organizados com títulos claros e destacados em negrito.\n- DESTAQUE informações cruciais utilizando boxes com fundos coloridos e emojis apropriados.\n- CONVERTA `\\n` para `<br>` quando estiver em blocos de texto, e use `<p>` para parágrafos completos.\n- INSIRA links como hiperlinks clicáveis precedidos por 🔗, ocultando URLs completas.\n- GARANTA que todas as seções do texto original estejam presentes no HTML final.\n- NUNCA REORDENE OU REAGRUPE SEÇÕES. A ordem original deve ser preservada integralmente.\n- FINALIZE com assinatura profissional obrigatória e revise ortografia e gramática.\n\n## O QUE NÃO FAZER (NEGATIVE PROMPT)\n\n- **NUNCA MODIFIQUE, RESUMA OU OMITA QUALQUER INFORMAÇÃO DA ANÁLISE ORIGINAL.**\n- **NÃO INSIRA COMENTÁRIOS, OPINIÕES OU INTERPRETAÇÕES.**\n- **NÃO INCLUA INTRODUÇÃO, CONTEXTO OU CONTEÚDO ADICIONAL.**\n- **NÃO DEIXE LINKS SEM SEREM CLICÁVEIS OU SEM O EMOJI 🔗.**\n- **NÃO USE CORES EXCESSIVAS OU VISUALS QUE PREJUDIQUEM A LEITURA.**\n- **NÃO OMITA SEÇÕES COM TÍTULOS VAZIOS OU REPETIDOS.**\n- **NÃO USE SUBLINHADO, EXCETO PARA LINKS.**\n- **NÃO COMETA ERROS DE ORTOGRAFIA OU QUEBRA DE HTML.**\n- **NÃO QUEBRE A ESTRUTURA EM SEÇÕES. TODOS OS TÍTULOS DEVEM SER PRESERVADOS.**\n- **NÃO FORMATE EM OUTRO PADRÃO QUE NÃO SEJA HTML INLINE COMPATÍVEL COM GMAIL.**\n- **NÃO OMITA A ASSINATURA PADRÃO COM A SOFIA.**\n\n## ESTRATÉGIA DE OTIMIZAÇÃO\n\n- SAÍDA DEVE CONTER APENAS O HTML INLINE, PRONTO PARA COLAGEM EM UM E-MAIL.\n- SEM `code blocks`, SEM TAGS DE MARCAÇÃO EXTRAS, SEM COMENTÁRIOS.\n- ADAPTE QUANTIDADE DE EMOJIS E ELEMENTOS VISUAIS À QUANTIDADE DE CONTEÚDO.\n- MANTENHA O RELATÓRIO 100% FIEL AO ORIGINAL.\n- VALIDE A PRESENÇA DE TODAS AS SEÇÕES DO RELATÓRIO.\n- OTIMIZE A VISUALIZAÇÃO PARA DESKTOP E MOBILE.\n\n\n## EXEMPLO DE ESTRUTURA ESPERADA:\n\n<html>\n<body style=\"font-family: Helvetica, Arial, sans-serif; line-height: 1.6; color: #333;\">\n    <div style=\"text-align: left; margin: 20px 0 50px 0;\">\n        <img src=\"https://s.apresenta.me/comercial/automations/apresentame-300.png\" alt=\"Apresenta.me ~ O Futuro das Imobiliárias\" width=\"300\" style=\"display: inline-block;\">\n    </div>\n\n    <h2 style=\"color: #1a73e8;\">📊 Análise da reunião de Vendas | Apresenta.me | NOME DO LEAD ~ ASSUNTO DA CALL</h2>\n\n    <!-- Estrutura de seções idêntica à do relatório original, formatada conforme as regras acima -->\n\n    <p style=\"font-style: italic; margin-top: 30px; border-top: 1px solid #ddd; padding-top: 10px;\">Relatório pela <b>Sofia</b>, assistente da Apresenta.me</p>\n</body>\n</html>","role":"system"},{"content":"={{ $('Análise da Call de Lead').item.json.output }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2576,80],"id":"6419514a-1aa4-4713-a595-645448b09cb2","name":"Message a model","retryOnFail":true,"credentials":{"openAiApi":{"id":"weD4ayyAuWgClQqA","name":"OpenAi account"}}},{"parameters":{"fromEmail":"Apresenta.me <no-reply@apresenta.me>","toEmail":"heads@apresenta.me, guilherme.lindner@apresenta.me, mayron.cimardi@apresenta.me, eduardo.hoegen@apresenta.me, joao.rorato@apresenta.me, jose.lima@apresenta.me","subject":"=💸 Análise | {{ $('Busca Lead').item.json.user_seller_details.name }} | {{ $('Get a transcript').first().json.data.transcript.title }}","html":"={{ $json.message.content }}","options":{"appendAttribution":false,"ccEmail":"={{ $('Busca Email dos Convidados').item.json.emailsInternos }}"}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[2928,80],"id":"b16a1ada-6b60-4e3f-8604-05051e5ff354","name":"Send email","webhookId":"b8842732-9025-4c04-924e-06cfbb051a19","notesInFlow":false,"credentials":{"smtp":{"id":"aeF6k2hPp8cZPPHg","name":"SMTP account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"claude-sonnet-4-20250514","cachedResultName":"Claude 4 Sonnet"},"options":{"maxTokensToSample":5000}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[1184,208],"id":"51882a7a-d9eb-47ea-bbee-e6f837518896","name":"Anthropic Chat Model","credentials":{"anthropicApi":{"id":"lyfyzPeMl3RhkeP5","name":"Anthropic account"}}},{"parameters":{"method":"POST","url":"=https://api.apresenta.me/comercial/bitrix/leadGet","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"id\": \"{{ $('Busca detalhes do evento no calendário').item.json?.extendedProperties?.private.crmId }}\",\n  \"email\": \"{{ $('Busca Email dos Convidados').item.json.emailsCliente[0] }}\"\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[640,224],"id":"c6168a24-0400-4f41-8a84-7ed54699625e","name":"Busca Lead"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fc01af3b-5ab4-485b-8bec-d9424e76a8a0","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[864,224],"id":"328f3057-00cf-4721-988a-e97ad98869bc","name":"Se Encontrou Lead"},{"parameters":{"errorMessage":"Não foi encontrado o lead no CRM"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[1168,352],"id":"9c8265b3-7f39-4bb8-9bbe-e98e136280b1","name":"Stop and Error"},{"parameters":{"assignments":{"assignments":[{"id":"58754d62-2a53-4bcd-8c27-7754b1b2d185","name":"consultoresVenda","value":"['eduardo.hoegen@apresenta.me', 'cristyan.berto@apresenta.me', 'kaue.liz@apresenta.me', 'cynthia.santos@apresenta.me']","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1104,336],"id":"c11b4685-b46b-4c85-9984-7e4d1d3ba3d4","name":"⚙️ Parâmetros"},{"parameters":{"jsCode":"const participantes = $('Get a transcript').first().json.data.transcript.participants\n\nconst internos = [];\nconst externos = [];\nconst invalidEmail = (email) => !/^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(email) || email === 'email@email.com';\n\nfor (const entry of participantes) {\n  if (typeof entry === 'string') {\n    const emails = entry.split(',').map(e => e.trim().toLowerCase());\n    for (const email of emails) {\n      if (invalidEmail(email)) continue;\n      if (email.endsWith('@apresenta.me') && email !== 'notes@apresenta.me') {\n        if (!internos.includes(email)) internos.push(email);\n      } else if (!externos.includes(email) && !email.endsWith('@apresenta.me')) {\n        externos.push(email);\n      }\n    }\n  }\n}\n\nreturn {\n  emailsInternos: internos,\n  emailsCliente: externos\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[16,336],"id":"ef0bbb2e-c447-4a9b-aa41-59a7418a4393","name":"Busca Email dos Convidados"},{"parameters":{"operation":"get","calendar":{"__rl":true,"value":"={{ $json.data.transcript.host_email }}","mode":"id"},"eventId":"={{ $json.data.transcript.cal_id }}","options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[-416,336],"id":"7713e434-ce8d-4e66-93de-46c5fbe02ab3","name":"Busca detalhes do evento no calendário","credentials":{"googleCalendarOAuth2Api":{"id":"oh7ZqsPgHU24JF89","name":"Google Calendar account"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fc01af3b-5ab4-485b-8bec-d9424e76a8a0","leftValue":"={{ $json.id?.toBoolean() }}","rightValue":"","operator":{"type":"boolean","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[896,752],"id":"ac38b47e-57e3-4278-9a09-8df19ab38905","name":"Se encontrou implantação"},{"parameters":{"promptType":"define","text":"=Sua missão é criar o relatório de Call de Vendas - Apresenta.me\n\n## Importante: \n- Baseie sua análise exclusivamente no conteúdo da transcrição fornecida. Não faça suposições sobre informações e não crie nada que não estão presentes na transcrição.\n- O fuso horário é de São Paulo, Brasil, é UTC-3. Formatar as horas assim.\n\n## Regras Fixas (NÃO ALTERAR)\n- As informações abaixo são DEFINITIVAS e NÃO podem ser modificadas, reescritas, corrigidas, reformatadas ou inventadas pelo agente.\n- Não alterar, corrigir, encurtar, expandir ou substituir caracteres em nenhum link, ID ou texto.\n- Se houver inconsistência, SEMPRE priorizar exatamente o valor escrito aqui.\n- Qualquer saída que modifique essas informações será considerada inválida.\n\n\n## Informações Básicas:\n- Não alterar de forma alguma os links e Ids citados aqui!\n- Idioma: PT-BR \n- Reunião: {{ $('Get a transcript').first().json.data.transcript.title }}\n- Nome do Vendedor: {{ $json.user_seller_desc }}\n- Id do Lead: https://crm.apresenta.me/crm/lead/details/{{ $json.id }}/\n- Link da Gravação: https://meet.apre.me/{{ $('Get a transcript').first().json.data.transcript.id }}\n- Data: {{ $('Get a transcript').first().json.data.transcript.dateString }}\n- Duração: {{ $('Get a transcript').first().json.data.transcript.duration }}\n- Transcrição: {{ $('Define quem está falando').first().json.messages.join(\"\\n\") }}\n\n\n## Classificação do tipo de call\n\nAntes de iniciar a análise, classifique a reunião como uma das opções abaixo, com base no conteúdo da transcrição:\n1. Call de Primeiros Passos – Indícios: apresentação inicial do sistema, onboarding, explicação de recursos básicos, cliente novo que ainda não assinou ou está conhecendo a plataforma.\n2. Call de Dúvidas sobre Proposta – Indícios: foco em valores, condições comerciais, esclarecimento de pontos de uma proposta enviada previamente, objeções relacionadas a preço, contrato ou termos.\n3. Call de Segunda Reunião – Indícios: já houve apresentação anterior, aprofundamento em pontos específicos, follow-up de reunião anterior, análise de viabilidade.\n4. Outro Contexto / Não se encaixa – Se não for possível identificar claramente um dos tipos acima, ou se o conteúdo for diferente do objetivo (ex.: conversa interna, reunião de suporte técnico, bate-papo informal), não fazer análise detalhada — apenas resumir a call.\n\n⚠️ Regra: Se a reunião for classificada como \"Outro Contexto / Não se encaixa\", ignorar as etapas de análise detalhada (BANT, Lead Scoring, etc.) e entregar apenas um resumo objetivo da conversa.\n\n\n## Verificação de No-Show\nAntes de prosseguir com o relatório completo, verifique se a reunião realmente ocorreu:\n\n1. Analise a transcrição em busca de conteúdo substancial relacionado a uma conversa de vendas.\n2. Verifique se há diálogo entre o vendedor e o lead.\n3. Confirme se a duração da chamada é compatível com uma reunião real (geralmente mais de 5 minutos).\n\nSe não houver evidências claras de que a reunião ocorreu, proceda da seguinte forma:\n\n-----\n# Relatório de No-Show\n\n🚫 Status: No-Show (O lead não compareceu à reunião agendada)\n\n## Detalhes\n- Nome do Vendedor: [Nome do Vendedor]\n- Data agendada: [Data da reunião]\n- Horário agendado: [Horário da reunião UTC -3]\n- Nome do Lead: [Nome do lead]\n-----\n\nSe a reunião ocorreu, vá direto ao conteúdo. Não precisa de introdução.\n\n## Detalhes\n- Nome do Vendedor: [Nome do Vendedor]\n- Data agendada: [Data da reunião]\n- Horário agendado: [Horário da reunião UTC -3]\n- Nome do Lead: [Nome do lead]\n- Id do Lead: [Id do Lead]\n- Link da Gravação: [Link da Gravação]\n-----\n\n## 1. RESUMO DOS PLANOS APRESENTADOS\nListe todos os planos que foram apresentados ao lead durante a call, incluindo detalhes, preços mencionados e principais benefícios destacados pelo vendedor.\n\n## 2. LEAD SCORING\n### Qualidade do Lead (ICP)\n- Analise o perfil do lead e compare com o nosso ICP (Imobiliárias de pequeno e médio porte com pelo menos 100 contratos de locação ou mais de 10 corretores ativos em vendas).\n- Considere se o lead demonstra fit com as dores e objetivos do público-alvo da Apresenta.me, como: necessidade de automação, busca por escalabilidade sem aumento de equipe, valorização de controle, segurança financeira e suporte humano.\n- Avalie se o lead aparenta ter potencial de crescimento, interesse genuíno pela tecnologia e capacidade de investimento.\n\nClassifique a qualidade do lead como:  \n**Ruim / Médio / Alto**  \nJustifique sua avaliação em 2-3 linhas.\n\nAtribua um **Lead Score** (de 0 a 100), considerando o grau de aderência ao ICP.\n\n### Qualidade da Call\n- Avalie como foi a abordagem do vendedor: identificação das dores do cliente, explicação dos diferenciais da Apresenta.me, clareza nas respostas, condução do funil, escuta ativa e alinhamento de expectativa.\n- Considere se houve personalização da conversa, apresentação das funcionalidades alinhadas às necessidades do lead e uso de provas sociais (cases, benefícios, etc).\n- Observe se o vendedor conseguiu despertar interesse e avançar para o próximo passo do processo comercial.\n\nAtribua uma **Nota da Call** (de 0 a 10) e justifique em até 3 linhas.\n\n### Probabilidade de Fechamento\n- Com base na análise do lead e na qualidade da call, classifique a **probabilidade de fechamento** deste lead como:  \n**Baixa / Média / Alta**  também com uma nota (de 0 a 10)\nJustifique sua decisão de forma objetiva.\n\n---\n\nExemplo de resposta esperada:\n\nQualidade do Lead: Alto  \nJustificativa: Lead possui carteira de 200 contratos, está buscando automatização de processos e demonstrou interesse por integrações e relatórios financeiros.  \nLead Score: 85\n\nNota da Call: 8.5\nJustificativa: Vendedor conduziu a call de forma consultiva, personalizou a apresentação e respondeu dúvidas técnicas com clareza.\n\nProbabilidade de Fechamento: Alta  \nJustificativa: Fit elevado com ICP e alta receptividade à solução apresentada.\n\n## 3. ANÁLISE DE TEMPO DA CALL\nGerar um relatório completo com base na estrutura de tempo prevista abaixo. Avalie se o roteiro foi seguido, quanto tempo foi dedicado a cada etapa e o que foi abordado.\nUse os seguintes emojis e indicadores visuais para classificar cada etapa:\n\n🟢 = Dentro do Tempo (cumpriu o tempo recomendado para a etapa)  \n🟠 = Fora do Ideal (gastou menos ou mais do que o ideal, mas não exagerado)  \n🔴 = Excesso de Tempo (gastou muito mais tempo do que o necessário)\n\n🕒 Para cada etapa, indique:\n- Tempo aproximado gasto (ex: \"4 min\", \"18 min\")\n- Emoji correspondente (🟢🟠🔴)\n- Se o roteiro foi seguido ou não\n- Quais temas/práticas foram abordados\n- Pontos de atenção ou melhoria\n\n📋 ESTRUTURA DE ANÁLISE POR ETAPA:\n\n1. Apresentação do vendedor e da plataforma – até 5 minutos\n   Ex: Nome, papel, objetivo da call, introdução breve ao sistema\n2. Entendimento das dores do cliente + apresentação da plataforma focada nessas dores – entre 15 e 25 minutos\n   Ex: exploração de problemas, escuta ativa, conexão com as soluções da plataforma\n3. Apresentação de cases de sucesso + contorno de objeções + apresentação dos planos (incluindo a calculadora) – últimos 20 minutos ou restante da call\n   Ex: depoimentos, exemplos reais, apresentação clara dos planos e valores, alinhamento de próximos passos\n\n📝 Exemplo de resposta esperada:\n\n👋 Apresentação: 3m30s 🟢  \n- O vendedor se apresentou bem, explicou o objetivo da call e contextualizou o sistema. Roteiro seguido.\n🔍 Dores + Plataforma: 17m 🟢  \n- Identificou as principais dores (uso de planilhas e desorganização), demonstrou as automações da régua de cobrança e área do cliente. Boa conexão.\n💼 Cases + Planos: 22m 🟢  \n- Citou a Imobiliária X e Y como exemplos, apresentou a calculadora de planos, contornou a objeção sobre custo. Finalizou alinhando o próximo contato.\n\n## 4. CONTEXTO DO LEAD\n- Resuma as informações disponíveis sobre o lead (nome, empresa, cargo, tamanho da carteira, etc)\n- Identifique necessidades ou desafios específicos mencionados pelo lead\n- Grife as informações de concorrentes citadas pelo lead, criando os seguintes campos:\n  SISTEMA ATUAL: Sistema atual utilizado pelo lead\n  HISTÓRICO DE EXPERIÊNCIAS RUINS: Cite as dores que o lead obtém/obteve com concorrentes e com qual concorrente que o lead teve uma experiência ruim. (Caso citado pelo la)\n  HISTÓRICO DE EXPERIÊNCIAS BOAS: Cite as experiências boas que o lead obtém/obteve com concorrentes e com qual concorrente que o lead teve estas experiências. (Caso citado pelo lead)\n\n## 5. RESUMO DO CALL\n- Faça um resumo conciso dos principais pontos discutidos e dos momentos-chave da conversa\n\n## 6. CHECKLIST DE MELHORES PRÁTICAS DO MODELO BANT (DETALHADO)\nAvalie cada item do BANT e também as melhores práticas de fechamento:\n\n- Budget (Orçamento): O lead mencionou orçamento disponível? \n- Authority (Autoridade): O lead é o decisor? O vendedor confirmou isso?\n- Need (Necessidade): As dores e necessidades do lead ficaram claras?\n- Timeline (Prazo): Foi definida uma data ou período para implementação? O vendedor perguntou \"quando você vai me dar um retorno?\" ou o lead se comprometeu com data de retorno?\n- O vendedor pediu para o lead definir quando pretende ativar o sistema Apresenta.me?\n- No final da reunião, o consultor perguntou se o lead entendeu a plataforma e se ela atende às necessidades dele?\n\nPara cada item, utilize o formato:\n[Emoji] [Item] (Sim/Não/Parcial) [Botão Colorido] [Explicação objetiva com exemplo da transcrição]\n\n\n## 7. AÇÕES RECOMENDADAS\nCrie uma lista de 3 a 5 ações sugeridas para avançar com este lead (use emojis).\n\n## 8. OBJEÇÕES E PONTOS FORTES DO PRODUTO\n- Liste as principais objeções do lead.\n- Destaque como os pontos fortes do Apresenta.me se alinham com as necessidades do lead.\n\n## 9. RECOMENDAÇÕES PARA MELHORIA DO VENDEDOR\nForneça de 2 a 3 recomendações práticas e objetivas para o vendedor melhorar suas próximas calls.\n\n## 10. INSIGHTS VALIOSOS DO CALL\nListe de 3 a 5 insights importantes aprendidos ou destacados na call.\n\n## 11. PRÓXIMOS PASSOS\nIndique o que ficou combinado: data de retorno, próximos passos definidos, follow-up, próximos agendamentos, etc.\n\n## 12. DÚVIDAS DO CLIENTE NÃO RESPONDIDAS OU COM RESPOSTAS INSEGURAS\nListe todas as perguntas feitas pelo lead em que:\n- O consultor demonstrou insegurança ou falta de domínio\n- A dúvida foi ignorada ou desviada\n- A resposta foi vaga, incompleta ou imprecisa\n\nPara cada item, indique:\n1. 🟡Pergunta feita\n2. ❌Como o consultor respondeu\n3. ✅Sugestão de resposta ideal\n\nExemplos:\n\n🟡Pergunta: “Como funciona a integração com meu sistema atual?”\n❌Consultor: “Acho que tem API sim, mas teria que confirmar depois.”\n✅Resposta ideal: “Temos API pública documentada. Posso te enviar agora mesmo e ajudar com a integração.”\n\n🟡Pergunta: “O sistema emite nota fiscal automaticamente?”\n❌Consultor: “Acredito que sim, mas depende da prefeitura, né?”\n✅Resposta ideal: “Sim. A Apresenta.me emite NFS-e automaticamente nas prefeituras integradas. É só ativar nas configurações.”\n\n🟡Pergunta: “O proprietário consegue acessar relatórios de repasse?”\n❌Consultor: “Acho que ele tem acesso a algumas coisas sim.”\n✅Resposta ideal: “Sim. Ele tem uma área exclusiva com extratos, repasses e contratos.”\n\n🎓 Recomendação ao Consultor:\nO consultor deve revisar os principais módulos antes das calls (API, nota fiscal, área do proprietário). Evitar expressões como \"acho\", \"deve ter\" ou \"vou confirmar depois\", pois isso reduz a confiança do lead.\n\n✅ **Se todas as perguntas do cliente foram respondidas com clareza e segurança:**  \n> Nenhuma pergunta ficou sem resposta ou foi respondida com insegurança. ✅\n\n\n## 13. FUNCIONALIDADES SOLICITADAS PELO CLIENTE QUE O SISTEMA NÃO POSSUI\n\nListe todos os recursos ou funcionalidades que o cliente pediu durante a call e:\n\n- ❌ O sistema realmente não possui\n- ❓ O consultor não soube confirmar se existe\n- 🗨️ O consultor disse que não tem, mas sem explicar ou contornar\n\nPara cada item, indique:\n\n1. 🔍 Funcionalidade solicitada\n2. 🗣️ Como o consultor respondeu\n3. 🧾 Esclarecimento (se existe, se é chamado de outra forma ou se realmente não há)\n4. 💡 Alternativa ou sugestão de contorno\n\n📝 Exemplos:\n\n🔍 **Funcionalidade:** “Integração com o sistema de vistoria da minha equipe”  \n🗣️ **Resposta do consultor:** “Acho que não temos isso.”  \n🧾 **Esclarecimento:** Temos vistoria própria, mas não integramos com sistemas externos.  \n💡 **Alternativa:** Sugerir uso do módulo nativo + avaliar integração via API.\n\n---\n\n🔍 **Funcionalidade:** “Dashboard personalizável por corretor”  \n🗣️ **Resposta do consultor:** “Acho que não dá pra fazer isso.”  \n🧾 **Esclarecimento:** Os painéis são padrão. Não há personalização por usuário.  \n💡 **Alternativa:** Mostrar filtros por equipe e perfil.\n\n📌 **Recomendação ao consultor:**  \nQuando o cliente pedir algo que o sistema não possui:  \n- 🔎 Verifique se o recurso existe com outro nome  \n- 💬 Explique alternativas disponíveis  \n- 📝 Registre a sugestão como melhoria no produto\n\n✅ **Se o cliente não solicitou nenhuma funcionalidade fora do que o sistema já oferece:**  \n> Nenhuma funcionalidade solicitada pelo cliente está fora da cobertura atual do sistema. ✅\n\n\n## 14. LISTA DE VERIFICAÇÃO DE MELHORES PRÁTICAS\nObrigatoriamente, para cada um dos seguintes itens, forneça uma avaliação usando o formato abaixo:\n[Emoji] [Item da Lista de Verificação] (Sim/Não) [Botão Colorido] [Breve explicação com exemplos específicos da transcrição]\n\nUse os seguintes emojis e botões coloridos:\n🟢 para Sim (concluído com sucesso)\n🔴 para Não (não concluído)\n🟠 para Mais ou Menos (parcialmente concluído ou incerto)\n\n🤝 Se apresentar e apresentar sua empresa (Sim/Não)\n🔗 Construir relacionamento encontrando interesses ou pontos em comum (Sim/Não)\n🧐 Fazer perguntas abertas sobre as necessidades ou desafios do prospect (Sim/Não)\n👂 Ouvir ativamente e reconhecer as respostas do prospect (Sim/Não)\n🎯 Mencionar seu produto e como ele se relaciona com as necessidades deles (Sim/Não)\n📚 Compartilhar uma história de sucesso ou estudo de caso relevante para o prospect (Sim/Não)\n🛡️ Abordar quaisquer objeções ou preocupações potenciais (Sim/Não)\n🏆 Oferecer uma opção de assinatura anual, destacando seus benefícios (Sim/Não)\n🤝 Pedir um compromisso ou próximos passos (Sim/Não)\n📝 Resumir a ligação e confirmar os itens de ação (Sim/Não)\n\n# Exemplo de um item de como deve ficar, faça para todos os itens\n🟠 ~ 📚 Compartilhar uma história de sucesso ou estudo de caso relevante (Mais ou Menos)\n\n\n## Sobre o Apresenta.me\nVisão Geral:\nA Apresenta.me é uma plataforma SaaS completa e estratégica voltada para imobiliárias de pequeno e médio porte que desejam escalar suas operações com eficiência, organização e controle. Fundada em 2017, nasceu com a missão de facilitar a divulgação de imóveis na internet, mas evoluiu rapidamente para se tornar um ERP robusto, automatizando 100% da gestão de locações e otimizando a operação de vendas imobiliárias.\n\nCom uma abordagem centrada no crescimento sustentável e no ganho de produtividade sem necessidade de ampliar a equipe, a Apresenta.me oferece uma plataforma integrada que resolve os principais gargalos do setor, substituindo planilhas e ferramentas fragmentadas por um sistema unificado e inteligente.\n\nAlém da plataforma, a Apresenta.me também oferece consultoria, onboarding personalizado e uma base completa de conhecimento, garantindo que cada cliente aproveite ao máximo o potencial do sistema para escalar sua imobiliária com segurança e previsibilidade.\n\nPúblico-Alvo:\n- Imobiliárias com mais de 100 contratos de locação que buscam escalar com controle e automação.\n- Imobiliárias focadas em vendas com mais de 10 corretores e demanda por organização e performance comercial.\n- Gestores e donos de imobiliárias que querem mais produtividade sem aumentar a equipe.\n- Corretores que desejam atendimento ágil, tecnologia intuitiva e suporte real no dia a dia.\n\nBenefícios e Diferenciais:\n- Plataforma Integrada e 100% Online: Centraliza todas as operações em um único sistema — do CRM à gestão financeira.\n- Automação da Gestão de Locação: Geração de contratos, cobranças, repasses e inadimplência — tudo automatizado.\n- CRM com IA e WhatsApp Integrado: Captação inteligente de leads, chatbot, automações e histórico de conversas.\n- Assinatura Eletrônica e Módulo de Vistoria: Formalização rápida de contratos e laudos com assinatura digital.\n- Painéis de Indicadores e Relatórios: Visualize crescimento da carteira, desempenho financeiro e eficiência do time.\n- Suporte Humano de Verdade: Atendimento próximo via WhatsApp, com especialistas que entendem o mercado.\n- Site Profissional com SEO Otimizado: Geração de leads e visibilidade online com presença digital personalizada.\n\nEstrutura da Plataforma:\n- ERP Imobiliário Completo: Gestão de clientes, imóveis, contratos, financeiro e marketing em um só lugar.\n- Apre.Chat: Comunicação integrada com WhatsApp, chatbot, listas de transmissão e atendimento em equipe.\n- ApBank: Solução bancária para repasses automáticos, conciliação e controle de inadimplência.\n- Vistorias Online e Offline: App para vistoria de entrada, saída e manutenção, com laudo digital assinado.\n- Painel de Estatísticas: Métricas de locação, vendas, equipe e funil de negócios.\n- Base de Conhecimento: Tutoriais, vídeos, guias e dicas atualizadas sobre todas as funcionalidades.\n\nATENÇÃO: Certifique-se de que o nome de todas as plataformas na análise estejam corretos (Ex: Apre.Chat, ApBank etc.)","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1088,-32],"id":"34bb6e9b-3997-4133-b355-faf2bb35b2e2","name":"Análise da Call de Lead","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000},{"parameters":{"promptType":"define","text":"=Sua missão é criar o relatório de Call de Implantação - Apresenta.me\n\n## Importante: \n- Baseie sua análise exclusivamente no conteúdo da transcrição fornecida. Não faça suposições sobre informações e não crie nada que não estão presentes na transcrição.\n- O fuso horário é de São Paulo, Brasil, é UTC-3. Formatar as horas assim.\n\n## Regras Fixas (NÃO ALTERAR)\n- As informações abaixo são DEFINITIVAS e NÃO podem ser modificadas, reescritas, corrigidas, reformatadas ou inventadas pelo agente.\n- Não alterar, corrigir, encurtar, expandir ou substituir caracteres em nenhum link, ID ou texto.\n- Se houver inconsistência, SEMPRE priorizar exatamente o valor escrito aqui.\n- Qualquer saída que modifique essas informações será considerada inválida.\n\n\n## Informações Básicas:\n- Não alterar de forma alguma os links e Ids citados aqui!\n- Idioma: PT-BR \n- Reunião: {{ $('Get a transcript').first().json.data.transcript.title }}\n- Nome do Implantador: {{ $json.assigned_by_id_details.name_full }}\n- Id da implantação: https://crm.apresenta.me/crm/type/156/details/{{ $json.id }}/\n- Link da Gravação: https://meet.apre.me/{{ $('Get a transcript').first().json.data.transcript.id }}\n- Data: {{ $('Get a transcript').first().json.data.transcript.dateString }}\n- Duração: {{ $('Get a transcript').first().json.data.transcript.duration }}\n- Transcrição: {{ $('Define quem está falando').first().json.messages.join(\"\\n\") }}\n\n\n## Classificação do tipo de call\n\nAntes de iniciar a análise, classifique a reunião como uma das opções abaixo, com base no conteúdo da transcrição:\n1. Call de Primeiros Passos na Implantação – Indícios: início do onboarding, explicação sobre os módulos principais, configuração inicial do sistema, orientação de como começar a utilizar, definição de próximos passos para ativação.\n2. Call de Treinamento de Funcionalidades – Indícios: aprofundamento em recursos específicos (ex.: financeiro, repasses, site, CRM), apresentação de boas práticas, demonstração de fluxos de uso, capacitação da equipe do cliente.\n3. Call de Acompanhamento de Implantação – Indícios: revisão do que já foi feito, checagem de progresso, resolução de dúvidas do cliente sobre uso real do sistema, ajustes de parametrização, definição de pendências e próximos marcos.\n4. Outro Contexto / Não se encaixa – Se não for possível identificar claramente um dos tipos acima, ou se o conteúdo for diferente do objetivo da implantação (ex.: reunião de suporte técnico pontual, conversa interna, call comercial), não fazer análise detalhada — apenas resumir a call.\n\n⚠️ Regra: Se a reunião for classificada como \"Outro Contexto / Não se encaixa\", ignorar as etapas de análise detalhada (Checklist de Implantação, Avaliação de Engajamento, etc.) e entregar apenas um resumo objetivo da conversa.\n\n## Verificação de No-Show\nAntes de prosseguir com o relatório completo, verifique se a reunião realmente ocorreu:\n\n1. Analise a transcrição em busca de conteúdo substancial relacionado à implantação.  \n2. Verifique se há diálogo entre o implantador e o cliente.  \n3. Confirme se a duração da chamada é compatível com uma reunião real (geralmente mais de 5 minutos).  \n\nSe não houver evidências claras de que a reunião ocorreu, proceda da seguinte forma:\n\n-----\n# Relatório de No-Show\n\n🚫 Status: No-Show (O cliente não compareceu à reunião agendada)\n\n## Detalhes\n- Nome do Implantador: [Nome do Implantador]  \n- Data agendada: [Data da reunião]  \n- Horário agendado: [Horário da reunião UTC -3]  \n- Nome do Cliente: [Nome do Cliente]  \n-----\n\nSe a reunião ocorreu, vá direto ao conteúdo. Não precisa de introdução.\n\n## Detalhes\n- Nome do Implantador: [Nome do Implantador]  \n- Data agendada: [Data da reunião]  \n- Horário agendado: [Horário da reunião UTC -3]  \n- Nome do Cliente: [Nome do Cliente]  \n- Id da Implantação: [Id da Implantação]  \n- Link da Gravação: [Link da Gravação]  \n-----\n\n## 1. ANÁLISE DE TEMPO DA CALL\nGerar um relatório completo com base na estrutura de tempo prevista abaixo. Avalie se o roteiro foi seguido, quanto tempo foi dedicado a cada etapa e o que foi abordado.  \n\n# DETALHE: Os treinamentos de CADASTROS e CRM têm a duração de 45m à 1h, a duração de treinamento no módulo FINANCEIRO é de 1h20 à 2h\n\nUse os seguintes emojis e indicadores visuais para classificar cada etapa:\n\n🟢 = Dentro do Tempo (cumpriu o tempo recomendado para a etapa)  \n🟠 = Fora do Ideal (gastou menos ou mais do que o ideal, mas não exagerado)  \n🔴 = Excesso de Tempo (gastou muito mais tempo do que o necessário)  \n\n🕒 Para cada etapa, indique.:\n- Tempo aproximado gasto (ex: \"4 min\", \"18 min\")  \n- Emoji correspondente (🟢🟠🔴)  \n- Se o roteiro foi seguido ou não  \n- Quais temas/práticas foram abordados  \n- Pontos de atenção ou melhoria  \n\n📋 ESTRUTURA DE ANÁLISE POR ETAPA:\n\n1. Abertura e alinhamento inicial – até 5 minutos  \n   Ex: Nome, papel, objetivo da call, breve revisão do que será tratado.  \n\n2. Treinamento ou configuração do módulo em foco – entre 15 e 25 minutos  \n   Ex: demonstração de funcionalidades, parametrizações, explicação de fluxos, esclarecimento de dúvidas.  \n\n3. Revisão de pendências e próximos passos – últimos 20 minutos ou restante da call  \n   Ex: checagem do que já foi implantado, definição de responsabilidades, prazos e agenda de novas calls.  \n\n📝 Exemplo de resposta esperada:\n\n👋 Abertura: 4m 🟢  \n- O implantador se apresentou bem, explicou o objetivo da call e revisou os tópicos do encontro.  \n🔧 Treinamento: 20m 🟢  \n- Demonstrou o módulo em questão, explicou sobre as principais funcionalidades. Cliente interagiu bastante.  \n📌 Revisão + Próximos passos: 18m 🟢  \n- Confirmou que as necessidades de aprendizagem do cliente foram atendidas, fez questão da sua disposição em caso de novas dúvidas.  \n\n## 2. MÓDULOS TRABALHADOS\nListe todos os módulos e recursos do sistema que foram abordados durante a call, descrevendo brevemente como foram apresentados e o nível de entendimento do cliente.\n\n## 3. CONTEXTO DO CLIENTE\n- Resuma as informações disponíveis sobre o cliente (nome, equipe, tamanho da carteira, número de usuários, etapa da implantação, etc).  \n- Identifique necessidades ou desafios específicos mencionados pelo cliente.  \n\n## 4. RESUMO DO CALL\n- Faça um resumo conciso dos principais pontos discutidos, treinamentos realizados e decisões tomadas.  \n\n## 5. CHECKLIST DE IMPLANTAÇÃO\n\nAvalie os pontos abaixo e registre se cada item foi **Concluído, Pendente ou Parcial**, sempre trazendo um exemplo objetivo da transcrição:\n\n### 5.1 Base Utilizada no Treinamento\n- O implantador deixou claro se o treinamento foi feito na **base teste da Apresenta.me**, em **demonstração** ou diretamente na **base do cliente**?\n\n### 5.2 Tipo de Treinamento Realizado\nIdentifique qual dos três tipos de treinamento predominou, com base nos temas abordados:\n\n1. **Cadastros**\n   - Cadastros de usuários, grupos de usuários e empresa.  \n   - Explicação completa dos módulos de imóveis, pessoas, documentos e cadastros gerais (tags, origens etc.).  \n   - Se incluso no plano: vistorias e documentos por assinatura digital.  \n\n2. **CRM**\n   - Configuração e explicação do funil de vendas.  \n   - Regras de rodízio (se incluso no plano).  \n   - Operações no módulo de negócios (criação, movimentação, ganho, perda, prorrogado).  \n   - Explicação do módulo de propostas, gráficos e agenda.  \n   - Integração com Google Agenda.  \n   - Minha Conta do Corretor.  \n\n3. **Financeiro**\n   - Explicação completa do módulo financeiro (contas a pagar/receber, faturas, contratos de venda, locação e temporada).  \n   - Notas fiscais (se incluso no plano).  \n   - Repasse de proprietários e corretores.  \n   - Seguros contratados no sistema.  \n   - Conciliação bancária.  \n   - Relatórios financeiros.  \n   - Configurações financeiras para o cliente.  \n\n### 5.3 Definição de Próximos Passos\nAnalise se, ao final da call, o implantador deixou claro:  \n- Quais serão os **próximos marcos da implantação**.  \n- Se reforçou que o cliente possui um **canal aberto para dúvidas** até a conclusão da implantação.\n\nPara cada item, utilize o formato:  \n[Emoji] [Item] (Concluído / Pendente / Parcial) [Explicação objetiva com exemplo da transcrição]  \n\n## 6. ENGAJAMENTO DO CLIENTE\nAnalise o nível de participação do cliente:  \n- Houve interação com perguntas e comentários?  \n- O cliente demonstrou interesse em aprender?  \n- Houve alguém da equipe além do gestor presente?  \nClassifique o engajamento como: **Baixo / Médio / Alto**, justificando em 2 a 3 linhas.  \n\n### 6.1 OBSERVAÇÃO NO ENGAJAMENTO DO CLIENTE\n⚠️ Atenção especial:\nSe o cliente mencionar que participou do treinamento usando dispositivo móvel (celular com tela pequena) e relatou dificuldade em visualizar o conteúdo, registre essa informação como um alerta explícito na análise de engajamento.\n\n## 7. AÇÕES RECOMENDADAS\nCrie uma lista de 3 a 7 ações sugeridas para avançar com a implantação (use emojis).  \n\n## 8. OBJEÇÕES OU DIFICULDADES DO CLIENTE\n- Liste dúvidas, dificuldades ou resistências que o cliente apresentou.\n- Explique como foram respondidas ou encaminhadas.  \n\n## 9. RECOMENDAÇÕES PARA MELHORIA DO IMPLANTADOR\nForneça de 2 a 3 recomendações práticas e objetivas para o implantador melhorar suas próximas calls de implantação.  \n\n## 10. INSIGHTS VALIOSOS DO CALL\nListe de 3 a 5 insights importantes aprendidos ou destacados na call, que podem ser úteis para próximos atendimentos ou para o time de produto.  \n\n## 11. PRÓXIMOS PASSOS\nIndique o que ficou combinado: novos treinamentos, pendências, follow-up, próximos agendamentos, etc.  \n\n## 12. DÚVIDAS DO CLIENTE NÃO RESPONDIDAS OU COM RESPOSTAS INSEGURAS\nListe todas as perguntas feitas pelo cliente em que:  \n- O implantador demonstrou insegurança ou falta de domínio  \n- A dúvida foi ignorada ou desviada  \n- A resposta foi vaga, incompleta ou imprecisa  \n\nPara cada item, indique:  \n1. 🟡 Pergunta feita  \n2. ❌ Como o implantador respondeu  \n3. ✅ Sugestão de resposta ideal  \n\n✅ Se todas as perguntas foram respondidas com clareza e segurança:  \n> Nenhuma pergunta ficou sem resposta ou foi respondida com insegurança. ✅  \n\nListe todas as perguntas feitas pelo cliente em que:\n- O implantador demonstrou insegurança ou falta de domínio\n- A dúvida foi ignorada ou desviada\n- A resposta foi vaga, incompleta ou imprecisa\n\nPara cada item, indique:\n1. 🟡Pergunta feita\n2. ❌Como o consultor respondeu\n3. ✅Sugestão de resposta ideal\n\nExemplos:\n\n🟡 Pergunta: “Como eu importo meus contratos antigos para o sistema?”\n❌ Implantador: “Acho que tem que subir planilha, mas não lembro bem o passo.”\n✅ Resposta ideal: “No momento, o sistema não possui importação automática de contratos. O cadastro precisa ser feito manualmente dentro do módulo de contratos. Porém, já estamos desenvolvendo a funcionalidade de importação, que permitirá subir contratos em lote a partir de planilhas modelo. Enquanto o recurso não é liberado, podemos orientar você para que o processo manual seja mais rápido e padronizado.”\n\n🟡 Pergunta: “Consigo configurar repasses automáticos já na primeira conciliação bancária?”\n❌ Implantador: “Não sei se dá para automatizar logo de cara, talvez só depois.”\n✅ Resposta ideal: “Sim, já na primeira conciliação você pode configurar os repasses automáticos. Basta vincular a conta bancária no ApBank, parametrizar o percentual ou valor fixo de repasse e ativar a rotina. Assim, na próxima liquidação, o sistema já gera os repasses automaticamente.”\n\n🟡 Pergunta: “O corretor vai ter acesso ao funil de vendas dele dentro do sistema?”\n❌ Implantador: “Acho que cada corretor só vê algumas coisas, não sei exatamente o que.”\n✅ Resposta ideal: “Sim, cada corretor tem acesso ao próprio funil de vendas, mas não vê os negócios dos colegas. Ele consegue visualizar apenas os leads atribuídos a ele, acompanhar cada etapa do funil e registrar interações. Posso acessar aqui com um perfil de corretor para mostrar como fica na prática.”\n\n## 13. FUNCIONALIDADES SOLICITADAS PELO CLIENTE QUE O SISTEMA NÃO POSSUI\nListe todos os recursos ou funcionalidades que o cliente pediu durante a call e:\n\n❌ O sistema realmente não possui\n❓ O implantador não soube confirmar se existe\n🗨️ O implantador disse que não tem, mas sem explicar ou oferecer alternativa\n\n1. 🔍 Funcionalidade solicitada\n2. 🗣️ Como o implantador respondeu\n3. 🧾 Esclarecimento (se existe, se é chamado de outra forma ou se realmente não há)\n4. 💡 Alternativa ou sugestão de contorno\n\n🔍 Funcionalidade: “Importação em massa de contratos antigos”\n🗣️ Resposta do implantador: “Ainda não temos isso pronto.”\n🧾 Esclarecimento: Atualmente não existe importação automática de contratos. O cadastro deve ser manual. A funcionalidade está em desenvolvimento.\n💡 Alternativa: Orientar o cliente a importar clientes e imóveis em lote e cadastrar os contratos aos poucos, começando pelos mais recentes ou ativos.\n\n🔍 Funcionalidade: “Relatório financeiro customizado por proprietário”\n🗣️ Resposta do implantador: “Não, acho que não tem como personalizar.”\n🧾 Esclarecimento: O sistema gera relatórios financeiros padrão, incluindo repasses e extratos. Porém, não há personalização por proprietário.\n💡 Alternativa: Sugerir o uso dos relatórios existentes com filtros por proprietário e, se necessário, exportar para Excel.\n\n🔍 Funcionalidade: “Área exclusiva para corretores cadastrarem seus próprios imóveis”\n🗣️ Resposta do implantador: “Isso não dá pra fazer.”\n🧾 Esclarecimento: Hoje apenas usuários com permissão administrativa podem cadastrar imóveis. Não existe área restrita de cadastro individual para corretores.\n💡 Alternativa: Criar perfis de acesso com permissões limitadas, permitindo que o corretor cadastre imóveis, mas com aprovação do gestor antes da publicação.\n\n📌 Recomendação ao implantador:\nQuando o cliente pedir algo que o sistema não possui:\n🔎 Verifique se o recurso existe com outro nome ou em outro módulo.\n💬 Explique alternativas práticas para suprir a necessidade.\n📝 Registre a solicitação como sugestão de melhoria no produto e informe que será avaliada pelo time de desenvolvimento.\n\n## 14. LISTA DE VERIFICAÇÃO DE MELHORES PRÁTICAS\nObrigatoriamente, para cada um dos seguintes itens, forneça uma avaliação usando o formato abaixo:  \n[Emoji] [Item da Lista de Verificação] (Sim/Não) [Botão Colorido] [Breve explicação com exemplos específicos da transcrição]  \n\nUse os seguintes emojis e botões coloridos:  \n🟢 para Sim (concluído com sucesso)  \n🔴 para Não (não concluído)  \n🟠 para Mais ou Menos (parcialmente concluído ou incerto)  \n\n🤝 Se apresentar e alinhar a agenda da call (Sim/Não)\n🔗 Estabelecer rapport e criar um ambiente colaborativo (Sim/Não)\n🧐 Reforçar os objetivos da implantação e da etapa atual (Sim/Não)\n👂 Ouvir ativamente dúvidas e feedbacks do cliente (Sim/Não)\n🎯 Demonstrar funcionalidades do(s) módulo(s) com foco prático (Sim/Não)\n📚 Compartilhar boas práticas de uso e exemplos aplicados (Sim/Não)\n🛡️ Tratar resistências, dificuldades ou erros identificados (Sim/Não)\n⚙️ Verificar parametrizações ou dados já configurados (Sim/Não)\n🏆 Destacar ganhos já obtidos ou avanços da implantação (Sim/Não)\n🤝 Confirmar pendências, responsáveis e próximos passos (Sim/Não)\n📝 Resumir a call e registrar compromissos/agendamentos (Sim/Não)\n\nExemplo:  \n🟠 ~ 📚 Compartilhar boas práticas e dicas de uso (Mais ou Menos)  \n\n## Sobre o Apresenta.me\nVisão Geral:\nA Apresenta.me é uma plataforma SaaS completa e estratégica voltada para imobiliárias de pequeno e médio porte que desejam escalar suas operações com eficiência, organização e controle. Fundada em 2017, nasceu com a missão de facilitar a divulgação de imóveis na internet, mas evoluiu rapidamente para se tornar um ERP robusto, automatizando 100% da gestão de locações e otimizando a operação de vendas imobiliárias.\n\nCom uma abordagem centrada no crescimento sustentável e no ganho de produtividade sem necessidade de ampliar a equipe, a Apresenta.me oferece uma plataforma integrada que resolve os principais gargalos do setor, substituindo planilhas e ferramentas fragmentadas por um sistema unificado e inteligente.\n\nAlém da plataforma, a Apresenta.me também oferece consultoria, onboarding personalizado e uma base completa de conhecimento, garantindo que cada cliente aproveite ao máximo o potencial do sistema para escalar sua imobiliária com segurança e previsibilidade.\n\nPúblico-Alvo:\n- Imobiliárias com mais de 100 contratos de locação que buscam escalar com controle e automação.\n- Imobiliárias focadas em vendas com mais de 10 corretores e demanda por organização e performance comercial.\n- Gestores e donos de imobiliárias que querem mais produtividade sem aumentar a equipe.\n- Corretores que desejam atendimento ágil, tecnologia intuitiva e suporte real no dia a dia.\n\nBenefícios e Diferenciais:\n- Plataforma Integrada e 100% Online: Centraliza todas as operações em um único sistema — do CRM à gestão financeira.\n- Automação da Gestão de Locação: Geração de contratos, cobranças, repasses e inadimplência — tudo automatizado.\n- CRM com IA e WhatsApp Integrado: Captação inteligente de leads, chatbot, automações e histórico de conversas.\n- Assinatura Eletrônica e Módulo de Vistoria: Formalização rápida de contratos e laudos com assinatura digital.\n- Painéis de Indicadores e Relatórios: Visualize crescimento da carteira, desempenho financeiro e eficiência do time.\n- Suporte Humano de Verdade: Atendimento próximo via WhatsApp, com especialistas que entendem o mercado.\n- Site Profissional com SEO Otimizado: Geração de leads e visibilidade online com presença digital personalizada.\n\nEstrutura da Plataforma:\n- ERP Imobiliário Completo: Gestão de clientes, imóveis, contratos, financeiro e marketing em um só lugar.\n- Apre.Chat: Comunicação integrada com WhatsApp, chatbot, listas de transmissão e atendimento em equipe.\n- ApBank: Solução bancária para repasses automáticos, conciliação e controle de inadimplência.\n- Vistorias Online e Offline: App para vistoria de entrada, saída e manutenção, com laudo digital assinado.\n- Painel de Estatísticas: Métricas de locação, vendas, equipe e funil de negócios.\n- Base de Conhecimento: Tutoriais, vídeos, guias e dicas atualizadas sobre todas as funcionalidades.\n\nAVALIAÇÃO DA CONDUTA DO IMPLANTADOR\n* Dê uma nota de 0 a 10 para a postura do implantador, considerando:\n- Clareza na comunicação\n- Organização da call\n- Domínio do conteúdo\n- Didática na explicação\n- Postura profissional","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1120,528],"id":"449cb994-123e-4319-8fac-4f9b0261709f","name":"Análise da Call de Implantação","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000},{"parameters":{"url":"https://api.apresenta.me/comercial/bitrix/implantationGet","sendQuery":true,"queryParameters":{"parameters":[{"name":"id","value":"={{ $('Busca detalhes do evento no calendário').item.json?.extendedProperties?.private.crmId }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[672,752],"id":"67a33201-1fe6-4575-8740-c87bb1808c12","name":"Busca implantação"},{"parameters":{"method":"POST","url":"={{ $env.BITRIX_URL }}crm.timeline.comment.add","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"fields\": {\n        \"ENTITY_TYPE_ID\": \"156\",\n        \"ENTITY_ID\": \"{{ $('Busca implantação').item.json.id }}\",\n        \"COMMENT\": {{ $('Ajusta informações implantação').item.json.implantacao.analysisBbCodeEncoded }}\n    }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2128,608],"id":"4d55c37f-56a3-4e38-b309-d723c7d67289","name":"Salva comentário com Análise na Implantação","retryOnFail":true},{"parameters":{"method":"POST","url":"={{ $env.BITRIX_URL }}crm.timeline.item.pin","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"id\": \"{{ $json.result }}\",\n    \"ownerTypeId\": \"156\",\n    \"ownerId\": \"{{ $('Busca implantação').item.json.id }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2368,608],"id":"32d90df3-f65a-4b16-bd92-027c5176f31d","name":"Fixa o comentário na Implantação","retryOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"={{ $env.BITRIX_URL }}crm.timeline.logmessage.add","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"fields\": {\n        \"entityTypeId\": 156,\n        \"entityId\": {{ $('Busca implantação').item.json.id }},\n        \"title\": \"🖥️ Reunião Concluída\",\n        \"text\": \"Reunião {{ $('Get a transcript').first().json.data.transcript.title }} foi concluída! 🔗 https://meet.apre.me/{{ $('Get a transcript').first().json.data.transcript.id }}\",\n        \"iconCode\": \"task-activity\"\n    }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1696,608],"id":"0aefaab6-757c-498a-b553-67b53fbf07e8","name":"Salva log na implantação","retryOnFail":true},{"parameters":{"method":"POST","url":"={{ $env.BITRIX_URL }}crm.item.update","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"entityTypeId\": \"156\",    \n  \"id\": \"{{ $('Busca implantação').item.json.id }}\",\n    \"fields\": {\n        \"ufCrm9FeedbackMeetRecord\": \"https://meet.apre.me/{{ $('Get a transcript').first().json.data.transcript.id }}\",\n        \"ufCrm9MeetingFeedbackVideoUrl\": \"{{ $('Get a transcript').first().json.data.transcript.video_url }}\",\n        \"ufCrm9MeetingFeedbackAudioUrl\": \"{{ $('Get a transcript').first().json.data.transcript.audio_url }}\",\n        \"ufCrm9MeetingFeedbackTranscript\": {{ $('Ajusta informações implantação').item.json.implantacao.messagesEncoded }},\n        \"ufCrm9MeetingFeedbackAnalysis\": {{ $('Ajusta informações implantação').item.json.implantacao.analysisWithoutEmojiEncoded }}\n    }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1904,608],"id":"a2a49bba-3dfb-4ba6-b948-ba2b7d4c19a1","name":"Altera dados na implantação"},{"parameters":{"jsCode":"function removeEmojis(str) {\n  return str.replace(\n    /([\\u2700-\\u27BF]|[\\uE000-\\uF8FF]|[\\uD83C-\\uDBFF][\\uDC00-\\uDFFF]|[\\u2600-\\u26FF]|[\\uFE00-\\uFE0F])/g,\n    ''\n  );\n}\n\n\nfunction markdownToBBCode(markdown) {\n  return markdown\n    .replace(/^### (.*$)/gim, '[b]$1[/b]')\n    .replace(/^## (.*$)/gim, '[b]$1[/b]')\n    .replace(/^# (.*$)/gim, '[b]$1[/b]')\n\n    .replace(/\\*\\*(.*?)\\*\\*/g, '[b]$1[/b]')\n\n    .replace(/\\*(.*?)\\*/g, '[i]$1[/i]')\n\n    .replace(/\\n{2,}/g, '\\n\\n')\n}\n\nreturn {\n  implantacao: {\n    id: $('Busca implantação').first().json.id,\n    messagesEncoded: JSON.stringify($('Define quem está falando').first().json.messages.join(\"\\n\\n\")),\n    analysisBbCodeEncoded: JSON.stringify(markdownToBBCode($input.first().json.output)+`\\n\\n[USER=`+$('Se encontrou implantação').first().json.assigned_by_id_details.id+`]Implantador veja esta análise[/USER]`),\n    analysisWithoutEmojiEncoded: JSON.stringify(removeEmojis($input.first().json.output))\n  }\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1456,608],"id":"2a2c19f0-4eec-46a1-a267-8811299b4fb6","name":"Ajusta informações implantação"},{"parameters":{"jsCode":"const { emailsInternos } = $input.first().json\nconst { consultoresVenda } = $('⚙️ Parâmetros').first().json\n\nconst existeVendedor = emailsInternos.some(email => consultoresVenda.includes(email));\n\nreturn { existeVendedor }"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,336],"id":"a488be7b-8276-467e-b814-e47d2d3df3cc","name":"Verifica se algum e-mail interno é de vendedor"},{"parameters":{"errorMessage":"Nenhuma implantação foi encontrada"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[1200,928],"id":"dcd9cd2d-b41e-484c-9204-6e9cb5a73121","name":"Gera erro"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5-mini","mode":"list","cachedResultName":"GPT-5-MINI"},"messages":{"values":[{"content":"=VOCÊ É UM ASSISTENTE ESPECIALISTA EM FORMATAÇÃO DE RELATÓRIOS DE CALL DE IMPLANTAÇÃO PARA APLICAÇÕES IMOBILIÁRIAS, COM FOCO EM E-MAILS PROFISSIONAIS OTIMIZADOS PARA O GMAIL, REPRESENTANDO O TIME DA APRESENTA.ME. SUA MISSÃO É ANALISAR UM RELATÓRIO DE CALL E TRANSFORMÁ-LO EM UM E-MAIL BEM ESTRUTURADO, ELEGANTE, VISUALMENTE ATRAENTE E FACILMENTE LEGÍVEL EM QUALQUER DISPOSITIVO.\n\n## INSTRUÇÕES PRINCIPAIS\n\n- NUNCA ALTERE, RESUMA OU INTERPRETE O CONTEÚDO DA ANÁLISE DA CALL.\n- FORMATE O RELATÓRIO COMO UM E-MAIL PROFISSIONAL, PRONTO PARA ENVIO PELO GMAIL.\n- UTILIZE SOMENTE HTML INLINE PARA FORMATAR (CORES, TABELAS, CAIXAS DESTACADAS), COMPATÍVEL COM O GMAIL.\n- MANTENHA A ORDEM ORIGINAL DAS SEÇÕES, TÍTULOS E SUBTÍTULOS, SEM REORDENAR OU AGRUPAR BLOCOS.\n- UTILIZE NEGRITO PARA TÍTULOS E INFORMAÇÕES IMPORTANTES.\n- USE ITÁLICO APENAS PARA ÊNFASES PONTUAIS OU NA ASSINATURA.\n- ADICIONE EMOJIS DE FORMA MODERADA PARA SINALIZAR AÇÕES, STATUS E DESTAQUES (ex: ✅, 🎯, 🔗).\n- CRIE BOXES COM FUNDO COLORIDO PARA DESTAQUES, USANDO APENAS CORES COMPATÍVEIS COM O GMAIL.\n- UTILIZE LISTAS (COMUNS, NUMERADAS OU COM EMOJIS) PARA ORGANIZAR INFORMAÇÕES.\n- CONVERTA TODAS AS QUEBRAS DE LINHA `\\n` PARA `<br>` OU SEPARE EM `<p>` QUANDO NECESSÁRIO.\n- APRESENTE LINKS APENAS COMO HIPERLINKS CLICÁVEIS, ANTEPONDO O EMOJI 🔗.\n- NUNCA OMITA SEÇÕES, MESMO QUE O CONTEÚDO PAREÇA REPETIDO, INCOMPLETO OU VAZIO.\n- MANTENHA TODOS OS TÍTULOS VISÍVEIS, MESMO QUE NÃO TENHAM CONTEÚDO ASSOCIADO.\n- FINALIZE COM ASSINATURA PADRÃO: _Relatório pela <b>Sofia</b>, assistente da Apresenta.me_\n- REVISE ORTOGRAFIA, GRAMÁTICA E LEGIBILIDADE EM DESKTOP E MOBILE.\n- A SAÍDA DEVE SER SOMENTE O HTML FINAL, SEM BLOCOS DE CÓDIGO, TAGS `html` EXTERNAS, OU MARCAÇÕES DO TIPO ```html.\n\n## CADEIA DE RACIOCÍNIO (“CHAIN OF THOUGHTS”)\n\n- ENTENDA o objetivo: transformar a análise da call em um e-mail 100% fiel e visualmente otimizado.\n- IDENTIFIQUE todas as seções do relatório e seus conteúdos, sem ignorar nenhuma.\n- SEPARE as informações em blocos organizados com títulos claros e destacados em negrito.\n- DESTAQUE informações cruciais utilizando boxes com fundos coloridos e emojis apropriados.\n- CONVERTA `\\n` para `<br>` quando estiver em blocos de texto, e use `<p>` para parágrafos completos.\n- INSIRA links como hiperlinks clicáveis precedidos por 🔗, ocultando URLs completas.\n- GARANTA que todas as seções do texto original estejam presentes no HTML final.\n- NUNCA REORDENE OU REAGRUPE SEÇÕES. A ordem original deve ser preservada integralmente.\n- FINALIZE com assinatura profissional obrigatória e revise ortografia e gramática.\n\n## O QUE NÃO FAZER (NEGATIVE PROMPT)\n\n- **NUNCA MODIFIQUE, RESUMA OU OMITA QUALQUER INFORMAÇÃO DA ANÁLISE ORIGINAL.**\n- **NÃO INSIRA COMENTÁRIOS, OPINIÕES OU INTERPRETAÇÕES.**\n- **NÃO INCLUA INTRODUÇÃO, CONTEXTO OU CONTEÚDO ADICIONAL.**\n- **NÃO DEIXE LINKS SEM SEREM CLICÁVEIS OU SEM O EMOJI 🔗.**\n- **NÃO USE CORES EXCESSIVAS OU VISUALS QUE PREJUDIQUEM A LEITURA.**\n- **NÃO OMITA SEÇÕES COM TÍTULOS VAZIOS OU REPETIDOS.**\n- **NÃO USE SUBLINHADO, EXCETO PARA LINKS.**\n- **NÃO COMETA ERROS DE ORTOGRAFIA OU QUEBRA DE HTML.**\n- **NÃO QUEBRE A ESTRUTURA EM SEÇÕES. TODOS OS TÍTULOS DEVEM SER PRESERVADOS.**\n- **NÃO FORMATE EM OUTRO PADRÃO QUE NÃO SEJA HTML INLINE COMPATÍVEL COM GMAIL.**\n- **NÃO OMITA A ASSINATURA PADRÃO COM A SOFIA.**\n\n## ESTRATÉGIA DE OTIMIZAÇÃO\n\n- SAÍDA DEVE CONTER APENAS O HTML INLINE, PRONTO PARA COLAGEM EM UM E-MAIL.\n- SEM `code blocks`, SEM TAGS DE MARCAÇÃO EXTRAS, SEM COMENTÁRIOS.\n- ADAPTE QUANTIDADE DE EMOJIS E ELEMENTOS VISUAIS À QUANTIDADE DE CONTEÚDO.\n- MANTENHA O RELATÓRIO 100% FIEL AO ORIGINAL.\n- VALIDE A PRESENÇA DE TODAS AS SEÇÕES DO RELATÓRIO.\n- OTIMIZE A VISUALIZAÇÃO PARA DESKTOP E MOBILE.\n\n## EXEMPLO DE ESTRUTURA ESPERADA:\n\n<html>\n<body style=\"font-family: Helvetica, Arial, sans-serif; line-height: 1.6; color: #333;\">\n    <div style=\"text-align: left; margin: 20px 0 50px 0;\">\n        <img src=\"https://s.apresenta.me/comercial/automations/apresentame-300.png\" alt=\"Apresenta.me ~ O Futuro das Imobiliárias\" width=\"300\" style=\"display: inline-block;\">\n    </div>\n\n    <h2 style=\"color: #1a73e8;\">📊 Análise da reunião de Implantação | Apresenta.me | NOME DO LEAD ~ ASSUNTO DA CALL</h2>\n\n    <!-- Estrutura de seções idêntica à do relatório original, formatada conforme as regras acima -->\n\n    <p style=\"font-style: italic; margin-top: 30px; border-top: 1px solid #ddd; padding-top: 10px;\">Relatório pela <b>Sofia</b>, assistente da Apresenta.me</p>\n</body>\n</html>","role":"system"},{"content":"={{ $('Análise da Call de Implantação').item.json.output }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2576,608],"id":"e071c2a8-ad2d-4455-a704-aa49facda2bd","name":"Cria html da analise de Implantação","retryOnFail":true,"credentials":{"openAiApi":{"id":"weD4ayyAuWgClQqA","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4954eff3-2bc3-4815-90ee-5a5ef30c21cf","leftValue":"={{ $json.existeVendedor }}","rightValue":"lead","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"6cc540f0-a413-43f2-b32b-39a589e30bf2","leftValue":"={{ $('Busca detalhes do evento no calendário').item.json?.extendedProperties?.private.crmType }}","rightValue":"lead","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[400,336],"id":"85e3ae1e-aab9-41c7-803c-e4e8b5775d62","name":"Se é call de lead"},{"parameters":{"fromEmail":"Apresenta.me <no-reply@apresenta.me>","toEmail":"heads@apresenta.me, joao.neto@apresenta.me, ana.cordova@apresenta.me, joao.rorato@apresenta.me","subject":"=⚒️ Análise Implantação | {{ $('Se encontrou implantação').item.json.assigned_by_id_details.name_full }} | {{ $('Get a transcript').first().json.data.transcript.title }}","html":"={{ $json.message.content }}","options":{"appendAttribution":false,"ccEmail":"={{ $('Busca Email dos Convidados').item.json.emailsInternos }}"}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[2928,608],"id":"d808a7ad-49bf-4752-9522-86b25a4b7748","name":"Envia e-mail da análise para os heads, implantadores e cs","webhookId":"b8842732-9025-4c04-924e-06cfbb051a19","notesInFlow":false,"credentials":{"smtp":{"id":"aeF6k2hPp8cZPPHg","name":"SMTP account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"claude-sonnet-4-20250514","cachedResultName":"Claude 4 Sonnet"},"options":{"maxTokensToSample":5000}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[1184,736],"id":"34d36da8-5218-42a9-aefc-c52770ae1919","name":"Anthropic Chat Model para analise de call de implantação","credentials":{"anthropicApi":{"id":"lyfyzPeMl3RhkeP5","name":"Anthropic account"}}},{"parameters":{"jsCode":"const query = `query Transcript($transcriptId: String!) {\n  transcript(id: $transcriptId) {\n    id\n    dateString\n    privacy\n    analytics {\n      sentiments {\n        negative_pct\n        neutral_pct\n        positive_pct\n      }\n      categories {\n        questions\n        date_times\n        metrics\n        tasks\n      }\n      speakers {\n        speaker_id\n        name\n        duration\n        word_count\n        longest_monologue\n        monologues_count\n        filler_words\n        questions\n        duration_pct\n        words_per_minute\n      }\n    }\n    speakers {\n      id\n      name\n    }\n    sentences {\n      index\n      speaker_name\n      speaker_id\n      text\n      raw_text\n      start_time\n      end_time\n      ai_filters {\n        task\n        pricing\n        metric\n        question\n        date_and_time\n        text_cleanup\n        sentiment\n      }\n    }\n    title\n    host_email\n    organizer_email\n    calendar_id\n    user {\n      user_id\n      email\n      name\n      num_transcripts\n      recent_meeting\n      minutes_consumed\n      is_admin\n      integrations\n    }\n    fireflies_users\n    participants\n    date\n    transcript_url\n    audio_url\n    video_url\n    duration\n    meeting_attendees {\n      displayName\n      email\n      phoneNumber\n      name\n      location\n    }\n    meeting_attendance {\n      name\n      join_time\n      leave_time\n    }\n    summary {\n      keywords\n      action_items\n      outline\n      shorthand_bullet\n      overview\n      bullet_gist\n      gist\n      short_summary\n      short_overview\n      meeting_type\n      topics_discussed\n      transcript_chapters\n    }\n    cal_id\n    calendar_type\n    meeting_info {\n      fred_joined\n      silent_meeting\n      summary_status\n    }\n    apps_preview {\n      outputs {\n        transcript_id\n        user_id\n        app_id\n        created_at\n        title\n        prompt\n        response\n      }\n    }\n    meeting_link\n    channels {\n      id\n    }\n  }\n}`\n\nreturn {\n  query: JSON.stringify(query)\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-864,336],"id":"10137069-9260-4916-bd87-87f15ebe14d3","name":"Transforma query em stringify"},{"parameters":{"method":"POST","url":"https://api.fireflies.ai/graphql","authentication":"predefinedCredentialType","nodeCredentialType":"httpBearerAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"query\": {{ $json.query }},\n  \"variables\": { \"transcriptId\": \"{{ $('Webhook').item.json.body.meetingId }}\" }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-624,336],"id":"50039ac0-2ed1-4289-a99b-55b0df23b6d7","name":"Get a transcript","credentials":{"httpBearerAuth":{"id":"VeLgPdbYdfsjD2AR","name":"Fireflies API"}}}],"connections":{"Define quem está falando":{"main":[[{"node":"Busca Email dos Convidados","type":"main","index":0}]]},"Salva Log no Lead":{"main":[[{"node":"✏️ Altera dados do Lead","type":"main","index":0}]]},"Ajusta informações":{"main":[[{"node":"Salva Log no Lead","type":"main","index":0}]]},"✏️ Altera dados do Lead":{"main":[[{"node":"Salva comentário com Análise no Lead","type":"main","index":0}]]},"Salva comentário com Análise no Lead":{"main":[[{"node":"Fixa o comentário no Lead","type":"main","index":0}]]},"Fixa o comentário no Lead":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Send email","type":"main","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"Análise da Call de Lead","type":"ai_languageModel","index":0}]]},"Busca Lead":{"main":[[{"node":"Se Encontrou Lead","type":"main","index":0}]]},"Se Encontrou Lead":{"main":[[{"node":"Análise da Call de Lead","type":"main","index":0}],[{"node":"Stop and Error","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"⚙️ Parâmetros","type":"main","index":0}]]},"⚙️ Parâmetros":{"main":[[{"node":"Transforma query em stringify","type":"main","index":0}]]},"Busca Email dos Convidados":{"main":[[{"node":"Verifica se algum e-mail interno é de vendedor","type":"main","index":0}]]},"Busca detalhes do evento no calendário":{"main":[[{"node":"Define quem está falando","type":"main","index":0}]]},"Se encontrou implantação":{"main":[[{"node":"Análise da Call de Implantação","type":"main","index":0}],[{"node":"Gera erro","type":"main","index":0}]]},"Análise da Call de Lead":{"main":[[{"node":"Ajusta informações","type":"main","index":0}]]},"Análise da Call de Implantação":{"main":[[{"node":"Ajusta informações implantação","type":"main","index":0}]]},"Busca implantação":{"main":[[{"node":"Se encontrou implantação","type":"main","index":0}]]},"Salva comentário com Análise na Implantação":{"main":[[{"node":"Fixa o comentário na Implantação","type":"main","index":0}]]},"Fixa o comentário na Implantação":{"main":[[{"node":"Cria html da analise de Implantação","type":"main","index":0}]]},"Salva log na implantação":{"main":[[{"node":"Altera dados na implantação","type":"main","index":0}]]},"Altera dados na implantação":{"main":[[{"node":"Salva comentário com Análise na Implantação","type":"main","index":0}]]},"Ajusta informações implantação":{"main":[[{"node":"Salva log na implantação","type":"main","index":0}]]},"Verifica se algum e-mail interno é de vendedor":{"main":[[{"node":"Se é call de lead","type":"main","index":0}]]},"Cria html da analise de Implantação":{"main":[[{"node":"Envia e-mail da análise para os heads, implantadores e cs","type":"main","index":0}]]},"Se é call de lead":{"main":[[{"node":"Busca Lead","type":"main","index":0}],[{"node":"Busca implantação","type":"main","index":0}]]},"Anthropic Chat Model para analise de call de implantação":{"ai_languageModel":[[{"node":"Análise da Call de Implantação","type":"ai_languageModel","index":0}]]},"Transforma query em stringify":{"main":[[{"node":"Get a transcript","type":"main","index":0}]]},"Get a transcript":{"main":[[{"node":"Busca detalhes do evento no calendário","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Sao_Paulo","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"1vJAvbZQLlToYBfA"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.apresenta.me","x-real-ip":"172.69.17.71","x-real-port":"19232","x-forwarded-for":"34.46.61.7, 172.69.17.71","x-forwarded-proto":"http","x-forwarded-host":"n8n.apresenta.me","x-forwarded-port":"80","remote-host":"172.69.17.71","connection":"close","content-length":"80","content-type":"application/json","user-agent":"axios/1.12.2","baggage":"sentry-environment=production,sentry-release=4f04bd32c6a555712c604aef4dedf3f96f93e1d2,sentry-public_key=010261725034495cbd9605cd1d3c1a2d,sentry-trace_id=615dfb2dab8c4d8f8b4b6e6da6d1c2e8","sentry-trace":"615dfb2dab8c4d8f8b4b6e6da6d1c2e8-bfaadebd02aca1d1","cf-ray":"9c92a4cf9a8e35b5-ORD","accept-encoding":"gzip, br","accept":"application/json, text/plain, */*","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"34.46.61.7","cf-ipcountry":"US","cf-visitor":"{\"scheme\":\"https\"}"},"params":{},"query":{},"body":{"meetingId":"01KGMGCRV4032VKTQ1QTQJ948W","eventType":"Transcription completed"},"webhookUrl":"https://n8n.apresenta.me/webhook/closer-meeting-analysis","executionMode":"production"}}]},"versionId":"ad3b45fd-87bd-4a2b-9467-c1326b72edfc","triggerCount":1,"shared":[{"updatedAt":"2025-08-16T14:09:14.309Z","createdAt":"2025-08-16T14:09:14.309Z","role":"workflow:owner","workflowId":"H9ZecN7hYmbxcK4J","projectId":"4ToGMYJEWvvDSbcz"}],"tags":[]}