10-12-2025 12:00/workflows/🗣️-apr.sdr-ia-dDaZdsSmHxktrhjc.json
{"updatedAt":"2025-12-10T14:55:11.000Z","createdAt":"2025-11-04T18:47:16.651Z","id":"dDaZdsSmHxktrhjc","name":"🗣️ Apr.SDR IA","active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"delete","key":"={{ $('Cria cache key').item.json.cache_key }}_vars"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2160,-304],"id":"82d16a2d-7240-45c6-9e10-4c474f1e6242","name":"Delete cache variaveis","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"jsCode":"const dataObj = $input.first().json;\nlet tableMarkdown = \"| VAR | VALOR | TIPO | DESCRIÇÃO | \\n|---|---|---|\\n\";\n\nfor (const [key, props] of Object.entries(dataObj)) {\n  const val = props.value !== undefined ? props.value : '';\n  tableMarkdown += `| ${key} | ${val} | ${props.type} | ${props.description} \\n`;\n}\n\nreturn { tableMarkdown };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1536,-16],"id":"715ad9c6-1b55-46ab-be41-ef8771d55cbd","name":"Transforma variáveis em tabela"},{"parameters":{"jsCode":"return {\n  chatInput: JSON.stringify($('Webhook').first().json.body.message)\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-736,-16],"id":"785efff2-7dfd-486c-ab8e-79dd10dfc9c1","name":"Retorna chatInput"},{"parameters":{"operation":"get","key":"={{ $('Cria cache key').item.json.cache_key }}_vars","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2160,-16],"id":"fe06e47a-c5bc-494f-bc1b-53f306da4e52","name":"Busca variáveis","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"cache_key\": \"sdr_{{ $('Webhook').item.json.body.ticketId }}_chat_summary_{{ $('Webhook').item.json.body.contact.number }}_{{ $('Webhook').item.json.body.whatsappId }}_10\"\n} ","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2816,-16],"id":"0616bdad-72a1-40be-8797-c2b6f60329a9","name":"Cria cache key"},{"parameters":{"jsCode":"const vars = $('Seta variáveis da conversa').first().json\nconst cacheStages = JSON.parse($('Busca estágios').first().json.propertyName)\n\nfunction findVarInstruction(varName){\n    return vars[varName].description\n}\n\nfunction findVarType(varName) {\n  return vars[varName].type\n}\n\nfunction findVarValue(varName) {\n  return vars[varName].value\n}\n\nconst stages = cacheStages ?? {\n  \"Identificar o usuario\": {\n    sortNumber: 1,\n    conditionPrompt: \"Se é início da conversa ou se o usuário ainda não informou o nome dele\",\n    requiredDataForExecute: null,\n    actions: {\n      requiredDataForExecute: [\n        {\n          name: \"name\",\n          value: null\n        }\n      ],\n      actions: null, \n      finalInstructions: \"Responda: 'Que nome bonito, prazer em te conhecer!'\"\n    }\n  },\n  \"Verificar se trabalha no mercado imobiliário\": {\n    sortNumber: \"2\",\n    conditionPrompt: \"Se ja respondeu o nome.\",\n    requiredDataForExecute: null,\n    actions: {\n      requiredDataForExecute: [\n        {\n          name: \"isRealEstate\",\n          value: null\n        }\n      ],\n      actions: null,\n      finalInstructions: \"Perguntar se o lead trabalha no mercado imobiliário \\n- Se não trabalhar, retorne para o lead que a Apresenta.me apenas atende pessoas que trabalhem com o mercado imobiliário, agradeça pelo interesse e encerre o atendimento educadamente\"\n    }\n  },\n  \"Diagnosticar a necessidade\": {\n    sortNumber: \"3\",\n    conditionPrompt: \"Se você já sabe o nome do lead , e ainda não definiu suas dores, pergunte sobre quais os problemas ele enfrenta e que a Apresenta.me pode ajudar.\",\n    requiredDataForExecute: [\n      {\n        name: \"isRealEstate\", \n        operator: \"exist\",\n        value: null\n      }\n    ],\n    actions: {\n      requiredDataForExecute: [\n        {\n          name: \"customerNeed\",\n          value: null\n        }\n      ],\n      actions: null,\n      finalInstructions: \" \\nAfunile na necessidade específica dele, garantindo que você saiba qual é a necessidade específica que ele tem.  \\n \\nFaça isso através de pergunta. Exemplo, se o usuário quer saber sobre algo que possui ramificações nas informações disponíveis, faça uma pergunta, e se possível liste as ramificações / opções existentes, para você saber exatamente onde que o usuário está com dúvidas, e principalmente quais as dúvidas que ele tem quanto ao software da Apresenta.me\"\n    }\n  }, \n  \"Qualificacao\": {\n    sortNumber: \"4\",\n    conditionPrompt: \"Se você já sabe o nome do lead, se ele trabalha no mercado imobiliário e se você já sabe as necessidades do lead mas ainda não aprondou-se em tais necessidades.\",\n    requiredDataForExecute: [\n      {\n        name: \"isRealEstate\", \n        operator: \"exist\",\n        value: null\n      }\n    ],\n    actions: {\n      requiredDataForExecute: [\n        {\n          name: \"teamSize\",\n          value: null\n        }, \n        {\n          name: \"workWithRent\",\n          value: null\n        },  \n        {\n          name: \"numberOfBuildings\",\n          value: null\n        },\n        {\n          name: \"currentSystem\",\n          value: null\n        },\n        {\n          name: \"rentalTransferMode\",\n          value: null\n        },\n        {\n          name: \"amountInCurrentSystemOrBudget\",\n          value: null\n        },\n        {\n          name: \"qualificationCompleted\",\n          value: null\n        }\n      ],\n      actions: null,\n      finalInstructions: \"\"\n    }\n  },  \n  \"Enviar Apresentacao em PDF\": {\n    sortNumber: \"5\",\n    conditionPrompt: \"Caso o processo de qualificação esteja finalizado\",\n    requiredDataForExecute: [\n      {\n        name: \"qualificationCompleted\", \n        operator: \"=\",\n        value: true\n      },\n      {\n        name: \"presentationHasSent\", \n        operator: \"!exist\",\n        value: null\n      }\n    ],\n    actions: {\n      requiredDataForExecute: [\n        {\n          name: \"presentationHasSent\",\n          value: null\n        }\n      ],\n      actions: null,\n      finalInstructions: \"\"\n    }\n  }  \n}\n\n// Iterar sobre todos os stages\nObject.keys(stages).forEach(stageKey => {\n  const stage = stages[stageKey];\n  \n  // Verificar se existe actions e requiredDataForExecute\n  if (stage.actions && stage.actions.requiredDataForExecute) {\n    // Iterar sobre cada item de requiredDataForExecute\n    stage.actions.requiredDataForExecute.forEach(item => {\n      // Adicionar a propriedade instructions\n      item.instruction = findVarInstruction(item.name);      \n      item.type = findVarType(item.name)\n      item.value = findVarValue(item.name) || undefined\n    });\n  }\n});\n\nreturn stages;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-928,-16],"id":"26867d44-c0b8-48de-9d4b-bb61ffc4cb36","name":"Seta estágios"},{"parameters":{"jsCode":"return {\n  tone: \"Engraçado\",\n  agentName: \"Alicia\",\n  internalName: \"Alicia da Apresenta.me\",\n  initialMessage: \"Olá, tudo bem? 👋 \\n\\nEu sou a Alicia, assistente da Apresenta.me, vou te ajudar entendendo melhor sua necessidade.\",\n  language: \"pt-BR\",\n  timeZone: \"Sao Paulo (GTM -3)\",\n  role: \"SDR Sênior\",\n  companyName: \"Apresenta.me\",\n  companyDepartment: \"Software\",\n  companySite: \"https://apresenta.me\",\n  conduct: \" \\n### SOBRE SEU PAPEL \\n- Você é um SDR, sua Principal função é qualificar o lead. para entender se ele tem as características do nosso ICP; \\n- Você irá apresentar o sistema da Apresenta.me (https://apresenta.me), um software SAAS para gestão completa de imobiliárias. \\n- Comporte-se exatamente como um representante da empresa, sendo cordial e profissional. \\n \\n \\n### SEU TOM DE VOZ \\n- Responda de maneira simples e objetiva e profissional; \\n- Responda por padrão até 130 caracteres. Só aumente a resposta quando for estritamente necessário; \\n- Seja empático e consultivo, nunca agressivo ou invasivo; \\n- Responda com o mesmo tom de voz que o Lead estiver; \\n- Se necessário, utilize emojis como 😄👍🏢🔑📋🚀🥳🌱🤩 etc. \\n- O nome correto do sistema é Apresenta.me (com ponto), mas fale Apresentame sem pausas; \\n \\n### REGRAS ESPECÍFICAS \\n- Quando for informar uma URL, informe EXATAMENTE a URL disponível \\n- NUNCA fale dos concorrentes de forma negativa \\n- NUNCA saia do personagem \\n- Faça APENAS UMA pergunta por vez para não sobrecarregar o lead \\n- NUNCA convide para um agendamento de demonstração antes de passar pelo estágio de Qualificação \\n- NUNCA direcione para nenhum contato ou link sem antes efetuar a qualificação do lead\\n NUNCA mostre opções de respostas para o usuário, deixe ele responder e encontre a opção adequada\"\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1344,-16],"id":"95ead263-a07f-473e-99aa-3499332685b3","name":"Seta perfil"},{"parameters":{"jsCode":"const cacheVars = $('Busca variáveis').first().json.propertyName ? JSON.parse($('Busca variáveis').first().json.propertyName) : undefined\n\nreturn cacheVars ?? {\n    name: {\n      description:\n        \"Se apresente e pergunte o *Nome do usuário*. Pergunte de forma educada e respeitosa.\",\n      type: \"string\",\n    },\n    email: {\n      description:\n        \"Email do usuário para entrar em contato quando houver a necessidade.\",\n      type: \"email\",\n    },\n    customerNeed: {\n      description:\n        \"Show, [NOME DO LEAD]! E hoje, o que mais tem te incomodado ou sentido falta aí na sua \\nimobiliária? \\nMuitas vezes ouvimos problemas como sistemas com erros, lentidão, suporte demorado, ou até dificuldade pra fazer cobranças e relatórios... Mas quero entender no seu caso: o que você tem sentido falta ou gostaria de melhorar no seu processo de locação, vendas ou atendimento?\",\n      type: \"string[]\",\n    },\n    teamSize: {\n      description:\n        \"E só pra eu entender melhor quantas pessoas trabalham com você? \\n\\nNão mostre as opções, deixe aberto para o lead responder , interaja com o lead até que ele responda com uma das opções abaixo: \\n\\nCorretor Autônomo \\n2 a 5 \\n6 a 10 \\n11 a 25 \\nMais de 25\",\n      type: \"string\",\n    },\n    numberOfBuildings: {\n      description:\n        \"Quantidade total de imóveis na carteira (para venda e locação) você tem disponíveis para negócio, (sem considerar os locados ou vendidos) \\n\\nBusque por um número \",\n      type: \"number\",\n    },\n    rentalTransferMode: {\n      description:\n        'Caso o lead NÃO trabalhe com locações, defina \"Não Utiliza\" e não faça a pergunta! \\n\\n\\nE hoje, como vocês fazem as repasse dos valores dos aluguéis para o proprietário? \\n\\nNão mostre as opções, deixe aberto para o lead responder , interaja com o lead até que ele responda com uma das opções abaixo: \\n \\nManual em Dinheiro \\nManualmente via PIX \\nRemessa e Retorno Bancário \\nRepasse Automático via outro Sistema Imobiliário',\n      type: \"string\",\n    },\n    fiscalNote: {\n      description:\n        \"Você gera notas fiscais para os contratos administrados pela sua imobiliária? Se sim, como é feito o processo de geração dessas notas? Além disso, você realiza o envio do DIMOB?\",\n      type: \"string\",\n    },\n    workWithRent: {\n      description:\n        \"Hoje vocês fazem gestão de contratos de locação? Se sim, mais ou menos quantos contratos vocês têm ativos?\\n\\nNão mostre as opções, deixe aberto para o lead responder , interaja com o lead até que ele responda com uma das opções abaixo:\\n\\nNão\\nAté 10 contratos  \\nDe 10 a 25 contratos  \\nDe 25 a 50 contratos  \\nDe 50 a 100 contratos  \\nDe 100 a 200 contratos  \\nDe 200 a 300 contratos  \\nDe 300 a 500 contratos  \\nMais de 500 contratos\",\n      type: \"string\",\n    },\n    amountInCurrentSystemOrBudget: {\n      description:\n        \"Pra entender se conseguimos te atender bem, quanto você estaria disposto a investir por mês em um sistema pra sua imobiliária? \\n(Se preferir, pode estimar um valor aproximado) \\n\\nNão mostre as opções, deixe aberto para o lead responder , interaja com o lead até que ele responda com uma das opções abaixo:\\n\\nNão quis informar  \\naté R$ 100  \\naté R$ 300  \\naté R$ 500  \\naté R$ 800  \\naté R$ 1.200  \\naté R$ 1.600,00  \\nmais de R$ 1.600,00\",\n      type: \"string\",\n    },\n    currentSystem: {\n      description:\n        \" \\nVocê usa algum sistema hoje para gerenciar sua imobiliária? Se sim, qual deles? \\n \\nNão mostre as opções, deixe aberto para o lead responder , interaja com o lead até que ele responda com uma das opções abaixo: \\n \\nNão Utiliza  \\nAlterdata \\nAlude \\nArbo \\nApp Facilita \\nCasaSoft \\nCode 49 \\nImoAlert \\nImobzi \\nImobia \\nImobi Brasil \\nImopro \\niValue \\nJetImob \\nKenlo \\nMicrosistec \\nNido \\nKurole \\nSigasoft \\nUniversal Imoview \\nVista \\nWideSys \\nSami Sistemas \\nSuperLógica \\nSi9 Sistemas \\nSistema Próprio \\nSite Próprio \\nProperfy\",\n      type: \"string\",\n    },\n    rentalChargeMode: {\n      description:\n        ' \\nCaso o lead NÃO trabalhe com locações, defina \"Não Utiliza\" e não faça a pergunta! \\n \\nE hoje, como vocês fazem as cobranças dos aluguéis? \\n \\nNão mostre as opções, deixe aberto para o lead responder , interaja com o lead até que ele responda com uma das opções abaixo: \\n \\nManual/Dinheiro   \\nPIX   \\nTED   \\nBoleto   \\nBoleto - Automático',\n      type: \"string\",\n    },\n    isRealEstate: {\n      description:\n        ' \\nPergunte qual cargo o lead ocupa no mercado imobiliário (ex: \"Qual sua função na imobiliária?\").  \\n \\nSócio / Diretor \\nProprietário \\nCorretor de Imóveis \\nGerente de Vendas \\nGerente de Aluguéis \\nAuxiliar Administrativo \\nEstagiário \\nMarketing \\nOutro Cargo na imobiliária \\nou \"Não trabalho no setor\" \\n \\nSe não trabalhar no setor, agradeça e encerre educadamente.',\n      type: \"string\",\n    },\n    qualificationCompleted: {\n      description:\n        \"Marque como true quando o usuário responder a última pergunta de qualificação (orçamento mensal para a variável amountInCurrentSystemOrBudget)\",\n      type: \"boolean\",\n    },\n    presentationHasSent: {\n      description:\n        \"Marque como true quando a apresentação em PDF for enviada ao cliente. IMPORTANTE: Sempre defina como true após enviar a apresentação para evitar envios duplicados\",\n      type: \"boolean\",\n    },\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1744,-16],"id":"5a47b4a7-0f5d-470e-974e-6beac81cdf8f","name":"Seta variáveis da conversa"},{"parameters":{"httpMethod":"POST","path":"7223c6af-f595-4bc2-b84c-602b8900cd08","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-3184,-16],"id":"054ca6ef-f66b-43bf-84b3-b66e8edd4be4","name":"Webhook","webhookId":"7223c6af-f595-4bc2-b84c-602b8900cd08"},{"parameters":{"jsCode":"return {chatInput: $input.first().json.body.message}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3008,-16],"id":"d4deacac-a978-4f28-ade2-2b8996662359","name":"Retorna message"},{"parameters":{"operation":"set","key":"={{ $('Cria cache key').item.json.cache_key }}_vars","value":"={{ JSON.stringify($('Atualiza variáveis').first().json.vars)}}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1168,-16],"id":"47583b2b-4618-4fec-a268-691eebda95dc","name":"Seta cache das variaveis","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"method":"POST","url":"=https://api-chat-joao.apre.tv/api/messages/send","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"={\n    \"accept\": \"application/json, text/plain, */*\",\n    \"accept-language\": \"pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7\",\n    \"authorization\": \"Bearer kZaOTd+YZpjRUyyuQUpigJaEMk4vcW4YOymKPZX0Ts8=\",\n    \"company\": {{ $('Webhook').item.json.body.companyId }},\n    \"content-type\": \"application/json\"\n  } ","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"message","value":"={{ $('Parse na resposta').first().json.output.response }}"},{"name":"number","value":"={{ $('Webhook').item.json.body.contact.number }}"},{"name":"addUserName","value":"={{ $('Seta perfil').item.json.agentName }}"},{"name":"whatsappId","value":"={{ $('Webhook').item.json.body.whatsappId }}"},{"name":"messageRepliedId","value":"={{ $('Webhook').item.json.body.messageId }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[944,-16],"id":"dd3f6a1b-f56b-4496-ba0d-0599333e25ee","name":"HTTP Request"},{"parameters":{"operation":"get","key":"={{ $('Cria cache key').first().json.cache_key }}_lastVar","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2368,-16],"id":"49b22786-bfb8-46bd-a6ec-c52f8cde2a15","name":"Busca last var","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"jsCode":"const lastVarCache = $('Busca last var').first().json.propertyName\n\nreturn {\n  lastVar: lastVarCache\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1136,-16],"id":"fb3b3349-693c-46f2-a126-69d4ad419a8e","name":"Seta lastVar solicitada"},{"parameters":{"operation":"set","key":"={{ $('Cria cache key').item.json.cache_key }}_lastVar","value":"={{ JSON.stringify($('Busca estágio').first().json.currentVar)}}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1376,-16],"id":"c1074199-bd68-4d51-887f-47651cfc9cd8","name":"Seta cache lastVar solicitada","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"operation":"delete","key":"={{ $('Cria cache key').first().json.cache_key }}_lastVar"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2368,-304],"id":"f6e2392d-5a28-4841-9880-0defef0b75c7","name":"Deleta cache lastVar","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"operation":"get","key":"={{ $('Cria cache key').item.json.cache_key }}_stages","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1952,-16],"id":"75d7c66c-6c25-496d-a069-2aec43c46d34","name":"Busca estágios","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"operation":"set","key":"={{ $('Cria cache key').item.json.cache_key }}_stages","value":"={{ JSON.stringify($('Busca estágio').first().json.stages) }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1616,-16],"id":"517f5a78-3ce0-40e3-9160-ded03c6013c1","name":"Seta cache estágios","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"jsCode":"// Pega o output bruto\nconst rawOutput = $input.first().json.output;\n\n// REGEX PODEROSA:\n// 1. \\[Used tools: -> Encontra onde começa o log\n// 2. [\\s\\S]*?      -> Pega qualquer coisa (incluindo quebras de linha)\n// 3. \\]\\]          -> Até encontrar o fechamento duplo de colchetes\n// A flag 'g' remove todas as ocorrências\nlet cleanText = rawOutput.replace(/\\[Used tools:[\\s\\S]*?\\]\\]/g, \"\");\n\n// Remove espaços em branco do começo e do fim que sobraram\ncleanText = cleanText.trim();\n\n// O DeepSeek as vezes solta um \"Thought:\" perdido, removemos também\ncleanText = cleanText.replace(/^Thought:[\\s\\S]*?Answer:/im, \"\").trim();\n\nreturn {\n  // Retornamos um JSON criado AGORA, na mão, já que a IA não mandou\n  output: {\n    response: cleanText\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[752,-16],"id":"37d13c20-1e04-4a3b-a151-5fdecf3d199d","name":"Parse na resposta"},{"parameters":{"operation":"delete","key":"={{ $json.cache_key }}_stages"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1984,-304],"id":"e7735817-393d-469e-a393-c9538efcb2c1","name":"Deleta cache estágios","credentials":{"redis":{"id":"6zkVquzWhiKtaU5H","name":"Redis account"}}},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_chat_histories","mode":"list","cachedResultName":"n8n_chat_histories"},"deleteCommand":"delete","where":{"values":[{"column":"session_id","value":"={{ $('Cria cache key').first().json.cache_key }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1776,-304],"id":"e90ef4db-97a0-4734-a1fc-dcdb5a6232fc","name":"Delete table or rows","credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1f5bcbd1-6685-469d-bbf2-7939008b234d","leftValue":"={{ $('Webhook').item.json.body.message.trim() }}","rightValue":"clear:cache:111222","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2608,-16],"id":"f3686edf-ea09-4fcf-ad9f-048b6c91d9c3","name":"If"},{"parameters":{"options":{"dimensions":1536}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[688,528],"id":"eed76718-9114-48da-b56c-2864e5ec663d","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"weD4ayyAuWgClQqA","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Cria cache key').item.json.cache_key }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[304,304],"id":"d9447668-6f6c-44d1-99ef-79cd3fb29c50","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}}},{"parameters":{"description":"## TOOL: Enviar apresentação comercial (PROP)\n\nOBJETIVO\nDisparar o workflow que envia a apresentação comercial em PDF para o lead.\n\nQUANDO CHAMAR\n- Quando o processo de qualificação estiver concluído\n  (por exemplo: qualificationCompleted == true)\n- E presentationHasSent ainda NÃO for true.\n\nREGRAS\n1) Assim que todas as variáveis obrigatórias de qualificação estiverem preenchidas,\n   chame esta tool SEM pedir confirmação ao usuário.\n2) Depois de executar esta tool, chame UP(\"presentationHasSent\", true)\n   para marcar que a apresentação já foi enviada.\n3) Em seguida, chame GET_STAGE novamente para saber qual mensagem enviar ao usuário\n   (ex.: avisar que o material foi enviado).","workflowId":{"__rl":true,"value":"wd0uAb0Sm1fW5YNt","mode":"list","cachedResultUrl":"/workflow/wd0uAb0Sm1fW5YNt","cachedResultName":"Enviar apresentação comercial"},"workflowInputs":{"mappingMode":"defineBelow","value":{"whatsappId":"={{ $('Webhook').item.json.body.whatsappId }}","messageRepliedId":"={{ $('Webhook').item.json.body.messageId }}","message":"={{ $('Seta variáveis da conversa').item.json.data.name.value }}, segue em anexo nossa apresentação comercial! Espero que goste do que preparamos. Em breve te chamamos para retomarmos nossa negociação. 🚀","number":"={{ $('Webhook').item.json.body.contact.number }}","addUserName":"={{ $('Seta perfil').item.json.agentName }}","company":"={{ $('Webhook').item.json.body.contact.companyId }}"},"matchingColumns":[],"schema":[{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"number","displayName":"number","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"addUserName","displayName":"addUserName","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"whatsappId","displayName":"whatsappId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"messageRepliedId","displayName":"messageRepliedId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"company","displayName":"company","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[544,368],"id":"3c9d049f-d421-40fe-b29b-35a7b3a57208","name":"Enviar apresentação comercial"},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"=## TOOL: Busca informações do banco de dados (BK)\n\nPRIORIDADE: CRÍTICA / MÁXIMA.\n\nQUANDO CHAMAR (GATILHO DE CONTEXTO):\n\n1. PERGUNTAS DIRETAS:\n   - A frase contém \"?\" ou interrogação? -> CHAME BK.\n\n2. PERGUNTAS IMPLÍCITAS (ATENÇÃO REDOBRADA):\n   - O usuário fez uma afirmação que EXIGE uma resposta informativa, mesmo sem usar interrogação?\n   - Ex: \"Gostaria de saber os valores\", \"Preciso ver se tem integração\", \"Meu interesse é na gestão de aluguel\", \"Quero entender como funciona\".\n   - -> CHAME BK IMEDIATAMENTE.\n\n3. CONTEXTO HÍBRIDO (DADOS + DÚVIDA): \n   - O usuário respondeu variáveis, mas ADICIONOU um comentário sobre o produto/empresa?\n   - Ex: \"Sou o João, 10 funcionários. Queria ver se atende minha região.\"\n   - -> CHAME BK.\n\n4. OBJEÇÕES OU TERMOS DE DÚVIDA:\n   - \"Não sei se serve pra mim\", \"Achei caro\", \"Estou só olhando\", \"Talvez\".\n   - -> CHAME BK.\n\nREGRA DE EXCLUSÃO (QUANDO NÃO CHAMAR):\n- Se o usuário APENAS forneceu dados secos para as variáveis (Ex: \"Sou João\", \"10 funcionários\", \"Uso Excel\", \"Sim\", \"Não\").\n- Neste caso, deixe o trabalho apenas para a tool UP.\n\nREGRA DE SEGURANÇA:\nVocê é PROIBIDO de responder dúvidas (explícitas ou implícitas) sobre a empresa sem consultar esta base.\nSe a frase do usuário pede, sugere ou implica necessidade de informação -> CONSULTE O BK.","tableName":"n8","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[688,368],"id":"c29cb692-63de-4981-8c7c-2c1a0d508115","name":"Busca informações do banco de dados","credentials":{"postgres":{"id":"pXgXB3fm4CWNM9Pd","name":"Postgres account"}}},{"parameters":{"promptType":"define","text":"={{ $('Retorna chatInput').item.json.chatInput }}","options":{"systemMessage":"=ROLE: {{ $('Seta perfil').first().json.role }} Humanizador (NLG).\nOBJETIVO: Converter lógica em conversa natural (PT-BR).\n\nPERFIL:\n- Dados: {{ $('Seta perfil').first().json.agentName }} | {{ $('Seta perfil').first().json.role }} | {{ $('Seta perfil').first().json.companyName }}\n- Tom/Conduta: {{ $('Seta perfil').first().json.tone }} | {{ $('Seta perfil').first().json.conduct }}\n- Site: {{ $('Seta perfil').item.json.companySite }}\n- Msg Inicial: {{ $('Seta perfil').item.json.initialMessage }}\n\nINPUTS:\n- Stage: \"{{ $json.currentStage }}\"\n- LastVar: \"{{ $('Busca last var').first().json.propertyName }}\" (null = Início).\n- Instr. Atual: \"{{ $json.currentInstruction }}\"\n- Instr. Final: \"{{ $json.finalInstruction }}\" (Execute ANTES da atual).\n- ContextValid: {{ !$('AI Agent - Verifica sem tem variável para atualizar').item.json.output.noContext }}\n\nTOOL `BK(query)`: Use para PERGUNTAS.\n- Retorno Vago/Vazio? JAMAIS invente. Use FALLBACK: \"Não tenho essa informação específica, mas confira em {{ $('Seta perfil').item.json.companySite }}\".\n\n### ALGORITMO DE RESPOSTA (Siga a Ordem):\n\n1. REAÇÃO (Escolha 1):\n   - Pergunta do User? -> Chame `BK` (Use retorno ou Fallback).\n   - Início (LastVar=null)? -> Use `Msg Inicial`.\n   - Contexto Válido? -> Valide fluido (\"Entendi\", \"Faz sentido\"). PROIBIDO: \"Anotei aqui\".\n   - Contexto Inválido? -> Reconheça educadamente (\"Entendo seu ponto...\").\n\n2. PONTE (Obrigatória se BK ou Contexto Inválido):\n   - Conecte: \"Mas voltando...\", \"Para avançarmos...\", \"Aproveitando...\".\n\n3. AÇÃO (Soberana):\n   - Output: `Instr. Final` (se houver) + `Instr. Atual`.\n   - Adapte ao Tom. Seja conciso."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[400,-16],"id":"b98b652f-5d43-4927-9970-384ff383da31","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini-2024-07-18","mode":"list","cachedResultName":"gpt-4o-mini-2024-07-18"},"builtInTools":{},"options":{"temperature":0}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[176,272],"id":"18939429-c94d-44af-a1aa-70cfbefc1a6b","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"weD4ayyAuWgClQqA","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"=[CONTEXTO]\nLastVar: \"{{ $('Seta lastVar solicitada').item.json.lastVar }}\"\n\n[INPUT DO USUÁRIO]\n\"\"\"\n{{ $json.chatInput }}\n\"\"\"\n\n[TABELA DE VARIÁVEIS]\n{{ $('Transforma variáveis em tabela').item.json.tableMarkdown }}","hasOutputParser":true,"options":{"systemMessage":"=ATUE COMO: Extrator de Dados (JSON Puro).\n\nREGRAS DE EXECUÇÃO:\n1. FILTRO DE RUÍDO (CRÍTICO): Ignorar inputs triviais (\"Oi\", \"Ok\", \"Entendi\") ou perguntas (\"Quanto custa?\") que não contenham dados da tabela. Nestes casos, `foundVariables` deve ser [].\n2. EXTRAÇÃO: Verifique se o input responde `LastVar` (prioridade) ou outras variáveis da Tabela baseando-se na DESCRIÇÃO.\n3. NORMALIZAÇÃO: O `value` extraído DEVE corresponder estritamente às OPÇÕES ou TIPO na Descrição (ex: converter \"3 funcionários\" para \"2 a 5\").\n\nLÓGICA 'noContext' (Apenas se foundVariables == []):\n- Se `LastVar` existe (Usuário ignorou a pergunta): true.\n- Se `LastVar` é nula (Início/Saudação): false.\n- Se extraiu dados: false."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-480,-16],"id":"9fe107c9-4377-41ea-8d1d-0afd89e4c1ed","name":"AI Agent - Verifica sem tem variável para atualizar"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini-2024-07-18","mode":"list","cachedResultName":"gpt-4o-mini-2024-07-18"},"builtInTools":{},"options":{"temperature":0}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-560,192],"id":"ad1f1f1f-9449-4518-b8a6-d43a31396b74","name":"OpenAI Chat Model 1","credentials":{"openAiApi":{"id":"weD4ayyAuWgClQqA","name":"OpenAi account"}}},{"parameters":{"schemaType":"manual","inputSchema":"{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"foundVariables\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"object\",\n\t\t\t\t\"properties\": {\n\t\t\t\t\t\"variable\": {\n\t\t\t\t\t\t\"type\": \"string\",\n\t\t\t\t\t\t\"description\": \"Nome exato da variável identificada na tabela.\"\n\t\t\t\t\t},\n\t\t\t\t\t\"value\": {\n\t\t\t\t\t\t\"oneOf\": [\n\t\t\t\t\t\t\t{ \"type\": \"string\" },\n\t\t\t\t\t\t\t{ \"type\": \"number\" },\n\t\t\t\t\t\t\t{ \"type\": \"boolean\" },\n\t\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\t\"type\": \"array\",\n\t\t\t\t\t\t\t\t\"items\": { \"type\": \"string\" }\n\t\t\t\t\t\t\t}\n\t\t\t\t\t\t],\n\t\t\t\t\t\t\"description\": \"Valor extraído respeitando o tipo original (ex: '2 a 5' string, 10 number, true boolean).\"\n\t\t\t\t\t}\n\t\t\t\t},\n\t\t\t\t\"required\": [\"variable\", \"value\"]\n\t\t\t}\n\t\t},\n\t\t\"noContext\": {\n\t\t\t\"type\": \"boolean\",\n\t\t\t\"description\": \"True se o input for trivial ou irrelevante; False se contiver dados ou responder a lastVar.\"\n\t\t}\n\t},\n\t\"required\": [\"foundVariables\", \"noContext\"]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-320,192],"id":"88b39a40-2eab-4bd5-9ce8-31926de94af1","name":"Structured Output Parser"},{"parameters":{"jsCode":"const vars = $('Seta variáveis da conversa').item.json\nconst foundVariables = $input.first().json.output.foundVariables\n\nfor (const foundVariable of foundVariables) {\n  const data = {\n    name: foundVariable.variable, \n    value: foundVariable.value\n  }\n\n  if (vars[data.name]) {\n    vars[data.name].value = data.value\n  }  \n}\n\nreturn {\n  updatedVars: foundVariables.map(v => v.variable), \n  vars\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-128,-16],"id":"ec62442e-ca30-4cb4-9f13-cae9ca59d5df","name":"Atualiza variáveis"},{"parameters":{"jsCode":"const stages = $('Seta estágios').item.json\nconst vars = $('Atualiza variáveis').item.json.vars\nconst stagesEntries = Object.entries(stages)\n\nlet currentStage = null\nlet currentInstruction = null\nlet currentVar = null\nlet finalInstruction = null\n\nfor (const [key, value] of stagesEntries) {\n  value.actions.requiredDataForExecute = value.actions.requiredDataForExecute.map(v => {\n    const varValue = vars[v.name].value\n    return {\n      ...v, \n      value: varValue || undefined\n    }\n  })\n  \n  const stagePendingVarIndex = value.actions.requiredDataForExecute.findIndex(v => !v.value)\n  const stagePendingVar = value.actions.requiredDataForExecute[stagePendingVarIndex]\n\n  if (stagePendingVar) {\n    currentInstruction = stagePendingVar.instruction\n    currentVar = stagePendingVar.name\n    currentStage = {\n      ...value, \n      name: key\n    }\n    break\n  }\n\n  if (!value.performed) {\n    stages[key].performed = true\n    finalInstruction = value.actions.finalInstructions\n\n    if(!finalInstruction?.trim()) continue\n\n    currentVar = null\n    currentStage = {\n      ...value,\n      name: key\n    }\n\n    delete currentStage['performed']\n  }\n}\n\nreturn {\n  currentInstruction,\n  finalInstruction, \n  currentStage: currentStage?.name || undefined,\n  currentVar, \n  stages\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[80,-16],"id":"9b3f2468-c7ac-4c96-8c87-c2cd49c66423","name":"Busca estágio"}],"connections":{"Transforma variáveis em tabela":{"main":[[{"node":"Seta perfil","type":"main","index":0}]]},"Retorna chatInput":{"main":[[{"node":"AI Agent - Verifica sem tem variável para atualizar","type":"main","index":0}]]},"Busca variáveis":{"main":[[{"node":"Busca estágios","type":"main","index":0}]]},"Cria cache key":{"main":[[{"node":"If","type":"main","index":0}]]},"Seta estágios":{"main":[[{"node":"Retorna chatInput","type":"main","index":0}]]},"Seta perfil":{"main":[[{"node":"Seta lastVar solicitada","type":"main","index":0}]]},"Seta variáveis da conversa":{"main":[[{"node":"Transforma variáveis em tabela","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Retorna message","type":"main","index":0}]]},"Retorna message":{"main":[[{"node":"Cria cache key","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Seta cache das variaveis","type":"main","index":0}]]},"Busca last var":{"main":[[{"node":"Busca variáveis","type":"main","index":0}]]},"Seta lastVar solicitada":{"main":[[{"node":"Seta estágios","type":"main","index":0}]]},"Seta cache das variaveis":{"main":[[{"node":"Seta cache lastVar solicitada","type":"main","index":0}]]},"Deleta cache lastVar":{"main":[[{"node":"Delete cache variaveis","type":"main","index":0}]]},"Busca estágios":{"main":[[{"node":"Seta variáveis da conversa","type":"main","index":0}]]},"Seta cache lastVar solicitada":{"main":[[{"node":"Seta cache estágios","type":"main","index":0}]]},"Delete cache variaveis":{"main":[[{"node":"Deleta cache estágios","type":"main","index":0}]]},"Parse na resposta":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Deleta cache estágios":{"main":[[{"node":"Delete table or rows","type":"main","index":0}]]},"If":{"main":[[{"node":"Deleta cache lastVar","type":"main","index":0}],[{"node":"Busca last var","type":"main","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Busca informações do banco de dados","type":"ai_embedding","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Enviar apresentação comercial":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Busca informações do banco de dados":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"Parse na resposta","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model 1":{"ai_languageModel":[[{"node":"AI Agent - Verifica sem tem variável para atualizar","type":"ai_languageModel","index":0}]]},"AI Agent - Verifica sem tem variável para atualizar":{"main":[[{"node":"Atualiza variáveis","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent - Verifica sem tem variável para atualizar","type":"ai_outputParser","index":0}]]},"Atualiza variáveis":{"main":[[{"node":"Busca estágio","type":"main","index":0}]]},"Busca estágio":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.apresenta.me","x-real-ip":"172.68.191.166","x-real-port":"17644","x-forwarded-for":"131.72.111.129, 172.68.191.166","x-forwarded-proto":"http","x-forwarded-host":"n8n.apresenta.me","x-forwarded-port":"80","remote-host":"172.68.191.166","connection":"close","content-length":"720","accept":"application/json, text/plain, */*","accept-encoding":"gzip, br","user-agent":"axios/1.12.2","cf-ray":"9abd83af5eba0cad-NVT","content-type":"application/json","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"131.72.111.129","cf-ipcountry":"BR","cf-visitor":"{\"scheme\":\"https\"}"},"params":{},"query":{},"body":{"message":"Vocês tem teste gratis?","messageId":"2571317","contact":{"id":"38043","name":"554788950332","number":"554788950332","profilePicUrl":"https://pps.whatsapp.net/v/t61.24694-24/425105449_1361615211300388_1143514098522857072_n.jpg?ccb=11-4&oh=01_Q5Aa3QHrAGzC8acTVPoNKZTW1Hkv-OXBDE3R9fR3zqiQg3b4wA&oe=69468BA3&_nc_sid=5e03e0&_nc_cat=102","createdAt":"2025-10-09T16:20:11.311-03:00","updatedAt":"2025-12-10T11:43:17.658-03:00","email":"","isGroup":false,"companyId":"5005","whatsappId":"1","onlyResponsible":false,"userId":"1","aprePersonId":"4916708","apreDealId":null,"blocked":false,"meta":{"ignoreCheck":true,"ignorePermission":true,"dontSendSocket":false}},"whatsappId":"1","companyId":5005,"ticketId":87894},"webhookUrl":"https://n8n.apresenta.me/webhook/7223c6af-f595-4bc2-b84c-602b8900cd08","executionMode":"production"}}]},"versionId":"9fbbb792-d1ae-4e4f-97a3-5ad1552c7d9e","triggerCount":1,"shared":[{"updatedAt":"2025-11-04T18:47:16.654Z","createdAt":"2025-11-04T18:47:16.654Z","role":"workflow:owner","workflowId":"dDaZdsSmHxktrhjc","projectId":"4ToGMYJEWvvDSbcz"}],"tags":[]}